[2019-06-18 06:44] liuzx32 commented on #9022
Refer: https://github.com/Alluxio/alluxio/pull/9308

[2019-06-18 20:46] tieujason330 opened #9324 "2.0 cn os documentation broken links"
The 2.0 chinese docs have numerous broken relativize_url links. Discussed with Bin and it is not a priority at the moment. Opening up an issue so we can keep track of it.

Attached a .txt showing the errors
[2.0_cn_os_docs_errors.txt](https://github.com/Alluxio/alluxio/files/3303354/2.0_cn_os_docs_errors.txt)

[2019-06-19 01:08] cheyang opened #9331 "Failed to deploy alluxio 2.0 snapshot in kubernetes"
**Alluxio Version:**
docker image: 2.0.0-SNAPSHOT/52655300b53a

**Describe the bug**
A clear and concise description of what the bug is.

I'm trying to deploy latest alluxio version in kubernetes. But it's failed, and master reported
[code]

I suspect somewhere should configure to address 0.0.0.0.

**To Reproduce**
I will attach the yaml to upload.

**Expected behavior**
A clear and concise descri

[2019-06-19 01:10] cheyang commented on #9331
The yaml I'm using to deploy here:
[master-format.txt](https://github.com/Alluxio/alluxio/files/3303989/master-format.txt)
[worker-format.txt](https://github.com/Alluxio/alluxio/files/3303992/worker-format.txt)
[alluxio.txt](https://github.com/Alluxio/alluxio/files/3303993/alluxio.txt)

[2019-06-19 01:11] cheyang commented on #9331
/assign @madanadit

[2019-06-19 02:58] cheyang commented on #9331
The interesting thing is that I'm able to set environment variables successfully, but looks like it's not consumed by alluxio master.

[code]

[2019-06-19 12:09] cheyang commented on #9331
The master can start successfully. but the workers are still not able to start. I can see the environment variables `ALLUXIO_JAVA_OPT` are set successfully, but the alluxio worker seems not able to load it.

[code]

[2019-06-19 13:08] #9331 closed

[2019-06-19 13:09] cheyang commented on #9331
Thanks @mingfang,  I'm able to get it work now.

[2019-06-19 17:50] rastogiasr commented on #9273
@ZacBlanco  - I think this has been resolved.

[2019-06-19 17:55] yuzhu commented on #9279
This issue is fixed in PR #9311 .

[2019-06-19 18:06] ns1123 commented on #9236
This is resolved by #9247

[2019-06-19 18:09] #9236 closed

[2019-06-19 20:37] MATRIX4284 commented on #9018
Spark Workers are getting lost while trying query alluxio deployed in Kubernetes.
I tested the same spark pods with HDFS all ok,CRAIL in Kubernetes that too fine but whenever it is querying using alluxio url  the executors ae getting lost.The master url can be accessed though

[2019-06-19 20:44] madanadit commented on #9018
@MATRIX4284 do you have anything from the executor logs to share? it is recommended to run Alluxio workers with host networking so that the alluxio client part of the spark executor is able to resolve the worker hostname. are you running with host or pod networking?

[2019-06-19 20:49] MATRIX4284 commented on #9018
@madanadit it is being run with pod networking ..the master node ip resolution is working fine.i can see the Alluxio Bootstrap client is getting connected to the alluxio master then master places some bytes in spark worker memory.After that the executors getting lost.But the same Alluxio K8 deployment if I connect to Alluxio master using kubectl exec -it i can both read and write files which is al

[2019-06-19 20:53] madanadit commented on #9018
@MATRIX4284 remote access from spark executors to an alluxio worker needs host networking for the alluxio worker.

master does not need host networking as the hostname is resolved by service dns.

[2019-06-19 20:55] MATRIX4284 commented on #9018
you mean spark can bypass the master and directly connect to worker
My code url is
alluxio://alluxio-master:19998/2008.csv [alluxio-master is the service of the master]
can i replace it by worker node ip if i use alluxio host networking

[2019-06-19 20:58] madanadit commented on #9018
no. after the client connects to the alluxio master (for metadata) it also connects to the alluxio worker (for data). so the client needs to resolve both the master and worker. also, the spark driver knows how to schedule for locality only if the alluxio worker hostname maps to physical host ip.

[2019-06-19 21:02] MATRIX4284 commented on #9018
Thanks a ton for your help ..I will set my master to use pod networking and workers to use host net ..
and spark will point to master

[2019-06-19 21:02] MATRIX4284 commented on #9018
I will test and let you know the result soon

[2019-06-19 21:05] madanadit commented on #9018
@MATRIX4284 thanks for testing

[2019-06-19 21:06] MATRIX4284 commented on #9018
i have one basic query here if the workers use host net they will be on my host lan 192.168.X.X  whereas spark will fire up the executors on flannel that is 10.244.X.X  then how will the spark executors find the service

[2019-06-19 22:12] cheyang opened #9337 "Failed to copy files through fuse client, alluxio worker in the same node crashed"
**Alluxio Version:**

2.0.0-snapshot

**Describe the bug**
Deploy master, workers and fuse in Kubernetes.

[k8s.zip](https://github.com/Alluxio/alluxio/files/3308053/k8s.zip)

And go to the machine A(192.168.0.109), copy whole the directory from alluxio to local directory

[code]

And I notice the alluxio worker in the same node restarted twice:

[code]

check the logs of the worker `alluxio-worke

[2019-06-19 22:18] MATRIX4284 commented on #9018
I tested with Alluxio running in host network , when a spark kubernetes submit tries to access to access Alluxio the executors are getting lost still

[2019-06-19 22:19] MATRIX4284 commented on #9018
The spark master can connect to alluxio master but after that the executor are getting lost the same phenomenon when using pod network.

[2019-06-19 22:26] madanadit commented on #9018
@MATRIX4284 can you tail your executor pods to collect the logs before it is lost?

[2019-06-19 23:00] cheyang commented on #9337
/assign @apc999

[2019-06-19 23:35] apc999 commented on #9337
@ggezer @bf8086 do you have any insights into the error?

[2019-06-20 05:25] FrankYu commented on #9279
Hi Nakkul,

 my config is as below now, the worker still can't be started
`
alluxio.worker.tieredstore.levels=2
alluxio.worker.tieredstore.level0.alias=MEM
alluxio.worker.tieredstore.level0.dirs.path=/mnt/ramdisk
alluxio.worker.tieredstore.level0.dirs.quota=20GB
alluxio.worker.tieredstore.level0.watermark.high.ratio=0.95
alluxio.worker.tieredstore.level0.watermark.low.ratio=0.5
alluxio.worker.tier

[2019-06-20 08:28] rblaine95 opened #9344 "k8s short circuit in /tmp permission issues"
**Alluxio Version:**
[`2.0.0-SNAPSHOT`](https://hub.docker.com/r/alluxio/alluxio)
[code]

**Describe the bug**
When using a `hostPath` volume from `/tmp/domain` to `/opt/domain` on Alluxio Workers and Alluxio Clients (Spark and Zeppelin, for example), the clients cannot access anything in the mount.

[code]

**To Reproduce**
* Deploy Alluxio on a K8s/OKD with SELinux and short-circuit enabled - do

[2019-06-20 10:07] FrankYu opened #9345 "Input/output error when read file through alluxio-fuse"
**Alluxio Version:**
2.0-rc3

**Describe the bug**

read file through mount point with alluxio-fuse, met 'Input/output error', while alluxio cmd work well

**To Reproduce**
mount alluxio-fuse to client(also run alluxio worker, 20G MEM as tieredstore level0 and 2000GB SSD as tieredstore level1）then try to read file(100GB) through the mount point with cmd "cat /path/to/file", met below error:
`Cause

[2019-06-20 10:18] rblaine95 commented on #9344
Found another possible solution:
* Create the hostPath in a different directory
  * `hostPath.path="/opt/domain"`
  * `hostPath.type="DirectoryOrCreate"`
* Add a pod `preStop` lifecycle hook to the worker container
[code]

Alternatively, instead of a pod lifecycle hook, use an init container that deletes the directory contents on startup.

Is there any specific reason why the `hostPath` is `/tmp/d

[2019-06-20 14:20] rblaine95 commented on #9344
After plenty of debugging with the SELinux problems (because moving the `hostPath` from `/tmp/domain` to `/opt/domain` only resulted in a slightly different SELinux problem) I finally found the **manual** solution to fixing this:
[code]
Setting this flag on all nodes that have an alluxio worker running will allow non-privileged containers to read the host path and use it.
Using the lifecycle hook

[2019-06-20 18:14] bf8086 commented on #9337
@cheyang It is possible that worker crashed due to out of memory. Can you increase the memory for the worker container and try again?

[2019-06-20 22:54] ggezer commented on #9337
`io.netty.handler.codec.http2.Http2Exception$StreamException: Received DATA frame for an unknown stream` error happens when a data stream is not terminated properly. It's usually benign and caused by underlying stream handling by gRPC.

Relevant trace to your problem is most possibly:
`2019-06-19 22:03:20,743 WARN  UnderFileSystemBlockReader - Failed to cache data read from UFS (on transferTo()):

[2019-06-21 00:28] cheyang commented on #9337
@ggezer , thank you for spotting this.
I'm curious that I've already configured

[code]

And here is the command line of the master. I noticed it has the two same key `alluxio.worker.tieredstore.level0.alias`.

[code]
And I checked the getConf:

[code]

Looks like it's configured MEM in the end. I'd like to change SSD as the level0 tieredstore. Any suggestions on it? Thanks.

[2019-06-21 15:52] yuzhu commented on #9279
@FrankYu Thanks for trying out our RC release.

The current log masks the root cause exception unfortunately. Have you built Alluxio from the source?  There are some instructions [here](https://docs.alluxio.io/os/user/stable/en/contributor/Building-Alluxio-From-Source.html)
What you can do is check out either the latest master and try it.  or checkout one of the Rc releases and apply the change in

[2019-06-22 22:10] #9309 closed

[2019-06-23 06:12] apc999 opened #9352 "Consolidate tieredstore alias with mediatype"
**Summary**
We have both `alluxio.worker.tieredstore.level{x}.alias` and
`alluxio.worker.tieredstore.level{x}.mediatype`, where the latter can be viewed as the extended version of `alluxio.worker.tieredstore.level{x}.alias`. This is a valid setting:

[code]
which can be very confusing to users.

I am proposing to

- first make `alias` and `mediatype` the same property, which requires to fix the ca

[2019-06-24 12:41] anuragrawat28 commented on #8746
This doesn't work as Fuse is launching a java process to mount alluxio locally. Its not using NFS protocol to mount. Plus using fuse also degrades the performance of Alluxio, than what's the point of using it.

[2019-06-24 18:31] yuzhu commented on #9231
@liuzx32 I think the intention of this issue is to change the logic in Alluxio's File System so that we can use URI schemes such as s3 and hdfs directly. Currently they won't work, because Alluxio File System expect alluxio scheme.

[2019-06-24 19:29] madanadit opened #9354 "Ufs read metrics are not updated in k8s"
**Alluxio Version:**
2.0.0-RC4

**Describe the bug**
$ alluxio fsadmin report metrics
Total IO:
      Under Filesystem Read <- this is always zero

**To Reproduce**
- deploy alluxio on k8s
- exec into master pod
- cat a persisted file with 0% in alluxio storage

ufs read metrics are not updated

**Expected behavior**
ufs read io should match the file size

**Urgency**
not urgent

**Additional cont

[2019-06-24 23:21] ggezer opened #9355 "Concurrent monitoring of Alluxio processes during startup"
**Is your feature request related to a problem? Please describe.**
For a big cluster, it takes quite a lot of time for alluxio-start.sh to be done with monitoring worker processes.

**Describe the solution you'd like**
For the same process types, monitors could be spawned concurrently

[2019-06-25 19:54] ZacBlanco commented on #8574
@apc999 close this issue?

[2019-06-25 19:56] ZacBlanco commented on #8404
@calvinjia can you close this?

[2019-06-26 18:13] #8404 closed

[2019-06-27 08:03] rblaine95 commented on #9344
Using a privileged CentOS `initContainer` to re-label the domain directory solves this problem.
[code]

[2019-06-27 08:29] liuhongtong opened #9367 "Support specifying mode when create new file by Alluxio FUSE"
**Alluxio Version:**
Alluxio 1.8 or 2.0

**Describe the bug**
If create a new file with mode 0740, then get mode 0644.

**To Reproduce**
test program(C):
[code]
gcc creat.c -o /tmp/creat
cd /your/alluxio/fuse/directory
\# execute test program
/tmp/creat
ls -l mode_0740
-rw-r--r-- 1 root root 0 Jun 27 16:20 mode_0740
\# this mode_0740 file's mode is 0644

[2019-06-27 11:25] #9344 closed

[2019-06-27 17:19] bf8086 commented on #9367
@LuQQiu Can you take a look? Seems to me it was not implemented in the fuse client.

[2019-06-27 23:37] ggezer commented on #9337
Hi @cheyang, were you able to make progress on this issue?

[2019-06-28 09:08] myg821561935 opened #9385 "will alluxio alluxio implement the tensorflow filesystem"
We want to use alluxio as the unified storage middle layer. It would be very helpful if tensorflow had direct access to alluxio.

[2019-06-28 10:11] liuzx32 commented on #9231
@yuzhu Yes, we have the same mind.

[2019-06-28 23:06] cheyang commented on #9337
Yeah, I'm able to make it work now. Thanks.

[2019-06-28 23:06] #9337 closed

[2019-06-28 23:40] ZacBlanco commented on #9385
Hi @myg821561935 I believe using alluxio-fuse you can have tensor access data through Alluxio. Have you read through our documentation?

https://docs.alluxio.io/os/user/stable/en/compute/Tensorflow.html?q=tensorflow

Is there something in this guide that isn't compatible with your tensorflow setup?

[2019-06-30 05:45] ZacBlanco opened #9389 "Provide a way to start Alluxio processes in foreground for process supervisors"
**Is your feature request related to a problem? Please describe.**

In many Linux-based distributions such as Debian, Ubuntu, CentOS, RHEL, etc.. process supervisors like `systemd` are utilized to launch processes and track the life of a process, and automatically restart the process if it fails.

To function properly these process supervisors expect a program which runs in the foreground when lau

[2019-06-30 05:48] ZacBlanco commented on #9389
@apc999 what do you think?

[2019-06-30 14:41] myg821561935 commented on #9385
Thank you very much for your reply, the fuse function is very useful for the tensorflow stand-alone mode. However, if I run a distributed version of tensorflow, do I need to mount the file on each node? Is this too much trouble?

[2019-06-30 22:03] cheyang commented on #9046
Thank you!

[2019-06-30 22:03] #9046 closed

[2019-06-30 22:06] cheyang commented on #9089
Thanks, it's fixed alluxio 2.0.

[2019-06-30 22:06] #9089 closed

[2019-06-30 22:43] cheyang opened #9390 "The Cache Hit Rate is 0 but all the data is loaded into alluxio"
**Alluxio Version:**
2.0.0

**Describe the bug**
The data is already persistent in alluxio, but it's still downloaded from the oss endpoint.

1. Deploy master, workers and fuse in kubernetes

[k8s.zip](https://github.com/Alluxio/alluxio/files/3343410/k8s.zip)

2. And go to the node(iZhp3bku0ru8vuxq08lorwZ),  copy whole the directory from alluxio fuse to local directory

[code]

3. After that, chec

[2019-06-30 22:59] cheyang commented on #9390
/assign @apc999 , thanks for taking a look at this.

[2019-07-01 02:40] cheyang opened #9391 "What's the solution of HA alluxio cluster in Kubernetes?"
**Alluxio Version:**
2.0.0
**Describe the bug**
What's the solution of HA alluxio cluster in Kubernetes?

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
Add any other context about the prob

[2019-07-01 09:43] liuhongtong opened #9392 "Alluxio FUSE support statfs"
**Is your feature request related to a problem? Please describe.**
When Alluxio fuse mounted on a directory, I can't see the mount point with df command.
Specially, I wonder information of the file system,like size, used, available, etc.

Alluxio FUSE should support statfs.

[2019-07-01 17:43] apc999 commented on #8758
Fixed by https://github.com/Alluxio/alluxio/pull/8955

[2019-07-01 17:43] #8758 closed

[2019-07-01 18:22] apc999 opened #9393 "Investigate if passing property values to docker is fully supported"
**Is your feature request related to a problem? Please describe.**

Currently, to pass customized properties to a docker container through environment variable `ALLUXIO_JAVA_OPTS`, space is used as the separator across different property keys. This prevents us using property keys with values having space inside.

e.g.,:
[code]
**Describe the solution you'd like**
Not clear now

**Describe alternat

[2019-07-01 18:38] apc999 opened #9394 "Reduce default block size"
**Is your feature request related to a problem? Please describe.**
If the block size is too large, the caching granularity is too large.
Given in 2.0, we have already scaled up the metadata service capacity on master,
it is time to reduce the block size.

**Describe the solution you'd like**
Reduce `alluxio.user.block.size.bytes.default` to 64 MB or 128 MB by default

**Describe alternatives you'v

[2019-07-01 19:01] apc999 opened #9396 "Make PropertyKey type-safe"
**Summary**
Introduce type-safe `PropertyKey`s, so getters like `Configuration.getMs` can only accept properties meant to be a time duration; passing other properties as the argument will raise runtime compilation error, like `conf.getMs(PropertyKey.MASTER_RPC_PORT)`

Benefits include:
- Compile time type check to ensure property keys are used correctly: `conf.getMs(PropertyKey.MASTER_RPC_PORT)` w

[2019-07-01 20:15] ZacBlanco commented on #9385
No problem!

And yes, in this case, in order to run distributed tensorflow with Alluxio, you'll need to make the same Alluxio-fuse mount across your entire system.

Doing so allows Alluxio to provide locality and caching benefits to each node in your tensorflow cluster. Using a mount on a single machine won't be able to provide the same performance benefits.

It should not be too difficult to do t

[2019-07-01 23:07] apc999 opened #9398 "Kerberos authentication at HdfsUnderFileSystem constructor"
**Alluxio Version:**
2.0.0

**Describe the bug**
Originally reported here:
https://groups.google.com/forum/#!topic/alluxio-users/TcInse1vblc

**To Reproduce**

**Expected behavior**

**Urgency**
High

**Additional context**

[2019-07-01 23:30] cheyang opened #9399 "Add noEvictor class to one layer of tieredstore"
**Is your feature request related to a problem? Please describe.**
In Deep learning scenario, we are using `MEM` layer to speed up training speed. But the eviction action in `MEM` layer produces additional overhead.

**Describe the solution you'd like**
Can we add `noEvictor` to `alluxio.worker.evictor.class`, and make it for MEM layer? it just doesn't add more data to `MEM` layer. And the deep le

[2019-07-02 01:07] rastogiasr commented on #9391
Please ask the question in mailing list or slack and this is not a bug or feature request.

[2019-07-02 01:07] #9391 closed

[2019-07-02 01:14] #9385 closed

[2019-07-02 01:27] rastogiasr commented on #9279
Closing this issue, reopen if still an issue.

[2019-07-02 01:27] #9279 closed

[2019-07-02 01:35] rastogiasr commented on #9214
@gengxin - please verify if your issue is resolved, if not reopen the issue.

[2019-07-02 01:35] #9214 closed

[2019-07-02 01:39] rastogiasr commented on #9210
Closing the issue - @calvinjia please open another issue to provide job service metrics.

[2019-07-02 01:39] #9210 closed

[2019-07-02 01:40] calvinjia opened #9400 "Track job service metrics"
**Is your feature request related to a problem? Please describe.**
When the job service does work, metrics such as I/O amount are not tracked.

**Describe the solution you'd like**
Work done by the job service is displayed along with the Alluxio cluster metrics.

[2019-07-02 01:41] rastogiasr commented on #9191
@Oscilloputer0627 - please reopen if the issue is still there.

[2019-07-02 01:41] #9191 closed

[2019-07-02 01:44] rastogiasr commented on #9151
@witgo  - closing the issue, please reopen if you have a way to reproduce it.

[2019-07-02 01:44] #9151 closed

[2019-07-02 02:35] Oscilloputer0627 opened #9401 "Hey"
**Summary**
Describe the tech debt

**Urgency**
Explain why it is important to address the tech debt

[2019-07-02 02:35] #9401 closed

[2019-07-02 06:24] Chopinxb commented on #8240
Super cool！thanks~

[2019-07-02 06:24] #8240 closed

[2019-07-02 07:08] apc999 commented on #9345
@FrankYu  do you still see this issue with Alluxio 2.0.0 release?

[2019-07-02 12:32] Chopinxb opened #9403 "NoSuchMethodError when use filesystem api"
**Alluxio Version:**
Alluxio-2.0

**Describe the bug**

when we use this filesytem api to access alluxio cluster
[code]
we will meet exception below:
[code]
this is because in maven repo dependencies:

alluxio-core-client-fs:2.0.0 -->  alluxio-core-common:2.0.0 --> commons.httpclient:3.1 -->
commons-codec:1.2

while in commons-codec:1.2,  Hex do not have  encodeHexString function.
in alluxio sourc

[2019-07-02 15:11] #9367 closed

[2019-07-02 17:51] apc999 commented on #9393
I realized that passing values with space is supported here by single quote: https://docs.alluxio.io/os/user/2.0/en/deploy/Running-Alluxio-On-Docker.html#set-server-configuration

I updated this task to investigate if the current way to pass properties is sufficient to cover all cases. @rastogiasr

[2019-07-03 00:55] ns1123 commented on #9390
Hi @cheyang can I confirm if you are using 2.0.0 or 2.0.0-preview? I just tested a setup and wasn't able to reproduce the issue. I know there have been some metrics fixes in the latest release as well.

[2019-07-03 00:55] apc999 commented on #9399
@cheyang  thanks for proposing the idea. Wondering if command `pin`([doc](https://docs.alluxio.io/os/user/2.0/en/basic/Command-Line-Interface.html#pin)) work for you for this particular purpose? Basically, "pinned" data in Alluxio space will not be evicted out.

[2019-07-03 02:51] cheyang opened #9409 "Load data failed due to java.net.UnknownHostException"
**Alluxio Version:**
2.0.0

**Describe the bug**

Using `/opt/alluxio/bin/alluxio fs -Dalluxio.user.ufs.block.read.location.policy=alluxio.client.block.policy.DeterministicHashPolicy  load /training-data/images/` to load data from the under storage system to alluxio system, it's failed and report

[code]

**To Reproduce**
1. Deploy the alluxio cluster successfully, and check the status. It looks g

[2019-07-03 07:29] cheyang commented on #9390
I'm using the docker image: alluxio/alluxio:2.0.0.

[2019-07-03 07:30] FrankYu opened #9410 "[alluxio-2.0.0] worker failed to start when configure dirs.path with multi value"
**Alluxio Version:**
2.0.0

**Describe the bug**
worker failed to start when config dirs.path with multi value

**To Reproduce**
config alluxio-site.properties with content as 'Additional context', then try to run alluxio-start.sh worker on worker nodes

**Expected behavior**
worker should started successfully

**Urgency**
high

**Additional context**

alluxio-site.properties of worker as below:

[2019-07-03 08:22] FrankYu commented on #9410
few log found in worker.log

2019-07-03 16:14:02,403 ERROR ProcessUtils - Uncaught exception while running Alluxio worker, stopping it and exiting. Exception alluxio.exception.status.UnknownException, Root Cause io.grpc.StatusRuntimeException: UNKNOWN
2019-07-03 16:14:11,453 ERROR ProcessUtils - Uncaught exception while stopping Alluxio worker, simply exiting. Exception java.lang.NullPointerExcept

[2019-07-03 17:12] apc999 opened #9411 "NPE on shutdown worker too early"
**Alluxio Version:**
2.0.0

**Describe the bug**
This is a bug log from https://github.com/Alluxio/alluxio/issues/9279 in 2.0.0-RC2 but the same NPE can still be thrown in 2.0.0 as reported in https://github.com/Alluxio/alluxio/issues/9410

Root cause is invocation an uninitialized [`mSessionCleaner.stop()`](https://github.com/Alluxio/alluxio/blob/branch-2.0/core/server/worker/src/main/java/alluxi

[2019-07-03 17:18] apc999 commented on #9410
I think this issue is related to https://github.com/Alluxio/alluxio/issues/9279

[2019-07-04 02:05] FrankYu commented on #9345
yes, I still can see this error with alluxio 2.0.0 release. I'll post more info after I got how to reproduce it

[2019-07-04 06:14] liuhongtong opened #9415 "Support limit of name length by Alluxio FUSE"
**Alluxio Version:**
2.0

Generally, Linux limits the length of file and directory within 255 characters.
But Alluxio fuse doesn't limit the length of file or directory name.
Copying file or directory from Alluxio fuse to other File System may fail, because of file name is too long.
Otherwise, POSIX-compliant File System test tool (like fstest) will check the length of file and directory within 25

[2019-07-04 06:39] phenixmzy opened #9416 "generate-tarballs build failure"
**Alluxio Version:**
v2.0.0

**Describe the bug**
used mvn install -P<HADOOP_PROFILE> -Dhadoop.version=<HADOOP_VERSION> -DskipTests
can be compile success.
i want to package tar and running
**_./dev/scripts/generate-tarballs release -ufs-modules=ufs-hadoop-2.7 -debug=true_**
and
**_./dev/scripts/generate-tarballs single -ufs-modules=ufs-hadoop-2.7 -debug=true_**
and
**./dev/scripts/generate-tarbal

[2019-07-04 13:03] rblaine95 opened #9417 "Unable to rename X to Y source does not exist"
**Alluxio Version:**
`2.0.0`

**Describe the bug**
When writing data to Alluxio via Spark, sometimes Alluxio will begin persisting the data to the UFS (in this case, Ceph Object Store) and will encounter the following error:
[code]
Which will then effectively lock up Alluxio until it eventually times out
[code]

**To Reproduce**
Deploy Alluxio with the following config set ([docs](https://docs.all

[2019-07-05 05:36] apc999 commented on #9416
thanks for reporting this issue @phenixmzy . do you run the `generate-tarball` command on a clean checkout of the src repo, or have you modified any thing related to Hadoop version in the src repo?

[2019-07-05 06:06] phenixmzy commented on #9416
i am not modified any thing related to Hadoop version in the src repo.

i just was run several cmd：
- git clone https://github.com/Alluxio/alluxio.git
- git tag
- git checkout v2.0.0
- mvn install -Phadoop-2 -Dhadoop.version=2.7.3 -DskipTests

when i can't find the about alluxio-2.0.0.tar.gz ，run：
- mvn clean package -Phadoop-2 -Dhadoop.version=2.7.3 -DskipTests

still can't find the about alluxio

[2019-07-05 08:21] rblaine95 commented on #9417
Increasing the `alluxio.user.file.persistence.initial.wait.time` value to a value greater than it takes to write data with to Alluxio fixes the problem.
So it appears like Alluxio starts the persist jobs too quickly and then runs into a consistency problem (tries to persist data that no longer exists)

[2019-07-05 10:11] rblaine95 commented on #9417
This might be a Ceph S3 problem or even a network problem.

[code]

I'm running Ceph with the Rook operator in an OKD cluster.

[2019-07-05 17:13] haoyuan opened #9420 "Typo in Documentation"
**Alluxio Version:**
ACE 2.0.0

**Describe the bug**
A typo in documentation

**To Reproduce**
https://docs.alluxio.io/os/user/stable/en/advanced/Alluxio-Storage-Management.html?q=setrepliation
https://docs.alluxio.io/ee/user/stable/en/advanced/Alluxio-Storage-Management.html?q=setrepliation

**Expected behavior**
setRepliation=> setReplication

**Urgency**
Not urgent.

**Additional context**
Than

[2019-07-05 23:18] madanadit opened #9421 "Construct UnderFileSystemConfiguration fromMountInfo"
**Summary**
To prevent bugs like https://github.com/Alluxio/alluxio/pull/9413, create a constructor fromMountInfo for UnderFileSystemConfiguration

**Urgency**
Not urgent

[2019-07-06 13:24] apc999 commented on #9416
Neither `mvn install -Phadoop-2 -Dhadoop.version=2.7.3 -DskipTests`
nor `mvn clean package -Phadoop-2 -Dhadoop.version=2.7.3 -DskipTests` is supposed to create `alluxio-2.0.0.tar.gz`. They are command to build local repo by maven.

`./dev/scripts/generate-tarballs` is supposed to achieve this goal. Were you able to find any file in your local repo like `${HOME}/.m2/repository/org/alluxio/alluxio-s

[2019-07-07 11:10] cheyang commented on #9399
Yes, I think this one should be good for my scenario. I will try it later.

[2019-07-08 03:03] phenixmzy commented on #9416
@apc999

when compile compled use
mvn install -Phadoop-2 -Dhadoop.version=2.7.3 -DskipTests
or
mvn clean package -Phadoop-2 -Dhadoop.version=2.7.3 -DskipTests

really cant't find any alluxio-*.tar.gz file in source code directories

**Last compiled log**:
INFO] Reactor Summary:
[INFO]
[INFO] Alluxio Parent 2.0.0 ............................... SUCCESS [ 19.437 s]
[INFO] Alluxio Core 2.0.0 ........

[2019-07-08 04:03] phenixmzy opened #9425 "data balance"
**Is your feature request related to a problem? Please describe.**
i am add several  worker node in cluster, the data won't balance to new worker node.
so,
1  Is it necessary add a balance tools to balance data between worker nodes；
2  balance between store level.the balance strategy priority of consume top store level (eg: in HDD block may be move to new node memory until ratio)
or just between s

[2019-07-08 06:52] apc999 commented on #9416
I could repro this issue on a clean checkout on an EC2 machine with Linux AMI
Here is what is off: when compiling `alluxio-shaded-hadoop` by running `mvn -T 2C -am clean install -DskipTests -Dfindbugs.skip -Dmaven.javadoc.skip -Dcheckstyle.skip -Pmesos -Dhadoop.version=2.7.3 -Phadoop-2 -Pyarn -Pufs-hadoop-2 -Dufs.hadoop.version=2.7.3 -pl shaded/hadoop`, the version is correctly set at my local Mac

[2019-07-08 06:54] apc999 commented on #9416
@rastogiasr @calvinjia , this issue may potentially block publishing future Alluxio maven artifact. Change to `priority-high` and we should aim to address it before 2.0.1

[2019-07-08 13:09] asin929 commented on #9416
这个是的alluxio-shaded module的pom文件版本写死导致。
[code]
to
[code]

[2019-07-08 17:43] apc999 commented on #9416
@asin929  where do you find this hard-coded version string?
it is actually not found in https://github.com/Alluxio/alluxio/blob/master/shaded/hadoop/pom.xml or in the branch-2.0

[2019-07-08 18:45] calvinjia commented on #9416
@apc999 I think this was a bug caused by the maven release plugin. It identified the version string as a module to release and updated it to a hardcoded value. In the future we should exclude this module from being updated.

[2019-07-08 20:40] #9355 closed

[2019-07-08 20:52] ZacBlanco commented on #9425
Hi @phenixmzy!

To answer your questions:

1) You should not need another tool to balance data across other nodes unless the amount of control desired is more than what Alluxio location policies provide. See below for a bit more on read location policies.

2) I do not believe we currently have any balancing strategies between tiers across nodes. However, we do provide the option to move data betwe

[2019-07-09 04:12] apc999 opened #9432 "Skip module alluxio-shaded-hadoop during release"
**Alluxio Version:**
v2.0.0

**Describe the bug**
module alluxio-shaded-hadoop should not be published to maven repo. During `mvn release` process, this module should be skipped, so the version of this module (`${ufs.hadoop.version}`) will not be hard-coded and bumped, preventing the bug like https://github.com/Alluxio/alluxio/issues/9416

**To Reproduce**

**Expected behavior**

**Urgency**
High

[2019-07-09 04:13] apc999 commented on #9416
PR #9428 is the quick solution for this issue. Created another issue https://github.com/Alluxio/alluxio/issues/9432 as the clean solution for this bug. Close this PR now.

[2019-07-09 04:13] #9416 closed

[2019-07-09 04:16] #9420 closed

[2019-07-09 05:25] madanadit commented on #9390
What is the root ufs address? Seems like the storage is local to the workers if I read it correctly. Instead it should be shared across all workers and master

[2019-07-09 06:06] cheyang commented on #9390
Here is the root mount ufs address. But I think if the data is already in alluxio, it should be read from `Alluxio Remote `.

[code]

[2019-07-09 09:11] rblaine95 commented on #9417
Do you guys have any tips on figuring out how to debug this?
I've enabled debug logging on Alluxio and I'm trailing master and ceph rgw logs to see if there's something hinting at a problem.

When Alluxio encounters this problem, Spark can't access any data in Alluxio until it times out.

RGW Logs:
[code]
Alluxio Logs:
[code]

[2019-07-09 18:14] CraigChaffee opened #9435 "EMR Bootstrap script Errors in 2.0.0"
**Alluxio Version:**
2.0.0

**Describe the bug**
The bootstrap script doesn't work on the latest EMR.
1. integration/emr/alluxio-emr.sh:14 should be
`if [ -z "$MASTER" ]`
2. After fixing the above there's still a permission error in task.log for the formatWorker step. "Permission denied (publickey)."
3. The comments in the file refer to a preview version that is 404.

**To Reproduce**
Deploy the l

[2019-07-09 18:26] madanadit commented on #9389
+1

[2019-07-09 18:40] madanadit commented on #9390
you're right, the root mount shouldn't matter as you're accessing the nested mount point all along

[2019-07-09 18:41] madanadit commented on #9390
if you read from the same worker node (using posix api) does it read from ufs or alluxio worker storage?

[2019-07-09 18:45] ZacBlanco commented on #9435
Hi Craig, thanks for reporting this! @ns1123 can you take a look when you have the time.

[2019-07-10 03:22] cheyang commented on #9390
I think it reads from alluxio worker storage.

1. Check from the master node
[code]

2. The time of copying data(144GB) is about 15 mins

[code]

[2019-07-10 03:56] cheyang opened #9441 "It's about double time cost using fuse comparing copying from disk"
**Alluxio Version:**
2.0.0

**Describe the bug**

The time of copying data in fuse(cached) is about 15 minutes, but copying data directly from disk is 7 minutes. It's about double cost comparing copying from disk. Any way to optimize?

The data is already cached in the alluxio worker in the same node,  and copy the

1. Deploy master, workers and fuse in kubernetes

[k8s.zip](https://github.com/All

[2019-07-10 05:54] #9415 closed

[2019-07-10 06:54] apc999 commented on #9390
@cheyang
1. in 2.0 the client metrics by default is not collected which may lead to inaccurate metrics calculation
1. I wouldn't trust the metrics reported here as I also see other issues

[2019-07-10 07:03] apc999 opened #9442 "Metrics "Under Filesystem Read" does not update"
**Alluxio Version:**
v2.0.0

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
[code]
**Expected behavior**

The total IO of Under Filesystem Read is never incremeted

**Urgency**
Median

**Additional context**

Similar issue: #9354

[2019-07-10 16:40] madanadit commented on #9409
Hi yang, i notice that the worker hostname is not set to physical host IP in your template. I believe you are using an older version of the template, this was updated just before the 2.0 release

for the worker container set:
[code]
i see its only set for the job worker container (same pod as worker)

[2019-07-10 16:42] madanadit commented on #9441
same comment as https://github.com/Alluxio/alluxio/issues/9409:

 i notice that the worker hostname is not set to physical host IP in your template. I believe you are using an older version of the template, this was updated just before the 2.0 release

for the worker container set:
[code]
i see its only set for the job worker container (same pod as worker)

[2019-07-10 16:42] madanadit commented on #9390
@cheyang same comment as https://github.com/Alluxio/alluxio/issues/9409:

 i notice that the worker hostname is not set to physical host IP in your template. I believe you are using an older version of the template, this was updated just before the 2.0 release

for the worker container set:
[code]
i see its only set for the job worker container (same pod as worker)

[2019-07-11 00:06] cheyang commented on #9409
I think we need also add `alluxio.job.worker.hostname` to job worker.

[code]

because from the logging I see
[code]

[2019-07-11 00:13] madanadit commented on #9409
The job worker hostname should default to the worker hostname property.  Just make sure the spacing and quotation marks in the value are exactly as I pasted above. Let me know if this issue persists. Thx

[2019-07-11 00:22] ZacBlanco opened #9445 "Some fonts in the WebUI on Firefox show up black."
**Alluxio Version:**
2.0.0

**Describe the bug**
Download the latest version of Firefox on MacOS and open the Alluxio UI and click the "Browse" tab.

All of the filesystem entries are black. Nearly impossible to read. Not very usable.

**To Reproduce**

- Download the latest version of Firefox
- Start Alluxio locally `alluxio-start.sh local SudoMount`
- go to http://localhost:19999/browse
- Font c

[2019-07-11 00:29] cheyang commented on #9409
But after I added the configuration above, it looks still not be able to recognize the worker and job worker in the same node.

[code]

[2019-07-11 00:51] cheyang commented on #9409
The issue still persists. Here is the command line of job worker, I'm able to see `-Dalluxio.job.worker.hostname=192.168.0.117`

[code]

[2019-07-11 16:12] apc999 commented on #9409
@cheyang  is the original `UnknownHostException` issue still showing up or fixed after the update on worker hostname?

[2019-07-11 16:14] apc999 commented on #9441
@cheyang  were you able to fix this issue based on adit's suggestion?

[2019-07-11 17:41] ZacBlanco commented on #9445
@tieujason330 FYI

[2019-07-11 18:59] apc999 commented on #9345
@FrankYu once you have more info, please update here so we could improve 2.0.0

[2019-07-11 20:49] cheyang commented on #9409
I didn't see `UnknownHostException` error. But the load is still failed.

[2019-07-11 22:14] madanadit opened #9448 "HA in k8s does not work as expected"
**Alluxio Version:**
2.0.0

**Describe the bug**
After the master pod is restarted on a different host, workers or long-running clients fail to connect the new master.

**To Reproduce**
1. start master
2. start workers, workers register with master
3. restart master on different node (different ip). note: the master address is specified as `alluxio-master` which now points to a different ip now
wo

[2019-07-11 22:19] witgo commented on #9151
@r7raul1984  @bf8086   I have encountered this bug again, and there is no error log output..

[2019-07-11 22:22] ggezer opened #9449 "Implement a concurrent hashmap with identity semantics"
**Summary**
gRPC data marshaller has a dependency on an old netty package for `ConcurrentIdentityHashMap' implementation. Replacing that with in-house implementation or importing from a more lightweight package could strip alluxio code of all netty dependencies.

[2019-07-12 00:32] madanadit commented on #9409
@cheyang can you share logs from the job master pod and one of the job worker pods? i want to see if job worker registration succeeded

[2019-07-12 00:33] madanadit commented on #9409
[code]

[2019-07-12 00:58] cheyang commented on #9409
I've uploaded the logging file:
[alluxio-job.zip](https://github.com/Alluxio/alluxio/files/3384490/alluxio-job.zip)

[2019-07-12 03:43] apc999 opened #9450 "Short-circuit read metrics got removed from webUI"
**Summary**
We should put it back and depending on `alluxio.user.metrics.collection.enabled`, show something like `N/A` if the flag is `false`. The current way to display metrics is confusing and users may have wrong takeaway on data locality
![image](https://user-images.githubusercontent.com/1413748/61098441-dc5e1d00-a413-11e9-9dda-9fbc8d84765f.png)

**Urgency**
Median

[2019-07-12 05:12] madanadit commented on #9409
I see that job workers are not picking up the hostname property. in job master, the workers registers with virtual ip

[code]

[2019-07-12 05:28] madanadit commented on #9409
@cheyang can you update the job worker JAVA_OPTS from what you had before to
[code]

seems like the job worker ignores `alluxio.job.worker.hostname` and uses `alluxio..worker.hostname` instead.

i'll fix the k8s spec to use `ALLUXIO_JOB_WORKER_JAVA_OPTS` and the job worker code to respect `alluxio.job.worker.hostname`. thx again!

[2019-07-12 10:14] cheyang commented on #9409
Yeah! It can work now!

[2019-07-12 14:46] cheyang commented on #9441
I tried again, and am not able to see the significant improvement.

[code]

[2019-07-12 15:13] cheyang commented on #9399
@apc999 , I see the following error. As you know the data for training is always read-only. Any suggestions?

[code]

[2019-07-12 18:29] apc999 commented on #9409
Great! Close this issue now

[2019-07-12 18:29] #9409 closed

[2019-07-12 23:27] cheyang opened #9457 "How to delete lost worker in alluxio"
**Alluxio Version:**
2.0

**Describe the bug**

Create alluxio cluster with Kubernetes. I notice there are some workers are lost when using `fsadmin report`, and I think they're safe to remove. I'm wondering how to delete them.

1. check the status, there are 12 lost workers

[code]

2. And I notice the lost workers can be deleted. But how to do it? As you know I run the workers in kubernetes, and

[2019-07-13 01:06] cheyang commented on #9391
I think this should be in document to make the user understand the HA strategy in Kubernetes. @apc999 @madanadit

[2019-07-13 01:07] cheyang commented on #9391
/reopen

[2019-07-13 01:38] cheyang opened #9459 "Copying the data doesn't go through short-circuit when using `load` command."
**Alluxio Version:**
v2.0.0

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Copying the same data in the same node(virtual machine) twice times. I expect it should go through short-circuit in the second time. But it's still copied from remote node in alluxio.

1. Deploy master, workers and fuse in kubernetes

[k8s.zip](https://github.com/Alluxio/alluxio

[2019-07-13 01:39] cheyang commented on #9459
/assign @apc999

[2019-07-13 05:15] apc999 commented on #9459
hi  @cheyang There might be a few things to check out:
- after you run the first `cp`, how is the worker's utilization of its capacity? e.g., do you see a big bump from 5%?
[code]
- how long do you wait before running the second `cp`? if you wait a while and run a third `cp`, will it result in the same situation?

[2019-07-13 05:17] apc999 commented on #9457
Looks to me a feature request on graceful remove workers. If my understanding is correct, then yes, we should support this in near releases.

[2019-07-13 05:27] apc999 commented on #9399
Pin should not be a write operation.  @cheyang  let me fix this issue

[2019-07-13 06:45] apc999 commented on #9392
Addressed by https://github.com/Alluxio/alluxio/pull/9418

[2019-07-13 06:45] #9392 closed

[2019-07-13 14:02] cheyang commented on #9457
Thank you, @apc999

[2019-07-15 03:48] liuhongtong opened #9461 "Umount failed by Alluxio FUSE"
**Alluxio Version:**
2.0

**Describe the bug**
Umount Alluxio FUSE mount point failed, while there is no other process occupy this mount point.
[code]

**To Reproduce**
loop execution:
[code]

[2019-07-15 21:17] calvinjia commented on #9450
I think we can put a placeholder for now (ie. N/A). The issue with displaying the data is that it is a partial number (ie. best effort and not guaranteed to be on for all clients) and we may want to remove the client-server metric sync in the future.

[2019-07-15 21:39] apc999 opened #9464 "Refactor SetAttribute API"
**Summary**

https://github.com/Alluxio/alluxio/pull/9460 was a workaround.

As a long term solution, we should separate `setAttribute` API into
1. APIs change Alluxio and UFS both, e.g., `chmod`, `chgrp` and `chown` and
2. APIs change attribute that apply to Alluxio only

**Urgency**
Low

[2019-07-15 21:41] #9399 closed

[2019-07-15 21:56] calvinjia opened #9465 "Path components are not uri encoded in the webui"
**Alluxio Version:**
2.0.0

**Describe the bug**
Path components are not uri encoded causing pages for files with reserved characters (ie. `=`) to fail to render.

**To Reproduce**
Browse to a file with and `=` in it.

[2019-07-15 22:16] apc999 commented on #9461
any finding from kernel level logs on why the mount point was busy, @liuhongtong ?

[2019-07-15 22:40] cheyang commented on #9459
It's always 5%.

I waited for more than 3 hours. It's the same situation.

[2019-07-15 23:12] apc999 commented on #9435
Resolved with https://github.com/Alluxio/alluxio/pull/9467. The issues with previous script were
- curl version change : different return code were seen. Now switched to Alluxio shell script directly to coordinate the start of Master and Workers
- Stop using monitor when launching

[2019-07-15 23:12] #9435 closed

[2019-07-16 00:50] MBlanco03 commented on #9137
Attempted to recreate the bug in both 2.0.0-preview and master and was not able to reproduce. I made a new directory and created copies from a single file until there were over 1000 files. I was able to browse the directory in the WebUI with no errors.

[2019-07-16 01:30] witgo commented on #9151
ping @rastogiasr  This issue does not seem to be reopened.

[2019-07-16 03:03] ggezer opened #9469 "Rewire Copycat communications through gRPC"
**Is your feature request related to a problem? Please describe.**
Copycat provides a way to implement transport for communication between participating nodes. Currently we use stock NettyTransport which is not secure.

**Describe the solution you'd like**
New transport implementation that leverages our unified gRPC security.

[2019-07-16 03:52] apc999 opened #9470 "SetAttribute operations will always loadmetadata"
**Alluxio Version:**
v2.0.0

**Describe the bug**
For FS operations implemented by the master-side API setAttribute, including pin, setTtl, chmod, chown, chgrp, setReplication, `loadMetadataInterval` on server side will always be `0` due to the missing `commonOptions` in `SetAttributeOptions`. This results always unnecessary, possibly too much UFS load metadata operations even the file metadata ha

[2019-07-16 21:43] jiacheliu3 opened #9472 "Add verbose mode to fs mount"
**Is your feature request related to a problem? Please describe.**
When mounting an UFS, a list of UFS factories are checked to find one supporting this specific UFS. If none is found working with this UFS, then an warning will be printed `LOG.warn("No factory implementation supports the path {}", path);` and eventually an error will be given `java.lang.IllegalArgumentException: No Under File Syst

[2019-07-16 22:43] calvinjia commented on #9464
We should reconsider the semantics around `read-only`. In particular, there are various operations which should be allowed when executed in `alluxio-only` mode. Even operations like `chown` can be only applied to Alluxio and still make sense for the user (ie. when using an object store as UFS).

[2019-07-16 22:55] ns1123 opened #9474 "Unable to remove alluxioOnly on a readOnly mount"
**Is your feature request related to a problem? Please describe.**
Currently Alluxio doesn't allow users to do a remove in only Alluxio space on a read-only mount

**Describe the solution you'd like**
read-only mounts should allow remove operations ONLY if the -alluxioOnly flag is specified

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2019-07-16 23:02] madanadit commented on #9474
related to https://github.com/Alluxio/alluxio/pull/7574/files

[2019-07-17 00:46] apc999 opened #9475 "A smart write type to persist data on demand"
**Is your feature request related to a problem? Please describe.**

Given a Hive query, some times we only need to ensure the data is persisted safely to the final destination when the job completes. So one can specify a flag to pass the final destination (like a path prefix) so that the job will use `MUST_CACHE` as default write type for temp data without persistency, but use `CACHE_THROUGH` to e

[2019-07-17 01:05] apc999 opened #9476 "Automatically set Alluxio hostname for EMR applications"
**Is your feature request related to a problem? Please describe.**

Automatically set property `alluxio.master.hostname` based on EMR master address (which will be different across different EMR runs)  for EMR apps like Spark, rather than asking users to input the master addr manually in Hivemetastore or Glue. This is because every time when launching a new EMR cluster, this address is different s

[2019-07-17 01:31] apc999 commented on #9476
I tested with the latest EMR script and it works as what we proposed in this ticket.
However, this is because the current EMR bootstrap script is installing Alluxio into `/opt/alluxio` and by default, an alluxio java client will search `alluxio-site.properties` inside `/opt/alluxio/conf`. So it works.

However, if someone is modifying the installation dir to a different location like `/opt/alluxio

[2019-07-17 02:44] fengguangyuan commented on #9391
@cheyang @rastogiasr
Hi, dear all. I'm a newer for Alluxio, and want to deploy Alluxio 2.0 on a product cluster, but from the latest official doc, I got this note.

I do really have no much knowledges of Embedded Journal implementation, so could you give me some clues for that caution?
Thanks a lot.

[2019-07-17 05:18] apc999 opened #9477 "Unified way to append arbitrary Alluxio property keys in EMR bootstrap and docker CLI"
**Is your feature request related to a problem? Please describe.**

https://github.com/Alluxio/alluxio/blob/master/integration/emr/alluxio-emr.sh#L82

However, ';' as a delimiter might introduce issues as it may be a part of a property value, see https://docs.alluxio.io/os/user/v2.0/en/deploy/Running-Alluxio-On-a-HA-Cluster.html

**Describe the solution you'd like**
A more general solution to pass

[2019-07-17 05:27] apc999 opened #9478 "Support specifying worker memory size in EMR bootstrap script"
**Is your feature request related to a problem? Please describe.**

Currently "20GB" per worker was hard-coded in https://github.com/Alluxio/alluxio/blob/master/integration/emr/alluxio-emr.sh#L76

**Describe the solution you'd like**

The script should be able to accept different worker memory size. Maybe let users to specify the value in `alluxio.worker.memory.size` in `args`.

**Describe alterna

[2019-07-17 14:29] witgo commented on #9151
ping

[2019-07-17 16:40] bf8086 commented on #9151
@witgo Can you explain a little bit how you repro'ed it this time? Are you running a query? Is your data accessed outside of Alluxio? Were there any warning or unusual log entries before the issue happened?

[2019-07-17 20:47] calvinjia opened #9481 "Remove unnecessary disabling of web ui buttons"
**Is your feature request related to a problem? Please describe.**
Some buttons on the UI are disabled (ie. root button in browse or Go button) when the user is already at the page.

**Describe the solution you'd like**
The user can press the button and be shown the same page.

**Additional context**
Its cleaner to allow users to always click the button even if it is a no-op, this reduces confusio

[2019-07-17 20:51] calvinjia opened #9482 "Displaying file with 0 byte offset from the end in the UI creates a blank page"
**Alluxio Version:**
2.0.0

**Describe the bug**
Displaying file with 0 byte offset from the end in the UI creates a blank page. This seems to only happen with the logs page (possibly only if the UFS is local).

**To Reproduce**
Open a log file.
Check the display relative from to end from start.
Press Go

**Expected behavior**
A page with an empty data box but still has the other controls.

[2019-07-17 21:01] calvinjia opened #9483 "Fix display from byte offset field in the web ui"
**Alluxio Version:**
2.0.0

**Describe the bug**
Display from byte offset field will not allow empty values. This is confusing to the user because they generally will try to backspace the `0` before entering the number they want.

**To Reproduce**
Go to browse -> click a file. Try to modify the display from byte offset field.

**Expected behavior**
The zero is deleted and the user is free to type

[2019-07-17 21:48] #9179 closed

[2019-07-17 21:59] #9137 closed

[2019-07-17 22:01] calvinjia opened #9484 "Query parameters are propagated incorrectly in the web ui"
**Alluxio Version:**
2.0.0

**Describe the bug**
When pressing the `Go` button on the browse page, it keeps all query parameters including offset and limit. This causes problems when browsing a large directory and going to a smaller directory.

**To Reproduce**
Create a folder with > 20 files (to activate pagination).
Go to the second page.
Press Go to return to the root (< 20 files)

**Expected b

[2019-07-17 23:51] #9465 closed

[2019-07-18 00:47] ns1123 commented on #9477
@apc999 this is already available in the EMR script as the last option.

[2019-07-18 00:48] ns1123 commented on #9476
@apc999 I think since this is our supported script, we can assume that points 1, 2 and 3 are all a given. I would close this ticket for now.

[2019-07-18 01:18] #9476 closed

[2019-07-18 02:45] witgo commented on #9151
Once this problem arises, it causes Spark SQL to misreport any sql job that reads to this file. Data is not accessible outside of alluxio. The data files of the underlying hdfs are not a problem.
The logs that appear frequently are as follows:

[code]

[2019-07-18 06:14] dborkar opened #9489 "Support ability to pass in a file as an arg to EMR bootstrap to append to alluxio-site.properties"
**Is your feature request related to a problem? Please describe.**
Some time Alluxio properties are quite complex. If a bootstrap doesn't allow a file to be passed in, updating a large number of Alluxio properties every time an EMR cluster comes up, can lead to human errors.

**Describe the solution you'd like**
pass a file in with properties that get appended to alluxio-site.properties

[2019-07-18 06:19] dborkar opened #9490 "Ability to pass EMR bootstrap in a pre-generated ssh public/private key pair"
In larger environments that are deployed, there is no simple way to propagate config changes and restarts to workers.  The EMR way might be to simply just re-bootstrap the entire environment with the new change, but it would be nice to have the option to be able to leverage the ALLUXIO SSH-based tools like copyDir and start/stop scripts.

[2019-07-18 16:54] ns1123 commented on #9489
@dborkar Is the idea for this that as an alternative to a string input, a user can provide an s3:// URI that points to a file which is then appended to the default properties? This could work, but we may want to decide on which of the existing ones can be overridden.

[2019-07-18 17:11] ns1123 commented on #9490
The SSH logic used to be there but it was pretty messy. It forces the bootstrap to create a private key, upload said key to S3, and then have all workers download from S3. This also means the user would have to redownload a new private key from S3 on each run of EMR. Is there a reason users can't redeploy a cluster?

[2019-07-18 17:13] apc999 commented on #9477
what's the discussion result @ns1123 & @gpang ?
in case this is hard to achieve, we can switch to support #9489

[2019-07-18 17:58] ns1123 commented on #9477
+1 for doing this using #9489 approach of an S3 file path to append to the existing properties. Escaping to me feels like over-engineering a non-problem

[2019-07-18 18:01] ns1123 commented on #9478
@apc999 from our discussion I think we agreed to default to adding logic into the bootstrap script to calculate 1/3rd of the available memory and use that value as the default unless specified by the user. @ZacBlanco, let us know what you think of this approach

[2019-07-18 18:16] ns1123 opened #9493 "Improve the error message when there is no alluxio worker"
**Alluxio Version:**
What version of Alluxio are you using?
Affects all current versions

**Describe the bug**
A clear and concise description of what the bug is.
Currently, if there is no worker registered to the master, when the user performs a write operation, they see the below error.
"There is no worker with enough space for a new block of size {0}"

Similarly for reads, users see:
"Block {0}

[2019-07-18 20:54] #9470 closed

[2019-07-18 22:16] bf8086 commented on #9151
Thanks for the logs. I have a couple questions:

- Does it happen if you delete and regenerate the data then rerun the benchmark?
- Are you seeing it with S3 as underfs or HDFS or both?
- Can you provide a list of steps with commands or queries you ran to generate test data and run the benchmark?

[2019-07-18 22:30] #9481 closed

[2019-07-18 23:55] #9483 closed

[2019-07-19 00:57] witgo commented on #9151
1. The production system has multiple jobs running and is not sure how much time to trigger this log.
2. yes
3. insert into table , select table, performed once an hour.

[2019-07-19 06:32] guang7niu opened #9501 "Register worker fails with UnsupportedOperation exception"
**Alluxio Version:**
2.0.1-snapshot

**Describe the bug**
When worker registers itself to master with a list of blocks, master will check for duplication of block ids. However the lambda expression will try to modify the block list provided by protobuf which is readonly, hence a UnsupportedException is raised.
Example:
core/server/master/src/main/java/alluxio/master/block/BlockMasterWorkerServiceH

[2019-07-19 06:54] apc999 commented on #9461
Hi @liuhongtong, to unmount Alluxio fuse, the expected way is

`alluxio-fuse umount /mnt/alluxio-fuse/` which will kill the alluxio fuse client process.

is there any reason you have to use system `umount` rather than `alluxio-fuse umount`?

[2019-07-19 07:42] liuhongtong commented on #9461
@apc999 umount syscall need add reference of the mount point. umount syscall may success only when the reference is 2, while the default reference is 1. If another umount executed, the reference will be 3, then all the two umount will fail.

[2019-07-19 07:45] liuhongtong commented on #9461
@apc999 alluxio-fuse umount is the right way. But FUSE is one file system of Linux, so Alluxio FUSE should support umount command as well.

[2019-07-19 19:57] #9482 closed

[2019-07-19 20:24] calvinjia opened #9506 "Remove URLEncoding in browse field"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**
In the browse GO field, paths will be URL encoded.

**To Reproduce**
Go to the browse tab and navigate to a directory, the new browse textbox will show `%2F` instead of `/`

**Expected behavior**
The path in the input box is not URL encoded.

[2019-07-19 21:47] bf8086 commented on #9151
Does it repro every time after you generate the data or only sometimes?

For the block size mismatch exception, do you know which file it was trying to read when the error occurred? If you do, can you run `alluxio fs stat <file_name>` and post the output here?

For the SocketException, can you check Alluxio master log to see if there is any error at the corresponding time?

[2019-07-19 22:38] #9461 closed

[2019-07-20 14:52] phenixmzy opened #9518 "Display three the same records in BlockInfo tab of worker node WEBUI"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**
when entering page of **BlockInfo** of worker node , each file has three the same records in WEBUI.
clicked the link of file which three the same records, display the same information in WEBUI.
![图片](https://user-images.githubusercontent.com/303954/61579980-1ed3d800-ab3f-11e9-8273-8a1cace55f4b.png)

![图片](https://user-images.githubuserconte

[2019-07-20 22:30] haoyuan commented on #9126
@maobaolong any update on this request?

[2019-07-21 08:42] witgo commented on #9151
1. Only sometimes.
2.  The cached data has been cleaned up and only appeared twice, it seems that the last 8 bytes of data are lost.
3. No other related errors.

[2019-07-22 11:54] cheyang opened #9525 "Failed to access the data inside alluxio"
**Alluxio Version:**
v2.0.0

**Describe the bug**
Running TensorFlow on alluxio fuse
1. Find the error in the tensorflow logs ()
[code]

2. Go to machine(192.168.0.117), and check the fuse log:

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describ

[2019-07-22 11:54] cheyang commented on #9525
/ping @apc999

[2019-07-22 12:28] cheyang commented on #9525
And I notice the fuse configuration: -XX:MaxDirectMemorySize=4g，I think maybe I can change it to fix. But I have 2 questions:

1. Is it something leak? Why it requires so many memory.
2.How can I update the the XX:MaxDirectMemorySize of the fuse?

[code]

[2019-07-22 13:52] lodocj opened #9526 "Job_master health check failed"
**Alluxio Version:**
v2.0.0

**Describe the bug**
JOB_MASTER‘s main class is alluxio.master.AlluxioJobMaster  , but MasterHealthCheckClient check command were as follows:

Class alluxio.master.job.JobMaster not on the process list so that will never sucessed.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise descri

[2019-07-22 16:10] ZacBlanco commented on #9526
Thanks for reporting this! You are correct that the check won't succeed currently.

I took a closer look. Specifically this should happen when the job master is running in HA mode and the `alluxio-monitor.sh` script is used to check the health of the job master.

We are hoping in a near release to completely remove the need to for the `ps -ef | grep` in the health check and instead replace it with

[2019-07-22 17:39] ns1123 opened #9527 "Parallelize checkConsistency repair"
**Is your feature request related to a problem? Please describe.**
The checkConsistency -r command is useful for resyncing Alluxio metadata with the UFS in the case of out-of-band writes. Currently the repair part is done in one thread.

**Describe the solution you'd like**
Since the list of inconsistent files is already determined at this point, there should be an option to specify the number of

[2019-07-22 18:39] ns1123 commented on #9525
Hi Cheyang,

Please see the answers below:

1. I will try to get back to you on this, but depending on the number of clients that are concurrently accessing FUSE, 4G may not be enough.
2. For the value of XX:MaxDirectMemorySize, when you update the value in set_java_opts(), does the new value not reflect in the process option? What is the new value you specify?

Thanks,
Nakkul

[2019-07-22 21:15] ggezer opened #9538 "Support checkpointing job_master journal via shell cmd"
**Is your feature request related to a problem? Please describe.**
`fsadmin checkpoint` cmd only works for master journal. It should support taking checkpoints on job_master journal as well.

**Describe the solution you'd like**
Additional flag for specifying the domain for the journal.

[2019-07-22 22:58] cheyang commented on #9525
I only have 4 clients.

Since I'm using Kubernetes, I don't have chance to set. @madanadit

[2019-07-22 23:17] ggezer opened #9542 "Unify journal related fsadmin commands"
**Is your feature request related to a problem? Please describe.**
There are `checkpoint` and upcoming `quorum` commands that could be unified under high-level `journal` command. That will clarify their use cases.

**Describe the solution you'd like**
Stack `checkpoint` and `quorum` commands as sub-commands under a new `journal` command.

[2019-07-23 04:19] myg821561935 opened #9544 "alluxio fs startSync failed"
ALLUXIO ENVIRONMENT:
(1) ALLUXIO 2.0.0
(2) HADOOP-2.7.3(HDFS)
(3) Hadoop client (Hadoop3.3)
(4) JAVA 1.8

 we set the hdfs and we want to set dir /nn-cluster/user/bigdata/tensorflow/submarine sync to hdfs dir。when we execute the command：alluxio fs startSync /nn-cluster/user/bigdata/tensorflow/submarine ，it report errors：
![image](https://user-images.githubusercontent.com/5190099/61682357-e81adf00-

[2019-07-23 04:52] ZacBlanco commented on #9544
Hi @myg821561935 . It helps us if the initial post is in our standard format for bug reports. We ask that you follow the format next time.

1. You're initial post is not quite clear enough as to what `HADOOP-2.7.3` means. Is this the UFS version?
2. What do you mean by Hadoop client. Is this what you're using to try to connect to Alluxio?

If my assumption in (1) is correct that your UFS is HADOOP

[2019-07-23 05:28] ZacBlanco commented on #9501
@apc999 please close this issue if it is fixed.

[2019-07-23 05:44] cheyang commented on #9525
Here is the worker logs:

[alluxio-worker.log](https://github.com/Alluxio/alluxio/files/3420380/alluxio-worker.log)

[2019-07-23 06:07] liuzx32 opened #9545 "UfsSyncPathCache does not cache descendants when recursive is used"
**Alluxio Version:**
alluxio version 2.0.0

**Describe the bug**
After running  `ls -Rf dir_path`, `UfsSyncPathCache` only cache `dir_path`, but not the file under `dir_path` recursively.

As a result, after setting `alluxio.user.file.metadata.sync.interval=3hour` and start MR job to read the files inside the dir,
the method `shouldSyncPath` of `UfsSyncPathCache` will get `null` from `mCache`, and

[2019-07-23 06:20] apc999 commented on #9545
@gpang or @yuzhu , can you verify if this is a bug in the master implementation?

[2019-07-23 06:40] myg821561935 commented on #9544
yes，ufs hdfs version is 2.7.3. In this blog（https://www.alluxio.io/blog/two-ways-to-keep-files-in-sync-between-alluxio-and-hdfs/）, mentioning hadoop2.7+ is fine. Maybe I was misled. thanks

[2019-07-23 06:47] apc999 commented on #9544
@yuzhu can you help take a look at this issue and verify the HDFS version required

[2019-07-23 06:47] ZacBlanco commented on #9544
I could be wrong as well. I'll get a more accurate version for you some time within the next day. I'll also make sure it gets added to our documentation. I noticed that at https://docs.alluxio.io/ee/user/stable/en/advanced/Namespace-Management.html?#metadata-active-sync-for-hdfs we don't mention version compatibility

[2019-07-23 07:12] ZacBlanco commented on #9544
@myg821561935 can you also provide your Alluxio master configuration?

[2019-07-23 07:24] myg821561935 commented on #9544
ok
[alluxio-site.properties.txt](https://github.com/Alluxio/alluxio/files/3420711/alluxio-site.properties.txt)

[2019-07-23 07:50] ZacBlanco commented on #9544
Hi @myg821561935 can you try to configure the alluxio property `alluxio.underfs.version`?

https://docs.alluxio.io/os/user/stable/en/ufs/HDFS.html#using-site-properties

From the documentation, you should be able to put `2.7` as the value for this property. It defaults to 2.2: https://github.com/Alluxio/alluxio/blob/v2.0.0/core/common/src/main/java/alluxio/conf/PropertyKey.java#L3395-L3401

[2019-07-23 08:31] myg821561935 commented on #9544
thanks ,after configure alluxio.underfs.version=2.7 ,it's ok

[2019-07-23 08:38] #9544 closed

[2019-07-23 22:40] ZacBlanco commented on #9490
I don't think this is something we want/need to do. @apc999 can you confirm/deny?

I think supporting this is much more difficult thing to implement.

[2019-07-24 00:00] apc999 opened #9548 "Support Alluxio as DistributedCache by Hadoop MR framework"
**Is your feature request related to a problem? Please describe.**
Many Hadoop MR applications are using Distributed Cache to distribute jars and configuration files to speed up the job execution. To fully emulate HDFS compatible service, can Alluxio provide a distributed cache service to work with MR or Hive?

**Describe the solution you'd like**
A distributed cache recognized by MR and Hive

**D

[2019-07-24 07:39] haoyuan commented on #9459
@cheyang , thanks for reporting this bug, appreciate it! Is this a blocking issue for you? Cheers.

[2019-07-24 07:52] liuhongtong opened #9552 "Can't distinguish creator of file by Alluxio FUSE with allow_other options"
**Alluxio Version:**
2.0

**Describe the bug**
When mount Alluxio FUSE by user alluxio, if another user creates a file or directory in the mount point, the owner of the file or directory will be the user alluxio. I can't distinguish who is the true owner.

**To Reproduce**
mount Alluxio FUSE by user alluxio
[code]
mkdir by user hahaha
[code]

[2019-07-24 10:19] cheyang commented on #9459
It's not a blocking issue, but it's also critical. Because for performance-sensitive and distributed application, loading data from network will also impact the network bandwidth heavily which should be used by interconnecting of the application itself.

[2019-07-24 16:51] apc999 commented on #9552
I view this a feature request to support Group/User information through fuse rather than a bug report.

@LuQQiu  is there any way to get gid or uid information in JNR-FUSE?

[2019-07-24 16:56] apc999 commented on #9545
@gpang @yuzhu , this can be a bad bug. Can you confirm if this is the case?

[2019-07-24 17:52] calvinjia commented on #9538
@ggezer Which journal are you referring to, we do not journal for the job master.

[2019-07-24 17:53] apc999 commented on #9501
Fixed in 2.1.0-SNAPSHOT and cherry-picked into 2.0 branch by #9517

[2019-07-24 17:53] #9501 closed

[2019-07-24 17:59] apc999 commented on #9525
Two issues here:
- Make direct MEM size configurable
- Check if there is direct MEM leak

[2019-07-24 18:06] ns1123 commented on #9490
Closing this since this doesn't fit the EMR service model. Configuration changes should be done by redeploying the cluster.

[2019-07-24 18:06] calvinjia commented on #9464
Related to #9474

[2019-07-24 18:10] #9490 closed

[2019-07-24 18:17] calvinjia commented on #9475
Does persist on rename cover this use case?

[2019-07-24 18:35] apc999 commented on #9457
This becomes an issue especially on k8s env where workers are expected to change IPs a lot. One way to solve this is to add a property key to retire lost workers from Master.

[2019-07-24 18:36] calvinjia commented on #9131
@borkd Closing this due to inactivity, please reopen if you still have this issue.

[2019-07-24 18:36] #9131 closed

[2019-07-24 18:37] calvinjia commented on #9126
@maobaolong Closing this due to inactivity, please reopen if you still have this issue.

[2019-07-24 18:37] #9126 closed

[2019-07-24 18:38] ggezer commented on #9538
We don't but still create a separate `JournalSystem` for `job_master`s. This is just for infrastructural completeness.

[2019-07-24 18:38] calvinjia commented on #9116
@chentao Closing this due to inactivity, please reopen if you still have this issue.

[2019-07-24 18:38] #9116 closed

[2019-07-24 18:39] calvinjia commented on #9045
@cheyang Closing this due to inactivity, please reopen if you still have this issue.

[2019-07-24 18:39] #9045 closed

[2019-07-24 18:40] calvinjia commented on #9021
@maobaolong Closing this due to inactivity, please reopen if you still have this issue.

[2019-07-24 18:40] #9021 closed

[2019-07-24 18:40] calvinjia commented on #9008
@maobaolong Closing this due to inactivity, please reopen if you still have this issue.

[2019-07-24 18:40] #9008 closed

[2019-07-24 18:41] calvinjia commented on #9005
@geweixuan Closing this due to inactivity, please reopen if you still have this issue.

[2019-07-24 18:41] #9005 closed

[2019-07-24 19:49] yuzhu commented on #9545
I think this has been the behavior for a while. We can improve it by
1. add all the paths into `UfsSyncPathCache` during a recursive sync,
this would result in a lot of files in the `UfsSyncPathCache`

or
2. Change `UfsSyncPathCache` to a map from <path, isRecursive> to timestamp. We only record the top level path in the cache, and during file access time, we check if its parent, its parent of par

[2019-07-24 21:37] #8359 closed

[2019-07-24 21:40] apc999 commented on #8401
@ggezer is this ticket addressed? If yes, I will close this issue

[2019-07-24 21:41] apc999 commented on #8401
saw previous discussion, I will close this issue

[2019-07-24 21:41] #8401 closed

[2019-07-24 21:42] apc999 commented on #8356
@ns1123 do you know if this issue gets addressed in 2.0.0?

[2019-07-24 21:43] apc999 commented on #8260
@LuQQiu  this issue has been addressed in 2.0.0 and 1.8.2-SNAPSHOT, right? please confirm

[2019-07-24 21:45] apc999 commented on #8560
@ns1123 has this issue been addressed in 2.0.0?

[2019-07-24 21:47] ns1123 commented on #8356
not sure if it has been resolved or not

[2019-07-24 21:48] LuQQiu commented on #8260
@bf8086 Is it addressed in both 2.0.0 and 1.8.2?

[2019-07-24 21:49] ns1123 commented on #8560
No this is not yet addressed. I would defer to @ggezer but it sounds like the new embedded journal stores the master hostnames in the journal itself.

[2019-07-24 22:04] apc999 commented on #8260
I checked that this issue is solved in branch 2.0, but not in branch 1.8.
 can we cherrypick this to 1.8 branch @bf8086 ?

[2019-07-24 22:13] #9450 closed

[2019-07-24 23:37] apc999 commented on #8564
This is a feature request to enable external applications to run unit tests against Alluxio

[2019-07-24 23:39] #8572 closed

[2019-07-25 00:36] ggezer commented on #8560
https://github.com/Alluxio/alluxio/pull/9533 Have added the capability to remove masters from running cluster. Adding new masters is as easy as booting up a new master with list of existing masters.

[2019-07-25 01:08] apc999 commented on #9193
I think this is a race condition fixed in v1.8.1 with `CONTEXT_CACHE_LOCK` to guard the singleton creation inside [`FileSystemContext.get`](https://github.com/Alluxio/alluxio/blob/082ccd3594f20e617a2e894df0846bcfdb1c2555/core/client/fs/src/main/java/alluxio/client/file/FileSystemContext.java#L134)

[2019-07-25 01:08] #9193 closed

[2019-07-25 02:21] liuzx32 commented on #9545
@yuzhu I think that it's a problem about the longest prefix match, and only cache the parent dir can solve the last time interval case. Only cache dir not every recursive files can save memory for master.

[2019-07-25 04:43] #9527 closed

[2019-07-25 05:03] #9526 closed

[2019-07-25 07:03] apc999 opened #9559 "Documentation defects"
**Summary**
This is a running list of all documentation defects

## TODO

### priority-high

* In [S3 API page](https://docs.alluxio.io/os/user/stable/en/api/S3-API.html#rest-api), there is no introduction on the setup of "EXAMPLE USAGE". e.g., for command `curl -i -X PUT http://localhost:39999/api/v1/s3/testbucket`, what is `testbucket`? it is used without any introduction.

* Explanation on Some

[2019-07-25 07:16] pranasblk opened #9560 "main scope polluted with test dependencies"
**Summary**
The main scope polluted with test dependencies
https://github.com/Alluxio/alluxio/blob/a375ff4f455d20b2dc5632938931df233c96e917/minicluster/pom.xml#L45

**Urgency**
It's better to avoid test artefacts potentially creeping into production deployment (wasting resources system and providing ability to introduce dependant accidental dependencies in client's code).

[2019-07-25 16:45] LuQQiu commented on #9552
As far as I know, Fuse mkdir method does not expose uid and gid information. Fuse by design is to only allow the user that mounting the file system to access and do any operation in it. `allow_other` and `allow_root` is asked by users and fuse decides to loose it's restrictions but those two mount options have some security impacts and limitations. This is one of the limitations.

[2019-07-25 16:53] apc999 commented on #9560
thanks @pranasblk this is definitely a good suggestion. On a related note, are you currently using alluxio minicluster to test your Alluxio application? I would like to learn more about the experience. Previously users have problems with it https://github.com/Alluxio/alluxio/issues/8564

[2019-07-25 17:04] apc999 commented on #8260
ping @LuQQiu  @bf8086

[2019-07-25 17:18] LuQQiu commented on #8260
Agree to cherry pick to 1.8. @bf8086 Could you help cherry pick to 1.8?

[2019-07-25 17:32] apc999 opened #9562 "Incorrect output from fsadmin doctor"
**Alluxio Version:**
2.1.0-SNAPSHOT & 2.0.0

**Describe the bug**
The configuration is consistent (the same `alluxio-site.properties` shared locally by master and worker, but `fsadmin doctor` claimed the configuration inconsistent (because some conf properties are not resolved before comparison)

[code]

**To Reproduce**
see above

**Expected behavior**
there should be no warning on these two prop

[2019-07-25 17:44] liuhongtong commented on #9552
I agree with @LuQQiu, but that's one limitation of jnr-fuse instead of fuse.
When studing the source code of fuse, I find fuse exposes the uid by req->ctx.uid and gid by req->ctx.gid.
[code]
req->f->op.mkdir may be the pointer of  fuse_lib_mkdir() by default, who ignores the req but invokes fuse_fs_mkdir(), while fuse_fs_mkdir() invokes the mkdir(). mkdir() is registered by FuseOperations in jnr-f

[2019-07-25 18:08] tieujason330 commented on #9518
@phenixmzy Do you have any steps to reproduce this? How many workers do you have? I'm not able to see this on my end

[2019-07-25 18:08] LuQQiu commented on #8356
I fixed this issue in https://github.com/Alluxio/alluxio/commit/390729e0cee40b27fe6a53c4cae25f496c60791c
Will cherry pick to 1.8.2

[2019-07-25 18:35] LuQQiu commented on #9552
Thanks for doing the investigation. Looks like we need to
either (1) modify jnr-fuse to support fuse lowlevel ops
or (2) get ride of jnr-fuse, use libfuse + Alluxio C++ client (We have discussed that we don't want to do that for 2.0)

Will modify jnr-fuse able to register the fuse lowlevel_ops? If the modification is big, jnr-fuse author may not want to let our PRs go in, then we will need to host

[2019-07-26 14:30] phenixmzy commented on #9518
yes, have completed, i am very busy these days so forget.

[2019-07-26 14:40] phenixmzy commented on #9518
yes, have completed, i am very busy these days so forget.

[2019-07-26 14:50] phenixmzy commented on #9518
Fixes Alluxio/new-contributor-tasks#9518

[2019-07-26 17:58] #9506 closed

[2019-07-26 22:11] calvinjia opened #9573 "Avoid loading property keys multiple times from UFS extensions"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**
Extensions UFSes may contain custom property keys. These are loaded every time the UFS is loaded and causes a failure after the second load.

**To Reproduce**
Add an extension with a custom property key.
Attempt to mount a path using the extension UFS.
Attempt to mount another path using the extension UFS.

**Expected behavior**
Multiple UF

[2019-07-26 22:30] apc999 commented on #9573
Calvin, is even loading the UFS twice expected?

[2019-07-26 22:36] ZacBlanco opened #9574 "Improve k8s documentation on enabling Short-Circuit Operations"
**Is your feature request related to a problem? Please describe.**

Alluxio on k8s is difficult. Enabling Short circuit operations without deep knowledge of how Alluxio is built can also be challenging. The documentation for enabling short circuit operations on k8s is not explicit enough, or at least, does not emphasize enough the important things that alluxio admins need to do in order to get sho

[2019-07-26 23:24] #9477 closed

[2019-07-26 23:24] #9478 closed

[2019-07-26 23:24] #9489 closed

[2019-07-27 02:38] phenixmzy opened #9576 "Add a column to display file has block amount in the worker UI"
**Is your feature request related to a problem? Please describe.**
add a column display file has block amount in the worker .
![图片](https://user-images.githubusercontent.com/303954/61988639-849bf480-b056-11e9-8c58-0ca50538f797.png)

**Describe the solution you'd like**
step 1
add a name of mBlocks  membership variables in UIFileInfo to record the blockid when UIFileInfo#addBlock

step 2
in webui m

[2019-07-27 05:06] apc999 commented on #9552
@liuhongtong For 1.8 or 2.0 branch, I don't think we want to introduce big changes like switching to fuse_lowlevel_ops from FuseOperations. For future minor releases, do you have more insights into the benefits for this change in addition to support gid / uid (which can be important enough to me). It will be good to have a list of benefits and also estimated costs & risks of doing so before we mak

[2019-07-27 15:49] liuhongtong commented on #9552
@apc999 @LuQQiu I will do more investigation next week and evaluate costs and risks.

[2019-07-27 21:24] haoyuan commented on #9544
@myg821561935 great to hear!

[2019-07-28 13:42] zrss opened #9578 "Alluxio tag 2.0.0 can not be built"
**Alluxio Version:**
What version of Alluxio are you using?

tag v2.0.0

**Describe the bug**
A clear and concise description of what the bug is.

run the building command

`mvn -T 2C clean install -DskipTests -Dmaven.javadoc.skip -Dfindbugs.skip -Dcheckstyle.skip -Dlicense.skip`

[code]

[2019-07-28 14:16] zrss commented on #9578
#8868

[2019-07-28 16:10] zrss commented on #9578
# 9416

[2019-07-29 05:45] apc999 commented on #9578
has https://github.com/Alluxio/alluxio/pull/9428 fixed your issue @zrss ?

regarding the request on documentation, I updated https://github.com/Alluxio/alluxio/issues/9559 on `generate-tarballs`

[2019-07-29 06:08] zrss commented on #9578
thx apc999, #9428 has fixed my problem. and currently, we lack of the doc of `generate-tarballs` (i get it in buiding docker shell ...)

[2019-07-29 06:20] apc999 commented on #9578
thanks for the response. As mentioned I've updated #9559 to add a task about adding more documentation on generate-tarballs.  #9559 serves as a running issue for all documentation defects (in your case the lack of description on generate-tarballs). Close your issue now.

[2019-07-29 06:20] #9578 closed

[2019-07-29 08:58] zrss commented on #9559
also want k8s deploy docs in branch-2.0 .....

[2019-07-29 10:24] zrss opened #9580 "Can Alluxio 2.0.0 works well in k8s ?"
**Alluxio Version:**
What version of Alluxio are you using?

tag v2.0.0

**Describe the bug**
A clear and concise description of what the bug is.

we can define the env in configmap in alluxio 1.8 but how can we do it in alluxio 2.0 ?

i don't suppose this can work ...

https://github.com/Alluxio/alluxio/blob/29a7c86f02f11786bafc36b5cec3b58d977122c6/integration/kubernetes/conf/alluxio.properties.t

[2019-07-29 16:39] #9574 closed

[2019-07-29 17:19] ZacBlanco commented on #9580
Hi @zrss Have you read our doc on deploying on K8s?

https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Kubernetes.html#configure-alluxio-properties

Is there something with this solution that doesn't allow you to configure Alluxio properly in your given use case? Any extra context helps

[2019-07-29 18:43] zrss commented on #9580
thx zac. i have read this doc, and it turns out that it's very hard to understand these words. finnally i makes it work by define properties directly in alluxio-site.properties rather than env in alluxio-site.properties

[code]

and obviously, the default value of alluxio-site.properties in `integration/docker` isn't work due to the entrypoint impl

https://github.com/Alluxio/alluxio/blob/29a7c86f

[2019-07-29 21:36] ZacBlanco commented on #9580
Is there a specific sentence(s) that are hard to understand or that you would like to see changed?

Setting values directly in site properties can work, but using the master/worker templates along with the configmap command should be easier to use than defining site properties across many containers.

Also, the documentation for k8s has been recently updated as we've added a helm chart in `master`

[2019-07-30 02:21] haoyuan opened #9589 "REST API Documentation"
**Is your feature request related to a problem? Please describe.**
The current REST API doc is not understandable, in many cases, users need to look into the code to understand the API.

e.g. https://docs.alluxio.io/os/restdoc/stable/master/index.html

**Describe the solution you'd like**
Provide decent REST API.

**Describe alternatives you've considered**
N/A

**Urgency**
Important for REST API

[2019-07-30 02:28] haoyuan opened #9590 "REST API Semantics Improvement"
**Is your feature request related to a problem? Please describe.**
Some REST API methods are confusing at the moment. For example:
/paths/{path}/free 
/paths//data/projects/contents/free 

**Describe the solution you'd like**
Improve & update the REST API definition

**Describe alternatives you've considered**
N/A

**Urgency**
Not-urgent

**Additional context**
Thanks Stefan Kuhn for providing thi

[2019-07-30 07:40] apc999 commented on #9171
Addressed in 2.1 snapshot by https://github.com/Alluxio/alluxio/pull/9468

[2019-07-30 07:40] #9171 closed

[2019-07-30 07:43] #8260 closed

[2019-07-30 14:30] #9580 closed

[2019-07-30 15:12] zrss opened #9594 "can generate-tarballs exclude webui"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

tag v2.0.0

webui building cost much time

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative sol

[2019-07-30 15:50] apc999 commented on #9559
hi @zrss  we do have a k8s deploy doc in branch-2.0:
- https://docs.alluxio.io/os/user/2.0/en/deploy/Running-Alluxio-On-Kubernetes.html
- src: https://github.com/Alluxio/alluxio/blob/branch-2.0/docs/en/deploy/Running-Alluxio-On-Kubernetes.md

[2019-07-30 18:22] #9484 closed

[2019-07-30 19:15] yydzhou opened #9599 "csi-driver/provisioner for kubernetes pv/pvc creation."
**Is your feature request related to a problem? Please describe.**
Current Alluxio supports basic usage in kubernetes environment like s3 api or POSIX interface via FUSE. But there is no provisioner/csi-driver that can create pv/pvc of alluxio and make storage transparent to Kubernetes. The gap make current kuberentes users who are using pv/pvc hard to integrate Alluxio into their current deployme

[2019-07-30 22:11] calvinjia commented on #9560
The Alluxio minicluster is intended to be used in testing environments as a mock Alluxio cluster. Therefore the dependencies are included outside of just a test scope.

[2019-07-30 22:21] #9411 closed

[2019-07-30 22:36] #9469 closed

[2019-07-30 22:37] cheyang opened #9606 "Enhance docs of helm chart"
**Is your feature request related to a problem? Please describe.**
v2.0

**Describe the solution you'd like**
Could you enhance the document about helm chart of the alluxio? I think it's better to refer some solutions like[mysql helm chart](https://github.com/helm/charts/tree/master/stable/mysql).

For example, I have no idea about how to handle `format` behavior when using `helm`, and what attrib

[2019-07-31 06:08] #8574 closed

[2019-07-31 07:03] haoyuan opened #9609 "[Doc Improvement] Add / Improve ActiveSync doc"
**Is your feature request related to a problem? Please describe.**
In community channel, ppl asked "Does ActiveSync in Alluxio only support hadoop3+?".

**Describe the solution you'd like**
Add doc for ActiveSync and the doc should have addressed this question.

**Describe alternatives you've considered**
N/A

**Urgency**
Important. Impact user experience.

**Additional context**
https://groups.go

[2019-07-31 08:42] liuhongtong commented on #9552
@apc999 @LuQQiu I found LibFuse of jnr-fuse exposes the fuse_get_context() function, who can get the FuseContext. Then we can get uid and gid from FuseContext. I have check the source code in fuse, FuseContext is shared by fuse.
This clue simplifies this issue immediately.

[2019-07-31 10:28] rblaine95 commented on #9417
Alright, so, I've been debugging this problem for a while now.
This definitely looks like it's a Ceph problem.

It looks like what happens is:
* The data is written to Alluxio, and then asynchronously synchronized to the Ceph S3 UFS via the RGW.
* Somewhere between the RGW and the OSD, something goes wrong.
* I checked the logs of the OSD and the OSD reports that the file exists.
The RGW can't acc

[2019-07-31 10:28] rblaine95 commented on #9417
I'm closing this issue as it appears it's not an Alluxio problem, but is instead a problem with our local Ceph deployment.

[2019-07-31 10:28] #9417 closed

[2019-07-31 14:41] mingfang commented on #9599
I created a CSI for Alluxio https://github.com/mingfang/alluxio-csi

[2019-07-31 17:39] ns1123 commented on #9609
Doc for ActiveSync: https://docs.alluxio.io/os/user/stable/en/advanced/Namespace-Management.html?q=active%20sync#metadata-active-sync-for-hdfs

Needs to be updated with supported HDFS versions

[2019-07-31 17:55] ZacBlanco commented on #9609
It should also specify that users need to set `alluxio.underfs.version` if using a high enough version of HDFS, or else this defaults to 2.2 which doesn't support activesync

[2019-07-31 17:56] ZacBlanco commented on #9609
@haoyuan can you please edit the title of this issue to more accurately reflect the change we are trying to make?

[2019-07-31 20:07] haoyuan opened #9610 "Async flush data to shared data storage takes a lot of time!"
**Is your feature request related to a problem? Please describe.**
In alluxio 2.0, async flush data to shared data storage (Isilon) takes a lot of time!

**Describe the solution you'd like**
Faster async to leverage bandwidth between Alluxio and its UFS fully.

**Describe alternatives you've considered**
Some users are running their own scripts to get this done.

**Urgency**
The sooner the better.

[2019-07-31 20:10] haoyuan opened #9611 "Fail-over takes two minutes, in production, it doesn't work for some users"
**Is your feature request related to a problem? Please describe.**
Fail-over takes two minutes, in production, it doesn't work for some users

**Describe the solution you'd like**
Faster fail-over;

**Describe alternatives you've considered**
N/A

**Urgency**
The sooner the better.

**Additional context**
Thanks @mohammad-ligadata for providing this feedback!

[2019-07-31 20:43] calvinjia commented on #9611
@mohammad-ligadata
Are you using Zookeeper or Alluxio's internal leader election? The fail over timing is mostly related to timeouts which you can tune. Have you already made modifications to properties such as `alluxio.master.embedded.journal.election.timeout` or `alluxio.zookeeper.session.timeout`?

[2019-07-31 20:46] bf8086 commented on #9576
Hi @phenixmzy, Currently to see all the blocks for a particular file, you can click on the file name to get to the page specifically for the file. There you will see a list of the blocks stored in this worker.

Is there a particular reason you need to see block count showing up in the block list page?

[2019-07-31 21:13] haoyuan opened #9613 "Increase Alluxio WebUI Metrics Understandability"
**Is your feature request related to a problem? Please describe.**
In the community, there are ppl asking questions like "What does "Remote Alluxio Read" stand for? The amount of data transferred over the network from a worker to the client (a Remote Cache Hit)?".

**Describe the solution you'd like**
Improve our WebUI or Docs so that people can easily understand the meaning of each metrics.

**De

[2019-07-31 21:55] mohammad-ligadata commented on #9611
Hi Calvin,
let me check with the team and get back to you.

BR,
*Mohammad Hamdan*

On Wed, Jul 31, 2019 at 11:44 PM Calvin Jia <notifications@github.com>
wrote:

--

Notice of Confidentiality:****

The information contained in this
communication is intended solely for the use of the individual or entity to
whom it is addressed and others authorized to receive it.  It may contain
confidential or le

[2019-07-31 23:56] madanadit opened #9615 "Publish k8s helm chart to public repo"
**Is your feature request related to a problem? Please describe.**
Publish Alluxio chart to https://github.com/helm/charts so that there is no requirement to set up own helm repo.

**Describe the solution you'd like**
Contribute to helm repo: https://github.com/helm/charts/blob/master/CONTRIBUTING.md

**Describe alternatives you've considered**

**Urgency**

**Additional context**

[2019-08-01 00:00] madanadit opened #9616 "Parity for helm chart with raw yaml deployment"
**Is your feature request related to a problem? Please describe.**
The current state of the helm chart (at https://github.com/Alluxio/alluxio/tree/master/integration/kubernetes/helm) provides limited configurability for an Alluxio deployment. Some Alluxio features such as tiered storage, and credentials as secret env variables cannot be configured using helm charts as of now.

Helm charts should b

[2019-08-01 00:03] madanadit opened #9617 "Add k8s specs and helm chart for presto + alluxio"
**Is your feature request related to a problem? Please describe.**
Add k8s specs to deploy containers with presto + alluxio together on a k8s cluster.

**Describe the solution you'd like**
Publish docker image + chart to deploy presto and alluxio together.

**Describe alternatives you've considered**

**Urgency**

**Additional context**

[2019-08-01 08:39] pranasblk commented on #9560
Hi,

Not using it at the moment, but code looks good. I'll keep it on my list of
technology to explore.

Regards
Pranas

On Wed., 31 Jul. 2019, 8:12 am Calvin Jia, <notifications@github.com> wrote:

[2019-08-01 13:09] zrss opened #9623 "alluxio.user.file.passive.cache.enabled=true not work"
**Alluxio Version:**
What version of Alluxio are you using?

tag v2.0.0

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional conte

[2019-08-01 13:09] zrss commented on #9623
alluxio-fuse as client

[2019-08-01 17:50] gpang commented on #9610
Hi @mohammad-ligadata , could you provide additional details on this scenario? For example, is there an isolated example where the async-through is slower than the manual scripts? Also, how are the scripts persisting the data to the UFS? Thanks!

[2019-08-01 17:53] gpang commented on #9623
Hi @zrss Thanks for reporting this! Could you fill out all the sections of the bug report?

[2019-08-01 17:54] gpang commented on #9594
@zrss Thanks for this issue! Could you fill out all the sections in the description?

[2019-08-01 18:05] #8850 closed

[2019-08-01 18:06] #8870 closed

[2019-08-01 20:09] ggezer commented on #9231
Some low-level details on this issue:

There will be a new file system implementation called `ShimFileSystem` that could be passed in `fs.***.impl`.

`ShimFileSystem` will simply forward every request to master without doing any URI check. On master, a reverse-lookup will be done against active Alluxio mount points and given URI will be converted on the fly to Alluxio path.

For example:
- Applica

[2019-08-02 00:43] zrss commented on #9623
thx for the reply.

alluxio cluster capacity

[code]

and enable the passive.cache, and we know the data is cached in the `192.168.1.61` node, but the used is still not change when i get the data from `192.168.1.93`

[code]

and the metric report

[code]

[2019-08-02 00:55] zrss commented on #9623
maybe related to # 9459

[2019-08-02 00:56] zrss commented on #9459
i'd like this can be resoled too in k8s

[2019-08-02 00:57] zrss commented on #9442
cc

[2019-08-02 00:58] zrss commented on #9441
cc.

observed the same case with alluxio-fuse in k8s

[2019-08-02 01:00] zrss commented on #9432
cc

[2019-08-02 01:02] zrss commented on #9390
cc. any new on this topic ?

[2019-08-02 01:08] cheyang commented on #9390
Thanks, it can be closed.

[2019-08-02 01:08] #9390 closed

[2019-08-02 02:59] zrss commented on #9003
cc

[2019-08-02 03:51] zrss commented on #9623
enable the debug log level for all

[code]

and find the the local worker (192.168.1.93) receive any read request

[code]

but the remote node `192.168.1.61` does receive it

[code]

[2019-08-02 04:11] puneetjaiswal commented on #9231
We are interested using `Alluxio` with `Presto` but we don't want to point our write path to `AlluxioFS` (since we have thousands of DAGs and changing write path would be very disruptive) which happens mostly via Apache-`Hive/Spark/Flink` as of today.
We are having some workload that run `CTAS` on presto which generates tables in `S3` and queryable by hive as well.
How would the `ShimFileSystem` b

[2019-08-02 23:08] ns1123 opened #9628 "Metrics JSON endpoint not reporting correct UFS metrics"
**Alluxio Version:**
1.8.2

**Describe the bug**
UFS metrics are not reported correctly. When creating two different mount points on the same HDFS cluster, operations on the second mount point are incorrectly reported to the first mount point.

**To Reproduce**
Mount two different directories from an HDFS cluster into the same Alluxio cluster. RunTests on the second mount directory. Check the /met

[2019-08-03 00:39] ns1123 opened #9629 "ACL Check on Mount Table"
**Is your feature request related to a problem? Please describe.**
Currently the 'alluxio fs mount' command returns the entire mount table. This may not be information that should be given to all users.

**Describe the solution you'd like**
When running the 'alluxio fs mount' command, the user should only see the details of a mount point if they have r-x access to the mount.

**Urgency**
Proper ac

[2019-08-03 00:51] apc999 commented on #9623
@madanadit looks like something local worker is not preferred for some reason. Is there any parameters to help the k8s containers?

[2019-08-03 03:49] madanadit commented on #9623
@apc999 will have to debug this further. the fuse container and the worker container would have different hostnames in k8s.

based on this report, my guess is that this might be a code issue and we might need to change the logic in the alluxio fuse client to map container ip to physical host ip ( = worker hostname) when choosing which worker to read from. what could be happening is that the client

[2019-08-03 07:20] apc999 commented on #9623
@madanadit  SG. I updated the priority and shoot for an investigation and possibly a fix in 2.1 release

[2019-08-03 19:13] zrss commented on #9623
thx for the reply, and i also notice that the `Alluxio Local` in metric is always 0, even though i cat the data in the local node `192.168.1.61`

[2019-08-03 23:40] hustnn opened #9631 "Overwrite in HDFS has sync issue when active sync"
**Alluxio Version:**
What version of Alluxio are you using?
2.0

**Describe the bug**
Seems the old files not delete for overwrite in HDFS when using active sync.

Overwrite should be ``CreateEvent`` with ``Overwrite`` flag, I checked the alluxio sync code, not find the logic uses this flag. How the delete old files are implemented ?

[2019-08-04 15:38] zrss commented on #9623
@madanadit, thx for pointing this out, i set the host ip for alluxio-fuse container by (PR: #9635 )

[code]

it works as expect now

[2019-08-04 20:08] ggezer commented on #9611
JFYI, for zookeeper based election, we have below advise for large clusters. Fail-over time will be  2 minutes if it's configured that way.

[2019-08-05 00:54] zrss commented on #9441
#9636

i see the alluxio use `direct_io` for fuse accessing and skip the page cache of OS, and i do some testing, cp from the local is fast than cp from the alluxio, much due to the page cache, can alluxio provide the read-only mode and we can enable page cache for reading from alluxio ?

@apc999 @madanadit

[2019-08-05 08:18] zrss opened #9637 "Alluxio worker keep output this stream error warning"
**Alluxio Version:**
What version of Alluxio are you using?

tag v2.0.0

**Describe the bug**

we launch a python multi process app for reading data from alluxio-fuse, it works at this way

[code]

and the param of `raw_reader_threads` controll the number of processes for reading (data is the index file, like train-data-000, train-data-001, and each process read part of them)

kubectl logs alluxio

[2019-08-05 10:49] mohammad-ligadata commented on #9611
+ @Alaa Monem <a.monem@ligadata.com> , @Doaa Aldaqqa
<d.aldaqqa@ligadata.com>  FYA
BR,
*Mohammad Hamdan*

On Sun, Aug 4, 2019 at 11:08 PM Göktürk Gezer <notifications@github.com>
wrote:

--

Notice of Confidentiality:****

The information contained in this
communication is intended solely for the use of the individual or entity to
whom it is addressed and others authorized to receive it.  It may c

[2019-08-05 15:19] madanadit commented on #9623
Thanks @zrss for pointing this out.

[2019-08-05 15:20] #9623 closed

[2019-08-05 17:27] apc999 commented on #9637
@ggezer @bf8086 can you take a look at the error message and get an opinion if this error message is something fatal or benign?

[2019-08-05 18:08] yuzhu commented on #9631
@hustnn Thank you for trying our new features.  Indeed it seems like the `Overwrite` flag in the `CreateEvent` is not respected right now.  There should be a bug fix for this in the next couple of days.

[2019-08-05 18:19] bf8086 commented on #9637
This is common when gRPC server receives messages belongs to a closed channel due to stream cancellation. It can be safely ignored.

[2019-08-05 20:00] ZacBlanco commented on #9637
This is a common issue with gRPC being a bit too noisy with its logs. Relevant issue related on Github:

https://github.com/grpc/grpc-java/issues/4651

[2019-08-05 22:07] ns1123 commented on #9594
@zrss Currently, generate-tarballs is used to bundle Alluxio binaries into a full release for end-users. For this reason, it wouldn't make sense to remove the webui as part of this build. Internally it runs this command with some added profiles.

mvn -T 2C -am clean install -DskipTests -Dfindbugs.skip -Dmaven.javadoc.skip -Dcheckstyle.skip

If you want to skip building the web-ui, I would add "-pl

[2019-08-05 23:51] bf8086 opened #9647 "Improve object store persist performance by avoid extra rename"
**Is your feature request related to a problem? Please describe.**
#9417 shows that a persist job on object store write to a temporary file first and the rename it. This is inefficient as object store rename is basically a copy and delete.

**Describe the solution you'd like**
Optimize the persist job so it will write to the final file on UFS directly for object stores.

**Describe alternatives yo

[2019-08-06 00:18] apc999 commented on #9637
It seems that we have already disabled the logging messages from `io.grpc.netty.NettyServerHandle`
[`log4j.logger.io.grpc.netty.NettyServerHandler=OFF`](https://github.com/Alluxio/alluxio/blob/master/conf/log4j.properties#L174),

@zrss do you see above line from your worker container at `$ALLUXIO_HOME/conf/log4j.properties`?

[2019-08-06 00:41] zrss commented on #9637
thx for the reply. i do see this line in log4j.properties in the last line of worker's log conf ...

[code]

[2019-08-06 00:47] zrss commented on #9594
thx ns1123. we deploy the alluxio by container in k8s, or could we give a doc about building a docker image of alluxio after the mvn building ?

currently, i just see the `generate-tarballs` can build a tarball in a convenient way then untar this tarball to docker image for image building

[2019-08-06 09:29] sunny19930321 opened #9648 "startSync failed"
ALLUXIO ENVIRONMENT:
(1) ALLUXIO 2.0.0
(2) HADOOP-2.8.2(HDFS)
(3) JAVA 1.8
bin/alluxio fs startSync /syncdir

 ActiveSyncManager - Fatal error: Failed to apply syncpoint_path: "/syncdir"
Does anybody know why？

[2019-08-06 09:45] sunny19930321 commented on #9648
java.lang.RuntimeException: mountId for the syncPoint /user/liyang28 not found in the filterMap
        at alluxio.master.file.activesync.ActiveSyncManager.apply(ActiveSyncManager.java:427)
        at alluxio.master.file.activesync.ActiveSyncManager.applyAndJournal(ActiveSyncManager.java:256)
        at alluxio.master.file.DefaultFileSystemMaster.startSyncAndJournal(DefaultFileSystemMaster.java:37

[2019-08-06 16:52] apc999 opened #9649 "NoSuchMethodError in when using alluxio-yarn.sh script"
**Alluxio Version:**
2.0.0

**Describe the bug**

`NoSuchMethodError` is thrown on running alluxio yarn integration, as following:

![image](https://user-images.githubusercontent.com/1413748/62559372-b6b80e00-b82f-11e9-9830-023927b83da1.png)

This is an issue reported from the community slack channel at https://alluxio-community.slack.com/archives/CEXGGUBDK/p1565059786138400

**To Reproduce**

**E

[2019-08-06 16:58] ZacBlanco commented on #9648
Hi @sunny19930321

We please ask that you fill out the standard template when submitting issues.

Could you also share your `alluxio-site.properties` configuration?

[2019-08-06 18:24] venukolluri opened #9651 "alluxio 2.0.0 browse?path not working"
alluxio 2.0.0 browse?path not working for a path (mounted hdfs) with more files (300+).  I can browse directories with less files,

Thanks,
Venu

[2019-08-06 18:30] calvinjia commented on #9651
@venukolluri Could you provide some more details such as how the page doesn't work (500 error or page just doesn't load) and if there are any other special characteristics aside from the number of files in the directory?

Does the path you are browsing have special characters (ie `=`)? If so, it could be related to https://github.com/Alluxio/alluxio/pull/9473

[2019-08-06 18:42] venukolluri commented on #9651
yes calvin, path is /mnt/hdfs/emr/test/year=2016/.....

[2019-08-06 18:44] calvinjia commented on #9651
This is a known issue which will be addressed in 2.0.1.
In the meanwhile you can use the CLI to list the directory (`bin/alluxio fs ls`). Alternatively you could build 2.0.1-SNAPSHOT from `branch-2.0` which already has the fix.

[2019-08-06 18:45] venukolluri commented on #9651
Great, Thanks Calvin. Do you've release date for 2.0.1?

[2019-08-06 19:21] calvinjia commented on #9651
2.0.1 will most likely be released this month (August).

[2019-08-06 19:22] #9651 closed

[2019-08-06 20:42] ZacBlanco commented on #9649
@apc999 not everyone reading this will have access to that slack link. Can you please put more details in the issue description?

[2019-08-06 21:15] ns1123 commented on #9594
@zrss I've raised a PR for your change. I'm not sure if it will get accepted, but if not, you can checkout the file from my repo and add the flag for skipping the webui stage. Testing shows that the flag shaves off 2 minutes from the build time.

[2019-08-07 00:16] ns1123 opened #9658 "Failover Triggers an NPE because threads aren't shutdown correctly"
**Alluxio Version:**
1.8.1

**Describe the bug**
When Alluxio is set up to use ZooKeeper for leadership election, during a failover we see the following error message.

2019-08-04 01:30:25,058 INFO  UfsJournalReader - Reading journal file hdfs://hanameservice:8020/alluxio/journal/LicenseMaster/v1/logs/0xd1-0xd2.
2019-08-04 01:30:25,070 INFO  UfsJournalReader - Reading journal file hdfs://hanameser

[2019-08-07 00:33] zrss commented on #9594
oh thx @ns1123  ~ i can borrow your mind and apply to my local alluxio

[2019-08-07 00:59] ns1123 commented on #9594
Glad to help :) If this solves your problem, remember to close this issue.

[2019-08-07 01:53] sunny19930321 commented on #9648
Yes, I did not submit the question according to the template. Now I submit the following question again

[2019-08-07 03:02] rastogiasr commented on #9490
@dborkar - please make sure you have reviewed this ticket and the are ok with it. May want to talk to Alex about it.

[2019-08-07 04:09] Bruce2jiang opened #9659 "how monitor alluxio？"
how monitor  alluxio？

[2019-08-07 04:09] Bruce2jiang commented on #9659
How to monitor alluxio

[2019-08-07 04:19] ggezer commented on #9658
Apparently there is a bug in the way we shut down our masters. In `AbstractMaster.stop()`, `shutdownNow` is called where `shutdown` should have been called. This causes following `awaitTermination` to be a no-op and there could always remain tasks that are executing after shutdown. This has nothing to do with Zookeeper as any master that restarts quickly will likely to encounter this or similar is

[2019-08-07 13:24] haoyuan commented on #9609
@ZacBlanco updated.

[2019-08-07 17:54] #9294 closed

[2019-08-07 17:54] #9295 closed

[2019-08-07 18:06] #9594 closed

[2019-08-07 18:37] apc999 opened #9661 "Hiding Proto-based File System options from Client-side public APIs"
**Summary**

In 2.0, Protobuf-based File System Options are
[code]
compared to original client-side API in 1.x:
[code]
The difference is `CreateFilePOptions` is auto-generated by Protobuf whereas `CreateFileOptions` is created by us.

Having one unified way to present options has certain advantages, but also leads to some limitations, including:
- hard to reason what fields are available to get an

[2019-08-07 18:39] venukolluri opened #9662 "Return to Master link not working from worker webui"
**Alluxio Version:**
2.0.0

**Describe the bug**
'Return to Master' link not working from worker node webui

**Expected behavior**
Should navigate to Master webui

Thanks,
Venu

[2019-08-07 19:31] #9449 closed

[2019-08-07 19:41] ZacBlanco commented on #9662
@venukolluri Can you please describe the issue with more detail? What kind of deployment are you using? We will need more information to reproduce.

When I run Alluxio locally and navigate to+from the master and worker UI, I am having no issues.

[2019-08-07 19:44] ZacBlanco commented on #9659
Hi @Bruce2jiang, You'll need to be a little more specific with your question. Can you please follow one of our corresponding templates, and add information about what exactly you mean by "monitor Alluxio"?

Have you tried looking for an answer at https://docs.alluxio.io?

[2019-08-07 19:53] venukolluri commented on #9662
@ZacBlanco  - I'm running alluxio in master/worker mode in AWS EMR , started alluxio master in emr master node and worker in EMR core node.

'Return to Master' from worker webui its not working, looks like it's trying to open alluxio master webui with worker node hostname

[2019-08-07 20:03] ZacBlanco commented on #9662
Did you follow the instruction in: https://docs.alluxio.io/os/user/stable/en/compute/AWS-EMR.html?

[2019-08-07 20:08] venukolluri commented on #9662
yes, no issues with alluxio setup. it's working. only 'Return to Master' not working...

[2019-08-07 20:58] ZacBlanco commented on #9662
Thanks for letting me know. I'll see if I can reproduce.

[2019-08-07 22:52] ns1123 commented on #9662
@venukolluri How are you getting to the Alluxio Worker WebUI? Are you providing the public IP address? The links are all based on internal EC2 hostnames. One way to get this to work is to map the internal hostnames to the external IP addresses in your /etc/hosts file (on Linux/Mac).

[2019-08-07 22:57] yuzhu commented on #9410
Hi @FrankYu , I was not able to reproduce this error on my side. Could you try the exact same configuration with `dirs.path` set to a single value? does the same error occur?

[2019-08-07 23:01] rastogiasr commented on #9637
Resolved, this message is from gRPC lib

[2019-08-07 23:01] #9637 closed

[2019-08-08 00:46] cheyang opened #9666 "worker crash when copying the data to local"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**
Creating a large file which is more than than size of cache layer.Setting the file in alluxio as pin, then run `copyToLocal`. The worker is crash

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)
1. Create the master and worker with docker

[code]

2. jump into the worker, create a file which is 2048

[2019-08-08 03:00] madanadit commented on #9666
@cheyang Thanks for reporting the issue! Can you please also post the contents of `/opt/alluxio-2.1.0-SNAPSHOT/hs_err_pid253.log`?

[2019-08-08 05:50] cheyang commented on #9666
[hs_err_pid253.log](https://github.com/Alluxio/alluxio/files/3480022/hs_err_pid253.log)

[2019-08-08 06:38] apc999 commented on #9666
currently this is not supported, but the expected behavior is failed write, rather than worker crash. We should definitely debug and fix the crash issue

[2019-08-08 07:01] apc999 commented on #9560
@pranasblk `curator-test` is needed in this module as this Alluxio Minicluster is supposed to be used as a mock in other Alluxio tests as well as external projects. Thus it is depended on compile scope currently.

but @calvinjia in the same pom, depending on the `junit` on compile scope is unnecessary and `powermock-reflect` can be relatively easily worked around too (only one method is using it).

[2019-08-08 07:01] #9560 closed

[2019-08-08 08:17] cheyang commented on #9666
The dump file is about 36MB, if you let me know where I can put the core dump. I can help to upload.

[2019-08-08 18:00] apc999 opened #9669 "Revisit and improve server stop process to close resource safely and cleanly"
**Summary**

Tech debt: we are seeing a few NPE issues around incorrect handling to clean up resource (e.g., threads) due to early or unexpected stop, including:

https://github.com/Alluxio/alluxio/issues/9411
https://github.com/Alluxio/alluxio/issues/9658

**Urgency**
Low for now, as it seems okay if we are solving issues individually.

If we are seeing more this type of issues, I will raise the

[2019-08-08 20:34] jiacheliu3 commented on #9398
Original reported [issue](https://groups.google.com/forum/#!topic/alluxio-users/TcInse1vblc)

Not able to reproduce the issue as described. Pending on the reporter's response for more details. This issue will be closed if no user response in a period of time.

[2019-08-08 21:09] madanadit commented on #9616
Features that should be included:
- tiered storage
- secrets such as aws credentials as env variables
- arbitrary JAVA_OPTS for different process types
- choice b/w daemonset or replicaset for alluxio workers

[2019-08-08 21:10] madanadit commented on #9615
In addition, we might consider publish SNAPSHOT charts on a nightly basis

[2019-08-08 21:19] madanadit opened #9671 "Add docs for running Tensorflow / other ML frameworks on k8s"
**Is your feature request related to a problem? Please describe.**
Improve k8s documentation by providing guidelines for running a framework like Tensorflow on Alluxio in k8s.

**Describe the solution you'd like**
Add a documentation page for ML frameworks on k8s with recommendations such as using the POSIX FUSE API and common pitfalls / configuration options.

**Describe alternatives you've consi

[2019-08-08 21:22] apc999 commented on #9474
@madanadit has his PR https://github.com/Alluxio/alluxio/pull/7574 fixed this issue already?

[2019-08-08 21:26] madanadit opened #9672 "Add documentation for upgrade / update workflows in k8s"
**Is your feature request related to a problem? Please describe.**
Add documentation for safely upgrading version or updating configuration w/o losing metadata / data or interruption in a K8s env.

**Describe the solution you'd like**
Documentation changes for both helm and native specification deployment.

**Describe alternatives you've considered**
N/A

**Urgency**
Low

**Additional context**
N/

[2019-08-08 21:31] calvinjia opened #9673 "Implement a fast CLI"
**Is your feature request related to a problem? Please describe.**
The Alluxio CLI (ie. `bin/alluxio fs`) is very slow (~1s+ response times).

**Describe the solution you'd like**
A faster Alluxio CLI (<100ms response times)

**Urgency**
Not urgent

**Additional context**
We could use the rest interface but that has a dependency on the proxy.

[2019-08-08 22:37] #9545 closed

[2019-08-08 22:55] ns1123 commented on #9231
@puneetjaiswal in the case of Presto, there are some specific limitations. Presto hardcodes the 'fs.s3.impl' property based on the 'hive.s3-file-system-type' property on the Hive connector. This property only allows for two possible values: EMRFS and PRESTO. Due to this, there is no entrypoint for users to specify that s3:// schemes should be read using the alluxio.hadoop.ShimFileSystem classes. Y

[2019-08-08 23:41] #9442 closed

[2019-08-09 00:38] calvinjia commented on #9442
@zrss The issue should be fixed with #9652 , this fix will be included in the next patch release, 2.0.1

[2019-08-09 18:03] calvinjia opened #9679 "Handle interrupt exceptions consistently in the codebase"
**Summary**
Interrupt exceptions are handled in different ways throughout the codebase, some of which are not following best practice which can lead to bugs or unexpected behavior.

Define a convention for handling them and apply this to the codebase. Ideally add static analysis to ensure the conventions are adhered to.

For example, if an interrupt is logical as part of the operation, propagate t

[2019-08-09 19:37] madanadit commented on #9599
@mingfang Would you like to migrate the csi plugin to the alluxio repository and add documentation? we can create a dir called `csi` under https://github.com/Alluxio/alluxio/tree/master/integration/kubernetes. I'll be more than happy to help push the PR. Thanks for your contribution!

[2019-08-09 20:18] mingfang commented on #9599
@madanadit Yes let's do it.

[2019-08-09 21:04] madanadit commented on #9599
@mingfang Great! Would you like to create the PR and I can help get it in? Let me know what works for you.

[2019-08-09 21:26] #9441 closed

[2019-08-09 21:28] madanadit commented on #9354
The issue should be fixed with #9652.

[2019-08-09 21:28] #9354 closed

[2019-08-10 00:39] niyue opened #9687 "alluxio format reports error in getting started guide"
**Alluxio Version:**
2.0.0

**Describe the bug**
It is probably a bug for documentation. In the getting started page (https://docs.alluxio.io/os/user/stable/en/Getting-Started.html), it asks users to run `./bin/alluxio format`, however, an error was reported like below in `alluxio-2.0.0/logs/task.log`:
[code]

**To Reproduce**
1) macOS 10.14.5
2) first time Alluxio user
3) follow the quick start g

[2019-08-10 08:37] niyue opened #9688 "Website documentation search doesn't use the "edition" search criteria"
**Alluxio Version:**
2.0.0

**Describe the bug**
Website documentation search result could hide enterprise edition documentation if community edition is selected in the search criteria.
Currently the edition criteria doesn't seem to work, and people may not notice the edition change after searching. This may be misleading sometimes, and users may get confused how to proceed when seeing some enterp

[2019-08-10 12:15] mavencode01 opened #9689 "Permission issue writing to s3 bucket on EMR"
**Alluxio Version:**
What version of Alluxio are you using?
2.0.0

**Describe the bug**
Permission denied writing to s3 bucket with Alluxio on EMR using provided bootstrap script
`alluxio-emr.sh`.
Without alluxio, the spark job was able to successfully read and write to the s3 bucket.

However, we are getting permission denied when we try to write with alluxio.

Exception:

[code]

We even try add

[2019-08-10 14:16] mavencode01 commented on #9689
On the master nodes, I'm able to list the directory at the mount point but not below it.

[code]

List subdirectory failed.
[code]

[2019-08-10 23:00] apc999 commented on #9689
hi @mavencode01  thanks for reporting the issue. It looks like the owner of S3 bucket is not correctly mapped as file system users. Can you run

[code]
also can you post your alluxio-site.properties (with your credential masked of coz)? I would like to see what else properties you have used

[2019-08-10 23:01] apc999 commented on #9688
@Xenorith some feedback from users on the search function

[2019-08-10 23:33] apc999 opened #9691 "Improved the structure of Alluxio CLI commands"
**Is your feature request related to a problem? Please describe.**

Reorganize Alluxio CLI to implement the CLI style to Git or Brew using subcommands with very few entry points, rather than exposing too many separate scripts for users to start

**Describe the solution you'd like**
This is initial idea regarding the new structure. We can iterate from here:

- Use `bin/alluxio` as the top level ent

[2019-08-12 20:50] calvinjia opened #9698 "Improve ufs journal reader buffer usage"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**
We allocate unnecessary buffers when parsing JournalEntries through the UFS journal reader.

**To Reproduce**
Switch journal type to UFS and read a journal.

**Expected behavior**
We use 1 buffer per Journal reader that expands on demand.

**Urgency**
Medium, this can cause us to allocate many more objects which can be problematic if the jo

[2019-08-12 22:28] #9698 closed

[2019-08-12 23:24] yuzhu opened #9705 "getStatus of a specific file following a listStatus on the parent may trigger unnecessary syncMetadata"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**
with the default configuration, after `listStatus(/parent)`,
`getStatus(/parent/file1)` should not trigger a call to`syncMetadata`. but currently it does because the `ufsSyncPathCache` caches the parent directory, but we check for exact match `/parent/file1` and we won't be able to find the exact match in our cache

**To Reproduce**
see abo

[2019-08-12 23:26] yuzhu commented on #9705
@liuzx32 @gpang filed an issue to track the bug we discussed yesterday / today.

[2019-08-12 23:27] yuzhu commented on #9705
@apc999 FYI

[2019-08-12 23:43] apc999 commented on #9705
will this also affect 2.0 branch or 1.8 branch too?

[2019-08-12 23:44] yuzhu commented on #9705
@apc999 yes, it affects both 2.0 and 1.8

[2019-08-13 00:10] ns1123 opened #9707 "Remove duplicated property alluxio.worker.memory.size"
**Alluxio Version:**
2.0.0

**Describe the bug**
When alluxio.worker.memory.size is specified alongside alluxio.worker.tieredstore.level0.dirs.quota, the first value specified in the quota is ignored.

**To Reproduce**
Set the two above properties to different values. Worker will fail to start since the size check will be done against alluxio.worker.memory.size instead of the first number in quota

[2019-08-13 00:34] apc999 opened #9708 "Unify the terms related to Short-Circuit reads/writes"
**Summary**
A few different places:
In WebUI, they are treated as exclusive metrics:

[code]

In output from `fsadmin report metrics`, it is not clearn

[code]

In the description of property key `alluxio.worker.data.server.domain.socket.address` [link](
https://github.com/Alluxio/alluxio/blob/b7a3878f6021518e70c5ebbd9dee4a681bbd33e9/core/common/src/main/java/alluxio/conf/PropertyKey.java#L1994),

[2019-08-13 01:10] #9658 closed

[2019-08-13 01:13] mingfang commented on #9599
@madanadit The CSI is written in Golang. It's better for it to be on its own repo, e.g. Alluxio/alluxio-csi

[2019-08-13 01:21] apc999 commented on #9687
@niyue  `./bin/alluxio format` is not actually required if one runs `./bin/alluxio-start.sh local SudoMount`. I will update the documentation.

[2019-08-13 01:54] ZacBlanco commented on #9688
@apc999

This was an internal ask from the team to combine search functions. It is not a bug. I do not expect that we will change this behavior.

I've asked previously to designate which search results are EE/OS but I don't think we'll be doing that any time soon

[2019-08-13 03:01] cheyang opened #9712 "Suggest Alluxio does determine format intellgiently"
**Problem Summary:**

When running alluxio in Kubernetes, if using `/entrypoint.sh master format` to start alluxio master. There is a highly potential risk to format the meta data the journal disk when alluxio master is restarted.

But when using `/entrypoint.sh master --no-format` ,  the user has to run `alluxio formatMaster` before starting the alluxio master. I think it's not a good user experi

[2019-08-13 04:11] apc999 commented on #9687
I plan to fix this issue together with https://github.com/Alluxio/alluxio/issues/9712

[2019-08-13 04:56] madanadit commented on #9599
Thanks for the suggestion @mingfang. Let me circulate this idea with our go experts and revert

[2019-08-13 16:48] ZacBlanco commented on #9707
Does the ordering of these values in `alluxio-site.properties` affect the result?

[2019-08-13 17:30] bf8086 opened #9716 "Tune JVM parameters to improve GC behavior in Alluxio"
**Is your feature request related to a problem? Please describe.**
Alluxio servers can use a lot of JVM memories and GCs (especially full GCs) can be rather expensive and result in high latencies in handling request and communications with other services. We should look into setting various JVM properties to improve the GC behavior and reduce the latencies.

**Describe the solution you'd like**
Se

[2019-08-13 17:39] gpang commented on #9691
I think this would make it easier to understand the operations as well as maintain the code. I'd also propose that most of the CLI functionality get moved into non-shell code, instead of all the shell scripting that exists today.

[2019-08-13 19:08] #9389 closed

[2019-08-13 19:31] #9448 closed

[2019-08-14 07:41] Taccart opened #9720 "Mount by configuration"
**Is your feature request related to a problem? Please describe.**
Today, to mount fs, I need to use command line interface (alluxio fs mount...)
I would like to be able to have an automated mount at startup (at end of start up sequence).

**Describe the solution you'd like**
I would like to define mounts settings in configuration so that when my Alluxio starts,
1/ it's fully pre-configured and no

[2019-08-14 14:38] gpang commented on #9279
This was an issue with worker registration. This was fixed by this PR: https://github.com/Alluxio/alluxio/pull/9517

[2019-08-14 14:38] gpang commented on #9410
This occurs when the worker is not formatted and has left over blocks when starting. This was fixed by this PR: https://github.com/Alluxio/alluxio/pull/9517

[2019-08-14 17:47] rastogiasr commented on #9712
Bin will handle this issue.

[2019-08-14 17:54] #8560 closed

[2019-08-14 18:13] calvinjia opened #9722 "Address edge cases in UFS journal recovery in case of UFS failure"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**
When we fail to flush journal entries to the UFS, our internal state may become out of sync with the external journal files if using UFS journal.

**To Reproduce**
Fail to flush to the UFS and then successfully flush to the UFS.

**Expected behavior**
The journal files are repaired and operation resumes as usual after the UFS is available.

[2019-08-14 18:15] ns1123 commented on #9689
@mavencode01 are you sure the id-mapping you provide is correct? I would expect the files listed in the underlying paths to have an owner and group of hadoop. The ID should match the credentials that Alluxio uses to talk to S3. This could be your Accesss_Key and Secret_Key pair or your IAM instance profile attached to the EC2 instances.

[2019-08-14 18:25] mavencode01 commented on #9689
Seems to be impersonation issue. I was able to resolve the issue by adding these to my `alluxio.properties`

[code]

[2019-08-14 18:34] gpang commented on #9410
This is the related issue: #9501

[2019-08-14 18:38] #9722 closed

[2019-08-14 20:13] ns1123 commented on #9689
@mavencode01 the added impersonation that you have configured is actually not doing anything. The only property that is making the change is the last one 'alluxio.security.authorization.permission.enabled=false' which basically turns off all authorization checks by the Alluxio master. This is generally okay for EMR since the expectation is that these clusters aren't meant to be multi-tenant, but I

[2019-08-14 21:03] mavencode01 commented on #9689
Thanks for pointing that out @ns1123  We have all the ports locked down and the EMR cluster get shutdown after all the EMR steps are completed so is not a major issue right now.

[2019-08-14 22:12] #9410 closed

[2019-08-14 22:15] gpang commented on #9345
@FrankYu Could you provide more details for a small example on how to reproduce this issue? Thanks!

[2019-08-14 22:16] #9117 closed

[2019-08-14 22:24] #8356 closed

[2019-08-14 22:25] ns1123 commented on #8356
This was closed in 2.0.0

[2019-08-14 22:51] #9689 closed

[2019-08-14 23:49] bf8086 opened #9730 "Add doc section for tuning GC"
**Is your feature request related to a problem? Please describe.**
User can run into long full GCs that will cause various problem including fail over or connection loss. We should add a document section to explain how to tune GC parameters.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and con

[2019-08-16 01:50] phenixmzy commented on #9576
Hi @bf8086
I want to see block count showing up in the block list page because i want kown about
 the blocks distributed  on this worker.
Personally, I think this will make it clearer.

[2019-08-16 02:03] phenixmzy commented on #9576
I see column（in-MEM ）showing up 100%  of the list page for the first time，would think all the blocks on this worker.
When i click the file to detail page show not all blocks.

[2019-08-16 16:23] #9493 closed

[2019-08-16 17:57] ggezer opened #9739 "TTL buckets are not updated upon removal of an inode"
**Alluxio Version:**
2.0+

**Describe the bug**
TTL buckets are not updated upon removal of an inode. This leaves stale entries in TTL buckets until they are purged by the TTL checker.

**Expected behavior**
TTL buckets should be kept in sync with inode tree state.

**Additional context**
In a high churn-rate workload where files are created and deleted, failure to find these stale entries dominat

[2019-08-16 18:13] ZacBlanco opened #9740 "Some Java options may cause Alluxio to not start"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**

Recently a new script `./bin/launch-process` was added which offloads the actual launching of Alluxio processes from `./bin/alluxio-start.sh`. Within `launch-process` there is a `contains` function which checks whether the java options contain a specific argument. The options that are checked vary from process to process.

However, in the

[2019-08-16 20:26] gpang commented on #9740
yeah, this will affect of the options detected in java opt env variables.

[2019-08-16 20:30] gpang commented on #9691
I think this would make it easier to understand the operations as well as maintain the code. I'd also propose that most of the CLI functionality get moved into non-shell code to take advantage of command-line libraries, instead of all the shell scripting that exists today.

[2019-08-16 20:59] #9518 closed

[2019-08-19 10:19] liuhongtong opened #9742 "Fix inconsistent owner of file in Alluxio and HDFS"
**Alluxio Version:**
2.0

**Describe the bug**
alluxio.user.file.writetype.default=CACHE_THROUGH
alluxio.security.login.impersonation.username=_HDFS_USER_
A new file‘s owner in Alluxio will be CurrentUser in UerGroupInformation,
but the file's owner in HDFS will be User in UerGroupInformation.

[2019-08-19 10:51] hustnn commented on #9631
@yuzhu Thanks.

[2019-08-19 11:55] realknorke opened #9744 "Wrong "ps" parameter in start/stop scripts when using alpine based docker image"
In file **$ALLUXIO_HOME/bin/alluxio** in line 83 the call **ps -Aww** fails because busybox doesn't know the 'w' flag.
busybox is used when the environment is alpine (docker image!)

I suggest using pgrep instead of parsing the output of ps like this:

replace

`for pid in $(ps -Aww -o pid,command | grep -i "[j]ava" | grep ${keyword} | awk '{print $1}'); do`

with

`for pid in $(pgrep -f "[j]ava.*

[2019-08-19 13:29] Taccart opened #9745 "Alluxio client should allow multiple alluxion configurations"
**Is your feature request related to a problem? Please describe.**
In Alluxio (2.0.0) the configuration of Alluxio client is passed thru configuration file or environment variables, which forbids setting different policies for different actions in an application.

**Describe the solution you'd like**
I would like to be able to set, on client side, a MUST_CACHE, CACHE_THRU or ASYNC_THRU... policy w

[2019-08-19 16:45] ZacBlanco commented on #9745
Hi @Taccart

From my understanding, you want to set arbitrary properties on the same cluster (i.e. WriteType) depending on the path you write to. We do have something that may be able to support your need through [`pathConf`](https://docs.alluxio.io/os/user/stable/en/operation/Admin-CLI.html#pathconf). This command allows you to set arbitrary properties based on the destination your application wr

[2019-08-19 16:47] ZacBlanco commented on #9744
@realknorke We kindly ask you to follow our bug template supplied when you create the issue

[2019-08-19 17:01] ZacBlanco commented on #9744
Additionally, with respect to the proposed solution; while `pgrep` may be available in busybox, I don't think it as portable as `ps`.

`ps` is a command defined in the UNIX specification: http://pubs.opengroup.org/onlinepubs/7990989775/xcuix.html

The actual command specification can be found here: http://pubs.opengroup.org/onlinepubs/7990989775/xcu/ps.html

I think it would be most portable if we

[2019-08-19 20:46] #9740 closed

[2019-08-20 08:12] realknorke commented on #9744
Sorry, @ZacBlanco, I could not find a template. There is no pinned issue showing a template nor could I find an example under https://docs.alluxio.io/os/user/stable/en/contributor/Contributor-Getting-Started.html

**Alluxio Version:**
2.0

**Describe the bug**
In file $ALLUXIO_HOME/bin/alluxio in line 83 the call ps -Aww fails because busybox doesn't know the 'w' flag.
busybox is used when the env

[2019-08-20 16:35] ZacBlanco commented on #9744
Thanks for the detailed response! Discussion like this is a good thing, no flaming necessary :)

1) I agree that since we maintain the environment that we can be picky about what tools we use, that being said the `ps -Aww` line exists in our `./bin/alluxio` script with which I can tell you with 99% certainty is currently used more outside of containers than inside of them.

Because of that, we nee

[2019-08-20 16:58] ZacBlanco commented on #9744
After selecting the "New Issue" button on github, you should be prompted for 3 different types of tickets, and based on the one you select it should auto-fill a template. Otherwise, they can be found here: https://github.com/Alluxio/alluxio/blob/master/.github/ISSUE_TEMPLATE/bug_report.md - No worries though

Thanks for the detailed response! Discussion like this is a good thing, no flaming necess

[2019-08-20 17:25] ZacBlanco commented on #9744
Here's my propose solution btw:

My MacOS BSD command manual has

[code]

The man for `ps` on Ubuntu 18.04 has:

[code]

In the BSD manual they specify that if we are sending output to something other than a tty, the width will always be unlimited. Unfortunately, the man page from Ubuntu doesn't specify anything about that behavior, however upon some manual testing I found that it follows the exac

[2019-08-20 19:13] madanadit opened #9751 "UfsJournal ignores unrecognized journal entries"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**
An unrecognized journal entry is simply ignored.

**To Reproduce**
- Write a journal entry newly added in v2.x
- Read journal from v2.y < v2.x
- Master starts up successfully

**Expected behavior**
Master should crash with `IllegalStateException` as a journal entry was unrecognized

**Urgency**
Medium, this an an early detection of journal

[2019-08-20 19:28] gpang commented on #9751
`UfsJournal` did/does not need the `JournalAssociation` method, since each master reads its own journal files, so all those entries are known to belong to the that specific master.

[2019-08-20 19:31] gpang commented on #9751
https://github.com/Alluxio/alluxio/blob/master/core/server/common/src/main/java/alluxio/master/journal/ufs/UfsJournalCheckpointThread.java#L178 ignores the return value, which should signify if the master recognizes the entry or not.

[2019-08-20 19:37] ZacBlanco commented on #9744
So before getting any change in I decided to do a bit more reading:

First, I went and read [the spec for `ps`](http://pubs.opengroup.org/onlinepubs/7990989775/xcu/ps.html) again:

Under the formatting for the `COMMAND` (or args) column it reads

So right off the bat, our script depends on the implementation dependent behavior of `ps` that isn't specified in the standard.

Next, in the [Ubuntu man

[2019-08-20 20:08] ZacBlanco commented on #9744
So before getting any change in I decided to do a bit more reading:

First, I went and read [the spec for `ps`](http://pubs.opengroup.org/onlinepubs/7990989775/xcu/ps.html) again:

Under the formatting for the `COMMAND` (or args) column it reads

So right off the bat, our script depends on the implementation dependent behavior of `ps` that isn't specified in the standard.

Next, in the [Ubuntu man

[2019-08-20 20:20] yuzhu commented on #9631
@hustnn Could you describe the exact steps you performed to reproduce the error?
Although we do not handle overwrite specifically, our syncmetadata routine checks for deleted files as well as overwritten files. So in my experiment, when I deleted a file or overwrote a file, the file change got synced to Alluxio as expected.

[2019-08-20 20:26] ns1123 opened #9753 "Update default HDFS client version to 2.7"
**Is your feature request related to a problem? Please describe.**
Default HDFS UFS client version is 2.2. Unfortunately, for kerberized clusters, 2.2 lacks some of the newer syntax support for auth_to_local.

**Describe the solution you'd like**
2.2 is pretty old and 2.7 would be a better default version. 2.2 could still be used by specifying version

**Describe alternatives you've considered**
A

[2019-08-20 20:27] ns1123 commented on #9753
@apc999 let me know your thoughts. The change is a one liner that I can make quickly.

[2019-08-20 22:46] yuzhu commented on #9609
Fixed in #9756

[2019-08-21 02:02] rastogiasr commented on #9559
Assigned sections for docs update, please take a look at update docs as you get time

[2019-08-21 02:19] #8423 closed

[2019-08-21 07:15] realknorke commented on #9744
@ZacBlanco I'm using Alluxio on Kubernetes. And as Alluxio seems not to catch (and handle) Signal15 the termination is really slow (and hard because after a timeout SIGKILL will shutdown the processes hard).

Therefore I tried to use a shutdown hook where kubernetes sends a (user defined) shutdown command before it fires the SIGTERM. In my case kubernetes called the shutdown script with the `local

[2019-08-21 07:23] realknorke commented on #9744
I know how I could bypass the template. I was not signed in into github when I clicked on the NEW ISSUE button. Now the login process starts and I clicked on the SIGN IN on the upper right corner of the webpage. After that I was forwarded to an empty new issue form. :)

Now I know how to do better the next time. :)

[2019-08-21 08:11] hustnn commented on #9631
We use using Spark to do the overwrite like `df.write.mode(SaveMode.Overwrite).parquet(path)`

[2019-08-21 13:18] cheyang opened #9760 "Failed to use RocksDB in docker"
**Alluxio Version:**

2.1.0-SNAPSHOT

**Describe the bug**
Follow the guide: https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Docker.html  ,and try to change metadata store from `HEAP` to `RocksDB`.

[code]

The logs  show:

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of

[2019-08-21 13:36] cheyang opened #9761 "Failed to use RocksDB in Kubernetes"
**Alluxio Version:**

2.1.0-SNAPSHOT

**Describe the bug**

Change `HEAP` to `ROCKSDB` in the Kubernetes cluster. I'm able to see the erros:

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional co

[2019-08-21 16:48] ZacBlanco commented on #9744
Ah, interesting. I wasn't aware that users could create a new issue without being signed in. The fact it doesn't prompt any of our templates seems like a bug to me. Thanks for the info!

Maybe we should try to have our bot enforce the templates....

[2019-08-21 17:29] ZacBlanco commented on #9760
@madanadit This looks like an issue with setting the network TTL cache. I believe it is unrelated to RocksDB

https://github.com/Alluxio/alluxio/blob/master/integration/docker/entrypoint.sh#L80-L82

[2019-08-21 17:45] madanadit commented on #9760
hi @cheyang the default user in the image is `alluxio` please run as `root` using the `--user` option. i'll fix the image.

[2019-08-21 17:46] ZacBlanco commented on #9760
I feel like this is something that should be done as part of the container build process rather than the entrypoint

[2019-08-21 18:05] apc999 commented on #9760
is the documentation in master branch is still up to date @madanadit ?

[2019-08-21 18:17] madanadit commented on #9760
@apc999 the documentation is broken right now. is created a PR to fix this issue.

[2019-08-21 19:47] #9760 closed

[2019-08-21 20:58] LuQQiu commented on #9432
In the `alluxio/shaded/hadoop/pom.xml`, we already have the `maven-deploy-plugin` which configures that the `alluxio-shaded-hadoop` will be skipped during deployment.

When we publish release. we use maven release plugin:
[code]

[2019-08-21 21:18] ZacBlanco commented on #9744
Ah, I see. I did some more digging and took a hard look at our docker container (which is used in k8s). I think solving the underlying cause for needing to run `alluxio-stop.sh` to kill the containers should be the real issue that we aim to fix.

The alluxio container has an entrypoint script that has the following run options

- `master-only` (only alluxio master)
- `job-master` (only alluxio mas

[2019-08-21 21:28] venukolluri opened #9766 "Alluxio 1.8.1 with Yarn Integration"
Hello Team,

We are trying to run alluxio in yarn mode in EMR cluster with 10 worker nodes. with alluxio.integration.yarn.workers.per.host.max property set 1 to ensure one alluxio worker per EMR worker node, but intermittently alluxio fails with below error
2019-08-21 21:18:23,363 ERROR ApplicationMaster - Error running Application Master
java.lang.RuntimeException: Failed to allocate 10 worker co

[2019-08-21 22:27] rastogiasr commented on #9761
Please provide details on how to reproduce and give details on your K8s environment.

[2019-08-21 22:28] #9751 closed

[2019-08-21 22:28] madanadit commented on #9744
I agree that we should change our entrypoint (to use exec) and get rid of the docker bin directory

[2019-08-22 00:01] cheyang commented on #9761
Follow the guide https://github.com/Alluxio/alluxio/tree/master/integration/kubernetes, the only change is

[code]

[2019-08-22 00:02] apc999 commented on #9609
Fixed by https://github.com/Alluxio/alluxio/pull/9756

[2019-08-22 00:02] #9609 closed

[2019-08-22 00:17] madanadit commented on #9761
Related PR: https://github.com/Alluxio/alluxio/pull/8515/files

[2019-08-22 06:00] #9251 closed

[2019-08-22 11:49] cheyang commented on #9761
I'm trying to run with docker, still no luck.

[code]

The error is

[code]

[2019-08-22 11:59] cheyang commented on #9761
And I find that adding `export LD_LIBRARY_PATH=/lib64:$LD_LIBRARY_PATH` can fix this issue.

I think it's better fix this in Dockerfile.

[2019-08-22 13:47] mohanpothula opened #9774 "Zeppelin integration with Alluxio 2.0"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
Add any

[2019-08-22 13:52] mohanpothula commented on #9774
Hi
I am trying Zeeplin with Alluxio integration ,when running spark intractive queries getting class not found exception though add alluxio class jar in zeppelin class path as below
<img width="1071" alt="Screenshot 2019-08-15 at 3 33 49 PM" src="https://user-images.githubusercontent.com/17589088/63520299-11878000-c527-11e9-8b32-d84f0f08cb1f.png">

[2019-08-22 21:50] cheyang commented on #9761
/assign @madanadit

[2019-08-23 06:48] cheyang opened #9780 "Disable DNS cache failed in fuse docker image"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**

The same issue as https://github.com/Alluxio/alluxio/issues/9760 when using fuse in docker .

[code]

Please also fix https://github.com/Alluxio/alluxio/blob/master/integration/docker/Dockerfile.fuse

thanks.

[2019-08-23 08:42] mohanpothula commented on #9774
I am using Alluxio 2.0 storage along with aws s3 bukcet.I have started Master slave Aluxio cluster and able to run the jobs using spark 2.x,However having issue when run spark interactive queries using Alluxio storage and it throwing the error below though set class path in Zeppelin env

Java.lang.RuntimeException: java.lang.ClassNotFoundException: Class alluxio.hadoop.FileSystem not found
  at or

[2019-08-23 21:27] apc999 commented on #9774
hi @mohanpothula , here is an explanation why "Class alluxio.hadoop.FileSystem not found" is thrown, see  https://www.alluxio.io/blog/developer-tip-why-did-my-job-fail-with-error-message-class-alluxiohadoopfilesystem-not-found/

In addition, you can take a look at this and see if it helos

https://docs.alluxio.io/os/user/stable/en/compute/Spark.html#class-alluxiohadoopfilesystem-not-found-issues-w

[2019-08-24 20:28] apc999 opened #9788 "Inline exception messages inside ExceptionMessage.java and remove this class"
**Summary**

In Alluxio source code, there is `ExceptionMessage.java` which is only used to contain a lot of exception messages. This was initially aim to help Unit Tests to avoid hard-code exception strings in the tests but using these messages as the templates as a simplification. However,  later on this approach shows bigger issues:

- when reusing the same exception message in different places

[2019-08-26 04:32] JySongWithZhangCe opened #9789 "Offsets do not match [received: %d, expected: %d]."
**Alluxio Version:**
1.7.0

**Describe the bug**
I wonder what caused request.getOffset() != mContext.getPosToQueue() .
the alluxio source code as described below：
/**
   * Validates a block write request.
   *
   * @param request the block write request
   * @throws InvalidArgumentException if the write request is invalid
   */
  @GuardedBy("mLock")
  private void validateWriteRequest(Protocol.Wr

[2019-08-26 04:54] #9231 closed

[2019-08-26 10:40] we7team opened #9790 "Support appends"
我看alluxio 2.0的master已经解决了数据一致性问题，我感觉可以把这个方案用到内容追加上，目前找了很多分布式存储方案，alluxio算是最好的解决方案了，但是针对日志、缓存文件等内容追加的场景还是无法完美的支持，如果能支持内容追加就更完美了。

I think the master of alluxio 2.0 has solved the problem of data consistency. I feel that this scheme can be used to append. At present, many distributed storage schemes have been found. alluxio is the best solution, but the scenario of appending to logs, cached files an

[2019-08-26 17:18] liuhongtong opened #9791 "Low performance of distributedLoad"
**Alluxio Version:**
2.0.0

**Describe the bug**
I have contrasted the performance of load and distributedLoad with 5TiB data. The size of file is 600MiB. The cluster has 30 nodes
[code]
It takes 14 hours and 5 minutes.

[code]
It takes 9 hours and 10 minutes.

There is no enormous improvement for `distributedLoad`.
If this is a bug or any optimized configuration is available?

**To Reproduce**
re

[2019-08-27 16:10] mkressirer opened #9796 "Eviction and Allocator on multi-tier storage not working"
**Alluxio Version:**
2.0.1

**Describe the bug**
Multi-Tier storage 3x MEM(25GB/SSD 24GB /HDD 99GB) on 8 cores 32GB 10GiB network is not evicting data from MEM to the configured SSD.

`SpaceReserver failed to free 20132659200 bytes on tier MEM for high watermarks: Failed to find an eviction plan to free 20132659200 bytes space at location MEM `

It does look very much as this area of the code poin

[2019-08-28 11:43] cheyang opened #9804 "Failed to load data into alluxio when data directory is pinned"
**Alluxio Version:**

2.1.0-SNAPSHOT

**Describe the bug**

1. Create two layers in alluxio: MEM and SSD

[code]

2. Pin the data directory

[code]

3. Load the data into alluxio with distributedLoad

[code]

4.

From logging of the master

[code]

From logging from the job master

[code]

5. In the worker, it is failed to allocate the space in the MEM. But it doesn't turn to SSD tieredstore

[cod

[2019-08-28 21:13] calvinjia commented on #9745
@Taccart Was PathConf able to address your use case?

[2019-08-28 23:35] cheyang commented on #9804
Thank you, @calvinjia . In the deep learning scenario, the data for training is highly possible larger than capacity of highest layer. And all of the data will participate training, so no cold and warm data. And at the same time, we hope to pin the data because we want to avoid to introduce overhead due to swap in/swap out.  So I think it's important if we'd like to support deep learning scenario.

[2019-08-29 01:04] calvinjia commented on #9791
@liuhongtong Are you loading multiple 600MB files for a total of 5TB data? Also, can you verify if all the nodes are being utilized (you can generally tell by all the workers having Alluxio space used).

[2019-08-29 01:07] #9688 closed

[2019-08-29 01:14] calvinjia commented on #9804
@cheyang I think this makes sense. Have you tried putting all your different media types in one tier, that might solve the issue until we have this feature.

[2019-08-29 07:31] JySongWithZhangCe commented on #9789
Hi~Thx for your help~
I can't change log level because the alluxio is on produce.
Here are some information about my issue:
The 1st part is Spark APP abort:
Job aborted due to stage failure: Task 106 in stage 11.0 failed 4 times, most recent failure: Lost task 106.3 in stage 11.0 (TID 127, dsszbyz-etl-node61, executor 4-656faa52-2757-4561-a465-d905ac44b136): alluxio.exception.status.DeadlineExceed

[2019-08-29 07:47] JySongWithZhangCe commented on #9789
And I wonder the design reason. Alluxio aready foresee this scene.Thx:)

[2019-08-29 12:27] cheyang commented on #9804
Could you provide a sample to help me understand better? Thanks.

[2019-08-29 18:15] calvinjia commented on #9804
Check out the examples here: https://docs.alluxio.io/os/user/stable/en/advanced/Alluxio-Storage-Management.html#single-tier-storage

[2019-08-30 14:58] thereisnospoon opened #9810 "Alluxio worker fails to start when using multiple storage media in single tier on EMR"
**Alluxio Version:**
2.0

**Describe the bug**
When using `alluxio-emr.sh` script and trying to configure Alluxio to use both ramdisk and hard drive workers fail to start.

**To Reproduce**
I'm using the following properties to configure Alluxio to use both ramdisk and hard disk for storage:
[code]

The ramdisk is being mounted using: `/opt/alluxio/bin/alluxio-mount.sh SudoMount local`
After that

[2019-08-30 16:04] cheyang opened #9811 "alluxio fuse doesn't read through short circuit"
**Alluxio Version:**

2.1.0-SNAPSHOT

**Describe the bug**

1. Deploy alluxio fuse container and worker container with the same hostname and the same alluxio storage directory (I don't want to use domain socket)

In fuse container, the configurations are

[code]

In the fuse container, the storage directory is also found

[code]

2. But from the metrics, it doesn't go through the Short-circuit Rea

[2019-08-30 20:29] apc999 commented on #9811
metrics on short-circuit reads are not enabled by default in 2.0.1-SNAPSHOT (controlled by `alluxio.user.metrics.collection.enabled`).
can you check your setting by running:
[code]

[2019-08-30 21:22] #8979 closed

[2019-08-30 21:55] cheyang commented on #9811
Thanks, I will try. By the way is there any way to enable it without restarting fuse?

[2019-08-30 22:24] cheyang commented on #9811
Yeah, @apc999 .

Thanks, it works.

[code]

[2019-08-30 22:43] cheyang commented on #9811
But I notice that `Short-circuit Read ` doesn't change when it reached 136.60MB anymore, even `Short-circuit Read(last minute)` changed time to time.

[code]

[2019-08-31 00:23] madanadit commented on #9810
@ns1123 can you please ask for more info required to debug this?

[2019-08-31 14:46] JySongWithZhangCe opened #9815 "Alluxio-1.7.0 can not start master error"
**Alluxio Version:**
1.7.0

**Describe the bug**
can not start master

**To Reproduce**
![image](https://user-images.githubusercontent.com/22467785/64065520-1e038b00-cc41-11e9-9655-082269acc751.png)
![image](https://user-images.githubusercontent.com/22467785/64065524-2360d580-cc41-11e9-9f16-e5bc46b563b8.png)

[2019-09-01 18:45] jiacheliu3 commented on #9398
I wasn't able to reproduce this issue. Here's what I did:
1. Connect Alluxio to secure HDFS. Alluxio version 2.0.0-RC4. This is done following guide Alluxio connect to secure HDFS.
2. Start spark shell specifying principal and keytab "spark-shell --principal hdfs/alluxio@ALLUXIO.COM --keytab {path_to_keytab}/alluxio.keytab"
3. Read and write parquet file from and to Alluxio and HDFS. I was able to

[2019-09-01 18:46] #9398 closed

[2019-09-02 02:12] JySongWithZhangCe commented on #9815
Solving by find and killed  every process relate to alluxio manually

[2019-09-02 02:12] #9815 closed

[2019-09-02 09:46] thereisnospoon commented on #9810
I think the problem might be here https://github.com/Alluxio/alluxio/blob/603c6fc29121e3e4f085bfdb4b6e510e259d85dc/bin/alluxio-start.sh#L80
The argument passed to `is_ram_folder_mounted` is comma-delimited string containing mount pahs with the first mount path being ramdisk mount path.
Extracting `ramdisk_mount_path=$(cut -d ',' -f1 <<<  ${1})` and using it in validation loop:
[code]
might help.

[2019-09-03 22:28] ggezer opened #9831 "Avoid accounting for shut down channels in gRPC channel pool"
**Summary**
https://github.com/Alluxio/alluxio/pull/9817#discussion_r320504127

[2019-09-04 08:13] soliverr opened #9833 "WebUI browse don't display files under table partition"
**Alluxio Version:** 2.0.0

**Describe the bug**
I have created partitioned table in Spark-SQL connected to Alluxio storage (`/db` directory in my environment).

Her is list of files from Alluxio CLI (`test_table` has two partitioned columns):

[code]

But in WebUI `Browse` nothing displayed when I click _/db/test_table/VERSION_ID=3958_ link.

**To Reproduce**
Create partitioned table in Spark-SQL

[2019-09-05 04:38] JackieJ commented on #9331
Hi @cheyang ,

I am getting the same deployment error on kubernetes. How did you work it around? Thanks.

[2019-09-05 08:44] #9394 closed

[2019-09-05 17:29] ZacBlanco commented on #9833
@tieujason330 Is this something that was fixed in 2.0.1? It sounds like the characters in the URL might not have been encoded properly.

[2019-09-05 18:06] tieujason330 commented on #9833
@ZacBlanco Yeah it's in 2.0.1. It's a very similar issue to #9465 that was fixed a couple months back.

[2019-09-05 18:21] ZacBlanco opened #9840 "Update FUSE integration scripts to be able to be launched in the foreground"
**Is your feature request related to a problem? Please describe.**

Recent the `./bin/launch-process` script was added to launch Alluxio processes in the foreground. This is now being used by `alluxio-start.sh` and the docker container entrypoint so that containerized Alluxio processes behave properly when signals are sent to the container.

However, the FUSE daemon launched from the script `./int

[2019-09-05 18:24] ZacBlanco commented on #9833
@soliverr Can you upgrade to 2.0.1 and try? We've fixed a number of issues in the latest patch release.

[2019-09-05 23:07] LuQQiu opened #9841 "File content modification is supported through AlluxioFuse"
**Summary**
With Alluxio branch-2.0, the operation sequence as below can modify file content in Alluxio and local UFS:
1) ./bin/alluxio-start.sh local;
2) ./bin/alluxio fs copyFromLocal LICENSE /LICENSE
2) ./integration/fuse/bin/alluxio-fuse mount ./cx/ /
3) vim ./cx/LICENSE and modify the content
4) re-vim the ./cx/LICENSE and make sure content changed
5) ./bin/alluxio fs cat /LICENSE      conten

[2019-09-05 23:10] yuzhu commented on #9705
This was addressed by #9773

[2019-09-05 23:20] #9744 closed

[2019-09-06 13:19] soliverr commented on #9833
Thank you. I've missed this update.

Now it's working well in 2.0.1.

[2019-09-06 13:19] #9833 closed

[2019-09-06 22:44] ggezer opened #9845 "Rapid leader transition causes web-server leak"
**Alluxio Version:**
2.0+

**Describe the bug**
In a quick fail-over from follower -> leader -> follower, a web server could leak. So the node will never be able to become a leader gain due to not being able to bind to port.

**To Reproduce**
Cause a quick transition of master role as described.

**Expected behavior**
We should not leak any resources during a quick state transition.

[2019-09-07 02:21] ggezer commented on #9611
@mohammad-ligadata, is this issue resolved on your end?

[2019-09-07 02:26] ggezer opened #9848 "Support dumping ROCKS meta store in journal tool"
**Is your feature request related to a problem? Please describe.**
Currently dumping a journal with `JournalTool`, only extracts ROCKS-db files as tarball.

**Describe the solution you'd like**
`RocksInodeStore` can wrap the extracted db content to export all `inode`s.

**Describe alternatives you've considered**
A separate tool for dumping `inode`s in ROCKS-db tarball.

**Urgency**
Dumping the ac

[2019-09-07 02:29] ggezer opened #9849 "More traces for copycat"
**Is your feature request related to a problem? Please describe.**
Copycat library does not have enough traces for debugging purposes.

**Describe the solution you'd like**
Some core operations/decisions within copycat should be traced.
   - Snapshot installation
   - Storage cleaning actions
   - Register requests
   - Heartbeat failures
   - Flush failures

[2019-09-07 02:35] ggezer opened #9850 "Cluster independence for embedded journal content"
**Is your feature request related to a problem? Please describe.**
Embedded journal content has data for both Alluxio and copycat cluster. So the content can't be replayed on different hosts/clusters all the time depending on term/leader configuration in the logs.

**Describe the solution you'd like**
A tool to make strip embedded journal content from copycat specific knowledge.

**Urgency**
This

[2019-09-07 02:38] ggezer opened #9851 "Seperate gRPC properties for copycat transport"
**Is your feature request related to a problem? Please describe.**
Currently copycat's gRPC transport relies on client properties for channel settings. Client and copycat might need separate property settings.

**Describe the solution you'd like**
New set of EMBEDDED_JOURNAL_TRANSPORT_ family of properties for controlling gRPC transport's settings.

Additionally, request timeout for copycat should

[2019-09-07 02:43] ggezer opened #9852 "Strip embedded journal of hardcoded timeouts"
**Alluxio Version:**
2.0+

**Describe the bug**
Some timeouts for RaftJournalSystem are not configurable such as:
  - term submit
  - flush
  - checkpoint

[2019-09-07 02:47] ggezer opened #9853 "Replace HeartbeatExecutor with ScheduledThreadPool"
**Is your feature request related to a problem? Please describe.**
`HeartbeatExecutor` infra that is used by master processes, keeps a thread alive even when there is no ongoing heartbeat.

**Describe the solution you'd like**
java's `ScheduledThreadPool` can replace the heart-beat infra.

[2019-09-09 06:01] apc999 opened #9856 "Support Java 11"
**Is your feature request related to a problem? Please describe.**
Currently, Alluxio only supports Java 8

**Describe the solution you'd like**
Java 11 is the next LTS release of Java.

**Describe alternatives you've considered**
Current Alluxio 2.1-SNAPSHOT does not compile with JDK 11.
We should fix the src code so it works with either JDK 8 and JDK 11

**Urgency**
Medium

**Additional context*

[2019-09-09 20:52] gpang commented on #9628
@ns1123 @chcn Do we know why is this not reproducible on master branch?

[2019-09-10 00:07] ggezer opened #9862 "Make copycat batch size configurable"
**Is your feature request related to a problem? Please describe.**
Currently it is hard coded to 32KB.

This may not be enough to utilize network bandwidth when, for example, installing a snapshot to another node. Additionally, due to our modification to prevent checkpoints on leader, upon loosing leadership, it'll need to be installed a snapshot from the next leader. So the behavior of installing

[2019-09-10 00:10] LuQQiu opened #9863 "Backup command show wrong console message and docs"
**Alluxio Version:**
2.0.0 and possible master also have the issue

**Describe the bug**
When the root mount is hdfs
./bin/alluxio fsadmin backup
backup to the leader master local directory but show message that `Successfully backed up journal to hdfs://......`

Alluxio docs about how to run backup command should also be updated

**Urgency**
Not urgent, but may seen confusing for users

**Addition

[2019-09-10 03:28] ggezer commented on #9850
Can't reproduce.

[2019-09-10 03:28] #9850 closed

[2019-09-10 12:31] thereisnospoon opened #9865 "Alluxio fails to sync updated file on S3 when working with Presto"
**Alluxio Version:**
2.0.0

**Describe the bug**
There is a file on S3 which gets updated daily. This file is queried by Presto. After `free`ing the file from Alluxio Presto query on this file fails with `Not valid Parquet file: alluxio:/Metadata/parquet/app/app.snappy.parquet expected magic number: [80, 65, 82, 49] got: [-45, -111, -10, 121]`
After trying to `free` the file for the second time I'

[2019-09-10 21:29] #9848 closed

[2019-09-10 22:17] ZacBlanco commented on #9856
@apc999 I've looked into this issue previously, and while there is less change specifically with our code that we need, the main issue I've faced is dealing with dependencies.

Specifically, the toughest issue is that we use lots of hadoop libraries. The `hadoop-common` library depends on a specific system jar - `tools.jar` - which has been around in the JDK for a while, but has since been removed

[2019-09-10 22:51] LuQQiu commented on #9841
Alluxio does not support append or modify file content.
Mac system (> 10.13) will translate user file modification behavior (vi/vim and mofify) to the following operations.
suppose we have a file `/a` in Alluxio, it's mounted to local filesystem, and we use vi/vim to modify it in the fuse mount point.
The modification will translate to the following operations:
(1) open file `/a` for reading
(2) c

[2019-09-10 22:53] #9851 closed

[2019-09-10 22:58] rastogiasr commented on #9730
Resolved in pre-prod checklist doc

[2019-09-10 22:58] #9730 closed

[2019-09-11 01:12] apc999 commented on #9856
two ways to solve it:
(1) when JDK 11 is enabled, by default bump hadoop.version to 3.0 or higher
(2) split hadoop dependency into separate submodules, covering hadoop1 hadoop2 and hadoop3. When JDK 11 is used, skipping compiling module hadoop1 or hadoop2

[2019-09-11 08:49] cheyang opened #9874 "Failed to load the data due to the job service is busy"
**Alluxio Version:**
2.1.0-snapshot

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Set replication

[code]

2. load the data

[code]

3. Check the logs

[code]

[code]

4. But it's strange that some data has been loaded.

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact an

[2019-09-11 09:01] cheyang commented on #9874
See the logs below:

[diagnose_alluxio_1568191234.tar.gz](https://github.com/Alluxio/alluxio/files/3599894/diagnose_alluxio_1568191234.tar.gz)

[2019-09-11 16:30] #9845 closed

[2019-09-11 16:51] ZacBlanco commented on #9874
Hi @cheyang,

Do you know the approximate number of files in your `oss-gw/images` directory?

The job service has a limit on the number of concurrently scheduled jobs. If your use case requires more, then there are some properties you can adjust

- [` alluxio.job.master.job.capacity`](https://docs.alluxio.io/os/user/stable/en/reference/Properties-List.html#alluxio.job.master.job.capacity)

This pr

[2019-09-12 00:18] cheyang commented on #9874
[code]

I think the issue is that I just started to use alluxio. There shouldn't be so many jobs. What makes them start, and I check it today morning. the same error here:

time /opt/alluxio/bin/alluxio fs -Dalluxio.user.ufs.block.read.location.policy=alluxio.client.block.policy.DeterministicHashPolicy  distributedLoad --replication 1 /oss-gw/images/
Failed to successfully complete the job.

2019-

[2019-09-12 01:38] ZacBlanco commented on #9874
Can you give more information about your cluster and deployment? I ran the exact commands you gave on a directory with 10K files and everything worked without issue.

[2019-09-12 02:54] cheyang commented on #9874
Sure, I have pinged you in slack.

[2019-09-12 05:04] apc999 commented on #9841
@LuQQiu  shall we close this ticket then?

[2019-09-12 05:32] #9841 closed

[2019-09-12 05:37] lizhanyang505 opened #9883 "Support read and write to Bytebuffer (NIO) in Alluxio client"
**Is your feature request related to a problem? Please describe.**

When I started learning Alluxio, I found that in the previous version (Tachyon), there was support for `ByteBuffer`, which was later removed. I especially wanted to provide such an interface to facilitate reading and writing in the NIO way.

**Describe the solution you'd like**

Here is an example of how Tachyon can support NIO wr

[2019-09-13 08:24] thereisnospoon commented on #9865
Using `alluxio fs ls -Dalluxio.user.file.metadata.sync.interval=0 <path>` has helped. Looks like it causes removal of file from Alluxio cache in case the file metadata has changed.
Thanks

[2019-09-13 08:45] thereisnospoon opened #9891 "alluxio.core.client.runtime.io.netty.channel.ChannelException: eventfd() failed: Too many open files after running Alluxio with Presto for several days in production"
**Alluxio Version:**
2.0.0

**Describe the bug**
After running Alluxio with Presto in production for several days at some point all queries start to fails with:
[code]
This problem is related to [this issue]: https://github.com/prestodb/presto/issues/13367 I've created. Initially the problem was that after some time the queries submitted to Presto start to hang on TableScan stage. After applying a

[2019-09-13 15:08] madanadit commented on #9865
Thanks for the info @thereisnospoon! I believe your workflow would be as follows?
1. files created in s3 directly (not via alluxio) on a daily basis. this includes new file names and replacing the content of older files? note for the former, `ls -f` would be sufficient. for the latter `ls -Dalluxio.user.file.metadata.sync.interval=0` is needed to refresh metadata in case files were created with th

[2019-09-13 15:08] #9865 closed

[2019-09-14 09:45] cheyang opened #9893 "The policy LocalFirstAvoidEvictionPolicy doesn't not work for Alluxio Fuse"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**
I'd like to use LocalFirstAvoidEvictionPolicy for alluxio Fuse(client). The purpose is that the data is loaded to the worker in the same node first, and when there are not enough space in the same node, it won't evict the current node. Instead it will turn to another available node(with enough space) . But the result is the eviction still o

[2019-09-14 09:49] cheyang commented on #9893
/ping @apc999 , please help! Thanks in advanced.

And could you guys please help guide me to enable log4j debug level for Fuse? Sorry to bother in the weekend.

[2019-09-14 15:12] cheyang commented on #9893
I only set the properties 'LocalFirstAvoidEvictionPolicy' in fuse client, not in the master, job-master, worker, job-worker.

And from the logging, I can see the following ino:

[code]

Does this mean the client will load the cluster configuration(alluxio.user.ufs.block.read.location.policy=alluxio.client.block.policy.LocalFirstPolicy) to replace the local configuration(alluxio.user.ufs.block.read

[2019-09-14 15:13] cheyang commented on #9893
[user_root.log](https://github.com/Alluxio/alluxio/files/3612840/user_root.log)

[2019-09-15 07:18] cheyang commented on #9893
I know the issue, I should also set the value of alluxio.user.block.avoid.eviction.policy.reserved.size.bytes.

[2019-09-15 07:19] cheyang commented on #9893
Btw, And could you guys please help guide me to enable log4j debug level for Fuse?  Thanks very much.

[2019-09-16 10:29] cheyang opened #9896 "the size of Alluxio docker image is too large due to changing owner"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**
The docker image of allxuio/alluxio:2.1.0-SNAPSHOT is 1.09 GB. It's too large. I notice the 2.0.1 version is only 597.73 MB

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urg

[2019-09-16 21:35] #9780 closed

[2019-09-17 01:51] Xenorith commented on #9599
Hi @mingfang

I took a look at your CSI code and I agree that we should create a separate repo to host the code. I'd like to make a few suggestions to make the code more accessible and minimize the number of dependencies:
- We currently use `go modules` to manage dependencies; this tool is available starting go 1.11. Is it possible for you to migrate the dependency management from `go dep`? For re

[2019-09-17 05:11] madanadit commented on #9599
Hi guys, here is the new repo: https://github.com/Alluxio/alluxio-csi. @mingfang do you mind opening a PR to push your code? Thanks again for your contribution!

[2019-09-17 05:13] mingfang commented on #9599
Yes, I will make the changes suggested by @Xenorith and then open a PR.

[2019-09-17 05:14] apc999 opened #9899 "Improve the error message when master hostname is not set"
**Summary**
When the following message is given, it looks like ZK or HA is required, which is not true
[code]

**Urgency**
Low

[2019-09-17 17:23] ZacBlanco commented on #9891
I want to add a note on this thread that I did some testing locally with our native client.

My application was able to create, use, and close our client 5k+ times without hitting any FD limits. I confirmed that resources were being created and closed properly each time.

My suspicion is that whatever code controls access to the Alluxio clients is not closing them properly. More investigation is r

[2019-09-17 17:25] ZacBlanco commented on #9899
@apc999 why do you think it looks like HA is required?

[2019-09-17 18:32] #9240 closed

[2019-09-17 20:14] ggezer commented on #9853
This turned out to be an intricate task as most our integration tests depend on controlling the existing heartbeat infra. This will not be possible with the `ScheduledThreadPool`.

[2019-09-17 20:14] #9853 closed

[2019-09-17 20:47] #9831 closed

[2019-09-17 20:47] #9739 closed

[2019-09-17 20:48] #9023 closed

[2019-09-17 21:14] #9753 closed

[2019-09-17 23:09] #9705 closed

[2019-09-18 03:24] liuhongtong opened #9905 "Consolidate a general framework for multi-threaded CLIs"
**Is your feature request related to a problem? Please describe.**
alluxio command provides distributedCp, distributedLoad and distributedMv options. Actually that is a serial process, so the performance may be not acceptable.

**Describe the solution you'd like**
Design a general parallelism framework for multi-threaded CLIs.

**Describe alternatives you've considered**
N/A

**Urgency**
N/A

**Ad

[2019-09-18 07:34] thereisnospoon commented on #9891
@ZacBlanco could this be an issue with Presto Hive connector?

[2019-09-18 09:09] cheyang commented on #9896
/ping @madanadit

[2019-09-18 10:55] thereisnospoon commented on #9891
I've checked open files by Presto process on one of the workers in problematic Alluxio/Presto cluster using  `lsof`. I can see a huge number of open file descriptors to local Alluxio worker over IPv6:
[code]
Is it normal?

[2019-09-18 16:40] apc999 opened #9906 "Improve Error Message on configuring both Raft and Zookeeper"
**Summary**

The error message is very Alluxio centric and not easy for users to understand. Should be telling users not to configure Zookeeper and Raft at the same time

[code]

**Urgency**
Low

[2019-09-18 16:42] apc999 commented on #9899
my way to read this:

either "set alluxio.master.hostname, configure zookeeper with alluxio.zookeeper.enabled=true and alluxio.zookeeper.address=[comma-separated zookeeper master addresses]",

or "utilize internal HA by setting alluxio.master.embedded.journal.addresses=[comma-separated alluxio master addresses]"

[2019-09-18 16:44] apc999 opened #9907 "Consolidate generate-release-tarballs.go and generate-tarball.go"
**Summary**

`generate-release-tarballs.go` is no more relevant after 1.8. We should consolidate the subcommand of `single` mode and `release` mode and only based on `generate-tarball.go`

**Urgency**
Low

[2019-09-18 18:31] ggezer opened #9908 "Reactivate MasterFaultToleranceIntegrationTest"
**Summary**
We are missing out on an important validation without this test.

[2019-09-18 18:32] ggezer commented on #9908
Killing a leader closes fsclients created from it. So next call fails. Client pooling should be done at application/test layer, not at master-process.

[2019-09-18 21:57] #9852 closed

[2019-09-18 22:48] ggezer opened #9910 "Prevent accumulating status objects during listStatus"
**Is your feature request related to a problem? Please describe.**
Currently, `listStatus` handler first receives the whole list from master and then sends it back to client in chunks. This approach will not be efficient for a very large namespace as it practically doubles the memory during the call.

**Describe the solution you'd like**
Make FileSystemMaster accepts an interface through which it

[2019-09-18 22:53] madanadit commented on #9393
looks like this works, closing this issue

[2019-09-18 22:53] #9393 closed

[2019-09-18 23:39] ZacBlanco commented on #9856
An additional comment - even hadoop 3 doesn't support Java 11. I suspect the current Hadoop 3 libraries won't work with Java 11 either.

https://issues.apache.org/jira/browse/HADOOP-15338

So I imagine we could create a maven profile which skips compiling all hadoop-related modules (client+ufs)

[2019-09-19 00:47] madanadit commented on #9707
seems like `alluxio.worker.memory.size` is only used in `alluxio-mount.sh`, tests and mesos/yarn integrations. all core-alluxio references were removed

[2019-09-19 00:47] ZacBlanco commented on #9874
I am currently investigating this issue. One thing I noticed looking through the logs is that there are many evict jobs submitted to the master from the replication checker.

For some reason they are not able to be flushed from the queue when new jobs from the `distributedLoad` command are received. Many of them look completed, but are not flushed between runs.

https://github.com/Alluxio/alluxio/

[2019-09-19 00:51] madanadit commented on #9707
@ns1123 worker does not fail to start anymore. can you confirm the original issue is no longer reproducible w/ 2.1.0-SNAPSHOT? thx

[2019-09-19 15:45] cheyang opened #9913 "Is it possible for Alluxio fuse to support PageCache"
**Is your feature request related to a problem? Please describe.**

The current alluxio fuse only supports direct_io. Do you think if the user can have flexibility to enable page cache when it's read only scenario.

https://github.com/Alluxio/alluxio/blob/068f7bf46dc62733b33c3f3e6cabcd8909e76e35/integration/fuse/src/main/java/alluxio/fuse/AlluxioFuse.java#L69

**Describe the solution you'd like**

[2019-09-19 20:49] madanadit opened #9916 "Add ability to run Alluxio workers w/o host networking in k8s"
**Is your feature request related to a problem? Please describe.**
Host networking may be disallowed in secure environments.

**Describe the solution you'd like**
Add specs / docs for running Alluxio workers w/o host networking.

**Describe alternatives you've considered**
Alluxio workers use the physical host IP w/ host networking and are hence reachable by clients.

W/o host networking we the wo

[2019-09-19 20:55] madanadit opened #9917 "Legacy GCS under store requires credentials to be specified explicitly"
**Is your feature request related to a problem? Please describe.**
When running on GCE or dataproc, the legacy GCS under store is not able to read the credentials from the credentials store and needs the properties .`fs.gcs.accessKeyId` and `fs.gcs.secretAccessKey` to be set explicitly.

**Describe the solution you'd like**
The under store should not require credentials to be set. The connector he

[2019-09-20 06:59] #9791 closed

[2019-09-20 13:10] hustnn opened #9922 "Client hang for Presto query"
**Alluxio Version:**
2.0.1

**Describe the bug**

We repeatedly run a query and find it hang when running for several days.

The query is
[code]

This table we already load in ahead from hdfs to alluxio
During the running period, some alluxio workers may be down and some lost data may need to read directly from hdfs.

From `jstack`, find 30 threads (as we set presto concurrency to 30) stuck at
[co

[2019-09-20 16:57] apc999 commented on #9913
the reason to use `direct_io` is alluxio data will be already in memory (if in MEM tier), and avoid spending double resource to serve the same data

[2019-09-20 17:19] #9906 closed

[2019-09-20 17:47] #9862 closed

[2019-09-20 19:34] apc999 opened #9925 "Unnecessary retries to handle tmp files during async through when rename fails"
**Alluxio Version:**
2.0.1

**Describe the bug**
Repeated error pattern shows when it failed to rename a file on PersistChecker in FilesystemMaster

[code]
This may eventually cause too many threads on master to compete for persist the same file.

[code]

**To Reproduce**

**Expected behavior**
Once the rename fails, the persist job should fail and trigger a different job

**Urgency**
High

**Addi

[2019-09-21 00:00] cheyang commented on #9913
There are two reasons I want to have chance to enable page cache:
1.If the alluxio data is in the remote worker, and no copy in local
2.Reduce the interaction with alluxio master

Does this make sense to you?

[2019-09-21 00:05] #9542 closed

[2019-09-21 04:11] cheyang opened #9930 "alluxio cli needs to show commit id"
**Is your feature request related to a problem? Please describe.**
2.1.0-snapshot
**Describe the solution you'd like**
when executing `alluxio version`, it can show commit id. It's helpful to investigate the issues when using the development version.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Urgency**

[2019-09-21 10:44] hustnn commented on #9922
Take some time to go through related code and find one suspect place may cause this issue.

[code]

[2019-09-21 16:16] cheyang commented on #9637
I also see three are a lot of those errors in the worker's log. It's difficult to find the useful info in the logs. Is there any way to fix it?

[2019-09-22 01:26] haoyuan opened #9935 "Overview"
**Page**
Include the link to the page you are reporting a defect
https://docs.alluxio.io/os/user/stable/en/Overview.html

**Summary**
What is the defect and suggested improvement

Suggest to update the sentence
""Questions can be directed to our User Mailing List (users who can not access the Google Group may use its mirror) or our Community Slack Channel.""
to be
""Questions can be directed to ou

[2019-09-22 03:01] ggezer opened #9937 "Remove FileStatus and BlockInfo wire types"
**Is your feature request related to a problem? Please describe.**
During listing of a huge directory, conversions between wire/proto for these types incur a pretty high cost.

[2019-09-22 03:03] ggezer opened #9938 "Avoid resolving path during listStatus"
**Is your feature request related to a problem? Please describe.**
`FileInfo` returned as part of listStatus call contains some fields that are only leveraged internally and calculation of which requires resolving the path against mount table. Returning these fields could be made optional by only explicitly asking for them when sending `ListStatusRequest`.

**Additional context**
fileInfo.ufsPath

[2019-09-23 17:40] #9552 closed

[2019-09-23 17:41] ns1123 opened #9946 "Alluxio mount command hangs forever if underlying mount directory is deleted"
**Alluxio Version:**
Alluxio 2.0.0

**Describe the bug**
With multiple nested HDFS mount points, if one of the mounted directories is deleted in HDFS out-of-band, then the alluxio fs mount command hangs indefinitely

**To Reproduce**
Mount 2+ HDFS directories, then delete the underlying directory in HDFS for one of the nested mounts. `./bin/alluxio fs mount` should hang.

**Expected behavior**
The

[2019-09-23 17:43] ns1123 opened #9948 "Alluxio allows mounting S3 buckets which don't exist"
**Alluxio Version:**
Master branch

**Describe the bug**
Issuing a mount command on an S3 bucket that doesn't exist succeeds.

**To Reproduce**
Mount an S3 bucket that doesn't exist at the root of the S3 bucket.

**Expected behavior**
Some kind of warning/exception when mounting that the bucket is not accessible or doesn't exist.

**Urgency**
High. Users may make simple typos in mounting a bucket

[2019-09-23 20:43] LuQQiu commented on #9796
Hi @mkressirer Thanks for reporting the issue.

The `alluxio.worker.tieredstore.reserver.enabled=true` is an old property that is deprecated in 2.0+ Alluxio versions. In the new Alluxio version, reserver is enabled by default, and you can define the time period of space reserver by setting the value of `alluxio.worker.tieredstore.reserver.interval.ms`.

The tier storage will try to traverse the bl

[2019-09-23 21:47] apc999 commented on #9922
@hustnn thanks for identify the suspicious code snippet, we will investigate this issue.

[2019-09-24 00:50] ZacBlanco commented on #9874
@cheyang I think we found the root cause of the issue. See the PR linked above for more information

[2019-09-24 02:29] joey71765 opened #9955 "Read Data error caused by Disk Error"
There were 12 disks I configured for Alluxio, like this:
alluxio.worker.tieredstore.level1.dirs.path=/data1,/data2,/data3/,/data4,/data5,/data6/,/data7,/data8,/data9/,/data10,/data11,/data12.
When /data4 malfunctioned, jobs were unable to success, the cause were like:
Caused by: alluxio.exception.status.NotFoundException: Channel to 10.2.3.4:29999: /data4/alluxioworker/241456870588416 (Input/outpu

[2019-09-24 03:36] cheyang commented on #9893
I didn't find the solution in the alluxio document. I think for alluxio.client.block.policy.LocalFirstAvoidEvictionPolicy, the docs should suggest to configure alluxio.user.block.avoid.eviction.policy.reserved.size.bytes. And make sure it can be hit before the eviction start to work.

[2019-09-24 12:53] liuhongtong opened #9958 "distributedLoad failed"
**Alluxio Version:**
master

**Describe the bug**
Command:
hadp$ alluxio fs distributedLoad /ns8 -thread 1024

Error log:
alluxio-2.0.1/logs/user/user_hadp.log
[code]

x.x.x.x
alluxio-2.0.1/logs/worker.log
[code]

Worker state:
State | Workers Capacity | Space Used
-- | -- | --
In Service | 105.37TB | 3334.48GB

**To Reproduce**
N/A

**Expected behavior**
N/A

**Urgency**
N/A

**Additional context

[2019-09-24 18:18] jiacheliu3 opened #9960 "Missing a data persistence state graph"
**Page**
Include the link to the page you are reporting a defect

**Summary**
There's no public document page illustrating the persistence state shift flow. Having one such graph will help users understand the persistence states. This also helps users trouble-shoot scenarios like LOST files in ASYNCH_THROUGH.

[2019-09-24 18:46] #9874 closed

[2019-09-24 20:30] LuQQiu commented on #9796
@mkressirer Could you provide me more details regarding the environment and workflow that introduce this error?
(1) What workflow are you running? What's the file size you are writing?
(2) What kind of UFS you are writing to with write type ASYNC_THROUGH?
(3) Does the error consistently occur and even happen after restarting the worker?
(4) Are the ramdisk/SSD accessible when the error occurs?

[2019-09-24 22:23] #9930 closed

[2019-09-25 02:28] rastogiasr commented on #9538
@ggezer - what is the downside of not checkpointing the job_master journal?

[2019-09-25 07:01] #9538 closed

[2019-09-25 07:55] BobLiu20 commented on #9345
I meet this issue, too. Any news? version : 2.0.1

[2019-09-25 08:00] BobLiu20 commented on #9345
I can list it in fuse but not cat
[code]

[2019-09-25 10:16] BobLiu20 opened #9968 "Can I disable MEM? Just SSD in worker."
**Alluxio Version:**
2.0.1

**Describe the bug**
I can't disable MEM

**To Reproduce**
Start master:
[code]
I had set levels = 1 and mediumtype = SSD in opts. But I got error:
[code]

[2019-09-25 17:57] ns1123 commented on #9968
Hi Bob,

I think this issue is seen due to the master conflicting with the default worker properties that are set on the worker such as `alluxio.worker.memory.size` and `alluxio.worker.tieredstore.global.level0.alias`. Can you double check to see if the worker settings conflict with the master global settings?

Thanks,
Nakkul

[2019-09-25 17:59] ns1123 commented on #9960
+1 for a developer document detailing valid inode states and state transitions. I've been hit with weird messages such as IllegalStateException cannot transition from TO_BE_PERSISTED to NOT_PERSISTED etc.

[2019-09-25 18:35] ns1123 opened #9969 "Alluxio does not initFromBackup correctly when specifying local path"
**Alluxio Version:**
master branch

**Describe the bug**
Alluxio's restore from backup using the `alluxio-start.sh -i <Backup-URI>` does not work as intended. The master takes any user-specified URI and strips it of scheme/authority before checking the root UFS for the backup. This prevents users from specifying a local path using 'file:///'.

**To Reproduce**
Try to restore from a backup file in

[2019-09-25 18:37] ZacBlanco commented on #9969
[Offending diff](https://github.com/Alluxio/alluxio/commit/0455c219fcbf716c83025f59276c5de4bd002b7e#diff-1f06075f91e4f9f549c218c7c797a590L171-R177)

[2019-09-25 18:57] gpang opened #9970 "The Job master has locking inconsistencies which can cause deadlock"
**Alluxio Version:**
This is in the master branch, 2.1.0-SNAPSHOT

**Describe the bug**
A deadlock can happen in the job master, because of the wrong locking order. Here are the stacks for 2 deadlocked threads.
[code]

**To Reproduce**
Unfortunately, the deadlock is difficult to reliably reproduce. I hit it randomly by running the PersistCommandTest.

**Expected behavior**
Avoid deadlock.

**Urgen

[2019-09-25 19:06] apc999 commented on #9955
Thanks @joey71765 can you share your Alluxio version? and possibly the complete stack trace?

[2019-09-25 21:48] #9970 closed

[2019-09-26 01:41] BobLiu20 commented on #9968
@ns1123  Hi, I still not to start worker or any setting for worker. I am trying to run master with this config and encounter this error.
Thanks.

[2019-09-26 02:08] ns1123 commented on #9968
@BobLiu20 Looking at the code, the default value for 'alluxio.worker.tieredstore.level0.alias=MEM'. The reasoning for this was to allow users to begin using Alluxio without having to explicitly set some of the properties. In your case, I would recommend setting this property on all the worker nodes to be 'alluxio.worker.tieredstore.level0.alias=SSD'. Please let me know if that resolves your proble

[2019-09-26 02:17] BobLiu20 commented on #9968
@ns1123  I had added ```alluxio.worker.tieredstore.level0.alias=SSD``` to ALLUXIO_JAVA_OPTS. See below:
[code]
But error still appear:
[code]

[2019-09-26 02:47] ns1123 commented on #9968
@BobLiu20 I see you have added the alias to the master container. Can you add it to the worker containers as well and retry?

[2019-09-26 06:12] hustnn commented on #9922
Hang at `ResourcePool.acquire` in ResourcePool.java. @apc999

[2019-09-26 06:41] joey71765 commented on #9955
@apc999 Sure, it is 1.8.1
alluxio-1.8.1

[2019-09-26 08:15] joey71765 commented on #9955
@apc999
2019-09-23 20:25:19,577 ERROR AbstractReadHandler - Failed to read data.
java.io.IOException: Input/output error
        at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
        at sun.nio.ch.FileDispatcherImpl.read(FileDispatcherImpl.java:46)
        at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223)
        at sun.nio.ch.IOUtil.read(IOUtil.java:192)
        at sun.nio.ch.Fil

[2019-09-26 14:15] BobLiu20 commented on #9968
@ns1123  Unfortunately. Still error

[2019-09-26 14:22] BobLiu20 commented on #9968
@ns1123
master config:
[code]
worker config：
[code]

worker error message:
[code]

[2019-09-26 17:20] ns1123 commented on #9968
@BobLiu20 not to worry, this is the final step. The mounted tmpfs you have in /alluxio_worker is not matching the size you specified in the `-Dalluxio.worker.tieredstore.level0.dirs.quota=200GB`. Can you try starting the Alluxio Workers with the SudoMount option? If not, you may need to check the worker container to see if the /alluxio_worker directory has the required space and potentially remoun

[2019-09-26 18:38] #9910 closed

[2019-09-27 00:21] madanadit commented on #9599
@mingfang do you need any discussion / input from us to make progress? thx

[2019-09-27 06:44] apc999 opened #9988 "Create a self-contained and fully shaded client jar artifact"
**Is your feature request related to a problem? Please describe.**

Create a self-contained and fully shaded client jar as an added maven artifact to Alluxio project.

**Describe the solution you'd like**

Add a new client module with fully shaded dependencies (except Hadoop perhaps) to avoid jar conflict.

**Describe alternatives you've considered**
N/A

**Urgency**
High

**Additional context**

[2019-09-27 09:46] silvermissile opened #9990 "can't list files in ufs hdfs path"
**Alluxio Version:**alluxio-2.0.0

**Describe the bug**
can't list files in some  ufs hdfs path
[code]
also happen on UI
![image](https://user-images.githubusercontent.com/5319647/65759798-4ef6b300-e14e-11e9-8471-b46a83c21c8f.png)

no logs found in log dir

[2019-09-27 11:01] silvermissile commented on #9990
![image](https://user-images.githubusercontent.com/5319647/65762651-1d80e600-e154-11e9-9058-a5b491a234b1.png)

[2019-09-27 11:02] silvermissile commented on #9990
solved though:
hdfs dfs -chmod -R   a+r /user/hive/warehouse/binlog.db

[2019-09-27 11:02] #9990 closed

[2019-09-29 03:25] #9789 closed

[2019-09-29 04:45] jiacheliu3 opened #10002 "Need a dedicated document for Alluxio upgrade procedure"
**Page**
Now we only have [Upgrade from 1.x to 2.x](https://docs.alluxio.io/ee/user/stable/en/operation/2.x-Upgrade.html?q=upgrade)

**Summary**
There are a few reasons why we are needing this more. Since we are looking towards v2.1, this document page suffice less and less. Also with more users trying to move to use Alluxio in containerized environments like docker and K8s, upgrade become easier

[2019-09-29 09:15] zhipcui commented on #8868
still build failed!

[code]

[2019-09-30 02:37] yoock opened #10005 "heartbeat bug"
**Alluxio Version:**
2.0.1

**Describe the bug**
When the number of files reaches 200,000, the heartbeat data is too much, leading to frequent master GC

[2019-09-30 17:18] ZacBlanco commented on #10005
Hi @yoock, you'll need to describe this in more detail.

- Can you more clearly define the set of operations and the time frame which they occur?
- Do you know which heartbeat is causing the GC?

[2019-09-30 23:10] apc999 opened #10008 "Avoid persisting staging files"
**Alluxio Version:**
2.0

**Describe the bug**
Hive creates temp directories like
`<table_location>/.hive-staging_hive_<date>_<time>-xx/-ext-xxxxx`.
Currently, with Async through write mode, Alluxio will still persist files like this.

**To Reproduce**
Running lower Hive versions like 1.2

**Expected behavior**
These are files not expected to persist. Having them persist will cause issues
as the p

[2019-10-01 06:05] apc999 commented on #8868
@zhipcui  have you get this resolved?

[2019-10-01 16:17] cheyang commented on #9896
This operation increases disk size from `740MB` to `1.3GB`

[code]

[2019-10-01 16:20] cheyang commented on #9896
Seems the operation above doubles the size of docker images.
[code]

[2019-10-01 16:29] cheyang commented on #9896
I think it's due to chown: https://stackoverflow.com/questions/30085621/why-does-chown-increase-size-of-docker-image

[2019-10-01 18:34] madanadit opened #10011 "Merge helm chart b/w directories helm-chart and helm"
**Is your feature request related to a problem? Please describe.**
We have 2 directories for helm which are out of sync after https://github.com/Alluxio/alluxio/pull/9933.

**Describe the solution you'd like**
We should merge the features supported in both and have a single helm chart

**Describe alternatives you've considered**
N/A

**Urgency**
Urgent

**Additional context**
Community contributed

[2019-10-01 18:34] madanadit commented on #10011
@cheyang created the issue to track this

[2019-10-01 19:34] #9666 closed

[2019-10-01 21:06] apc999 commented on #9707
@madanadit  I think @ns1123 is talking about the Java source code. e.g., it is used as the default value of tier 0 size.

[code]

[2019-10-02 00:37] jiacheliu3 opened #10016 "Refactor Helm YAML templates with _helpers.tpl"
**Summary**
A few parts of the Helm YAML templates can be refactored using Helm's `_helpers.tpl`.

1. There are duplicate boolean flags duplicated in `alluxio-master.yaml` and `alluxio-format-master.yaml` for the Helm templates. The are better moved to a single place.

[code]
2. The duplicate sections like `Volumes` and `VolumeMounts` can be templated and moved to `_helpers.tpl`. Now the same sect

[2019-10-02 00:56] #9925 closed

[2019-10-02 03:49] cheyang opened #10019 "Aliyun OSS Failed to get Object images_$folder$, return null"
**Alluxio Version:**
2.1.0

**Describe the bug**

Seems `images_$folder$` is considering as object key. Any suggestions on this?

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
Add

[2019-10-02 07:48] jpohanka opened #10020 "Concurrent query requests with Presto leading to 'Too many open files' error"
**Alluxio Version:**

2.0.0

**Describe the bug**

I have a bug similar to the one described in Issue #9891. I have been testing performance of Presto queries of a small dataset (transactional data of approx. 40 million records) under various levels of concurrent requests (5, 10, 20, 30 concurrent requests). When running with concurrency levels of 20+ requests, the problems with the `Too many open

[2019-10-02 21:07] #9988 closed

[2019-10-02 21:08] ggezer opened #10022 "Proactively remove deleted inodes from LockPool"
**Is your feature request related to a problem? Please describe.**
Currently lock-pool evicts based on watermark levels. Which means locks for potentially removed inodes would remain in the pool until eviction is triggered due to capacity.

**Describe the solution you'd like**
Set a tombstone in lock-pools when an inode is removed/renamed.
Then periodically remove tombstoned entries from the lock-

[2019-10-03 03:36] cheyang opened #10031 "Why the same tiered layer data are not loaded in order"
**Alluxio Version:**
2.1.0-snapshot

**Describe the bug**
I put all the data in the same tiered layer:
[code]
My assumption is that all the data will be put into MEM layer `/dev/shm`, then SSD `/var/lib/docker/alluxio-ssd`

But during  loading the data, I've found it looks `/dev/shm` and `/var/lib/docker/alluxio-ssd` are loaded at the same time.

[code]

**To Reproduce**
Steps to reproduce the beh

[2019-10-03 17:01] apc999 opened #10032 "Improve error message when passing wrong args to CLI"
**Alluxio Version:**
2.0.1

**Describe the bug**
[code]

**To Reproduce**
Above

**Expected behavior**

The console output should say the `--readOnly` is unrecognized before showing the usage.

**Urgency**
Low

**Additional context**

[2019-10-03 17:39] apc999 opened #10033 "Add Alluxio client jar to MR classpath in EMR Bootstrap Script"
**Alluxio Version:**
2.0.1

**Describe the bug**
If users choose MR as the engine for EMR Hive, Alluxio client jar is not found.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
Add Alluxio client jar to MR classpath in EMR Bootstrap Script

**Urgency**
Medium

**Additional context**

[2019-10-03 17:58] apc999 opened #10034 "PersistJob fails before Hive rename all partitions"
**Alluxio Version:**
2.0.1

**Describe the bug**

I have a table with a single partition to write with `ASYNC_THROUGH`. Note that, `alluxio.user.file.persist.on.rename=false` in this case.

Jobmaster receives the request to persist this partition:
[code]

FileSystemMaster fails to rename
[code]

Job master receives the updated PersistJob as a retry and this time it works (no more error on Master s

[2019-10-03 18:31] ns1123 opened #10035 "Wasteful UFS RPC calls for HDFS"
**Alluxio Version:**
2.x and 1.8.x

**Describe the bug**
List on HDFS UFS issues a separate getBlockSizeBytes HDFS call for each file. This is a redundant RPC that can be removed.

**To Reproduce**
Mount an HDFS cluster, and open the Alluxio Metrics JSON endpoint. Run a list directory call on the Alluxio directory that has the mounted HDFS and then monitor the UFS metrics for getBlockSizeBytes RPC

[2019-10-03 18:45] ns1123 opened #10036 "Need better handling of bulk lock operations on a directory"
**Alluxio Version:**
Affects all versions

**Describe the bug**
When a user issues a call that acquires a writeLock on a large directory, there is no mechanism for killing the locking call.

**To Reproduce**
Issue a command to Alluxio that acquires a writeLock (chown -R or -Dalluxio.user.file.metadata.sync.interval=0). Run this on a large directory (10k inodes with multiple nested levels). Once th

[2019-10-03 20:21] ggezer opened #10038 "Filter and refine listStatus results"
**Is your feature request related to a problem? Please describe.**
ListStatus returns so much information many of which are not utilized at client side.

**Describe the solution you'd like**
A new filter based listStatus API through which caller can control what files are of interest, and what categories of information to return per item. So that clients can run intelligent queries with lower mast

[2019-10-04 01:27] madanadit commented on #10011
The directory `integration/kubernetes/helm` and `integration/kubernetes/helm-chart` have diverged.

Changes from the following PRs in the directory `integration/kubernetes/helm` need to merged into the new modularized helm template structure in `integration/kubernetes/helm-chart`:
- HA including Embedded Journal: https://github.com/Alluxio/alluxio/pull/9832
- Generation of pre-defined deployment Y

[2019-10-04 14:18] yangjf2019 commented on #10032
Hi, @apc999 Does this mean that we need to output a reminder? For example, don't know this command. Thanks :)

[2019-10-04 14:21] yangjf2019 commented on #10032
or `--readOnly is an unknown command.`

[2019-10-04 16:21] apc999 commented on #10032
@yangjf2019  yes, something like
[code]

[2019-10-04 18:26] jiacheliu3 opened #10042 "Enable Alluxio to run with Java v1.9+"
**Is your feature request related to a problem? Please describe.**
In `libexec/alluxio-config.sh` seems we define Alluxio to only support Java v1.8.
[code]

**Describe the solution you'd like**
Java version v1.9+ are backward compatible so Alluxio should support those too.

**Urgency**
Low.

**Additional context**
NA

[2019-10-04 19:11] apc999 opened #10043 "Revisit the assumption of persist on rename"
**Is your feature request related to a problem? Please describe.**

### Hive on MR
When running EMR Hive (version 2.x) using MR as the execution engine to write data to Alluxio, three renames are applied to the partition files before the final results are committed on the Hive side.

- First rename (on a partition file):
From
`/output/.hive-staging_hive_2019-10-04_16-48-19_644_1437496375846573990-