[2021-08-02 16:58] beinan commented on #13867
Hello @qian0817 , thank you for reporting this issue to us!

I saw your latest change on your repo, does this one work?
```CORE_CONF_fs_defaultFS=alluxio://master3:19998```
Probably fs_defaultFS does support multiple masters.

[2021-08-02 17:59] ggezer opened #13881 "Merge conf address with server address"
**Summary**
Path conf assumes conf can be provided from a dedicated address. This is not justified and should be deleted. Conf will always be provided from the main server.

For reference;
`AbstractClient#getAdress()`
`AbstractClient#getConfAddress()`

**Urgency**
This will help with the always present perf hit mentioned at https://github.com/Alluxio/alluxio/issues/13416

[2021-08-02 20:40] #13782 closed

[2021-08-03 02:23] qian0817 commented on #13867
@beinan
This approach assumes that the master node must be in master3 and cannot handle a leader-follower switch.
It looks like yarn can't support multiple masters writing style and I'm considering implementing a logical uri to make it valid.

[2021-08-03 06:54] #13824 closed

[2021-08-03 11:32] maobaolong opened #13887 "Support worker conf tab page in worker webui"
**Is your feature request related to a problem? Please describe.**

Now alluxio-master can easy to supply a way to check configuration in runtime through `configuration` tab page, but no this tab page in worker web ui.

**Describe the solution you'd like**

Add `configuration` tab page to  alluxio webui

**Urgency**

Low

**Additional context**
No

[2021-08-03 16:02] maobaolong opened #13888 "Copy a 1.8g file to alluxio by alluxio-fuse left 1.6g of the target file"
**Alluxio Version:**

Master branch

hash 2427c985ea1b

**Describe the bug**

copy a 1.8g file to alluxio by alluxio-fuse, and left 1.6g in the alluxio fs without any error.

**To Reproduce**

Start a alluxio-master and a alluxio-worker
Start alluxio-fuse
copy a 1.8g file into the mount point
list the file and found that it is 1.6g, not 1.8g

**Expected behavior**

the target file is 1.8g and with

[2021-08-03 16:30] ggezer commented on #13872
@madanadit Does this request comply with specifications for TTL?

[2021-08-03 17:37] madanadit commented on #13872
i'm not aware of a standard specification

[2021-08-03 21:17] ggezer commented on #13872
are you gonna propose one? what do you say about this request for instance?

[2021-08-03 21:20] madanadit commented on #13872
I would not consider this a bug, rather a feature enhancement request. The feature currently works as per the original spec which based on file create time rather than setTtl time.

[2021-08-04 00:45] maobaolong commented on #13888
I want to reproduce this issue on my macos, but I met another worse issue, the fuse process exited accidentally.

[hs_err_pid21993.log](https://github.com/Alluxio/alluxio/files/6927815/hs_err_pid21993.log)

[2021-08-04 02:49] #13050 closed

[2021-08-04 02:49] #13828 closed

[2021-08-04 16:52] maobaolong opened #13894 "Add metrics for Job service master to monitor the size of each status of job"
**Is your feature request related to a problem? Please describe.**

Sometime, job master didn't works as expected, sometime it even didn't work at all, so add some metrics to measure how busy job master is.

**Describe the solution you'd like**

Add a batch of metrics for job service master to monitor the size of each status of job

**Describe alternatives you've considered**

Add some metricKey,

[2021-08-04 18:52] beinan commented on #13867
@qian0817 gotcha, I think we are able to specify multiple namenodes in hadoop's config,   but for fs.defaultFs, there should be only one uri.

[code]

From this doc
 https://hadoop.apache.org/docs/stable/hadoop-project-dist/hadoop-hdfs/HDFSHighAvailabilityWithQJM.html

[2021-08-04 19:46] LuQQiu commented on #13888
Did you compare the md5 of the written file and the original file?
Is it possible to read the 1.6GB file back from alluxio to local filesystem and compare the md5?

[2021-08-05 00:43] #13766 closed

[2021-08-05 07:04] #13881 closed

[2021-08-05 08:31] uniqueZt commented on #13872
i agree this

[2021-08-06 00:48] #13499 closed

[2021-08-06 01:20] LuQQiu opened #13900 "Tensorflow alluxio python sdk failed to load big files"
**Alluxio Version:**
- unknown

**Describe the bug**
When reading a big file using alluxio python sdk, the python streaming function (tensorflow application) will read some bytes, rest for a while, and then read some bytes, and then rest for a while. If the application rest for about 40 seconds, the following read will not be successful. Looks like the fuse read connection is broken.
When reading

[2021-08-06 02:59] LuQQiu commented on #13900
Did a testing on local mac, this issue can be reproduce with
pip3 install alluxio
pip3 install -r /alluxio-py/requirements.txt
python3 test.py
[code]
The file is only 27MB.

when it counts to 39, the following error occur
[code]

I add logs to StreamsRestServiceHandler.read() and close().
In our code, i see the open returns the `alluxio.client.file.FileInStream`. After the error shown, the log sho

[2021-08-06 03:12] LuQQiu commented on #13900
https://github.com/tweepy/tweepy/issues/908
alluxio-py has some dependencies that may raise this issue. We didn't timeout from the alluxio proxy side or alluxio-py side

[2021-08-06 11:02] #13841 closed

[2021-08-09 03:44] amosannn opened #13903 "Alluxio worker crashes frequently"
**Alluxio Version:**
v2.6.0

**Describe the bug**
Our cluster uses the Alluxio catalog, accesses the hive metastore, and only uses presto to query alluxio.
The java crash log shows the crash caused by the "AsyncCacheManagerExecutor" thread, But I don’t know why he caused the crash.
The time of the crash generally occurs when the worker runs for a few hours to more than ten hours.
We have two tiers

[2021-08-09 03:51] amosannn commented on #13903
alluxio-site.properties
[code]

[2021-08-09 03:55] amosannn commented on #13903
Worker logs and crash logs are as follows, please help, thank you:)

[worker.log](https://github.com/Alluxio/alluxio/files/6952045/worker.log)
[hs_err_pid29051.log](https://github.com/Alluxio/alluxio/files/6952046/hs_err_pid29051.log)

[2021-08-09 05:04] maobaolong commented on #13838
@yuzhu Please take a look thanks.

[2021-08-09 06:37] maobaolong opened #13904 "Master report Maximum lock count exceeded"
**Alluxio Version:**

Master branch from commit hash 7b4abe1dd481

**Describe the bug**

Exception in thread "master-rpc-pool-thread-182" java.lang.Error: Maximum lock count exceeded
        at java.util.concurrent.locks.ReentrantReadWriteLock$Sync.fullTryAcquireShared(ReentrantReadWriteLock.java:528)
        at java.util.concurrent.locks.ReentrantReadWriteLock$Sync.tryAcquireShared(ReentrantReadW

[2021-08-09 07:20] maobaolong commented on #13904
I found alluxio master filled by the following log

[code]

I guess the lost file count was a high value.

![image](https://user-images.githubusercontent.com/17329931/128671552-04553126-05b5-412d-a992-9c2e1d3900ff.png)

[2021-08-09 09:48] maobaolong opened #13907 "Alluxio job master crash caused by OOM"
**Alluxio Version:**

Master branch from hash   601272157bf

**Describe the bug**

Alluxio job master crash after I use distributed load  several times.

We see oom from alluxio job service master, and the cost time of leadership transfer took 30 minute(Maybe include gc pause times)

This is the related metrics of job master
![image](https://user-images.githubusercontent.com/17329931/128691991-f6c

[2021-08-09 09:50] maobaolong commented on #13907
@yuzhu Would you please take a look at this issue, it's a blocker to load big amount dataset in our scenario.

[2021-08-09 15:57] yuzhu commented on #13904
@ggezer is this similar to what we saw before?

[2021-08-09 16:17] maobaolong commented on #13904
@yuzhu @ggezer Do you need more information?

[2021-08-09 18:02] ggezer commented on #13904
@yuzhu Earlier leak was on inode locks. This issue seems to happen on state-lock manager. (Not sure if it's a leak or not yet.)
@maobaolong thanks, i'll let you know if we need more info.

[2021-08-10 00:24] maobaolong commented on #13904
@ggezer thanks for fix this pr. Could you let me know when journal close? Or I want to know how to workaround or avoid to encounter this issue  before patch your fix

[2021-08-10 00:32] ggezer commented on #13904
It'll be closed on the leader when stepping down. It's actually pretty short between closing the journals and stopping RPC server. However this duration was long enough in your case for RPCs to hit the limit. So It'd be very good to know why this short period was prolonged in your case.

[2021-08-10 00:36] ggezer commented on #13904
I wonder how many leader switches happen in your case, since RPC servers should have been closed before journal is closed. So I suspect some wild cycling of leader in your cluster. Having all master logs during this period would be nice.

[2021-08-10 18:52] beinan commented on #13907
@yuzhu can we close this issue?

[2021-08-10 18:54] beinan commented on #13903
@ggezer could you help take a look?

[2021-08-10 18:56] beinan commented on #13894
@yuzhu could you help take a look?

[2021-08-10 18:58] beinan commented on #13878
@yuzhu can we close this one?

[2021-08-10 18:59] beinan commented on #13877
@ggezer could you help take a look?

[2021-08-10 19:04] yuzhu commented on #13878
fixed by #13859

[2021-08-10 19:04] #13878 closed

[2021-08-10 19:06] yuzhu commented on #13907
@beinan waiting for confirmation from @maobaolong that the patch alleviates the issue

[2021-08-11 01:25] maobaolong commented on #13907
@yuzhu Thanks for your fix, I have a workaround approach, that is just increase our worker heap memory and decrease the `alluxio.job.master.job.capacity`

[2021-08-11 03:07] maobaolong commented on #13904
Our log file is full of the following line
2021-08-06 15:45:44,800 WARN  ReplicationChecker - Failed to check replication level for inode id 38546995937279 : inodeId 38546995937279 does not exist

[2021-08-11 06:03] LuQQiu commented on #13888
@maobaolong i tested in both mac and os.
In Linux, i copy the file to standalone fuse mount point and then copy it back
[code]
Those two files are exactly the same, fuse works well.
[code]
the fuse config is
[code]
in local mac, I do see the same fuse process exited issue.

[2021-08-11 10:53] dbw9580 commented on #13686
This issue came up during today's discussion in Presto community sync.

I think as long as the above assumption is still applicable, we won't be able to update the mount points during database sync. So the solution can be to use a special directory (say `/managed_catalog/`) and assume the user is not allowed to manually mount things under this directory. In other words, this is a "managed" directo

[2021-08-11 22:03] ggezer commented on #13904
Reopening for background investigation.

[2021-08-11 22:43] ggezer commented on #13904
@maobaolong Do you have `alluxio.master.journal.exit.on.demotion` enabled on the master?

[2021-08-12 02:05] maobaolong commented on #13904
@ggezer No, it kept default `false`

[2021-08-12 03:01] maobaolong commented on #13888
@LuQQiu This is the error log on mac

[code]

[hs_err_pid66943.log](https://github.com/Alluxio/alluxio/files/6972557/hs_err_pid66943.log)

[2021-08-12 04:37] ggezer commented on #13904
@maobaolong As you hinted at, it looks LostFileDetector is missing appropriate back-offs when master is stepping down. It should back-off when the journal is closed.

Additionally, we'll investigate why `LostFileDetector` was not interrupted during step down.

[2021-08-12 21:55] ggezer commented on #13272
@frankobe Sorry for late response on this issue.
Could you please provide details on how did you rotate the master?

[2021-08-12 23:23] LuQQiu commented on #13888
@maobaolong Yeah, i also see that in mac. I cannot reproduce in Linux but can in mac

[2021-08-13 03:03] hetu18274506280 commented on #13030
Please help me, I face the same situation.

[2021-08-13 03:05] hetu18274506280 commented on #13030
`org.apache.hive.service.cli.HiveSQLException: Error while compiling statement: FAILED: HiveAccessControlException Permission denied: user [root] does not have [READ] privilege on [alluxio://ambari-node-2:19998/data/event/action_external]
        at org.apache.hive.service.cli.operation.Operation.toSQLException(Operation.java:348) ~[hive-service-3.1.0.3.1.4.0-315.jar:3.1.0.3.1.4.0-315]
        at

[2021-08-13 03:09] hetu18274506280 commented on #13030
@loovia Did you solve it?

[2021-08-13 03:56] liugs0213 opened #13929 "Failed to connect to remote block worker"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
Add any

[2021-08-13 04:00] liugs0213 commented on #13929
Alluxio Version : 2.6.0
Spark Version: 3.1.2

[2021-08-13 04:00] #13929 closed

[2021-08-13 04:08] lilyzhoupeijie opened #13930 "When spark begin to write to alluxio,can not connect to worker"
**Alluxio Version:**
2.6.0

**Describe the bug**
we use spark to write to alluxio,and after writing for a few minutes,the spark begin to fail
spark as follows:
from __future__ import print_function

import sys
from random import random
from operator import add

from pyspark.sql import SparkSession
import datetime

if __name__ == "__main__":

    pathSa3="alluxio://graytest1-master-0.kf-partition:2

[2021-08-13 04:15] #13904 closed

[2021-08-13 05:27] apc999 commented on #13907
ok. I will close this issue for now and feel free to reopen it if @yuzhu 's fix is not working

[2021-08-13 05:27] #13907 closed

[2021-08-13 08:39] maobaolong opened #13932 "Incorrect metric Master.EmbeddedJournalSnapshotLastIndex and Master.JournalEntriesSinceCheckPoint"
**Alluxio Version:**
Master branch commit id  601272157bf

**Describe the bug**

The metric Master.EmbeddedJournalSnapshotLastIndex and Master.JournalEntriesSinceCheckPoint are not correct.

![image](https://user-images.githubusercontent.com/17329931/129327373-1f4cf6af-863a-4612-a163-d9d87a31554f.png)

![image](https://user-images.githubusercontent.com/17329931/129327785-cff2cfd2-acb7-466f-93b1-7c

[2021-08-14 02:05] ggezer commented on #13272
It seems there has been an attempt at fixing this issue with https://github.com/Alluxio/alluxio/pull/13389
I'm taking a look further to validate if this issue has been fixed completely.

[2021-08-14 03:45] amosannn opened #13934 "Unable to collect ramdisk information through "df" command"
**Alluxio Version:**
v2.6.0

**Describe the bug**
Hi guys, we have some troubles.

1. If we use the `alluxio-mount.sh` script to mount the memory disk, the usage information cannot be collected through the `df` command.
![image](https://user-images.githubusercontent.com/16012509/129432755-b8b75506-e468-44ed-9ebd-c8eaf4bc08fa.png)
2. If we do not mount the memory disk through the `alluxio-mount.sh`

[2021-08-16 01:46] maobaolong commented on #13904
@ggezer Thanks for the fixes related to this issue!

[2021-08-16 16:05] kuszz opened #13938 "Incorrect metric Cluster.CacheHitRate"
**Alluxio Version:**
Master branch commit id 0d8d17b

**Describe the bug**
The metric Cluster.CacheHitRate is not correct, the value get from http://master:19999/metrics/prometheus is negative too
![image](https://user-images.githubusercontent.com/21366445/129592667-59963628-9676-4b4c-9478-3048eeb9ad08.png)

**Urgency**
High

@yuzhu Please take a look for this

[2021-08-16 16:08] kuszz commented on #13894
I have writen code for this issue, and will upload code after test finish

[2021-08-17 00:52] ggezer opened #13940 "Qurom info command to include the current leader"
**Is your feature request related to a problem? Please describe.**
There's no easy way to spot current leader in embedded journal cluster.

**Describe the solution you'd like**
`fsadmin journal quorum info` command can print the current EJ leader as well.

[2021-08-17 01:45] neuyilan commented on #13700
It‘s a good idea, and I think it is still important that we can provide an **interface** that can make some caches invalid when using Alluxio-as-lib local cache, in this way, users can decide whether to eliminate some local caches according to their business.

[2021-08-17 02:16] lilyzhoupeijie opened #13941 "alluxio async_through writing to ceph,some files can never written to ceph"
**Alluxio Version:**
2.6.0

**Describe the bug**
we use spark to write to alluxio,and alluxio to ceph using async_through,we found that some files can nerver wriiten to ceph,and we got the fllowing error:
2021-08-16 10:17:00,347 WARN  DefaultFileSystemMaster - The persist job (id=1629100390549) for file /graytest1/2021-08-02-03/part-01093-26a3c2a5-f770-4eb5-95aa-8c7127b4726b-c000.tfrecord (id=1949

[2021-08-17 02:27] lilyzhoupeijie opened #13942 "alluxio async_through writing to ceph, data is unevenly distributed among nodes"
**Alluxio Version:**
2.6.0

**Describe the bug**
alluxio async_through writing to ceph, data is unevenly distributed among nodes,and we test the following parameters:
alluxio.user.block.write.location.policy.class
"alluxio.client.block.policy.RoundRobinPolicy"
"alluxio.client.block.policy.MostAvailableFirstPolicy"
but the  data is always unevenly distributed among nodes
eg,maybe worker one has 250

[2021-08-17 19:02] apc999 commented on #13877
@yuzhu  not sure if this is supported, or we have some issues in backwards compatibility?

[2021-08-17 23:26] yuzhu commented on #13938
https://github.com/Alluxio/alluxio/pull/13851 should fix this issue. Also I think make sure to  turn on client side metrics.
alluxio.user.metrics.collection.enabled

[2021-08-17 23:32] yuzhu commented on #13941
@lilyzhoupeijie , could you run `alluxio fs stat` on those files which failed?

[2021-08-18 01:49] kuszz commented on #13938
Thanks, I will reconfirm whether set alluxio.user.metrics.collection.enabled

[2021-08-18 02:02] kuszz commented on #13938
@yuzhu The alluxio.user.metrics.collection.enabled has been set true, maybe there still has a bug...

[2021-08-18 03:58] yuzhu commented on #13932
@LuQQiu seems like `mSnapshotLastIndex` is not getting updated even after a snapshot is taken? any ideas?

[2021-08-18 04:22] LuQQiu commented on #13942
policy determines where the new data written. After you set `alluxio.client.block.policy.MostAvailableFirstPolicy`, will new files written to the most available worker? or you still see all the files written to the busy worker?

those policies doesn't affect the existing written data

[2021-08-18 04:27] LuQQiu commented on #13930
alluxio.master.hostname=172.29.255.225
[code]
failed to connect to ` GrpcServerAddress{HostName=172.29.96.41, `

Looks like `graytest1-master-0.kf-partition` resolved to `172.29.96.41`, but master starts at `172.29.255.225`
@lilyzhoupeijie can you confirm that

[2021-08-18 04:57] maobaolong commented on #13932
![image](https://user-images.githubusercontent.com/17329931/129839299-675d2170-c043-4bea-bea9-be2364f209de.png)

As we see the following logs, I suggest to use `downloaded.getIndex()` as lastSnapshotIndex.
[code]

[2021-08-18 11:11] lilyzhoupeijie commented on #13941
after some tests, we get the following conclusions
we set the alluxio properties as follows,this issue will occur:
	setDefaultProperties(runtime, value, "alluxio.user.block.size.bytes.default", "16MB")
	setDefaultProperties(runtime, value, "alluxio.user.streaming.reader.chunk.size.bytes", "32MB")
	setDefaultProperties(runtime, value, "alluxio.user.local.reader.chunk.size.bytes", "32MB")
	setDefaul

[2021-08-18 11:17] lilyzhoupeijie commented on #13125
this not only occur  in fuse system,when alluxio.fuse.shared.caching.reader.enabled=true is set,the file will never write from allxuio to udfs successfully, all files can not persist to ceph successfully ,the error is alluxio.client.block.stream.SharedGrpcDataReader.getLock(SharedGrpcDataReader.java:68)
alluxio version 2.6.0

[2021-08-18 11:28] lilyzhoupeijie commented on #13942
I guess this problem may be ...
when spark write to alluxio,the alluxio worker will setup gradually and this may casue some data  may  not be  distributed  unevenly

[2021-08-18 11:29] lilyzhoupeijie commented on #13942
Thanks for your help and this issue has been properly resolved

[2021-08-18 11:29] lilyzhoupeijie commented on #13930
Thanks for your help and this issue has been properly resolved

[2021-08-18 18:59] yuzhu commented on #13938
Did you upgrade to include #13851

[2021-08-19 02:18] ngk2009 opened #13957 "Solr integrated underlying storage of alluxio problem"
**Alluxio Version:**
2.6.1

**Describe the bug**
I use HDFS as the underlying storage of alluxio and have successfully integrated Solr, and can use hbase-indexer-mr to import data from hbase to solr. 8 of 16 mapreduce tasks are successfully executed, importing part of the data, but most of them The data import failed. Analysis of this problem may reveal that the data cannot be appended to the file

[2021-08-19 02:47] lilyzhoupeijie commented on #13930
spark write to alluxio,after writing some data,the worker can not connect,spark task fail,but the sparkApplication can success

**Alluxio Version:**
2.6.0

the spark log as follows:
Caused by: alluxio.exception.status.UnavailableException: Failed to connect to remote server GrpcServerAddress{HostName=***, SocketAddress=***/***:20051}. GrpcChannelKey{ClientType=DefaultBlockWorkerClient-Stream, Clie

[2021-08-19 03:16] ngk2009 commented on #13957
There have some warn is my work.log:
WARN  HdfsUnderFileSystem - Failed to set owner for hdfs://master:8020/alluxio/solr/test/core_node3/data/index/_v6.fdx with user: solr, group: solr: org.apache.hadoop.security.AccessControlException: User root is not a super user (non-super user cannot change owner).
	at org.apache.hadoop.hdfs.server.namenode.FSDirAttrOp.setOwner(FSDirAttrOp.java:87)
	at org.ap

[2021-08-19 17:40] LuQQiu commented on #13932
@maobaolong Yeah, it make sense to compare downloaded vs current last snapshot index and use whichever larger

[2021-08-19 17:42] LuQQiu commented on #13942
Thanks @lilyzhoupeijie for finding out the issue!

[2021-08-19 17:42] #13942 closed

[2021-08-19 18:30] apc999 opened #13959 "Avoid or warn lock pool resource shortage"
**Is your feature request related to a problem? Please describe.**

When `BlockWorkerClientPool` is used up (default 1024 threads), applications e.g., writing through Alluxio will stall.
Currently it is hard to tell the resource usage

**Describe the solution you'd like**
Ideally avoid resource starvation , or at least showing good message to indicate what's wrong

**Describe alternatives you've c

[2021-08-19 18:59] apc999 commented on #13941
@yuzhu  do you have theory on this why this can be the case?

[2021-08-19 19:00] apc999 commented on #13930
@LuQQiu  or @yuzhu  are you working with Peijie on this?

[2021-08-19 19:03] HelloHorizon commented on #13957
@ngk2009 you are right, we don't support append.

[2021-08-19 19:03] #13957 closed

[2021-08-19 19:13] yuzhu commented on #13941
the current theory is that we have a bug that gets triggered when we set the chunk size to be bigger than block size.  Usually the chunk size is much smaller. but further investigation is required to pinpoint the bug.

[2021-08-19 19:15] yuzhu commented on #13930
@apc999 i am working with Peijie on this.  We are checking various resources such as threadpool and socket ulimit etc, but have not found anything. The default connection time out is 30sec, which should be plenty to establish a connection.

[2021-08-19 20:14] yuzhu commented on #13930
@lilyzhoupeijie could you also check if OOM killer could have killed the worker process? Especially since you mentioned alluxio was using a lot of memory.

[2021-08-20 07:46] adol001 opened #13962 "generate-tarballs.sh with release and hadoop-distributions, the hadoop-distributions param has no effect"
**Alluxio Version:**
2.6.1

**Describe the bug**
hadoopClients []string as a param in generateTarball method from generate-tarball.go
isn't used
so when you call generate-tarballs.sh with release and hadoop-distributions, the hadoop-distributions param has no effect

**To Reproduce**
go run src/alluxio.org/build-distribution/main.go release -hadoop-distributions=hadoop-2.7
the hadoop-distributions

[2021-08-20 09:53] thirdparty-core opened #13963 "Can't format Alluxio when HDFS as Alluxio’s under storage system That HDFS authenticate by kerberos"
**Alluxio Version:**
2.6.1

**Describe the bug**
HDFS as Alluxio’s under storage system That HDFS authentication by kerberos,and can't format Alluxio.
The host on which I run format does not perform Kinit operation，and I have made the following configuration:
[code]
exception:
[code]

Now I want to know if alluxio is not certified for HDFS? Or do I lack any configuration?

Looking forward to your

[2021-08-23 17:14] ggezer commented on #13877
Has there been any progress on this?

[2021-08-23 17:40] ggezer commented on #13903
@amosannn watermark configurations are now obsolete.
Please see this for most recent information on multi tiering: https://docs.alluxio.io/os/user/stable/en/core-services/Caching.html#tiered-storage-management

Also, what's your JVM on workers?

[2021-08-23 18:08] yuzhu commented on #13877
@apc999 @ggezer I don't think backwards compatibility is maintained as we moved from 1.8 to 2.x. This specific error is because we changed the way we store fingerprint.

@xpleaf
I would recommend formatting the master in this case. There are many major changes from 1.8 to 2.x.

[2021-08-23 21:55] ZacBlanco opened #13969 "Allow PropertyKey defaults to depend on other property key values"
**Is your feature request related to a problem? Please describe.**

We should be able to set some property defaults as propertional to another property value. This can alleviate configuration changes to some portions of the system by limiting the number of properties a user has to change when attempting to optimize the system.

This should be able to be achieved today, but would incur a high start

[2021-08-24 00:56] maobaolong commented on #13932
@LuQQiu The metrics `lastAppliedTermIndex.getIndex()` is not correct too.

[2021-08-24 03:47] thirdparty-core opened #13970 "文档中alluxio.master.ufs.active.sync.interval=30secs的单位与源码不一致"
**Alluxio Version:**
2.6.1

**Describe the bug**
[核心功能]-->[统一命名空间]-->主动同步的静默期
文档中alluxio.master.ufs.active.sync.interval=30**secs**的单位**secs**与源码不一致，在startSync时，解析失败，导致master挂掉。
源码支持的单位如下：
[code]

**To Reproduce**
alluxio-site.properties:
alluxio.master.ufs.active.sync.interval=30secs

shell：./bin/alluxio fs startSync /

**Expected behavior**
对于初次使用者，很容易被误导。建议统一一种单位格式.

**Urgency**
Describe the im

[2021-08-24 11:20] tomscut opened #13972 "Data loss when worker crashed"
**Alluxio Version:**
2.6.0

**Describe the bug**
In our test cluster, we used Flink to consume Kafka data and write it to Alluxio. There are three workers, the number of replication is 2, UFS is HDFS, writeType is cache_through. After we stopped two of the workers and waited for Kafka lag to recover, we began to compare the data directly written into HDFS by product cluster, and found that the dat

[2021-08-24 11:23] tomscut commented on #13972
Hi @yuzhu @maobaolong , have you met similar problems? Please help to confirm whether there is a bug here. Thanks a lot.

[2021-08-24 18:59] apc999 commented on #13970
@thirdparty-core thanks for reporting this issue. I submitted https://github.com/Alluxio/alluxio/pull/13975 to fix it

[2021-08-24 19:01] apc999 commented on #13962
@Xenorith  can you take a look at this issue as it is tooling?

[2021-08-24 20:10] #13970 closed

[2021-08-24 20:14] ffcai opened #13976 "Worker Container OOMKilled in Kubernetes Deployment"
**Alluxio Version:**
2.6.1

**Describe the bug**
We use Helm to deploy an Alluxio cluster on Kubernetes following the [doc](https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Kubernetes.html). We configured to run single master and 8 workers, for memory, we set 32G for the master and 64G for each worker. We are seeing the workers' memory usage keeps growing exceed the k8s containe

[2021-08-24 21:29] Xenorith commented on #13962
yeah i'll take a look at this

[2021-08-24 22:27] HelloHorizon commented on #13963
We don't support the Alluxio access Kerberos enabled HDFS cluster.

[2021-08-24 22:27] #13963 closed

[2021-08-25 00:07] yuzhu commented on #13976
@ffcai could you collect a heap dump before OOMed. something like `jmap -dump:file=heap.hprof pid` Also what was the workload on the workers when you experienced  increased memory usage?

[2021-08-25 00:14] yuzhu commented on #13976
it would also help to paste your alluxio configuration and any jvm options here.

[2021-08-26 03:02] yuzhu opened #13979 "Possible worker memory leak (netty)"
**Alluxio Version:**
2.6.1

**Describe the bug**
Memory leak detector found a leak

**To Reproduce**
[code]

**Expected behavior**
No leak
**Urgency**
Blocker

**Additional context**
Add any other context about the problem here.

[2021-08-26 14:47] yangjf2019 opened #13984 "Upgrade netty to the stable version to fix the existing CVE"
**Summary**
Upgrade netty to the stable version (netty-4.1.65.Final) to fix the existing [CVE](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-21409).

[2021-08-26 15:20] codings-dan opened #13987 "Alluxio Embedded HA can't work when two follower crash"
**Alluxio Version:**
2.6.1

**Describe the bug**
A clear and concise description of what the bug is.

Our cluster has three master nodes, namely master-0, master-1, and master-2, of which master-2 is the leader. Master-0 and master-1 went down at the same time. After the two nodes restarted, master-1 became the new leader. At this time, we found that no new raft logs were generated in master-2. Af

[2021-08-26 17:44] LuQQiu opened #14968 "Alluxio fuse umount failed but message says successfully unmount"
[code]
Improve the alluxio-fuse script to get the kill result and print out "Failed" or "Success" messages based on kill result

[2021-08-28 00:27] yuzhu commented on #13976
@ffcai any update on this? have you tried to clear the ramdisk cache to see if that is indeed counted in the k8s memory limit?
or have you received any guidance from k8s community on this?

[2021-08-30 10:43] thirdparty-core opened #14002 "Spark can't access Alluxio via URL authority"
**Alluxio Version:**
What version of Alluxio are you using?
alluxio-2.6.1

**Describe the bug**
spark on yarn
spark version:2.4.6
hadoop.version:3.1.3

Spark with alluxio，I configured my spark-default.conf as follows according to the document:
[code]
spark-submit shell:
[code]
my spark code like this:
[code]

runtime logs：
[code]
What should I do in a situation like mine?
Looking forward to your r

[2021-08-30 12:50] jiacheliu3 commented on #13972
Hi @tomscut thanks for the report!

We'd like to further understand the log you added and see. In your log for `updateCurrentChunk()` could you print more information in that log message? For example I recommend printing the `lastChunk` argument, the `mLength` and `mAddress` from the `BlockOutStream` object. Also the `mDataWriters` from the `BlockOutStream` class has information about the `DataWri

[2021-08-30 12:51] jiacheliu3 commented on #13972
Also do you observe any pattern between the log message and the data loss? Does one exception correspond to one data loss?

[2021-08-30 19:50] ZhuTopher commented on #13976
@yuzhu Just for your reference, here is the prior investigation regarding the Alluxio worker container memory limits wrt ramdisk in Kubernetes: https://github.com/Alluxio/alluxio/issues/13022

[2021-08-30 21:03] LuQQiu commented on #13932
@maobaolong can you give more information about what's the incorrect behavior of `lastAppliedTermIndex.getIndex()` after our fixes?
lastAppliedTermIndex.getIndex() is provided by Ratis and is not controlled by Alluxio.
Did you see a negative value?
I looked at the code and the logics seem to be correct

[2021-08-30 21:31] ffcai commented on #13976
Hi @ZhuTopher I just read through https://github.com/Alluxio/alluxio/issues/13022, the issue we ran into is very close to it, and it took us quite a few days to realize the pod memory limit needs to take account of the memory-backed volume, same as your [explanation](https://github.com/Alluxio/alluxio/issues/13022#issuecomment-801290907) and [conclusion](https://github.com/Alluxio/alluxio/issues/1

[2021-08-30 21:44] yuzhu commented on #13976
@ffcai  Thanks for reporting back your findings. Glad it works now.

@ZhuTopher do you mind adding some notes in our doc mentioning that pod memory limit needs to include ramdisk allocation as well?  We can close the issue once doc is updated.

[2021-08-31 01:33] ZhuTopher commented on #14002
Hello, thank you for posting your issue! Could you do a few preliminary things for me while I get an environment set up myself to reproduce your error?

1. On the host machine where you run `spark-submit`, could you run the following?
[code]
If you don't have `nslookup`, then `ping` is fine too; I just want to see what the IP those hostnames resolve to.

2. If possible, could you share a screensho

[2021-08-31 03:09] jiacheliu3 commented on #13023
@ZhuTopher Can this issue be closed?

[2021-08-31 03:09] jiacheliu3 commented on #13022
@ZhuTopher Can this issue be closed?

[2021-08-31 03:31] jiacheliu3 commented on #13976
@ffcai Thx for the added information! I'm very curious on the performance difference in `emptyDir` vs `hostPath`. I'd appreciate it if you could share that!

[2021-08-31 05:53] thirdparty-core commented on #14002
Let me say sorry first. I used a fake hostname. But the problem remains.
ping hosts where I run spark-submit：
[code]
[code]
[code]
**spark-submit shell**
[code]
**Spark UI env**
![image](https://user-images.githubusercontent.com/16370666/131446047-72948ce4-680c-4103-9007-05881123daf4.png)

**hdfs-site.xml**
[code]
**core-site**
[code]
**my alluxio mountTable:**
![image](https://user-images.githubu

[2021-08-31 13:23] lilyzhoupeijie opened #14007 "when serval process read the same file,it will be slow using jni fuse"
when serval process read the same file,it will be slow using jni fuse

There is  an sychrnized func,and will cause read very slowly when reading the same file.

alluxio/integration/fuse/src/main/java/alluxio/fuse/AlluxioJniFuseFileSystem.java

 // FileInStream is not thread safe
      synchronized (is) {
        if (!mOpenFileEntries.containsKey(fd)) {
          LOG.error("Cannot find fd {} for {}

[2021-08-31 18:03] yuzhu commented on #13979
@lilyzhoupeijie have you applied the patch and do you continue to see the memory leak?

[2021-08-31 18:49] ZhuTopher commented on #13023
@jiacheliu3 Yes I believe so

[2021-08-31 18:49] #13023 closed

[2021-08-31 18:55] ZhuTopher commented on #13022
I will close this issue after the docfix PR #14004 gets merged in; I forgot to make that doc update back then!

[2021-08-31 18:57] yuzhu commented on #13758
@ggezer and @jiacheliu3 any thoughts on this design doc and the associated PR?

[2021-08-31 19:13] ZhuTopher commented on #14002
Thanks so much for the detailed information! I will post an update once I or somebody has investigated this issue further.

[2021-09-01 06:45] bzheng888 opened #14011 "Invalidate client-side metadata cache to be consistent"
**Is your feature request related to a problem? Please describe.**
When we enable client metadata cache(like fuse), the default cache expired time is 2 hour,  we  can't update the cache when the metadata is actually changed until the old metadata cache expired. It affects the workload sometimes.
Based on the above reasons，It's useful to a new command to clear the client metadata cache
**Describe t

[2021-09-01 06:57] thirdparty-core commented on #14002
Hello, I found the reason.
The details are as follows:
Since alluxio.hadoop.FileSystem has no **Override** **org.apache.hadoop.fs.FileSystem#addDelegationTokens(String renewer, Credentials credentials)**，And when my hadoop turned on kerberos authentication and spark was running on yarn, it would use the method of org.apache.hadoop.fs.FileSystem#addDelegationTokens to obtain the token, and this met

[2021-09-01 17:25] LuQQiu commented on #13826
@ZhuTopher Any updates for this?
Basically @maobaolong is asking for a way to understand the worker load status,
If ActiveRead/Write Count, something using metrics increment/decrement is hard to get it right and is easy to break, we can use other formats. Let me know if you have more information about this.
It may be better to directly expose some internal status like thread pool size, etc.
On the

[2021-09-01 18:22] LuQQiu opened #14013 "AlluxioMonitor services share the same java opts as Alluxio services"
**Alluxio Version:**
Alluxio-2.7.0-SNAPSHOT
alluxio-2.6.0
alluxio-2.6.1

**Describe the bug**
After configuring AlluxioMaster or AlluxioWorker with VisualVM configuration
[code]
and run
[code]
the start will error out with
[code]

When i check the 7091 port usage, it is actually used by AlluxioWorker process correctly.

After look into alluxio-monitor.sh https://github.com/Alluxio/alluxio/blob/f44

[2021-09-01 18:23] LuQQiu commented on #14013
@jiacheliu3 @yuzhu @ggezer @dbw9580 FYI

[2021-09-01 18:24] LuQQiu opened #14967 "Improve alluxio-monitor.sh"
https://github.com/Alluxio/alluxio/issues/14013

[2021-09-01 18:29] ZhuTopher commented on #13826
@LuQQiu I haven't touched this ticket, most likely those specific `Counter`s will be deprecated and replaced with something else as those were introduced as a hold-over. Other existing metrics would probably be better indicators of worker stress if we have any.

[2021-09-01 19:20] ZhuTopher commented on #14002
Hello @thirdparty-core, regarding the use of Kerberos/Delegation token as you have mentioned, that is a feature which is only available in Alluxio enterprise edition. You can request a trial for the Alluxio enterprise edition, in which case the relevant documentation for setting up Alluxio with delegation tokens would be [here](https://docs.alluxio.io/ee/user/stable/en/operation/Kerberos-Security-

[2021-09-02 01:21] thirdparty-core commented on #14002
Hello @ZhuTopher ，Thank you very much for your reply. I personally will try to  request a trial.
Good luck!

[2021-09-02 01:21] #14002 closed

[2021-09-02 01:41] #13022 closed

[2021-09-02 03:18] maobaolong commented on #13838
@yuzhu Would you like to support monitor the total reported Blocks from worker? As `Master.UniqueBlocks` is the metastore UniqueBlocks which cannot show the report or replica information.

[2021-09-02 03:26] yuzhu opened #14014 "Add TotalBlocks metric as reported by the worker"
**Is your feature request related to a problem? Please describe.**
This is different from UniqueBlock which is from master's point of view.
We can get a sense of how replicated blocks are from these two metrics.

[2021-09-02 03:27] yuzhu commented on #13838
@maobaolong tracking it in a new issue #14014

[2021-09-02 06:08] dbw9580 opened #14015 "Allow running stress master bench without mounting a UFS"
**Is your feature request related to a problem? Please describe.**

Currently the `StressMasterBench` needs a UFS mounted to create test files. In order to create the maximum stress possible on the master, an approach is to allow running the benchmark without a UFS.

**Describe the solution you'd like**
Allow running the `StressMasterBench` without a UFS mounted.

**Describe alternatives you've co

[2021-09-02 06:20] dbw9580 opened #14016 "Submit job along with job definition and dependecies as jars to job service"
**Is your feature request related to a problem? Please describe.**
Currently with job service, the job definition and dependent classes are part of and built along with Alluxio. When debugging an issue, one needs to recompile the whole project, restart the whole cluster running job service with updates Alluxio binaries, and rerun the updated job. This is cumbersome and error-prone.

**Describe the

[2021-09-02 09:11] dbw9580 commented on #14015
The scope of this issue might extend to other benchmarks beyond `StressMasterBench`.

[2021-09-02 12:47] #11899 closed

[2021-09-02 12:49] apc999 commented on #12049
this is fixed by https://github.com/Alluxio/alluxio/pull/13790

[2021-09-02 12:49] #12049 closed

[2021-09-02 12:52] #11952 closed

[2021-09-02 12:54] #11923 closed

[2021-09-02 12:54] apc999 commented on #11856
we shall be good with latest fuse implementation after v2.6.1

[2021-09-02 12:54] #11856 closed

[2021-09-02 12:57] apc999 commented on #11827
we have make `ls` operation to avoid extra copies  by https://github.com/Alluxio/alluxio/pull/12315

[2021-09-02 12:57] #11827 closed

[2021-09-02 12:57] apc999 commented on #11825
both are supported now in JNI Fuse since 2.6.0

[2021-09-02 12:57] #11825 closed

[2021-09-02 12:58] #11802 closed

[2021-09-02 13:00] #11699 closed

[2021-09-02 13:00] apc999 commented on #11681
please try use latest Alluxio FUSE (backed by JNIFuse) after 2.6.1

[2021-09-02 13:00] #11681 closed

[2021-09-02 13:04] apc999 commented on #11475
alluxio fuse was reimplemented now using JNIFuse to overcome original limitations with JNRFuse, please try versions after 2.6.

[2021-09-02 13:04] #11475 closed

[2021-09-02 13:08] apc999 commented on #11434
it is likely due to
1 a lot of pending unclosed gRPC connections: in FUSE, connections are only closed when 'release' is called and this can be async, which may keep a lot of gRPC connections around
2 a few buffer leak recently fixed

we will fix this issue in 2.6.2

[2021-09-02 13:08] #11434 closed

[2021-09-02 13:12] #13962 closed

[2021-09-02 13:16] apc999 commented on #13867
@qian0817  does this work for you?

[2021-09-02 13:19] apc999 commented on #13685
feel free to re-open this issue when you can provide more info

[2021-09-02 13:19] #13685 closed

[2021-09-02 13:20] apc999 commented on #13681
https://github.com/Alluxio/alluxio/pull/13955 targets to address this by adding lastModificationtime to local cache on file level

[2021-09-02 13:20] #13681 closed

[2021-09-02 19:05] apc999 commented on #13758
@maobaolong @bzheng888 @jiacheliu3 let's have a discussion on this design of worker decommission before checking in code.The design doc looks pretty thin currently.

[2021-09-02 19:11] apc999 commented on #14014
@maobaolong  are you going to work on it?

[2021-09-02 19:20] apc999 commented on #14011
one way possibly to handle this is to make worker services modular and then make it possible to turn on FUSE service and Proxy service, then we can run generic commands to the Proxy server, e.g. `fs ls -f` to force update cache

[2021-09-02 19:23] apc999 commented on #13987
Since this is not supported currently by Ratis, I will close this as a bug
@maobaolong do you have further input? Feel free to re-open it if you have further update.

[2021-09-02 19:23] #13987 closed

[2021-09-02 19:29] apc999 commented on #14007
@lilyzhoupeijie  yes this is a known limitation. @LuQQiu will take a look on the potential optimizations later.

[2021-09-03 07:53] thirdparty-core opened #14019 "Illegal character in user info at index 10: alluxio://[zk@henghe66:2181;henghe67:2181;henghe68:2181]"
**Alluxio Version:**
What version of Alluxio are you using?
Alluxio-2.6.1

**Describe the bug**
A clear and concise description of what the bug is.
Hive on Spark
Spark：2.4.6
Hive：3.1.2
Hadoop：3.1.3

Hive on Spark is based on Alluxio,when I run a sql like '**select count(*) from person**' in hive cmd, then throw an exeption:
[code]
I now want to know which parameter 'alluxio://[zk@henghe66:2181;hen

[2021-09-03 09:22] #13787 closed

[2021-09-03 18:51] LuQQiu opened #14020 "Thousands of gRPC connection slow down machine learning read"
**Alluxio Version:**
Alluxio 2.6.1

**Describe the bug**
When using DALI data loader https://developer.nvidia.com/dali to load imagenet data. The dataset is about 1.2 millions file * 105KB on average per file = 130GB total data. DALI loads data in batches, doing some machine learning training, and then close the input streams in batches (related script can be found https://github.com/LuQQiu/DALI/b

[2021-09-04 01:17] yuzhu commented on #14016
With this feature request, we are almost bordering on a general purpose execution framework. Not sure we want job service to be that, or reinvent the wheel while there are many excellent implementations already.
Since it is a such a major shift in the job service responsibility, it will require some discussion and planning.
FYI @apc999 @madanadit

@maobaolong do you have some more usecase other th

[2021-09-05 03:58] maobaolong commented on #14014
@apc999 Sure, I push a new PR to solve this issue.

[2021-09-06 11:44] bzheng888 opened #14026 "How to get incomplete file's number and handle these incomplete files"
**Is your feature request related to a problem? Please describe.**
When a file is not closed correct, file status might be incomplete, how can we get the number of incomplete files and handle them correctly. Better give a  way to do this.
*Describe the solution you'd like**
A metric to get the number of incomplete
A shell command to handle this incomplete file.

**Describe alternatives you've cons

[2021-09-06 23:00] LuQQiu opened #14028 "Remote read performance improvement in distributed training of millions of files"
**Summary**
Use Nvidia Data loading library DALI https://developer.nvidia.com/dali for distributed data loading. Nvidia  Data Loading Library DALI provides built in data loaders and data iterators. DALI supports overlapping training and data pre-processing to reduce latency and training time. It can be used as a benchmarking to test the data loading speed from Alluxio storage in AI workloads.

Wor

[2021-09-06 23:03] LuQQiu commented on #14028
Experiment 1
Question: why cluster read throughput is that slow, only 2400 img/s

Observation:
cluster settings
- CPU/memory
- Alluxio configuration -> master/worker/fuse config
ML workloads, ML read pattern
Alluxio Fuse
- Underlying FUSE/libfuse/jnifuse impl
- Alluxio Fuse impl
- Alluxio client code
- Alluxio client metadata ops
- Alluxio client data ops

Hypothesis:
CPU resources are not enough

[2021-09-06 23:04] LuQQiu commented on #14028
Experiment 2
Question: Narrow down the question: Performance is bounded by
Underlying Fuse + libfuse + jnifuse or Alluxio Fuse/client/master/worker

Hypothesis: Fuse + libfuse + jnifuse + directly reading from local filesystem can generate much better throughput than 1500 img/s. Alluxio impl has the potential to achieve much better performance.
Experiment:
StackFs = Fuse + libfuse + jnifuse + dire

[2021-09-06 23:12] #13239 closed

[2021-09-06 23:12] LuQQiu commented on #14028
Experiment 3
Question: How can Alluxio with 6 replica read performance increase from 1600 img/s to a value that close to 6000 img/s

Observation: compare the two env and understand the diff. Understand the Alluxio read path and see where could be the potential bottleneck. Use flamegraph/visualvm to see potential bottlenecks.

Hypothesis
- Metadata operation: Metadata in StackFs is local while Allu

[2021-09-06 23:13] LuQQiu commented on #14028
Experiment 4
Question: Why Fuse on worker implementation does help improve the overall cluster read performance? How can we improve cluster read performance?

Hypothesis: Remote read is the performance bottleneck.

Experiment: Add a bunch of metrics to see where the time spend.

Result: Most of the time spend in remote read. Fuse process local read 576 MB/s, Fuse remote read 16.4 MB/s. More than 3

[2021-09-06 23:14] LuQQiu commented on #14028
Experiment 5
Question: Why remote read is the performance bottleneck? How to improve remote read performance?

Hypothesis:
gRPC itself is the performance bottleneck
Remote read slowness is expected, since it includes transferring data through network. Network IO is the performance bottleneck

Experiment:
Implement Fuse single node read stressbench test to compare Fuse process local read vs gRPC lo

[2021-09-06 23:21] LuQQiu commented on #14028
Experiment 6
Question 1: Why remote read is the performance bottleneck? How to improve remote read performance?
Question 2: What are the differences between DALI env and Stressbench env that could result in the diff?

The hypothesis from observation:
- CPU resources. DALI env worker only has 1 CPU (configured by kubectl yaml scripts）which stressbench env worker can use up to 16 CPU
- ML read patte

[2021-09-07 00:32] LuQQiu commented on #13826
@apc999 @yuzhu any thoughts on which existing metrics can indicate worker stress or what metrics can we add for indicate worker stress?

[2021-09-07 02:53] Binyang2014 commented on #14028
Can we provide the detail Alluxio configurations for this experiments? We do want to reproduce the results in our test bed.

[2021-09-07 06:56] maobaolong opened #14029 "Elect return success while master report timeout exception"
**Alluxio Version:**
master branch from d2e9472438057146216374b46ece361c9acd4723

**Describe the bug**

Running elect return success while master report timeout exception

**To Reproduce**

- Start a ha mode 3 master cluster.
- Close one master.
- Elect the closed master to be leader

[code]

But I found the error log in master.log, In fact the master encountered some unexpected error.

[code]

**

[2021-09-07 06:58] maobaolong commented on #14029
Another related exception is

[code]

[2021-09-07 07:56] maobaolong commented on #14029
@codings-dan Would you like to take this ticket?

[2021-09-07 09:35] codings-dan commented on #14029
will do

[2021-09-07 13:07] codings-dan opened #14030 "Add a command to manually reset the priority"
**Is your feature request related to a problem? Please describe.**
When transfer leader, in some scenarios, the priority may produce an exception. For example, I encountered this scenario during the switching process,

`bin/alluxio fsadmin journal quorum info -domain MASTER
Journal domain  : MASTER
Quorum size     : 3
Quorum leader   : localhost:19201

STATE       | PRIORITY | SERVER ADDRESS
UNAVA

[2021-09-07 14:21] ggezer commented on #13826
@LuQQiu high eviction rate would be an indicator for stress on capacity.

[2021-09-07 21:51] apc999 commented on #14029
thanks @maobaolong  do you mean a new cli or a new option in existing cli?

[2021-09-07 22:06] apc999 commented on #13979
@yuzhu  can you check with @lilyzhoupeijie  to hopefully close this ticket?

[2021-09-07 22:17] apc999 commented on #13976
docs contributed by @ZhuTopher has been merged. so I will close this ticket.
thanks everyone!

[2021-09-07 22:17] #13976 closed

[2021-09-07 22:41] ssz1997 opened #14034 "Fuse IO Stress Bench"
To test the reading performance of Alluxio POSIX API, we design and implement the Fuse IO Stress Bench under the current StressBench test suite.

Single mode test is done and merged in #13869, #13901, #13912, #13919, #13928, and #13946, where we can test the reading performance of one worker and one Fuse mount point.

Cluster mode, where we have a cluster with job service and multiple workers and

[2021-09-08 02:37] maobaolong commented on #14029
@apc999 No, I mean we can add a new client-master api to query the transferleadership schedule and result, if the transfer failed, the original master should reply the error reason to the client, so that the client will fail at once rather than waitfor forever like the current behavior.

[2021-09-08 03:27] maobaolong opened #14036 "Supply a way to use alluxio without worker"
**Is your feature request related to a problem? Please describe.**

Now, applications access alluxio cluster through the alluxio client or FUSE as POSIX api, we have to deploy an Alluxio cluster with a huge mount of worker as cache storage, but in fact, in some of our case, we don't want to use alluxio worker as a cache storage, it would be better and more cheaper to let the application or FUSE se

[2021-09-08 03:27] maobaolong commented on #14036
@beinan @HelloHorizon @apc999 Do you have any thoughts?

[2021-09-08 05:41] beinan commented on #14036
Thank you @maobaolong !    Very beautiful drawing for the solutions!
As we discussed in the community sync, we could achieve it by using Alluxio's local cache.  But there will definitely be a lot of gaps, I will sync with @apc999 and @HelloHorizon offline to discuss the feasibility of this idea.  Again, thanks a lot for opening this issue!

[2021-09-08 06:50] codings-dan opened #14038 "Run stressMasterBench throw exception when create files"
**Alluxio Version:**
alluxio 2.6.1

**Describe the bug**
Use stressMasterBench to create files ,  an exception is thrown

[code]

**To Reproduce**
In an alluxio cluster, execute the command:

`bin/alluxio runClass alluxio.stress.cli.StressMasterBench --base alluxio://alluxio-master-1:19998/testbase15 --conf alluxio.user.file.writetype.default=MUST_CACHE --conf alluxio.user.block.master.client.pool

[2021-09-08 07:12] codings-dan commented on #14038
It can also be reproduced using 15 workers, the command is as follows
`bin/alluxio runClass alluxio.stress.cli.StressMasterBench --base alluxio://alluxio-master-1:19998/testbase15 --conf alluxio.user.file.writetype.default=MUST_CACHE --conf alluxio.user.block.master.client.pool.size.max=512 --conf alluxio.user.file.master.client.pool.size.max=512  --operation CreateFile --warmup 0s --threads 128 -

[2021-09-08 07:43] codings-dan opened #14039 "Run stressMasterBench throw exception when get file status"
**Alluxio Version:**
alluxio 2.6.1

**Describe the bug**
Use stressMasterBench for stress testing , an exception is thrown

[code]
**To Reproduce**

In an alluxio cluster, which contains at least 3 masters and 100 workers, execute the command:

`bin/alluxio runClass alluxio.stress.cli.StressMasterBench --base alluxio://alluxio-master-0:19998/testbase2 --conf alluxio.user.file.writetype.default=MUS

[2021-09-08 08:03] clcc2019 opened #14040 "Permission denied on kubernetes"
**Alluxio Version:**
2.6.1
**Describe the bug**
![image](https://user-images.githubusercontent.com/46099295/132470407-b2d44314-9c97-4c9e-aa13-4ebc67dd6bb0.png)
Permission denied

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency

[2021-09-08 08:13] liubingxing opened #14041 "a way to restore writing to ufs process when worker failed"
**Alluxio Version:**
alluxio 2.6.0

**Describe the problem**
Currently Alluxio lacks a mechanism to recover data writing process when the worker process failed. So we want to implement a write mechanism that automatically restores data writing when worker process failed and ensure data consistency.

The Alluxio restore write process mainly consists of two parts:
1. Restore the data stream written

[2021-09-08 22:44] HelloHorizon commented on #14036
FYI @LuQQiu

[2021-09-08 23:21] yuzhu commented on #14039
@codings-dan do you have any job worker logs snippet that might help us diagnose the issue?

[2021-09-09 04:53] lilyzhoupeijie opened #14045 "alluxio journal is corrupted and the master cannot be started"
**Alluxio Version:**
2.5.0-2

**Describe the bug**

the master can not be started

log as follows：
2021-09-09 03:56:11,881 INFO  MetricsMasterFactory - Creating alluxio.master.metrics.MetricsMaster
2021-09-09 03:56:11,881 INFO  TableMasterFactory - Creating alluxio.master.table.TableMaster
2021-09-09 03:56:11,881 INFO  FileSystemMasterFactory - Creating alluxio.master.file.FileSystemMaster
2021-09

[2021-09-09 05:37] yuzhu commented on #14045
So offline discussion with @lilyzhoupeijie revealed that the journal corruption happened due to instability in the underlying ufs. However, the issue was only discovered after more than 10 days later. This makes recovery very difficult. Do you think we could make a journal integrity checker to deal with such problems? @ggezer

[2021-09-09 16:43] #14014 closed

[2021-09-09 17:48] ZhuTopher commented on #14019
I think this issue is probably due to something unrelated to the linked PR #14021, but I or somebody else will look into this after we resolve that PR first.

In the meantime, can you share your Alluxio properties used (environment variables, `conf/alluxio.site.properties`, etc.)  and maybe a description of how all your services are deployed/configured? Thanks!

[2021-09-09 21:06] ggezer commented on #13867
@qian0817
If proposed solutions do not work, please try dropping below from your configuration as I see you're using hadoop 3+.
`CORE_CONF_fs_AbstractFileSystem_alluxio_impl=alluxio.hadoop.AlluxioFileSystem`

[2021-09-10 02:17] qian0817 commented on #13867
After I delete this line and run the mapreduce job, It looks like mapreduce does not recognize the alluxio uri. full stack is here.
[code]

[2021-09-10 03:06] lilyzhoupeijie commented on #14045
for us,a journal integrity checker is needed urgently

[2021-09-10 05:54] yuzhu commented on #13979
@lilyzhoupeijie closing this for now, if this resurfaces, please open this issue again.

[2021-09-10 05:54] #13979 closed

[2021-09-10 06:43] apc999 commented on #14041
thanks for the proposal @liubingxing . I will add corresponding owner for this tickets

[2021-09-10 06:44] apc999 commented on #14040
@clcc2019 the current information is insufficient. Can you share us if this is master or worker log?

[2021-09-10 06:48] apc999 commented on #14029
let's have a design discussion on this

[2021-09-10 06:57] apc999 commented on #13938
@kuszz ping, any update? shall we close this issue

[2021-09-10 09:49] adios666 opened #14051 "Directory inode becomes file inode when using Alluxio with Huawei OBS"
**Alluxio Version:**
Alluxio-2.4.1

**Describe the bug**
I'm using Alluxio+Huawei OBS. Sometimes a directory inode becomes a file inode

**To Reproduce**
1. Create a file in /test1/test2/test3/file.out
2. Run "alluxio fs rm -R --alluxioOnly /test1"
3. Run "alluxio fs ls /test1"
4. Run "alluxio fs stat /test1/test2". The FileInfo is "xxx, completed=true, **folder=false,** pinned=false, pinnedlocati

[2021-09-10 10:03] copperybean commented on #14036
Well, I have proposed an issue similar to this one:
https://github.com/Alluxio/alluxio/issues/11276

[2021-09-10 15:42] lunan517 opened #14053 "Typo in cn/core-services/Caching.html"
**Page**
https://docs.alluxio.io/os/user/stable/cn/core-services/Caching.html

**Summary**
Alluxio在通过Mount或SudoMount选项启动时，配置并挂载ramdisk。 这个ramdisk大小是由alluxio.worker.memory.size确定的。
should be
alluxio.worker.ramdisk.size

[2021-09-10 16:00] ggezer commented on #13867
This is not correct: `fs.AbstractFileSystem.alluxio.impl=null`
I'm not sure how your configuration works, but this property should not be supplied at all.

[2021-09-10 16:08] qian0817 commented on #13867
I delete this line and not set any value.If you can run successfully, can you provide your configuration file?

[2021-09-10 16:32] ZhuTopher commented on #13867
@qian0817 I am in the process of trying to get a successful configuration based on your `docker-compose.yml` file. There is a possibility of some networking conflicts in Docker with the YARN images that I am running in to, but I will update this ticket when I reach a conclusion.

[2021-09-10 17:10] apc999 commented on #14053
thanks @lunan517 for identifying this issue and fixing it!

[2021-09-10 17:29] #14053 closed

[2021-09-10 18:02] apc999 commented on #14040
@clcc2019  I had a closer look. I don't think it is related to K8s.

HDFS was reporting insufficient permission for a user named `root` to write to HDFS root dir ("/") which is owned by HDFS user named `hdfs`.  You will need to either start Alluxio master/worker process using this user `hdfs` which has full permission in HDFS root dir, or perhaps let Alluxio write to some other directory where `ro

[2021-09-10 18:02] #14040 closed

[2021-09-10 18:34] apc999 commented on #13416
with #13881 closed, will we close this issue @yuzhu @ggezer ?

[2021-09-10 18:36] apc999 commented on #13972
@tomscut  can you help provide more information to help jiacheng debug this issue?

[2021-09-11 01:11] yuzhu commented on #13930
This issue was resolved and the reason was the amount of memory allocated to the container was barely more than the combination of heap and direct memory allocated to alluxio, leaving very little for other parts of the jvm . Increasing the container memory limit or reducing number of threads resolved the issue.

[2021-09-11 01:11] #13930 closed

[2021-09-11 03:15] hfutatzhanghb opened #14055 "Support multi-nameservices uri for creating HDFS fileSystem instance"
## Feature Introduction
Currently, when we use HDFS Command Line to access URL that is Alluxio style,  it can be like this:
`hdfs dfs -ls alluxio:///user/xxxx`.

The command-line above does not support multiple alluxio cluster in the same time. So, the goal of this issue is to support such feature.

After applying this patch , we can use `hdfs dfs -ls alluxio://ns1/user/xxx` , `hdfs dfs -ls alluxi

[2021-09-11 08:23] #14055 closed

[2021-09-11 13:28] qian0817 commented on #13867
Looking forward to your reply

[2021-09-11 13:29] sg-c commented on #14020
@LuQQiu , why cannot the user call `close()` once all data is read?

[2021-09-11 15:24] yabola commented on #14051
This may help you https://github.com/Alluxio/alluxio/pull/14023

[2021-09-12 00:41] apc999 commented on #14039
@codings-dan  does this command fail like this deterministically?

[2021-09-12 03:10] tomscut commented on #13972
Hi @apc999 @jiacheliu3 , sorry for the late reply. I will post a detailed log ASAP.

[2021-09-12 16:46] codings-dan commented on #14039
@yuzhu hi,  this scene has not been reproduced recently, and I will post the log next time it reappears.

[2021-09-12 16:47] codings-dan commented on #14039
@apc999 No, it appears with a certain degree of randomness.

[2021-09-13 05:53] adios666 commented on #14051
No. I tried your commits. It still have the same problem. I think there should be a boolean flag in class `ObjectMetadata` and we can get if an inode is folder or not.

[2021-09-13 09:42] bzheng888 commented on #14011
Thanks for your reply, Let me think about this problem carefully and give a better way to complete this.

[2021-09-13 10:47] thirdparty-core commented on #14019
Hi，Thank you for your reply.
I first modified my local alluxio source code according to [#14021](https://github.com/Alluxio/alluxio/pull/14021).
Secondly, I added the following configuration in the core-site.xml file of Hadoop:
[code]
Now my hive on spark based on alluxio can run normally.

I'm not sure if it's because I modified my local alluxio source code according to [#14021](https://github.co

[2021-09-13 14:39] captainzmc opened #14059 "Update ozone version from 1.0.0 to 1.1.0"
Ozone 1.1.0 has been released for a long time and 1.1.0 is more stable than 1.0.0. We can update the ozone version.

[2021-09-13 14:40] #14059 closed

[2021-09-13 16:12] maobaolong opened #14061 "Worker report to multi master to support fast transfer leader service"
**Is your feature request related to a problem? Please describe.**

Now, if a huge mount of alluxio worker contained a huge mount of blocks, during leadership transforming, all lots the workers will re-register to the new leader and all the blocks need to be reported to alluxio master, the transfer pause time will be longer then expected.

**Describe the solution you'd like**

Worker could report

[2021-09-13 17:19] LuQQiu commented on #14028
@Binyang2014 That's the alluxio configuration i used
[mlk8s.zip](https://github.com/Alluxio/alluxio/files/7156210/mlk8s.zip)

Recommend using the docker image  with changes in https://github.com/Alluxio/alluxio/pull/14017

[2021-09-13 20:27] LuQQiu commented on #13826
Thanks @ggezer ! Worker stress includes
- the capacity part, `Worker.BlocksEvictionRate`
- how many gRPC this worker receives, or how many gRPC request is in queue, or in processing (I haven't been able to find where to add this metrics)
- some latency in serving worker requests

[2021-09-13 20:40] LuQQiu commented on #13763
@maobaolong @codings-dan As we discussed in the last AI sync, can you help add more detailed upper level information about why this change is needed? Like the background usecase

[2021-09-14 00:46] tomscut commented on #13972
Hi @jiacheliu3 , we can reproduce the question like this:
1 Add catch to ```updateCurrentChunk()``` and print relevant information we need.
2 Create a large file and upload it to Alluxio using the command line ```alluxio fs copyFromLocal ./10g-file```.
3 Shut down a worker during file uploading. Then we can see the error message.

![image](https://user-images.githubusercontent.com/55134131/1331749

[2021-09-14 00:59] #14020 closed

[2021-09-14 01:50] #14051 closed

[2021-09-14 02:03] LuQQiu commented on #14036
Requests from @maobaolong @Binyang2014
Use AlluxioMaster for metadata cache, don't need AlluxioWorker for data cache
Client directly access UFS

[2021-09-14 02:04] LuQQiu commented on #14036
ping @ggezer @apc999

[2021-09-14 03:37] Binyang2014 commented on #14036
I think this is a very interesting use case. Due to some UFS are already leverage SSD to speed-up read/write speed. With rethinking about the unique features provided by Alluxio (compare with HDFS and other filesystem), `high performance metadata server` should be highlighted.

In the environment which compute & storage are tightly coupled, throughput is not a problem, but namenode is the bottlene

[2021-09-14 08:29] maobaolong opened #14068 "Move transferleader logic from master to client-side"
**Is your feature request related to a problem? Please describe.**

Now, alluxio master like a remote proxy for alluxio elect shell from client side, which send transferleader rpc to ratis server asynchronously, so the elect shell will not receive any message although the transferleader rpc call timeout or encountered an exception

If we move the tranfer leadership code logic from master to the cl

[2021-09-14 18:47] apc999 commented on #13972
jiacheng is on vacation, I will take a closer look. thanks @tomscut

[2021-09-14 18:49] apc999 commented on #14019
thanks @thirdparty-core for reporting back your solution. I see @ZhuTopher are working with you on  #14021.
I will close this issue for now since you can make it work normally with configuration update.

[2021-09-14 18:49] #14019 closed

[2021-09-14 22:25] LuQQiu opened #14072 "Separate Worker/Client executor service on master side"
**Is your feature request related to a problem? Please describe.**
When users have a large number of clients/workers, since they shared the same executor service, client-master operation may block master-worker communication. We want to have separate executor services for workers and clients.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Descr

[2021-09-14 22:25] LuQQiu commented on #14072
@maobaolong @ggezer Please provide more information about this issue, thanks!

[2021-09-14 22:29] LuQQiu commented on #14061
@ggezer @apc999 The High availability during master transition issue that we discussed

[2021-09-14 23:22] apc999 commented on #14039
that's hard to diagnosis based on the information provided here. I could only tell some job worker is down.
@yuzhu at least we shall add logging to tell which job worker is lost?
so @codings-dan can go to that job worker can look for the job worker logs?

[2021-09-15 01:26] tomscut commented on #13972
Thank you for your attention to this issue.

[2021-09-15 16:05] LuQQiu commented on #14007
FuseContext provides the uid, gid, and pid information.
One improvement is that if the open() method caller pid is given, for each (pid + path) we assign a FileInStream. If pid is not given, we use (-1 + path) to assign a FileInStream.
Libfuse mentioned that
[code]

[2021-09-15 16:51] LuQQiu commented on #14007
when multiple processes reading the same file,
instead of one open() one release() for one process,
Fuse will use one open() one release() for a file no matter how many processes access it.

The current way
1. open(PATH) give per PATH an FID, get the FileInputStream, store in Map<FID, FileInStream> mOpenFileEntries
2. read(PATH, FID, offset, len), get the FileInStream based on the FID, read the fi

[2021-09-15 17:46] LuQQiu opened #14073 "Audit log impact the master metadata operation scalability"
**Alluxio Version:**
Master

**Describe the bug**
@maobaolong ran a newly added StressMasterBench test. He tested how many numbers of GetFileStatus can be processed by the master in 500s.  When Audit log is turned on, the throughput is 34k. When Audit log is disabled, the throughput can become larger than 200K. It's a 7X difference. We use a blocking queue in the Alluxio audit log with a size of 1

[2021-09-15 17:46] LuQQiu commented on #14073
@maobaolong @ggezer @apc999 FYI

[2021-09-15 21:11] yuzhu opened #14074 "Journal integrity checker"
**Is your feature request related to a problem? Please describe.**
https://github.com/Alluxio/alluxio/issues/14045

**Describe the solution you'd like**
A periodic integrity checker that ensures journal files are written to the storage correctly and can be read back.

**Urgency**
blocking a user deployment

[2021-09-15 21:12] yuzhu commented on #14074
@ggezer PTAL and offer some suggestions?

[2021-09-15 21:13] yuzhu commented on #14045
created a feature request, closing this issue now. @lilyzhoupeijie

[2021-09-15 21:13] #14045 closed

[2021-09-15 22:06] ggezer commented on #13272
Please reopen if you see this issue again.

[2021-09-15 22:06] #13272 closed

[2021-09-15 22:23] yuzhu commented on #14038
@codings-dan are you using local file system as the UFS?    /var/alluxio-share-dir/underFSStorage/testbase15 do you have permission assigned to the user running the master process?

[2021-09-15 22:42] yuzhu commented on #14039
#14024 should help to provide more detailed logging.

[2021-09-16 00:03] apc999 commented on #14007
hi @lilyzhoupeijie one quick clarifications:

when multiple processes are reading the same file, they will not be synchronized on the same input stream --- this is because each process gets a unique file descriptor (FD) with a dedicated input stream. The only case when different fuse threads are contending is when there are multiple 128-KB reads dispatched from libfuse but all are from the same pr

[2021-09-16 00:12] apc999 commented on #14039
with limited information (especially the job worker log which is down), it is too hard for us to debug this issue.
I will close this issue for now, but @codings-dan once you reproduce the issue and get the log, please reopen this issue and upload it here. Will it work? @codings-dan

[2021-09-16 00:14] apc999 commented on #14038
it looks like the ufs is set to local fs? if this is the case, please make sure the ufs is shared across alluxio, or  it will cause issues when you are running this benchmark in a cluster. Can you confirm, @codings-dan ?

[2021-09-16 00:25] beinan opened #14078 "Alluxio local cache should propagate InterruptedException to the caller"
**Alluxio Version:**
2.5.0-3 (earlier or later version might also have the same issue)

**Describe the bug**
The InterruptedException should be propagated to the caller.  (Or we could call Thread.currentThread().interrupt();)

We're seeing the error log from presto
[code]

We should not wrap the interrupted exception into an IOException
**To Reproduce**
Cancel a running presto query when it's read

[2021-09-16 02:01] LuQQiu opened #14079 "Kubernetes script cannot launch"
**Alluxio Version:**
Alluxio master

**Describe the bug**
Kubernetes cluster cannot come up with changes https://github.com/Alluxio/alluxio/commit/22ecb2c2aa7764191588720945571934d410c568

Using `kubectl logs` `kubectl describe`, no error comes out.
Docker command works well to start Alluxio services.

In kubernetes world, `command: ["tini", "--", "/entrypoint.sh"]` doesn't work
but `command: ["/e

[2021-09-16 02:22] lilyzhoupeijie opened #14081 "when set async through,blacklist ,the files in blacklist will also show TO_BE_PERSISTED,and the merics will also show this"
**Is your feature request related to a problem? Please describe.**
when set blacklist ,the files in blacklist will also show TO_BE_PERSISTED,and the merics will also show this

**Describe the solution you'd like**
the files in blacklist will also some status like NEVER_PERSIST

[2021-09-16 02:24] codings-dan commented on #14039
@apc999 will do

[2021-09-16 02:25] lilyzhoupeijie opened #14082 "the Master.TotalBlocks appears to be -2998885"
**Alluxio Version:**
2.6.1

**Describe the bug**
the Master.TotalBlocks appears to be -2998885

[2021-09-16 02:39] yuzhu commented on #14082
I think this was fixed in https://github.com/Alluxio/alluxio/pull/13911/files

[2021-09-16 02:41] #14039 closed

[2021-09-16 03:05] kevincai commented on #13842
facing the same issue

[2021-09-16 03:51] kevincai commented on #13842
Add a few more information from my reproduce.

seems like journalLogEntry out of orders

`2021-09-16 11:23:22,979 ERROR BufferedJournalApplier - Journal replay error: Failed to apply journal entry to master FileSystemMaster. Entry: sequence_number: 12
inode_file {
  id: 50331647
  parent_id: 3
  name: "0001.jpg"
  persistence_state: "PERSISTED"
  pinned: false
  creation_time_ms: 1631762602944
  l

[2021-09-16 03:53] ggezer opened #14083 "Common shell infra for stress tests"
**Is your feature request related to a problem? Please describe.**
There are quite a bunch of tests that rely on stress bench. Having to remember or access a document to launch them is not practical.

**Describe the solution you'd like**
StressShell that mimics Alluxio's shell wrappers for putting these stress tests together in a navigable way and automatically generating usage/description from co

[2021-09-16 04:13] apc999 commented on #14082
yeah this bug is fixed in v2.6.2 and after by https://github.com/Alluxio/alluxio/pull/13911/

[2021-09-16 04:13] #14082 closed

[2021-09-16 05:50] kevincai commented on #13165
facing the same error

conf/metrics.properties
[code]

Error Log
[code]

[2021-09-16 09:27] Stevenchooo commented on #10566
你好，测试过程需要修改HIVE每张表的LOCATION配置吗？（从hdfs://修改为alluxio://）
可以分享下alluxio的config配置吗.

[2021-09-16 22:58] ggezer commented on #14073
We should first try much larger buffer size as recommended to see if that helps in restoring the target throughout of around ~200K.

[2021-09-16 23:35] apc999 commented on #14007
discussed further offline with Lu, @lilyzhoupeijie  I think there might be some slow read going on, preventing other libfuse worker threads competing the same FD to proceed. We want to reproduce this issue and identify the reason of the slowness.

[2021-09-17 01:11] Xenorith commented on #14079
re-opening to validate unrelated functionality

[2021-09-17 02:38] #14079 closed

[2021-09-17 03:47] Stevenchooo opened #14085 "Missing "Move a Partitioned Table" in Chinese Docs"
**Page**
https://docs.alluxio.io/os/user/stable/cn/compute/Hive.html

**Summary**
The method of moving the partition table path to Alluxio is missing in the Chinese document

[2021-09-17 03:51] Stevenchooo commented on #14085
please assign to me ,I will fix the docs
https://github.com/Alluxio/alluxio/blob/master/docs/cn/compute/Hive.md

[2021-09-17 03:59] beinan commented on #14085
Hey Steven, many thanks for opening this issue!  Assigned to you and looking forward to seeing your new doc!  Thanks!

[2021-09-17 18:25] LuQQiu commented on #14068
According to @maobaolong, the benefits of this change includes:
1. support job master leadership transition
2. Client better know the transfer leadership related error/exceptions:
The current status is the leading master send transfer leadership request to ratis server asynchronously, client doesn't know the exception and error during the leadership transfer, and can only know that the transfer ti

[2021-09-17 18:29] maobaolong commented on #14068
@LuQQiu Thanks for the conclusion and reply.

[2021-09-17 18:58] #14085 closed

[2021-09-17 19:00] ggezer commented on #14072
FYI; separate executors means separate gRPC servers, which means binding to separate ports.

[2021-09-17 19:26] ggezer commented on #14068
https://alluxio-community.slack.com/archives/CEXGGUBDK/p1631818139229200?thread_ts=1631538692.178700&cid=CEXGGUBDK

@apc999 FYI

[2021-09-18 03:05] lilyzhoupeijie opened #14098 "alluxio ha Failed to determine address for FileSystemMasterClient after 1 attempts"
**Alluxio Version:**
2.6.1

**Describe the bug**
alluxio.exception.status.UnavailableException: Failed to determine address for FileSystemMasterClient after 1 attempts
at alluxio.AbstractClient.connect(AbstractClient.java:267)
at alluxio.client.file.BaseFileSystem.rpc(BaseFileSystem.java:573)
at alluxio.client.file.BaseFileSystem.listStatus(BaseFileSystem.java:290)
at com.zhipin.arsenal.dataset.cl

[2021-09-18 03:11] apc999 commented on #14098
@lilyzhoupeijie  this happens when the address an Alluxio client see is null

https://github.com/Alluxio/alluxio/blob/master/core/common/src/main/java/alluxio/AbstractClient.java#L261-L265

[2021-09-18 04:22] ggezer commented on #14029
Isn't this fixed with https://github.com/Alluxio/alluxio/pull/14027 ?

[2021-09-18 05:19] maobaolong commented on #14029
@ggezer No, it's two different issue.

[2021-09-18 05:22] maobaolong commented on #14072
@ggezer Yeah, exactly, it just like hdfs which have to port `8020` for client call, `8021` for datanode call

[2021-09-18 05:30] ggezer commented on #14029
It was returning a success because `localhost:19200` and `localhost:19201` had the same hostname part.
With  #14027 this should no longer be the case, and the shell command should error out.

[2021-09-18 08:09] adol001 opened #14100 "Hope to reconsider supporting append function"
**Is your feature request related to a problem? Please describe.**
I know that previous attitude was not to support it, but Alibaba Cloud OSS recently launched a new feature, that is, append upload.

English version https://www.alibabacloud.com/help/doc-detail/31851.htm
Chinese version https://help.aliyun.com/document_detail/31851.html

I believe that more and more object stores will support this

[2021-09-18 17:31] xinip opened #14102 "slaver ERROR SnapshotUploader,Cause the master raft log to be extremely large"
**Alluxio Version:**
2.5.0-1

**Describe the bug**
slaver ERROR SnapshotUploader,Cause the master raft log to be extremely large

**To Reproduce**
I do not kown how to reproduce

**Expected behavior**
If an error occurs, you should retry uploading the snapshot until the upload is successful

**Urgency**
High

**Additional context**
Slaver log:
[code]
Master log:
[code]

[2021-09-19 23:54] maobaolong commented on #14029
ok, you are right, thank you for the explaination.

[2021-09-19 23:54] #14029 closed

[2021-09-20 00:01] maobaolong commented on #14068
https://issues.apache.org/jira/browse/HDDS-5686

I'm glad to share the information, Apache Ozone is backporting alluxio transferleader feature to Ozone project. And there are two ha services OM/SCM just like master/job-master, so the ozone developer will not implement the same logic to two server-side, the client-side implementation approach will be applied.

[2021-09-20 22:40] apc999 commented on #13959
fixed by #14075, so that we introduce a metrics to track the usage of all dynamic resource pool

[2021-09-20 22:40] #13959 closed

[2021-09-21 01:58] ggezer opened #14109 "Retry on CancelledException when trying to connect to an RPC server"
**Alluxio Version:**
2.6+
**Describe the bug**
When connecting to an RPC server, `CancelledException` is expected when a connection is terminated after it's accepted. Currently this is not considered in client-side RPC retry logic, thus propagating a transient error up to the application level.

**To Reproduce**
Run fault tolerance stress on Alluxio.

**Expected behavior**
Client can tolerate `Can

[2021-09-21 03:41] #13165 closed

[2021-09-21 05:53] ggezer opened #14110 "Introduce deadlines for sync RPC stubs"
**Alluxio Version:**
2.6+

**Describe the bug**
In certain conditions, an RPC call might hang for a long time (observed 15+ mins in testing) without throwing any error. This is more probable when the target server is partitioned from the network after receiving the call. RPC calls stuck in this state are still contained in encompassing retry duration. Retry duration is much smaller, so such RPCs w

[2021-09-21 06:01] ggezer opened #14111 "AsyncJournalWriter should own flushing decision"
**Alluxio Version:**
2.6+

**Describe the bug**
Due to a recent optimization, `RaftJournalWriter` can end up flushing as part of writing a single entry if its internal buffer grows beyond configured size. This creates a hole in async-journal writers ticket management logic and can declare RPCs as failed when their corresponding journal entries have been flushed already.

Ideally, async-journal-wri

[2021-09-21 06:22] ggezer opened #14112 "Optimize flushing frequency for when restoring from a backup"
**Summary**
Currently, `AsyncJournalWriter` sits between generating journal entries for when restoring from a backup. `AsyncJournalWriter` does regular flushes.

For UFS journal, there's no need to flush until the file is closed. (Recovery logic in `UfsJournalWriter` makes it complicated to just delay the flush.)
For Embedded Journal, flushes could be executed per batch. See https://github.com/All

[2021-09-21 14:32] ggezer opened #14113 "Improve partition tolerance for Alluxio FS clients"
**Summary**
Alluxio FS is not partition tolerant. When an RPC modifies FS state but fails at client due to sudden partitioning, that client will retry its request blindly and might end up failing still when network partition disappears.

A typical scenario demonstrates the problem:

1-Client calls createFile()
2-Master executes the request
3-Before returning success
   -- transient network partiti

[2021-09-21 18:38] #14109 closed

[2021-09-21 18:50] apc999 commented on #14100
thanks @adol001 for this proposal. Append will be a big feature to add as it breaks a lot of assumption of Alluxio design.
do you have particular applications in mind to be benefited from this feature?

[2021-09-22 00:37] #14110 closed

[2021-09-22 07:46] ljl1988com opened #14121 "Check the status of every master server"
**Summary**
We use `ambari`  to integrate `alluxio` service.
Firstly we start all of `alluxio` servers successfully. Then restarting will check the status of all `alluxio` servers. Because We don't allow to expose port 22 for security. The checker doesn't work.
Today I find `MasterHealthCheckClient` supports two checkers. If ha mode, it will check master server's processes.
But I want to check the

[2021-09-22 07:52] ljl1988com commented on #14121
@ggezer We can discuss here.

[2021-09-22 09:07] adol001 commented on #14100
In spark streaming and flink job, append may be used frequently. Otherwise, in object storage filesystem, a large number of small files will be generated. Over the days, a directory may reach 10w+ small files.
Because of the existence of real-time jobs are long running, it is not convenient to merge small files when the directory is being read. This requires a special time window to stop the real-

[2021-09-22 09:08] adol001 commented on #14100
@apc999
In spark streaming and flink job, append may be used frequently. Otherwise, in object storage filesystem, a large number of small files will be generated. Over the days, a directory may reach 10w+ small files.
Because of the existence of real-time jobs are long running, it is not convenient to merge small files when the directory is being read. This requires a special time window to stop t

[2021-09-22 09:34] adol001 commented on #14100
@apc999
In spark streaming and flink job, append may be used frequently. Otherwise, in object storage filesystem, a large number of small files will be generated. Over the days, a directory may reach thousands of small files.
Because of the existence of real-time jobs are long running, it is not convenient to merge small files when the directory is being read. This requires a special time window t

[2021-09-22 10:15] codings-dan opened #14123 "Display configuration table in the worker page"
**Is your feature request related to a problem? Please describe.**
It would be easy to find the config information if we have a configuration page in the worker webUI.

**Describe the solution you'd like**
Add a configuration table page in the worker webUI.

**Describe alternatives you've considered**
WebUI module

**Urgency**
No

**Additional context**
User friendly feature.

[2021-09-22 10:54] liugs0213 commented on #14007
hi @apc999
Here is their jstack information:
Full thread dump OpenJDK 64-Bit Server VM (25.292-b10 mixed mode):

"Attach Listener" #114 daemon prio=9 os_prio=0 tid=0x00007fde70001000 nid=0x1c1 waiting on condition [0x0000000000000000]
   java.lang.Thread.State: RUNNABLE

"Thread-13" #113 daemon prio=5 os_prio=0 tid=0x00007fdda0021000 nid=0x198 waiting on condition [0x00007fdd49ff9000]
   java.lang

[2021-09-22 12:12] weimy2018 commented on #12229
Does this issues fix ? I met it again with alluxio-2.6.1 version.

[2021-09-22 16:09] qian0817 commented on #14121
If you are using embedded journal, maybe you can try to connect to port `19200` to determine if the master node is alive.

[2021-09-22 16:26] codings-dan opened #14128 "Add metric of raft journal index"
**Is your feature request related to a problem? Please describe.**
Sometime, we need the log applied index information of each raft node to assist in judging the status of the cluster ha

**Describe the solution you'd like**
Add metric of raft journal appliedCommitIndex.

**Urgency**
No

[2021-09-22 16:42] codings-dan opened #14130 "Add metric of audit log"
Is your feature request related to a problem? Please describe.
During the stress test of alluxio, we found that the audit log seems to be the bottleneck. We increased the blocking queue size of the audit log, and now we want to expose a metric to observe the size of the queue.

Describe the solution you'd like
Add metric of audit log queue size

Urgency
No

[2021-09-22 17:51] pvaldria opened #14133 "Add ability to pass region as a field in S3 API call to support non-AWS S3 cloud storage"
**Alluxio Version:**
alluxio-2.6.2

**Describe the bug**
A clear and concise description of what the bug is.
non-AWS S3 cloud storage providers who has S3 compatible APIs like Oracle Cloud rely on a field in the request called: "region" to support multiple regions.  if the region value is not present,  it defaults to their customer account primary region.  Hence as of now,  I am unable to use Allu

[2021-09-22 20:56] LuQQiu commented on #14133
The existing Alluxio code does not support setting AWS region information.
If we want to directly support AWS REGION, S3 only allows us to support the listed AWS regions.

However, from https://docs.oracle.com/en-us/iaas/Content/Object/Tasks/s3compatibleapi.htm
[code]
we can pass the region information into the endpoint configuration

[2021-09-23 00:45] ljl1988com commented on #14121
@qian0817 Thanks for your answer. We support the users can configure the journal type, not only one embedded type.

[2021-09-23 02:28] LuQQiu commented on #14072
Add a configuration to use separate ports

[2021-09-23 16:51] LuQQiu opened #14141 "Support Hawei Cloud (PFS && OBS)"
Support Huawei Cloud PFS

[2021-09-23 16:52] LuQQiu commented on #14141
Fixed by https://github.com/Alluxio/alluxio/pull/14023

[2021-09-23 16:52] #14141 closed

[2021-09-23 16:58] LuQQiu commented on #9573
may be solved by https://github.com/Alluxio/alluxio/pull/14058 ?

[2021-09-23 17:01] LuQQiu opened #14142 "Make sure ufs to only once load a native shared library"
**Alluxio Version:**
  Alluxio 2.6

**Describe the bug**
Our extension class loader will load a native shared library (.so) for multiple times.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
An extension class loader will only be loaded once

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
The native

[2021-09-23 17:33] ggezer commented on #14068
We're handling this at the journal layer which is shared between Alluxio master and job-master. Ozone's requirements are not binding to us.

[2021-09-23 18:54] ggezer commented on #14098
`after 1 attempts` implies that we didn't retry.
In the logs, I see `CancelledException` as root cause. It's thrown when the target is stepping down and was not properly handled before https://github.com/Alluxio/alluxio/pull/14114

[2021-09-23 19:13] Xenorith opened #14145 "Add a check to ensure the list of files to be copied into a tarball are valid file paths"
**Is your feature request related to a problem? Please describe.**
The generate tarball script copies certain files from the repo to the output tarball. This list is enumerated in `dev/scripts/src/alluxio.org/build-distribution/cmd/generate-tarball.go`, defined by the variable `pathsToCopy`. When these files are moved or removed or simply incorrect to begin with, people often forget to update this

[2021-09-23 19:40] LuQQiu commented on #14098
master-ha111-master-0-alluxio-master.log
[code]
master-ha111-master-1-alluxio-master.log
[code]
master-ha111-master-2-alluxio-master.log
[code]
Master 2 failed to become the leading master and no leading master in the Alluxio servers

[2021-09-23 22:26] #14028 closed

[2021-09-24 06:45] dengweisysu commented on #9525
I have the similar problem in 2.6.0 version.
<img width="1297" alt="wecom-temp-e847a40ca62acb0ef993e700e9b7c13d" src="https://user-images.githubusercontent.com/18375623/134630195-11777857-64cf-4086-9002-80fe9f68cf14.png">

and read side is blocked until timeout.

[2021-09-24 23:16] asorianos opened #14149 "Alluxio lots of partitions slow downs"
**Alluxio Version:**
Alluxio: 2.6.2
Presto: 0.261

**Describe the bug**
I have 2 different hive partitioned tables on s3, one has just above 200 partitions and the other table has 10,000. When I make a simple query through Presto such as
`SELECT` COUNT(*) FROM TABLE_A WHERE PART_KEY='${key}';`
I notice the table with 10,000 partitions take more than 2 seconds to complete where as the 200 partition

[2021-09-24 23:20] asorianos commented on #14149
All those times i got where with cache warm  in both cases. Run the query multiple times with and without alluxio to warm up the cache. Here is a sample run once cache is loaded
![image](https://user-images.githubusercontent.com/70280440/134748620-991f9b99-3a33-4bd7-8d5b-4d022ae7821e.png)

and this is similar query using alluxio one the re-partitioned table from 10,000 to 200 parittions: (way more

[2021-09-26 04:20] HelloHorizon commented on #14149
Thanks @asorianos for reporting the issue!

[2021-09-26 14:50] songjiemm opened #14153 "ERROR AlluxioWorker - Fatal error: Failed to create worker process"
**Alluxio Version:**
HDFS3.3.0 + Complied Alluxio

**Describe the bug**
When I start the Alluxio cluster, all the worker nodes fail to start, showing a java initialization error, but I have configured the Java environment variables, and again specified JAVA_HOME and JAVA in alluxio-env.sh. Have you ever encountered such problems? Please help me.

**To Reproduce**

[code]

[2021-09-27 03:10] maobaolong commented on #14068
@ggezer @LuQQiu Thanks for the reply and discussion before, I close this issue as I will turn to another way to trigger ratis server.

[2021-09-27 03:10] #14068 closed

[2021-09-27 04:47] maobaolong opened #14154 "Worker.BlocksEvicted is not available"
**Alluxio Version:**
Master branch 6a0c01d85971a5c294b343151702761fba71075b

**Describe the bug**

The Worker.BlocksEvicted is 0 forever, `BLOCKS_EVICTED.inc()` cannot reached by production code.

**To Reproduce**

Just start a alluxio cluster and put files to the alluxio cluster until the worker almost full, the new put operation will trigger worker evict block, but the metric is zero all the tim

[2021-09-27 10:47] adol001 opened #14157 "in zookeeper + hdfs HA mode, the result of 'alluxio-monitor.sh master' may be wrong"
**Alluxio Version:**
2.6.1

**Describe the bug**
1 if zookeepers are ok, and no masters live, so client.getMasterRpcAddresses() will be empty, the run method in ProcessCheckRunnable will end without throw exception, you will see alluxio-monitor.sh master
--- [ OK ] The master service @ iron2 is in a healthy state.
Even if no master is running

2 if zookeepers aren't ok, for example, zookeeper clus

[2021-09-27 17:35] HelloHorizon opened #14158 "Support S3 API ListObjectsV2"
**Is your feature request related to a problem? Please describe.**
Support S3 API [ListObjectsV2](https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjectsV2.html)

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Urgency**
Normal

**Additional context**
N/A

[2021-09-27 17:36] HelloHorizon commented on #14158
@jffree FYI

[2021-09-27 18:01] #14128 closed

[2021-09-27 18:03] #14130 closed

[2021-09-27 18:11] yuzhu commented on #14153
could you paste the content of your alluxio-env? and other configs?

[2021-09-27 18:40] #13867 closed

[2021-09-27 19:10] yuzhu commented on #13972
@apc999 @jiacheliu3， do you have any update on this issue?

[2021-09-27 20:40] ZhuTopher commented on #13867
The bot closed this issue due to #14021 being merged, but if you run into similar connectivity issues with mapreduce & HA alluxio using those changes please re-open this issue. Thank you @qian0817 !

[2021-09-28 00:45] ggezer opened #14165 "Enable flaky `EmbeddedJournalIntegrationTestTrasnfer#replaceAll` integration test"
**Summary*
as in title...

[2021-09-28 01:17] tomscut commented on #13972
The problem should be resolved by retry. We can pay attention to this issue [#14041](https://github.com/Alluxio/alluxio/issues/14041). And @liubingxing is doing this work, he will submit PR later.

[2021-09-28 01:48] #14153 closed

[2021-09-28 01:51] songjiemm commented on #14153
I'm sorry, I will provide some more detailed information.

alluxio-env.sh

[code]

alluxio-site.properties

[code]

/etc/profile

[code]

[2021-09-28 02:01] taiyang-li opened #14166 "Restful api document is not accessable. https://docs.alluxio.io/os/restdoc/2.6/master/index.html"

[2021-09-28 02:08] sjsongsong opened #14167 "ERROR AlluxioWorker - Fatal error: Failed to create worker process #14153"
Alluxio Version:
HDFS3.3.0 + Complied Alluxio

Describe the bug
When I start the Alluxio cluster, all the worker nodes fail to start, showing a java initialization error, but I have configured the Java environment variables, and again specified JAVA_HOME and JAVA in alluxio-env.sh. Have you ever encountered such problems? Please help me.

To Reproduce

[code]

**Additional context**
alluxio-env.sh

[2021-09-28 02:54] lilyzhoupeijie opened #14168 "fuse read timeout"
**Alluxio Version:**
2.6.1
alluxio with ceph as understorage,the fuse read always time out

**Describe the bug**

we get the following log:

2021-09-28 02:30:35,136 INFO  AlluxioFuse - Alluxio version: 2.6.0-64d3b6b67d991aab9d73cc5729e577a20555ee8e
2021-09-28 02:30:35,351 INFO  MetricsSystem - Starting sinks with config: {}.
2021-09-28 02:30:35,356 INFO  MetricsHeartbeatContext - Created metrics h

[2021-09-28 03:31] adol001 opened #14170 "In ha mode, it is impossible to detect whether the master on a certain host is alive using alluxio-monitor.sh"
**Is your feature request related to a problem? Please describe.**
In ha mode, it is impossible to detect whether the master on a certain host is alive, it can only detect whether the masters of the cluster are working properly. if you use zk + hdfs ha mode, and there are a,b,c master in HOST A, B, C, when b in B is down, you run 'alluxio-monitor.sh master' in B will exit with code 0

**Describe t

[2021-09-28 05:28] LuQQiu commented on #14168
The workload without Ceph have 80% GPU utilization rate, when Ceph is included, the GPU utilization rate reduces to 40%.
The full workload is
[code]
Alluxio version 2.6.1
In the same Alluxio, write a bunch of data into a Alluxio folder without writing to Ceph, use Alluxio to read the data from this Alluxio folder is also slow. Alluxio performance is not good.

Multiple TB of data. The read perform

[2021-09-28 05:33] LuQQiu commented on #14168
Cluster.BytesReadRemote  (Type: COUNTER, Value: 8.71TB)
Cluster.BytesReadRemoteThroughput  (Type: GAUGE, Value: 7.69GB/MIN)
Cluster.BytesReadUfsAll  (Type: COUNTER, Value: 4576.73GB)
Cluster.BytesReadUfsThroughput  (Type: GAUGE, Value: 4040.15MB/MIN)
Cluster.CacheHitRate  (Type: GAUGE, Value: 0.4867528563226958)

[2021-09-28 05:47] LuQQiu commented on #14168
Heavy JVM pause detected in the master node
[code]

[2021-09-28 06:02] LuQQiu commented on #14168
In the job worker log, around 60k to 90k the following error message

[2021-09-28 14:00] gregpalmr opened #14173 "Alluxio Kerberos Security Setup Doc - Bad Link"
**Page**
https://docs.alluxio.io/ee/user/stable/en/operation/Kerberos-Security-Setup.html

**Summary**
The link to the Red Hat docs page is not valid and results in an HTTP 404 error:

https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Managing_Smart_Cards/installing-kerberos.html

[2021-09-28 15:35] jiacheliu3 commented on #13972
@tomscut Thx for adding the information.

I'm confused why retry will resolve this issue. At least I'm not yet convinced before I can see what the `DataWriter` is. Without that information I think it's hard to reason how this issue can be fixed. Is it possible to add the logging as I suggested?

Also for the stacktrace you pasted, if the exception is not caught here, it will propagate to higher le

[2021-09-29 01:40] yuzhu commented on #14038
@codings-dan are you still seeing this issue? and can you confirm that you are using a local fs?

[2021-09-29 02:07] codings-dan commented on #14038
@yuzhu Sorry, this issue has not been tracked recently. I checked again, I am using a local fs. If I manually create the corresponding folder first, and then run StressBench, this exception will not appear again.

[2021-09-29 03:12] yuzhu commented on #14038
in general, a local fs that is not shared between workers is not a good ufs choice, because worker2 won't see worker1's writes. the exceptions you saw were expected in that case.

[2021-09-29 03:12] #14038 closed

[2021-09-29 05:57] LiuMedu opened #14178 "Alluxio Fuse对接NFS"
**Alluxio Version:** 2.6.0
What version of Alluxio are you using?

**Describe the bug**
启动Alluxio，然后利用fuse挂载本地的一个目录。再通过NFS把这个目录共享给另外一台Linux。在这两个目录下，可以正常查看Alluxio的数据。对文件进行ls、cat、rm等操作能够同步响应到Alluxio中。但是在NFS共享的目录用 echo“test”> test.txt写入文件，会发现目录可以创建这个文件，Alluxio fuse挂载的目录和Alluxio也同样可以看到该文件，但是文件内容为空。在Alluxio fuse挂载的目录上执行echo “test” >test 就可以正常写入。
通过Debug代码，发现两个目录的写入的流程并不一样。Alluxio fuse挂载的目录正常写入流程是这样的：

[2021-09-29 07:15] ljl1988com opened #14179 "Optimize the worker page of the master web ui"
**Alluxio Version:**
2.6.1

**Describe the bug**
We deploys alluxio services on kubernetes. When we re-install alluxio worker daemonset. The master web ui displays the same node name of `Live Workers` and `Lost Workers`.
![1632898359(1)](https://user-images.githubusercontent.com/3060835/135217778-d1b97310-7942-4d14-b973-12245280f365.png)

**To Reproduce**
We deploys alluxio services on kubernetes.

[2021-09-29 12:53] jffree commented on #14158
* About ` ListObjectsV2`, should support these:
  1. `continuation-token` in request parameter
  2. `start-after` in request parameter
  3. `ContinuationToken` in response
  4. `NextContinuationToken` in response (How to generate toke is important)
  5. `StartAfter` in response

* fix bug
  1. A response can contain `CommonPrefixes` only if you specify a `delimiter`.

[2021-09-29 16:36] HelloHorizon commented on #14158
Thanks @jffree , do you mind opening another Github issue to describe the bug(`A response can contain CommonPrefixes only if you specify a delimiter.`) you mentioned here?

[2021-09-29 17:53] yuyang733 opened #14183 "The semantics of loadMetadata is ambiguous"
**Alluxio Version:**
All versions

**Describe the bug**
The semantics of `LoadMetadataCommand` is ambiguous. After LoadMetadata is executed on a directory, the metadata of the existing sub-file under a directory will not be updated, which leads to data inconsistency in UFS overwriting scenarios.

**To Reproduce**
./bin/alluxio fs loadMetadata /<dir>/

**Expected behavior**

The metadata of the exi

[2021-09-29 20:27] yuzhu commented on #14178
@LuQQiu could you take a look at this?

[2021-09-29 20:42] LuQQiu opened #14966 "Support collecting worker metrics in collectMetrics command"
https://docs.alluxio.io/os/user/edge/en/operation/Troubleshooting.html#collect-alluxio-metrics
only master metrics is collected by collectMetrics command, modify to collect worker metrics as well

[2021-09-30 00:58] LuQQiu commented on #14178
Thanks for the detailed instructions, i also try on my side
[code]
not quite sure why this command failed, any suggestions? @LiuMedu

[2021-09-30 00:59] #14154 closed

[2021-09-30 02:56] jffree opened #14189 "S3 API listObjects delimiter process error"
**Describe the bug**
According to [ListObjects](https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjects.html), a response can contain `CommonPrefixes` only if you specify a `delimiter`.
In alluxio current version, the `delimiter` is not processed, always return response with `CommonPrefixes`.

**To Reproduce**

access s3 listObjects/listBuckets without `delimiter`

**Expected behavior**

W

[2021-09-30 02:59] jffree commented on #14158
Add a new issue  #14189

[2021-09-30 03:28] jffree commented on #14189
@HelloHorizon FYI

[2021-09-30 03:40] HelloHorizon commented on #14189
Thanks @jffree ! FYI @madanadit

[2021-09-30 12:48] yuzhu commented on #14183
closed via #14184

[2021-09-30 12:48] #14183 closed

[2021-10-01 02:38] #13668 closed

[2021-10-02 04:24] ggezer opened #14198 "Remove fall-back policy of LocalFirstRaftClient"
**Summary**
`LocalFirstRaftClient` should support either local or remote client based on a single flag, instead of complex fall-backs using below:

- `MASTER_EMBEDDED_JOURNAL_WRITE_REMOTE_ENABLED`
- `MASTER_EMBEDDED_JOURNAL_WRITE_LOCAL_FIRST_ENABLED`

[2021-10-02 06:46] #14113 closed

[2021-10-05 18:26] yuzhu commented on #14102
@ggezer PTAL

[2021-10-05 21:29] beinan opened #14200 "JMX metrics of alluxio local cache are missing in Presto's JMX connector"
**Alluxio Version:**
2.6.1, 2.6.2

**Describe the bug**
JMX metrics of alluxio local cache are missing in Presto's JMX connector.
The values such as bytes_in_cache exposed by JMX are always 0.  But these values are good via jConsole.

**To Reproduce**
1 Start presto with local cache enabled
2 Run some queries
3. Try to query the jmx via the build-in jmx connector in Presto.

**Expected behavior**

[2021-10-06 00:10] yuzhu commented on #13972
@tomscut @liubingxing any update on this PR?  please tag this issue when PR is submitted, thanks.

[2021-10-06 00:20] yuzhu commented on #14189
@HelloHorizon @jffree is one of you working on a PR to resolve this issue?

[2021-10-06 00:43] tomscut commented on #13972
Ok, @liubingxing will submit relevant PR.

[2021-10-08 03:11] sfwanyi opened #14208 "alluxio加速trino 查询提速不明显"
aluxio 配置文件：
properties:
  alluxio.user.metrics.collection.enabled: true
  alluxio.debug: true
  alluxio.user.short.circuit.enabled: true
  alluxio.worker.data.server.domain.socket.as.uuid: true
  alluxio.worker.data.server.domain.socket.address: /opt/domain
  alluxio.master.journal.ufs.option.alluxio.underfs.hdfs.configuration: /secrets/hdfsConfig/core-site.xml:/secrets/hdfsConfig/hdfs-site.xml

[2021-10-08 06:34] jiacheliu3 opened #14209 "Formatted master incorrectly accepts blocks created before the format due to blockID(containerID) clash"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
alluxio master will generate block container id from 0, after master format and restart without worker format, the old worker will report its block to alluxio master, not sure the master will accept the block by accident.

**To Reproduce**
Introduced in
https://github.com/Alluxio/alluxio/pull/14006#issuecomment-91333

[2021-10-08 06:46] jiacheliu3 commented on #14209
For the sake of completeness, I'm listing all possible combinations of scenarios, to make sure all the corner cases are scrutinized.

1. Formatted&restarted master + formatted&restarted worker
2. Formatted&restarted master + unformatted&restarted worker
3. Formatted&restarted master + unformatted&unrestarted worker
4. Unformatted&restarted master + formatted&restarted worker
5. Unformatted&restart

[2021-10-08 12:54] jiacheliu3 commented on #14209
Agreed including clusterId into design will benefit supporting workers to be owned by multiple clusters.

On your second point, if you mean starting master with a manually specified container ID, it is really hard for the user to know what containerID to use. It will be better replaced by just giving the user an option when starting the worker to wipe out all tiered storage before starting the wor

[2021-10-08 14:04] kevincai opened #14211 "JOB_MASTER journal quorum info breaks"
**Alluxio Version:**

Alluxio v2.6.2

**Describe the bug**

`./bin/alluxio fsadmin journal quorum info -domain JOB_MASTER` command doesn't work anymore.

**To Reproduce**

Following admin command fails
[code]
with following error logs
[code]

**Expected behavior**

should be function similar to `-domain MASTER`

`./bin/alluxio fsadmin journal quorum info -domain MASTER`

**Urgency**

Break job-mas

[2021-10-08 19:03] ggezer commented on #14209
Let's not start block-container Ids from `System.currentTimeMillis()` is what I mean.

[2021-10-08 22:58] kevincai commented on #14211
all nodes are v2.6.2, I run the command on the same node where MASTER leader runs.
[code]

With default log configuration, job master server side log doesn't verbose any logline.

[2021-10-08 23:08] sumokiama opened #14215 "Parquet file pread errors when accessing Alluxio fuse mounted TCPDS dataset."
Our product is Windjammer SNE, a Spark native acceleration engine written in C/C++. It takes as input a Spark physical plan and executes all of the nodes in that plan. We would like to make use of the Alluxio cache and speed Spark SQL execution even more than what our engine can do on its own. We are attempting to benchmark the Alluxio/SNE using TPCDS.

We normally use cloud storage (S3 or GS) to

[2021-10-09 03:32] yuzhu commented on #14211
@kevincai do you mind joining our community slack https://alluxio.io/slack so we can discuss about this issue more interactively? I feel there is a lot of overhead in tagging each other on github...

[2021-10-09 04:24] yyongycy commented on #14211
If you are convenient, please help double check that. The original change is trying to divide the client into two categories:
1. Know only Master
2. Know both Master and JobMaster
The rest semantic is same.

[2021-10-09 07:47] yyongycy commented on #14211
In reality, it does talk to the two. I am preferring to keep a simple fix. The client side is quite complex, a lot of clients are there. At the same time, we need make sure the convention following the current one.

[2021-10-09 09:01] sfwanyi opened #14222 "基于k8s部署alluxio与trino，加还trino查询时效"
alluxio基于k8s版本为2.6.2，trino版本359，目前访问链路为trino直接访问hive-metastore,
在metastore-site.xml配置文件内配置参数

<property>
     <name>metastore.warehouse.dir</name>
     <value>alluxio://alluxio-master-0.default:19998/user/hive/warehouse</value>
   </property>

   <property>
     <name>fs.alluxio.impl</name>
     <value>alluxio.hadoop.FileSystem</value>
     <description>The Alluxio FileSystem (Hadoop 1.x and 2.x)<

[2021-10-10 21:30] yuzhu commented on #14215
@ssz1997 do you mind taking a look at the logs and see if you see any configuration error with their Fuse setup?  thanks.

[2021-10-10 23:22] #14189 closed

[2021-10-11 02:58] yuzhu commented on #14222
@beinan I remember there is a setting in Presto/ Trino that we have to enable to get Local Reads. Could you point to the documentation here?

[2021-10-11 08:05] codings-dan opened #14225 "WebUi show SnapshotLastIndex warn"
**Alluxio Version:**
2.6.2

**Describe the bug**
When the alluxio master restarts, webui shows that the checkpoint has not been performed. In fact, the checkpoint has been performed before the restart.

![WeChatWorkScreenshot_c4295a79-9c67-4968-87ed-2043b51d566e](https://user-images.githubusercontent.com/26144703/136753107-463ff06e-2318-464f-b371-3e3685cd4395.png)

![WeChatWorkScreenshot_ccd1a71d-

[2021-10-11 08:45] AlexChenSkyBlue opened #14227 "Helm Deployment - UI support kubernetes ingress"
**Is your feature request related to a problem? Please describe.**
when deploy helm, current UI does not have way to set href as base_url for Ingress Setting. Please help add this to UI code
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or fea

[2021-10-11 10:14] kevincai opened #14228 "AlluxioMaster leader switch unexpectedly after manual leader switch with "quorum elect" command"
**Alluxio Version:**
v2.6.2

**Describe the bug**
With embedded journal system, once using 'fsadmin journal quorum elect -address <xxxx>', nodes priorities were changed and not reset, hence,  if the given node temporarily offline and back online sometime later, the leader was switched again immediately after the given node back online.

**To Reproduce**
1. manual switch leader to NodeA `./bin/allu

[2021-10-11 16:05] yuzhu commented on #14228
@jenoudet PTAL, thanks.

[2021-10-11 16:11] yuzhu commented on #14208
duplicate of #14222

[2021-10-11 16:11] #14208 closed

[2021-10-12 01:11] #14211 closed

[2021-10-12 01:27] lgy1027 opened #14234 "k8s fails to deploy alluxio, and the deployment work reports the following error"
k8s fails to deploy alluxio, and the deployment work reports the following error；
k8s: 1.20.4
alluxio:2.6.2
![image](https://user-images.githubusercontent.com/38779388/136875522-0be23714-36fb-4636-8bee-373b5b9ea664.png)
![image](https://user-images.githubusercontent.com/38779388/136875548-634f02ec-5dd0-43f6-bf9d-00fa7c320db9.png)

[2021-10-12 03:47] codings-dan commented on #14228
@jenoudet @kevincai The change of node priority will indeed affect the result of the next election. When the `quroum elect` command is designed at the beginning, the resetPriority command will be called after the switch is completed.
But I think the `resetPriority` command also needs to monitor whether the priority is reset successfully. If this process is all implemented in resetPriorities in `Qu

[2021-10-12 05:18] kevincai commented on #14228
Separate `resetPriority` command is only a band-aid solution to give a way to manual fix the problem, but not the fix to the side effect of `quorum elect` command. With this design, daily operators need to remember that whenever they use `quorum elect`, it must be followed by a  `quorum reset`, otherwise expected behavior will happen sometime in future.

I prefer call the `resetPriority` inside th

[2021-10-12 07:44] mingqiang-li opened #14237 "v2.6.2 cannot support PrometheusMetricsServlet due to the lack of PrometheusMetricsServlet(Properties properties, MetricRegistry registry)"
**Alluxio Version:**
What version of Alluxio are you using?
v2.6.2

**Describe the bug**
A clear and concise description of what the bug is.

When we set sink.prometheus.class=alluxio.metrics.sink.PrometheusMetricsServlet in conf/metrics.properties, we meet the following ERROR:

2021-10-12 14:22:09,964 INFO  metrics.MetricsSystem (MetricsSystem.java:startSinksFromConfig) - Starting sinks with conf

[2021-10-12 07:48] sfwanyi opened #14238 "trino查询alluxio时出现异常"
io.trino.spi.TrinoException: Error opening Hive split alluxio://alluxio-master-0.default:19998/user/hive/warehouse/sf50.db/lineitem/20211008_061755_00082_tzg8z_5d1f45a0-251c-4376-b0f2-25b6e4806e94 (offset=503316480, length=33554432): io exception (Zero Copy GrpcDataReader)
	at io.trino.plugin.hive.orc.OrcPageSourceFactory.createOrcPageSource(OrcPageSourceFactory.java:453)
	at io.trino.plugin.hive.

[2021-10-12 10:51] ferhui opened #14239 "Update version to 2.6.3-SNAPSHOT for branch-2.6"
**Alluxio Version:**
2.6.2

**Describe the bug**
Since 2.6.2 has been released, need to update version to 2.6.3-SNAPSHOT for branch-2.6

**To Reproduce**

**Expected behavior**

**Urgency**
Trivial

**Additional context**
No

[2021-10-12 11:09] pklcoder opened #14241 "No factory could create a UserState with authType: KERBEROS"
alluxio version 2.62
hdp 3.1.4  --hadoop 3.1.1
centos7.4

i just add some config like this:

#enable kerberos
alluxio.security.authorization.permission.enabled=true
alluxio.security.authentication.type=KERBEROS
#alluxio.security.kerberos.unified.instance.name=ip
alluxio.security.kerberos.server.principal=yarn@HDP.COM
alluxio.security.kerberos.server.keytab.file=/usr/alluxio/conf/yarn.keytab

when

[2021-10-12 19:10] ssz1997 opened #14243 "WORKER_NETWORK_ASYNC_CACHE_MANAGER_THREADS_MAX is invalid in some k8s containers"
**Alluxio Version:**
2.6.2

**Describe the bug**
The property key [`WORKER_NETWORK_ASYNC_CACHE_MANAGER_THREADS_MAX`](https://github.com/Alluxio/alluxio/blob/71165a5da66df06425265247f32d631c34692489/core/common/src/main/java/alluxio/conf/PropertyKey.java#L3141-L3149), used at [`GrpcExecutors.java`](https://github.com/Alluxio/alluxio/blob/71165a5da66df06425265247f32d631c34692489/core/common/src/main

[2021-10-12 20:30] Xenorith commented on #14243
not sure about `-XX:ActiveProcessorCount` flag if using java 8. according to https://stackoverflow.com/questions/59882464/does-javas-activeprocessorcount-limit-the-number-of-cpus-the-jvm-can-use
there's a comment, this flag was introduced in java 10: https://www.oracle.com/java/technologies/javase/10-relnote-issues.html

[2021-10-12 21:35] #14225 closed, assigned to codings-dan

[2021-10-12 21:59] ssz1997 commented on #14243
Works in my case though. https://stackoverflow.com/questions/59882464/does-javas-activeprocessorcount-limit-the-number-of-cpus-the-jvm-can-use there's also a comment saying "This also worked on the latest version of Java 8, specifically OpenJDK 1.8.0_242-b08."

[2021-10-13 02:01] idanz opened #14246 "S3 UFS is getting much more read than needed to the UFS"
**Alluxio Version:**
2.6.2

**Describe the bug**
When reading parquet files from cold cache with S3 UFS we see a huge bandwidth coming out of the store.
I believe this is because the S3 request is built with a starting offset but not with an end range. so it reads as much as it can until the HTTP request is aborted. would be better to start the http request only after the read call happens and app

[2021-10-13 06:10] yuzhu commented on #14246
@ggezer PTAL

[2021-10-13 06:36] yuzhu commented on #14241
the documentation you are looking at is for the enterprise edition only. @pklcoder

[2021-10-13 06:49] sfwanyi commented on #14222
@beinan 明天上午我们再一起远程会议下，北南博士有没有时间咧。

[2021-10-13 18:00] yuzhu opened #14247 "EMR script launches Alluxio with the incorrect master/worker files, causing maintenance script to not work"
**Alluxio Version:**
2.6

**Describe the bug**
EMR script launches Alluxio cluster with the master and worker file containing localhost only, so scripts like CopyDir does not work.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urge

[2021-10-14 01:17] #13471 closed

[2021-10-14 03:24] maobaolong opened #14251 "Worker use master service rpc port to communicate to master"
**Is your feature request related to a problem? Please describe.**

Master will lost worker if there are a huge client requests coming to master for a while.

**Describe the solution you'd like**

Worker Use service rpc port to communicate to master

**Describe alternatives you've considered**

Create a new rpc service in alluxio master using service rpc port, default 19997, and worker can communi

[2021-10-14 04:16] yuyang733 opened #14252 "Turn off the default permission check of Alluxio and denpends on the underlying UFS's authorization mechanism"
**Is your feature request related to a problem? Please describe.**

Recently, we encountered such a scene:

We want to turn off the default permission check of Alluxio and delegate this responsibility to the ranger of the mounted underlying UFS.  But, I found that Alluxio can not support passing the Hadoop's UGI obtained in the HCFS(Hadoop Compatible FileSystem) client to the mounted underlying UF

[2021-10-14 05:02] yuzhu commented on #14252
@ggezer @yyongycy any thoughts on this?

[2021-10-14 07:58] jffree opened #14257 "Support automatic abortion s3 multipartUpload after a timeout."
If a `MultipartUpload` request fails and the `MultipartUpload` request is not aborted,  directory  `xxx_s3_multipart_tmp` will be preserved, and future `MultipartUpload` requests will always error.

**Describe the solution you'd like**

1.  Create a callable instance when a `MultipartUpload` request received which used to abort this `MultipartUpload`. Callable instance contains:
    1.  upload fil

[2021-10-14 12:21] lgy1027 opened #14260 "helm部署alluxio报错"
alluxio：2.6.2
开启fuse，fuse挂载的本地目录没有访问权限，fuse是基于worker开启

配置：
alluxio-config.yaml
[code]
alluxio-master.yaml
[code]

alluxio-work.yaml
[code]
目前部署存在的问题：
1、fuse挂载盘/mnt/alluxio-fuse没有操作权限
![image](https://user-images.githubusercontent.com/38779388/137315450-b7c18bcf-1643-42b9-8833-932076f847b0.png)
2、配置alluxio.user.file.metadata.sync.interval=2m情况下，在UFS删除文件后，Pod中使用alluxio fs ls / 命令行查看对应文件已删除，但宿主机上FUS

[2021-10-14 19:35] ssz1997 opened #14264 "Docker image scanned by Trivy has critical vulnerabilities"
**Alluxio Version:**
Dockerfile-dev in v2.6.2

**Describe the bug**
Scan the image by Trivy, and there are a few critical vulnerabilities except those from java jars

**Expected behavior**
No critical from installed packages

![image](https://user-images.githubusercontent.com/32376495/137383909-ea1f0fb9-fd3d-4845-b01c-bb2c0c51fb3e.png)

[2021-10-14 23:01] #14158 closed

[2021-10-15 06:56] samloyal commented on #9151
same issue
free alluxio and reload it happen always

alluxio : 2.6.2
ufs: s3

[2021-10-15 07:20] yuyang733 commented on #14252
Let me describe it in detail:

When I export the environment variable 'HADOOP_USER_NAME=hadoop_user',  the Hadoop UGI obtained by the HCFS client of Alluxio is 'hadoop_user'. This UGI can also be correctly passed to the Master Server side for authentication.

However,  UFS cannot continue to obtain the Hadoop UGI that was originally brought over from the Client, when the Master continues to call U

[2021-10-16 02:05] ggezer commented on #14251
@maobaolong Can you please share jstacks of Alluxio master while you're seeing this service denial to workers?
@yuzhu I bet this is FJP, and this issue would resolve if we could just replace it with a regular thread-pool.

[2021-10-18 02:55] maobaolong opened #14266 "Add a safemode state & enter exit control and limitation"
**Is your feature request related to a problem? Please describe.**

If we want to transfer alluxio master to another node, we need a safemode state to help to keep the state of alluxio immutable, meanwhile, it can supply the read(state non-change) opperation.

**Describe the solution you'd like**

Add a safemode state.

**Describe alternatives you've considered**

- Add enter and exit safemode adm

[2021-10-18 06:12] ZacBlanco commented on #14257
Regarding

I don't see a clear way to get around this if someone is using multiple proxies. Alluxio just does not allow multiple clients to upload+complete the same file. I think we will just have to document a restriction that the same proxy must be used during a multipart upload to properly complete the request. If a load balancer in front of the proxies is desired it should deterministically re

[2021-10-18 06:18] yuzhu commented on #14266
@maobaolong is anyone from your side actively working on this?

[2021-10-18 06:41] sfwanyi commented on #14222
@beinan

[2021-10-18 19:11] #13399 closed

[2021-10-18 19:15] yuzhu commented on #13417
@ZacBlanco @ggezer any update on this?

[2021-10-18 22:20] #14166 closed, assigned to nobody

[2021-10-18 22:42] LuQQiu opened #14274 "Alluxio failed to create 4 replication of data with distributedLoad"
**Alluxio Version:**
Alluxio 2.6.2

**Describe the bug**
With a folder with imagenet dataset 1.3 million * 105 KB each = 130GB dataset.
`bin/alluxio fs distributedLoad --replication 4 /dali`
only loaded 380GB dataset instead of 130GB * 4 = 520GB.
- the command succeeds
- no job failed in bin/alluxio job ls
- no error logs in worker or job worker or job master

some files have four block locations

[2021-10-18 22:53] LuQQiu opened #14275 "Alluxio docker image have StackOverflowError error"
**Alluxio Version:**
Alluxio 2.6.2

**Describe the bug**
When using alluxio 2.6.2 docker image and run a high concurrency machine learning script, the Alluxio will error out
[code]
Interesting that when changing to `alluxio-dev` docker image, nothing happens and everything works fine
**To Reproduce**
Launch a cluster similar to  https://github.com/Alluxio/alluxio/issues/14028
and run
[code]
then g

[2021-10-18 23:07] LuQQiu opened #14276 "Worker Fuse doesn't have resource constraint"
**Is your feature request related to a problem? Please describe.**
AlluxioFuse or all other clients connect to AlluxioWorker using gRPC.
Alluxio has threadpools to constraint how many threads are processing/fulfilling those gRPC requests together.
However, Fuse inside AlluxioWorker talks to AlluxioWorker directly and there is no internal resource constraints.

When WorkerFuse in under heavy pressu

[2021-10-18 23:28] ggezer commented on #13417
There's no action on this ticket.

[2021-10-18 23:36] idanz commented on #14246
I don't think that is the issue since we witnessed it while caching was
completely turned off.
We more understand that in certain cases impala will read all the "pages"
in the parquet files which might be many and small in case the table has
many columns (~500 for us). So in the case of alluxio over S3, this might
mean thousands of unended S3 reads over the same file.

On October 19, 2021 04:54:31

[2021-10-19 14:32] kwnam1302 opened #14279 "PodDisruptionBudget for alluxio-master"
**Is your feature request related to a problem? Please describe.**

Multiple-instance Stateful application requires setting the PodDisruptionBudget.
https://kubernetes.io/docs/tasks/run-application/configure-pdb/#think-about-how-your-application-reacts-to-disruptions
Currently, the PodDisruptionBudget for alluxio-master is not set when installing alluxio on k8s.

**Describe the solution you'd like

[2021-10-19 17:34] LuQQiu commented on #14274
bin/alluxio fs distributedLoad /dali
load 140GB data into Alluxio
and then
bin/alluxio fs setReplication -R --min 4 --max 4 /dali
bin/alluxio fsadmin report remains 140GB total data, didn't trigger loading more data.
From the master node
[code]
For the mount we only have list and read permission. This problem may be solvable via setting the mount point as read-only

[2021-10-19 17:37] LuQQiu opened #14281 "Object storage listStatus should not error out with unable to mkdirInternal"
**Alluxio Version:**
2.6.2

**Describe the bug**
Mount a S3 bucket into Alluxio.
We have list status and read permission of the S3 bucket but not have write permission.
The s3 bucket is not mounted as read only.
[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
Even if the bucket is not given read-only flag. List status command

[2021-10-19 17:39] pvaldria opened #14282 "Cache shows 0% after file is read using fuse client from NFS UFS"
**Alluxio Version:**
alluxio-2.6.2]

**Describe the bug**
After a file is read using fuse client, alluxio shows its not cached.

**To Reproduce**

`[opc@inst-czyk1-tough-reindeer alluxio-2.6.2]$ time cat /mnt/fuse_client/alluxio-2.6.2-bin.tar.gz > /dev/null

real	22m17.571s
user	0m0.084s
sys	0m1.221s

Waited for 5 mins and then ran the below:

[opc@inst-czyk1-tough-reindeer alluxio-2.6.2]$ ./bin/a

[2021-10-19 19:36] pvaldria commented on #14282
[opc@inst-czyk1-tough-reindeer alluxio-2.6.2]$ cat conf/alluxio-site.properties | grep -v "^#"

alluxio.master.hostname=hpc-node-1

alluxio.master.mount.table.root.ufs=/mnt/iad-ad-3-fss

alluxio.user.file.metadata.sync.interval=5

alluxio.fuse.user.group.translation.enabled=true

alluxio.worker.fuse.enabled=true
alluxio.worker.fuse.mount.alluxio.path=/
alluxio.worker.fuse.mount.point=/mnt/fuse_cli

[2021-10-19 20:29] yuzhu commented on #14274
@LuQQiu could you distributeLoad a single file in your environment and see if it works?  The thing that is different about your environment is 1. many files 2. k8s, so let's try to rule them out one by one?

[2021-10-20 07:08] j-buczak opened #14283 "Alluxio-local works on Docker, but not on Kubernetes (Minikube)"
**Alluxio Version:**
2.6.2

**Describe the bug**
If Alluxio local is started via `docker run` - it starts smoothly. However, when I start the same image in kubernetes (with minikube) I'm getting such errors:

<details>
  <summary>output of `start_alluxio.sh`</summary>

[code]
</details>

<details>
  <summary>logs/worker.out</summary>

[code]
</details>

<details>
  <summary>logs/job_worker.log</su

[2021-10-20 07:29] yyongycy commented on #14283
Please try with this fix: https://github.com/Alluxio/alluxio/commit/fe0420c6c4bc65310637351aae2df3d01ca11ff2
This is trying to fix issue with parameters in kubernetes.

[2021-10-20 12:30] wjmmjr commented on #14252
I have the same question. How can Alluxio-hdfs support Ranger？

[2021-10-20 17:54] HelloHorizon commented on #14257
Hey @jffree , is this answer you question?

[2021-10-20 19:01] yuzhu commented on #14157
@ZacBlanco  any thoughts on this?

[2021-10-20 22:00] yuzhu commented on #14215
[code]

[2021-10-20 22:50] #14228 closed, assigned to jenoudet

[2021-10-21 03:23] gjhkael opened #14285 "alluxio apply journal entry bug"
**Alluxio Version:**
Our alluxio cluster version is 2.6.1,  and use "Raft-based Embedded Journal" to build HA cluster with three master nodes.

**Master conf**
[code]
**Describe the bug**
We have a service that implement the MetaStoreEventListener, when have new partition added, then we use distributed load command to load file from hdfs to alluxio.  For metastore event send out before hive drop .

[2021-10-21 06:48] lilyzhoupeijie opened #14286 "alluxio on ceph,delete files,but the files still exists on ceph"
**Alluxio Version:**
alluxio 2.6.1

**Describe the bug**
we delete files with following cmd:
alluxio rm -R /path
however we find after serval minutes,the files still exist on alluxio,and the file  authority is from ceph,not alluxio

Solutions:
after checking,we found:
we delete file,the logic is as follows:
the first to do is delete files in underfs,and then cancal persist job,so there will be a p

[2021-10-21 06:59] lilyzhoupeijie opened #14287 "alluxio on ceph,delete files will be slowed and may cause oom"
**Alluxio Version:**
alluxio 2.6.1

**Describe the bug**
we found delete files will stuck the master process,and the master can not worker for 20 minutes.

**To Reproduce**
we use this cmd to delete 30k+ files
`alluxio rm -R /path`

After checking the code,I have found one problem need to repair,however there will still be other problem.

the first need to repair is that:
in the class `ObjectUnder

[2021-10-21 07:13] j-buczak commented on #14283
I'm working on provided binaries, so it's hard for me to verify this. However - looking at the solution I doubt that it will work. I use minikube as dev env and I don't have 4 CPUs for every worker :). I would say that proper solution would be to add instructions for configuring minikube / clusters with less than 1CPU per pod (default helm uses 1CPU and you have to decrease it as well)

[2021-10-21 12:32] xichen01 commented on #14209
If the worker process does not have write permission to the ${ALLUXIO_HOME}  directory (such as we have a K8s environment and readonly mounts for ${ALLUXIO_HOME} ). in this case, we can not store the clusterld on any path except for the tiered storage.
Is it a good idea to store clusterId to the environment variables? In this way the worker can store the clusterId in the environment of the system

[2021-10-21 14:40] lilyzhoupeijie commented on #14287
can we change the delete  process to following process?
step 1:lock the file to be delete(WRITE_EDGE),and save some
step 2:stop the pesist job synchronously
step 3:remove path from mInodeTree  and release the lock WRITE_EDGE synchronously
step 4:not sure if there are some getStatus need to be delete?
step 5:send the delete undersys file request to some queue or job service asynchronousLy
step 6:re

[2021-10-21 21:15] beinan commented on #14246
If we look at the grpc request of each read,  looks like it always requests the entire file?

![image](https://user-images.githubusercontent.com/7077075/138357513-8c625f97-1a5b-42ac-8d16-482290ca3dab.png)

Ok, so I guess for each read it won't be beyond the chunk size, but it might keep looping to read the entire file.  I will take a look at how we construct the request on client side

[2021-10-21 21:45] yuzhu commented on #14286
Sounds like we issued a persist and then delete the file. but the persist request gets handled after delete happens, so there is a race? we need to remove the persist request from the queue when we delete the file.

[2021-10-21 22:03] yuzhu commented on #14246
@beinan for your reference, https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/s3/model/GetObjectRequest.html#setRange-long-long- , I think we are issuing request with `setRange(start)` only.  see https://github.com/Alluxio/alluxio/blob/6a1876002e276c1a86d22b49f212e385f574f086/underfs/s3a/src/main/java/alluxio/underfs/s3a/S3AInputStream.java#L144

[2021-10-21 22:33] HelloHorizon commented on #14257
@ZacBlanco are there any code changes needed for this issue? feel free to open this issue if that is the case.

[2021-10-21 22:57] yuzhu commented on #14246
i am wondering if https://github.com/Alluxio/alluxio/issues/14215 is related. There we somehow exhausted s3 client pool, and caused reads to eventually fail. @LuQQiu @beinan

[2021-10-22 01:43] jffree commented on #14257
@ZacBlanco I can do the preliminary implementation first. Then you can help to review the code.

[2021-10-22 02:27] beinan commented on #14215
@yuzhu just made a simple fix which might make some improvement.  I think at least we should close the stream when we're create a new one. https://github.com/Alluxio/alluxio/pull/14291

[2021-10-22 06:50] lilyzhoupeijie opened #14294 "tf training Transport endpoint is not connected and the train stuck"
**Alluxio Version:**
What version of Alluxio are you using?
alluxio 2.6.1

**Describe the bug**
we use fuse pod to start tensorflow training,and the tf tensorflow don't run ,the tensorflow log as follows:
 2021-10-22 13:24:29.645844: E tensorflow/core/platform/default/posix_file_system.cc:56] close() failed: Transport endpoint is not connected
2021-10-22 13:24:29.645932: E tensorflow/core/platform

[2021-10-22 17:08] #14243 closed, assigned to ssz1997

[2021-10-23 01:50] ZacBlanco commented on #14257
How does S3 handle this? I think that there should still be some timeout where the upload becomes invalid.

I did a quick search, apparently the [policy is configurable](https://stackoverflow.com/questions/29911573/does-aws-s3-automatically-abort-multipart-uploads-after-a-timeout) (as of 2016, when this was answered)

According to the recent AWS docs - this is still the case ([AbortIncompleteMulti

[2021-10-25 08:19] dingshun3016 opened #14300 "alluxio master jvm crash"
Alluxio Version:
2.6.1

Describe the bug
the master jvm frequently crash and hs_err_pid log following content:

Stack: [0x00007fef593d4000,0x00007fef594d5000],  sp=0x00007fef594d3128,  free space=1020k
Native frames: (J=compiled Java code, j=interpreted, Vv=VM code, C=native code)
C  [libc.so.6+0x15f349]  __memcmp_sse4_1+0xbb9
C  [librocksdbjni3984758182997356123.so+0x36180d]  rocksdb::DBIter::Fin

[2021-10-25 08:42] xpleaf opened #14301 "How to Rectify the fault that Alluxio Reads Data slowly?"
**Alluxio Version:**
Alluxio 2.6.0

**Description:**

How do I Rectify the fault that Alluxio Reads Data slowly?

In my scenario, Alluxio and Presto are co-deployed, and AlluxioWorker is deployed on each Presto node.

In the recent one-off test, we found the problem of slow nodes in Alluxio. In Presto's stages, we found that there were always several nodes reading Alluxio's data very slowly (gener

[2021-10-25 23:21] LuQQiu opened #14304 "Fuse bug/improvements/feature collection place"
A central place to collect the Fuse bugs, improvements, and feature requests.
Please directly link related issues here

[2021-10-26 02:42] liubingxing opened #14305 "worker remote read use mmap instead of read&writev"
In Alluxio worker remote read process, the current version uses Netty + ByteBuf  which call read & writev eventually
![企业微信截图_ab738ab7-3198-4d40-8c46-c46e7bc61050](https://user-images.githubusercontent.com/2844826/145329672-c65bb916-d1ec-42f0-a5a1-07fb79e107d7.png)

We can use mmap to reduce data copy.

[2021-10-26 02:44] kevincai opened #14306 "MergeJournalContext causes JournalEntry out of order"
**Alluxio Version:**
Alluxio v2.6.2, Embedded Journal,  3 master node for HA

**Describe the bug**
Concurrent visit ufs files that are not yet cached in alluxio, parent directory journal entry was written after edge node.

**To Reproduce**
Concurrency problem, so following steps has probability to reproduce, need repeatedly try.
1. prepare data in oss://<bucket>/a/b/c/, with {000-999}.jpg file und

[2021-10-26 04:59] kevincai opened #14308 "Retain workers info in follower/standby masters to shorten leader switch service unavail time window"
**Alluxio Version:**
alluxio v2.6.2

**Describe the bug**
In leader switch scenario, new leader is functioning, but workerInfo is not persistent through journal, there is no worker info inside new leader until workers discovered new masters configuration and register/heartbeat to the new leader.

During new leader listening RPC port until all workers re-registered to new leader, the alluxio system

[2021-10-26 11:46] codings-dan opened #14309 "Add total file count and file block count to the overview page"
**Is your feature request related to a problem? Please describe.**
We want to get information about the number of cluster files on the alluxio master webui to know the cluster status.

**Describe the solution you'd like**
I added three indicators: totalpath, unique block count, and replica block count.

totalPath represents the total path number of the system (including files and folders)
unique b

[2021-10-26 12:52] newJames opened #14311 "can not see where BlockWorkerGrpc implementation"
hello，i want to learn how BlockWorkerGrpc implemented, but i can not find where it implemented in master branch.
i am new in JAVA, just want to learn the Alluxio,Thanks!

[2021-10-27 08:41] #14311 closed, assigned to nobody

[2021-10-27 18:17] #14309 closed, assigned to nobody

[2021-10-27 22:45] yuzhu opened #14321 "Scan the code base for k8s incompatible usage of host:port"
**Summary**
We previously use host and port pair  or InetSocketAddress to indicate location of the worker. We can not do that in k8s world, we need to use WorkerNetAddress abstraction, which has physical host, containerhost and port

**Urgency**
Urgent as it breaks some k8s usecases..

[2021-10-27 22:54] jja725 opened #14322 "Update JobUtils.loadBlock"
**Summary**
We previously use block read to cache the block in `JobUtils.loadBlock`(used in replication and distributedLoad), which is not efficient. Use the new cache RPC instead.

**Urgency**
medium

[2021-10-28 01:38] #14274 closed, assigned to jja725

[2021-10-28 01:38] #14306 closed, assigned to yuzhu, ggezer

[2021-10-28 04:02] #14287 closed, assigned to ggezer

[2021-10-28 05:23] ggezer opened #14326 "Configurable ExecutorService provider for Alluxio processes"
**Is your feature request related to a problem? Please describe.**
Main executors that are used by master/worker processes are not configurable.
This leaves us with custom code changes to mitigate issues.

**Describe the solution you'd like**
By leveraging propertry-key templates, we could easily provide common infra to configure executor-services for Alluxio nodes.
There are not really many optio

[2021-10-28 15:24] lilyzhoupeijie opened #14329 "worker direct memory can not allocate"
**Alluxio Version:**
alluxio 2.6.1

**Describe the bug**
we write data to alluxio using spark,and we found the  error:

spark error:
Caused by: java.io.IOException: Failed to cache: Connection closed after GOAWAY. HTTP/2 error code: INTERNAL_ERROR, debug data: failed to allocate 16777216 byte(s) of direct memory (used: 6425674007, max: 6442450944) (GrpcDataWriter{request=type: ALLUXIO_BLOCK
id: 78

[2021-10-28 20:29] LuQQiu opened #14333 "Enable Cluster.BytesReadDirect on the master web ui metrics page and worker metrics page"
**Is your feature request related to a problem? Please describe.**
When users are using Fuse on Worker, they want to see local read so they looks at the BytesReadLocal for short circuit read.  But Fuse on worker process local read are shown as BytesReadDirect, which isn't shown on the web UI yet.

**Describe the solution you'd like**
Enable BytesReadDirect on the UI metrics page for user convenien

[2021-10-28 21:51] ssz1997 opened #14334 "LostStorageIntegrationTest failure"
In recent github actions, LostStorageIntegrationTest keeps failing.

To reproduced it, on master branch, I ran the test on Intellij, and the error stacktrace is:

[code]

I found this online which has a very similar error: https://stackoverflow.com/questions/33400142/cannot-inject-httpservletrequest-in-containerrequestfilter-via-context-jersey2/39884183#39884183

In the comment someone mentioned t

[2021-10-29 03:23] jingcheng88 opened #14337 "Failed to complete cache request for block with wrong worker hostname on Kubernetes with "hostNetwork: false"."
**Alluxio Version:**
2.6.2

**Describe the bug**
I deployed alluxio on kubernetes use helm chart.

When i used `alluxio fs load` if set hostNetwork to false, the following error messages were displayed.
[code]

[2021-10-29 03:27] flaming-archer opened #14338 "common.go miss hadoop 2.10 configuration"
**Alluxio Version:**
2.6.2
**Describe the bug**
 When ./iIgenerate-tarballs single -ufs-modules=ufs-hadoop-2.10, We will see 'ufs module ufs-hadoop-2.10' not recognized.

**To Reproduce**
 1. Do like this /iIgenerate-tarballs single -ufs-modules=ufs-hadoop-2.10

**Expected behavior**
The common.go not config hadoop-2.10

**Urgency**
Describe the impact and urgency of the bug.
Not very urgency,But

[2021-10-29 06:48] hfutatzhanghb opened #14341 "Alluxio Supports Java Native Interface"
Recently, we have implemented JNI framework based on Alluxio.
Alluxio developer can user customed native method to use some  OS lib function.
Now，I wonder whether alluxio need this feature or not?

[2021-10-29 07:26] hfutatzhanghb opened #14342 "Alluxio DomainSocket supports passing a file descriptor"
Alluxio currently supports two types of local reads:
1. Short Circuit
In short circuit, the worker passes the local block file path directly to the client. The client directly reads the file with local file system.
https://github.com/Alluxio/alluxio/blob/da3697b7164ca2c948f48abc7bb14bbe305f701b/core/client/fs/src/main/java/alluxio/client/block/stream/BlockInStream.java#L128
**This requires the cli

[2021-10-29 17:04] #14334 closed, assigned to nobody

[2021-10-29 21:00] LuQQiu opened #14354 "S3 bucket in another region cannot be accessed"
**Alluxio Version:**
2.7.0-SNAPSHOT
master

**Describe the bug**
Before changes in https://github.com/Alluxio/alluxio/pull/14134, user can mount a bucket in other regions than us-east-1 and get all operations running as expected.
With 2.7.0-SHAPSHOT, mount bucket in other regions and runTests against this bucket will fail because we assume the bucket is in s3.

**To Reproduce**
bin/alluxio fs moun

[2021-10-29 22:51] #14338 closed

[2021-10-29 23:12] yuzhu commented on #14300
@dingshun3016 is it possible for you upload the core dump file when this happens? also what was the workload on alluxio when this happened? steps to reproduce?

[2021-10-29 23:26] #14354 closed

[2021-10-30 00:27] sumokiama opened #14357 "Basic file system commands not supported in Alluxio Fuse"
**Alluxio Version:**
Alluxio 2.6.2

**Describe the bug**
We are running a 1 master/1 worker EMR cluster:
master: m5.xlarge
worker: i3en.3xlarge (7TB SSD)

Our application is writting in C/C++. It uses Alluxio/Fuse to mount the TPCDS dataset (our tests) and also a file block cache. We expect Alluxio/Fuse to provide a much larger/faster cache than is provided by a non-Alluxio cluster.

There are two

[2021-10-30 00:42] sumokiama opened #14358 "Apparent performance issues with Alluxio/Fuse result in Posix file system errors."
**Alluxio Version:**
Alluxio 2.6.2

**Describe the bug**
We use an Alluxio/Fuse cluster to cache file blocks written by our C/C++ application.

- When running with a single instance of the application and a small (100G) dataset, our application can write and then read all blocks.
- When running with multiple application instances (they work in concert against the same query) or with a larger datas

[2021-10-31 18:50] sumokiama opened #14359 "Alluxio/Fuse re-reads S3 data that has already been cached."
**Alluxio Version:**
2.6.2

**Describe the bug**
EMR spark with Alluxio fuse re-reading from the S3 UFS even though the required data is already in Alluxio’s SSD cache”.  When running EMR 6.2 spark using alluxio through FUSE with  S3 as the UFS, in situations  where all the data required for a specific TPC DS query is already cached in Alluxio’s SSD cache, on subsequent runs of the query Alluxio c

[2021-10-31 18:56] sumokiama opened #14360 "S3 read bandwidth is limited when running EMR Spark using alluxio through FUSE"
**Alluxio Version:**
2.6.2

**Describe the bug**
With EMR 6.2 spark using Alluxio and accessing large amounts of data in S3 as a UFS, EMR using Alluxio through FUSE achieves less than half the S3 read bandwidth of EMR 6.2 using Alluxio through the JAR with TPCDS 3TB and 10 TB in the cold cache case.  This appears to be a concurrency and not a is not a cpu overhead issue:  the total cpu time for th

[2021-11-02 04:31] #14326 closed

[2021-11-02 09:57] kevincai opened #14379 "alluxio-fuse get fuse mount process id incorrectly"
**Alluxio Version:**
v2.6.2

**Describe the bug**
when doing csi umount, alluxio-fuse was trying to get process pid by `ps aux`, script function `fuse_stat` returned process user instead its pid, and incorrectly kill it. which caused crash during exit

**To Reproduce**
* create a pvc and bind to a pod
* after pod started the volume is mounted to pod
* delete the pod, csi nodeplugin was trying to u

[2021-11-03 00:11] kevincai opened #14389 "[CSI] nodeplugin support mountOptions when using csi ephemeral inline volume"
**Is your feature request related to a problem? Please describe.**
Kubernetes support `mountOptions` in `PersistentVolume` and `StorageClass`, and alluxio csi nodeplugin can get the `mountOptions` from `csi.NodePublishVolumeRequest.GetVolumeCapability().GetMount().GetMountFlags()`. However this ability is missing when using csi ephemeral inline volume (https://kubernetes.io/blog/2020/01/21/csi-eph

[2021-11-03 06:21] kevincai commented on #14379
csi nodeplugin use alpine:3.10.2 as base image, the ps inside the image is busybox-1.30.1
on normal dev image which uses centos.

ps aux command output looks like
[code]

different version of ps has different output format, better has a more robust parser to get the pid.

[2021-11-03 08:36] jayzhenghan commented on #13677
@jiacheliu3 I did not take effect according to this change. @shenghui361 Has your problem been solved?

[2021-11-03 10:37] adol001 opened #14397 "In ASYNC_THROUGH mode, empty dir can't be written back to ufs"
**Is your feature request related to a problem? Please describe.**
In ASYNC_THROUGH mode, empty dir persistence state is NOT_PERSISTED, so can't be written back to ufs

**Describe the solution you'd like**
Through configuration, empty dir can be written back to ufs

**Describe alternatives you've considered**
Through configuration

[2021-11-03 11:54] dbw9580 opened #14400 "Metric MASTER_LOST_FILE_COUNT is not working correctly"
**Alluxio Version:**
master

**Describe the bug**

Metric `MASTER_LOST_FILE_COUNT` should show the number of lost files, instead it is always 0.

**To Reproduce**

1. Set property `alluxio.master.lost.worker.file.detection.interval=30s` so the bug can be observed more quickly.
2. Launch a clean Alluxio cluster.
3. Create a file in Alluxio filesystem, e.g.
[code]
4. Kill the worker process, clear i

[2021-11-03 19:16] pvaldria commented on #14282
I was able to fix the issue by removing all the below settings and restarting Alluxio on all nodes.

Removed:
[code]

[2021-11-03 20:25] ZhuTopher opened #14406 "Worker ramdisk persistence is getting deleted"
**Alluxio Version:**
Alluxio 2.6.2

**Describe the bug**
When following the steps in [the Alluxio upgrading doc](https://docs.alluxio.io/os/user/edge/en/operation/Upgrade.html)
to persist & restore Alluxio worker ramdisk caches, the worker ramdisk appears to be
empty.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

1. Deploy a local Alluxio cluster by fo

[2021-11-03 21:20] ZhuTopher commented on #14406
Further testing shows that this only occurs to blocks which were marked as `PERSISTED` in the Alluxio filesystem. Changing `alluxio.user.file.writetype.default` to `MUST_CACHE` shows the intended behaviour for worker ramdisk cache persistence.

[2021-11-03 21:20] #14406 closed

[2021-11-03 22:37] #10098 closed

[2021-11-03 22:39] yuzhu commented on #10099
StickyBit is unix specific anyways, and can not be perfomed through Java

[2021-11-03 22:39] #10099 closed

[2021-11-03 22:42] yuzhu commented on #10100
this was done for efficiency and safety

[2021-11-03 22:42] #10100 closed

[2021-11-03 22:44] #10109 closed

[2021-11-03 22:45] #10110 closed

[2021-11-03 22:45] yuzhu commented on #10110
fixed in 2.7.0

[2021-11-03 22:50] #10135 closed

[2021-11-03 22:52] #10252 closed

[2021-11-03 22:52] #10305 closed

[2021-11-03 22:53] #10306 closed

[2021-11-03 22:53] #10307 closed

[2021-11-03 22:53] #10322 closed

[2021-11-03 22:57] #10341 closed

[2021-11-03 23:01] yuzhu commented on #10381
implemented in #12783

[2021-11-03 23:01] #10381 closed

[2021-11-03 23:11] yuzhu commented on #10438
expected behavior

[2021-11-03 23:11] #10438 closed

[2021-11-03 23:11] #10453 closed

[2021-11-03 23:11] yuzhu commented on #10453
today alluxio does sync with GCS

[2021-11-03 23:13] yuzhu commented on #10479
not using copyCat anymore, using Ratis

[2021-11-03 23:13] #10479 closed

[2021-11-03 23:13] #10501 closed

[2021-11-03 23:13] yuzhu commented on #10505
fixed via #10489

[2021-11-03 23:13] #10505 closed

[2021-11-03 23:14] yuzhu commented on #10517
please try with our latest version as we have made significant changes to use jni-fuse.

[2021-11-03 23:14] #10517 closed

[2021-11-03 23:15] apc999 commented on #10519
this feature is planned to be removed in 2.8.0
https://github.com/Alluxio/alluxio/pull/13910

[2021-11-03 23:15] #10519 closed

[2021-11-03 23:15] yuzhu commented on #10533
please try with latest version of Alluxio, as we have made significant changes to use JNI-fuse

[2021-11-03 23:15] #10533 closed

[2021-11-03 23:20] #10786 closed

[2021-11-03 23:20] #10801 closed

[2021-11-03 23:22] yuzhu commented on #10832
fixed via #12643

[2021-11-03 23:22] #10832 closed

[2021-11-03 23:26] apc999 commented on #10855
fixed by https://github.com/Alluxio/alluxio-py/pull/3

[2021-11-03 23:26] #10855 closed

[2021-11-03 23:27] yuzhu commented on #10880
addressed through jni-fuse

[2021-11-03 23:27] #10880 closed

[2021-11-03 23:28] #10887 closed

[2021-11-03 23:29] yuzhu commented on #10896
@jiacheliu3 has this been addressed?

[2021-11-03 23:32] yuzhu commented on #10915
@ggezer has this been fixed?

[2021-11-03 23:33] yuzhu commented on #10920
no plan to support encryption in the near tearm

[2021-11-03 23:33] #10920 closed

[2021-11-03 23:34] yuzhu commented on #10925
please give version 2.7.0 a try, as we have addressed similar issues recently.

[2021-11-03 23:34] #10925 closed

[2021-11-03 23:36] yuzhu commented on #10927
kerberos is not completely supported in the community version, please look into enterprise edition.

[2021-11-03 23:36] #10927 closed

[2021-11-03 23:43] ZhuTopher opened #14412 "Worker Active Clients metric can exceed 0 at rest"
**Alluxio Version:**
What version of Alluxio are you using?

2.6.2

**Describe the bug**
A clear and concise description of what the bug is.

When performing back-to-back `bin/alluxio runTests`, it is possible to see the `Worker.ActiveClients` metric exceed
`0` while at rest (i.e: there are no active jobs). This implies that the metric counter is being incremented more than it is decremented, or t

[2021-11-03 23:56] ZhuTopher opened #14413 "Alluxio gRPCExecutor Active threads metric is always 0"
**Alluxio Version:**
What version of Alluxio are you using?

2.6.2

**Describe the bug**
A clear and concise description of what the bug is.

The metrics `Worker.BlockReaderThreadActivelyCount` and `Worker.BlockWriterThreadActivelyCount` remain at `0` regardless of if threads are in use or not.

**To Reproduce**
1. Monitor a Alluxio worker metrics sink (keep a history or watch in real-time). Eg:
[

[2021-11-04 00:55] AlexChenSkyBlue opened #14414 "Alluxio master getting slower overtime"
**Alluxio Version:**
What version of Alluxio are you using?
2.6.2
**Describe the bug**
A clear and concise description of what the bug is.
max memory = 128394M total memory = 128394M free memory = 40585M
99
2021-11-03 23:42:39,277 WARN  JvmPauseMonitor - JVM paused 71574ms
98
No GCs detected
97
max memory = 127613M total memory = 127613M free memory = 39892M
96
2021-11-03 23:45:03,025 WARN  JvmPau

[2021-11-04 01:04] #14400 closed

[2021-11-04 03:04] jiacheliu3 commented on #10896
@yuzhu nope not really

[2021-11-04 09:30] jiacheliu3 commented on #14173
@gregpalmr I can open this link, although it seems to redirect. Is this still an issue?

[2021-11-04 13:38] JySongWithZhangCe opened #14428 "alluxio fs ls will skip the mount point when the ufs is unavailable"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when `alluxio fs ls` blocked on the mount point when the ufs is unavailable.

**Describe the solution you'd like**
`alluxio fs ls` will skip the mount point when the ufs is unavailable.

**Urgency**
Importent in multi ufs scence.

[2021-11-04 17:26] apc999 commented on #14178
@yuzhu  do you think this is related to https://docs.alluxio.io/os/user/edge/en/ufs/NFS.html#creating-nfs-mount-point

[2021-11-04 17:45] #14379 closed

[2021-11-04 20:47] jenoudet opened #14434 "JVM Metrics tutorial does not work"
**Page**
[Metrics System @ JVM Metrics](https://docs.alluxio.io/os/user/edge/en/operation/Metrics-System.html#jvm-metrics).

**Summary**
The actions specified by the docs are difficult to understand, do not provide a clear step by step instruction plan, and ultimately do not work.

[2021-11-04 22:06] LuQQiu commented on #14359
@sumokiama thanks for reporting the issue,
Normally, we first start Alluxio cluster with master and worker (with fuse mounted)
and then mount dataset into the Alluxio master,
read data from the worker fuse
and then data should be cached.

Can you give more details about your workloads?
how you install TPCDS metadata using Fuse-type URI?
how you mount dataset under worker fuse? and also on the mast

[2021-11-04 22:13] LuQQiu commented on #14360
Hi @sumokiama, FUSE has known performance overhead especially when it's reading large files.
FUSE will break the big file into 128KB chunks to read data from the customize user file system including Alluxio FUSE.
Alluxio native client, the one that you use with Spark has better performance than Alluxio FUSE since Alluxo Fuse is the joint effort of Alluxio native client overhead + FUSE overhead

[2021-11-04 22:19] yuzhu commented on #14329
@ggezer FYI, worker continues to have direct buffer leaks.

[2021-11-05 02:45] lilyzhoupeijie opened #14441 "alluxio masterr report BlockMasterClientServiceHandler - Exit (Error): GetBlockInfo,BlockMeta not found for blockId"
**Alluxio Version:**
alluxio 2.6.1

**Describe the bug**
when using alluxio ,the master report
2021-11-05 02:39:59,592 WARN  BlockMasterClientServiceHandler - Exit (Error): GetBlockInfo: blockId=2430666276868, options=, Error=alluxio.exception.BlockInfoException: BlockMeta not found for blockId 2430666276868
2021-11-05 02:39:59,592 WARN  BlockMasterClientServiceHandler - Exit (Error): GetBlockInfo

[2021-11-05 04:25] LuQQiu commented on #14441
will this issue be fixed by https://github.com/Alluxio/alluxio/pull/14418
which skip replicating the incomplete files

[2021-11-05 16:28] sumokiama commented on #14359
We are running the TPCDS workloads. Specifically, query 3, 3 TB.
We install TPCDS metadata using a modified version of the script/jar TPCDS benchmark tool from Databricks.
The URI given to the metadata installer is of the form `alluxio:///$WJM_DATASETS/$db`, where $WJM_DATASETS points to our S3 copy of the TPCDS datasets at 3T and 10T.
I am attaching our alluzio-site.properites. That defines the w

[2021-11-06 03:31] cdyo opened #14451 "Alluxio Load Cannot specify the storage medium or storage tier for cached data"
I want the cached data to be able to customize the storage level or storage medium, but the cached data is always at the tire0 of the worker.
I tried the following parameters but they didn't work

[code]

The Load operation is actually of type Read(ReadPType.CACHE_PROMOTE)
OpenFilePOptions does not apply to these properties.

The cache operation is completed internally by the worker service, and n

[2021-11-07 00:21] sumokiama opened #14458 "Snappy uncompress fails on parquet files stored in an Alluxio fuse mount."
**Alluxio Version:**
2.6.2

**Describe the bug**
While processing TPCDS queries, typically with datasets 1T and larger, we see failures with snappy uncompress on blocks that are stored in an Alluxio fuse mounted directory:
ERROR (FATAL!) [parquet.c:912 pq_decompress_page]: snappy_uncompress failed with error 5 ('Input/output error')

**To Reproduce**
Use snappy compression on a set of TPCDS parque

[2021-11-07 14:18] qian0817 opened #14461 "Failed to build webui under WSL"
**Alluxio Version:**
master branch

**Describe the bug**
When I try to build webui under WSL, npm throw a Segmentation fault.

**To Reproduce**
run `mvn -T 4C clean install -DskipTests -Dmaven.javadoc.skip -Dfindbugs.skip -Dcheckstyle.skip -Dlicense.skip` under WSL.

**Expected behavior**
build successfully.

**Urgency**
middle.

**Are you planning to fix it**
plan to fix.

**Additional context**

[2021-11-08 06:08] Xenorith commented on #14173
this also wasn't working earlier for me but now it seems to be valid again, through a redirect. probably fine to leave as is and close

[2021-11-08 13:40] jffree opened #14464 "Complete multipart upload use s3 rest api timeout"
**Is your feature request related to a problem? Please describe.**

When complete multipart upload use s3 rest api, it is timeout. (504 Gateway time-out)

**Describe the solution you'd like**
Avoid timeout when complete multipart upload a big file.

**Describe alternatives you've considered**

According to AWS S3 doc:
*Processing of a Complete Multipart Upload request could take several minutes to

[2021-11-08 13:43] jffree commented on #14464
@HelloHorizon @ZacBlanco

[2021-11-08 14:02] jayzhenghan opened #14466 "Suspected Worker DataMessageMarshaller.mBufferMap memory leak"
Worker reports errors in read-only scenarios, and memory grows rapidly at the same time，What caused the error in the picture below：

![image](https://user-images.githubusercontent.com/68948288/140754782-14197716-b064-41ec-8707-4626901fea57.png)

worker jvm dump：
![image](https://user-images.githubusercontent.com/68948288/140755841-d7c1ebfd-5dc2-4ca9-b258-4f799fe85378.png)
It can be seen from the f

[2021-11-08 19:39] apc999 commented on #14466
@ggezer  this memory leak looks to me a high priority bug to work on. Let me know if you have any resource to take it or we can talk offline. Thanks @jayzhenghan  for reporting this

[2021-11-08 19:42] apc999 commented on #14461
I don't think WSL is supported currently by Alluxio.

[2021-11-08 19:49] LuQQiu commented on #14441
@lilyzhoupeijie can you try running
[code]
to the block information of the not found block next time you see the similar message?
[code]

and see if the file exist

[2021-11-08 19:54] apc999 commented on #14428
@JySongWithZhangCe  a few clarification questions:

1. when you say "the ufs is unavailable", do you mean the UFS like HDFS is temporarily down or not responding ?
2. theoretically, there should be a timeout for CLI like `alluxio fs ls` to timeout, do you see the CLI blocking there indefinitely?

[2021-11-08 19:59] apc999 commented on #14414
@AlexChenSkyBlue it looks like two issues here:

1 From the logs "2021-11-04 00:33:39,462 WARN JvmPauseMonitor - JVM paused 100427ms", the GC is taking a lot of time.  Check https://docs.alluxio.io/os/user/stable/en/operation/Performance-Tuning.html?q=GC#common-performance-issues for printing out more useful GC debugging information
2 From the log message "2021-11-04 00:39:49,709 WARN UnderFileSys

[2021-11-09 01:05] jenoudet commented on #14285
@gjhkael do you have the logs from all the masters when this event happened? Did this failure cause the whole cluster to fail or was it able to recover from this and proceed?

[2021-11-09 01:51] lilyzhoupeijie commented on #14441
zhoupeijiedeMacBook-Pro:bin zhoupeijie$ alluxio fsadmin getBlockInfo 268620005376
2021-11-09 09:51:32,952 INFO  Reflections - Reflections took 407 ms to scan 2 urls, producing 76 keys and 407 values
2021-11-09 09:51:33,423 INFO  NettyUtils - EPOLL is not available, will use NIO
BlockMeta is not available for blockId: 268620005376
This block belongs to file {id=268636782591, path=/dd/16363597450200

[2021-11-09 01:54] lilyzhoupeijie commented on #14441
how to reproduce:
1)pin a directory such like /dd
2)a file(/dd/aa)  write begin at 9:00 am and finish at 10:00,then we will find this error

[2021-11-09 02:13] lilyzhoupeijie opened #14475 "java.lang.OutOfMemoryError: unable to create new native thread"
**Alluxio Version:**
 2.6.1

**Describe the bug**
master process show the following error,sometimes it occurs in the begining,sometimes after the master process runs  for
some days.
java.lang.OutOfMemoryError: unable to create new native thread
	at java.lang.Thread.start0(Native Method)
	at java.lang.Thread.start(Thread.java:717)
	at java.util.concurrent.CompletableFuture$ThreadPerTaskExecutor.exe

[2021-11-09 02:41] LuQQiu commented on #14441
3) between 9:00 am and 10:00, occur blockMeta is not available for blockId

[2021-11-09 02:43] LuQQiu commented on #14441
300-400files concurrent writing, master log full of BlockMetaNotFound, worry about master has other issues
master has OOM, leadership failed
not quite sure whether master OOM is caused by this issue

[2021-11-09 02:45] LuQQiu commented on #14441
boss zhipin will not read before write
why Alluxio read before write finish?

[2021-11-09 02:55] LuQQiu commented on #14475
added java options
[code]
no heap dump happens when the error
[code]

[2021-11-09 03:12] LuQQiu commented on #14475
hyphothesis - container has extra limitations on those resources

[2021-11-09 03:14] LuQQiu commented on #14475
cat /proc/PID/limits

[2021-11-09 03:22] adol001 opened #14476 "Alluxio's async through mode cause inconsistencies in ufs"
**Alluxio Version:**
2.6.1

**Describe the bug**
In async through mode, create file b then delete file b, from the perspective of ufs, it may see delete b then create b.

**To Reproduce**
add code below in PersistDefinition, before "        bytesWritten = IOUtils.copyLarge(in, out, new byte[8 * Constants.MB]);"

`        Runtime runtime = Runtime.getRuntime();
        Process proc = runtime.exec("

[2021-11-09 03:31] LuQQiu commented on #14475
Can be related to HA mode - throw by Ratis

[2021-11-09 03:36] yuzhu commented on #14475
root cause is `at alluxio.master.journal.raft.JournalStateMachine.notifyTermIndexUpdated(JournalStateMachine.java:299)
`
This uses a common Pool which will create a thread for each submission, causing resourceExhaustion.
We should use a custom ForkJoinPool here for this.

[2021-11-09 07:22] dengweisysu commented on #13773
maybe it can be a part of master, not just a tool. It means that when a worker is down , the cached data can be reload by another worker.

[2021-11-09 08:04] jffree opened #14477 "Clean already exist tmp directory when use s3 rest api when initiate multipart upload use s3 rest api."
According to the description in the aws s3 document, the s3 service will only store the latest data (that is, directly overwrite the existing data). The work of checking whether the data already exists should be done by the client.

Therefore, many third-party clients do not support the process of first checking and then overwriting (like spark and mingo).

#14203 In this pr, @ZacBlanco already im

[2021-11-09 08:19] jffree commented on #14477
@HelloHorizon @ZacBlanco Please take a look.

[2021-11-09 10:24] adol001 opened #14478 "No need to delete nonexistent ufs block when USER_FILE_UFS_TIER_ENABLED is false"
**Is your feature request related to a problem? Please describe.**
If the user is sure that USER_FILE_UFS_TIER_ENABLED has never been turned on, then there is no need to delete nonexistent ufs block

**Describe the solution you'd like**
Add a config check in handleSuccess of PersistenceChecker to avoid UnderFileSystemUtils.deleteFileIfExists ufs block. This will **cause list operations in object f

[2021-11-09 15:12] qian0817 commented on #14461
I am currently trying to develop alluxio under WSL and have not encountered any incompatibilities other than this.

[2021-11-09 19:36] yuzhu commented on #14475
suspicion is that Java incorrectly sets parallellism for the common pool to 1 due to containerized environment., which means create as many thread as needed.  https://dzone.com/articles/be-aware-of-forkjoinpoolcommonpool

[2021-11-09 21:26] yuzhu commented on #14285
@gjhkael please take a look at PR https://github.com/Alluxio/alluxio/pull/14307  and the related issue #14306. I believe that is the root cause here. Basically we were caching some journal entries, which causes race conditions to occur when two simultaneous creations were happening.   I would suggest you try it with that patch applied, or wait a couple of days for our newest release, which will in

[2021-11-09 22:19] ZhuTopher commented on #14477
From my understanding of the [S3 multipart upload process](https://docs.aws.amazon.com/AmazonS3/latest/userguide/mpuoverview.html#mpu-process),

and

So if we somehow erroneously return an upload ID which has an existing tmp directory & parts, then we would directly overwrite them. So to ensure that the upload ID returned is indeed unique, we can use the existence of the tmp directory as the check

[2021-11-09 23:48] yuzhu commented on #14476
do you see eeeeee in your log? our code should have cancelled the persist job when it sees the delete call. so if you do see `eeeeee` then it might be something wrong with our cancellation logic. @adol001

[2021-11-10 02:19] adol001 commented on #14476
Yes, I see, and exitValue is 0.
Delete action will cancel persist job. But in the actual test, most of the persist job was completed
"
Starting job Id=1636508935502 Config=PersistConfig{filePath=
Job completed Id=1636508935502 Config=PersistConfig{filePath=
"
And even if the cancellation is successful, it cannot interfere with the persist job executed on job_worker, because the next step of the de

[2021-11-10 02:49] adol001 opened #14484 "The deleted inode is resurrected after restarting the service"
**Alluxio Version:**
2.6.1

**Describe the bug**
In async through mode, create file b then delete file b, b is deleted, then restart alluxio service, the b is resurrected!!

**To Reproduce**
add code below in PersistDefinition, before " bytesWritten = IOUtils.copyLarge(in, out, new byte[8 * Constants.MB]);"

`Runtime runtime = Runtime.getRuntime(); Process proc = runtime.exec("/home/adol/works2/al

[2021-11-10 03:04] jffree commented on #14477
@ZhuTopher @HelloHorizon
When promote alluxio, there is a very important point that we hope that the user program does not need to make any changes. If a multipart upload failed and user want to retry again, I thought we should do some clean job, but not return `xxx_s3_multipart_tmp already exists ` error. User do not know why this temporary directory exists, and why it will cause their applicatio

[2021-11-10 03:20] lilyzhoupeijie opened #14485 "fuse pod require high memory"
**Alluxio Version:**
2.6.1

**Describe the bug**
when using fuse pod for tensorflow training,require high memory,max to 50g,cause k8s schedule pressure and will be oom killed if memory set to 10g or lower.

**Expected behavior**
can fuse pod memory down to 10g without oomKill

**Urgency**
very urgency

[2021-11-10 06:27] ZacBlanco commented on #14477
I agree with @jffree  -- We shouldn't fail a multipart upload for the same path if the tmp directory already exists.

The way I see it, ideally, each multipart upload could get its own directory (via some UUID?[upload id?]), and then only when completing the multipart upload is all of the data overwritten. Users shouldn't need to modify their applications to handle Alluxio's behavior. We should pr

[2021-11-10 07:16] jffree commented on #14477
@ZacBlanco @ZhuTopher
The common scenario for this exception `xxx_s3_multipart_tmp already exists` is: the application exits abnormally when use multipart apt to upload a file, and this error occurs when the application restarts and uploads the file again.
If we support several ongoing multipart uploads,  conflicts are prone to occur when complete multipart upload, and not easy to handle.

[2021-11-10 10:36] flaming-archer opened #14488 "Support alluxio client visit mult alluxio server via nameservice."
**Is your feature request related to a problem? Please describe.**
A alluxio client can visit mult alluxio server.
May be like
`  setProp('nameservice','ns1');
  client.getFile(path);`

Then we will visit ns1 alluxio cluster.
or
`setProp('nameservice','ns2');
  client.getFile(path);`

Then we will visit ns2 alluxio cluster.

It will be usefully for one client to visit mult alluxio clusters via nam

[2021-11-10 11:06] flaming-archer commented on #14488
https://github.com/Alluxio/alluxio/pull/14021 maybe work with me.

[2021-11-10 21:30] ZhuTopher commented on #14477
@ZacBlanco @jffree Let me clarify my suggestion, I think you might have misunderstood.

By this I mean when someone uses the Alluxio REST API to initiate an S3 multipart upload, if the generated upload ID we create happens to have an existing `xxx_s3_multipart_tmp` directory then we should log that and then try a different upload ID until we find one that is not part of an existing multipart uploa

[2021-11-10 22:35] ZhuTopher commented on #14488
From your issue description, I believe the feature you are requesting is more along the lines of https://github.com/Alluxio/alluxio/pull/14056? Please update this ticket if you find that #14021 is sufficient for your use-case.

[2021-11-10 22:49] ZhuTopher commented on #14257
Thanks for the improvement @jffree ! Closing this issue as your PR has been merged.

[2021-11-10 22:49] #14257 closed

[2021-11-10 23:40] ggezer commented on #14102
Couldn't reproduce this. There have been attempts to harden snapshot uploads/downloads and the code seems solid for handling this case. Please feel free to open if you see this again after trying out a newer release.

[2021-11-10 23:40] #14102 closed

[2021-11-11 01:02] maobaolong commented on #9000
@yuzhu Sorry for the confusing description, let me show more detail.

The `ns19` in `/software/servers/alluxio-2.0.0-preview/hadoop-conf/cluster1/hadoop/hdfs-site.xml` means to connect namenode address A, and `ns19` in `/software/servers/alluxio-2.0.0-preview/hadoop-conf/cluster2/hadoop/hdfs-site.xml` stand for namenode address B.

So the following two mount behaviors is different. we should check

[2021-11-11 01:18] maobaolong commented on #12459
@hfutatzhanghb  Not yet, but is reproduced in our env.

[2021-11-11 01:22] maobaolong commented on #9004
We add the block count into this page now, we need a sorter to sort this table by block count or usage or any column here.

It would be great to have this feature, but guys from my sides are not good at web ui `nodejs` and `react`, please feel free to take this ticket any time.

[2021-11-11 01:31] jffree commented on #14477
@ZhuTopher

This will cause a very serious problem: if the upload operation continues to fail for some reason, temporary directories and files will be created continuously and consume a lot of storage resources.

[2021-11-11 02:09] ZhuTopher commented on #14477
@jffree That's the same behavior as S3 itself. If you have lots of multipart uploads which you do not mark as completed or aborted, then they will continue to consume storage and you will be charged for it. From [the AWS docs](https://docs.aws.amazon.com/AmazonS3/latest/userguide/mpuoverview.html):

That's why you created and we merged in https://github.com/Alluxio/alluxio/pull/14328; to automatic

[2021-11-11 02:47] jffree commented on #14477
Please let me rephrase my point.

My understanding is that multipart upload is the same as direct upload, and both should be overwritten directly. That is, the user should be responsible for his uploading behavior. As aws s3 mentioned in the documentation:

About try a different upload ID until we find one that is not part of an existing multipart upload. This may occupy more storage resources due

[2021-11-11 03:02] flaming-archer commented on #14488
1.We want to use  EMBEDDED to ha, but #14056 used zk.
2.I have no idea how  #14056 used in java client. Maybe  #14021 just set logic name can meet my needs.

[2021-11-11 03:46] #14484 closed

[2021-11-11 03:47] #14476 closed

[2021-11-11 07:31] JySongWithZhangCe commented on #14428
1. Yeap! The UFS like HDFS is temporarily down or not responding that I met before.
2. Time out of `alluxio fs ls` is not work in this sence.
    For example, there are three dir:
     alluxio:///root/local_path_a
     alluxio:///root/local_path_b
     alluxio:///root/remote_ufs_path_a
    while remote_ufs_path_a can not be readed, when I run `alluxio fs ls /root`, the command will be hang until t

[2021-11-11 07:39] JySongWithZhangCe opened #14503 "Alluxio should start worker process first and then load local block info in safe mode"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when `alluxio-start.sh worker` timeout when there are TB level blocks(128MB/block) to be loaded.

**Describe the solution you'd like**
Start worker process first and then load local block info in safe mode.

**Urgency**
Important in huge cache sence.

**Additional context**
In my sence, each Alluxio worker hol

[2021-11-11 15:18] maobaolong opened #14504 "Alluxio Local Cache support free ahead"
**Is your feature request related to a problem? Please describe.**

The same scenario with worker cache free ahead.

**Describe the solution you'd like**

Add a configuration key to specify free ahead bytes.

**Describe alternatives you've considered**

When need to free space, free the request space + freeAheadBytes.

**Urgency**
Normal

**Additional context**
No

[2021-11-11 19:22] HelloHorizon commented on #14477
I think the clean-up of tmp file can be a feasible method according to the AWS S3 standard behavior. I list some questions here based on my understanding:
1. When do you want to do the cleanup for the tmp file? Will we do it after multi-upload failed? Or user try to upload the same file with tmp file existing?
2. If you decide to clean up the tmp file after multi-load failed? What if the clean up

[2021-11-11 22:36] yuzhu commented on #14466
fixed via #14489

[2021-11-11 22:36] #14466 closed

[2021-11-11 23:02] beinan commented on #14504
I think this feature might be something nice to have, though I'm not convinced that we would get significant performance gain by doing so.  In fact, evicting a bunch of pages at a time might cause performance issues on presto(such as occupying the lock too long, io spikes, hit rate drop and etc..) But the free ahead feature might be helpful in some extreme use case

@apc999 what do you think?

[2021-11-12 02:17] lilyzhoupeijie opened #14514 "tensorflow training stuck with fuse"
**Alluxio Version:**
alluxio 2.6.1
tensorflow
2.4.0

**Describe the bug**
When training using alluxio,the tensorflow job stuck,and training can't go on anymore，sometimes the tf appears error,sometimes it will just keep and no steps running

**Expected behavior**
The training running normally all the time

**Urgency**
very urgency

**Additional context**
maybe there is some fd leak?
https://www.jia

[2021-11-12 02:24] lilyzhoupeijie opened #14515 "tensorflow training stuck with master leaderElection for a long time and exit when the leaderElection finish"
**Alluxio Version:**
alluxiio 2.6.1
tensorflow 2.4.0

**Describe the bug**
master fail to leader election for serval hours,and the tensorflow training just stuck with no errors and no log,but when  leader election finish ,the train exit.

[2021-11-12 02:36] jffree commented on #14477
@HelloHorizon

There are two scenarios here: one is that the user fails to upload the file and does not retry the operation. At this time, the tmp directory should be cleaned by lazy scanning. The other is that the user fails to upload the file and then retry the upload. At this time, the tmp directory should be cleaned up immediately, without affecting the retry operation.

If the multipart uploa

[2021-11-12 22:59] LuQQiu commented on #14441
@lilyzhoupeijie got a jstack, tested on her side and will create a PR to fix the issue

[2021-11-13 02:03] JySongWithZhangCe commented on #14504
@beinan @maobaolong I think "Alluxio Local Cache support free ahead" is a part of "manual cache control". In my scene, free table partitions in old date and preload table partitions in new date are useful. I think "free table partition" is better than "free path"

[2021-11-13 22:05] yuzhu commented on #14476
@adol001 any reason why you closed this? seems like an important issue to address?

[2021-11-15 02:12] safesky opened #14518 "Alluxio preferentially move block to a lower tier when freeing space"
Currently alluxio will directly remove blocks when freeing space. When the available space in MEM is used up，the evictable block is removed directly. The next time the data is read, it is reload from the UFS. In some cases, it can impose additional performance overhead.
We want to modify this implementation so that when the space needs to be freed, the block that needs to be evicted will moved to

[2021-11-15 06:05] amosannn opened #14521 "Configuring two-tier storage always takes up 1024mb space"
**Alluxio Version:**
2.6.2 and 2.6.0

**Describe the bug**
I deployed a new alluxio cluster on the server, but it shows that ‘usedBytes’ uses 1024MB as soon as I start it (two tiers of storage each occupy 1024MB). If I remove the second tier of storage, the occupation will disappear.

And if I upload a file larger than 1GB now, alluxio will report an error indicating insufficient space(ErrorMsg: F

[2021-11-15 08:14] jayzhenghan commented on #14304
背景：
用户通过jnifuse 读取100MB未缓存的文件，花费了20s，开启direct io后花费了1s。
但是通过一些资料我发现社区不推荐jni + direct io的模式，同时jnr + direct io模式也有问题，这样的话，是不是说明我们alluxio fuse就用不了direct io呢？

[2021-11-15 09:48] xpleaf commented on #14301
thanks, I have submitted the log to you on Slack. @apc999

[2021-11-15 10:12] adol001 commented on #14476
@yuzhu
The issue was closed because of two issues. First, our ufs system delete was actually delete -rf before, and second, the local file ufs seemed to be no problem.
However, it was discovered today that if the ufs file is not persisted, it will not trigger the ufs deletion. Even if it is a local file ufs, there will still be residual files in the .alluxio_ufs_persistence directory, and the obje

[2021-11-15 17:51] yuzhu commented on #14515
FYI, @jenoudet . @lilyzhoupeijie please let us know if the latest master has the same behavior, we made a lot of improvements to fail over logic recently.

[2021-11-15 17:52] yuzhu commented on #14515
@lilyzhoupeijie if the latest master still has this issue, please post master.log for both follower and leader during transition of leadership. thanks.

[2021-11-15 21:56] ZhuTopher commented on #14477
@jffree I recall you had a PR with these changes already, or did I misremember that? Either way I'm in agreement with:

[2021-11-16 00:04] FeiZou opened #14524 "Presto create table command has timeout issue when enable Alluxio local cache."
**Alluxio Version:**
The current Presto version we are using is 0.247, so the corresponding Alluxio version is 2.4.1

**Describe the bug**
When we running `create table shcema_name.table1 as select * from table2` command, we are getting a timeout error:
`om.amazonaws.SdkClientException: Unable to execute HTTP request: Read timed out
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.handleRet

[2021-11-16 01:23] JySongWithZhangCe commented on #14503
@jiacheliu3 Could you give some suggestions here? Thx:)

[2021-11-16 05:31] beinan commented on #14504
Good call, is it something like a TTL on time-based partition?

[2021-11-16 07:26] JySongWithZhangCe commented on #14504
TTL is a good feature to handle this scene. I guess @maobaolong also need a tool to manual free table partitions. Both TTL and manual tool will use the same cache manage core.

[2021-11-16 07:46] jffree commented on #14477
@ZhuTopher
#14487 This pr (not merged) is used to clean up the tmp directory when user fails to upload the file and then retry the upload.
#14328 This pr (merged) is used to clean up the tmp directory when user fails to upload the file and does not retry the operation.

[2021-11-16 21:37] yuzhu commented on #14518
@Jackson-Wang-7 the concern here is we only free blocks if a write operation needs the space, and it is a blocking operation. Freeing is much faster than moving the data to a lower tier, we do not want this to be in the critical path of the write operation.  Please also benchmark the effect on the write performance if you want to try this approach.

[2021-11-16 21:39] yuzhu commented on #14521
@amosannn this is not a bug but rather by design as indicated above. please reopen if you have more questions.

Thanks!

[2021-11-16 21:39] #14521 closed

[2021-11-16 22:55] yuzhu commented on #14458
@sumokiama thanks for reporting this. Do you know if this is a fuse-only issue?or does it happen with regular alluxio client as well?

[2021-11-17 02:50] jiacheliu3 commented on #14342
@hfutatzhanghb Thanks for the info. Can you add sample code what you have changed?

[2021-11-17 03:06] jiacheliu3 commented on #14041
Discussed in the last Alluxio core team - community sync. We have two options in implementing this:

The challenge both options are trying to tackle is: the write stream is non-replayable. If one chunk is lost, the whole write operation must be retried from the beginning, by the compute application. In order to make the write resume-able, we must cache the write request until it is complete.

Opti

[2021-11-17 03:22] lilyzhoupeijie opened #14531 "worker heap memory use high"
**Alluxio Version:**
alluxio 2.6.1

**Describe the bug**
alluxio worker use memory as follows:
this one only shows heap memory and only alluxio worker use without job worker
![图片](https://user-images.githubusercontent.com/24890599/142128106-9578a312-1ce6-4873-aad5-af1addf844b6.png)
worker jvm setting:
  ALLUXIO_WORKER_JAVA_OPTS: ' -Dalluxio.worker.rpc.port=30062 -Dalluxio.worker.web.port=30063

[2021-11-17 06:27] HelloHorizon opened #14532 "Alluxio don't follow the standard ListObject and ListObjectV2 in S3 API"
**Alluxio Version:**
Alluxio 2.7.0

**Describe the bug**
Alluxio don't follow the standard ListObject and ListObjectV2 in S3 API

**To Reproduce**
`aws --endpoint-url http://localhost:39999/api/v1/s3 s3 ls s3://some-bucket/key-a
`
recursively return all contests in the Alluxio bucket.

**Expected behavior**
Alluxio S3 API should follow the standard behavior of S3 API and follow the configuration o

[2021-11-17 11:12] amosannn commented on #14521
It works, Thanks! @yuzhu

[2021-11-17 16:59] sumokiama commented on #14458
We have only seen this with fuse.

[2021-11-17 18:30] flaming-archer opened #14536 "Audit log should write account a via account b when use impersonation"
**Is your feature request related to a problem? Please describe.**
This is hdfs audit log
`2021-11-17 17:59:25,375 INFO FSNamesystem.audit: allowed=true	ugi=alluxio (auth:PROXY) via yarn (auth:SIMPLE)	ip=/xxxx	cmd=create	src=/xxxx	dst=null	perm=alluxio:alluxio:rw-rw-r--	proto=rpc
`
and this is alluxio log
`2021-11-17 18:18:08,875 INFO  AUDIT_LOG (AsyncUserAccessAuditLogWriter.java:run) - succeeded

[2021-11-17 19:10] ZhuTopher commented on #14412
TODO(self): Reproduce this issue while also capturing job count.

[2021-11-18 02:30] LuQQiu opened #14539 "Implement write throughput in Fuse Stressbench"
**Is your feature request related to a problem? Please describe.**
Fuse stressbench is added which supports getting the fuse read throughput.
Docs available at https://docs.alluxio.io/os/user/stable/en/operation/StressBench.html#fuse-io-stress-bench
Related PRs
https://github.com/Alluxio/alluxio/pull/13869
https://github.com/Alluxio/alluxio/pull/14018

**Describe the solution you'd like**
Support

[2021-11-18 02:33] LuQQiu commented on #14539
A few ideas by @ssz1997 :

Rename the current Write operation to PrepareData

For write throughput test, all threads just keep writing during the warmup time and duration time until time is up. Report the number of bytes written

Delete all written data after testing.

[2021-11-18 02:36] LuQQiu opened #14540 "Fuse IO stressbench hardening"
**Is your feature request related to a problem? Please describe.**
[Fuse IO stressbench](https://docs.alluxio.io/os/user/stable/en/operation/StressBench.html#fuse-io-stress-bench) according to users including @maobaolong has some limitations
it requires
- can only test data written by Fuse IO stressbench, cannot test existing files
- Unstable, no retry logic for read/write/ls, if one error thrown,

[2021-11-18 02:37] LuQQiu commented on #14540
Thoughts from @ssz1997

1. If an exception is thrown during read/write/ls, retry to read/write/ls the file 3 times before actually throwing an exception.
3. During reading, if an exception occurs for a thread, we should still report the throughput but report one thread was not working in the result.
5. During cluster reading, if an exception occurs for a job worker such that it didn’t read at all,

[2021-11-18 02:42] LuQQiu commented on #14304
Improve Fuse IO stressbench (test framework)
https://github.com/Alluxio/alluxio/issues/14540
https://github.com/Alluxio/alluxio/issues/14539

[2021-11-18 02:42] lilyzhoupeijie commented on #14531
6 spark jobs write to alluxio ,each spark job has 20 executor and  4 cpu  * 8  memory  per executor

[2021-11-18 03:11] LuQQiu opened #14541 "Support large file pre-read in Alluxio Fuse"
**Is your feature request related to a problem? Please describe.**
Other object storage fuse application supports large file pre-read to improve Fuse performance.
e.g. jindofs and goosefs
https://github.com/aliyun/alibabacloud-jindodata/blob/3.x/docs/jindofs_fuse/jindofs_fuse_benchmark.md

This functionality targets to improve large file read performance via Alluxio-Fuse

**Describe the solution y

[2021-11-18 03:13] LuQQiu commented on #14304
Support large file pre-read
https://github.com/Alluxio/alluxio/issues/14541

[2021-11-18 03:24] Jackson-Wang-7 commented on #14518
OK, we will benchmark the effect on the write performancethe. the current content of this modification is as follows:
[14518-diff.txt](https://github.com/Alluxio/alluxio/files/7559547/14518-diff.txt)

Then we will change it to freeing directly in a write operation and moving data in a promote operation. And the promote operation is expected to be asynchronous.What do you think of that?

[2021-11-18 03:25] LuQQiu commented on #14541
@maobaolong can you share more information about large file pre-read?

[2021-11-18 03:38] yuzhu commented on #14518
could you submit it as a draft PR?  it is much easier to read.  also @apc999 any thoughts on this?

[2021-11-18 03:41] jayzhenghan commented on #14541
libfuse drink supports pre-reading

[2021-11-18 03:47] lilyzhoupeijie opened #14542 "File LOST,not found in ceph and allxuio"
**Alluxio Version:**
alluxio 2.6.1
async through

**Describe the bug**
 alluxio fs stat shows: some blockInfo with no locations
BlockInfo{id=828677029907, length=16777216, locations=[]}
 alluxio fs du -s -h  /de2-tf-sample-geek/de2/geek/2021-11-06/geek_48.tfrecord.gz
File Size     In Alluxio       Path
2020.58MB     1959.97MB (96%)  /de2-tf-sample-geek/de2/geek/2021-11-06/geek_48.tfrecord.gz

and

[2021-11-18 12:34] lilyzhoupeijie commented on #14542
two problems found:
1)I have pin the file,why there is EvictJob?
2)the EvictJob happens too frequently,however the removeBlock function have no lock,so i think the block was deleted abnormally

+-----------------------------+-------------------------------------------------------------------------------------------------------------------------------------+
| k8s_pod                     | message

[2021-11-18 12:49] lilyzhoupeijie commented on #14542
found that one job worker was oomKilled at 2021-11-16T11:50:33Z
 - containerID: docker://24ba213423582ad0f7473b246a3ab5d5eb8566d98ee2f4efd77c06c68fafdff1
    image: harbor.weizhipin.com/arsenal-oceanus/alluxio/alluxio:2.6.0
    imageID: docker-pullable://harbor.weizhipin.com/arsenal-oceanus/alluxio/alluxio@sha256:4ad5530e64cbb4ca0dc389d915d8b32fc8c55a0c4cd2650f57cd4d584cd62a8d
    lastState:

[2021-11-18 13:08] lilyzhoupeijie commented on #14542
mysql> select k8s_pod,message from k8s_tcloud.log_arsenal where  k8s_pod like 'de2-tf-sample-geek-worker%' and message like '%1637058451280%' ;
+--------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------+
| k8s_pod                                    | message

[2021-11-18 17:46] lilyzhoupeijie commented on #14542
<img width="1305" alt="图片" src="https://user-images.githubusercontent.com/24890599/142468509-7c0a3991-5e99-4157-8311-efa26c6633f5.png">
<img width="938" alt="图片" src="https://user-images.githubusercontent.com/24890599/142468873-3aafed28-212c-4a82-8f81-6626aa48fb74.png">

[2021-11-19 04:02] jffree opened #14549 "Improve the efficiency of s3 rest api multipart upload"
When process complete multipart upload request,  alluxio proxy will read all the parts, and then rewrite them to one file. Is there any other way to improve efficiency?
For example, only by modifying metadata to mark multiple part  belonging to one file?

[2021-11-19 05:48] lilyzhoupeijie commented on #14542
I  guess that:
1)firstly,file write takes a long time,and the ReplicationChecker found that uncompleted file,it stat a replica job.(I have correct the uncompleted file not to start replica job,but it still on test,not online)
2)the replica job arrived the job worker,and right that moment ,the file truned to be completed,the files finish writting,and the block has two replicas.
3)then the Replicati

[2021-11-19 06:10] yuzhu commented on #14542
The root cause here is evict operation and potentially other job service operations are not idempotent. We should change the semantics from evict(3 copies) to evictDownTo(2 copies), similarly for replicate jobs.

 @jja725 do you mind taking a look at this? we will also need to change the call site of evict and replicate jobs too.

[2021-11-19 06:31] lilyzhoupeijie commented on #14542
file completed at 2021-11-09 17:38:23,402 INFO AUDIT_LOG (AsyncUserAccessAuditLogWriter.java:run) - succeeded=true allowed=true ugi=lvshaohai_write,owner (AUTH=SIMPLE) ip= cmd=completeFile src=/***/de2/geek/2021-11-06/geek_48.tfrecord.gz dst=null perm=lvshaohai_write:owner:rw-r--r-- executionTimeUs=1378
but it start replica at 11-16
 2021-11-16 10:40:26,654 INFO PlanCoordinator - Starting job Id=1

[2021-11-19 08:38] flaming-archer commented on #14488
#14021 is sufficient for my use-case.

[2021-11-19 08:40] #14488 closed

[2021-11-19 08:57] uniqueZt opened #14551 "client leak lead to master memory cannot gc"
when i use alluxio hadoop client,if i don't close FileSystem, the RetryHandlingMetaMasterConfigClient will always  connect master. this solution may lead to master memory cannot gc.  can we solve it?

[2021-11-19 11:04] maobaolong commented on #14541
@jayzhenghan Would you like to contribute your pre-read work?

[2021-11-19 12:47] martin-g commented on #12704
I think I've found the problem with jnr-ffi - https://github.com/jnr/jnr-ffi/discussions/283#discussioncomment-1670339

[2021-11-19 13:16] martin-g commented on #12704
https://github.com/jnr/jnr-ffi/pull/284 fixes the problem with jnr-ffi and AlluxioFuseFileSystemTest passes fine now!

The next problem is with `alluxio.hub.agent.process.AgentProcessMonitorTest`:
[code]

I will try to debug it!

[2021-11-19 14:12] martin-g commented on #12704
The problem seems to be in Netty native. I've updated Netty to 4.1.70 and netty-tcnative-boringssl to 2.0.46 but still it breaks.
@normanmaurer Can you help here ? Do you see what might be the problem in the attached hs_err_pid file ? Thank you!

[mvn-dependency-tree.txt](https://github.com/Alluxio/alluxio/files/7570740/mvn-dependency-tree.txt)
[hs_err_pid148138.log](https://github.com/Alluxio/all

[2021-11-20 22:48] LuQQiu commented on #14357
/assign @yabola

[2021-11-22 01:24] nous2046 opened #14560 "Build failure"
I followed the instruction on [Contribution Guide](https://docs.alluxio.io/os/user/stable/en/contributor/Contributor-Getting-Started.html), but I could not build successfully using `mvn clean install` and the log showed that:

I searched on Google and a common solution is, as this [post](https://stackoverflow.com/questions/17223536/failed-to-execute-goal-org-apache-maven-pluginsmaven-compiler-plug

[2021-11-22 10:05] jayzhenghan opened #14563 "Raft took too long to transfer leadership"
When Alluxio is in production with 10millions of files and a large amount of metadata operations, master leadership takes a long time (longer than minutes). We took a look at the code and find the following code
<img width="1100" alt="wecom-temp-acfb99df55ed7b7176b82302385f7b46" src="https://user-images.githubusercontent.com/68948288/142841958-a0847a1c-615e-40fa-a2c3-b6312cf09b3f.png">
There is a

[2021-11-22 10:07] weimy2018 commented on #12459
Any updates?

[2021-11-22 10:08] weimy2018 commented on #12459
hi, @maobaolong  any updates ? I met too in version 2.6.1

[2021-11-22 11:51] jayzhenghan commented on #14563
@jenoudet @ggezer @yuzhu

[2021-11-22 13:13] yabola commented on #14357
I am not sure if I understand it correctly. But I can't reproduce your issue with codes below .
I  already used  `system("cat  /Users/lcl/fuse_data/hive-site.xml");`   ` rewind(fp);`

`#include <iostream>
#include <stdio.h>

int main()
{
    FILE *fp;
    int ch;

    system("cat  /Users/lcl/fuse_data/hive-site.xml");

    fp = fopen( "/Users/lcl/hive-site.xml" , "r" );
    while(1)
    {

[2021-11-22 18:28] yuzhu commented on #14413
@beinan could you take a look at this issue since it is worker related?

[2021-11-22 19:44] yuzhu commented on #14551
could you provide more information such as logs and steps to reproduce?

[2021-11-22 20:56] yuzhu commented on #14563
@jenoudet I think @jayzhenghan is curious why there is a delay in this process.  so feel free to explain here. because they are noticing long raft failovers.

[2021-11-22 21:22] sumokiama commented on #14357
We have only seen this error when the system is under load. That is, there is a lot of FUSE file activity.

[2021-11-22 21:59] yuzhu commented on #9400
Specifically we want to track
for these job types:
DistributedLoad - # of files loaded, total size loaded, average rate of loading
DistributedCopy, Migrate job, AsyncPersist

[2021-11-22 23:13] LuQQiu commented on #14531
@lilyzhoupeijie are you able to get one or more heap dump when the worker memory usage is high?
@yuzhu any suggestions?

[2021-11-22 23:34] jenoudet commented on #14563
This waiting timeout is to ensure a smoother leader transition. By waiting this amount, we ensure that every member of the quorum has taken into account who the new leader is, and we can start processing new entries or catching up older ones from others in the quorum with this certainty in mind.

[2021-11-23 00:05] LuQQiu commented on #14485
@lilyzhoupeijie can you share a fuse heap dump?

[2021-11-23 02:47] jffree opened #14568 "Active Syncing is not supported on this UFS type: hdfs"
**Alluxio Version:**
2.7

**Describe the bug**
When I use command `alluxio fs startSync /test`, it return an error:

[code]

I found `SupportedHdfsActiveSyncProvider.java` was excluded when compiler underfs hdfs.

[code]

Why exclude `SupportedHdfsActiveSyncProvider.java` when compiler code ?

[2021-11-23 02:52] HelloHorizon commented on #14568
@yuzhu Hey David, can you take a look?

[2021-11-23 03:52] beinan commented on #14413
Hello @yuzhu @ZhuTopher looks like the metrics got renamed in https://sourcegraph.com/github.com/Alluxio/alluxio/-/commit/ebe7a9e83efb0e6ddbd4af91b715b829cb7f9525?visible=3

it's `Worker.BlockReaderThreadActiveCount` and `BlockWriterThreadActiveCount` now, but the doc has not got regenerated.   Because we did the doc updates and code change on the same day.

![image](https://user-images.githubuser

[2021-11-23 05:21] #14477 closed

[2021-11-24 00:12] LuQQiu commented on #14531
K8S will calculate memory by adding process memory + process page cache and will issue OOM when using more than 100GB

process memory is small

[2021-11-24 00:14] LuQQiu commented on #14531
K8S don't have ways to clear page cache
- worker process with new process cleaning page cache
- another manual way cleaning process page cache

[2021-11-24 00:21] LuQQiu commented on #14531
Close because K8S constraint

[2021-11-24 00:21] #14531 closed

[2021-11-24 00:24] LuQQiu commented on #14485
Can because of K8S page cache as well.
@lilyzhoupeijie will double check

[2021-11-24 01:03] LuQQiu commented on #14514
@LuQQiu will take a look the fd problem
Also we will add Fuse metrics monitoring to know when the tensorflow stuck so that we can know it at the first place and go get more information

[2021-11-24 06:06] yuzhu commented on #14568
@jffree our default distributed tarball includes the support for Active Sync for hdfs version >2.7
if you are compiling the source code yourself, be sure to use `-PhdfsActiveSync` flag

[2021-11-24 09:38] kevincai commented on #14563
In practical, this wait is not necessary, if there are network split, wait this longer may not help anyway.

We have a private patch for this, as long as the following condition satisfied, leader can serve the requests.

[code]

[2021-11-24 11:24] jayzhenghan commented on #14563
@kevincai I agree with you，thanks～

[2021-11-24 12:42] martin-g commented on #12704
@ Alluxio team: We have found the problem with Netty - https://github.com/netty/netty-tcnative/issues/681#issuecomment-977752064. The reason is that the Ratis dependency brings libnetty-tcnative-**.so as well.
If https://github.com/netty/netty/pull/11856 is merged then Alluxio will start failing because of this problem.
Apache Ratis project has been notified about this problem: https://issues.apac

[2021-11-24 16:07] qian0817 commented on #14563
I have also paid attention to this code before, and I'd like to explain my point of view. Imagine that there are three raft nodes A, B, C. At beginning A is the leader node, then A and the other two nodes are disconnected from each other because of network split, then B becomes the new leader, but at this time A does't realize that it is not the leader any more, and A and B RPC port will be opened

[2021-11-24 16:37] yabola commented on #14178
I can't reproduce this in my centos.( NFS point: Machine A  /home/mynfs , Machine B  /home/mynfs_2)
Step1: start alluxio with NFS( only start Alluxio in Machine A)
Step2: mount fuse on nfs point ( /home/mynfs ) in A.
Step3:  `echo "test3" > /home/mynfs_2/nfs2_test.txt` in B.

Step4: Run command `bin/alluxio fs cat /nfs2_test.txt ` in A,
But A can see the file content.

![image](https://user-images

[2021-11-24 18:22] HelloHorizon commented on #14568
Thanks @yuzhu

[2021-11-24 18:22] #14568 closed

[2021-11-24 19:13] yuzhu commented on #12704
@martin-g thanks for this finding. should we hold off on any netty upgrades until this issue is resolved?

[2021-11-24 19:39] martin-g commented on #12704
@yuzhu  Do you know whether `ratis-thirdparty-misc` is needed by Alluxio or it just comes as a transitive dependency of `org.apache.ratis:ratis-server` ?
Because I've excluded it in `hub/server/pom.xml` and the build passed for several more modules:
[code]

Alluxio Tests failures are related to jnr-fuse:
[code]

 I will investigate more tomorrow!

[2021-11-24 22:21] LuQQiu commented on #14514
@lilyzhoupeijie From the graph, the process is not reading files from Alluxio, but it doesn't show any actual errors. If we can catch the moment that the job stuck and get more information there, like some error message, Alluxio jstack , Alluxio Fuse metrics monitoring.

[2021-11-24 23:03] LuQQiu commented on #14563
@yuzhu @jenoudet
@kevincai 's code suggestions looks good to me, how about making that change?
Or we can have another propertykey to provide optional waiting time when leader transfers

[2021-11-24 23:10] LuQQiu commented on #14560
@nous2046 can you try a faster command
mvn -T 1 clean install -DskipTests -Dlicense.skip=true -Dfindbugs.skip -Dmaven.javadoc.skip -Dcheckstyle.skip -Prelease
and see if it works?

[2021-11-25 01:44] LuQQiu commented on #14485
Looks like K8S cannot detect memory pressure correctly. If Process memory + page cache > memory limits, the pod may be detected as OOM by K8S and get killed.

[2021-11-25 01:45] LuQQiu commented on #14485
a temporary workaround is adding a container inside the pod and doing periodically drop page cache