[2022-07-28 13:57] secfree commented on #15912
@jja725 I tested with two workers, and confirmed that the replication task was received by the job_worker in the second worker. The log is also from the second worker

[code]

[2022-07-29 04:03] maobaolong opened #15977 "Alluxio randread with pool performance"
**Alluxio Version:**
Master branch

**Describe the bug**

Alluxio randread with pool performance

**To Reproduce**

[code]

**Expected behavior**

Not too bad against sequential read.

**Urgency**

Urgent, this is a blocker for push alluxio into some of our AI cases

**Are you planning to fix it**

Not sure, but will have a try.

**Additional context**
NO

[2022-07-29 04:03] maobaolong commented on #15977
@beinan @HelloHorizon Would you like to help to solve this issue? Thanks.

[2022-07-29 04:58] codings-dan commented on #15974
@liangrui1988 Hi liangrui, how many masters in your Alluxio cluster? Normally, after the cluster generates a snapshot, it will automatically clean up the redundant journals.

[2022-07-29 07:02] ssz1997 opened #15979 "Failed to get user in Kubernetes with helm chart"
**Alluxio Version:**
Master

**Describe the bug**
User 1000 does not exist in the containers in k8s. Worker is unable to find the user and `login`, and thus cannot talk to master. The cluster can't start successfully.

[2022-07-29 08:30] liangrui1988 commented on #15974
@codings-dan 3 a master
It seems that it has not been cleaned up. Do you need to configure anything?
![image](https://user-images.githubusercontent.com/7435076/181718196-7b7a3606-f85f-4012-b519-c193ceca9220.png)

[2022-07-29 12:02] codings-dan commented on #15974
@liangrui1988 Now only the Alluxio standby master will generate snapshots. When the snapshot are generated, ratis will be called to purge the log to complete the cleanup. So you can see less space on other nodes. Since the Alluxio primary master does not generate snapshots by itself, but copies snapshots from other followers, there seems to be no cleanup logic here.

I think there are two ways to

[2022-07-29 17:21] jenoudet commented on #15974
@liangrui1988 We have noticed the same issue as you and fixed it in #15245. After this fix, all logs cleanup properly after a snapshot installation, both on the leading master and the standby masters.
This PR and fix are available starting in Alluxio 2.8.

@codings-dan Thank you for bringing this question to my attention.

[2022-07-29 17:58] ZhuTopher commented on #15979
This issue happens due to https://github.com/Alluxio/alluxio/pull/15898 being merged. That PR forces the Alluxio docker image to run as the root user.

Can we refactor the Dockerfile to create a different admin user with permission to create users/groups & assign file ownership (i.e: a sudo-er), but isn't root (uid=0, gid=0)? The rest will still be the same; after creating the alluxio user & group

[2022-07-31 15:55] harris233 opened #15984 "LocalCache should use a threshold to control page count to evict without enough space"
**Is your feature request related to a problem? Please describe.**
When local cache has no enough space, the page will be moved by CacheEvictor. However, it will affect performance with frequent evictions.

**Describe the solution you'd like**
A good way is to use a threshold. We can use high water mark and low water mark to solve it.

**Urgency**
Middle

[2022-08-01 13:00] yohengyang commented on #15973
Make sure parent path of your startSync path /liuweibin  in the mount table specifies the hdfs version

[2022-08-01 13:52] Yang9613 opened #15987 "Alluxio files can be deleted during persisting, but the persist job was not interrupted"
**Alluxio Version:**
2.8.0

**Describe the bug**
Alluxio files can be deleted during persisting, but the persist job was not interrupted, so the deleted files will be synced back to allxuio from UFS when the persist job is about to be completed and the delete file action happens at the same time because the file maybe already persisted to UFS  when the delete operation completed

**To Reproduce**

[2022-08-01 18:16] ZhuTopher commented on #15844
@abmo-x I believe this issue has been resolved by this PR #15965.

I tried to replicate your setup with EMR as the Hadoop & Spark cluster. You can see my reproduction steps [here](https://github.com/Alluxio/alluxio/pull/15965#issuecomment-1199723483).
- I used an S3 root UFS mount rather than a sub-directory mount.

[2022-08-01 18:37] abmo-x commented on #15844
@ZhuTopher Thanks for the update! looking forwarding to the new release.

[2022-08-01 20:17] HelloHorizon commented on #15974
@jenoudet can we close this issue?

[2022-08-01 20:18] jenoudet commented on #15974
I believe so.

[2022-08-01 20:26] #15974 closed

[2022-08-01 23:50] jja725 commented on #15987
yeah, I think that's a current problem with how job service handles jobs. And we are planning on a new version job service which would include a more stable Persist job.

[2022-08-02 06:47] dbw9580 opened #15995 "Out of bound exception when reading fron paged block store"
**Alluxio Version:**
current master

**Describe the bug**

ArrayIndexOutOfBoundsException when doing random reads from a paged block.

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to

[2022-08-02 06:49] dbw9580 commented on #15995
@beinan FYI. Not sure if it's related 3d205d8119c4de95971e49a153a2427ebf01ae11

[2022-08-03 02:09] takersk commented on #15613
@ssz1997 I applied the code patch, and after a few days of monitoring, I will share the results.

[2022-08-03 02:09] maobaolong opened #16001 "Alluxio master Metaspace OOM"
**Alluxio Version:**

Master branch

**Describe the bug**

- Master down
- master.out

[code]

For now, mount 60 hdfs ufs can use 850MB metaspace.

**To Reproduce**

[code]

**Expected behavior**

The metaspace used increase a small size.

**Urgency**

Urgent, it limit the count of  mountpoint for our scenario.

**Are you planning to fix it**

Not yet.

**Additional context**

We should support 1k

[2022-08-03 02:10] maobaolong commented on #16001
@HelloHorizon Would you like to take a look at this PR?

[2022-08-03 07:08] amosannn opened #16002 "Space used size is bigger than capacity size in storage usage summary"
**Alluxio Version:**
2.7.3

**Describe the bug**
space used size is bigger than capacity size in storage usage summary
![image](https://user-images.githubusercontent.com/16012509/182543312-518fd5c1-648f-4b62-b956-c64bdc3385fb.png)

**To Reproduce**
Use `bin/alluxio table attachdb` commend to attach hive table for alluxio, and query those data by prestodb.

**Expected behavior**
A clear and concise

[2022-08-03 21:18] yuzhu commented on #16001
as a workaround, have you tried to increase the metaspace configuration?
-XX:MaxMetaspaceSize
what is that set to currently?

[2022-08-04 02:26] tcrain commented on #15936
In posix
- listing or removing a file/directory is determined by the owner of the parent directory
- but a non-empty directory cannot be removed

@LuQQiu please retry your test not as root user

The same issue mentioned here exists for the list status operation of alluxio, but is fixed in (https://github.com/Alluxio/alluxio/runs/7663843517?check_suite_focus=true)

[2022-08-04 02:29] maobaolong commented on #16001
-XX:MaxMetaspaceSize was 128M, 256M, 512M, for now, it is 1G

[2022-08-04 03:20] yyongycy commented on #15936
If I have a file like:
/a/b/c/d/e/f.file

What if userA only has the permission to access /a/b/c/d/e, no read permission to /a/b/c/d,

Would the getStatus work for /a/b/c/d/e/f.file? In both posix and hdfs?

the checkParentPermission would check from /a to /a/b/c/d/e, am I right?

[2022-08-04 03:37] yuzhu commented on #16001
what is a typical size for other services?
for example HDFS master? We typically set this to higher if needed, what problems will that cause?

[2022-08-04 03:42] bobbai00 commented on #15995
The reproduce method is:
1. set `alluxio.worker.network.reader.buffer.pooled` as `false`;
2. use `PAGE` as the block store.
3. client calls ` public int read(long position, byte[] buffer, int offset, int length)`

[2022-08-04 03:43] beinan commented on #15995
The change of https://github.com/Alluxio/alluxio/commit/3d205d8119c4de95971e49a153a2427ebf01ae11 is on the write path, so I guess it won't be related.

[2022-08-04 05:48] secfree opened #16010 "One mount point's UFS has an issue caused the whole cluster stuck"
**Alluxio Version:**
2.7.1

**Describe the bug**
One mount point's UFS has an issue caused the whole cluster stuck.

**To Reproduce**
1. Mount a hdfs path to alluxio

[code]

2. Trasnsit the state of hdfs namenode to standby

[code]

3. Do listStatus for the hdfs path from alluxio, it gets stuck and the log showes that AlluxioMaster is doing sleep and retry (connect to namenode)

[code]

4. Do lis

[2022-08-04 06:04] yyongycy commented on #16010
More information is required:
1. jstack of different processes
2. log of master and relate processes

[2022-08-04 06:31] secfree commented on #16010
jstack of `./bin/alluxio fs ls /projects/test_hdfs`

[code]

and master.log

[code]

[2022-08-04 06:32] secfree commented on #16010
jstack of `./bin/alluxio fs ls /` in AlluxioMaster

[code]

[2022-08-04 07:59] bobbai00 commented on #15995
By running several clusters, we find that:
| alluxio.worker.network.reader.buffer.pooled | write mode | error? |
| ------------------- | ------------------ | -------------- |
| `true` | sequential read | No |
| `false` | sequential read | No |
| `true` | random read | No |
| `false` | random read | Yes |

[2022-08-04 08:24] jja725 commented on #15912
sorry for the delay, when I tried to reproduce the problem I noticed that the block actually gets committed in one worker but can't get committed in the other workers which I think neither of the fixes explains the problem. I think I need more time figuring out the bug but I feel OK with disabling passive cache solution for now since it indeed resolves the problem.

[2022-08-04 08:36] secfree commented on #15912
@jja725 thanks for your checking.
In my test case, he first replica of the block in alluxio was wrote by client directly. So it does not involve "passive cache". `setReplication` copies the block from the first worker to a new one, that is where passive cache takes effect.

[2022-08-04 08:52] jja725 commented on #15912
Thanks for digging into the issue and help me understand the problem.
@yuzhu I think this also tells why distributedLoad with replications doesn't work very well(https://github.com/Alluxio/alluxio/issues/14274) because it doesn't commit the block when reading from the remote worker. We should add back the commit call when reading from the remote worker.

[2022-08-04 09:34] Haoning-Sun commented on #15936
Both posix and hdfs check the permissions of each level of directory.  It is same for checkParentPermission.

[2022-08-04 15:09] maobaolong commented on #16001
It will increase 10M+ after mount a hdfs mount point, this can limit the count of mount point.

[2022-08-05 02:08] qian0817 opened #16016 "Add unbuffer support"
**Is your feature request related to a problem? Please describe.**
 Implement the unbuffer interface for `HdfsFileInputStream`. This is very helpful for impala's file handle cache.

**Describe the solution you'd like**'
 Implement the unbuffer interface for `HdfsFileInputStream`.

**Describe alternatives you've considered**

**Urgency**

**Additional context**

[2022-08-05 03:48] dbw9580 commented on #15977
the issue is more centered around the chunk in transmission, rather than block or page at the worker's side.

[2022-08-05 09:23] LKR1996 opened #16022 "IO throughput of reading small size file is tower than expected"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ur

[2022-08-05 13:05] flyhighzy opened #16023 "File in alluxio cache is inconsistent with ufs file under large file number"
**Alluxio Version:**
2.7

**Describe the bug**
We found file in alluxio cache is inconsistent with remote s3-compatible file system, but only some of them are inconsistent, most files working fine.
File number:  about 61 million

This is file in alluxio cache's md5:
![WeChatWorkScreenshot_d2881171-e2e0-442b-ae4d-ddcdb2ecb417](https://user-images.githubusercontent.com/1246062/183082205-f431f87d-e39

[2022-08-07 00:35] #15995 closed

[2022-08-08 02:23] takersk commented on #15613
@ssz1997
hi!! No issues have occurred since apply on 08.02. please close the issue
<img width="1398" alt="스크린샷 2022-08-08 오전 11 19 18" src="https://user-images.githubusercontent.com/3029712/183325730-297d13ed-79fa-420a-8758-3eda8174f669.png">

[2022-08-08 06:33] JiamingMai commented on #10019
Does this issue still exist? It seems that this issue no longer exists any more. I cannot reproduce this in Alluxio 2.8.0. Consider to close this issue.

[2022-08-08 12:55] wwq2333 opened #16025 "master stopped when run max-file-stress-bench to full the disk of 'alluxio.master.metastore.dir'"
**Alluxio Version:**
2.8.0

**Describe the bug**
when run alluxio.stress.cli.MaxFileBench, if the disk of metastore.dir is full, the master will stop (logs lost leadership)

**To Reproduce**

[code]

**Expected behavior**

master can continue to serve for the requests whose target file meta is stored, rather than stop directly.

**Urgency**
a little

**Are you planning to fix it**
No

**Additional

[2022-08-08 16:56] ssz1997 commented on #15613
@tak Glad to hear it's resolved. Thanks for reporting!

[2022-08-08 16:56] #15613 closed

[2022-08-08 23:17] LuQQiu commented on #15936
Yeah similar to what @Haoning-Sun mentioned
Get file status checks the execute permission of all parent directories
[code]

[2022-08-08 23:22] yuzhu commented on #16010
@secfree according to your analysis, listStatus for / would be blocked but not listStatus for any other subpath right? but it seems like you were getting blocked on `./bin/alluxio fs ls -f /user/test`. Could you confirm that you were blocked on listing the root as well as any parallel file path?

[2022-08-08 23:58] yyongycy commented on #15936
What I mean the permission check is recursively in alluxio, could you please double check this based on alluxio?

[2022-08-09 00:27] secfree commented on #16010
@yuzhu sorry, step 4 should be `./bin/alluxio fs ls -f /` as the description `Do listStatus for the root path from alluxio, it also gets stuck.` I have corrected it.

For listing other file paths, if it does not need to wait for the read lock of `/projects/test_hdfs` to release, it will not block.

[2022-08-09 01:45] Haoning-Sun commented on #15936
I've tested it. It's true.

[2022-08-09 01:56] yyongycy commented on #15936
Is it same in the pure hdfs or posix env?

[2022-08-09 02:11] LuQQiu commented on #16023
2.8.1 + fuse 2 + direct_io

[2022-08-09 02:29] LuQQiu commented on #15977
Check whether can set per file chunk size

[2022-08-09 02:37] #15912 closed

[2022-08-09 02:39] liuweibin6566396837 commented on #15973
I have tried, output as follows:
![image](https://user-images.githubusercontent.com/22042825/183551624-0bb57fe8-b604-47a9-9f5d-dddfb2a28fbb.png)

[2022-08-09 08:52] Haoning-Sun commented on #15936
@yyongycy For getStatus, both posix and hdfs check the execution permission recursively and do not need the read permission.

[2022-08-09 08:59] yyongycy commented on #15936
thanks for investigating/fixing it.

[2022-08-09 11:26] #15936 closed

[2022-08-10 02:14] jiacheliu3 commented on #14633
The heap memory usage is also high, which leads me to suspect the memory usage is just from a large volume of ongoing metadata sync (which incurs connection to HDFS and consume heap/off-heap memory). @jffree Were you able to check your heap dump somehow? Typically the direct memory is allocated by netty and you will be able to find references on the heap, like weak references.

[2022-08-10 06:46] LKR1996 commented on #16022
@dbw9580 Hi, can you help with this issue?

[2022-08-11 00:09] #15808 closed

[2022-08-11 02:32] qian0817 commented on #16016
Impala Provide the ability to cache the file handle, instead of closing it immediately after opening and finishing reading. it will use the `unbuffer` method to release the file handle buffer. This can improve performance by reducing the number of openFile RPC calls when open the same file frequently. If the `CanUnbuffer` interface is not implemented, then Impala will not cache the file handle.

[2022-08-11 04:09] dbw9580 commented on #16022
What `StressClientIOBench` does when reading a file is that it opens the file, reads until the end, then closes it and repeats this process. It involves a round trip to the master to get the file status first, and then retrieves the data from a worker. Master's response of the file status typically takes 2KB ~ 4KB, which is small compared to the file size, but it takes some time at the master's si

[2022-08-11 06:52] LKR1996 commented on #16022
@dbw9580 Thanks for reply!
During the `StressClientIOBench`, the client has already opened the meta cache. In this case, will the master be requested？ (not the first time).
And I didn't see any obvious network requests from the packet capture in the master.
![image](https://user-images.githubusercontent.com/49089344/184078363-427d7063-2466-4baf-84e8-81a9af2b25de.png)

By the way, which option in t

[2022-08-11 08:36] liuweibin6566396837 commented on #15973
I have tried many times mount hdfs with under.version, no differences happend.

[2022-08-11 08:41] dbw9580 commented on #16022
OK I see metadata is cached at the client side. There should be no master-client rpc overhead then.

How is the test data written to Alluxio? Is it fully cached by the worker? I see neither CPU nor memory is the obvious bottleneck, can you please do some profiling to see what the worker is spending its time on?

[2022-08-11 10:00] LKR1996 commented on #16022
OK I set the` alluxio.user.file.writetype.default=MUST_CACHE`
I used the `Write `operation of the `StressClientIOBench` command to write the test data to Alluxio, the complete command is followed:
[code]
The data is fully cached by the worker.

I got a cpu profile file,can you help me take a look at this file.
[1_64_cpu.html.zip](https://github.com/Alluxio/alluxio/files/9307751/1_64_cpu.html.zip)

[2022-08-11 18:43] JianyuLi opened #16040 "fuse read performance couldn't scale and much lower than Client IO bench results"
**Alluxio Version:**
2.8.0

**Describe the bug**
We are evaluating alluxio cache acceleration effect for our AI training scenario. The typical user case is loading many small images(~100KB) with POSIX interface. In order to make things easier to analyse, we get start from the single node configuration: just one alluxio worker, and want to know its potential.

After our test, we found that the maxi

[2022-08-12 05:38] journey-wang commented on #16040
@JianyuLi Hello, may I ask how to get the output like "2022-08-11 23:35:22,021 INFO StressClientIOBench - thread count: 256, errors: 0, IO throughput (MB/s): 2010.835449".

In my env, the output looks like this:

 {
  "baseParameters" : {
    "mCluster" : false,
    "mClusterLimit" : 0,
    "mClusterStartDelay" : "10s",
    "mJavaOpts" : [ ],
    "mProfileAgent" : "",
    "mBenchTimeout" : "20m",

[2022-08-12 06:21] JianyuLi commented on #16040
In the end of ${ALLUXIO_BASE}/logs/user/user_xxx.log, we could get the test result summary of StressBench.

[2022-08-12 08:16] flyhighzy opened #16045 "Read alluxio files get "input/output error""
**Alluxio Version:**
2.7.2-0703ba35241e96f8405614dc20e7c7db09167abb

**Describe the bug**
process get multiple input/output error when reading files in alluxio when caching files at about 61million level:
![image](https://user-images.githubusercontent.com/1246062/184311014-9dee3547-efef-4129-b081-495dbdf17c6e.png)

abount between 2022-08-12 07:19 ~ 2022-08-12 08:32, reading process got input/outpu

[2022-08-12 09:01] journey-wang commented on #16040
Thanks very much @JianyuLi    Alluxio is difficult to use after some attempts. In our env, alluxio was deployed in the kubernetes cluster, the speed about 200MB/s with StreeBech. But 1MB/s with fuse mount.

[2022-08-12 20:59] LuQQiu commented on #16045
@flyhighzy when there is input/output error, which means the Fuse return code is `-Errorcodes.EIO` but the actual failure is usually shown in the corresponding fuse.log
For more information, please take a look at https://docs.alluxio.io/os/user/stable/en/api/POSIX-API.html#inputoutput-error-and-fuse-logs
can you share the corresponding fuse.log?

[2022-08-13 02:46] flyhighzy commented on #16045
here is the fuse log for another input/output error case, they are all like those below:

[code]

[2022-08-14 01:56] flyhighzy commented on #16045
another case occured, here is some log maybe helpful:

alluxio-master:
[code]

[2022-08-14 18:26] zelostech opened #16048 "Boto example deos not work and can not get object in boto3 as well"
**Alluxio Version:**
2.8

**Describe the bug**
Trying to use boto and boto3 to get object, however, there is a error of
"botocore.errorfactory.NoSuchKey: An error occurred (NoSuchKey) when calling the GetObject operation: Path "/xxxxx/xxxx" does not exist." (boto)
"botocore.exceptions.ClientError: An error occurred (404) when calling the HeadObject operation: Not Found" (boto3)

**To Reproduce**
1

[2022-08-15 03:28] journey-wang opened #16049 "Alluxio copyToLocal and copyFromLocal speed is slower than cp from local directory"
**Alluxio Version:**
v2.8.0

**Describe the bug**
After deployed in kubernetes, the speed is so slow, far less than local SSD speed. And a lot of errors seen in the alluxio master log:

[code]

**To Reproduce**

[code]

**Expected behavior**
speed higher than local SSD.

**Urgency**
Very urgent.

[code]

[2022-08-15 03:31] journey-wang commented on #16049
[code]

[2022-08-15 06:17] flyhighzy commented on #16045
here I get more detail fuse log now:

[code]

Is this also related to [issue 16023](https://github.com/Alluxio/alluxio/issues/16023) ? Data inconsistent cause this problem?

[2022-08-15 09:20] jackdemos commented on #12459
Versions before 4.1.8 are OK

[2022-08-15 15:22] JianyuLi commented on #16022
@dbw9580 There is a discovery wish it would do help on your analysis of this performance issue. It seems that the read performance worker could provide is constrained by some concurrency process limit and reaches maximum when incoming concurrency requests are near 128, here is the situation:

all the below tests adopt the common configuration:
[code]
And client is xxx.xxx.xxx.138, worker is xxx.xx

[2022-08-15 17:48] HelloHorizon commented on #16049
@journey-wang It seems that the 1.tgz file is around 2GB. And Alluxio copies all workers's data to local in copyToLocal and write all data from local to all workers in copyFromLocal. My understanding is a local disk vs network comparison. I would suggest you use stress bench or a customized java client application if you want to do the performance tests.

[2022-08-15 18:07] LuQQiu commented on #16045
@flyhighzy can you try 2.8.1 and see if the same problem occurs?
In 2.8.1, we implements the statfs, refactor the Fuse read/write logics to take better care of the open in complete file related logics.

[2022-08-15 22:31] ssz1997 commented on #15979
The PR caused the problem was reverted. Close this issue.

[2022-08-15 22:31] #15979 closed

[2022-08-15 22:33] ssz1997 commented on #15933
@LuQQiu Just to double check this has been fixed so we can close it?

[2022-08-15 23:58] LuQQiu commented on #15933
Thanks for reminding me!

[2022-08-15 23:58] #15933 closed

[2022-08-16 01:52] JianyuLi commented on #16040
@LuQQiu Could you take a look at this issue?

[2022-08-16 08:28] dbw9580 commented on #16022
@JianyuLi @LKR1996 thanks for the porfiling report.

![图片](https://user-images.githubusercontent.com/6999708/184829698-cb2a7faa-b21c-478e-b9f3-63ca54d325a2.png)

Looks like it spends quite some time acquiring the block lock when reading the block file. Can you try increasing the number of block locks? You can set `alluxio.worker.tieredstore.block.locks` and `alluxio.worker.tieredstore.block.lock.r

[2022-08-16 09:01] dbw9580 opened #16055 "Out of Memory Error when `mmap`ing local block file to read"
**Alluxio Version:**
current master

**Describe the bug**
Alluxio Worker crashes with a core dump saying:

[code]

It appears JVM was trying to create a new thread but `mmap` limit has been hit. The `vm.max_map_count` ([link](https://docs.alluxio.io/ee/user/stable/en/operation/Scalability-Tuning.html#operating-system-limits) to doc) kernel parameter is set to 100000, and the worker process has alr

[2022-08-16 09:57] dechoma commented on #15298
I got a similar issue when using alluxio versions `2.7.2 - 2.7.4`  no metadata when mounted whole s3 bucket and on s3 side some `Object name invalid` errors were present. I was unable to reproduce this on versions  `2.7.1` or` 2.8.0+`

below is my mount test
[code]
and the output:
![Screenshot 2022-08-16 at 09 28 27](https://user-images.githubusercontent.com/29060284/184851703-affc22a1-bf26-4da4-9

[2022-08-16 13:44] JianyuLi commented on #16022
@dbw9580
change the below configuration from default 1000 to 10000 for worker and restart it:
[code]

Repeat above Test 3: stress on worker with a single StressClientIO whose client configuration as below:
[code]

The worker cpu usage and final read performance are still the same:
<img width="744" alt="image" src="https://user-images.githubusercontent.com/4198752/184889525-ded6a6fc-0017-4574-bd2b-

[2022-08-16 21:21] ZhuTopher commented on #15844
@abmo-x Would you be able to provide more details about the Access Key you provided and maybe the request code (eg: if it is a Spark/Python library)?

[2022-08-17 01:22] #12277 closed

[2022-08-17 06:05] dbw9580 commented on #16022
![图片](https://user-images.githubusercontent.com/6999708/185045664-41678b6f-0958-4c83-9397-c449bc9d75bf.png)
Looks like it's actually the `mSharedMapsLock` that is heavily contended, rather than the individual block locks. Can you take a jstack snapshot and see if the threads are all waiting for this lock?
https://github.com/Alluxio/alluxio/blob/7cbad50484612f5c8270e120418995fef775c664/core/server/

[2022-08-17 09:04] JianyuLi commented on #16022
@dbw9580 Collect four jstack snapshots of worker during test, we do see that there are many BockDataReaderExecutor waiting for mSharedMapsLocks:

![image](https://user-images.githubusercontent.com/4198752/185078418-f9860139-2c7e-4c4f-8c70-d59741a7d504.png)

<img width="907" alt="image" src="https://user-images.githubusercontent.com/4198752/185078708-c72f261d-5c13-4b9d-8ce2-9445b7d26296.png">

![im

[2022-08-17 11:54] dechoma commented on #15298
issue was fixed in`2.8.0` by this pr https://github.com/Alluxio/alluxio/pull/15361

[2022-08-17 13:01] JianyuLi commented on #16022
Further we collect the cpu wall time profile under Test1 & Test2:

1. Test1: single StressClientIO and client adopts the default values, which get the read bandwidth of **2.1GB/s**
[code]
The whole DataReader.runInternal just accounts for 0.92%
<img width="1637" alt="image" src="https://user-images.githubusercontent.com/4198752/185135345-20342a25-5744-469d-99ba-409028724610.png">

2. Test2: two St

[2022-08-17 17:41] HelloHorizon commented on #16048
after offline discussion with @zelostech , if use boto, conn.get_all_buckets() can not get any file.

If use boto3, if the user uses it to upload or multiple uploads, the user cannot use the download file to get the file afterward.

@zelostech do you mind providing the detail reproduce steps?

[2022-08-17 18:10] zelostech commented on #16048
no problem.

1. For boto example issue:

When I use the code example as attached, I am supposed to get the bucket list of the data in alluxio. However an empty array result is return.

![1660758515816](https://user-images.githubusercontent.com/86292394/185207879-9f25cebc-e8ff-4bb3-a0ee-dc0e7e7a4c83.png)

2. For download issues:

The download code in boto3 :

`
import boto3

cli = boto3.resource('s

[2022-08-17 20:50] HelloHorizon commented on #16048
FYI @ZhuTopher it's on Alluxio 2.8.0

[2022-08-17 22:38] ZhuTopher commented on #16048
@HelloHorizon Yes I noticed, thanks for pointing that out though. Also I noticed this has the label `priority-high`, but as of right now we don't have a lot of focus on the Python `botocore` libraries. Just letting you know this may take a little bit for us to get to & debug, apologies! :pray:

One thing that jumps out to me is that you have the following credentials set:
[code]

Can you share the

[2022-08-18 09:34] JiamingMai commented on #14684
In response to `write some files to an empty directory,and delete the files under the directory, then try to delete the directory.` you mentioned above, are you deleting files through Alluxio? Or delete files directly from UFS?

[2022-08-18 10:11] JiamingMai commented on #12739
This is a pretty good proposal, and we have some concerns to consider:
1. Are Redis's key-value pairs updated frequently in your scenario? Will inconsistencies of metadata often occur in this case?
2. How much performance can be improved for caching Redis with Alluxio (as Redis is usually fast enough)?
3. Do you use the Redis key as the path of alluxio, and the value as the content of the file?

[2022-08-18 10:35] #15298 closed

[2022-08-18 20:23] yuzhu commented on #15960
closed via #16029 , please verify @Haoning-Sun

[2022-08-18 20:23] #15960 closed

[2022-08-18 22:55] HelloHorizon commented on #16049
please reopen this if there still any problem

[2022-08-18 22:55] #16049 closed

[2022-08-19 02:58] wwq2333 opened #16069 "how to install CRDs with kubectl in k8s deploy scenario"
**Page**
https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Kubernetes.html#csi

**Summary**
Deploy alluxio with kubectl according to the documentation;
And During the installation of CSI driver, failed to execute the following command:
[code]
so how to install CRDs with kubectl;

I also try to use helm-generate.sh to re-generate CSI templates, but not found CRD templates.

[code]

[2022-08-19 06:02] #10019 closed

[2022-08-19 16:13] HelloHorizon commented on #16048
@ZhuTopher the implementation under boto/boto3 is AWS SDK, which also calls the S3 rest API. I would summarize it as a multi-upload issue with the above info.

[2022-08-19 19:02] ZhuTopher commented on #15844
This hasn't been resolved by that above PR, instead here is a PR which should fix this: https://github.com/Alluxio/alluxio/pull/16074

[2022-08-19 22:53] HelloHorizon commented on #16069
@ssz1997 can you take a look?

[2022-08-20 05:28] JianyuLi commented on #16022
@beinan @dbw9580 Is there any new ideas about this issue?

[2022-08-22 15:53] #15844 closed

[2022-08-23 07:50] dbw9580 commented on #16022
I have a PR that removes the shared lock #16078 . Can you give it a try? @JianyuLi

[2022-08-24 19:36] #13416 closed

[2022-08-25 03:55] secfree opened #16094 "AlluxioFuse encountered a lot of "StatusRuntimeException: UNKNOWN for stream (Zero Copy GrpcDataReader)" warnings"
**Alluxio Version:**
- 2.7.1

**Describe the bug**
When the size of direct memory is not enough, the AlluxioFuse process encountered a lot of the following warnings which reduced the performance a lot

[code]

Log the stack of the warning "StatusRuntimeException: UNKNOWN for stream (Zero Copy GrpcDataReader)" and got

[code]

**To Reproduce**
1. Set a small value for `MaxDirectMemorySize`

[code]

[2022-08-25 04:02] secfree commented on #16094
The version we are using has backported the patch: https://github.com/Alluxio/alluxio/pull/14637

[2022-08-25 04:04] secfree commented on #16094
According to my investigation, there is no direct memory leak. The OutOfDirectMemoryError is caused by the direct memory chunk pool managed by netty.  It does "destroyChunk" immediately when "releaseChunk".

[2022-08-25 05:28] soaggarwal opened #16097 "Support for Iceberg in Alluxio Catalog Service"
**Is your feature request related to a problem? Please describe.**
As per this [document](https://docs.alluxio.io/os/user/stable/en/compute/Presto-Iceberg.html), iceberg is not yet supported for Alluxio catalog service. We are read only service and we don't want to change how the ingestion service clients are working so we can't change the path to alluxio in metastore.

**Describe the solution you

[2022-08-25 08:38] flyhighzy opened #16099 "Alluxio monitor bug"
**Alluxio Version:**
2.8.1

**Describe the bug**
![image](https://user-images.githubusercontent.com/1246062/186617103-6cb7e14b-80a1-4035-ab7f-1ef5b8b3b65a.png)
As shown, "Bytes Read Cache" here is negative, which is obviously incorrect

**To Reproduce**
After alluxio cluster is ready,  at the beginning of job read data from alluxio, it always occurs.

**Expected behavior**
show the right data

[2022-08-25 16:51] HelloHorizon commented on #16099
@beinan @dbw9580 can you take a look?

[2022-08-25 18:46] ssz1997 commented on #15048
@ccy00808 I would suggest instead of putting the static ip address in the configuration, put in the hostname. In kubernetes although the IP of the master pod changes, the hostname doesn't. Other pods should be able to find the new pod with the hostname.

[2022-08-26 12:29] adol001 opened #16103 "AlluxioJniFuseFileSystemTest#create fail"
**Alluxio Version:**
2.8.1

**Describe the bug**
mvn clean test -Phadoop-2 -Dhadoop.version=2.7.3 -pl 'integration/fuse' -Dtest=alluxio.fuse.AlluxioJniFuseFileSystemTest#create

[code]

[code]
Because the mock object of return is not completed, it will always be blocked in CommonUtils.waitForResult. The test case fails.
Possibly similar problems exist in write and flush test cases.

The test cases

[2022-08-26 14:19] cangyin commented on #15298
@dechoma awesome!

[2022-08-26 18:55] junyanguo-uber opened #16105 "Kerberos auth to HDFS when using journal for High Availability"
**Alluxio Version:**

2.9.0-SNAPSHOT up to this commit on 8/4/2022 https://github.com/Alluxio/alluxio/commit/fdcba75c7e65bf812c2ba07b7c968ef3c9550213

**Describe the bug**

When using HDFS as journal to support the HA mode, I pass in a principal and keytab via the `alluxio.master.keytab.file` and `alluxio.master.principal` config. However the principal and keytab is not used when authenticating ag

[2022-08-28 12:47] secfree opened #16106 ""alluxio.worker.tieredstore.free.ahead.bytes" does not work"
**Alluxio Version:**
2.7.1

**Describe the bug**

We have the following configuration

[code]

But `alluxio.worker.tieredstore.free.ahead.bytes` does not work and the available size keeps near 0

<img width="1397" alt="2022-08-28_20-40-31" src="https://user-images.githubusercontent.com/7149512/187074792-03494728-a4a1-4eb8-9a55-a62b5389824a.png">

**To Reproduce**
N/A

**Expected behavior**
Meets t

[2022-08-29 04:08] JianyuLi commented on #16022
Tried with branch https://github.com/dbw9580/alluxio/tree/fix/block-lock-manager-remove-lock, the peak read bandwidth & cpu usage of worker during test has break the previous limit, details are as below:

1. Test1: single StressClientIO and client adopts the default values, which get the read bandwidth of 2.1GB/s
[code]
For the cpu wall time profile, DataReader.runInternal percentage decreased fro

[2022-08-29 06:46] liuweibin6566396837 commented on #15973
I found sollution to [1. start sync alluxio dir in alluxio master pod]
alluxio latest version surpport hdfs version 3.3.1 by default, while my hdfs version is 3.3.2.
I build alluxio-underfs-hdfs jar following the document, I can resolve the problem
![origin_img_v2_0ed46b3f-91af-4454-a30a-f88d520bb9bg](https://user-images.githubusercontent.com/22042825/187139129-aa404417-1f1e-4e19-99a5-0464be27c097

[2022-08-29 08:08] flyhighzy commented on #16099
here is the panel json:

[code]

[2022-08-29 17:41] HelloHorizon commented on #16105
@yuyang733 can you take a look?

[2022-08-29 18:33] #16106 closed

[2022-08-29 23:58] ssz1997 commented on #16103
@LuQQiu Please correct me if I'm wrong.

This test suite `AlluxioJniFuseFileSystemTest` is known to be unstable / may fail, which is why we add the Ignore tag at the top of the file. The test cases inside are already covered by `AbstractFuseIntegrationTest` and `JNIFuseIntegrationTest`, which are indeed in the pull requests' tests.

[2022-08-30 00:01] ssz1997 commented on #16069
@wwq2333 Sorry I missed this one eariler. It seems to me that your k8s version maybe outdated. We require the k8s cluster version to be at least 1.17. Can you help confirm the version of your k8s cluster?

[2022-08-30 03:15] singer-bin commented on #16099
@flyhighzy Seems to be out of order.

[2022-08-30 03:15] singer-bin commented on #16099
@flyhighzy Seems to be out of order.

[2022-08-30 03:33] flyhighzy commented on #16099
But actually, as time goes on, "Bytes read cache" metric become positive and seems right

[2022-08-30 08:38] flyhighzy opened #16114 "exception occurs when write files to alluxio"
**Alluxio Version:**
2.8.1

**Describe the bug**
we mount alluxio with fuse to kubernetes pod,  when we try to write some files to alluxio path, the error below occurs:
![image](https://user-images.githubusercontent.com/1246062/187389130-06b626e7-6ca5-4d67-a7fd-e6ebade2ef45.png)

Actually, the fuse process get the right ip for alluxio worker, that is 10.70.67.23, but wrong socketAddress. The socke

[2022-08-30 09:37] singer-bin commented on #16099
sorry i was wrong, it looks like a bug. @flyhighzy

[2022-08-31 03:50] liuweibin6566396837 commented on #15973
get some reply for bugs 2
![image](https://user-images.githubusercontent.com/22042825/187588376-45cdb8be-9281-49df-9665-0f9662d252c4.png)

[2022-08-31 05:26] #15816 closed

[2022-08-31 06:37] CCweixiao opened #16119 "[QUESTION] alluxio 2.8.1 reports an error when mounting a subdirectory"
之前在2.7.0可以直接挂载/warehouse/cupid_bi.db，但是在2.8.1中再这样挂载的时候出现如下问题，我的操作命令如下：

alluxio fs mount --option alluxio.underfs.version=3.2 /warehouse/cupid_bi.db hdfs://rbf-bdxs/rbf/warehouse/cupid_bi.db
报错如下：
File /warehouse/cupid_bi.db creation failed. Component 1(warehouse) does not exist

然后我挂载：/warehouse，可以挂载成功，命令如下：
alluxio fs mount --option alluxio.underfs.version=3.2 /warehouse hdfs://rbf-bdxs/rbf/ware

[2022-08-31 07:28] maobaolong opened #16120 "FUSE pod failed to mount Alluxio caused by failed to unmount before this time"
**Alluxio Version:**
Master

**Describe the bug**
FUSE pod failed to mount Alluxio caused by failed to unmount before this time

**To Reproduce**

helm install --kubeconfig ~/.kube/config  alluxio-test ./helm-chart/alluxio

**Expected behavior**

Mount successfully.

**Urgency**

High

**Are you planning to fix it**

Yeah

**Additional context**
No

[2022-08-31 07:46] wubiaoi opened #16121 "job master occur dead lock when job worker heartbeat timeout"
**Alluxio Version:**
2.7.3

**Describe the bug**

Found one Java-level deadlock:
=============================
"grpc-default-executor-37":
  waiting to lock monitor 0x00007fd2642078d8 (object 0x00007fda462f7ba8, a alluxio.master.job.plan.PlanCoordinator),
  which is held by "grpc-default-executor-4"
"grpc-default-executor-4":
  waiting to lock monitor 0x00007fd388006168 (object 0x00007fda475d2748,

[2022-08-31 18:32] ssz1997 commented on #16069
@wwq2333 A workaround for you is to modify the `apiVersion` field in your `alluxio-csi-driver.yaml.template` to `storage.k8s.io/v1`, instead of `storage.k8s.io/v1beta1`.

Helm may have trouble comparing version strings of 1.24.x. Could you check the version of your Helm? To support k8s 1.24.x, you need helm version of 3.9.x. See https://helm.sh/docs/topics/version_skew/.

[2022-09-01 00:59] maobaolong opened #16127 "Support configure the underfs version must be specified for each mount command"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ur

[2022-09-01 07:04] #16069 closed, assigned to ssz1997

[2022-09-01 08:19] #15930 closed

[2022-09-02 07:40] LKR1996 opened #16140 "After distributedLoad , the job master Process GC CPU usage is too high, and lasts a long time."
**Alluxio Version:**
2.8.1

**Describe the bug**
**After distributedLoad , the job master Process GC CPU usage  is too high, and lasts a long time.**
When I use distributedLoad cmd to load a big dataset include 14000000 files to alluxio cluster. when all files of this dataset is load to alluxio, the CPU usage of  job master is still  above 6000%, and lasts a long time.
From the cpu profiler point

[2022-09-02 08:01] LKR1996 commented on #16140
Hi, can you help with this issue? @dbw9580

[2022-09-02 18:17] jja725 commented on #16140
@LKR1996 Currently it's a bit hard to tell why we have this issue. Do you mind uploading the log in that time range? Also, a heap dump of job master would be helpful to diagnose why we have such high memory usage.

[2022-09-05 03:27] LKR1996 commented on #16140
@jja725 Thank you for reply!
After I allocate larger heap memory for the job master, the cpu usage has dropped. Maybe it did not need GC.
![image](https://user-images.githubusercontent.com/49089344/188354986-6dab9bcd-0d66-4eb7-a4a7-5c59b00ff492.png)

But the memory usage remains high:
![image](https://user-images.githubusercontent.com/49089344/188354105-999f3118-a0ff-458e-b791-9c329c86f0dd.png)

T

[2022-09-05 03:52] BUPTAnderson opened #16147 "listStatus on empty MinIO bucket return 400 Error"
**Alluxio Version:**
release-2.8.1 / master

**Describe the bug**
listStatus on empty MinIO bucket return 400 Error

**To Reproduce**
Step 1: mount MinIO empty bucket to alluxio
Setp 2: exec `ls` command on alluxio mount point
[code]

**Expected behavior**
return empty list with on error

[2022-09-05 03:53] BUPTAnderson commented on #16147
assign @BUPTAnderson

[2022-09-06 03:01] JianyuLi commented on #16022
@dbw9580 your improvement in #16078 solved the problem issue we met here and in #16040. We are looking forward to this MR be merged in master, thanks!

[2022-09-06 06:09] adol001 commented on #15672
Refine checkpoint by Parallel zip compression and decompression
https://github.com/Alluxio/alluxio/pull/16151

The current implementation of backup, instead of executing backup, it is better to reload it

[2022-09-06 18:19] jja725 commented on #16140
@LKR1996 do you mind doing me a favor and testing version 2.7? One of the changes we have in 2.8 is adding more metrics to distributedLoad, so we can sort out whether it's metrics related problem.

[2022-09-07 07:16] Haoning-Sun opened #16164 "Failed to manually switch the master"
**Alluxio Version:**
master

**Describe the bug**
Failed to switch master using fsadmin command.

**To Reproduce**

Start three alluxio masters, and then select a standby master to switch to the primary master.

[code]

The log is as follows:
[code]

**Expected behavior**
Switch the master normally.

**Urgency**
Urgent.

**Are you planning to fix it**
Yes.

**Additional context**
Problems caused b

[2022-09-08 05:05] liangrui1988 opened #16167 "org.apache.ratis.thirdparty.io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 2097152 byte(s) of direct memory (used: 10735321367, max: 10737418240)"
**Alluxio Version:**
2.7.2

**Describe the bug**
After the master node is abnormal, and has not been transferred to other nodes, I have a total of 3 masters, which shows that it is a major bug, causing all services of Alluxio to be unavailable?

[code]

[2022-09-08 17:34] jenoudet commented on #16167
When a master suffers from an out-of-memory error, it is sometimes best to restart the affected master. It will naturally rejoin the cluster and help perform normal operations.
Have you tried restarting the affected master?

[2022-09-08 18:26] HelloHorizon opened #16170 "Worker stream register forget release lease"
**Alluxio Version:**
Alluxio master

**Describe the bug**
When we have a large cluster, we found that is very slowly to register all workers to master. Because of default 25 workers register a time and the lease lasts for 1 minute since the worker have finished the register. And I found when not use stream register, it will release lease. So I think it should be the same as before.

**To Reproduce

[2022-09-08 18:52] #16170 closed

[2022-09-08 21:58] #16164 closed

[2022-09-09 04:09] dbw9580 commented on #16022
Thanks for the feedback! I'll have the PR reviewed and merged soon.

In the meantime, I noticed that in your last profiling graph the call to `SerializingExecutor.execute` is blocking on a task queue and taking a lot of time. I suspect that is caused by its task queue which is a bounded blocking queue with a fixed capacity of 32:

https://github.com/Alluxio/alluxio/blob/64648e7db5789b6ca58751c3477

[2022-09-12 23:59] jenoudet commented on #14648
The same output can also be observed when using the [Hadoop Synthetic Load Generator](https://hadoop.apache.org/docs/stable/hadoop-project-dist/hadoop-hdfs/SLGUserGuide.html).
`core-site.xml`:
[code]

output:
[code]

[2022-09-13 02:09] LuQQiu commented on #16001
https://github.com/Alluxio/alluxio/pull/16145 @Haoning-Sun has a PR to fix it

[2022-09-13 05:27] jiacheliu3 opened #16186 "Replace UUID with a lighter ID for operation ID"
**Summary**
[Describe the tech debt]
The Alluxio client attaches a unique ID to each operation and the master uses that to identify duplicate requests
(https://github.com/Alluxio/alluxio/blob/94f3703c7fc7332baecb03e42523a087c06c1844/core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java#L1770)

This operationID is used to handle cases where the master has processed an op

[2022-09-13 08:17] JianyuLi commented on #16022
@dbw9580 increase the capacity of BlockingQueue for BLOCK_READER_SERIALIZED_RUNNER_EXECUTOR from 32 to 64:
<img width="1362" alt="image" src="https://user-images.githubusercontent.com/4198752/189834140-c49161af-b5b7-454b-92a9-8646659f8900.png">

The read bandwidth of StressClientIO and cpu usage during test don't change.

And the Block Reader related metrics during two times 180s StressClient test

[2022-09-14 04:57] flyhighzy opened #16194 "alluxio metadata sync issue"
**Alluxio Version:**
2.9.0-SNAPSHOT-5f981271cc825ddf0cf130caea330de0df5a4bca

**Describe the bug**
our tasks use alluxio as data cache, and have met some empty files in alluxio but file on UFS is not empty.
we found some logs about the empty file in alluxio master:
![image](https://user-images.githubusercontent.com/1246062/190045223-25ea51b8-5b15-4816-94ca-bc53e1296439.png)

when we use `alluxio f

[2022-09-14 06:41] Haoning-Sun opened #16195 "The exists method lacks permission check"
**Alluxio Version:**
master.

**Describe the bug**

I tested the exists method of HDFS and Alluxio. HDFS need to have execution permission on the parent folder and Alluxio has no permission to check.

**To Reproduce**
### HDFS
test code:
[code]

- without parent permission:

[code]

output:
[code]

- with parent permission:

[code]

output:
[code]

### Alluxio

test code:
[code]

- without parent

[2022-09-14 11:47] elega opened #16197 "Potential data race in MountTable class"
**Summary**
Describe the tech debt
The mState variable in the MountTable class is guarded by a read lock and write lock, mainly for its internal mMountTable hash map object. However, when the MountTable.State applies journals, it updates the hash map mMountTable directly without the protection of any lock. This creates some potential data race conditions. This isn't a big issue today as we know th

[2022-09-14 12:46] qian0817 opened #16198 "Unable to create a directory when inconsistent between UFS and alluxio even after syncing metadata"
**Alluxio Version:**
master branch.

**Describe the bug**
Unable to create a directory when inconsistent between UFS and alluxio even after syncing metadata.

**To Reproduce**
Minimum reproduction:
[code]

**Expected behavior**
Create directory successfully after sync metadata.

**Urgency**
Middle.

**Are you planning to fix it**

**Additional context**

[2022-09-14 17:59] LuQQiu commented on #16194
@HelloHorizon This looks like a high priority issue, cannot read correctly from Alluxio because of failed to sync

[2022-09-14 20:56] HelloHorizon commented on #16167
Thank you for report @liangrui1988! I will like to get more information before we dive deeper. Do you mind sharing the deployment of the cluster, which is the primary master and which is the follower master?

And what are the xmx and director memory configurations from your side, with your node configurations(total memory)?

And to understand the urgency of the issue, I would also want to know if

[2022-09-15 15:34] qq1295131420 opened #16205 "使用Alluxio进行数据解压缩时文件内容丢失的问题"
问题：使用2.6.1版本的Alluxio时，通过AlluxioURI的openFile方法创建输入流、createFile创建输出流，解压缩时用的是Alluxio提供的Codec.Gzip().decompress方法，解压缩后的数据将用于后续的Spark加工。将数据文件从UFS读取并解压在Alluxio中发生文件内容丢失的情况。

伪代码如下：
public AlluxioURI(String pathStr){
  this.mUri=Factory.create(pathStr)
}

AlluxioURI srcPath=new AlluxioURI(srcFile);
in=fileSystem.openFile(srcPath); //srcPath为解压缩前数据
decInputStream=new Codec.Gzip().decompress(in);
AlluxioUR

[2022-09-15 15:35] qq1295131420 opened #16206 "使用Alluxio进行数据解压缩时文件内容丢失的问题"
问题：使用2.6.1版本的Alluxio时，通过AlluxioURI的openFile方法创建输入流、createFile创建输出流，解压缩时用的是Alluxio提供的Codec.Gzip().decompress方法，解压缩后的数据将用于后续的Spark加工。将数据文件从UFS读取并解压在Alluxio中发生文件内容丢失的情况。

伪代码如下：
public AlluxioURI(String pathStr){
  this.mUri=Factory.create(pathStr)
}

AlluxioURI srcPath=new AlluxioURI(srcFile);
in=fileSystem.openFile(srcPath); //srcPath为解压缩前数据
decInputStream=new Codec.Gzip().decompress(in);
AlluxioUR

[2022-09-15 15:39] #16206 closed

[2022-09-15 15:59] #16205 closed

[2022-09-16 02:11] httaotao opened #16209 "Block Annotation Policies translate error"
[Block Annotation Policies](https://docs.alluxio.io/os/user/stable/en/core-services/Caching.html#block-annotation-policies)

关于Block Annotation Policies的翻译，中文文档为注释块，这里语义理解有点奇怪.

另外英文文档LRUAnnotator, 这里是否缺少了空格，改为LRU Annotator?

[2022-09-16 04:26] wubiaoi opened #16210 "FileSystemContext.reinit may occure deadlock"
**Alluxio Version:**
2.8.1

**Describe the bug**
The method of reinit block blockReinit which be invoked by other method, eg:getCachedWorkers(); but  the method of getCachedWorkers lock FileSystemContext；reinit needs a lock of FileSystemContext too.
[code]

jstack:
[code]

[2022-09-16 08:37] liangrui1988 opened #16211 "WARN JvmPauseMonitor - JvmPauseMonitor-fs-alluxio-master03.xx.com_19200: Detected pause in JVM or host machine (eg GC): pause of approximately 2490713309ns. No GCs detected."
**Summary**
master.log   Often print
WARN  JvmPauseMonitor - JvmPauseMonitor-fs-alluxio-master03.xx.com_19200: Detected pause in JVM or host machine (eg GC): pause of approximately 2490713309ns. No GCs detected.

This one needs to adjust the memory size there, right?

Current
alluxio-env.sh
ALLUXIO_MASTER_JAVA_OPTS+="-Xms90g -Xmx90g"
ALLUXIO_JAVA_OPTS+="-XX:MaxDirectMemorySize=10g"

[2022-09-16 08:43] liangrui1988 commented on #16167
It was something like this,
master01
cat /etc/alluxio/conf$ cat /data10/journal/raft/02511d47-d67c-49a3-9011-abb3109a44c1/current/raft-meta
[code]

master02
cat /etc/alluxio/conf$ cat /data10/journal/raft/02511d47-d67c-49a3-9011-abb3109a44c1/current/raft-meta
[code]

master03  ==>leader

cat /etc/alluxio/conf$ cat /data10/journal/raft/02511d47-d67c-49a3-9011-abb3109a44c1/current/raft-meta

[code]

[2022-09-16 10:32] yyongycy commented on #16195
Wondering how this bug is discovered, in what scenario?

[2022-09-16 18:54] sg-c commented on #16048
I tried alluxio os 2.8.0 release version (as opposed to SNAPSHOT) and the result is the same ---- I cannot reproduce the issue.

[2022-09-16 19:48] #14648 closed

[2022-09-17 01:07] HelloHorizon commented on #16210
@jiacheliu3 @elega do you mind to take a look?

[2022-09-19 07:34] takersk opened #16213 "watermark.high.ratio, watermark.low.ratio not working"
**Alluxio Version:**
v2.8.0

**Describe the bug**
eviction does not proceed

**To Reproduce**
None

**Expected behavior**
Run eviction when storage usage reaches 90%

**Urgency**
None

**Are you planning to fix it**
None

**Additional context**
1. worker properties
[code]

2. master UI
![스크린샷 2022-09-19 오후 4 26 44](https://user-images.githubusercontent.com/3029712/190969740-9b734d09-1855-4

[2022-09-19 12:46] uniqueZt opened #16214 "EdgeLockPool leak slowly"
<img width="852" alt="image" src="https://user-images.githubusercontent.com/42279207/191019936-6d1a1d7f-cf61-46ed-b6f8-29a987f81bf8.png">

i find that slow leak occure in EdgeLockPool and i don't know what happened , i find no ERROR log in master.log!!!

[2022-09-19 12:48] uniqueZt commented on #16214
InodeLockPool is normal!!!

[2022-09-19 15:49] httaotao opened #16216 "source code mvn build error"
Hi, when I use mvn to build source cod, it shows this error

[code]

mvn info
[code]

I don't know how to fix this problem, thanks

[2022-09-19 17:15] jenoudet commented on #16167
I'm not sure I understand how the information you have provided about the leader election relates to the OutOfMemory error described above. The `raft-meta` file is not a configuration file. It is an internal state-keeping file generated by Ratis. During an election, it is reasonable to assume that some masters may vote for different candidates: in your case, 2 / 3 voted for master3, so it was elec

[2022-09-19 18:33] HelloHorizon commented on #16214
@uniqueZt do you mind provide the Alluxio version and configurations of your cluster?

[2022-09-20 01:48] #16209 closed

[2022-09-20 01:49] #16216 closed

[2022-09-20 05:31] uniqueZt commented on #16214
version 2.7

[2022-09-20 05:34] uniqueZt commented on #16214
i have two cluster, use the same configuration, but one of them is normal and the other one ocurrs the problem!

[2022-09-20 05:38] uniqueZt commented on #16214
can you supply me some PR about this？let me analyze the problem？

[2022-09-20 05:41] uniqueZt commented on #16214
I only find the PR "https://github.com/Alluxio/alluxio/pull/14320" , but i cannot find any ERROR info in my master.log

[2022-09-20 05:44] uniqueZt commented on #16214
i try server operation,such as "create file, delete -R , create dir, list , getStatus , rename ",  can't  reproduction the problem ! i  doubt that some exception may lead to the problem！

[2022-09-20 09:01] uniqueZt commented on #16214
<img width="799" alt="image" src="https://user-images.githubusercontent.com/42279207/191215697-d1712fd6-e445-42b8-810e-a48d9154254b.png">
if occurs throwable, may lead lock leak.

[2022-09-20 09:51] wForget commented on #16210
We might be able to remove the `synchronized` in the `FileSystemContext.closeContext` method and change the judgment to `if (!mClosed.getAndSet(true)) {`

[2022-09-20 10:12] elega commented on #16210
Yeah @jiacheliu3 and I did some investigation for the issue. We believe this is a real issue and the root cause is that we added excessive synchronized qualifier for some methods in addition to the AQS/locks we had already added.

So the solution is to remove some synchronized qualifier. I'll be working on a scan on the methods in this file and make the change.

[2022-09-20 16:59] #16195 closed

[2022-09-21 12:16] tokingHong commented on #15722
What is the maximum qps on single machine performance you have tested?
I only read metadata from master , qps just 18w

[2022-09-21 12:20] tokingHong commented on #16022
@dbw9580 Does master have the same issue? I read master metadata just can reach 18w qps. And CPU just can reach 900%

[2022-09-21 14:32] dbw9580 commented on #16022
It's possible, but hard to tell without a detailed description of how you
did your tests, and some flamegraph showing what master is spending its
time doing.

Best regards,
Bowen

tokingHong ***@***.***> 于 2022年9月21日周三 20:20写道：

[2022-09-22 03:28] liangrui1988 opened #16224 "> Thank you for report @liangrui1988! I will like to get more information before we dive deeper. Do you mind sharing the deployment of the cluster, which is the primary master and which is the follower master?"
It was something like this,
master01
cat /etc/alluxio/conf$ cat /data10/journal/raft/02511d47-d67c-49a3-9011-abb3109a44c1/current/raft-meta
[code]

master02
cat /etc/alluxio/conf$ cat /data10/journal/raft/02511d47-d67c-49a3-9011-abb3109a44c1/current/raft-meta
[code]
master02  raft-meta This is an incorrect configuration, and there is an obvious log thrown, and the metadata cannot be synchronized.

[2022-09-22 03:29] #16224 closed

[2022-09-22 03:31] liangrui1988 commented on #16167
ALLUXIO_JAVA_OPTS+="-XX:MaxDirectMemorySize=10g"

master02
cat /etc/alluxio/conf$ cat /data10/journal/raft/02511d47-d67c-49a3-9011-abb3109a44c1/current/raft-meta

#
#Wed Sep 14 14:16:28 CST 2022
votedFor=fs-alluxio-master01.hiido.host.yydevops.com_19200
term=15

This is an incorrect configuration, and there is an obvious log thrown, and the metadata cannot be synchronized. It is clear that this pr

[2022-09-22 04:23] jiacheliu3 opened #16225 "Alluxio does not detect if the UFS file has been replaced with the same or greater length"
**Summary**
#16141 addresses the issue where the in-UFS file has been truncated or replaced with a shorter one. However if the file has been replaced with a file the same or greater length, Alluxio stream will just read based on the offset (if not hitting the outdated cache), no error will be thrown.

To handle that, the current Alluxio needs to define a way to constantly check in-UFS file content

[2022-09-22 16:58] HelloHorizon commented on #16213
@yuzhu can you take a look?

[2022-09-23 01:31] maobaolong opened #16227 "Add more content into auditlog"
**Is your feature request related to a problem? Please describe.**

Need more audit log to improve experience of troubleshooting.

**Describe the solution you'd like**

Add arguments, acquire lock time, whether sync metadata and sync time, etc..

**Urgency**

Normal

**Additional context**

No.

[2022-09-23 03:11] maobaolong opened #16228 "Correct RoundRollbinPolicy"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to fix it**

[2022-09-23 06:42] dbw9580 opened #16229 "Metric `Worker.ActiveClients` is not correct"
**Alluxio Version:**
2.8

**Describe the bug**
`Worker.ActiveClients` reports more clients than there actually are.

**To Reproduce**
Perform I/O through Alluxio worker, and observe worker metrics.

**Expected behavior**
`Worker.ActiveClients` should reflect active clients that is currently reading or writing data on the worker.

**Urgency**
Normal

**Are you planning to fix it**
yes

**Additional

[2022-09-23 07:22] dbw9580 commented on #16229
the metric is incremented twice when creating a block reader:

https://github.com/Alluxio/alluxio/blob/bf8841d0a1719e9c62735e77151015611e9ab3d9/core/server/worker/src/main/java/alluxio/worker/block/MonoBlockStore.java#L142
https://github.com/Alluxio/alluxio/blob/6bbc180b7871518cd6433e3d69fbbb953c9725a7/core/server/worker/src/main/java/alluxio/worker/block/DefaultBlockWorker.java#L417

[2022-09-23 07:37] #16001 closed

[2022-09-23 09:39] elega commented on #16214
@uniqueZt

Hi I looked into the code you pasted a bit. If an error is thrown, the reference of the lock won't be held by the lock list and hence will be garbage collected later. No leak is caused by this try..catch.

Second, if these edge locks are really leaked, this means that these locks are in the InodeList and has been acquired by some threads. If a leak really happens -> locks are acquired b

[2022-09-24 22:25] naushadh commented on #12704
I can confirm targeting ARM platform works, and I successfully built and pushed the image here: https://hub.docker.com/r/naushadh/alluxio/tags

[code]

Would be nice if this can be done by the CI process so there is official Docker images that work in ARM.

[2022-09-26 03:03] jiacheliu3 commented on #16225
@yuzhu fyi

[2022-09-26 10:49] secfree opened #16236 "Alluxio throws FileDoesNotExistException when cannot access UFS"
**Alluxio Version:**
2.7.1

**Describe the bug**
The file exists in Alluxio, but the client gets FileDoesNotExistException from AlluxioMaster when AlluxioMaster cannot access UFS.

**To Reproduce**
1. Set "alluxio.user.file.metadata.sync.interval=0" to trigger meta sync from UFS
2. Mount a hdfs path to alluxio
3. Access the path in alluxio to sync meta data to alluxio
4. Transit the hdfs namenode

[2022-09-26 11:08] yyongycy commented on #16236
could you please paste the master's DEBUG log? That would be more clear.

[2022-09-26 11:31] secfree commented on #16236
Let me share my analysis results.

1. `alluxio fs ls` triggers `HdfsUnderFileSystem.getStatus` which has the following log

[code]

2. `HdfsUnderFileSystem.getStatus` throws the `RemoteException` after completing failover attempts

3.  The call stack of `HdfsUnderFileSystem.getStatus` is

[code]

4. `UnderFileSystemWithLogging.getFingerprint`  catches the exception and returns `Constants.INVALID_U

[2022-09-27 06:51] secfree commented on #16236
Tested it again and here is the debug log

[code]

[2022-09-28 05:03] takersk opened #16243 "space used size is bigger than capacity size in storage usage summary"
**Alluxio Version:**
v2.8.0

**Describe the bug**
space used size is bigger than capacity size in storage usage summary

<img width="1679" alt="스크린샷 2022-09-28 오후 12 55 46" src="https://user-images.githubusercontent.com/3029712/192691739-e0166e23-df34-4885-8497-1d4be5c72c2a.png">

**To Reproduce**
None

**Expected behavior**
capacity size >= space used size

**Urgency**
**Are you planning

[2022-09-28 06:39] yyongycy commented on #16236
Thanks a lot for the very detail information, wondering if there is a way to pass the situation (No permission) in step 4?
In that case, this information can be passed back to the up layer explicit

[2022-09-28 06:59] secfree commented on #16236
Yes, I am working on this way and will raise a PR if it works well.

[2022-09-29 01:23] wwq2333 opened #16248 "The calculation of "Used Capacity" is incorrect when use Multi-Tiered cachestore in a freshly deployed cluster"
**Alluxio Version:**
2.8.1

**Describe the bug**
Used Capacity in fsadmin report is incorrect, if user MEM and SDD Multi-Tiers cachestore;
In a freshly deployed cluster, used capacity is not zero;
Example for multi-tier configuration:
[code]
![image](https://user-images.githubusercontent.com/12540485/192915753-29bf6215-be0d-437d-bcac-86e0de0a10f1.png)

And if tieredstore.dirs.path use mutli-path,

[2022-09-29 09:56] bigxiaochu opened #16250 "LocalPageStore delete pageId could ignore parent path NoSuchFileException when parent path is deleted by other thread in a benign race"
**Alluxio Version:**
2.7.3

**Describe the bug**
Presto uses the alluxio local ssd cache, and the log sees a lot of alluxio delete page failures because the page's parent directory does not exist, NoSuchFileException.
Exception stack code analysis, when writing to the cache, because the storage reaches the set capacity limit, the old page must be deleted first.
After deleting the old page file, an

[2022-09-29 14:16] LKR1996 opened #16253 "Alluxio in K8s throws failed to sync metadata and FileDoesNotExistException when execute copyFromLocal command"
**Alluxio Version:**
2.8.1
**Describe the bug**
When I execute the copyFromLocal command in K8s Environment, the master reports an error:
[code]
**To Reproduce**
Start alluxio cluster in k8s and mount the local folder into the pod;
Use the copyFromLocal command to copy the local folder to alluxio;
Check the master's log, this warn information will occur.

**Expected behavior**
A clear and concise

[2022-09-30 05:30] secfree commented on #16236
Tested and confirmed that, as `InodeSyncStream.syncExistingInodeMetadata` may delete the inode of the file/directory because of `Constants.INVALID_UFS_FINGERPRINT`, if a directory has files not persisted under it, these files may lost.

[2022-09-30 07:54] yyongycy commented on #16236
I think this situation should be fixed. What is your fix logic?

[2022-09-30 08:00] secfree commented on #16236
The fix logic is #16245 , it separates FileNotFoundException and general IOException(for example, ConnectException, StandbyException), and does not delete the inode from alluxio if it is not FileNotFoundException.

[2022-09-30 08:30] yyongycy commented on #16236
The solution could not be just that simple, the following scenarios should be considered:
    (metadata update_to_data/stale, UFS reachable/not_reachable, no_sync/sync),

are all the combination covered?

[2022-09-30 08:51] secfree commented on #16236
If UFS reachable, then the logic is not affected by the PR.

If UFS not_reachable
- Then no_sync/sync is unknown to alluxio, because it cannot reach UFS and compare fingerprint
- Persist/To_be_persist is known to alluxio, but it cannot do it as UFS is not reachable
- Currently the master branch chooses to remove the inode in alluxio, without caring if it has to_be_persist children inodes or not
-

[2022-09-30 09:04] liangrui1988 opened #16258 "config supergroup Don't take effect"
**Alluxio Version:**
2.7.2

**Describe the bug**

-rw-r--r--  alluxio        alluxio                  22628       PERSISTED 09-30-2022 17:00:03:715 100% /test/ml-100k/u.user

su hdfs
hdfs@fs-alluxio-master03:  alluxio  fs rm /test/ml-100k/u.user
Permission denied: user=hdfs, access=-w-, path=/test/ml-100k/u.user: failed at ml-100k, inode owner=alluxio, inode group=alluxio, inode mode=rwxr-xr-x

al

[2022-10-03 09:42] #15265 closed

[2022-10-04 08:35] Haoning-Sun opened #16269 "The permission check of delete method is inconsistent with hdfs"
**Alluxio Version:**
master.

**Describe the bug**

- For alluxio, recursively deleting the directory will check whether the last level has 'w' permission, while hdfs does not do any checking.
- For alloxio, recursively deleting the directory will check the 'wx' permissions of the subdirectory, while hdfs will check the 'rwx' permissions.
- For alluxio, recursively deleting the directory will chec

[2022-10-04 16:02] Cameronwood611 opened #16272 "alluxio-fuse mounting hdfs fails: Mount point is a prefix of"
**Alluxio Version:**
2.8.1

**Describe the bug**
Alluxio-Fuse fails when trying to mount hdfs

**To Reproduce**
TL;DR I went through these docs (in this order):
- https://docs.alluxio.io/os/user/stable/en/contributor/Building-Alluxio-From-Source.html
- https://docs.alluxio.io/os/user/stable/en/ufs/HDFS.html
- https://docs.alluxio.io/os/user/stable/en/compute/Tensorflow.html

Exact steps are as fol

[2022-10-05 16:15] ssz1997 commented on #16272
@Cameronwood611 Seems like your hdfs is already your root ufs, so your `fs mount` command is trying to mount your hdfs inside your hdfs. I don't think that's a valid operation.

If you want to access hdfs data from posix api, you don't need to do the last `fs mount` command. Without doing it, simply check if data exists in `/mnt/fuse`.

[2022-10-05 17:02] LuQQiu commented on #14739
Try with `2.9.0-SNAPSHOT-cbc2008b19d381ba35a81752593759a040084969`
From the master node,
[code]

Alluxio Fuse read is faster than Alluxio CLI read,
@maobaolong can you help verify if this issue still exist in the newest version?

[2022-10-05 17:24] LuQQiu commented on #14739
Mount Fuse with `-o direct_io` cat takes 2s
Mount Fuse with `-o kernel_cache` cat takes 1min

[2022-10-05 17:31] LuQQiu commented on #14739
@maobaolong can you help validate if direct_io option solve the issue, thanks!

[2022-10-05 18:01] Cameronwood611 commented on #16272
Nope it's empty, `alluxio fs mount` does verify it's the root ufs though:  `<hdfs> on  /  (hdfs, not read-only, not shared, properties={alluxio.underfs.version=3.3.4})`

[2022-10-05 18:17] ssz1997 commented on #16272
@Cameronwood611 Another thing I noticed is that the `/training-data` directory is newly created, so supposedly nothing is inside. You mounted this newly created dir to `/mnt/fuse` so there shouldn't be data inside. Try create a dir or file inside `/training-data` and check the mount point.

[2022-10-05 19:50] Cameronwood611 commented on #16272
@ssz1997 Yes, creating a `test` directory within /training-data does show up in /mnt/fuse. I'm still not able to mount hdfs as it outputs the same error

[2022-10-06 00:09] ssz1997 commented on #16272
@Cameronwood611  I think you already mount your hdfs to the root path of Alluxio? Since you already set your hdfs as `alluxio.master.mount.table.root.ufs`.

[2022-10-06 03:11] Cameronwood611 commented on #16272
@ssz1997 Yes I believe that's how I can see everything on hdfs within the alluxio web ui. However, I'd like to be able to point to a path on my file system and pass that data to Docker. My thought was that I would have to use fuse mount and go through that Tensorflow document I referenced initially. I thought I was following the documentation in the correct order but what would be your suggestion?

[2022-10-06 06:26] ssz1997 commented on #16272
@Cameronwood611 If your training data is inside hdfs, you can just use the mount point as a volume. The fs mount command in the doc is for letting Alluxio access the data. Your setting root ufs as your hdfs already served the purpose, so there's no need to mount again.

[2022-10-06 13:54] Cameronwood611 commented on #16272
@ssz1997 Ah ok I understand. Since I could only get see hdfs with the command `alluxio fs ls /` I decided just to remove that mount and do it with fuse. So now I have everything at `/mnt/fuse/hdfs`. Thank you!

[2022-10-06 17:16] HelloHorizon commented on #16194
@flyhighzy do you mind trying the latest master with #16241 to see if it fixes the issue? If the issue insists, feel free to ping @elega /me. You need to set 'alluxio.master.metadata.concurrent.sync.dedup=true' to enable this feature.

[2022-10-06 21:12] nparekh-futurewei commented on #15580
Oh well - which ports did you open? @LiuJiahao0001 ?

[2022-10-06 21:16] #16272 closed

[2022-10-06 21:29] nparekh-futurewei commented on #10359
It is an unhelpful and problematic chain of operations to keep closing multiple threads of complains in a short time with NO resolution and nobody getting alarmed at Alluxio that dozens of issues are filed around the same reason.

Its closing in on 3 years and v2.8.1 right OUT OF THE BOX still shows exact same issue. I am a strong customer and mostly for the poor documentation and a complete lack

[2022-10-06 21:37] np-ftrwei commented on #11985
Flannel checksum is there for a reason. How is this a remedy even let alone a solution? At ebst its a temp hack and its been 2 years Alluxio should have fixed this ...

[2022-10-06 21:39] np-ftrwei commented on #11985
And of course `ethtool -K flannel.1 tx-checksum-ip-generic off` did not fix the issue for me even

[2022-10-06 21:40] np-ftrwei commented on #11985
/reopen

[2022-10-06 22:50] np-ftrwei commented on #14045
Any update?
Same issue with v2.8.1 on a stable new cluster

[2022-10-06 22:55] np-ftrwei commented on #10257
Same issue with v2.8.1.
Setting alluxio.master.mount.table.root.ufs=/mnt/foo etc doesn't work.
Still getting
ERROR ClientMasterSync - Failed to get master address during initialization alluxio.exception.status.UnavailableException: Failed to handshake with master 10.244.1.34:19998 to load cluster default configuration values: UNAVAILABLE: io exception

[2022-10-06 22:59] np-ftrwei commented on #8760
/reopen

Keeps happening with even v2.8.1.

Tried all sorts of baseless "hacks" since there's no "solution" from Alluxio community, @alluxio-bot ...
alluxio.user.metrics.collection.enabled=false
alluxio.master.mount.table.root.ufs=/mnt/foo
save_world_dont_use_alluxio=true

or .. whatever..

Nothing works.

Please help otherwise we tend to feel that this is not a good quality software and not ready

[2022-10-07 04:00] secfree commented on #15486
#16081 updates the metadata of children if listStatus the directory prefetched the metadata, so I will close this issue.

[2022-10-07 04:00] #15486 closed

[2022-10-07 04:07] secfree commented on #15896
It is ok for us to create an empty file under the directory to get around this issue, so I will just close this.

[2022-10-07 04:07] #15896 closed

[2022-10-08 04:09] Haoning-Sun commented on #16269
@yyongycy The permission check of posix is consistent with that of hdfs.

[2022-10-09 03:51] elega commented on #16210
Fixed in https://github.com/Alluxio/alluxio/pull/16219

[2022-10-10 01:52] uniqueZt commented on #16214
i find a bug, and can reproduce.

[2022-10-11 01:35] maobaolong opened #16294 "Alluxio assembly fat jar should not contains hadoop dependencies"
**Alluxio Version:**

master

**Describe the bug**

<img width="526" alt="image" src="https://user-images.githubusercontent.com/17329931/194977568-acc3d72c-2861-4e33-be66-423b290f0c0f.png">

**Expected behavior**

assembly server jar should not contains hadoop dependencies jar

**Urgency**

Urgent

**Are you planning to fix it**

Not sure

**Additional context**

Remove transform related code mayb

[2022-10-11 05:10] takersk commented on #16213
@HelloHorizon @yuzhu
are you in progress???

[2022-10-11 07:33] XuanlinGuan commented on #15922
Thank you， I will check that.

[2022-10-11 10:36] secfree opened #16295 "Reading fails if the connected worker goes down"
**Alluxio Version:**
2.7.1

**Describe the bug**
Reading fails if the connected worker goes down even there are other available workers.

**To Reproduce**
1. Use `copyToLocal` to download a 10g file in an AlluxioWorker node
2. Stop the AlluxioWorker process in the node before `copyToLocal` complete
3. `copyToLocal" fails even there are other available workers

[code]

**Expected behavior**
Reading

[2022-10-12 01:41] maobaolong commented on #16294
@LuQQiu @dbw9580 @jiacheliu3 Would you like to take a look at this issue? Thanks!

[2022-10-13 01:34] maobaolong opened #16309 "Alluxio support dockerfile for arm"
**Is your feature request related to a problem? Please describe.**

We need to deploy alluxio in arm platform

**Describe the solution you'd like**

Modify Dockerfile to support arm and x86 platform both.

**Describe alternatives you've considered**

Modify the Dockerfile-dev

**Urgency**
Urgent

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-10-13 02:10] jiacheliu3 opened #16310 "Partial operation result observed on the standby master"
**Alluxio Version:**
2.8

**Describe the bug**
Some operations in Alluxio create multiple journal entries. If the primary master is killed with some entries flushed but others are not, the new primary will think the operation is completed without realizing part of the operation journal are lost.

For example creating `/abcd` creates following journal entries
[code]
If the primary dies before flush

[2022-10-13 12:56] jiacheliu3 opened #16315 "Directories don't have ufsFingerPrint"
**Summary**
Due to lack of finger print for directories, if their permission has changed in UFS, no metadata sync will be triggered.

**Urgency**
MEDIUM

[2022-10-14 19:25] ssz1997 commented on #15048
@ccy00808 Any updates on this issue? Are you still encountering the problem?

[2022-10-15 14:23] JiamingMai commented on #13333
This limitation comes from early version of OSS. Now it no longer exists.

[2022-10-16 21:21] bobbai00 opened #16328 "The mocked InodeStore cannot be used to get the correct inode in DefaultFileSystemMaster"
**Describe the bug**
I'm running the Unit test for the PR #15578, but continuously failing on the test `BackupManagerTest.rocksInodeStoreIteratorNotUsed`.

When I try to get the inode with ID 0(which is the root inode) using `mInodeStore` of `DefaultFileSystemMaster`, I got an empty Inode, which is the cause of the failure and should be a valid non-empty inode according to the mock constructor of

[2022-10-17 09:12] link89 commented on #12600
According to [this](https://support.mellanox.com/s/article/rdma-improves-alluxio--tachyon--remote-read-bandwidth-and-cpu-utilization-by-up-to-50-x) alluxio already support RDMA (which is built on top of IB),  I think that can be used to speed up the io perf.

[2022-10-17 10:46] Haoning-Sun opened #16331 "Using the go sdk to request the proxy cannot download complete files"
**Alluxio Version:**
2.7.1

**Describe the bug**
Using the go sdk to request the proxy to download files only returns 5mb of data.

**To Reproduce**
Upload a big file and use go sdk to request the proxy to download the file.
[code]

**Expected behavior**
Download complete file.

**Urgency**
Urgency.

**Are you planning to fix it**
Yes.

**Additional context**
Add any other context about the proble

[2022-10-17 23:44] ssz1997 opened #16337 "Helm chart format"
Currently there are multiple ways to indicate the indentation in helm chart templates when using helper.tql, including `indent` in the pipe and indentation inside helper file. Plus whether using the helper file is not consistent even among master and worker. Sometimes whether using the helper file could lead to render error.

We need a consistent rule of the templates. Otherwise it's hard to devel

[2022-10-18 08:42] singer-bin commented on #16099
@flyhighzy look it

[2022-10-18 08:42] singer-bin commented on #16099
![image](https://user-images.githubusercontent.com/26576419/196381668-49e7edc9-a2b2-4cf1-866e-68e41b98f150.png)

[2022-10-18 08:43] singer-bin commented on #16099
![image](https://user-images.githubusercontent.com/26576419/196381863-dad800f1-289e-426f-aeb7-51bf471db897.png)

[2022-10-18 09:27] dbw9580 opened #16342 "`AlluxioFileInStream#positionedRead` is not thread safe"
**Alluxio Version:**
2.8.1

**Describe the bug**
`AlluxioFileInStream` implements `alluxio.client.PositionedReadable`, which requires the implementation be thread safe. The current implementation delegates reading to `BlockInStream`, which again delegates to `DataReader`, and some implementation of `DataReader` e.g. `LocalFileDataReader` is not thread safe.

https://github.com/Alluxio/alluxio/blob

[2022-10-18 09:34] dbw9580 commented on #16342
@apc999 I see your reply in #14645. This causes applications which access Alluxio through the HDFS API to make false assumptions about thread safety. Do we plan to fix this?

[2022-10-18 10:32] yyongycy commented on #14854
can we try to return EBUSY if the file is not completed?
https://man7.org/linux/man-pages/man2/rename.2.html

       EBUSY  The rename fails because oldpath or newpath is a directory
              that is in use by some process (perhaps as current working
              directory, or as root directory, or because it was open
              for reading) or is in use by the system (for example as a

[2022-10-18 14:54] secfree opened #16344 ""FuseException: Unable to mount FS, return code = 3" when using libfuse3"
**Alluxio Version:**
2.7.1 + Most alluxio-fuse related PRs after 2.7.1

**Describe the bug**
I encountered the following exception after setting `alluxio.fuse.jnifuse.libfuse.version=3`.

[code]

In fuse.log, there is

[code]

**To Reproduce**
Set `alluxio.fuse.jnifuse.libfuse.version=3` and do alluxio-fuse mount.

**Expected behavior**
The mount operation should succeed.

**Urgency**
Not urgent

[2022-10-18 15:00] secfree commented on #16344
Just found @LuQQiu fixed this issue 17 hours ago in #16307, I will just close this.

[2022-10-18 15:00] #16344 closed

[2022-10-19 10:35] secfree commented on #14724
Maybe I can share some experience about this issue.

We have several alluxio clusters and there are users accessing it through alluxio-fuse.
Our users encountered the exception `InvalidPathException: Malformed input or input contains unmappable characters` several times when there are files with Chinese character names.
This exception may be thrown from the AlluxioMaster, AlluxioWorker and Alluxio

[2022-10-19 16:37] HelloHorizon commented on #15612
FYI @jingwenouyang

[2022-10-20 03:57] kelvin17 commented on #15580
I have the same issue when i deploy on local mode.
the master is OK，but  the worker start faild.
the worker.log is
`2022-10-20 10:58:58,395 WARN  RetryUtils - Failed to load cluster default configuration with master (attempt 8): alluxio.exception.status.UnavailableException: Failed to handshake with master localhost:19998 to load cluster default configuration values: UNAVAILABLE: io exception
2022

[2022-10-20 10:53] Haoning-Sun commented on #15612
#16368

[2022-10-23 14:35] jiacheliu3 opened #16381 "Define how certain operations and threads crash the master"
**Summary**
Currently some operations will crash the master on failure with `ProcessUtils.fatalError()` and that may trigger a deadlock with the following sequence
[code]

The above issue has been fixed by https://github.com/Alluxio/alluxio/pull/15699 but that tells us that directly crashing and relying on the shutdown hook can be a bad idea.

A better choice can be to throw a certain AlluxioRunti

[2022-10-24 02:56] takersk opened #16384 "hadoop kerberos error occurred when alluxio.user.file.create.ttl declaring 24hour"
**Alluxio Version:**
2.8.0

**Describe the bug**
case01 => kerberos init is abnormal
[code]

case02 => kerberos init ok!! (24 hour cycle)
[code]

**To Reproduce**
Intermittent error occurrence in a 24-hour cycle

**Expected behavior**
kerberos init ok!!

**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to fix it**
Please indicate if you are already working on a PR.

**Ad

[2022-10-24 04:54] othmanequarati opened #16385 "Deploy Alluxio on a Cluster with HA"
**Page**
[Link to check](https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-a-HA-Cluster.html)

**Summary**
I would like to know if there is no problem with deleting that line on Cluster HA but not on a Clust with single master
alluxio.master.mount.table.root.ufs=<STORAGE_URI>
![image](https://user-images.githubusercontent.com/6152413/197450969-0a2d9276-75fa-496f-87bd-fda31c26545a

[2022-10-24 18:20] #14724 closed

[2022-10-24 18:25] tcrain commented on #16381
Maybe to note, the appropriate exception to throw seems to be alluxio.exception.runtime.InternalRuntimeException

[2022-10-25 01:14] ssz1997 commented on #15048
Offline synced. It's not a problem any more.

[2022-10-25 01:14] #15048 closed

[2022-10-25 07:20] tokingHong commented on #14061
I think there are two ways to solve it:

Fist is that all workers report to all masters .
Second is that the BlockLocation change state can be appended to Journal.

Do you have any suggestions? Thanks~

[2022-10-25 22:34] jenoudet commented on #15181
Hello @lucaspeng12138, thank you for your patience. Is this still an issue for you?

[2022-10-25 23:28] maobaolong commented on #14061
@tokingHong Thanks for the idea！But journal the block location can be an expensive operation, it's not friendly for performance

[2022-10-26 03:34] #16295 closed

[2022-10-26 03:37] tokingHong commented on #14061
I notice that the Block are journaled, and Block Location have a same quantity. So I think we can have a try.
But considering the Block Location is easily changed especially when workers register or lost. We may optimize this case.

[2022-10-26 15:05] maobaolong opened #16399 "Client deadlock"
**Alluxio Version:**
master branch

**Describe the bug**

Client DeadLock

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**

Urgency

**Are you planning to fix it**

Not sure

**Additional context**

"config-hash-master-heartbeat-0" called mReinitiali

[2022-10-27 06:21] #16385 closed

[2022-10-27 06:30] adol001 opened #16403 "Create file successfully, but with wrong ufs?"
**Alluxio Version:**
2.8.1

**Describe the bug**
Create file successfully, but with wrong ufs.

<img src="https://user-images.githubusercontent.com/15359410/198186520-8fd0f741-c988-4172-b2b2-b31adee6fc2d.jpg" width="70%">
As shown in the figure, although client2 finally completed the file successfully, the ufs has been replaced.

The client can‘t create a path that already exists an incomplete fil

[2022-10-27 16:44] vimalKeshu opened #16405 "Improve the search of worker without block in alluxio.job.plan.load.LoadDefinition"
**Summary**
In code, at line no.: https://github.com/Alluxio/alluxio/blob/branch-2.8/job/server/src/main/java/alluxio/job/plan/load/LoadDefinition.java#L169
collects the block locations as list which later at line no. https://github.com/Alluxio/alluxio/blob/branch-2.8/job/server/src/main/java/alluxio/job/plan/load/LoadDefinition.java#L174 being used to check block workers are contained in the list

[2022-10-28 04:58] maobaolong opened #16411 "Need a master page show masters informations like worker page"
**Is your feature request related to a problem? Please describe.**

Now, we have no master page, user cannot get masters state by webui, when a master lost, we cannot know the lost time.

**Describe the solution you'd like**

We can get masters info from the following objects within DefaultMetaMaster.java
[code]

We can display the MasterInfo like the following part.

[code]

**Describe alternativ

[2022-10-28 04:59] maobaolong commented on #16411
@lucaspeng12138 Would you like to take this tickets?

[2022-10-28 07:42] lucaspeng12138 commented on #16411
Yes, I will work on this issue!

[2022-10-28 08:57] StephenLau007 opened #16412 "[BUG]Alluxio fuse copy minio file very slow"
**Alluxio Version:**
What version of Alluxio are you using?
Kubernetes version: v1.20.15
Fluid version:fluid-0.8.1
rancher version: v2.6.6
**Describe the bug**
A clear and concise description of what the bug is.
I deployed the alluxio cluster through fluid. The alluxio integrated the minio cluster and deployed the application pod. When I used fuse to copy the mino files through the application pod

[2022-10-28 18:34] yuyang733 opened #16413 "The worker's client resource pool is exhausted, causing a read-write deadlock"
**Alluxio Version:**
Alluxio 2.4.0+

**Describe the bug**

`alluxio.user.block.worker.client.pool.max` is restricted to the 1024. When the file being written exceeds the size of 1024 blocks, all read and write operations from the client will be blocked.

I took a closer look at the code and found that each DataWriter holds a connection related to a `BlockOutStream`.

<img width="835" alt="截屏2022-1

[2022-10-29 06:34] woshikaykay opened #16415 "关于开源云原生数据编排"
希望云原生数据编排平台可以提供更好的开放平台，非常高大上！加油！

[2022-10-29 06:34] sdf2a1a opened #16416 "开源感受"
第一次关注接触数据编排技术，虽然不是很懂，感觉很牛逼的样子。

[2022-10-29 06:56] BtXin opened #16417 "开源建议"
如果安装的地方有helm chart可以直接装进kubernetes里就更好了

[2022-10-29 07:04] softxdlm opened #16418 "祝贺"
祝贺社区越来越好

[2022-10-29 07:14] a507912274 opened #16419 "集成"
结合，跨数据平台，使用例子

[2022-10-29 07:18] yuchen202 opened #16420 "Hello Alluxio"
Thank you Alluxio

[2022-10-29 07:22] uaanaa opened #16421 "祝福"
希望alluxio越做越好

[2022-10-29 07:57] MileyFu opened #16422 "Hello looking forward to future cooperation"
**Page**
possible cooperation with wasm runtime?

**Summary**

[2022-10-29 07:59] aheizi opened #16423 "hello"
**Page**
Include the link to the page you are reporting a defect

**Summary**
What is the defect and suggested improvement

[2022-10-29 08:06] youyouxiatian opened #16424 "hello alluxio"
666

[2022-10-29 08:09] lovangry opened #16425 "祝贺"
**Page**
Include the link to the page you are reporting a defect

**Summary**
What is the defect and suggested improvement

[2022-10-29 08:35] yankaics opened #16426 "test"
nice

[2022-10-29 09:03] MrLeea-13155bc opened #16427 "looks good"

[2022-10-29 09:38] ShaoRuiqi opened #16428 "good"
**Page**
Include the link to the page you are reporting a defect

**Summary**
What is the defect and suggested improvement

[2022-10-29 09:40] pichainmall0 opened #16429 "Hood"
**Page**
Include the link to the page you are reporting a defect

**Summary**
What is the defect and suggested improvement

[2022-10-29 09:41] FlanReazy opened #16430 "really good"

[2022-10-29 09:44] wsatu opened #16431 "hello, nice to meet you, alluxio"
第一次在COSCON'22见面

[2022-10-29 09:53] Kkkkkkkkali opened #16432 "pretty well"
**Page**
Include the link to the page you are reporting a defect

**Summary**
What is the defect and suggested improvement

[2022-10-29 10:00] prnake opened #16434 "good"
**Summary**
Describe the tech debt

**Urgency**
Explain why it is important to address the tech debt

[2022-10-29 10:02] yankaics opened #16435 "hello"
test

[2022-10-30 11:51] #16427 closed

[2022-10-31 01:34] maobaolong commented on #16399
This seems have been resolved by recent PR.

[2022-10-31 01:34] #16399 closed

[2022-10-31 01:38] maobaolong commented on #16417
There have been helm chart already. https://github.com/Alluxio/alluxio/blob/master/integration/kubernetes/helm-chart/README.md

[2022-10-31 01:38] #16417 closed

[2022-10-31 09:16] #16434 closed

[2022-10-31 15:32] Joegardner11 opened #16439 "Move related class AlluxioRemoteLogFilter into package alluxio.logserver, ConcurrentIdentityHashMap into package alluxio.grpc"
**Issue Description**

Package **_alluxio_**, and **_alluxio.collections_** group together miscellaneous classes that might be useful to different packages. The package structure violates the “high cohesion and low coupling” design rules. I found that class **_AlluxioRemoteLogFilter_** and **_ConcurrentIdentityHashMap_** are not used by classes in their package, but strongly interact with classes

[2022-10-31 23:48] #16415 closed

[2022-10-31 23:48] #16416 closed

[2022-10-31 23:48] #16418 closed

[2022-10-31 23:48] #16419 closed

[2022-10-31 23:48] #16420 closed

[2022-10-31 23:48] #16421 closed

[2022-10-31 23:48] #16423 closed

[2022-10-31 23:48] #16424 closed

[2022-10-31 23:48] #16425 closed

[2022-10-31 23:48] #16426 closed

[2022-10-31 23:48] #16428 closed

[2022-10-31 23:48] #16429 closed

[2022-10-31 23:48] #16430 closed

[2022-10-31 23:48] #16431 closed

[2022-10-31 23:48] #16432 closed

[2022-10-31 23:48] #16435 closed

[2022-10-31 23:48] #16422 closed

[2022-10-31 23:48] yuchen202 commented on #16420
收到了，谢谢

[2022-11-01 00:11] LuQQiu commented on #16403
@yuzhu PTAL, thanks

[2022-11-01 07:55] ElapsedSoul opened #16442 "Get a error work server address with hostname and ip when running locally"
**Alluxio Version:**
What version of Alluxio are you using?
2.8.1

**Describe the bug**
A clear and concise description of what the bug is.

Action as https://docs.alluxio.io/os/user/stable/en/overview/Getting-Started.html
but get a problem
[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

when I do as the url
[code]

**Expected behavior**
A clear a

[2022-11-01 08:07] ElapsedSoul commented on #16442
add
[code]

[2022-11-01 11:12] kuszz opened #16444 "Not cache status after getParsedFingerprint in InodeSyncStream."
**Alluxio Version:**
latest

**Describe the bug**
We getParsedFingerprint when cachedStatus == null, and getStatus in getParsedFingerprint, but not cache status.

`try {
        cachedStatus = mStatusCache.getStatus(inodePath.getUri());
      } catch (FileNotFoundException e) {
        fileNotFound = true;
      }
      MountTable.Resolution resolution = mMountTable.resolve(inodePath.getUri());

[2022-11-01 13:08] maobaolong opened #16446 "Support specify jvm arguments and env variables for mount points"
**Is your feature request related to a problem? Please describe.**

We should support specify jvm arguments and env variables  for mount points, so that each ufs can have different envirenment.

**Describe the solution you'd like**

Support specify env and jvm args for mount command

**Describe alternatives you've considered**

Modify the mount info

**Urgency**

Yeah

**Additional context**

Not

[2022-11-02 00:06] LuQQiu commented on #16412
Probably related to MinIO UFS implementation, looks like slow to get minIO data for the first time

[2022-11-02 03:16] ElapsedSoul commented on #16442
I had found that there is a ```0.0.0.0 localhost``` in ```/etc/hosts```, after delete that, the problem resolved.

[2022-11-02 03:16] #16442 closed

[2022-11-02 08:51] maobaolong commented on #16446
@kuszz Would you like to take a look at this PR?

[2022-11-02 11:42] kuszz commented on #16446
ok

[2022-11-02 12:29] qian0817 commented on #16446
What‘s the difference from the existing command `alluxio fs mount xxx --option key=value`

[2022-11-03 03:38] SeananXu commented on #16194
I didn't reproduce the above problem according to your solution,  When will an official version be released?

[2022-11-03 03:39] HelloHorizon commented on #16194
@SeananXu Thank you for confirmation. We will release 2.9 in one/two weeks

[2022-11-03 06:33] kuszz commented on #16446
Hello, I think the --option is used for AlluxioConfiguration, and --propertry will be used for System.property, as line 174 in HdfsUnderFileSystem.java. And we find the System.pros is sharing between different HdfsUnderFileSystem object, it seems wrong at line 174, do you have some good ideas?
[code]

[code]

[2022-11-03 10:31] secfree commented on #13938
We met the same issue in one of our Alluxio clusters.
The logic of calculating `Cluster.CacheHitRate` is here: https://github.com/Alluxio/alluxio/blob/master/core/server/master/src/main/java/alluxio/master/metrics/MetricsStore.java#L221

Here is a simple way to trigger this issue
1. Restart AlluxioMaster to clear existing metrics
2. Use `alluxio fs copyToLocal` to read a small file, then `BytesRea

[2022-11-03 10:39] secfree commented on #13938
An idea to resolve this issue
- Record the number of `BlocksHit` blocks in worker. For a block reading request, if the worker does not need to read it from UFS, then increase the value of `BlocksHit`.
- `CacheHitRate = BlocksHit / BlocksAccessed`

@yuzhu what do you think about this? If you don't mind, I will try this. Thank you.

[2022-11-03 14:02] tokingHong opened #16468 "Set Replicate Fail"
**Alluxio Version:**
2.8.1

./bin/alluxio fsadmin report jobservice

then get a job

Timestamp: 11-03-2022 21:35:25:825       Id: 1666166072405       Name: Replicate           Status: COMPLETED

ID: 1666166072405
Name: Replicate
Description: SetReplicaConfig{blockId=95948898304, path=/tttag/test2.txt, replicas=2}
Status: COMPLETED
Task 0
	Worker: xxxxx
	Description: SetReplicaTask{mode=REPLICATE}

[2022-11-03 14:05] tokingHong commented on #16468
@jja725   help

[2022-11-03 14:46] #14970 closed

[2022-11-03 19:25] #16405 closed

[2022-11-04 03:00] jiacheliu3 opened #16473 "Repeated get ACL from UFS"
**Summary**

In InodeSyncStream, when an inode does not exist, it will first be loaded from UFS then sync-ed.
https://github.com/Alluxio/alluxio/blob/140497bfdd0632d863fd14a4027863667c685105/core/server/master/src/main/java/alluxio/master/file/InodeSyncStream.java#L726
[code]

First the loadFileMetadataInternal() will ask for ACL
[code]
https://github.com/Alluxio/alluxio/blob/140497bfdd0632d863fd1

[2022-11-04 06:53] jiacheliu3 commented on #16229
Two other metrics that are potentially relevant:
[code]

[2022-11-07 00:43] takersk commented on #16213
@HelloHorizon @yuzhu have you miss this issue? please check again

[2022-11-07 00:47] takersk commented on #16384
The same issue occurred intermittently. close this issue!!

[2022-11-07 00:47] #16384 closed

[2022-11-07 07:43] jiacheliu3 commented on #16444
Hi @kuszz I don't quite understand why there is `syncExistingInodeMetadata -> loadMetadataForPath`? Is there a stacktrace or event sequence how that happens? Thanks!

[2022-11-07 08:07] jiacheliu3 commented on #16473
@tcrain Could you take a look at this? Also @kuszz is this on the same thread for your PR https://github.com/Alluxio/alluxio/pull/16445#pullrequestreview-1169924283 ?

[2022-11-07 14:50] jiacheliu3 commented on #15548
@ssz1997 can this be closed?

[2022-11-07 16:55] ssz1997 commented on #15548
Solved by https://github.com/Alluxio/alluxio/pull/15637

[2022-11-07 16:55] #15548 closed

[2022-11-08 01:50] maobaolong opened #16491 "Reinit client side cluster config hash failed"
**Alluxio Version:**

Master branch

**Describe the bug**

Log file is full of the `The interval of Master Replication Check updated to 60000`

**To Reproduce**

Just start master.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to fix it**
Please indicate if you are already working

[2022-11-08 02:03] maobaolong commented on #16491
@chunxiaozheng would you like to take this issue?

[2022-11-08 02:03] chunxiaozheng commented on #16491
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-11-08 03:51] StephenRi opened #16497 "OSS UnderFileSystem support multipart upload"
**Is your feature request related to a problem? Please describe.**
For now, oss upload have a pool upload performance.

**Describe the solution you'd like**
multipart upload to speed up the upload of OSS ufs

**Describe alternatives you've considered**
use ossClient.uploadPart

**Urgency**
for high performance

#16498

[2022-11-08 08:09] secfree commented on #16229
@dbw9580 may I know if there is a ETA for the PR to resolve this issue? Our clusters have very big values of "Worker.ActiveClients", and we have backported #14088.

[2022-11-08 08:45] jiacheliu3 commented on #15468
@maobaolong Any plan to update the doc? Thx!

[2022-11-08 09:06] dbw9580 commented on #16229
@secfree I'm not actively working on this, so feel free to come up with a PR to fix any metric you find incorrect.

For `Worker.ActiveClients` specifically, I had a little investigation [here](https://github.com/Alluxio/alluxio/issues/16229#issuecomment-1255876281), but I suspect there're more subtle places where this metric is not correctly updated.

[2022-11-08 09:09] secfree commented on #16229
@dbw9580 thanks for your information.

[2022-11-08 13:59] vimalKeshu opened #16502 "Improve job worker health report"
**Summary**
Restructure the worker health report class so user of the class can get the worker health report at the point in time plus it will be easy to add many more system information to calculate the worker health.
**Urgency**
Yes

[2022-11-08 14:26] vimalKeshu commented on #16502
hi @jja725, @rongrong
The end goal is to use Alluxio config param, alluxio.job.worker.throttling, to throttle the under performing job worker so user of the Alluxio cluster won't need to restart it manually to make the cluster normal.
I have restructured/made it open the job worker health report calculation class for future enhancements plus it can provide the worker health information point in ti

[2022-11-09 07:26] jiacheliu3 opened #16506 "Configuration.getEnum is slow"
**Summary**
In a recent test we captured CPU flame graph from concurrent metadata sync (and inode creation) of large directories.

A lot CPU is observed to be spent on Configuration.getEnum()

Around 0.5% of CPU
![image](https://user-images.githubusercontent.com/14806853/200766298-e213d502-b2d2-4374-a758-27e90053814c.png)

Around 2.6% of CPU are majorly spent around getEnum
![image](https://user-i

[2022-11-09 09:02] #13984 closed

[2022-11-09 09:02] yangjf2019 commented on #13984
close

[2022-11-09 09:26] StephenRi opened #16509 "Failed to read after persist"
**Alluxio Version:**
Master branch

**Describe the bug**
When I am reading through AlluxioFileInStream, and a persist request is processed, read may fail.

**To Reproduce**

There are at least 2 conditions for this bug:
1. open FileInStream before persist, and read after persisted and blocks are evicted, the exception is one of the following:
1.1. UnavailableException: Block .* is unavailable in b

[2022-11-09 09:36] StephenRi opened #16510 "Support STS client for OSS UFS"
**Is your feature request related to a problem? Please describe.**
Plaintext AccessKey/AccessSecret is not safe.
Now Aliyun recommend to use STS client for OSS, which is more safe. For details, see https://help.aliyun.com/document_detail/32016.html

**Describe the solution you'd like**
Use STS client for OssUnderFileSystem.

[2022-11-09 10:05] StephenRi opened #16511 "Skip duplicated persist request"
**Is your feature request related to a problem? Please describe.**

Persist operation does not remove duplicates. Multiple persist request for the same file may be processed at the same time.

**Describe the solution you'd like**

For each file, only one persist request can be processed at the same time.

[2022-11-09 13:11] maobaolong commented on #15468
My debt will do these week

[2022-11-10 12:25] qian0817 opened #16528 "Worker memory leaks when submit to the block writer thread pool are rejected"
**Alluxio Version:**
2.7.3

**Describe the bug**
Take a write request as an example.
If the `mSerializingExecutor` is full and throw a `RejectedExecutionException`, the buffer will not release and cause memory leak.
![image](https://user-images.githubusercontent.com/45898769/201089824-e33f813f-5a9c-4a91-9127-83ec7504f6e0.png)

If the `mSerializingExecutor` is full and throw a `RejectedExecutionExc

[2022-11-10 20:09] jpohanka commented on #11208
@apc999 Has there been any progress on this feature?

[2022-11-14 06:41] itlab1024 commented on #15580
do you fixed the issue? i have the same issue 2.8

[2022-11-14 06:50] itlab1024 commented on #15463
@allenhaozi how to resove the iisue plz?

[2022-11-14 11:35] uniqueZt commented on #16214
<img width="753" alt="image" src="https://user-images.githubusercontent.com/42279207/201650225-dad28a12-7d99-4b99-ae5f-de905834dbc6.png">
this can fix lock leak!!!

[2022-11-14 11:36] uniqueZt commented on #16214
code in lock pool

[2022-11-15 12:03] #15465 closed

[2022-11-17 00:58] HelloHorizon commented on #16528
@yuzhu can you take a look?

[2022-11-18 00:40] HelloHorizon commented on #16528
@dbw9580 do you think this one relates to #16512 ?

[2022-11-18 02:55] TomPkuer opened #16563 "Somthing exceptions when using flink on alluxio"
**Alluxio Version:**
v2.8.1,v2.8.0

**Describe the bug**
I am using flink to write to alluxio in real time ,also using spark to write to alluxio for batch tasks.the target ufs is hdfs(3.0.0-cdh6.2.1)
The spark tasks are fine.But the data writen by flink could not be persisted and the exception log from job_worker is follows:

_TaskExecutor - Exception running task for job Persist(Undefined) : Dest

[2022-11-18 07:44] donghucey opened #16565 "alluxio-fuse do not support GPUDirect Storage"
**Is your feature request related to a problem? Please describe.**

when I read data  in  alluxio by alluxio-fuse with  GPUDirect Storage method，result is error。

some fuse support gds，like this。

https://www.beegfs.io/c/beegfs-now-supports-nvidia-magnum-io-gpu/

[2022-11-19 00:21] HelloHorizon commented on #16565
@donghucey we don't support the RDMA thus it's hard for us to support GPUDirect. FYI @LuQQiu

[2022-11-19 00:25] HelloHorizon commented on #16563
@TomPkuer Alluxio doesn't fully support the Flink since it needs append for many functions. Because of that, we don't have any tests that cover this use case

[2022-11-19 10:21] #16331 closed

[2022-11-20 08:14] tokingHong opened #16571 "job master no HA"
I notice that job master use raft/zk .But there is no raft log. Does it means job master may lose job if restart?

[2022-11-20 08:19] duduhandelman commented on #12704
Thanks you very much @naushadh
I would like to build 2.9.0 docker for ARM, Anything special I should consider before that?

Thanks
David

[2022-11-21 05:18] dbw9580 commented on #16528
Seems https://github.com/Alluxio/alluxio/pull/11310 fixed the problem on the read path, but on the write path the same problem is still there. Will take a closer look into the write path to make sure a similar fix can solve this issue.

https://github.com/Alluxio/alluxio/pull/16512 tries to address the general case where a buffer is left unreleased. I don't think #16512 can be a direct fix for thi

[2022-11-21 10:46] secfree commented on #14413
I want to add one metric like `BlockReaderThreadActiveCount`, so I did some tests.

I am using `alluxio-2.7.1`. In my case, the value of `BlockReaderThreadActiveCount` is normal (which is not zero)

![2022-11-21_17-46-30](https://user-images.githubusercontent.com/7149512/203030741-e92521ba-6ab0-4dea-bd6e-1350e7b57e7e.png)

For the test case `bin/alluxio distributedLoad` mentioned by @ZhuTopher, th

[2022-11-24 01:44] maobaolong commented on #16403
Interesting question.

[2022-11-24 01:48] shaolei7788 opened #16581 "The fuse pod will restart every few days"
**Alluxio Version:**
alluxio 2.8.1

**Describe the bug**
The fuse pod will restart every few days . it shows unable to umount fuse

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
The fuse pod will restart every few days

**Urgency**
high

**Are you planning to fix it**
I can't find a specific reason

**Additional context**

![image]

[2022-11-25 04:14] jiacheliu3 commented on #16491
@maobaolong Could you update this issue with more details? I don't really see what the issue is. Thx :)

[2022-11-25 04:14] #16491 closed

[2022-11-25 04:15] #13763 closed

[2022-11-25 13:03] dbw9580 opened #16584 "Doc on configuration source priority contradicts with source code"
The [doc](https://docs.alluxio.io/os/user/2.8.1/en/operation/Configuration.html#configuration-sources) on the priorities of different configuration sources contradicts with the source code:

https://github.com/Alluxio/alluxio/blob/a7b33a3c04a9c50264d89d7d78824366cea8b6f4/docs/en/operation/Configuration.md?plain=1#L181-L194

https://github.com/Alluxio/alluxio/blob/a7b33a3c04a9c50264d89d7d78824366ce

[2022-11-29 03:14] jianghuazhu opened #16592 "[DOCFIX]Modify some inappropriate descriptions in FAQ.md"
There are some inappropriate descriptions in FAQ.md, such as:
![image](https://user-images.githubusercontent.com/6416939/204429885-13d23c47-5955-42a2-8fb5-6df6d0facff3.png)

I think it can be modified to make FAQ.md more complete.

[2022-11-29 03:15] jianghuazhu commented on #16592
I'll be submitting a pr soon and try to fix it.

[2022-11-29 05:53] henrywangx commented on #15232
Looks like the `alluxio getConf` has bug. It doesn't use the env. But the parameters from env should work.
This issue also confused me a lot. @zhaohainan666

[2022-11-29 12:22] #16502 closed

[2022-11-30 00:31] arunthirupathi opened #16596 "Alluxio metrics are missing from Presto"
**Alluxio Version:**
2.8.1

**Describe the bug**
After Presto 278 release upgraded Alluxio version from 2.7.3 to 2.8.1 Cache JMX metrics are gone

**To Reproduce**
Deploy the Presto version 278

**Expected behavior**
Cache metrics are still present

**Urgency**
HIGH, this makes the operability hard as we don't know what is the cache hit rate.

**Are you planning to fix it**
I looked around the cod

[2022-11-30 03:31] secfree opened #16598 "alluxio-fuse created a file but did not trigger completeFile"
**Alluxio Version:**
2.7.1 (We have backported most alluxio-fuse related PRs after this version)

**Describe the bug**

Read the file failed from an alluxio-fuse mount path

[code]

fuse.log has the following content

[code]

"lsof |grep test.ipynb" shows that there is no program opening this file.

master_audit.log has "createFile" and "getNewBlockIdForFile", but it does not have "completeFile"

[2022-11-30 03:41] yyongycy commented on #16598
@LuQQiu  any idea about this failure?

[2022-11-30 13:52] yyongycy commented on #16598
had you searched the whole log to see if there are other exception or error?

[2022-11-30 23:47] beinan commented on #16596
@JiamingMai could you help take a look?  Thanks!  I think this issue is talking about the metrics of local cache on prestodb