[2022-03-02 02:14] jiacheliu3 commented on #14209
@HelloHorizon @ZhuTopher  The design doc has passed review and #14258 is in progress.

[2022-03-02 02:28] liangrui1988 commented on #15034
3. I've verified that it can be switched.But if you stop one more, you can't cut, which means you have to have two active machines to run the whole cluster, right?If you have to, you'd better document it, otherwise it's a big problem,

[2022-03-02 02:29] #15041 closed

[2022-03-02 07:43] Nizifan commented on #15019
[fuselog.txt](https://github.com/Alluxio/alluxio/files/8167569/fuselog.txt) fuse debug log
[jstack (1).txt](https://github.com/Alluxio/alluxio/files/8167618/jstack.1.txt) master jstack

This issue happen again, fuse will be stuck in reading it without any error. I think we should at least we should fix this.
73576958    PERSISTED 01-16-2022 11:41:55:547 93% /hdfstest-global/20220115/part-28329.gz

[2022-03-02 08:18] Nizifan opened #15089 "Fuse reuse other Alluxio‘s socket cause I/O error when other Alluxio exit"
**Alluxio Version:**
2.7

**Describe the bug**
I have running Alluxio instance created via fluid, named A(ziyue-train) and B(hdfstest-global).
I restart the Alluxio instance B, and immediately receive I/O error from A's fuse.

In log I see the socket is toward instance B, and afterwards read/write is correct.

I am not sure if they are related, copy some log there:
The full log:

[root@train-28886

[2022-03-02 09:03] Nizifan commented on #15026
[
[fuse-jstack-ufs-3.txt](https://github.com/Alluxio/alluxio/files/8168166/fuse-jstack-ufs-3.txt)
jstack-worker-ufs3.txt](https://github.com/Alluxio/alluxio/files/8168161/jstack-worker-ufs3.txt)
[jstack-worker-ufs2.txt](https://github.com/Alluxio/alluxio/files/8168162/jstack-worker-ufs2.txt)
[jstack-worker-ufs1.txt](https://github.com
[fuse-jstack-ufs-1.txt](https://github.c
[fuse-jstack-ufs-2.txt

[2022-03-02 09:29] Nizifan commented on #15019
[fuse-jstack-cache-3.txt](https://github.com/Alluxio/alluxio/files/8168361/fuse-jstack-cache-3.txt)
[fuse-jstack-cache-2.txt](https://github.com/Alluxio/alluxio/files/8168363/fuse-jstack-cache-2.txt)
[fuse-jstack-cache-1.txt](https://github.com/Alluxio/alluxio/files/8168364/fuse-jstack-cache-1.txt)
[jstack-worker-cache3.txt](https://github.com/Alluxio/alluxio/files/8168365/jstack-worker-cache3.txt

[2022-03-02 18:47] jenoudet commented on #15048
My suggestion would be to look at the `MasterInquireClient`. Currently, an Embedded Journal deployment uses the `PollingMasterInquireClient` to poll masters to see if they are the leader. A new `RaftInquireClient` could be created using a `RaftClient` to poll the quorum for the leader information.

[2022-03-03 02:59] LuQQiu commented on #15019
@Nizifan i took a look the fuse logs and master jstack, didn't find anything special.
Can we get the whole cluster log and worker jstack as well?

[2022-03-03 03:51] LuQQiu commented on #15019
is those jstacks related to https://github.com/Alluxio/alluxio/issues/15026?

[2022-03-03 03:56] LuQQiu commented on #15026
[fuse-jstack-cache-3.txt](https://github.com/Alluxio/alluxio/files/8168361/fuse-jstack-cache-3.txt)
[fuse-jstack-cache-2.txt](https://github.com/Alluxio/alluxio/files/8168363/fuse-jstack-cache-2.txt)
[fuse-jstack-cache-1.txt](https://github.com/Alluxio/alluxio/files/8168364/fuse-jstack-cache-1.txt)
[jstack-worker-cache3.txt](https://github.com/Alluxio/alluxio/files/8168365/jstack-worker-cache3.txt

[2022-03-03 04:00] LuQQiu commented on #15026
jstack-worker-cache1: 30 BlockDataReaderExecutor thread
one of the BlockDataReaderExecutor blocks other six BlockDataReaderExecutor
[code]
Those be blocked
[code]
12 block-worker-executor

[2022-03-03 04:06] Nizifan commented on #15019
Ok yes, seem I copy it to wrong place!

[2022-03-03 04:27] LuQQiu commented on #15019
@beinan if a worker block is flaky or broken, reading from this flaky/broken block from disk may hang forever. Do you have ideas about whether this scenario is possible to happen in the current implementation? and if it's possible, do we have fallback mechanism to prevent forever hanging (client cannot read the block and client operations towards to block hangs)

[2022-03-03 04:37] LuQQiu commented on #15026
jstack-worker-ufs1
6 block data reader executor, 4 blocked, 2 running
ufs2, total 7, 3 waiting, 4 reading
ufs3, total 7, 1 waiting, 6 reading

[2022-03-03 10:31] liangrui1988 commented on #15083
This configuration should be configured in metasotre service, the document is not clear and clear, I configured spark and Hadoop for a long time, but did not work, the result is to configure metaStore core-site. XML

[2022-03-03 14:44] Nizifan commented on #15017
@LuQQiu according to my former experiment,  the log does not disappear when the fuse is still serving.
But when it hit transport not connected, the log just disappeared.

I may try to save the log in fuse process when crash is detected.

[2022-03-03 17:55] apc999 commented on #9790
this feature is at a large scope and requires a lot of change. it is not planned so far.
I will update the community when this becomes priority

[2022-03-03 17:55] #9790 closed

[2022-03-03 19:10] ZhuTopher commented on #12277
@madanadit @jiacheliu3 Since this issue seems to be popping up again and again, let's revive this discussion.

As Jiacheng mentioned there will be no way to ensure correct behaviour across all k8s tools (present and future) unless this is addressed properly. If we are not willing to break backwards compatibility in Alluxio (which is understandable), we can make it an opt-in rolling upgrade to enab

[2022-03-03 19:26] HelloHorizon commented on #15083
Thanks @liangrui1988 for reporting! Do you mind helping update the doc based on your finding?

[2022-03-03 19:29] HelloHorizon commented on #15079
@LuQQiu can you take a look?

[2022-03-03 20:17] HelloHorizon commented on #14908
@yyongycy can you take a look?

[2022-03-03 22:29] ZhuTopher commented on #12277
Discussed wth @madanadit, here's a compromise that should be minimally impactful:
1. Add the `KiB`/`MiB`/`GiB`/`TiB` suffix to Alluxio's parsing and map them to be identical to the existing `KB`/`MB`/`GB`/`TB` mappings.
2. Specify that all users of the Alluxio in a K8s environment (Helm or otherwise) should use the 2-bit based notation for any storage sizes, as this is the _only_ interpretation Al

[2022-03-03 22:51] HelloHorizon commented on #15069
I don't think Apache Spark supports the temp data in an external system, you can check with the Spark community for a more accurate response.

[2022-03-03 22:51] #15069 closed

[2022-03-07 03:49] timmylicheng commented on #12600
Any updates on this?

[2022-03-07 12:09] xichen01 commented on #9457
@apc999 whether to provide a command to delete lost workers? such as using the command `alluxio fsadmin deleteLostWoker workerAddress1` to delete the workerAddress1 of the worker or just add a property key to retire lost workers from Master.

[2022-03-07 19:08] HelloHorizon commented on #14015
@dbw9580 what is the current status of this issue?

[2022-03-08 00:24] LuQQiu commented on #15026
From the jstack, could not find obvious information.
Based on your previous feedback, maybe some of the workers/fuse read fast but some are relatively slow?

[2022-03-08 08:40] dbw9580 commented on #14015
@HelloHorizon This has been addressed by #14842. By using a local UFS and specifying the write type as `MUST_CACHE`, the benchmark can effectively work without a UFS.

We have not tested the new option extensively, so maybe leave this issue open until we have some feedback from community. cc @maobaolong

[2022-03-09 01:29] ggezer opened #15119 "Cancelling FileOutStream should delete the file"
**Is your feature request related to a problem? Please describe.**
It is possible for a write stream to not be completed and end up being cancelled.
In this case, Alluxio fs client will leave incomplete files in the namespace.

**Describe the solution you'd like**
Cancelling an active write stream should make an additional meta call to delete the file from Alluxio.

**Describe alternatives you've

[2022-03-09 13:47] harris233 opened #15122 "No support hdfs(viewfs) as the external filesystem when Alluxio local cache is used"
**Alluxio Version:**
2.7.2

**Describe the bug**
When you use presto + alluxio local cache + hdfs(not alluxio cluster), this exception will happen.
hdfs is not supported as the external filesystem
<img width="1156" alt="image" src="https://user-images.githubusercontent.com/48636225/157449982-e87c6ecd-5c99-4f09-80ba-6522dffe9cc8.png">
![image](https://user-images.githubusercontent.com/48636225/1574

[2022-03-09 15:27] dbw9580 commented on #15003
Tracking list of modules that are using PowerMock:

- [ ] `alluxio-core-client-fs`
- [ ] `alluxio-core-client-hdfs`
- [ ] `alluxio-core-common`
- [ ] `alluxio-core-server-master`
- [ ] `alluxio-integration-fuse`
- [ ] `alluxio-integration-tools-validation`
- [ ] `alluxio-job-server`
- [x] ~`alluxio-shell`~ #15091
- [ ] `alluxio-table-server-common`
- [ ] `alluxio-table-server-master`
- [ ] `alluxi

[2022-03-09 21:06] ssz1997 opened #15125 "Dirs in mount point is not accessible after AlluxioFuse mount"
**Alluxio Version:**
Master branch

**To Reproduce**
1. Run command `mkdir /mnt/alluxio-fuse` as root. The owner and group of the dir is root.
2. Run command `integration/fuse/bin/alluxio-fuse mount /mnt/alluxio-fuse / /`.
3. Owner of the dirs inside `/mnt/alluxio-fuse` is 65534 (nobody), and no user is able to access the dirs.

**Expected behavior**
Access the alluxio storage through POSIX API as

[2022-03-09 21:41] ssz1997 commented on #15125
logs after turn on debug log:
[code]

The path `/hbase` has owner `shawn.sun`, and `Fuse.Getattr` doesn't recognize this user.

[2022-03-09 21:46] ssz1997 commented on #15125
`alluxio.fuse.user.group.translation.enabled` is set to `true`. In Fuse.Getattr https://github.com/Alluxio/alluxio/blob/dea6a46d67640f54d133744a9b318849fad9ae5c/integration/fuse/src/main/java/alluxio/fuse/AlluxioFuseFileSystem.java#L424-L425, owner and group are obtained through alluxio file status, which may not be a valid user on the machine or in the pod.

[2022-03-10 02:21] lichar-cheng opened #15130 "when just delete PERSISTED file,NOT_PERSISTED file also deleted"
**Alluxio Version:**
2.6.2

**Describe the bug**
has two status file(PERSISTED,NOT_PERSISTED) in path, when delete PERSISTED path,other path also delete

**To Reproduce**
create two statsu file,
one is PERSISTED, other is NOT_PERSISTED
![image](https://user-images.githubusercontent.com/35256099/157574992-dfab3f35-1102-429b-9212-2a7e2afe1657.png)

then,delete PERSISTED file

![image](https://user-i

[2022-03-10 18:31] #15122 closed

[2022-03-11 03:42] #15042 closed

[2022-03-11 22:30] apc999 commented on #15083
Let's fix the doc @HelloHorizon and close this issue.

[2022-03-11 22:43] yuzhu commented on #15042
@kevincai I did not get a chance to look at this yet.  is this still an issue? did it require a config fix or code change?

[2022-03-12 11:14] hairongGao opened #15134 "AlluxioFuse (The file is not opened for overwrite)"
**Alluxio Version:**
What version of Alluxio are you using?
alluxio:release-2.7.0-SNAPSHOT-c058736

**Describe the bug**
A clear and concise description of what the bug is.
So I've provisioned a pvc using Fluid alluxioRuntime and running minio on this pvc.

[code]

But the minio pod failed to start , the error logs from alluxioFuse like:
[code]

**To Reproduce**
Steps to reproduce the behavior (as

[2022-03-14 20:12] HelloHorizon commented on #15134
@LuQQiu @ssz1997 I remembered that we don't support overwrite, can you help confirm here?

[2022-03-14 21:45] HelloHorizon commented on #15130
@lichar-cheng thanks for the reporting! I think it's the same issue as #14306 , please take a look.

[2022-03-14 23:10] HelloHorizon commented on #15134
related to #15079

[2022-03-14 23:26] HelloHorizon commented on #15083
@liangrui1988 I am a little bit confuse which step make this happen and which document you refer to? If you are using hive metastore, we have setup doc here https://docs.alluxio.io/os/user/stable/en/compute/Hive.html

[2022-03-15 09:05] JySongWithZhangCe opened #15139 "Add local file support for LocalCacheFileSystem in test sence."
**Describe the solution you'd like**
Add local file support for LocalCacheFileSystem in test sence. This feature is useful when test Alluxio client cache in laptop.

[2022-03-15 09:16] #15083 closed

[2022-03-15 09:17] #15034 closed

[2022-03-15 11:30] liangrui1988 opened #15141 "alluxio spark wirte hive table data defalut pin is yes?"
**Page**

**Summary**
Why spark write Hive table data? The default PIN is yes.So all of this data is stored in Alluxio memory once it's read?No release, is it?In the configuration item, I did not see that it can be set. How can I change pin to false
![image](https://user-images.githubusercontent.com/7435076/158368176-19e3872b-f84c-48ad-9146-f07c24936998.png)

[2022-03-15 11:38] lichar-cheng commented on #15130
use version 2.7.2 also can reproduce bug, #14307 can't fix

[2022-03-15 16:47] yabola commented on #15003
I will do alluxio-job-server module @dbw9580

[2022-03-15 19:42] HelloHorizon commented on #15141
@liangrui1988 we don't support the exclusive list with Pin list. If you set the parent dir as a pin directory, all children will be pinned automatically. FYI @madanadit @yuzhu

[2022-03-16 07:17] liangrui1988 commented on #15141
I have not performed the task PIN operation on the parent directory, and I have tested that the data files in the hive table are still in PIN state after I unpin the parent directory and write data again.This is difficult to understand, how to cancel the default pin

[2022-03-16 20:04] HelloHorizon commented on #15141
@liangrui1988 do you mind to share your Alluxio configurations?

[2022-03-16 23:09] HelloHorizon commented on #15130
@lichar-cheng do you make any modifications to Alluxio? I can not reproduce your issue at my side

[2022-03-17 02:01] liangrui1988 commented on #15141
master alluxio-site.xml

`alluxio.security.login.impersonation.username=_NONE_
alluxio.master.security.impersonation.hiidoagent.users=*
alluxio.master.security.impersonation.hdfs.users=*
alluxio.master.security.impersonation.alluxio.users=*

alluxio.master.hostname=fs-alluxio-master03.hiido.host.yydevops.com

# User properties

alluxio.user.file.readtype.default=CACHE
alluxio.user.file.writetype.d

[2022-03-17 02:06] lichar-cheng commented on #15130
@HelloHorizon
this is my configmap ,no other change

ALLUXIO_FUSE_JAVA_OPTS: '-XX:MaxDirectMemorySize=2g '
  ALLUXIO_JAVA_OPTS: -Dalluxio.master.hostname=alluxio-master-0 -Dalluxio.user.file.metadata.sync.interval=0
    -Dalluxio.underfs.s3.default.mode=0777 -Dalluxio.master.journal.type=UFS -Dalluxio.master.journal.folder=/journal
    -Dalluxio.underfs.address=s3a://fdp -Dalluxio.underfs.s3.endpo

[2022-03-17 02:32] liangrui1988 commented on #15141
master.log
Temporary data written to hive tables is automatically synchronized to Alluxio..hive-stagin_hive_xxx
`2022-03-17 10:29:17,014 WARN  InodeSyncStream - Failed to sync metadata on root path InodeSyncStream{rootPath=LockingScheme{path=/alluxio_warehouse/freshman.db/alluxio_hive_hot_data_top/.hive-staging_hive_2022-03-17_10-29-16_977_2335665010188907628-1, desiredLockPattern=READ, shouldSync

[2022-03-17 02:39] lichar-cheng commented on #15130
i try to change use oss ufs ,configmap change to
-Dalluxio.master.mount.table.root.ufs=oss://XXX -Dfs.oss.endpoint=XXX
    -Dfs.oss.accessKeyId=XXX -Dfs.oss.accessKeySecret=XXX

can't reproduce this issue

[2022-03-17 04:33] LuQQiu commented on #15019
@LuQQiu

[2022-03-17 04:58] LuQQiu opened #15156 "Worker cannot re-register successfully with 15million files"
**Alluxio Version:**
TBD

**Describe the bug**
Dataset: 15millions of 100KB files = 1.5TB
Alluxio cluster: 1 master + 3 workers
Replica: 1

Every time when the master restarts, one or two out of three workers will fail to register with the master.
The failed worker will keep restarting and keep failing to register with the master.

The master can serve requests of the other successfully registered

[2022-03-17 05:01] LuQQiu commented on #15156
Important logs
[code]
@nizifan can you help provide the detailed logs, the master & worker logs covering the restart process

and can you set the debug log of class `alluxio.master.block.RegisterStreamObserver` and get the new logs. https://docs.alluxio.io/os/user/stable/en/operation/User-CLI.html#loglevel

[2022-03-17 05:01] LuQQiu commented on #15156
@jiacheliu3 FYI

[2022-03-17 05:29] kevincai commented on #15156
FYI. Had not successfully register worker with 4 million block when we were upgrading from v2.6.2 to v2.7.0, and hence disabled the stream registration.

Haven't got a chance to look into details about streaming registration yet.

[2022-03-17 05:37] beinan commented on #15019
I'm not sure if it's the case, but we have seen some "forever hanging" in local cache when it's reading some page files from the ssd.  It rarely happens but quite annoying, so Bin added a time-bound page store to throw a timeout exception once the reading is longer than expected.

Just like you mentioned, we could add some fallback mechanism.  Can we make sure the hanging is just happening while r

[2022-03-17 06:53] liangrui1988 opened #15158 "How do I disable automatic data synchronization in the HDFS?"
alluxio config

alluxio.user.file.metadata.sync.interval=-1
unpin /
$ ./bin/alluxio fs getSyncPathList
The following paths are under active sync

No synchronization function is enabled
![image](https://user-images.githubusercontent.com/7435076/158753125-1dc79fd3-fc3f-4ce0-a7da-9c72bced73f7.png)

How did this garbage file get loaded into Alluxio?Nor is there any Alluxio service to call to read the

[2022-03-17 12:03] Nizifan commented on #15156
Core stack trace:
2022-03-17 19:59:50,367 WARN  RegisterStreamObserver - Exit(stream) (Error): registerWorkerStart: WorkerId=460157959576971576, Error=java.lang.IllegalStateException: Stream was terminated by error, no further calls are allowed
2022-03-17 19:59:50,367 ERROR RegisterStreamObserver - Failed to process the RegisterWorkerPRequest in the stream:
java.lang.IllegalStateException: Stream

[2022-03-17 12:03] Nizifan commented on #15156
[pipelineworker.txt](https://github.com/Alluxio/alluxio/files/8284519/pipelineworker.txt)
[Uploading pipelinemasterlog.txt…]()

[2022-03-17 12:03] Nizifan commented on #15156
Full log:
[pipelineworker.txt](https://github.com/Alluxio/alluxio/files/8284538/pipelineworker.txt)
[pipelinemasterlog.txt](https://github.com/Alluxio/alluxio/files/8284541/pipelinemasterlog.txt)

For @jiacheliu3 to take a look

[2022-03-17 12:15] Nizifan opened #15161 "Fuse unmount hit device busy, cause fuse not exit correctly in k8s environment"
**Alluxio Version:**
2.7.2 + Fluid 0.6

**Describe the bug**
We are using fuse as a sidecar container for ai platform, and find some pod stays in 'Terminating' state, which cause resource not released in Prod environment.
After training task finish, we need fuse container to exit to stop the whole pod, we are using 'Alluxio-fuse unmount' command to do that.

For those 'terminating' pod, we found s

[2022-03-17 12:20] Nizifan commented on #15156
Update:
After set alluxio.master.worker.register.stream.response.timeout to 10 minutes, the worker get registered correctly, we shall considering using some continue token when register can no succeed

[2022-03-17 12:23] Nizifan opened #15162 "Worker hit "orphan block", cause this worker can not work as expected"
**Describe the bug**
There is a Alluxio cluster running with 2 worker + 1 master, with a capacity of nearly 90%(ufs data is 900G while total storage is 1T), reading is very slow and even the training have go to 5th epoch, there is still frequent ufs read which is not expected.

From master log I can see orphan block get detected, I suspect the worker having orphan block is not working, cause high

[2022-03-17 18:32] LuQQiu commented on #15026
Tested in Alluxio
Dataset
10K130MB files, total 1.3TB
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-60901f41-7fff-9bfc-6c73-6579d556f7f7"><p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:n

[2022-03-17 18:41] LuQQiu commented on #15156
@Nizifan have you tracked how long it takes for all three workers to register themselves successfully?

[2022-03-17 18:43] LuQQiu commented on #15156
@beinan can your new approach for storing a large amount of small files in worker solve this issue as well?
do we still need to register all blocks to master when restarting worker?

[2022-03-17 19:15] LuQQiu commented on #15156
Hi @kevincai , have you tried setting alluxio.master.worker.register.stream.response.timeout to 10 minutes?

[2022-03-17 20:15] LuQQiu commented on #15019
@beinan will worker jstack helps to see whether hanging is just happening while reading from disk? or maybe async-profiler with wall clock profiling?

[2022-03-17 23:09] LuQQiu commented on #15079
Discussed in the AI SIG meeting, append is not supported and is not planned to support in the near future
Even in the previous version of Alluxio, the listed operation can succeed, but if the test.out is larger than 10MB or some number, the operation will not succeed.

[2022-03-18 00:25] LuQQiu commented on #15161
Tested in plain machine

Scenario one:
- Mount fuse
- use vi to open file without closing it
- run alluxio-fuse umount
- - Alluxio-fuse receives the kill -15 term call, Alluxio begin to umount, and throws FuseException that device is busy
- - After 2min, alluxio-fuse force kill AlluxioFuse process with -9
- - AlluxioFuse process is killed but the fuse mount point is left in device which is unaccep

[2022-03-18 02:51] Nizifan commented on #15162
@LuQQiu Sorry that the environment have been cleaned as I move the worker to resolve this.
if it will be hard to debug with above information we can skip this issue, maybe.

[2022-03-18 03:22] Nizifan commented on #15156
worker 1:  45:15 - 46:49 - around 94s
2022-03-17 20:45:15,029 INFO  RegisterStreamer - Worker 1510918500665379928 - All requests have been sent. Completing the client side.
2022-03-17 20:45:15,029 INFO  RegisterStreamer - Worker 1510918500665379928 - Waiting on the master side to complete
2022-03-17 20:45:15,038 INFO  RegisterStreamer - 1510918500665379928 - Complete message received from the serv

[2022-03-18 03:26] maobaolong opened #15168 "Add JMX metrics encountered a bind failed"
**Alluxio Version:**

Master branch, commit hash 2f0c99044dfd7f8578bd3cc5606b4c0ef5b8a7a7

**Describe the bug**
[code]
**To Reproduce**

Add the following content into `alluxio-env.sh` and execute `bin/alluxio-start.sh master`

[code]

**Expected behavior**

Master should started successfully, but report `Address already in use`

**Urgency**

High

**Are you planning to fix it**

No

**Additional

[2022-03-18 03:37] Nizifan commented on #15161
Just want to confirm with @LuQQiu that current Alluxio-fuse command don't support hard unmount.

[2022-03-18 03:43] jiacheliu3 commented on #15168
@jenoudet I remember you fixed a similar issue when Alluxio starts and binding ports for java agent debugging. Could you take a look at this one? Could it be a similar issue?

[2022-03-18 04:14] lucaspeng12138 opened #15169 "Client read from worker failed need kick out the fail worker before retry."
**Alluxio Version:**
master branch [68fcda9](https://github.com/Alluxio/alluxio/commit/68fcda9dd2ca2181eb897e10ca02fa5bc3a3099f)

**Describe the bug**
presto + alluxio local cache
When running read operation with target alluxio worker outline, alluxio client will retry but still choose this worker. At last cause read time out.

**To Reproduce**
step1. Run presto read operation.
step2. Shutdown loc

[2022-03-18 06:55] Nizifan opened #15171 "Bug: Alluxio worker can not start if the given disk have file with the same block id"
**Alluxio Version:**
2.7.2

**Describe the bug**
User create an 5 workers * 400 Gi Alluxio worker 16 hours ago(current time is 3/18 14:49), and I find 2 of them keep in "CrashLoop" State. The name of this  cluster have been used before and deleted before this instance get created.

Look into the log, find corresponding log show block Id have mismatching.
 blockId 227212527665152 is 160044 bytes, b

[2022-03-18 07:10] Nizifan opened #15172 "Worker didn't clean up space it used in docker disk when exit."
**Alluxio Version:**
2.7.2 + fluid v0.6

**Describe the bug**
When worker exit, it doesn't clean corresponding block on docker disk, cause disk become full:

root@jssz-main-cv-train-15:~ # du -h --max-depth=1 /data/docker/alluxio/ai/
0	/data/docker/alluxio/ai/xg-lid
489G	/data/docker/alluxio/ai/xingui-lid      <- this one is already deleted
375G	/data/docker/alluxio/ai/audf-1
863G	/data/docker/all

[2022-03-18 07:21] kevincai opened #15173 "Suppress ratis info log in master role"
**Alluxio Version:**
v2.7.0

**Describe the bug**
Leader and follower are overwhelmed by following ratis logs
[code]
[code]

**To Reproduce**

Master Embedded HA mode, 3-nodes, stop one follower node and format its journal data, start the process. follower node will re-sync its data from master and apply to local statemachine.

**Expected behavior**
A clear and concise description of what you expe

[2022-03-18 07:34] #15168 closed

[2022-03-18 07:39] Nizifan commented on #15171
After clean corresponding old directory, the worker work as normal.

[2022-03-18 17:33] ssz1997 commented on #15171
Relates to #15172

[2022-03-18 17:38] jenoudet commented on #15168
Yes, the problem is that `ALLUXIO_MASTER_JAVA_OPTS` is passed to other processes before getting passed to the master process: to start the master process, there is the monitor process, there is also `bin/alluxio getConf`, etc... These processes bind to the port before the master process, causing the `Address already in use` problem you are seeing.
I created the `ALLUXIO_<PROCESS>_ATTACH_OPTS` in #

[2022-03-18 19:46] LuQQiu commented on #15172
Fluid uses
[code]
to clean the Alluxio cache

Two possibilities here:
1. timeout -t 60 is not enough for clearing data in Alluxio
2. `alluxio fs free -f /path` didn't actually clear all data in worker storage

[2022-03-18 19:52] LuQQiu commented on #15156
@Nizifan From the logs, the registration time is not too long (we previously worried that it may take more than 10 minutes), 1 min `alluxio.master.worker.register.stream.response.timeout` may be too short and is at the borderline.

@jiacheliu3 looks like the problem can be resolved by enlarging `alluxio.master.worker.register.stream.response.timeout` and the actual registration time is not too lon

[2022-03-18 19:57] LuQQiu commented on #15172
@ssz1997 can you help resolve the problem of how to cleanup worker disk data in the Kubernetes environment?

[2022-03-18 19:58] LuQQiu commented on #15162
Closed the issue for now and when we have more information, feel free to reopen it

[2022-03-18 19:58] #15162 closed

[2022-03-18 20:08] LuQQiu commented on #15161
@Nizifan the current command doesn't support hard unmount, and as i mentioned in scenario one, the force kill will kill the Fuse process but left the fuse mount point in the operating system which is unacceptable

[2022-03-18 21:03] LuQQiu commented on #15171
After discussed with @beinan , there are two approaches for this PR
-  make sure the disk is fully cleaned
- - @ssz1997 can you help take a look to improve the disk clearance
- make sure old blocks are not used for new cluster/worker
- - can add the functionality to https://github.com/Alluxio/alluxio/pull/14258
- - when block_size change, delete/clean the block. persist block_size to worker. Same

[2022-03-18 22:39] LuQQiu commented on #15171
Update information here
- Make sure the disk is fully cleaned
- - In a plain install, ideally, `bin/alluxio formatWorker` is run before `bin/alluxio-start.sh worker`, basically `entrypoint.sh worker`. After `bin/alluxio-stop.sh worker`, run `bin/alluxio formatWorker` again to clean up worker storage.
- - `bin/alluxio fs free` cleans up the master metadata, but didn't synchronously cleanup the work

[2022-03-18 22:49] ssz1997 commented on #15172
Depending on how you delete worker, especially in Fluid env, there may be different behaviors.

The fluid way is to delete the whole cluster by running `kubectl delete alluxioruntime`, which would run `alluxio fs free /`. As Lu pointed out, even this way might not clean up all the data. But I think this is not the root cause here.

If you directly delete worker daemonset by running `kubectl delete

[2022-03-19 09:59] liangrui1988 commented on #15158
read cache blacklist How to configure it?  I only see this one, so it doesn't have any effect, same cache.Trash data

alluxio.master.persistence.blacklist=`.staging`,`.tmp`,`.Trash`,`.hive-staging_hive`

[2022-03-20 06:16] Aka-shi opened #15179 "Expose cache hit ratio when user.metadata.cache is enabled"
**Is your feature request related to a problem? Please describe.**
Currently, when `user.metadata.cache=enabled` is set on the client, there are no metrics to measure the metadata cache hit ratio.

**Urgency**
Exposing metrics related to cache hit ratio will help us improve metadata cache efficiency.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-03-21 05:50] lucaspeng12138 opened #15181 "StressMasterBench report exception in ListDir operation"
**Alluxio Version:**
master branch [68fcda9](https://github.com/Alluxio/alluxio/commit/68fcda9dd2ca2181eb897e10ca02fa5bc3a3099f)

**Describe the bug**
StressMasterBench report exception as follow:
`2022-03-21 13:40:52,888 ERROR FileSystemMasterClientServiceHandler - Exit (Error): ListStatus: request=path: "/stress_master/files/11.175.135.23-1647594832272/fixed"
options {
  loadMetadataType: ONCE

[2022-03-21 14:38] Nizifan opened #15183 "Need some suggestion in limiting GC rate/Memory usage"
**Alluxio Version:**
2.7.2

**Describe the bug**
When training with large scale of files, there are excessive master gc happen, which induce bad performance in reading.
In the former case, uplifting GCThread and Jvm max memory can really help resolve this issue, but in this case we have uplift memory to half of the node but still excessive gc is observed.

We need help in below two fields:
1. imme

[2022-03-21 14:40] Nizifan commented on #15183
Some description about user's files:
Total directory: 5121
Total files: 10559774
Single file size: 156.25k
Directory depth: 5121

[2022-03-21 21:34] LuQQiu commented on #15183
@Nizifan can you help provide the detailed information about
- cluster setup: how many masters and how many workers
- CPU/memory resources for each master/worker node or pod
- cluster configuration
- what kind of training workloads it's

[2022-03-21 22:41] LuQQiu commented on #15026
Consider closing this issue for now, @Nizifan if you have future performance requirements or new discoveries, feel free to reopen this issue, thanks!

[2022-03-21 22:41] #15026 closed

[2022-03-21 23:05] LuQQiu commented on #15134
@hairongGao can you help try the newest Alluxio version 2.7.3 and see if the behavior is the same?

[2022-03-21 23:07] LuQQiu commented on #15007
Close this issue since it may relates to #15015, feel free to reopen it when needed

[2022-03-21 23:07] #15007 closed

[2022-03-21 23:09] LuQQiu commented on #14514
Close this issue for now, feel free to reopen it

[2022-03-21 23:09] #14514 closed

[2022-03-21 23:22] LuQQiu commented on #14924
Close the issue, thanks for the investigation!

[2022-03-21 23:22] #14924 closed

[2022-03-22 01:20] kevincai commented on #15183
JDK11 + G1GC might worth a try.

[2022-03-22 02:57] jiacheliu3 opened #15187 "FS operation permission checks are not fully POSIX compliant"
**Alluxio Version:**
2.8.0-SNAPSHOT (as of 2022/3)

**Describe the bug**
Some operations are not POSIX compliant in terms of permission checking.

For example, `rm` is only checking the WRITE perm on the parent dir.
https://github.com/Alluxio/alluxio/blob/5c2619a67c840a82ecaee38ff2d3666b9277cd70/core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java#L1845
According to [r

[2022-03-22 03:36] Nizifan commented on #15183
The config is:
128Gi memory master * 1 + 400 Gi quota worker * 5.

Configuration is below:
[audf-config.txt](https://github.com/Alluxio/alluxio/files/8320810/audf-config.txt)

Training workload is generation training, training each data randomly for certain rounds of epoch.

[2022-03-22 03:37] Nizifan commented on #15183
I will try use G1GC parameter suggested by @kevincai

[2022-03-22 03:52] HelloHorizon commented on #15158
We don't support read-cache blacklist, let's mark this issue as a feature request,  thanks @liangrui1988

[2022-03-22 07:16] jiacheliu3 commented on #14844
@yuzhu This looks more like GC tuning than Alluxio-specific tuning. I think it's fair to mention something like "If your Alluxio service is slow blah blah, check the jvm usage and try to tune." But there's no need to talk too much about GC. After all, each garbage collector can have many caveats and there's Java 11 (not to mention Java 11+).

[2022-03-23 09:18] #15173 closed

[2022-03-23 18:08] SansiroWang opened #15192 "the block size configuration is not working"
**Alluxio Version:**
2.7.3

**Describe the bug**
we set the block size configuration like this(master and worker both set):
alluxio.user.block.size.bytes.default=128MB
and run the command below:
./bin/alluxio runTests
then i check the file in alluxio, the  file's block size is 128MB,like below:

File Name | Size | Block Size | In-Alluxio | Mode | Owner | Group | Persistence State | Pin | Creation

[2022-03-23 18:10] SansiroWang commented on #15192
more info:
we use HDFS 2.10.1 as the ufs of alluxio, and the default block size of HDFS 2.10.1 is **128MB**

[2022-03-23 18:34] HelloHorizon commented on #15192
Hey @fuzhengjia @beinan can you help here?

[2022-03-23 18:51] HelloHorizon commented on #15192
@SansiroWang If you want to set up the block size for your MapReduce application, you also need to update the configuration `alluxio.user.block.size.bytes.default` in `core-site.xml`. And remember to restart your Hadoop cluster after you change the configuration file. https://docs.alluxio.io/os/user/stable/en/compute/Hadoop-MapReduce.html#customize-alluxio-user-properties-for-all-mapreduce-jobs

[2022-03-24 02:37] yabola commented on #15134
test

[2022-03-24 07:04] SansiroWang commented on #15192
problem solved.
tks

[2022-03-24 07:04] #15192 closed

[2022-03-24 17:47] Nizifan commented on #15183
Many thanks for suggestion from @kevincai
Change to G1GC + Jdk11 indeed improve gc performance, from the log I can see both gc time and gc frequency limited to a very low value compared to before.
The frequency drop from ~10 times/hour to ~1time/hour
The gc time from 30~60s drop to 1~2s

@LuQQiu shall we consider making those configuration as "suggested" or "default"

[2022-03-24 19:16] #15183 closed

[2022-03-24 19:19] #14173 closed

[2022-03-24 19:23] HelloHorizon commented on #15141
@liangrui1988 I can not reproduce this issue from my side. Do you have steps that we can consistently reproduce this issue?

[2022-03-24 20:28] #15172 closed

[2022-03-24 23:41] LuQQiu commented on #15183
@Nizifan @kevincai Thanks for the recommendation. We will prioritize improving the POSIX API doc to document the recommended configuration for different datasets.
Now we are in the testing phrase to get more confidence of the recommendation

[2022-03-25 01:46] jiacheliu3 commented on #15187
@bobbai00 did a cross comparison of the permission check behavior comparison between Alluxio, HDFS and vanilla Linux.
[Permission Check Comparison Alluxio vs. Linux vs. HDFS.xlsx](https://github.com/Alluxio/alluxio/files/8346715/Permission.Check.Comparison.Alluxio.vs.Linux.vs.HDFS.xlsx)

The comparison is on the permission requirement of `rm -R`.
@madanadit @yuzhu @ggezer @apc999

[2022-03-25 01:51] yoketong-t opened #15202 "Error returned from fio when running benchmarks on fuse mounted directory"
**Alluxio Version:**
2.7.2

**Describe the bug**
In attempt to evaluate Alluxio configured with our S3 UFS, the following is observed:

- Allluxio is configured with a S3 UFS
- root directory of Alluxio filesystem is mounted to local directory /mnt/alluxio
![image](https://user-images.githubusercontent.com/73337642/160037539-3d6d3489-603f-4ce5-93d4-fe70ed0a926c.png)

- When attempting to run a fio

[2022-03-25 03:01] jiacheliu3 commented on #15169
@beinan Could you take a look at this? Thanks!

[2022-03-25 03:02] lucaspeng12138 commented on #15169
[自动回复]：您的邮件我已收到，我将尽快给您回复，谢谢

[2022-03-26 05:02] theMYang opened #15210 "Solve memory problems in high concurrency for Alluxio master"
**Alluxio Version:**
2.6.2

**Describe the bug**
Master heap memory grows rapidly in high concurrent request.  Full GC is very frequent. Young GC and Full GC takes a lot of time give rise to failover to another master.

- Young GC cost time
![ygc](https://user-images.githubusercontent.com/16862184/160224353-26caf0ed-1327-431e-aae2-787ac6f8aac2.png)

- Full GC cost time
GC cost 28 seconds give rise

[2022-03-26 05:08] theMYang commented on #15183
https://github.com/Alluxio/alluxio/issues/15210

[2022-03-26 05:11] HelloHorizon commented on #15210
@theMYang Thanks for reporting! @jiacheliu3 @yuzhu do you aware if this issue and can you take a look?

[2022-03-26 05:11] HelloHorizon commented on #15210
FYI @LuQQiu

[2022-03-26 05:43] jiacheliu3 commented on #15210
@theMYang Could you try 2.7.3? We have fixed the RocksDB object leak in that version.

Do you have suggestion on the Finalizer? According to discussion in https://github.com/facebook/rocksdb/issues/9378, RocksJava currently relies on Finalizer and they may change to implementing some internal logic to replace finalizer in later versions. I don't know of a way to avoid using Finalizers at this stag

[2022-03-26 07:19] theMYang commented on #15210
@jiacheliu3 I just recompile the RocksDB JNI without Finalizer and it looks good to me.

[2022-03-26 14:31] #13740 closed

[2022-03-27 03:01] jiacheliu3 opened #15211 "Inode should store Fingerprint as a proto rather than String"
**Summary**
Inode stores the fingerprint in `mUfsFingerprint`. So every time we want to check or update this field, excessive String parsing and concatenation have to be done. In order to reduce String usage (reduce creation of Strings and temp variables), we can store the fingerprint as a proto instead, so we only need to update fields.

**Urgency**
MEDIUM

[2022-03-27 04:39] xinip opened #15212 "When a worker node is blocked, the all alluxio cluster cannot provide services for presto queries."
**Alluxio Version:**
2.5.0-1

**Describe the bug**
When a worker node is blocked, the all alluxio cluster cannot provide services for presto queries.
when openMs long time.many half close.

**To Reproduce**
when query many big data.

**Expected behavior**

**Urgency**
High

**Are you planning to fix it**

**Additional context**
2022-03-27 11:20:30,760 WARN  BlockReadHandler - Getting buffer for re

[2022-03-28 03:10] Nizifan commented on #15183
We run a higher stake test and reading speed reach 2x compared to before. We will apply jdk11 + g1gc option to all new created Alluxio instance.

[2022-03-28 06:20] lucaspeng12138 opened #15214 "Run stress master bench CreateDir operation report exception"
**Alluxio Version:**
master last version

**Describe the bug**
Run stress master bench get failure, reports as follow:

[code]

master log as follow:

[code]

job_worker.log as follow:

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the imp

[2022-03-28 06:21] lucaspeng12138 commented on #15214
@HelloHorizon please help me with this problem

[2022-03-28 06:39] Jackson-Wang-7 opened #15215 "Failed to read HDFS EC files though LocalCacheFileSystem"
**Alluxio Version:**
2.7.3

**Describe the bug**
the ufs is HDFS and EC(Erasure Coding) is enabled, files is stored by EC. Presto cannot read file data through alluxio's LocalCacheFileSystem.

I found a similar issue (https://github.com/Alluxio/alluxio/issues/13532) ,but it doesn't work in this situation after fixed.
There is only one loaded Class under the package _org.apache.hadoop.io.erasurecod

[2022-03-28 06:46] Jackson-Wang-7 commented on #15215
@BUPTAnderson May you take a look at this question?

[2022-03-28 07:02] BUPTAnderson commented on #15215
can you use alluxio cli to read the ec file directly ? like `alluxio cat` `alluxio load`, does this commands worker?

[2022-03-28 16:54] HelloHorizon commented on #15214
@lucaspeng12138 will take a look

[2022-03-28 22:52] beinan commented on #15169
Hello @lucaspeng12138,  thanks a lot for posting this issue!  Your suggestion of fix looks good to me.  I think @maobaolong  also mentioned this issue during the community sync meeting.  @lucaspeng12138, are you working on a PR to fix it? thx!

[2022-03-29 02:01] Jackson-Wang-7 commented on #15215
In the presto trino scenario, we only use Alluxio's LocalCacheFileSystem instead of Alluxio process service. I can not use alluxio cli to read the file directly.

[2022-03-29 02:20] maobaolong opened #15220 "Alluxio fuse mount failed but report successfully"
**Alluxio Version:**

master branch

**Describe the bug**
[code]

**To Reproduce**

As above command line tools

**Expected behavior**

report error.

**Urgency**

Normal

**Are you planning to fix it**

Not sure

**Additional context**

[2022-03-29 03:03] ljl1988com commented on #14724
I test which are all right with alluxio version 2.5.0-2, 2.6.0 and 2.7.0. Can you give some server logs?

![1648522965(1)](https://user-images.githubusercontent.com/3060835/160524604-ec22801a-5def-4678-8298-50b42507de19.png)

[2022-03-29 05:30] yuzhu commented on #15187
I am curious who owns the directory? in each of these cases, is the operator the owner or not the owner?

[2022-03-29 06:07] bobbai00 commented on #15187
Hi David, in each case(Linux, Alluxio, and HDFS), the owner of the “test”
directory, its subdirectories and files is the user who creates these
folders and files, not the user who tries to delete “test”. And when I
needs to try different permission compositions, I switch to the owner(who
is also a “sudoer”) and uses command “setfacl” to change another user’s
permissions.

David Zhu ***@***.***>于20

[2022-03-29 07:23] lucaspeng12138 commented on #15214
I found it may be caused by --stop-count, maybe stop count is too huge:

`../bin/alluxio runClass alluxio.stress.cli.StressMasterBench \
--cluster \
--operation CreateDir \
--base alluxio://${alluxio_host}:19998/${master_test_path}/ \
--target-throughput 1000000 \
--warmup 1m \
--duration 3m \
--fixed-count 1000000 \
--stop-count 1000000`

It can run successfully after I delete stop count.

[2022-03-29 14:23] lucaspeng12138 commented on #15169
@beinan It's my pleasure. I am going to work on this issue in days.

[2022-03-29 14:47] kevincai commented on #15220
check following code in `integration/fuse/bin/alluxio-fuse`, line 71 `sleep 2s`. Need to check your docker image and linux distribution, some of them supports `sleep 2s` with the suffix `s`, others are only support `sleep 2`, and `sleep 2s` will report `usage: sleep seconds` error.

[code]

[2022-03-30 06:08] dark-tea opened #15230 "Does mpp database like greenPlum is supported by alluxio at now?"
we want use alluxio and mpp database to build a efficient data search system,
so we want to know does alluxio can connect with mpp database？
and does the feature of mpp database is well combined with alluxio?
How can I use it ?

[2022-03-30 07:25] JunLuo commented on #12704
hi there, I'm working at building alluxio on arm64(KunpengCPU) but failed with:
`Failed to execute goal org.codehaus.mojo:buildnumber-maven-plugin:1.4:create-metadata (default) on project alluxio-core-common: Execution default of goal org.codehaus.mojo:buildnumber-maven-plugin:1.4:create-metadata failed.: NullPointerException -> [Help 1]`

and stack is:
`[ERROR] Failed to execute goal org.codehaus

[2022-03-30 07:28] JunLuo commented on #12704
I've add mavenn profile  of os like this below:
[code]
but it does not work.

[2022-03-30 08:45] zhaohainan666 opened #15232 "Alluxio config doesn't follow the configmap in k8s cluster"
**Alluxio Version: 2.7.3**

**Describe the bug**

- The environment from the configmap is like this:

        ALLUXIO_WORKER_JAVA_OPTS=-Dalluxio.worker.hostname=${ALLUXIO_WORKER_HOSTNAME} -Dalluxio.worker.rpc.port=29999 -Dalluxio.worker.web.port=30000 -Dalluxio.worker.data.server.domain.socket.address=/opt/domain -Dalluxio.worker.data.server.domain.socket.as.uuid=true -Dalluxio.worker.container.ho

[2022-03-30 09:02] martin-g commented on #12704
Hi @JunLuo !
IMO the OS and CPU arch are not relevant here.
Your build fails due to buildnumber-maven-plugin, i.e. this plugin fails to collect the needed information.
Do you have `.git/` folder in your local repo ?

[2022-03-30 09:40] JunLuo commented on #12704
Hi @martin-g
Thanks for your reply.
The source is downloaded from tag 2.7.3 and I did not change anything.
I found there was a .github/ folder .
I removed the folder and built again, but still failed with `create-metadata failed.: NullPointerException`

[2022-03-30 10:23] martin-g commented on #12704
You can work it around by adding `-Dmaven.buildNumber.skip=true` to the Maven command.
The plugin needs `.git/` in the root of the project to get the Git hash and use it as a build number.

Another property that could help is `-Dmaven.buildNumber.revisionOnScmFailure=2.7.3`. See https://www.mojohaus.org/buildnumber-maven-plugin/create-mojo.html#revisionOnScmFailure

[2022-03-30 12:43] elega commented on #14803
/assign @elega

[2022-03-30 17:36] HelloHorizon commented on #15230
@dark-tea which MPP engine are you using?

[2022-03-30 17:52] HelloHorizon commented on #15212
@beinan can you take a look?

[2022-03-30 17:54] HelloHorizon commented on #15214
@dbw9580 @jiacheliu3 can you give any guildline how can we use --stop-count in stress master bench?

[2022-03-30 17:59] HelloHorizon commented on #15210
@theMYang I don't think it's a compile issue but a bridge issue from Java to native land. If we don't use Finalizer the Rocks will not hold the reference and JVM can GC the object which we don't want to release. You can check into adam's explanation for more details https://github.com/facebook/rocksdb/issues/9378#issuecomment-1015401139. We will keep an eye on Rocks' updating and optimize this mem

[2022-03-30 17:59] #15210 closed

[2022-03-30 18:50] ssz1997 opened #15235 "CSI doesn't work when alluxioPath is not root"
**Alluxio Version:**
2.7.3

**Describe the bug**
In `values.yaml`, set `alluxioPath` to a non-root dir, the application pod (`alluxio-nginx-pod.yaml`) can't start successfully.

`kubectl describe pod nginx` returns
[code]
`kubectl logs nginx` returns
[code]

**To Reproduce**
Follow the documentation. Set `alluxioPath` in `csi` section in `values.yaml` to an existing Alluxio path but not root.

**E

[2022-03-31 03:26] beinan commented on #15212
Hello @xinip , many thanks for reporting this bug to us!  Can I have more context about this bug?
1. are you using colocated deployment (deploy presto worker and alluxio worker on the same machine) and enabled short-circuit?
2. How did you know an alluxio node is blocked? "the all alluxio cluster cannot provide services for presto queries." do you mean all the presto query failed?  does "alluxio f

[2022-03-31 03:30] JunLuo commented on #12704
It work and I success built in kunpeng CPU, Thanks a lot!

[2022-03-31 07:36] maobaolong commented on #13490
@Xenorith @LuQQiu  I submit a new PR to bring the #15237  back, PTAL.

[2022-03-31 08:06] zhaohainan666 commented on #15232
I use the kubectl command to deploy the Alluxio, and yaml files are almost the same as the demo you gave :

- **_configmap_**
`apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    "helm.sh/hook": "pre-install"
    "helm.sh/hook-delete-policy": before-hook-creation
  name: alluxio-config
  labels:
    name: alluxio-config
    app: alluxio
    chart: alluxio-0.6.33
    release: alluxio
    he

[2022-03-31 09:55] dark-tea commented on #15230
we are using greenplum

[2022-03-31 09:56] xinip commented on #15212
Hello @beinan
1.alluxio.user.file.short.circuit.enabled=true
2.when alluxio  cannot provide services,all presto query blocked , I had not "alluxio fs ls /"

[2022-03-31 09:58] dark-tea commented on #15230
we are using greenplum

[2022-03-31 17:47] HelloHorizon commented on #15230
@dark-tea you can check with Greenplum to see if they support the HDFS Java client, if that is the case, Alluxio should support Greenplum.

[2022-04-01 04:10] liugs0213 opened #15248 "fuse oom failed to remount"
**Alluxio Version:**
2.8.0

**Describe the bug**
fuse oom After restart, tf job cannot mount new fuse.
According to:
![image](https://user-images.githubusercontent.com/55676558/161192613-95abbeaf-c39f-4baa-a8ae-e4234f13162d.png)

**To Reproduce**
1.Start a TF job to read data in Alluxio.
![image](https://user-images.githubusercontent.com/55676558/161192929-1142f553-0fd9-44c3-82f8-1de855ee6223.png)

[2022-04-01 06:27] xichen01 opened #15249 "reserve twice the `blocksize` space, when the worker creates a block?"
**Summary**
[code]
![Apr-01-2022 13-21-08](https://user-images.githubusercontent.com/32928346/161199945-65e2776d-7fba-4956-97c8-9944988009db.gif)

When a `tieredstore.dirs` available space is greater than 1*blocksize and less than 2*blocksize, then if a worker writes a block at this time, it will cause the same block to be evicted

the first `reserveSpace` when create tempBlockMeta
https://github.

[2022-04-01 08:13] adol001 opened #15250 "JobMasterClientRestApiTest fails frequently"
**Alluxio Version:**
2.7.3

**Describe the bug**
LocalAlluxioJobCluster is initialized asynchronously by creating a new thread. In Before of JobMasterClientRestApiTest, the initialization of LocalAlluxioJobCluster is still in progress. mJobCluster.getMaster().getWebAddress().getPort(), which is easy to get Null exception, and even with Flakes, it's easy to fail the entire alluxio tests

**To Repro

[2022-04-01 08:40] amosannn opened #15251 "presto stuck when accessing alluxio"
**Alluxio Version:**
2.7.3

**Describe the bug**
We are using alluxio catalog service to cache hdfs files, and it did improve query speed in presto. But sometimes presto unable to get data nomally, the `Bytes/s` and `Rows/s` still changing, but `Bytes` and `Rows` no longer increases, it will pending until the query timeout.
The gif is as follows:
![presto_alluxio](https://user-images.githubusercon

[2022-04-01 08:45] xichen01 opened #15252 "Why is the default value of `alluxio.master.rpc.executor.type` changed from FJP to TPE"
**Summary**
the default value of `alluxio.master.rpc.executor.type` changed from FJP to TPE
https://github.com/Alluxio/alluxio/pull/14351

In our tests, we found that when `alluxio.master.rpc.executor.type=FJP`, the metadata read performance is greatly improved compared to `alluxio.master.rpc.executor.type=TPE`

[code]
${operation}  is CreateFile and GetBlockLocations
Test Results:
  - alluxio.mas

[2022-04-01 09:41] maobaolong commented on #15252
Hi @yuzhu @HelloHorizon , would you please give some reason or any input to help us know well about the issue about FJP and alluxio.

[2022-04-01 13:38] xinip commented on #15212
2022-04-01 20:25:08,832 WARN  BlockReadHandler - Getting buffer for remote read took longer than 10000 ms. reader: alluxio.worker.block.io.StoreBlockReader location: /home/presto/alluxiodata/data/ssd/alluxioworker/5189662670848 bytes: 1048576 openMs: 299948 transferMs: 3 durationMs: 299951
2022-04-01 20:27:17,592 WARN  BlockReadHandler - Getting buffer for remote read took longer than 10000 ms. re

[2022-04-01 13:43] xinip commented on #15212
com.facebook.presto.spi.PrestoException: Timeout waiting for response after 300000ms. clientClosed: false clientCancelled: false serverClosed: false (LocalFileDataReader{request=block_id: 19545758629888
promote: false
, address=WorkerNetAddress{host=datanode106, containerHost=, rpcPort=29999, dataPort=29999, webPort=30000, domainSocketPath=, tieredIdentity=TieredIdentity(node=datanode106, rack=nul

[2022-04-01 22:20] HelloHorizon commented on #15248
@LuQQiu ptal

[2022-04-01 22:32] yuzhu commented on #11407
https://www.alluxio.io/blog/metadata-synchronization-in-alluxio-design-implementation-and-optimization/

[2022-04-01 23:40] beinan commented on #15212
Thank you @xinip ! this is very helpful!

two possibilities
1. the alluxio worker's jvm is paused (probably full gc or some other system pause).  Have you enabled the GC log of alluxio workers? what's the jvm setting of your alluxio workers?
2. The disk is paused somehow, we have seen this on both solid or mechanical hard drives.  This PR might help https://github.com/Alluxio/alluxio/pull/15166. d

[2022-04-02 00:19] beinan commented on #14822
fixed in https://github.com/Alluxio/alluxio/pull/15120

[2022-04-02 00:19] #14822 closed

[2022-04-02 11:05] Nizifan commented on #14724
@ljl1988com
Yes, using Alluxio fs ls can see the file, but the fuse POSIX list return empty.

I provide example in above description:
'''
root@jssz-bigdata-datanode-2050:/opt/alluxio-release-2.5.0-2-SNAPSHOT# alluxio fs ls /cache

root@jssz-bigdata-datanode-2050:/opt/alluxio-release-2.5.0-2-SNAPSHOT# alluxio fs cat /cache/fpmodel_v2.py
import torch
import torch.nn as nn
'''

[2022-04-04 21:49] ggezer commented on #15252
FJP requires a manual compensation called managed blocking when entering a long running code sections. Without this, FJP can't grow its internal thread size and RPC could get stalled. It's non trivial to find and patch every place with managed blocking, so we reverted by defaults to a thread-pool that doesn't need such external hints in order to remain live.

[2022-04-05 14:13] jiacheliu3 opened #15261 "UUID generation takes non-trivial time"
**Summary**

This is initially reported by @xichen01

We found that UUID generation takes a non-trivial time in file creation.
<img width="1208" alt="Screen Shot 2022-04-05 at 10 07 05 PM" src="https://user-images.githubusercontent.com/14806853/161773222-8322ef09-d3b3-4f5a-94f5-f8021d73317c.png">
Notice that yellow/red bar in metadata loading, which takes 1.4% of total CPU time while the `loadFile

[2022-04-05 14:16] jiacheliu3 commented on #15261
We take the UUID to mark the operation. I think maybe a thread local random number can provide enough collision safety, given that the uniqueness of an operation is effectively by <randomID, operationType>?

[2022-04-06 01:49] lichar-cheng commented on #15130
upgrade minio version to minio/minio:RELEASE.2021-12-09T06-19-41Z fix bug

[2022-04-06 01:49] #15130 closed

[2022-04-06 03:50] secfree opened #15265 "A file with a lastSync time newer than its directory causes the meta sync of the directory triggered repeatedly"
**Alluxio Version:**
2.7.1

**Describe the bug**
A file with a lastSync time newer than its directory causes the meta sync of the directory triggered repeatedly.
Below is an example.

1. Set "alluxio.user.file.metadata.sync.interval" to 5 minutes
2. Access a file first and then access its directory (accessed the file 2 times and the directory 3 times

[code]

3. Check the log at alluxio master sid

[2022-04-06 04:18] jiacheliu3 opened #15266 "Implement a Trie<Long> and use that for path prefix-matching"
**Is your feature request related to a problem? Please describe.**
Prefix matching is needed in many places like:
1. Quickly decide which mount point a path is under
2. Sub-tree cutting while traversing a tree

Currently the prefix matching is often done with comparing path strings.

**Describe the solution you'd like**
A Trie<Long> may be helpful in size and performance. Imagine a path `/a/b/c/d`

[2022-04-06 05:50] beinan commented on #15212
@xinip any update? have you checked the GC logs?

[2022-04-06 05:51] xinip commented on #15212
Hello @beinan
1.jvm gc is normal,memory is enough
2.maybe i should try to update to the next alluxio latest version, i can try

[2022-04-06 05:53] xinip commented on #15212
jvm gc is normal,memory is enough

[2022-04-06 05:56] lucaspeng12138 opened #15267 "Leader changed in StressMasterBench ListDir operation in k8s"
**Alluxio Version:**
master laster version

**Describe the bug**
when run ListDir operation in StressMasterBench, leader master will be changed into follower during read.
Env is in k8s, info as follow
master:
<img width="1160" alt="image" src="https://user-images.githubusercontent.com/100204617/161899401-00c3874f-ccf1-4ac9-82d1-3cc9eb2493b7.png">

worker:

<img width="1160" alt="image" src="https:

[2022-04-06 05:56] beinan commented on #15212
Thank you @xinip for the updates! Just let us know if the latest version of alluxio works or not.  I think this commit would be included in 2.7.4, it's already on maven repo but I didn't got a chance to send out the release note.

[2022-04-06 06:16] lucaspeng12138 commented on #15267
change listDir operation as follow can run successfully
--fixed-count 10 \
--stop-count 10

[2022-04-06 07:45] jiacheliu3 commented on #14802
@beinan Just adding this to your backlog as I think you are working on worker IO related redesigns.

[2022-04-06 08:01] maem2 commented on #14222
Hi @sfwanyi , can i know what you do to keep only 1 uuid under domain socket folder? Thanks in advance

[2022-04-06 08:20] jiacheliu3 commented on #15214
@lucaspeng12138 Since you see threads are interrupted, it's probably because of the `--bench-timeout` which defaults to 20min then kills test threads. Try set this to a larger value https://github.com/Alluxio/alluxio/blob/21560be53f4306ddc077a7be9af8e5c18f255a1c/stress/shell/src/main/java/alluxio/stress/cli/StressMasterBench.java#L292

[2022-04-06 16:00] #14767 closed

[2022-04-06 17:03] #15261 closed

[2022-04-06 22:32] ssz1997 commented on #15248
@liugs0213 Need to clarify a few things here:
1. Seems like your tf job was running in k8s. How did you set up the Alluxio cluster? Is your Alluxio cluster also running in a k8s pod? Or is it on the bare machine? Or any other kind of setup?
2. If AlluxioFuse process is in k8s pod, did the pod restart itself, or you manually restarted it? If AlluxioFuse process is running on bare machine, did the p

[2022-04-07 00:59] HelloHorizon commented on #15252
@xichen01 is this answer your question? Can we close this issue now?

[2022-04-07 03:11] lucaspeng12138 commented on #15214
@jiacheliu3 I tried, but master starting loop restart...
<img width="902" alt="image" src="https://user-images.githubusercontent.com/100204617/162112746-c5d9d44c-169c-49ff-acc5-e48374ccdd2b.png">

[2022-04-07 03:37] dbw9580 commented on #15214
If it's not the benchmark timeout, then you may be putting too much pressure on the master node. How many job workers do you use for stress testing? How much memory do you allocate for the master JVM?

[2022-04-07 04:07] lucaspeng12138 commented on #15214
@dbw9580 I have 3 masters, 3 job_masters, 100 workers, 100 job_workers. Mem and Cpu for master is on last pic, and worker info is following:
<img width="902" alt="image" src="https://user-images.githubusercontent.com/100204617/162118130-ec330917-831d-4fe4-afc6-d19a0a87c2eb.png">

[2022-04-07 04:15] dbw9580 commented on #15214
100 job workers are too much pressure for this test. The stress master benchmark defaults to 256 parallel threads on each job worker, so the total number of simulated clients you are using is 100 * 256 = 25600.

Try use only a fraction of your job workers with `--cluster-limit`, or lower the number of threads each job worker uses with `--threads`. Please refer to the documentation here: https://do

[2022-04-07 04:18] secfree commented on #15265
/assign @secfree

[2022-04-07 04:36] maobaolong commented on #15252
@ggezer I got some input from @yuzhu, I heard about the issue you encountered is a stuck while a huge amount of request coming from client meanwhile sync metadata from UFS. @yuzhu Would you please correct me if I said something wrong?

In fact, we like to see the high performance FJP brings to us, if FJP is not work well for all scenarios, we want to use it in the appropriate scenarios. furthermor

[2022-04-07 06:12] vimalKeshu commented on #14974
Hi @jja725 , eagerly waiting for this feature; any update.

[2022-04-07 06:16] jja725 commented on #14974
https://github.com/Alluxio/alluxio/pull/15242 It's near completion. We would update the document after the 2.8 release

[2022-04-07 06:27] bigbigxu opened #15276 "alluxio remote read file is very slow"
alluxio remotely reads a 100mb file, which takes 90s if it is larger. Under the same conditions, hdfs reading only takes 10s. The debug found that each grpc request takes about 1s, which is too long. Can someone figure out how to optimize it?
code:
`    @Test
    public void alluxioReadV2() throws Exception {
        System.setProperty("alluxio.site.conf.dir", "D:\\code\\conf");
        alluxio.cl

[2022-04-07 10:41] #15230 closed

[2022-04-07 18:13] ssz1997 opened #15278 "Each job has a Fuse pod and configurable resource cap in CSI"
See discussion here: https://github.com/Alluxio/alluxio/pull/15221#issuecomment-1091624727

In summary, jobs sharing same pv/pvc may need different resources, and they should not interfere each other, so
  1. Each job should have its own Fuse pod
  2. The resource cap of each Fuse pod should be configurable at runtime.

[2022-04-08 07:23] flaming-archer opened #15279 "Worker down when memory is used 100% and ssd have spaces"
**Alluxio Version:**
2.7.1

**Describe the bug**
worker down.

**To Reproduce**
when memory is used 100%.

**Expected behavior**
worker sometime down

**Urgency**
urgent

**Are you planning to fix it**
maybe

**Additional context**
the log maybe usefully.
I find the last log like this.
`
2022-04-03 01:21:44,050 INFO  ManagementTaskCoordinator - AlignTask finished with result: BlockManagementTaskRe

[2022-04-08 17:47] yuzhu commented on #14766
@jiacheliu3 can you take a look at this? this seems like a high impact bug.

[2022-04-09 02:23] #14165 closed

[2022-04-10 10:25] qian0817 commented on #12459
The KEEPALIVE is set by `grpc-netty` library and the warning occurs when use domain socket. The warning doesn't cause any problems so I think I can close the issue. @maobaolong  @ztcheck
![图片](https://user-images.githubusercontent.com/45898769/162613658-69350bf2-febb-4ac5-8e0e-a380368b65aa.png)

[2022-04-10 23:03] #14654 closed

[2022-04-11 03:38] Nizifan opened #15288 "Block size unexpected, causing file read throw I/O error"
**Alluxio Version:**
2.7.2

**Describe the bug**
User fail to read multiple files consistently:
<img width="743" alt="wecom-temp-97f2aacf5ba9658c7675207fd2aea176" src="https://user-images.githubusercontent.com/11472213/162660843-78a521e8-f3d4-484f-9d34-87ce28243267.png">

If using Alluxio command to list/copyToLocal/free, receiving below error:

[root@jssz-admpi-147 alluxio-2.7.2]# alluxio fs ls /

[2022-04-11 04:09] jiacheliu3 commented on #14766
Hi @chovy-3012 Thanks for reporting this issue. I'm looking at your screenshots and there's some information missing.

![image](https://user-images.githubusercontent.com/14806853/162663160-76b21d02-0b47-4861-a4f1-eb36acd97f0a.png)
In your 1st screenshot, seems the heap is retained by the MetricsSystem instance in the AppClassLoader. However, seeing the AppClassLoader linking to retained heap typic

[2022-04-11 06:00] jiacheliu3 commented on #14746
Hi @jingcheng88 We don't see more updates under this ticket and if the investigation does not go any further, we are going to close this ticket.

You can try:

1. There is a similar issue in https://github.com/Alluxio/alluxio/issues/14729 which turned out not to be a leak but related to GC tuning. @jingcheng88 Can you check your GC parameters and see that's relevant?

2. You may try later versions

[2022-04-11 14:20] zh-jn commented on #12688
Hi calvinjia, can you explain why/or give an example of consistency issues.
I am using alluxio.hadoop.FileSystem, because there is no namenode, then no one can cleaning the content in trash folder (e.g. /user/hive/.Trash) automatically. Or, is there exists an machanism to clean the trash?

[2022-04-11 17:16] LuQQiu commented on #15248
@liugs0213 I guess the old mount point is not cleaned up, do you have new Fuse logs when the new Fuse pod is up?

[2022-04-11 17:24] LuQQiu commented on #15288
Occur
[code]
@beinan looks like a similar issue happens.
What could be the possible reasons that a block is broken?
- have blocks left by the previous Alluxio cluster, didn't fully clean up when launching the new alluxio cluster, and have the same block id in the new cluster.
- block itself broke after successfully written (unlikely?)
-

[2022-04-11 17:37] LuQQiu opened #15290 "Deprecated property key value should be passed to new property key with alias"
**Alluxio Version:**
2.7.0, 2.8.0

**Describe the bug**
In Alluxio property key fail, we see
[code]
We have one deprecated property key and one new property key with alias name the same as the old deprecated property key value.
The code has been changed to use `USER_STREAMING_DATA_READ_TIMEOUT`.

Expected that setting the value of one of the property key names should set the value of `USER_STREAMI

[2022-04-11 17:38] LuQQiu commented on #15290
@yuzhu @Xenorith
This issue is not a regression for 2.8.0, do we consider it as a release blocker that needs to fix immediately?

[2022-04-11 18:23] HelloHorizon commented on #15288
FYI @yuzhu

[2022-04-11 18:33] HelloHorizon commented on #15279
Hey @beinan PTAL

[2022-04-11 20:33] beinan commented on #15279
Hello @flaming-archer ,  thank you for reporting this issue to our community!  The log is helpful, just one question about the failure,  is your client creating new blocks or moving blocks to mem? thanks!

[2022-04-11 20:41] beinan commented on #15288
Yes, @yuzhu and I have seen the same symptom when rolling back the journal.   As you said, there might be block files that have not been cleaned up. I'm still thinking to keep a last modified time in the metadata of each block will help alluxio kickout the staled or orphan blocks.

[2022-04-11 20:44] LuQQiu commented on #14854
Verified that alluxio CLI doesn't support rename while writing.
In one shell, copy from from local
[code]
While copying, in another shell, try to rename
[code]
Then rename returns successfully `Renamed /a.zip to /b.zip`
and copyFromLocal error out with `Failed to cache: Path "/a.zip" does not exist.`

[2022-04-11 21:08] LuQQiu commented on #15290
This issue is discovered with the changes of modifying `alluxio.worker.fuse.*` to `alluxio.fuse.*` https://github.com/Alluxio/alluxio/pull/15286

[2022-04-11 21:15] LuQQiu commented on #15290
Proposal:
Have a separate DeprecatedKey class to
- record the deprecated key information (name, alias, default value, description) similar to property key
- record when this key is deprecated and when it will be removed.
- remind users to move the DeprecatedKey to removedKey when it should be removed (passed the removal time)
- Warn user deprecated information through logging
- Improve Alluxio con

[2022-04-11 21:16] LuQQiu commented on #15290
Basically, it will be a refactoring that is better to be merged after 2.8 release

[2022-04-11 21:22] LuQQiu commented on #15290
Exception
[code]
These two property key have special deprecation logic to transfer the values of `WORKER_EVICTOR_CLASS` to `WORKER_BLOCK_ANNOTATOR_CLASS` in code

[2022-04-11 21:25] LuQQiu commented on #15290
A quick/isolated fix for 2.8 is to remove all the deprecated property keys except `WORKER_EVICTOR_CLASS`.

[2022-04-11 22:44] LuQQiu opened #15294 "Improve Fuse.statfs performance"
**Is your feature request related to a problem? Please describe.**
Fuse.statfs can be called a large amount of times by the operating system.
In the current implementation, Fuse will go to master to get the capacity information for each statfs call.

**Describe the solution you'd like**
Better to change it to be able to cache the results and the cache time is configurable.
This can help reduce the

[2022-04-12 00:03] #15294 closed

[2022-04-12 00:08] LuQQiu opened #15295 "Fuse.statfs impact Alluxio performance and cause OOM"
**Alluxio Version:**
2.8.0

**Describe the bug**
Fuse.statfs called `ClientContext.create` for each call.
[code]
Each `ClientContext.create` will
[code]
copy the whole alluxio properties.

So each `Fuse.statfs` copies the whole property key.
Kernel calls `Fuse.statfs` a large number of times and will likely cause memory/GC overhead, and may cause OOM.

Each `Fuse.statfs` will issue one master RPC

[2022-04-12 00:18] LuQQiu opened #15296 "AlluxioConfiguration.copyProperties cause high memory consumption or potential OOM issues throughout code base"
**Alluxio Version:**
2.8.0

**Describe the bug**
[code]
is called throughout the codebase and even in many frequently called code paths.
Frequently copyProperties results in high memory consumption and causes OOM issues before.
e.g. job worker copyProperties for each file load. https://github.com/Alluxio/alluxio/issues/14843
Fuse.statfs copyProperties for each statfs call. https://github.com/Allux

[2022-04-12 00:19] LuQQiu commented on #15296
@rongrong FYI

[2022-04-12 00:33] LuQQiu commented on #15248
@liugs0213 can you add the detailed alluxio commit  number if possible, want to confirm whether OOM is related to https://github.com/Alluxio/alluxio/issues/15295

[2022-04-12 02:30] liugs0213 commented on #15248
![image](https://user-images.githubusercontent.com/55676558/162867311-d571923e-cfc7-426f-8d66-1d7ef2f4a6e6.png)
Fuse logs are fine after being restarted

[2022-04-12 03:24] Yang9613 opened #15297 "Alluxio-master can't restart after OOMKilled because raft server checksum failed"
**Alluxio Version:**
2.8.0-SNAPSHOT

**Describe the bug**
Usually, the master will correct restart after OOMKilled, but this time, during the master startup, raft server start failed because ChecksumException
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/26197839/162871726-8056a623-c844-4430-8b8c-cd9c0f3ae9f2.png">
We already resolve this problem by delete the master

[2022-04-12 05:17] cangyin opened #15298 "alluxio.user.file.metadata.sync.interval not working when mounting a whole bucket as primary UFS"
**Alluxio Version:**
2.7.3

**Describe the bug**
The `alluxio.user.file.metadata.sync.interval` is not working when mounting a whole bucket as _primary UFS_, but works well if mounting a directory in the bucket, or if mounting a bucket (or directory in bucket) as _additional UFS_.
As documented [here](https://docs.alluxio.io/os/user/2.7.3/en/ufs/S3.html#:~:text=Note%20that%20if%20you%20want%20to%2

[2022-04-12 14:38] yyongycy commented on #15248
So the scenario is two different PODs, one is FUSE pod, the other the POD running TF jobs?
And the FUSE POD restarts and works correctly in the new FUSE POD, while the mont point is not accessible in the TF POD.

I am assuming the mount is bidirection bind, right?

[2022-04-12 18:40] LuQQiu commented on #15248
@liugs0213 can you help see if it can be reproduced in raw linux environment?
@ssz1997 would it happens because of the kubernetes settings of bidirectional mount?

[2022-04-12 18:43] LuQQiu commented on #15248
For the fuse OOM issue or any other OOM related issues, it will be good if we can get a memory dump to analyze from.
In plain Alluxio install, alluxio can set the JAVA opts to dump memory when OOM to local filesystem path.
[code]

[2022-04-12 20:48] jja725 commented on #14843
When running the test, the direct cache only uses around 1% of the CPU of the Worker while the passive cache could use up to 10%.

direct-cache constantly uses 4 threads running (which is core pool size) while passive-cache could use more threads(8 to 10).

The difference is caused by the different kinds of GRPC APIs. Which direct-cache uses blocking RPC(have to wait for the call to be finished so

[2022-04-12 20:59] ssz1997 opened #15308 "`mount` command doesn't work in `alluxio/alluxio` image"
Alluxio image version:latest

Inside the k8s containers, `mount` command returns nothing. This makes [fuse_mounted()](https://github.com/Alluxio/alluxio/blob/0d82635bdaea5e66c14a388e12e79ad8ffe1c682/integration/fuse/bin/alluxio-fuse#L225) not doing its job.

`alluxio/alluxio-dev` image doesn't have this problem.
The `alluxio-fuse-client` image, which pulling the latest `Alpine` image, doesn't have

[2022-04-12 21:16] ssz1997 opened #15309 "Permission denied writing `alluxio-env.sh` if using custom tarball"
Alluxio version: master

I build the tarball locally on mac with `dev/scripts/generate-tarballs` and build docker image with the tarball. The resulting image is not usable with error from `entrypoint.sh` saying permission denied while writing into `alluxio-env.sh`.

The underlying reason is the tarball along with its contents is owned by the local mac user (in my case user with id 501), and we don

[2022-04-13 01:30] liugs0213 commented on #15248
Fuse task of quick OOM has not been found, it may be sent to you later

[2022-04-13 02:30] liugs0213 commented on #15248
Sorry, not very well reproduced in the Linux raw environment, involving CSI and fluid

[2022-04-13 03:23] liugs0213 commented on #15248
Sorry, it is not very good to reappear in Linux raw environment, involving CSI, mount PVC and fluid, currently suspected tf job abnormal endpoint not connect that is due to the process responsible for fuse, did not umount the point before dying.

[2022-04-13 07:15] yyongycy commented on #15248
A few tips to reproduce, in your environment, the fuse is killed by OOM, but you can try to manually kill the process by `kill -9 fuse_process`, that can also simulate the same.

Then after remount, you can check if the problem is same.

Another thing is to check your k8s environment, how is your fuse mount point mapped in the TF? is it bidirection mount?

[2022-04-13 07:21] liugs0213 commented on #15248
Yes, I can stably reproduce by delete Fuse Pod,
Tfjob is connected by mounting
![image](https://user-images.githubusercontent.com/55676558/163121745-abce7e7d-4e63-4c26-946e-11b2d24e985a.png)

[2022-04-13 07:35] yyongycy commented on #15248
What is your parameter to mount the fuse mount point into your TF pod?
Not sure if you can try the following option:
  - mountPath: /runtime-mnt/alluxio/ai/rec-data-295188
   mountPropagation: Bidirectional
   name: alluxio-fuse-mount-0

[2022-04-13 07:39] liugs0213 commented on #15248
It's consistent with what you said
![image](https://user-images.githubusercontent.com/55676558/163124822-e6309ed3-93c2-4a40-b5c2-7792ee33b755.png)

[2022-04-13 08:02] yyongycy commented on #15248
how about trying both Bidirectional.

[2022-04-13 08:05] liugs0213 commented on #15248
Ok, I'll try

[2022-04-13 11:00] jack161641 opened #15317 "Failed to connect to remote block worker on kubernetes"
**Alluxio Version:**
Alluxio 2.7.3

**Describe the bug**
First I deploy Alloxio Cluster on k8s through use office helm chart,the cluster  consist of 1 master and 3 workers，and I install alluxio csi on k8s through office helm chart , consist of 1 csi-node-controller and 3 csi-nodeplugin
After that I create alluxio PV then bound PVC to PV， pod is staring with pvc，As shown below，directory /data，I can

[2022-04-13 15:23] yyongycy commented on #15248
So this problem in essential is a configuration issue. Not specific to the alluxio-fuse.

[2022-04-13 18:31] LuQQiu opened #15319 "Alluxio Fuse open/create read/write type state machine code refactoring"
**Is your feature request related to a problem? Please describe.**
Alluxio Fuse open/create can have different read/write mode and complicated logics.
Currently, all logics is in the AlluxioJniFuseFileSystem class, making the code hard to read/maintain.

**Describe the solution you'd like**
Create a state machine for read/write modes. For example, ReadWriteMode will have a separate class with open

[2022-04-13 18:33] #15295 closed

[2022-04-14 03:18] LuQQiu commented on #15288
From @Nizifan, When cache is incorrect, can we delete the block and read from UFS to get the correct one

[2022-04-14 15:29] ssz1997 commented on #15309
Solved by #15320

[2022-04-14 17:24] LuQQiu commented on #15288
@beinan I discussed with @Nizifan  that
in Fluid with 0.7, worker is launch with statefulset, which means that the worker can be launched on random machine.
e.g. The kubernetes cluster has 7 nodes, we want 5 workers, the workers can be launched on one of the machine.

The worker may be randomly restarted and relaunch on other machines, but we want to reuse the local storage if any and if master ha

[2022-04-14 17:29] LuQQiu commented on #15019
@Nizifan Timeout logics has been added to the block read/write, but that requires extra thread/resources to keep track of the read/write

[2022-04-14 17:33] LuQQiu opened #15331 "Fuse readdir follows getattr for each file"
**Alluxio Version:**
2.8

**Describe the bug**
Fuse readdir always follows the getattr for each file in the directory.
This results in a long readdir call which gets all the file status from master, abandons the file status, and has file number getattr() calls to master to get the file status of individual files.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as poss

[2022-04-14 20:10] LuQQiu opened #15334 "Deprecate JNR-FUSE to avoid confusion"
**Is your feature request related to a problem? Please describe.**
Deprecate JNR-FUSE in newer version of Alluxio and fully remove it in Alluxio 3.0

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Urgency**
Exp

[2022-04-14 22:52] LuQQiu opened #15339 "Investigate libfuse3 and move Alluxio Fuse to libfuse3"
**Summary**
Investigate the benefits libfuse 3 provides, and fully move Alluxio Fuse to libfuse 3

**Urgency**
Explain why it is important to address the tech debt

[2022-04-15 03:57] Nizifan commented on #15019
Thanks for that change!

[2022-04-15 04:05] Nizifan opened #15343 "Alluxio should provide ability to free space used for specified worker"
**Is your feature request related to a problem? Please describe.**
Related to issue https://github.com/Alluxio/alluxio/issues/15172

In fluid v0.7, worker is deployed via statefulset instead of daemonset, which breaks the assumption that worker will be restarted on the same node.
In current mechanism, fluid will request to free space after runtime get deleted.
There 2 problems causing lots of stor

[2022-04-16 01:58] LuQQiu opened #15352 "Support testing root directory in runUfsTests"
**Is your feature request related to a problem? Please describe.**

runUfsTests always create a test directory and run all the tests inside so problems related to root only will not be tested.

**Describe the solution you'd like**
Support runUfsTests with option about whether to create test directory or not and by default create the test directory.

**Describe alternatives you've considered**
A cl

[2022-04-18 02:41] jameszd12 opened #15353 "alluxio2.6.1 on k8s,master总是无缘无故挂掉TableMatser: Journal shutdown complete,删除journal日志，才可以正常"
![微信图片_20220418103430](https://user-images.githubusercontent.com/16813132/163745539-cb62ceaa-be03-451f-878f-ca59587c7e72.jpg)

MetricsMaster: journal checkpoint thread has been shutdown.no new logs have been found during the quied period.

[2022-04-18 02:43] jameszd12 commented on #15353
![image](https://user-images.githubusercontent.com/16813132/163746055-3ab5f4e6-f2d9-487d-8fd0-bebc3ca77914.png)
![image](https://user-images.githubusercontent.com/16813132/163746098-f1eba078-7b9d-4116-9180-20daebfa6fac.png)

[2022-04-18 20:54] LuQQiu commented on #15352
a temporary test fix available at https://github.com/Alluxio/alluxio/pull/15361

[2022-04-19 03:42] living42 opened #15373 "What causes io.grpc.StatusRuntimeException: UNAUTHENTICATED: Channel: xx is not authenticated for call: yyy?"
**Alluxio Version:**
2.7.4

I'm not sure this is a bug, but i just wondering why it happens.

For long time, i notice Alluxio constantly report this Exception, for most of time, it does not cause any issue, but recently i found critical one that could interrupt automatic snapshot, and the Master_JournalEntriesSinceCheckPoint is ever growing, in this case, the only choice i found was to switch lead

[2022-04-19 06:43] jiacheliu3 commented on #15266
Compared to the existing method PathUtils.hasPrefix:
[code]

The API should be
[code]
where each `LockedInodePath` contains a list of inodes, and we can find the inodeId out of each Inode.
Typically the `prefix` parameter is an Alluxio path, and we can use `LockedInodePath` instead of a String.

Then in the `MountTable` class we can keep a Trie<Long> of all the mount points in Alluxio. Then it wil

[2022-04-19 06:46] jiacheliu3 commented on #15266
Whenever we check `hasPrefix(String path, String prefix)`, the two paths are typically both from `LockedInodePath`. For example [here](https://github.com/Alluxio/alluxio/blob/e7a81589ca6f9b1987fe34c214f84334c102e4dd/core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java#L2609) the paths are from `LockedInodePath` parameters. This is almost always the norm in our code.

[2022-04-19 08:55] yuyang733 opened #15376 "Alluxio's metadata cap issue"
**Is your feature request related to a problem? Please describe.**
As a unified metadata view cache layer, Alluxio can mount multiple underlying storage systems, including cloud object storage system S3/COS. However, the number of files that object storage can support is much larger than the storage system of the classic master-slave distributed architecture so that Alluxio cannot support such lar

[2022-04-19 17:33] yuzhu commented on #15267
@lucaspeng12138 do you have any debug level logging for this error? Seems like the transition was not caused by any error on the master.

[2022-04-19 21:55] HelloHorizon commented on #15376
Hey @yuyang733 , do you mind elaborating on your problem here? Do you face the meta data store capacity issue(number of files) or server issue(request/s)?

For the second question, since we have to store much more metadata in our inode (Alluxio only and also some ufs-related metadata), our inode size is large than HDFS. We are more than welcome to see any suggestions if you see anywhere we can opt

[2022-04-19 21:55] HelloHorizon commented on #15376
FYI @jiacheliu3

[2022-04-20 05:08] Haoning-Sun opened #15394 "Business Pod startup is very slow when fuse process in separate Pod"
**Alluxio Version:**
master branch

**Describe the bug**

The business pod takes 2~3 minutes to start. It seems that mount operation takes a lot of time.

![image](https://user-images.githubusercontent.com/13930429/164146136-af2cb1a2-b038-45b9-8802-4ae493bad5ce.png)

business pod description:
![image](https://user-images.githubusercontent.com/13930429/164146599-d76dfb77-2b9d-49fb-9df6-b2de6429c547

[2022-04-20 08:51] jiacheliu3 opened #15397 "alluxio.user.block.write.location.policy.class used to choose UFS stream worker"
**Summary**
Currently `alluxio.user.block.write.location.policy.class` is used to determine which worker to write to UFS
https://github.com/Alluxio/alluxio/blob/6a9ac7111541c905f730de57c8561ea2da210bd0/core/client/fs/src/main/java/alluxio/client/file/AlluxioFileOutStream.java%23L129

The property key should be renamed if we want to unify block write and ufs write behavior. Or we should separate th

[2022-04-20 08:56] jiacheliu3 opened #15398 "Worker metrics calling getBlockMeta() too frequently"
**Summary**
In the DefaultBlockWorker metrics, getBlockMeta() is called on almost every metric.
https://github.com/Alluxio/alluxio/blob/f237f624c7ca189faae32936d2e5edc9720404b3/core/server/worker/src/main/java/alluxio/worker/block/DefaultBlockWorker.java#L747

This cost can be avoided more efficiently.

**Urgency**
LOW

[2022-04-20 09:33] lucaspeng12138 commented on #15214
I found the problem. First of all, this test case runs for long, should add --bench-timeout as more than 200m. Then jvm option should set young generation for a large mem, otherwise gc will kill kill the container.
 jvmOptions:
    - "-server"
    - "-Xmx96g"
    - "-Xms96g"
    - "-Xmn10g"
    - "-XX:SurvivorRatio=6"
    - "-XX:ParallelGCThreads=40"
    - "-XX:MaxDirectMemorySize=4g"
    - "-XX:+

[2022-04-20 09:33] #15214 closed

[2022-04-20 10:21] bobbai00 commented on #15266
The usages of `hasPrefix(String path, String prefix)` can be concluded into 3 cases:

1. Handling external events and commands
In this case, two parameters, `path` and `prefix` come from the raw strings in the events and commands, or are extracted from `AlluxioURI`, which is just an encapsulation of a string literal. For example:
[code]
Therefore, I think the string-comparison `hasPrefix` is fine

[2022-04-20 21:02] rongrong opened #15414 "Rest API documentation link in File System API documentation page doesn't work"
**Alluxio Version:**
https://docs.alluxio.io/os/user/edge/en/api/FS-API.html

**Describe the bug**
The link to "Rest API documentation" doesn't work on the above page.
The link on master works. The link is generated as [REST API documentation](https://docs.alluxio.io/os/restdoc/{{site.ALLUXIO_MAJOR_VERSION}}/proxy/index.html)

Is there a more reliable way to make sure this works?

I double checked

[2022-04-20 21:12] LuQQiu commented on #15331
From https://sourceforge.net/p/fuse/mailman/fuse-devel/thread/878tcgxvp2.fsf%40vostro.rath.org/#msg36209107
and discussed with @tcrain
For FUSE2, even if `readdir()` returns the valid file status to underlying FUSE, `getattr()` for each file inside the directory will still be called.
For FUSE3, if `FUSE_READDIR_PLUS` is implemented, `readdir(dir)` will know that the valid file statuses of the dire

[2022-04-21 00:53] #14766 closed

[2022-04-21 05:41] yuyang733 commented on #15376
Thank you for your reply.
At present, some of our cases require more than 1 billion files on the Underlying Object Storage. Although we have opened the metadata storage structure of HEAP+RocksDB,  the overhead of the Master is heavy, such as Memory, IOPS, etc.

The outstanding issue is: Is it reasonable for Alluxio to fully cache all metadata of the Underlying File System, especially Object Storag

[2022-04-21 05:41] Xenorith commented on #15414
https://docs.alluxio.io/os/user/edge/en/api/FS-API.html#rest-api links to https://docs.alluxio.io/os/restdoc/edge/proxy/index.html which is the correct behavior

https://docs.alluxio.io/os/user/stable/en/api/FS-API.html#rest-api links to https://docs.alluxio.io/os/restdoc/2.7/proxy/index.html which is the incorrect behavior when we switched to assigning the full 3 digit version string instead of 2

[2022-04-21 05:42] yuyang733 commented on #15376
Thank you for your reply.
At present, some of our cases require more than 1 billion files on the Underlying Object Storage. Although we have opened the metadata storage structure of HEAP+RocksDB, the overhead of the Master is heavy, such as Memory, IOPS, etc.

The outstanding issue is: Is it reasonable for Alluxio to fully cache all metadata of the Underlying File System, especially Object Storage

[2022-04-21 10:34] flaming-archer commented on #15279
I'm not sure. There are two 2 operations. One is presto query from alluxio, the other is load data from hdfs to alluxio via java filessystem. Maybe load operator lead to some creating new blocks or moving blocks to mem.

[2022-04-21 18:12] apc999 commented on #12374
@51yu @tomiles  this feature will be available in Alluxio 2.8 enterprise edition.

[2022-04-21 18:12] #12374 closed

[2022-04-21 20:29] findinpath opened #15429 "Bump up netty-tcnative-boringssl-static"
**Summary**

Looking at the https://github.com/Alluxio/alluxio/blob/release-2.7.4/core/common/pom.xml#L115-L119 can be seen that the version for `netty-tcnative-boringssl-static` is from 2019.

**Urgency**

This is quite a headache in the context of using the `alluxio-shaded-client` with other libraries which pull `netty-tcnative-boringssl-static` (e.g. : `azure-core`).

Now as you may know, in th

[2022-04-22 00:40] viadea opened #15434 "Add alluxio.underfs.gcs.version=1 in Dataproc doc"
**Page**
[Include the link to the page you are reporting a defect](https://github.com/Alluxio/alluxio/blob/master/docs/en/cloud/Google-Dataproc.md)

**Summary**
What is the defect and suggested improvement

When mount GCS using option "Example 1: use google cloud storage bucket as Alluxio root UFS".
We need to set
[code]
in the `--metadata alluxio_site_properties=` section.
Otherwise it will repor

[2022-04-22 06:30] liangrui1988 opened #15441 "What is the best solution to solve the problem that the partition of hive table is loaded into the Alluxio cache only in the recent N days?"
**Is your feature request related to a problem? Please describe.**
What is the best solution to solve the problem that the partition of hive table is loaded into the Alluxio cache only in the recent N days?

**Describe alternatives you've considered**
It is possible to manually mount the partition and change the Hive partition location.The problem is that partitions are being added every day, so w

[2022-04-22 07:24] bobbai00 commented on #15266
`MountTable` currently provides 2 modified methods:
1. `void add(Supplier<JournalContext> journalContext, AlluxioURI alluxioUri, AlluxioURI ufsUri,
      long mountId, MountPOptions options)`
2. `boolean delete(Supplier<JournalContext> journalContext, AlluxioURI uri,
      boolean checkNestedMount)`

I checked the places where these two methods are called, and found that both two methods are calle

[2022-04-24 02:04] lucaspeng12138 commented on #15267
I think this is caused by memory leak in CreateDir and CreateFile testcases. I found gc log, and analysis is as following:

<img width="1199" alt="image" src="https://user-images.githubusercontent.com/100204617/164952648-348e28a0-6ebb-4f46-8c8d-34aaee279cac.png">

<img width="1300" alt="image" src="https://user-images.githubusercontent.com/100204617/164952659-f2710afc-17ae-4c99-a28e-6af40f70aaa1.p

[2022-04-24 02:49] yuzhu commented on #15267
@lucaspeng12138 which process showed  this memory usage?  AlluxioMaster?

[2022-04-24 03:04] lucaspeng12138 commented on #15267
@yuzhu yes, alluxio master

[2022-04-24 03:40] xichen01 commented on #9472
//assign @xichen01

[2022-04-24 08:17] xichen01 commented on #9472
@jiacheliu3
For `alluxio.master.mount.table.root.ufs`, the root UFS is mounted when the master starts and cannot provide print information on the terminal, only the information can be output in the log
So:
- Just simply output some debug level logs. That way mount-related information may be submerged in the startup log.
- Provide info-level mount logs, and use a `PropertyKey` to control whether th

[2022-04-25 02:53] jack161641 commented on #15317
Does anyone answer this question？

[2022-04-25 10:26] cangyin opened #15451 "FUSE java process hangs on class loader."
**Alluxio Version:**
2.7.3

**Describe the bug**
FUSE process goes into deadlock when mounting a sub-directory named "_alluxio_" in _current directory_. The process then becomes zombie process when killed.

**To Reproduce**
[code]

**Expected behavior**
FUSE process to not hang.

**Details**

`jstack` output of the hanging FUSE process:

<details>
  <summary>Click to expand.</summary>

[code]

</d

[2022-04-25 18:11] HelloHorizon commented on #15353
@jameszd12 do you mind copying the log here? These pictures are unclear

[2022-04-25 21:37] LuQQiu opened #15453 "Support setting MAX_IDLE_THREADS in libfuse3"
**Is your feature request related to a problem? Please describe.**
Support setting MAX_IDLE_THREADS in libfuse 3

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Urgency**
Explain why the feature is important

*

[2022-04-25 22:16] LuQQiu commented on #15297
@yuzhu @tcrain This issue happens repeatedly, PTAL.
@Yang9613 which Alluxio version your branch is based on?
Is it happen regularly before upgrading to this version? Trying to understand why it happens frequently recently

[2022-04-25 22:22] HelloHorizon opened #15454 "Make RocksDB configurable in Alluxio"
**Is your feature request related to a problem? Please describe.**
Nowadays users don't have a way to config the RocksDB configurations.

**Describe the solution you'd like**
Expose the RocksDB options file to users.

**Describe alternatives you've considered**
N/A

**Urgency**
low

[2022-04-25 23:26] jenoudet commented on #15373
This is caused by some gRPC streams being closed improperly / too early. Some steps have been taken in the upcoming 2.8 release which greatly improve the checkpointing process. Some corner cases have been observed to still occur, however, although rarely.

[2022-04-26 00:42] LuQQiu commented on #15343
FYI @beinan @ssz1997

[2022-04-26 01:42] cangyin commented on #15451
This is how I think the deadlock is formed.
![image](https://user-images.githubusercontent.com/50256182/165202317-7cb16d25-abfc-4445-a0a5-0e02fe2d3b3c.png)

But I am not sure, please correct me.

[2022-04-26 02:36] ljl1988com commented on #14724
@Nizifan I test fuse mount with newest version. Command `ls` in the mount path is right.

[2022-04-26 03:00] hairongGao commented on #15134
Sure , I'll take a shot and get back to you later

[2022-04-26 14:52] allenhaozi opened #15463 "ClientMasterSync - Failed to get master address during initialization"
[code]

[2022-04-26 16:17] czy006 opened #15465 "Bump to Netty Version 4.1.77"
**Is your feature request related to a problem? Please describe.**

I noticed that the Netty package under Alluxio hasn't been updated in 2 years,I don't know why the community doesn't keep this dependency up to date. now netty 4.1.77  is seam feasible,can we upgrade it? I think our upgrade may bring the following benefite.

**Describe the solution you'd like**

Alluxio pom upgrade Netty and gRpc

[2022-04-26 17:32] yuzhu opened #15466 "Expose rocksdb metrics as alluxio metrics"
**Is your feature request related to a problem? Please describe.**
Expose rocksdb metrics as alluxio metrics

**Describe the solution you'd like**
See https://github.com/facebook/rocksdb/wiki/Memory-usage-in-RocksDB
Start with memory metrics and perhaps other important rocks metrics too

[2022-04-26 20:07] LuQQiu commented on #15297
Based on commit 5cf33595cb8c6e6d2738a211e12d445b5e98b663

[2022-04-26 21:09] LuQQiu commented on #15343
Actually one step above this feature,
it would be better to have one command to free space for all workers.
The current `alluxio fs free /` free the alluxio metadata and asynchronously clean all alluxio data, would want a synchronous command

[2022-04-26 22:54] ssz1997 commented on #15317
@jack161641 Are you using short circuit? i.e. in your helm chart config, inside `shorCircuit`, did you set `enabled` to `false`?

[2022-04-27 00:42] maobaolong opened #15468 "Add a doc for jmx metrics page"
**Page**
Metrics-system

**Summary**

Describe how to config and use jmx metrics page.

[2022-04-28 15:01] j-buczak opened #15482 "Cannot create subpath in MinIO"
**Alluxio Version:**
Alluxio: 2.6.1
Presto: 0.265.1
HiveMetastore: 3.0.0
MinIO: RELEASE.2022-01-25T19-56-04Z

Env: K8s on Minikube
Alluxio workers are placed in the same container as Presto workers.
Alluxio master is placed in the same container as Presto coordinator.
MinIO - 4-node Statefull Set
HiveMetastore: deployment

**Describe the bug**
Cannot create schema with location inside s3 bucket fo

[2022-04-29 07:44] secfree opened #15486 "listStatus should update files' lastSyncTime under the directory for HDFS"
**Is your feature request related to a problem? Please describe.**

When ufs is hdfs, listStatus a directory
1. syncs and updates meta data of files under it
2. does not updates lastSyncTime of files under it

These causes accessing a file under the directory just after listStatus needs to sync meta once more.

Below is an example with alluxio.user.file.metadata.sync.interval=5m

[code]

**Describ

[2022-04-29 07:54] secfree commented on #15486
@jiacheliu3 @tcrain  can you help assess if this is needed? Thank you.

[2022-04-30 01:03] #15394 closed

[2022-05-02 17:51] ssz1997 opened #15491 "Deploying on k8s not easy enough"
I feel like deploying Alluxio on k8s currently is not easy enough for first-time users using helm chart in following aspects:

1. Journal by default is using PV/PVC because we want them to persist. However we don't provide a default PV template in the codebase.
2. Short-circuit by default is also using PV/PVC and we don't have a PV template.

I think these two are the major barriers for first-time

[2022-05-02 17:52] ssz1997 commented on #15491
@LuQQiu @jiacheliu3 @ZhuTopher ^ Let me know what you all think, and please correct me if I overlook something.

[2022-05-02 20:37] ZhuTopher commented on #15491
Thanks Shawn for making this git issue! I agree pretty strongly with what you brought up here as I went through the same struggles on-boarding myself with this topic 😅

1. I definitely think the default journal PV (`hostPath` volume on the Master node(s)) can be included as part of the Helm chart itself. However, I think we should make it an "opt-in" field in `values.yaml` rather than a default. T

[2022-05-02 21:14] LuQQiu commented on #15491
Thanks @ssz1997 ,
I didn't expect that i cannot follow the kubernetes doc blindly
I expect
[code]
directly works and can create the simplest Alluxio cluster for me without any tunning
(and of course, the tons of tuning is just too much information)

Would want to have a simplest version of kubernetes helm chart quick start
and then have advance section about how to tune and change based on needs

[2022-05-04 16:57] LuQQiu commented on #15297
From @tcrain
This looks like an issue with the implementation of Ratis. Ratis should handle bad logs itself by retrieving the valid logs from a replica. We definitely don’t want to delete logs ourselves since we do not know the state of the other replicas, i.e. we don’t know if it it safe.

This maybe related https://issues.apache.org/jira/browse/RATIS-797?jql=project%20%3D%20RATIS%20AND%20status%

[2022-05-05 09:47] shaoxuefeng opened #15505 "How Alluxio Mount NFS Share Point Directly？"
I had a problem about nfs mount when using Fluid, which using Alluxio as defalut runtime.
In Fluid, we need to declare a pointmount to share the filesystem or something else, such as `hdfs://<namenode>:<port>` [Link](https://fluid-cloudnative.github.io/zh/samples/hdfs_configuration.html#%E7%A4%BA%E4%BE%8B-fluid%E8%AE%BF%E9%97%AEhdfs%E6%89%80%E9%9C%80%E7%9A%84%E7%89%B9%E6%AE%8A%E9%85%8D%E7%BD%AE).

[2022-05-05 12:26] jiacheliu3 commented on #14992
@maobaolong @bzheng888 Could you add your read-only use case here? We'd like to understand if "read-only" means the in-UFS paths or the in-Alluxio paths too.

[2022-05-05 13:39] allenhaozi opened #15506 "Alluxio image gets bigger and bigger ?"
Can the mirror image be smaller?
We are the private cloud scene, There are requirements for package size

<img width="1711" alt="image" src="https://user-images.githubusercontent.com/5318541/166933498-8e468ffd-69f0-464f-87f0-a05b67a9f170.png">

[2022-05-05 21:42] Xenorith opened #15508 "Add initialFailureThreshold parameter for max throughput stressbench"
**Is your feature request related to a problem? Please describe.**
Running MaxThroughput, in particular for the Delete operation, is prone to failing at medium loads/target throughputs, causing the reported max throughput to be significantly lower than what it should be.

**Describe the solution you'd like**
This adds the logic of failing multiple times when determining the initial upper bound, bu

[2022-05-06 04:09] maobaolong opened #15509 "Standby Master Read"
**Is your feature request related to a problem? Please describe.**

Support Standby read.

**Describe the solution you'd like**

Standby support part of read only operation.

**Describe alternatives you've considered**

- Separate service port and client rpc port. Worker talk to master through service port
- all master start rpc and service rpc port. Worker talk to all master.
- Client manage and

[2022-05-06 14:44] #14966 closed

[2022-05-06 14:45] jiacheliu3 commented on #14015
Can this be closed?

[2022-05-06 14:46] jiacheliu3 commented on #13416
Can this be closed?

[2022-05-07 01:59] maobaolong commented on #14015
Not yet, I found that, some of the operations within StressMasterBench were not respect to the `MUST_CACHE` config.

Something like this

<img width="810" alt="image" src="https://user-images.githubusercontent.com/17329931/167233483-ed9a9823-55bf-4737-94eb-7d3aeddb07ba.png">

[2022-05-07 02:01] maobaolong commented on #14015
Yeah, thanks @dbw9580 @jiacheliu3

[2022-05-07 02:01] #14015 closed

[2022-05-07 08:31] JySongWithZhangCe opened #15517 "Add cluster usage balance CLI"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when few Alluxio workers are full of data, while others are empty.

**Describe the solution you'd like**
Add cluster usage balance CLI to manually balance the cache.

**Describe alternatives you've considered**

- Add a configuration about the maximum number of replicas in a single worker.
- Support clearing t

[2022-05-07 08:32] JySongWithZhangCe commented on #15517
@jiacheliu3 Would you like to give some suggestions?

[2022-05-07 08:36] jiacheliu3 commented on #15517
fyi @HelloHorizon

[2022-05-07 08:52] JySongWithZhangCe commented on #15517
For now, the applications has final and absolute control over how the cached data is distributed. In this case, excellent users can speed up data analysis well, while unprofessional users encounter various problems. When Alluxio provides services as a sharing platform, it is inevitable that unprofessional users will affect the use of other users.

At present, the administrator does not have a good

[2022-05-07 08:55] xichen01 commented on #8982
// assign @xichen01

[2022-05-07 08:55] JySongWithZhangCe commented on #15517
The uneven distribution of data directly leads to the skew of task scheduling in analysis engines such as Spark, and hotspot workers are frequently under pressure from cache replacement.

[2022-05-07 17:59] #15466 closed

[2022-05-08 04:23] cheyang opened #15519 "Failed to build alluxio binary for 2.8.0"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
A clear and concise description of what the bug is.

I've tried `dev/scripts/generate-tarballs single -target /tmp/alluxio-release-2.8.0-SNAPSHOT-bin.tar.gz`

But got the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear a

[2022-05-09 08:38] flaming-archer commented on #15279
@beinan  Hello, please help to continue this issue, because we Alluxio will be full capacity soon.

[2022-05-09 09:44] zhaoyim opened #15520 "When the linux ssh default port is not 22, the alluxio-start.sh all"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to fix it**

[2022-05-09 10:19] zhaoyim commented on #15520
please assign this issue to me. Thanks!

[2022-05-09 20:01] #15248 closed

[2022-05-09 20:38] HelloHorizon commented on #14874
https://github.com/Alluxio/alluxio/pull/15361 fix this issue

[2022-05-09 20:38] #14874 closed

[2022-05-09 22:46] HelloHorizon commented on #15463
@allenhaozi do you have more context about this issue?

[2022-05-09 22:48] HelloHorizon commented on #15482
@fuzhengjia can you help here?

[2022-05-10 02:24] allenhaozi commented on #15463
hi @HelloHorizon , This is my local MAC env, I increased the resource quota and it work

[2022-05-10 02:24] #15463 closed

[2022-05-10 06:38] beinan commented on #15279
Sorry for my delay.
Yes, the load op will create and move the blocks.  @flaming-archer could you share your alluxio tier storage configuration with us?  I guess your ram disk might occupy too much memory on your servers.  Have you tried to reduce the size of your ram disk?

Or as a workaround, I recommend disable the ramdisk and the mem tier on machines with low memory resources.  As far as I know

[2022-05-10 08:51] liangrui1988 commented on #15441
This problem can be solved by modifying the storage location of Hive table partition location. However, it is risky to perform word verification

[code]

start sh

[code]

/etc/crontab
0 11 * * * hdfs  /home/hdfs/alluxio_sh/start_sh.sh >> /home/hdfs/alluxio_sh/start_sh.log  2>&1 &

[2022-05-10 15:38] ssz1997 commented on #15519
Fixed by https://github.com/Alluxio/alluxio/pull/15521

[2022-05-10 15:38] #15519 closed

[2022-05-11 02:39] flaming-archer commented on #15279
alluxio.worker.tieredstore.levels=2

alluxio.worker.tieredstore.level0.alias=MEM
alluxio.worker.tieredstore.level0.dirs.path=/mnt/ramdisk
alluxio.worker.tieredstore.level0.dirs.mediumtype=MEM
alluxio.worker.tieredstore.level0.dirs.quota=500GB

alluxio.worker.tieredstore.level1.alias=SSD
alluxio.worker.tieredstore.level1.dirs.path=/mnt/ssd/1/alluxiossd,/mnt/ssd/2/alluxiossd
alluxio.worker.tieredsto

[2022-05-11 02:44] flaming-archer commented on #15279
The total mem is about 1T. There are 2 SSDs, both are 3.5T.

[2022-05-11 02:45] flaming-archer commented on #15279
Single tire might be more efficient, but we need more data to be cached.So It is best to use multi-level cache.

[2022-05-11 02:51] beinan commented on #15279
gotcha, @flaming-archer do you mind to share you jvm arguments and alluxio-site.properties with us?  I guess the java heap and ramdisk together may exceed all memory, which may cause a lot of page faults

[2022-05-11 04:11] secfree commented on #15486
(from: https://github.com/Alluxio/alluxio/pull/15277#issuecomment-1119316301)

Checked the code and did a test, this only works if the "ls" operation for the directory has the "recursive" option. @jiacheliu3

[2022-05-11 04:19] secfree commented on #15486
@jiacheliu3 May I know

1. Why I know why SyncTime.mLastRecursiveSyncMs is needed besides SyncTime.mLastSyncMs?
2. Is it ok to update mLastRecursiveSyncMs of the first level children after listStatus the directory without "recursive" option?

[2022-05-11 07:39] liangrui1988 commented on #15441
1 tool. Roll back the location of alluxio partition to the HDFS path.The path transformation rule is written according to its own transformation

[code]

[2022-05-11 09:32] bobbai00 commented on #15266
After examining `LockedInodePath`, I found two interesting things:
1. `LockedInodePath` cannot guarantee that it has the up-to-date inode list.
2. `LockedInodePath` has a member variable called `mPathComponents`.

I think the target of implementing `Trie<Long>`  is to reduce the iteration times, since `PathUtils.hasPrefix` will travel through the two path literals. And now we already have `mPathCo

[2022-05-11 09:44] zhaoyim commented on #15520
@yuzhu Could you help review? Thanks!

[2022-05-11 09:47] jack161641 commented on #15317
I used short circuit,the policy is  uuid，I have solved this problem through by change work pod  environment variable  ALLUXIO_WORKER_HOSTNAME  from  status.hostIP to status.podIP in alluxio-worker-daemonset.yaml where officially provided
Another question, When I write file to Alluxio cache where fuse mounted, the file in Alluxio cache didn't persisting Data to ufs，Is it because the job component i

[2022-05-11 09:52] jack161641 commented on #15317
I used short circuit,the policy is uuid，I have solved this problem through by change work pod environment variable ALLUXIO_WORKER_HOSTNAME from status.hostIP to status.podIP in alluxio-worker-daemonset.yaml where officially provided
Another question, When I write file to Alluxio cache where fuse mounted, the file in Alluxio cache didn't persisting Data to ufs，Is it because the job component is not

[2022-05-11 09:52] jack161641 commented on #15317
I used short circuit,the policy is uuid，I have solved this problem through by change work pod environment variable ALLUXIO_WORKER_HOSTNAME from status.hostIP to status.podIP in alluxio-worker-daemonset.yaml where officially provided
Another question, When I write file to Alluxio cache where fuse mounted, the file in Alluxio cache didn't persisting Data to ufs，Is it because the job component is not

[2022-05-11 09:52] jack161641 commented on #15317
I used short circuit,the policy is uuid，I have solved this problem through by change work pod environment variable ALLUXIO_WORKER_HOSTNAME from status.hostIP to status.podIP in alluxio-worker-daemonset.yaml where officially provided
Another question, When I write file to Alluxio cache where fuse mounted, the file in Alluxio cache didn't persisting Data to ufs，Is it because the job component is not

[2022-05-11 16:10] ssz1997 commented on #15317
@jack161641 Could you provide the Alluxio configuration by uploading your configmap `alluxio-config`? And is there any error log?

[2022-05-12 02:14] #15451 closed

[2022-05-12 02:50] jack161641 commented on #15317
apiVersion: v1
data:
  ALLUXIO_FUSE_JAVA_OPTS: >-
    -Dalluxio.user.hostname=${ALLUXIO_CLIENT_HOSTNAME}
    -XX:MaxDirectMemorySize=2g
  ALLUXIO_JAVA_OPTS: >-
    -Dalluxio.master.hostname=alluxio-master-0 -Dalluxio.master.journal.type=UFS
    -Dalluxio.master.journal.folder=/journal
    -Dalluxio.hub.manager.rpc.hostname=alluxio-hub
    -Dalluxio.security.stale.channel.purge.interval=365d
    -D

[2022-05-12 06:47] jiacheliu3 opened #15548 "Alluxio Helm Chart tarball does not include helm-generate.sh"
**Is your feature request related to a problem? Please describe.**
When I directly download the Alluxio Helm Chart tarball from Alluxio's helm chart download address
[code]
This helm chart tarball does not include the `helm-generate.sh` for me to manually create my YAMLs. I will have to download the full Alluxio tarball and find that. This is a bit inconvenient.

[code]

**Describe the solution yo

[2022-05-12 06:48] jiacheliu3 commented on #15548
fyi @ssz1997 @ZhuTopher

[2022-05-12 06:49] flaming-archer commented on #15279
The jvm is only set max heap in alluxio-evn.sh and only the worker is set.
`
export ALLUXIO_MASTER_JAVA_OPTS=" -Dalluxio.master.audit.logging.enabled=true -javaagent:/path/to/prometheus "
export ALLUXIO_JOB_MASTER_JAVA_OPTS=" -Dalluxio.master.audit.logging.enabled=true  -javaagent:/path/to/prometheus"
export ALLUXIO_WORKER_JAVA_OPTS=" -Xmx70000M -javaagent:/path/to/prometheus  "
export ALLUXIO_JOB

[2022-05-12 06:53] jiacheliu3 commented on #15548
I think you can just move a few files
[code]

You can just move the files outside `helm-chart/` into it.

[2022-05-12 07:48] bobbai00 commented on #15266
Inside `LockedInodePath`, there are two member functions that will make inodes synchronized with `mPathComponents`:

1. `void traverse()`
2. `void addNextInode(Inode inode)`

`traverse()` is called in two class: `InodeSyncStream` and `InodeTree`:
- `InodeSyncStream` calls `traverse` in `sync` method, which sync the metadata, and in `loadFileMetadataInternal` and `loadDirectoryMetadata`;
- `InodeTr

[2022-05-12 08:04] bobbai00 commented on #15266
To optimize the `MountTable`, I think we can build a Trie<string> for each ufs path.

According to current implementation, when we want to add a new entry <`mountPoint(AlluxioUri)`, `ufsPath`>, we need to iterate over all existing entries in mountTable, check whether the parent path of `ufsPath` has already been mounted by calling `hasPrefix`, therefore the time complexity is O(n*m)(n is the numbe

[2022-05-12 08:32] bobbai00 commented on #15266
Also, I think we can build a Trie<String> for the mountPoints(AlluxioUri) too.

Since in some methods of `MountTable` class, we need to find the children mount points of a specified alluxioUri. And in current implementation, we still have to iterate over all entries and call `hasPrefix` to check if the specified alluxioUri is the parent of any mount points.

If we have a Trie<String> that can stor

[2022-05-12 08:51] JySongWithZhangCe opened #15550 "Add ASYNC_CACHE for alluxio.user.file.writetype.default"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I want the task to be done quickly after the data is written to UFS, and this part of the data will be automatically cached in Alluxio.

**Describe the solution you'd like**
Add ASYNC_CACHE write mode that write to UFS first, and async load data into Alluxio.

**Describe alternatives you've considered**
N

[2022-05-12 14:27] jiacheliu3 commented on #15550
If you are comparing your ASYNC_CACHE to CACHE_THROUGH, note that Alluxio builds on the assumption that cache write is faster than UFS write, so whenever UFS write finishes, the cache write has already finished. I'd guess in most cases making the cache write async would not give you a better performance. Another important thing is, Alluxio assumes the alluxio-UFS bandwidth is expensive, while the

[2022-05-12 17:09] ssz1997 commented on #15317
@jack161641 Thanks and I erased your ufs credentials. For your question of data not being persisted, in short it is because the job service is not deployed.

More specifically, the writing type is the default `ASYNC_THROUGH` in your setup, where the data should be cached to ufs asynchronously by job service, which was not deployed in your cluster.

Let me know if you have other questions.

[2022-05-13 03:23] JySongWithZhangCe commented on #15550
I agree that alluxio is designed to better accelerate remote UFS, and at the same time, high-reliability and efficient computing based on local UFS will also be a very common method. Coordinating local UFS and remote UFS to build a high-performance, reliable, and low-cost data analysis system is one of Alluxio's strengths.

[2022-05-13 03:41] JySongWithZhangCe commented on #15550
The data write code shows that CACHE_THROUGH will write the data twice, which significantly increases the time of the data write. https://github.com/Alluxio/alluxio/blob/master/core/client/fs/src/main/java/alluxio/client/file/AlluxioFileOutStream.java
[code]
After verification in production scenarios, the time-consuming of writing data only to the Alluxio cache (MUST_CACHE) is roughly the same as

[2022-05-13 09:04] zhaoyim opened #15554 "alluxio validateEnv all will failed when the SSH port is not 22"
**Alluxio Version:**
What version of Alluxio are you using?
2.7.4

**Describe the bug**
A clear and concise description of what the bug is.
[root@host-10-1-242-31 bin]# cd bin/
-bash: cd: bin/: No such file or directory
[root@host-10-1-242-31 bin]# ./alluxio validateEnv all
Validating master environment on 10.1.242.30 host-10-1-242-30...
Unable to reach ssh port 22 on node 10.1.242.30 host-10-1-24

[2022-05-13 09:05] zhaoyim commented on #15554
Please assign to me. I already have a fix for this. Thanks!

[2022-05-13 09:27] zhaoyim commented on #15554
linked to PR: Validate env support dynamic ssh port #15555

[2022-05-13 10:16] secfree opened #15556 "DynamicResourcePool may throw IllegalArgumentException if release the same resources multiple times"
**Alluxio Version:**
2.7.1

**Describe the bug**
One of our alluxio users encountered `Input/output error` while using alluxio-fuse. We found the following log

[code]

**To Reproduce**
I reproduced the issue with the following changes in UT

[code]

**Expected behavior**
Alluxio should not raise IllegalArgumentException.

**Urgency**
It affects the stability of alluxio FUSE.

**Are you planning t

[2022-05-13 22:07] #14917 closed

[2022-05-14 04:09] jiacheliu3 opened #15561 "TTL not respected when creating files"
**Alluxio Version:**
2.8.0

**Describe the bug**
Creating files like below (ref: https://docs.alluxio.io/os/user/stable/en/core-services/Caching.html#passive-ttl-on-files-in-alluxio) don't seem to respect the TTL setting:
[code]
Or
[code]
Then use `alluxio fs stat <file>` to check the file metadata. I don't find the TTL fields updated correctly.

**To Reproduce**
See above

**Expected behavior**
W

[2022-05-14 04:09] jiacheliu3 commented on #15561
@beinan Added this to your backlog :)

[2022-05-14 11:44] secfree commented on #15486
Checked the code and learned that I had misunderstanding about updating `mLastRecursiveSyncMs`. Setting `mLastRecursiveSyncMs` of the directory is faster than updating all its offsprings, so it is needed.

Please ignore the above two questions here.  Sorry for the inconvenience.

[2022-05-14 15:24] jiacheliu3 commented on #15486
Thanks for the question. Seems the `mLastRecursiveSyncMs` is updated when `DescendantType.ALL`. So `DescendantType.ONE` is actually quite ambiguous here.

From a Unix/Linux FS perspective, the direct children list is part of the directory metadata. So updating the directory metadata and the direct children both count as updating the directory (not recursive). That sounds fine, just a bit counter-i

[2022-05-15 04:06] secfree commented on #15486
If the directory has a lot of children, updating all of them may be expensive. Is it ok to add another field like `mLastChildrenSyncMs` to `UfsSyncPathCache.SyncTime`?

[2022-05-15 08:33] bobbai00 commented on #15266
For now, `MountPointInodeTrieNode<T>` is defined and completed. But I think we still need to discuss how to add it to `MountTable`, to be more specific, which `T` we should use.

From the perspective of performance, `MountPointInodeTrieNode<T>` is not a cache which tolerates misses, instead, it is a new mechanism used to substitute costly iterations in current implementations of `MountTable`. Thus

[2022-05-16 02:11] Haoning-Sun opened #15564 "Support proxy user for proxy service"
**Is your feature request related to a problem? Please describe.**
Proxy service send rpc call to master use client information directly if can get username.

**Describe the solution you'd like**
Support proxy user for proxy service.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Urgency**
Use the alluxio

[2022-05-16 02:22] jiacheliu3 commented on #15550
@JySongWithZhangCe Good point. The client writing twice (to UFS stream and to worker) is a problem that Alluxio needs to solve. The two streams should be able to merge into one, then we will not have the double-write problem here.

Are you saying in your environment MUST_CACHE speed is the same to THROUGH? If that's true then it suggests either:
(1) Your alluxio cache is not fast enough, you are p

[2022-05-17 02:31] takersk opened #15567 "Failed to find any Kerberos tgt"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to fix it**

[2022-05-17 02:31] #15567 closed

[2022-05-17 02:43] takersk opened #15568 "v2.8.0 Failed to find any Kerberos tgt"
Alluxio Version:
2.8.0

Describe the bug
1. worker logs
`alluxio-worker-thh2j alluxio-job-worker 2022-05-17 02:15:22,047 ERROR UserGroupInformation - PriviledgedActionException as:[test]@[test.com] (auth:KERBEROS) cause:javax.security.sasl.SaslException: GSS initiate failed [Caused by GSSException: No valid credentials provided (Mechanism level: Failed to find any Kerberos tgt)]`

Kerberos ticket

[2022-05-17 03:37] takersk commented on #15568
alluxio-site.properties

alluxio.master.mount.table.root.ufs: "hdfs://[path]"
alluxio.master.mount.table.root.option.alluxio.underfs.hdfs.configuration: "/secrets/hdfsConfig/core-site.xml:/secrets/hdfsConfig/hdfs-site.xml"

alluxio.master.keytab.file: "[keytab]"
alluxio.master.principal: "[user]@[domain]"
alluxio.worker.keytab.file: "[keytab]"
alluxio.worker.principal: "[user]@[domain]"
alluxio.se

[2022-05-17 08:35] yyongycy opened #15569 "Support FIO sequential write test case with Alluxio Fuse"
**Is your feature request related to a problem? Please describe.**
So far Alluxio Fuse doesn't work well with FIO. This is due to some special IO operations, and Alluxio Fuse doesn't support that well. This feature is important as people want to do an apple-to-apple comparison. FIO is a popular tool in posix.

**Describe the solution you'd like**
There are two options:
1. try to cater the create/o

[2022-05-17 14:24] jack161641 commented on #15317
Thanks! A new problem，when I use  alluxio fs copyFromLocal command，I can find the file in alluxio cache,but it cann't complete persistence
[code]

And error log in master.log

[code]

[2022-05-17 17:30] LuQQiu commented on #15343
Requirement 1:
Alluxio has a synchronized command to free all alluxio spaces (block metadata and worker blocks). This is required by Kubernetes to cleanup the whole Alluxio cluster when shutting down. This also help prevent the orphaned block problem. It's a strong requirement in kubernetes and even in bare machine world.

Requirement 2:
Alluxio has a synchronized command to free all or part of th

[2022-05-17 20:15] beinan commented on #15343
Thank you @LuQQiu ! I'm convinced to add this new feature into worker. thx!

[2022-05-17 22:13] LuQQiu commented on #10998
JNIFUSE (libfuse 2) + direct_io have the same issue

[2022-05-17 23:41] apc999 commented on #15073
discussed offline. this is due to some consistency issue in the catalog service to use the correct address (s3 vs alluxio)

[2022-05-17 23:41] #15073 closed

[2022-05-17 23:53] #14626 closed

[2022-05-18 03:28] yyongycy opened #15576 "Alluxio Fuse should improve the sequential write handling"
**Is your feature request related to a problem? Please describe.**
It is possible the workload writes sequentially a file with a large buffer, eg 1M, in Fuse side, the offset is not handled in order, it could be a slightly out of order, for example,  the second 128k of 1M is firstly handled by Fuse thread, then the first 128k of 1M is shown.
So far Alluxio Fuse will just error out.

**Describe the

[2022-05-18 05:45] beinan commented on #15279
Hi @flaming-archer, sorry for the delay, too many github notifications popped up these days.

Your jvm and alluxio setting looks good to me.   From the log, looks like the mem disk is full, but it's common which won't make worker stops response.   Have you check the GC logs? is there any outstanding pause in GC?

[2022-05-18 05:53] beinan commented on #15343
I think this feature is also useful for worker graceful teardown, which is a highly desired feature on cloud or k8s

[2022-05-18 05:57] beinan commented on #15550
I agree with @jiacheliu3, either 1 or 2, I think using THROUGH might help.

[2022-05-18 12:15] czy006 commented on #15465
@yuzhu Is there anything I can do to advance this work I'd love to be involved  ☺

[2022-05-19 03:02] mjzfrank opened #15580 "ERROR "Failed to get master address during initialization""
**Alluxio Version:**
2.8.0

**Describe the bug**
Master report this error :
[code]
**To Reproduce**
./alluxio-start.sh all

**Expected behavior**
how to fix this

**Urgency**

**Are you planning to fix it**
No

**Additional context**
here is my properties
[code]

./alluxio fs works well and the port 19998 is on , why master.log report this error ?

[2022-05-19 03:16] ssz1997 commented on #15317
@HelloHorizon Do you know who knows this part better?

[2022-05-19 07:06] secfree opened #15583 "A HDFS file loses its owner after chgrp with alluxio-fuse"
**Alluxio Version:**
2.7.1

**Describe the bug**
Mount a path with alluxio-fuse and do chgrp for a file, after that the file will lose its owner field.

**To Reproduce**
Mount a path with alluxio-fuse and do the following operations for a file

[code]

Check the file with hdfs and there is no "owner"

[code]

Check hdfs-audit.log

[code]

We can find that
- For hdfs chgrp, perm=`alluxio:hdfs`
- Fo

[2022-05-19 08:26] secfree commented on #15583
It seems that the cause is here: https://github.com/Alluxio/alluxio/blob/master/core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java#L3872

As ProtoBuf returns an empty string instead of null for non-set string type values. Let me try to fix it.

[2022-05-19 10:28] flaming-archer commented on #15279
The memory is full, but the disk is not. Sorry I have not check the GC logs carefully. I remember looked at the monitor at that time and felt OK

[2022-05-19 17:18] ssz1997 commented on #15317
@jack161641 It seems like you are using `/opt/alluxio-2.7.3/underFSStorage` as your under filesystem, and user `alluxio` doesn't have the appropriate permission to this path. (can't write, and can't set permission) Can you confirm?

We usually don't recommend using local directory as your UFS. The configuration you sent earlier is using OSS as UFS, so maybe try again with OSS instead of local UFS.

[2022-05-20 01:47] #15583 closed

[2022-05-20 02:58] dbw9580 opened #15591 "Session cleaner in Worker is defunct"
**Alluxio Version:**
Current master

**Describe the bug**
Session cleaner in Worker is defunct. It was supposed to clean up temp blocks that has expired at a heartbeat, but session IDs are not added to the cleaner, so it has nothing to clean.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you

[2022-05-20 05:45] takersk commented on #15568
Modify the "ufs.hadoop.version" information in the v2.8.0 project source code to "2.6.0-cdh5.14.2" to match the hadoop version we are using,

I applied build>package (alluxio-underfs-hdfs-2.6.0-cdh5.14.2 -2.8.0.jar) and there was no problem.

[2022-05-20 16:20] qian0817 opened #15595 "Position read implementation is not thread safe"
**Alluxio Version:**
master branch.

**Describe the bug**
According to the [hadoop javadoc](https://hadoop.apache.org/docs/stable/api/index.html), Interface `PositionedReadable` should be thread safe. But [current implementation](https://github.com/Alluxio/alluxio/blob/master/core/client/fs/src/main/java/alluxio/client/file/AlluxioFileInStream.java#L239) is not thread safe.

**To Reproduce**

**Ex

[2022-05-24 08:09] jiacheliu3 commented on #15486
@secfree Good question. If we are updating all the children's `SyncTime.mLastSyncTimeMs`, then yes adding the field `mLastChildrenSyncMs` will definitely make sense. However I don't find where we are doing that, I only see here we update the parent's sync time.
https://github.com/Alluxio/alluxio/blob/e26e635d50419879cdf2c48d0ad84f12fe0aa12d/core/server/master/src/main/java/alluxio/master/file/Inod

[2022-05-24 09:25] secfree commented on #15486
Yes, you are right. The current implementation of listStatus only update the directory's sync time, but not its children.

However, if we want to avoid accessing ufs for the file (just under the directory) once again just after listStatus, we may need to do one of the following options
1. Update children's sync time
2. Add `mLastChildrenSyncMs` field
3. Other options ...

[2022-05-24 13:04] #15141 closed

[2022-05-24 13:05] #15441 closed

[2022-05-24 13:09] liangrui1988 opened #15603 "wirte hive table dir and file not user info"
[code]
Why does the latest 5-day partition have no user information?
![image](https://user-images.githubusercontent.com/7435076/170042377-137b3c31-ef46-4d24-ba77-380f26fd95d3.png)

[2022-05-25 10:47] JySongWithZhangCe commented on #15550
@jiacheliu3 @beinan My scene is in line with the second scene that Jia Cheng said. I think like Jia Cheng said, optimizing ASYNC_CACHE and CACHE_THROUGH is a better choice, do you have any suggestions?

[2022-05-26 01:27] takersk commented on #15235
It is intermittently occurring in alluxio v2.8.0 in K8S, I wonder if it will be applied to the next version.

[2022-05-26 04:01] flaming-archer opened #15612 "Add CallerContext then audit log can log just like HDFS"
**Is your feature request related to a problem? Please describe.**
none

**Describe the solution you'd like**
The code change

**Describe alternatives you've considered**
Technical details：
May be like HDFS, the client set a thread local var. Then the server get the var and set back to another thread local var too. And finally `FileSystemMasterAuditContext ` can get caller context and log it.

**U

[2022-05-26 09:17] takersk opened #15613 "v2.8.0 kubernetes.io~csi/alluxio-airflow-pv/mount file exists"
**Alluxio Version:**
v2.8.0 (v2.7.1 same error)

**Describe the bug**
Intermittent error when creating pods

[code]

[code]

**To Reproduce**
see above

**Expected behavior**
mount success

**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to fix it**
No.

**Additional context**
...

[2022-05-26 16:55] #15568 closed

[2022-05-26 23:13] ssz1997 commented on #15613
@takersk Saw your comment at https://github.com/Alluxio/alluxio/issues/15235#issuecomment-1138044215. To confirm, were you using a non-root Alluxio path for mounting? Did you try use the Alluxio root path?

[2022-05-26 23:47] takersk commented on #15613
@ssz1997
thank you for confirmation. I am using Alluxio root path .

* properties
`alluxio.master.mount.table.root.ufs: "hdfs://cdp/cdpdev/prod/"`

* pv/pvc
[code]

* airflow
[code]

[2022-05-27 04:30] maobaolong opened #15642 "add a new format place holder %i to get the file ID from its path"
**Is your feature request related to a problem? Please describe.**

add a new format place holder %i that will be substituted with the file ID? This enables a user to get the file ID from its path.

[2022-05-27 17:32] ssz1997 commented on #15613
@takersk I'll look into this. In the mean time, can you try change the `accessMode` in your pv and pvc to `ReadWriteOnce` and try again? Thanks!

[2022-05-27 17:58] LuQQiu opened #15643 "High concurrency Fuse read stuck"
**Alluxio Version:**
2.9.0-SNAPSHOT

**Describe the bug**
The read applications generate 64 threads, each thread creates a file in Alluxio and keeps doing sequential read operations with different buffer sizes against the file through Alluxio POSIX API.

After the test run for more than 20 minutes, the read application stuck.
55 threads out of 64 are blocked at reading from AlluxioFuse
[code]
9 re

[2022-05-28 09:41] lmssy opened #15646 "java.lang.UnsatisfiedLinkError: could not load FFI provider jnr.ffi.provider.jffi.Provider"
**Alluxio Version:**
2.7.3

**Describe the bug**
I use kubernetes csi mode to mount a alluxio path to my pod，but the pod start fail with error below:

![image](https://user-images.githubusercontent.com/17894328/170820071-dace0091-aa98-42f2-9544-ae26dd725411.png)

Then I check the  /opt/alluxio-2.7.3/logs/fuse.out on the csi-nodeserver, I can see below error;
Sometimes the pod can start normally an

[2022-05-29 07:09] #13211 closed

[2022-05-29 07:10] #12759 closed

[2022-05-29 07:10] #13439 closed

[2022-05-29 11:09] jiacheliu3 commented on #9457
@apc999 @cheyang Compared to deleting those "lost workers" from master metadata, I would consider this more like a "how to identify workers in k8s" problem. Manually deleting those workers don't really help anything. The master will periodically identify and delete lost workers (no heartbeat in `alluxio.master.worker.timeout`) from its memory and I don't think you need to manually do that. However

[2022-05-30 04:33] takersk commented on #15613
@ssz1997
I changed ```accessMode``` to ```ReadWriteOnce``` but, Unfortunately I am getting the same error.

* pv/pvc (change accessMode)
[code]

* logs
[code]

* csi nodeplugin bash
[code]

[2022-05-30 13:43] zhugw opened #15649 "could speed up hive query performance by using Alluxio"
There is a hive (version 3.1.2 and 3 node), but using Superset to query data from hive, very slow, So want to know if could speed up query performance by using Alluxio?

[2022-05-31 02:10] JySongWithZhangCe opened #15650 "Reduce the size of the Alluxio installation package"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated the size of the Alluxio installation package having become very large and has exceeded 2G. Large size is inconvenient for cloud deployment, and many of the modules will not be used.

**Describe the solution you'd like**
Select only the necessary features to reduce the size of the Alluxio package.

**Urgency**

[2022-05-31 04:09] living42 commented on #15373
@jenoudet thank you for the response, i have upgraded to 2.8.0 a couple week ago and it solved my problem, despite there still some UNAUTHENTICATED occasionally, by my cluster runs pretty stable. i am very happy with that, thank you all.

[2022-05-31 06:09] maobaolong opened #15651 "Add some more rules to checkstyle config file to limit the new line indent"
**Summary**

- New line indent
- Method parameter list style

**Urgency**

High

[2022-05-31 17:16] ssz1997 commented on #15646
Thanks for the report and log. Will look into it.

[2022-05-31 18:48] #15373 closed

[2022-06-01 00:15] ssz1997 commented on #15646
@lmssy What version of k8s are you using?

[2022-06-01 00:17] ssz1997 commented on #15613
@takersk What version of k8s are you using?

[2022-06-01 01:14] ssz1997 commented on #15235
After investigation this is different from #15613 #15646. Close this one.

[2022-06-01 01:14] #15235 closed

[2022-06-01 02:53] yyongycy commented on #15643
Is the native read stuck? Or just slow?

at java.io.FileInputStream.readBytes(Native Method)
at java.io.FileInputStream.read(FileInputStream.java:233)
at alluxio.SequentialReadTest.sequentialReadSingleFile(SequentialReadTest.java:49)

[2022-06-01 07:46] cutiechi opened #15655 "Spark how to use short circuit on k8s？"

[2022-06-01 22:15] LuQQiu commented on #15643
It's a stuck for more than 1h

[2022-06-02 01:04] takersk commented on #15613
@ssz1997
hi!! I'll answer your question~~

1. What version of Kubernetes are you using?
k8s version : v1.17.12

3. In csi-nodeserver container in csi nodeplugin pod, can you upload the log in /opt/alluxio/fuse.log and /opt/alluxio/fuse.out?

* /opt/alluxio/fuse.log
[code]

* /opt/alluxio/fuse.out
[code]

[2022-06-02 01:29] lmssy commented on #15646
@ssz1997 thanks for your reply
1. kubernetes versio is 1.18.8
2. 6 appliction pods on this node;  the host machine is 8c32g, with 17.5% memory used
3. csi-nodeserver yaml as below

---
# Source: alluxio/templates/csi/nodeplugin.yaml
#
# The Alluxio Open Foundation licenses this work under the Apache License, version 2.0
# (the "License"). You may not use this work except in compliance with the Lic

[2022-06-02 02:19] ssz1997 commented on #15646
@iamaline9477 Thank you for providing the info. My suspicion is the memory for csi nodeserver is not enough because it runs a lot of AlluxioFuse processes. Each application pod is using one fuse process. Currently the total upper bound is 8G , and we have no upperbound for each Fuse process. This means later applications may not have enough memory to even start the fuse process. My suggestion is t

[2022-06-02 03:04] xuanlang opened #15658 "How to debug alluxio-client.jar when executing MapReduce tasks?"
We have modified the source code of allxuio, and there are some problems when executing MR tasks. I would like to ask how to remotely debug alluxio when submitting MR jobs. thank you very much!

[2022-06-02 09:28] lmssy commented on #15646
@ssz1997 I have extend limits to 16G but problem still there, and the host machine is used just by me, no other applications running on it, so the root cause may not related to the resource limits

[2022-06-02 15:51] ssz1997 commented on #15613
@takersk Thanks. Unfortunately the info-level log doesn't provide enough information. Can you add the property `alluxio.fuse.debug.enabled: true`, restart the Alluxio cluster, and reproduce this issue? We can then get the debug-level logs for further investigation.

[2022-06-02 22:29] LuQQiu opened #15662 "Make Alluxio in/out stream thread-safe and improve multi-thread performance"
**Describe the problem**
Alluxio in/out stream is designed to be not thread-safe.
External callers either use a single thread to do operations against the in/out stream
or use a locking mechanism to prevent multiple threads from accessing the same in/out stream at the same time.

However, multiple threads may be reading the same file via the same `AlluxioFileInStream` at the same time as an optimi

[2022-06-02 22:32] LuQQiu commented on #15662
@apc999 @rongrong FYI, feel free to add more context

[2022-06-02 23:14] takersk commented on #15613
@ssz1997 I'll switch to debug and share it again next week.

[2022-06-06 12:03] adol001 opened #15672 "Speed ​​up rocksdb checkpoint"
**Is your feature request related to a problem? Please describe.**
We now store 10 billion alluxio inode metadata using rocksdb. The current alluxio checkpoint will tar.gz rocksdb data file by single thread, alluxio restart or re-election leader will untar.gz by single thread. This speed is not fast.

**Describe the solution you'd like**
To divide the rocksdb data into parts and tar.gz each part s

[2022-06-06 17:14] ssz1997 commented on #15646
@lmssy Did you set the jvm stack size somewhere in the Alluxio config? A small stack may lead to stack overflow.

[2022-06-06 21:47] #15642 closed

[2022-06-06 22:29] githubjianli opened #15677 "Alluxio Master failed to start"
**Alluxio Version:**
What version of Alluxio are you using?
2.7.4
**Describe the bug**
A clear and concise description of what the bug is.
Alluxio master keep stopping while reading entries from journal.
BTW, We are running in single node master, no HA enabled.
**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)
There is not exactly step to reproduce the issue

[2022-06-06 22:39] yuzhu commented on #15677
@githubjianli if you have encountered any exceptions during the journal replay, please post them here.

[2022-06-06 23:18] githubjianli commented on #15677
2022-05-30 18:42:37,716 INFO  RaftServerConfigKeys - raft.server.log.statemachine.data.sync.timeout = 10s (default)
2022-05-30 18:42:37,716 INFO  RaftServerConfigKeys - raft.server.log.statemachine.data.sync.timeout.retry = -1 (default)
2022-05-30 18:42:37,717 INFO  RaftServerConfigKeys - raft.server.log.write.buffer.size = 64KB (=65536) (default)
2022-05-30 18:42:37,717 INFO  RaftServerConfigKeys

[2022-06-06 23:41] yuzhu commented on #15677
might be related to https://github.com/Alluxio/alluxio/pull/14318

[2022-06-06 23:42] yuzhu commented on #15677
@tcrain does your recent fix on rocks handle help here?

[2022-06-06 23:53] ssz1997 commented on #15646
@lmssy Another thing you can try is to use the `[alluxio/alluxio:2.9.0-SNAPSHOT](https://hub.docker.com/layers/alluxio/alluxio/alluxio/2.9.0-SNAPSHOT/images/sha256-e04e8a2ee017fd3d0af2e1924f2a9a720881d2b99000f3c189c49af8707473d5?context=explore)` image, and set `mountInPod` in your storageclass/pv to `true`. The fuse processes will be isolated into respective pods in this mode, and may solve the i

[2022-06-06 23:54] ssz1997 commented on #15613
@takersk  Another thing you can try is to use the alluxio/alluxio:2.9.0-SNAPSHOT image, and set mountInPod in your storageclass/pv to true. The fuse processes will be isolated into respective pods in this mode, and may solve the issue.

[2022-06-06 23:57] LuQQiu commented on #15643
From the
 jmap -histo <Fuse process> in the middle
[code]

[2022-06-07 00:37] takersk commented on #15613
@ssz1997
There are many things to consider when upgrading the version, so I will share the fuse-logs first.

** pods logs
[code]

** fuse.log (debug)
[code]

** fuse.out (debug)
[code]

[2022-06-07 07:24] yyongycy commented on #15643
Do we have any jstack?

[2022-06-07 09:20] Haoning-Sun opened #15679 ""I/O error" exception occurs when using deployment to create a lot of pods for alluxio-fuse"
**Alluxio Version:**
master.

**Describe the bug**

The log shows that the mount is successful, but the operation is abnormal and there is no log output. And this problem occurs with JNI-Fuse, but not with JNR-FUSE.

<img width="223" alt="image" src="https://user-images.githubusercontent.com/13930429/172522681-fb2ff722-aedd-417e-9090-84525bc51525.png">

**To Reproduce**
[code]

**Expected behavior

[2022-06-07 16:34] ssz1997 commented on #15613
@takersk Thanks. Can you also share the log of the nodeserver on the sama machine?

[2022-06-07 18:09] LuQQiu commented on #15643
The previous jstack
[readMain.csv](https://github.com/Alluxio/alluxio/files/8855544/readMain.csv)
T
[worker.csv](https://github.com/Alluxio/alluxio/files/8855545/worker.csv)
[fuse.csv](https://github.com/Alluxio/alluxio/files/8855536/fuse.csv)
[master.csv](https://github.com/Alluxio/alluxio/files/8855541/master.csv)
but in my latest testing that runs for more than 12 hours, the sequential read did

[2022-06-07 22:39] YangchenYe323 opened #15683 "Support method-level configuration change in ConfigurationRule"
**Is your feature request related to a problem? Please describe.**
I noticed that we have migrated to`ConfigurationRule` for managing Alluxio's global configuration during unit tests. However, the rule currently doesn't support changes of configurations in the scope of a single test method.

Moreover, the documentation is outdated, we no longer have `ConfigurationTestUtils#resetConfiguration`:
htt

[2022-06-08 00:39] #14078 closed

[2022-06-08 00:40] beinan commented on #14078
Fixed in https://github.com/Alluxio/alluxio/pull/15028

[2022-06-08 00:51] beinan opened #15687 "Rate limiting on cache eviction"
**Is your feature request related to a problem? Please describe.**
The life span would be shorten if there is no rate limit on write.

**Describe the solution you'd like**
One of the idea of implementation write limit is applying a rate limit on the evictor.

**Describe alternatives you've considered**
N/A

**Urgency**
High ~ Medium

**Additional context**
Highly desire feature for local cache and

[2022-06-08 01:21] takersk commented on #15613
@ssz1997
Can I share the sama machine kubelet log?

$ cat kubelet.ERROR | grep 34fa28d2-2a44-4e01-b37a-85fa6f56730f
[code]

$ kubelet.INFO | grep 34fa28d2-2a44-4e01-b37a-85fa6f56730f
[code]

$ cat kubelet.WARNING | grep 34fa28d2-2a44-4e01-b37a-85fa6f56730f
[code]

[2022-06-08 02:24] yyongycy commented on #15643
I saw 42 gc thread in readMain.csv, is the system overloaded?  That is possible to hang the system.

[2022-06-08 08:58] liangrui1988 opened #15689 "[ERROR][hive.ql.metadata.Hive][load-dynamic-partitions-0] - Exception when loading partition with parameters"
Symptom After Alluxio is mounted to the Hive table, the exception occurs when data is being written.Some tables do not, but this table does, when both duplicate and new partitions are written and dynamic partitioning is enabled.How does this need to be fixed?Why does hive-staging_hiVE_2022-06-08_06-53-46_217_3256132660226127253 need to be synchronized?This is a temporary file. How do I avoid writi

[2022-06-08 09:58] lmssy commented on #15646
@ssz1997 I have been set jvm stack size to 40M but stackoverflow is still there.
 About “set mountInPod in your storageclass/pv to true”， would you provide an example where to add this parameter？
Thansk a lot

[2022-06-08 16:24] ssz1997 commented on #15646
@lmssy Only the alluxio snapshot image supports this functionality.
If you are using helm chart, the version of the helm-chart should be at least 0.41. You can then set .csi.mountInPod to `true` in your config file.
If you are using yaml files:
If using pv, you can add `mountInPod: "true"` under `.spec.csi.volumeAtributes`, so it would look something like
[code]
For storage class, you can add `mou

[2022-06-08 18:29] LuQQiu commented on #15643
Cannot reproduce... consider closing the issue

[2022-06-08 18:30] LuQQiu commented on #15643
that's possible but not able to verify now

[2022-06-08 20:42] ssz1997 commented on #15679
@Haoning-Sun A few questions:
1. Only some of the pods have the problem, or all of them?
2. How many physical machines in the k8s cluster?
3. Although there seems no errors in the log, can you still share the `fuse.log` and `fuse.out` of the broken ones in the dir `/opt/alluxio/logs`?
Thanks

[2022-06-09 01:04] Haoning-Sun commented on #15679
1. Some pods have problems.
2. Clusters of single or multiple nodes have been tested.
3. The log shows that the mount is successful and there is no exception log.

[2022-06-09 07:14] Nizifan commented on #15343
@beinan
Could you provide an ETA when this feature can be provided? If more time is necessary, I need to add some disk clean up feature for our platform as file left by worker in system is becoming more and more common problem for our daily operation~

[2022-06-10 02:33] lmssy commented on #15646
@ssz1997 where can I get the image of 2.9.0-SNAPSHOT?

[2022-06-10 09:46] Haoning-Sun opened #15702 "Fuse set attribute error when using others create files"
**Alluxio Version:**
master.

**Describe the bug**
I set up 'alluxio.fuse.user.group.translation.enabled' is true, and after using the alluxio user to start a fuse service, another user is used to create a file. An exception occurs at this time. The uid and gid respectively use the starting user and the current user when setting attribute. Is this reasonable?

<img width="1018" alt="image" src="ht

[2022-06-13 02:57] Haoning-Sun commented on #15702
It is affected by this issue, https://github.com/Alluxio/alluxio/pull/15690

[2022-06-13 02:57] #15702 closed

[2022-06-13 11:50] adol001 commented on #15672
In addition to checkpoint, backup is also single-threaded gz. It should also be optimized too.

[2022-06-13 15:55] JySongWithZhangCe opened #15711 "Support runtime-cleanup of orphan blocks"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when some workers are taking up a lot of space by orphan blocks.

**Describe the solution you'd like**
Workers can clean up orphaned blocks without shutdown.

**Urgency**
Urgent.

**Additional context**
Due to the inability to clean up orphaned blocks at runtime, it is difficult for alluxio to build a stable d

[2022-06-13 16:10] yuzhu commented on #15672
@jenoudet FYI as well.

[2022-06-13 23:22] maobaolong opened #15713 "Support caching blockstore and make rocksblockstore as backend"
**Is your feature request related to a problem? Please describe.**

The rocks blockstore can make the performance lower than heap blockstore, but rocks blockstore can store a huge number of block and location, so we can make rocksblockstore as backend and cacingBlockStore as frontend.

**Describe the solution you'd like**

Add a caching tier for rocksblockstore

**Describe alternatives you've cons

[2022-06-14 01:18] jack161641 commented on #15317
Thank you for your answer. I have already solved this problem. Another problem is that when I use CSI and fuse to mount the alluxio storage, there is a probability that it will fail to mount. The following error is reported.
`Events:
  Type     Reason     Age                  From                               Message
  ----     ------     ----                 ----                               --

[2022-06-14 02:58] china-shang opened #15714 "How to get the corresponding mount point under a specific path"

[2022-06-14 03:25] #15714 closed

[2022-06-15 01:47] #15683 closed

[2022-06-15 07:26] JulySouthWind opened #15722 "Optimizing reading and writing performance"
As a popular distributed cache system, Alluxio has good performance in read and write scenarios with small amounts of data. However, in large-scale data read and write scenarios, Alluxio's performance is somewhat unsatisfactory.
We use Netty instead of GRPC as data translating underlying architecture to improve the performance of data reading and writing.
The data serialization of pb  consumes too

[2022-06-15 10:10] packageman opened #15725 "Alluxio used capacity greater than total capacity for same tier"
**Alluxio Version:**
What version of Alluxio are you using?

2.7.4

**Describe the bug**
`alluxio fsadmin report` shows used capacity greater than total capacity for tier MEM。

![image](https://user-images.githubusercontent.com/12949466/173802630-f20c756d-1a59-47b8-9496-159b74848d39.png)

**Expected behavior**
used capacity cannot greater than total capacity for same tier。

[2022-06-16 18:31] LuQQiu commented on #14485
Direct_io is tested in 2.8 and passed the following tests
- JNIFuseIntegrationTest
- Tensorflow test
- Filebench read/write test
- Fuse IO stressbench tests
- Pytorch data loader tests
- Java high concurrency sequential/random read + sequential write tests with variant file sizes and buffer sizes
- Python pandas parquet, CSV, pickle file tests
- Linux dd command

and is verified that using `direct

[2022-06-16 21:58] LuQQiu commented on #15569
@yyongycy The scope of this issue may be big
I tested mainly two workloads

* single thread sequential read a 4GB file with buffer size 4M
fio --name=sequential-read --directory=/mnt/alluxio-fuse --rw=read --refill_buffers --bs=4M --size=4G
fio: pid=0, err=95/file:filesetup.c:182, func=ftruncate, error=Operation not supported

[code]
This one is hard to support since we need to support using trunc

[2022-06-16 22:50] LuQQiu commented on #15569
* single thread sequential write a 4GB file with buffer size 4M
fio --name=sequential-write --directory=/mnt/alluxio-fuse --rw=write --refill_buffers --bs=4M --size=4G --end_fsync=1
fio: io_u error on file /mnt/alluxio-fuse/sequential-write.0.0: File exists: write offset=0, buflen=4194304

[code]
This one can be solved by my PR #15740

[2022-06-16 23:06] LuQQiu commented on #15569
Tested https://github.com/Alluxio/alluxio/pull/15742 with the following test cases, they can all passed
[code]

[2022-06-17 14:46] #14485 closed

[2022-06-17 22:51] viadea opened #15752 "Mount all S3 buckets using a single command"
If we have 1000 S3 buckets and we need to mount them 1 by 1 using:
[code]

I wish we could have a solution to mount all buckets easily, say using a single command.

[2022-06-20 19:57] Xenorith opened #15758 "Prevent usage of curly quotes"
https://github.com/Alluxio/alluxio/pull/15755 fixes the curly quotes within the license headers across multiple files. The usage of curly quotes `“` `”` as opposed to straight quotes `"` can be a huge debugging pain since they look similar but are actually different characters.

We currently have a script to check for no Windows line endings in `build/style/check_no_windows_line_endings.sh`, execu

[2022-06-21 08:37] jack161641 commented on #15317
Hi,I truned on fuse debug-level log
fuse.log
`bash-5.0# cat /opt/alluxio/logs/fuse.log
2022-06-21 07:34:10,340 INFO  AlluxioFuse - Alluxio version: 2.9.0-SNAPSHOT-fc56319b27c389d6d090bf835993e95f960ba201
2022-06-21 07:34:10,811 INFO  NativeLibraryLoader - Loaded lib by jar from path /tmp/libjnifuse4104837999708624384.so.
2022-06-21 07:34:10,811 INFO  NativeLibraryLoader - Loaded libjnifuse with li

[2022-06-21 18:44] #15569 closed

[2022-06-22 19:00] #15758 closed

[2022-06-23 02:51] YangchenYe323 commented on #15580
It doesn't seem to be a bug on Alluxio's side. Some possible fixes:
1. `hadoop001` is a custom hostname, make sure worker's machine recognizes this hostname(by configuring proper mappings in /etc/hosts on CentOS, for example), or try to configure Alluxio with explicit IP addresses.
2. Make sure master's rpc port is open. Alluxio processes uses many different ports for different uses: https://docs.

[2022-06-23 17:57] ZhuTopher commented on #14549
Thanks for this suggestion, I think most likely this would involve a gRPC API change in order to communicate to the Master to "merge" different files and their corresponding blocks into belonging to a single file.

[2022-06-23 21:47] LuQQiu opened #15773 "Fuse create with 0X80c0 should create write stream instead of read stream"
**Alluxio Version:**
Master

**Describe the bug**
2022-06-23 21:38:23,065 ERROR AlluxioFuseUtils - Failed to Fuse.Create(path=/pjdfstest_9371d36776d4f2fedee3051f98c68566/pjdfstest_2334351cd067354987b109bff43e4a23,flags=0x80c0,mode=100644) with unexpected throwable:
java.lang.UnsupportedOperationException: Failed to create read-only stream for /pjdfstest_9371d36776d4f2fedee3051f98c68566/pjdfstest_2

[2022-06-26 16:47] alvintanjianjia opened #15780 "Potential Refactoring"
**Summary**
I have identified a few classes with refactoring potential, specifically MasterWorkerInfo.java. The class has been refactored once on May 29, 2021 along with other classes in commit 7fb84094a6075bcef5a103b40adcac4b26b724ca. Given the duration of the last refactoring, could it be possible to improve this class further? I am probably not qualified and experienced enough to point out the

[2022-06-27 23:13] ssz1997 commented on #15646
@lmssy You can also try the dev image `alluxio/alluxio-dev`

[2022-06-27 23:16] ssz1997 commented on #15317
@jack161641 There's a known flaky issue of the `alluxio/alluxio` image. Can you try use the `alluxio/alluxio-dev` image instead?

[2022-06-28 01:20] Haoning-Sun commented on #15679
Exception info

[code]

[2022-06-28 03:32] boobpoop commented on #15722
Arccording to my understanding, do you want to remove grpc framework from alluxio? It will exert a tremendous influence to Alluxio.

[2022-06-28 03:43] JulySouthWind commented on #15722
Firstly, we want to replace grpc only under data reading and writing scenario. It will take a long time to replace grpc in all scenario, whether to replace grpc depends on whether there is beneficially

[2022-06-28 10:18] jiacheliu3 opened #15789 "Better support exposing the Alluxio service to external the K8s cluster"
**Is your feature request related to a problem? Please describe.**
It's becoming more common that users want to host the Alluxio service on K8s while some external applications need to access the Alluxio cluster from outside the K8s cluster.

In the current state, the users need to:
1. Change the master K8s services to be accessible from outside the K8s cluster. This typically changes the service

[2022-06-28 17:03] beinan commented on #15722
Sounds good to me,  feel free to post a PR,  @rongrong and I will take a look very soon.

[2022-06-28 17:52] ssz1997 commented on #15646
@lmssy [This issue](https://github.com/Alluxio/alluxio/issues/15679) looks similar to yours. We have three ways to either bypass or fix it:
1. Add livenessProbe to the fuse container, so if it failed, the pod will be restarted
2. Use develop image `alluxio/alluxio-dev` instead of `alluxio/alluxio`
3. Preload the dependency with [this](https://github.com/Alluxio/alluxio/pull/15788)
You can try thes

[2022-06-29 01:50] Haoning-Sun opened #15794 "Add audit log for proxy"
**Is your feature request related to a problem? Please describe.**
Add audit log for proxy.

**Describe the solution you'd like**

1. Add a class named ProxyAuditContext which implements AuditContext.

2. This class contains the following fields.
[code]
3. The log is as below
[code]

4.  Use try block to use AuditContext like JobMasterAuditContext and FileSystemMasterAuditContext.
[code]

[2022-06-29 02:34] JySongWithZhangCe opened #15795 "alluxio-start.sh masters failure"
**Alluxio Version:**
What version of Alluxio are you using?
2.7.4

**Describe the bug**
A clear and concise description of what the bug is.
When there are some `WARN` info of `ALLUXIO_MASTER_JAVA_OPTS`,  alluxio-start.sh masters failure.

**Urgency**
Urgent.

**Are you planning to fix it**
Romove `ALLUXIO_MASTER_JAVA_OPTS` in https://github.com/Alluxio/alluxio/blob/master/bin/alluxio-masters.sh li

[2022-06-29 02:36] JySongWithZhangCe commented on #15795
@beinan Would you like to take a look~Thanks♪(･ω･)ﾉ

[2022-06-29 03:06] boobpoop commented on #15795
properties of alluxio.zookeeper.enabled and alluxio.master.journal.type are used to do master election, it's not a good idea to remove it.

[2022-06-29 06:19] JySongWithZhangCe commented on #15795
Is ${ALLUXIO_MASTER_JAVA_OPTS} necessary?

[2022-06-29 06:19] JySongWithZhangCe commented on #15795
${ALLUXIO_MASTER_JAVA_OPTS} seems not necessary.

[2022-06-29 07:26] liangrui1988 opened #15797 "alluxio.exception.status.UnavailableException: Failed to determine address for MetaMasterMaster after 1 attempts"
my master:master01,master02,master03
The configuration file is modified
[code]
Restart mSTER01 first and the message "OK" is displayed. Then restart Master02. At this time, the master link cannot be connected and all services cannot be linked.And then execute it
[code]

Logs are still being output,

[code]

Wait more than 5 minutes and then automatically heal?I would like to ask what causes this s

[2022-06-29 07:27] liangrui1988 commented on #15689
alluxio.user.file.delete.unchecked  =true
Solved the problem

[2022-06-29 07:27] #15689 closed

[2022-06-29 07:28] liangrui1988 commented on #15689
alluxio.user.file.delete.unchecked =true
Solved the problem

[2022-06-29 09:26] liangrui1988 opened #15798 "Why does worker SudoMount not start AlluxioJobWorker, AlluxioProxy"
Add/Remove Workers Dynamically
./bin/alluxio-start.sh worker SudoMount # starts the local worker

[code]

ohter works
[code]

AlluxioProxy
AlluxioJobWorker

What are the functions of these two processes? Although work dynamically adds seems normal, it lacks these two processes with other nodes. Is there any problem?

[2022-06-29 14:38] LiuJiahao0001 commented on #15580
@YangchenYe323 @mjzfrank I had the same problem running alluxio cluster 2.8.0 (the most basic configuration). Excuse me, how should this be solved? I have changed the master hostname many times, but the problem still exists.

[2022-06-29 19:35] #15679 closed, assigned to nobody

[2022-06-29 21:20] HelloHorizon commented on #15794
@ZhuTopher Hey Chris, do you mind to help evaluate this feature request and @Haoning-Sun is working on this feature:)

[2022-06-30 02:21] LiuJiahao0001 commented on #15580
Some ports are not open, which leads to my problem. After opening the required ports, the problem is resolved. thank you

[2022-06-30 05:47] yyongycy commented on #15794
Add comment to watch this issue.

[2022-07-01 08:40] secfree opened #15808 "Unable to write to a read-only file when creating it"
**Alluxio Version:**
2.7.1

**Describe the bug**

For the local file system, it is ok to write content to a read-only permission file while creating it. But it encountered "Permission denied" in alluxio.

**To Reproduce**

Test code

[code]

The code works well under a local file system path

[code]

The code encountered the following exception while running under a alluxio-fuse path with a non-su

[2022-07-01 10:10] bigbigxu opened #15810 "GetNewBlockIdForFile request glitch is very large, I want to know why this is?"
We write about 1000 files of about 40G, the block size is 256MB,
The master configuration is as follows:

alluxio.master.rpc.executor.keepalive=5min
alluxio.master.periodic.block.integrity.check.repair=true
alluxio.master.audit.logging.enabled=false
alluxio.master.rpc.executor.max.pool.size=4096
alluxio.master.rpc.executor.tpe.allow.core.threads.timeout=false
alluxio.master.metastore=HEAP

alluxio

[2022-07-01 16:36] JySongWithZhangCe commented on #15795
@jiacheliu3 Do you have any advice? Thanks♪(･ω･)ﾉ

[2022-07-02 17:42] LuQQiu opened #15813 "Fix Fuse name too long"
**Alluxio Version:**
Master

**Describe the bug**
Fix the pjdfstest workload of
[code]
"not ok 4 - tried 'unlink ed122b78db7f383b436c9aa51ce9418f80c5b8c20454fd77e15b2e39c713f6816ed625b6052fc3769b755d689eab427df4bf4fd745975af93f2fa8342d652459d63d79a79d07d158020c7292420c77751e0d43e31e11d7b7f23b8d41f3a900ce710df7207434616340f5605600b3ad9e366d276d7c7c69c9e13be7369191b60x', expected ENAMETOOLONG, got E

[2022-07-04 07:33] odidev commented on #12704
@cheyang , with the continuation of our discussion [here](https://github.com/fluid-cloudnative/fluid/pull/1915#issuecomment-1157306740), I tried building Alluxio docker images using the [build-image.sh](https://github.com/fluid-cloudnative/fluid/blob/master/tools/alluxio/build-image.sh) script for Linux/ARM64.

I edited go installation for ARM64 in [tarball.sh](https://github.com/fluid-cloudnative

[2022-07-04 11:56] maobaolong opened #15816 "Update configuration command line tools break to update boolean"
**Alluxio Version:**
Master branch & 2.8.2

**Describe the bug**

[code]

**To Reproduce**

[code]

**Expected behavior**

Update conf successfully

**Urgency**

Urgent.

**Are you planning to fix it**

Yeah

**Additional context**
No

[2022-07-05 19:09] LuQQiu opened #15822 "Supports Fuse chown user or group separately"
**Alluxio Version:**
2.9.0-SNAPSHOT

**Describe the bug**
Currently when chown user or group only, the non-set user or group is INVALID user/group id and chown will return 0 and do nothing which violate the POSIX assumption

**To Reproduce**
PJDFSTEST chown/05.t
[code]

**Expected behavior**
Chown should be able to set owner or group separately

**Urgency**
Describe the impact and urgency of the b

[2022-07-06 04:18] YangchenYe323 commented on #15722
BTW, would you be willing to share more details on how your benchmark works? I'm interested in reproducing the performance issues you're trying to address. Thanks very much.

[2022-07-06 08:20] JulySouthWind commented on #15722
This is the stress test code：
https://github.com/oppo-bigdata/shuttle/blob/master/src/main/scala/org/apache/spark/testutil/FsWriteStressTest.scala
https://github.com/oppo-bigdata/shuttle/blob/master/src/main/scala/org/apache/spark/testutil/FsReadStressTest.scala

[2022-07-06 18:57] ssz1997 opened #15828 "FIO concurrently writing 70 1G-files to fuse mount point stuck"
Alluxio version: a747e7893c8eddd7d6444cea9fe076f7f634ba8b (6/28/2022)

CPU: 16
Memory: 128G

Command:
fio --name=write70 --rw=write --bs=4m --filesize=1G --numjobs=70

Behavior:
Writes normally until around 87% done. In debug log, there are writing operations entered but not exited. Consistently reproducible.

jstack is attached.
[fusestack.txt](https://github.com/Alluxio/alluxio/files/9057867/fus

[2022-07-07 01:45] LuQQiu commented on #15828
Block worker client resource leak

[2022-07-07 03:00] yyongycy commented on #15808
why should you write to a read-only file?

[2022-07-07 03:03] secfree commented on #15808
We need to execute "git clone" in an aluxio-fuse mounted path, and "git clone" creates some files under ".git/objects" with read-only permission.

[2022-07-07 05:24] LuQQiu opened #15840 "Fix Fuse open with O_RDONLY and O_TRUNC"
**Alluxio Version:**
Master

**Describe the bug**
From pjdfstest
[code]
In ext4, this open works
in Alluxio-Fuse, this open will be error out because we don't allow specifying O_RDONLY with O_TRUNC

From doc
[code]
**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
Match ext4 behavior
Allow coexist

**Urgency**
Describe the impact and u

[2022-07-07 05:27] #15813 closed

[2022-07-07 06:14] LuQQiu opened #15842 "Unable to open Fuse file with O_WRONLY|O_RDWR"
**Alluxio Version:**
Master

**Describe the bug**
pjdfstest open/23.t
[code]
Flag: 0x8003
[code]
fall to default with 0x8003, O_ACCMODE

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to fix it

[2022-07-07 06:35] abmo-x opened #15844 "GET Request fails when using Alluxio S3 API, same request succeeds when AWS S3 API is used directly"
**Alluxio Version:**
What version of Alluxio are you using?
enterprise-2.8.0-2.0

**Describe the bug**
A clear and concise description of what the bug is.

S3 GET request fails with a 404 response when using endpoint.
Similar request succeeds when S3 API is used directly

### OK Response from S3 API
[code]

### 404 Response from Alluxio S3 API For Same Request
[code]

**To Reproduce**
Steps to rep

[2022-07-07 07:21] yyongycy commented on #15828
What is the value of the following metric:

    "deadlock.count" : {
      "value" : 0
    },
    "deadlocks" : {
      "value" : [ ]
    },

[2022-07-07 19:36] LuQQiu commented on #14752
![Screen Shot 2022-07-07 at 12 36 50 PM](https://user-images.githubusercontent.com/25273483/177857776-ba8088ea-5157-4b30-955b-4da7411e35bf.png)

[2022-07-07 23:31] HelloHorizon commented on #15844
@abmo-x thanks for reporting. @ZhuTopher can you take a look?

[2022-07-07 23:47] LuQQiu opened #15852 "Fuse create -> open(read_write) -> truncate()"
**Alluxio Version:**
Master

**Describe the bug**
pjdfstest ftruncate/00.t
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to fix it**
Please indicate if you are already working o

[2022-07-07 23:52] ssz1997 opened #15853 "Libfuse3 doesn't accept direct_io as a mount option"
**Alluxio Version:**
master

**Describe the bug**
fuse can't launch successfully

**To Reproduce**
set `alluxio.fuse.jnifuse.libfuse.version=3` and launch AlluxioFuse. It will fail.

fuse.out:
[code]

[2022-07-08 02:17] #15840 closed

[2022-07-08 06:52] yyongycy commented on #15842
This is to open a file for read and write at the same time.

[2022-07-08 08:19] singer-bin opened #15859 "Add support for hdfs files to LocalCacheFileSystem in test and production environments."
**Describe the solution you'd like**
Added support for hdfs to LocalCacheFileSystem functionality in test and production. I think it's useful in some ways.

[2022-07-08 16:42] LuQQiu opened #15861 "Fuse permission should check against end-user instead of launching user"
**Alluxio Version:**
Master

**Describe the bug**
Alluxio-Fuse checks the operation permission against the Alluxio-Fuse launching user.
When the launching user is a superuser, all end-user running operations against Alluxio-Fuse mount point can have full permission.

The default behavior of EXT4 file system is that permission check will be run against the end-user running the operations.

**To Rep

[2022-07-08 16:58] LuQQiu opened #15862 "Fuse has limited truncate support"
**Alluxio Version:**
Master

**Describe the bug**
Supports:
- Truncate to zero
- Truncate to current file length
- When the file is opened for WriteOnly or ReadWrite, during sequential writing to file, use truncate() to set file size to a value larger than bytesWritten.

Does not support:
- Truncate to shorten the file length (other than size == 0)
- Truncate to extend the file length of an existi

[2022-07-08 19:55] ssz1997 commented on #15853
A problem is that, with the current way setting the libfuse version, there's no way to know which version of libfuse is loaded when calling libfuse. For example, the default behavior is trying to load 2 first, and if failed, try to load 3. Therefore, it is possible user is using libfuse3 but we don't know and don't remove the `direct_io`.

One way of fixing this is, when we load the the libfuse li

[2022-07-09 00:39] LuQQiu commented on #15808
Strange that my workload has no obvious problem

[2022-07-09 00:45] LuQQiu commented on #15808
git clone https://github.com/Alluxio/alluxio

[2022-07-09 04:59] secfree commented on #15808
@LuQQiu can you check if you are using a privileged user in your system?
https://github.com/Alluxio/alluxio/blob/master/core/server/master/src/main/java/alluxio/master/file/DefaultPermissionChecker.java#L294

[2022-07-10 06:48] JySongWithZhangCe opened #15865 "alluxio fs setTtl running too slow on millions of large directories"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when execute `alluxio fs setTtl` on millions of large directories.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
 Execute `alluxio fs setTtl` on millions of large directories can be done quickly.

**Urgency**
Urgent

[2022-07-11 00:34] takersk commented on #15613
hi!! Are you still in the process of resolving the issue?

[2022-07-11 06:45] yyongycy commented on #15853
so doesn't libfuse3  support direct_io? Or there is an equivalent way?

[2022-07-11 07:43] #15556 closed

[2022-07-11 15:05] YangchenYe323 commented on #15003
I want to work on this for `alluxio-core-client-fs`

[2022-07-11 18:59] ssz1997 commented on #15853
@yyongycy It can be set by setting in JNIFuse. Some instructions here: https://github.com/libfuse/libfuse/issues/419

[2022-07-11 22:46] ssz1997 opened #15867 "FIO high concurrency read on Fuse stuck"
**Alluxio Version:**
master

**Describe the bug**
Running FIO read against AlluxioFuse stuck under high concurrency. 64 processes on 64 1G-files.

**To Reproduce**
create 64 1G-files in Alluxio Fuse mount point. All files cached in Alluxio.
Execute `fio --name=x --filename=<filename1>:<filename2>:...:<filename64> --rw=read --bs=1M --numjobs=64 --size=1G --direct=1 --runtime=2m --time_based --group

[2022-07-11 23:42] LuQQiu commented on #15808
EXT4 requires

[2022-07-12 02:37] ssz1997 opened #15872 "Implement direct_io for libfuse3"
Libfuse3 doesn't accept `direct_io` as a mount option. See https://github.com/libfuse/libfuse/issues/419.

Instead, the flag can be set when the file is created or opened when the respective methods are called. This needs modification to AlluxioJniFuse.

[2022-07-12 23:11] ZhuTopher commented on #12277
In the meantime, this error and its observed symptom(s) should be added to the troubleshooting section of [the Alluxio K8s doc page](https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Kubernetes.html#troubleshooting)

Ex:
[code]

This occurs because the K8s interprets the `sizeLimit: 5G` of the `emptyDir` volume as 5*1000^3 bytes whereas the binary tool `tmpfs` used in the [alluxi

[2022-07-13 04:06] secfree opened #15878 "Overwrite a read-only permission file succeed"
**Alluxio Version:**
2.7.1

**Describe the bug**
Overwrite a read-only permission file succeed.

**To Reproduce**

[code]

We can found that the original file was deleted and a new file created with default permission.

**Expected behavior**
Failed with "Permission denied" as the local filesystem.

**Urgency**
ACL does not take effect

**Are you planning to fix it**
Yes

[2022-07-13 06:04] yyongycy commented on #15878
could you try with mount option "default_permission"?

[2022-07-13 06:08] yyongycy commented on #15878
@LuQQiu  Any comment here?

[2022-07-13 06:18] secfree commented on #15878
`default_permissions` works, thanks a lot @yyongycy

[2022-07-13 06:18] #15878 closed

[2022-07-13 09:01] liuweibin6566396837 commented on #12008
I met the same problem UFS type: hdfs

[2022-07-13 18:08] ssz1997 commented on #15613
@takersk Seems like this is not a deterministic failure right? This pr https://github.com/Alluxio/alluxio/pull/15788 may fix it. You can try it out.

[2022-07-14 00:17] LuQQiu commented on #15842
@yyongycy then it should be processed just like O_RDWR which we can only do read-only or write-only by first read/write operation

[2022-07-14 03:00] Haoning-Sun opened #15885 "Repeated mounts cause the server to occupy a lot of handlers"
**Alluxio Version:**
2.7.1(The master branch code should be the same logic)

**Describe the bug**
*  The retry is caused by ozone client.
![image](https://user-images.githubusercontent.com/13930429/178887351-2873828a-e395-4250-976c-a261550b6cc8.png)

* Mounting the same alluxio path repeatedly will block the lock method.
![image](https://user-images.githubusercontent.com/13930429/178887531-a2404ee

[2022-07-14 09:17] dbw9580 opened #15888 "Journal backup dir may be shadowed by nested mount points"
**Alluxio Version:**
Current master

**Describe the bug**

If the user specifies a backup target directory which happens to be a nested mount point, the backup is written to the directory relative to the root UFS, instead of the nested mounted UFS. This can cause the backup file to be shadowed by the nested mount and not visible from Alluxio.

**To Reproduce**

1. Mount the root UFS, e.g. HDFS `hd

[2022-07-14 09:23] dbw9580 commented on #15888
@yuzhu is there a particular reason why we don't consult the mount table to resolve the correct UFS to which the backup is written?

[2022-07-14 21:59] jenoudet commented on #15798
`alluxio-start.sh` has many different options. Specifying `worker` will only start the worker process, while other commands like `all` or `local` will start the JobWorker and Proxy processes (along with others).
The JobWorker process is part of the JobService described [here](https://docs.alluxio.io/ee/user/stable/en/overview/JobService.html).
The Proxy process helps interact with Alluxio through

[2022-07-14 23:33] LuQQiu commented on #15867
https://github.com/Alluxio/alluxio/commit/e32bada550c76955b0e936dc003d140d7bba914a
may help fix the issue

[2022-07-14 23:37] LuQQiu commented on #15576
@yyongycy did you see this behavior again? and is it reproducible? are we able to close this issue?

[2022-07-14 23:42] #15319 closed

[2022-07-14 23:42] LuQQiu commented on #15296
https://github.com/Alluxio/alluxio/pull/15607

[2022-07-14 23:42] #15296 closed

[2022-07-15 00:00] ZhuTopher commented on #15789
I agree with the proposal to switch Alluxio workers to use `StatefulSet`. It seems that they are not as stateless/idempotent as we'd thought. Furthermore then the solution we use to expose Masters can be leveraged to expose Workers as well.

The main difficulty we currently have with exposing Alluxio to clients outside of k8s is that Workers register to the Master using their local hostname, which

[2022-07-15 00:04] ZhuTopher commented on #15794
Thanks for waiting, busy week + vacation put me out of action the last two weeks. I have given my first-pass review to the PR #15811

@HelloHorizon Can you confirm with @yuzhu & Kiran whether or not auditing like this is something we want to include in the open-source project? I didn't know we had auditing for the Master in open-source.

[2022-07-15 02:58] jiacheliu3 commented on #15789
@ZhuTopher The worker has `alluxio.worker.hostname` and `alluxio.worker.container.hostname` just to pass both the pod and node ip to the master (then the client). So the client will connect to the pod IP if any. I'm just trying to say that the worker reports those IPs to the master as much as it can, so you may change the client logic as you need. Just a thought before I look into your proposal, h

[2022-07-15 18:50] HelloHorizon commented on #15885
@maobaolong do you aware of this issue?

[2022-07-15 19:57] ssz1997 opened #15893 "Warning or error when there aren't enough BlockWorkerClient"
**Is your feature request related to a problem? Please describe.**
Related issues: https://github.com/Alluxio/alluxio/issues/15828, https://github.com/Alluxio/alluxio/issues/15867
Maybe related issue: https://github.com/Alluxio/alluxio/issues/15643

**Describe the solution you'd like**
Give warning or error out when all `BlockWorkerClient` are being used and yet more requests for `BlockWorkerClien

[2022-07-15 19:59] ssz1997 commented on #15828
This issue is because of the following reason:
    1. 70 files are opened and being written concurrently, in a round robin manner
    2. Each file is 1G, which takes 16 blocks
    3. Each block has one `GrpcDataWriter`, which holds 1 `BlockWorkerClient`
Therefore 70*16 = 1120 `BlockWorkerClient` are required to finish the writing, whereas `alluxio.user.block.worker.client.pool.max` is set to 1024.

[2022-07-15 19:59] #15828 closed

[2022-07-15 20:13] ssz1997 commented on #15867
The reason is the same as https://github.com/Alluxio/alluxio/issues/15828 that `BlockWorkerClient` are used up, specifically:

  1. Each client open at most 64 files and we have 64 clients. The reading is in round robin manner, so at most 4096 files are opened at the same time. We only have 1024 `BlockWorkerClient` on the client side.
  2. Each `AlluxioFileInStream` has one `BlockInStream`, which

[2022-07-15 20:13] #15867 closed

[2022-07-15 20:35] ZhuTopher commented on #15789
Oh that's right, I don't remember if this is already the case or not but we'd want to set the following in our helm chart:
`alluxio.worker.hostname=status.hostIP` and `alluxio.worker.container.hostname=status.podIP`
- K8s doc ref: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#podstatus-v1-core

That works for the worker addresses _only if_ the worker Pod(s) have their servic

[2022-07-16 02:18] jiacheliu3 commented on #15789
No the masters don't have that equivalent because we use Service to handle the name resolution. Clients talk to services so no need to know the pod names. But yea we currently don't have a uniformed definition of what hostnames map to which use cases (internal/external the k8s cluster etc). The existing configs are more on demand. If there's a chance to unify all those, I'm totally in :)

[2022-07-16 07:57] secfree opened #15896 "Cannot persist an empty directory"
**Alluxio Version:**
2.7.1

**Describe the bug**
Cannot persist an empty directory in alluxio to UFS.

**To Reproduce**

[code]

**Expected behavior**
The empty directory can persist to UFS.

**Urgency**
Normal

**Are you planning to fix it**
Yes

[2022-07-17 20:03] HelloHorizon commented on #15896
Thanks @secfree for reporting. @yuzhu @apc999 I remember we intend not to persist the empty directory to UFS, do you know the reason behind it?

[2022-07-18 03:23] #15852 closed

[2022-07-18 21:04] HelloHorizon commented on #15896
@secfree Alluxio intends not to persist the empty directory since the object store doesn't have the concept of the directory. If Alluxio has to persist the directory, Alluxio has to create a temp(?) file in UFS.

We can see how we can persist the empty file if it's a non-object store system.

[2022-07-18 21:17] HelloHorizon commented on #15279
@flaming-archer I close this issue since we haven't seen it for a long time, feel free to open it once you see it again

[2022-07-18 21:17] #15279 closed

[2022-07-18 23:33] #15414 closed

[2022-07-18 23:37] #14752 closed

[2022-07-19 03:10] secfree commented on #15896
In the source code of alluxio, it creates an empty object for each directory in object storages. Please check "ObjectUnderFileSystem#mkdirs -> ObjectUnderFileSystem#mkdirsInternal -> S3AUnderFileSystem#createEmptyObject" .

Now alluxio only persists a directory only persisting a file, but it does creates an object in UFS. Is it ok to persist the directory actively? @HelloHorizon

[2022-07-19 08:29] secfree opened #15912 "Alluxio replicates the block repeatedly without committing it"
**Alluxio Version:**
2.7.1

**Describe the bug**
Alluxio replicates the block repeatedly without committing it

**To Reproduce**
1. The file has 1 existing replica

[code]

2. Set replicationMin to 2 and pin the file

[code]

3. Alluxio replicates the file repeatedly without committing it

[code]

**Expected behavior**
Commit the block and do not replicate it repeatedly.

**Urgency**
High

**Are y

[2022-07-19 08:30] secfree commented on #15912
The cause is this PR: #13146.
It removed `BlockOutStream` which calls `DataWriter`, while `BlockWorkerDataWriter#close` calls `DefaultBlockWorker#commitBlock`.

[2022-07-19 09:47] secfree commented on #15912
`AlluxioFileInStream` supports passive cache and calls `DefaultBlockWorker#cache` for each block, but `BlockInStream` itself does not support passive cache.

[2022-07-19 16:47] HelloHorizon commented on #15896
Yup, Allxuio creates an object if the user wants to create the file in the object under the file system. However, the persist is a different operation only persist the file. I think it makes sense to persist the directory if UFS is HDFS in your case. @yuzhu any opinion?

[2022-07-19 17:15] yuzhu commented on #15912
@jja725 could you take a look please?

[2022-07-19 18:19] jja725 commented on #15912
thanks for raising the issue and I would take a look at this.

[2022-07-19 19:11] XuanlinGuan opened #15914 "indentation problem @xuanlinGuan"
https://github.com/Alluxio/alluxio/blob/50a282e5f48aa00b6d3e83dd1b3d60079162dcea/core/common/src/main/java/alluxio/worker/block/BlockStore.java#L114

[2022-07-19 22:52] beinan commented on #15810
@HelloHorizon this one looks like an issue of master, reassign to @tcrain ?

[2022-07-19 23:21] #15914 closed

[2022-07-19 23:21] XuanlinGuan commented on #15914
FIxed

[2022-07-19 23:59] LuQQiu commented on #14780
The latest master
[code]
Ext4
[code]
Looks like the behavior changed and now the behavior matched

[2022-07-20 00:02] takersk commented on #15613
@ssz1997
thank you I'll test it when the tag version goes up.

[2022-07-20 02:02] bzheng888 commented on #14780
@LuQQiu Thanks for fixing it, Is this issue associated with a pr?

[2022-07-20 02:24] secfree commented on #15912
Yes, my idea is to make `BlockInStream` support passive cache.
Do you have any suggestions? @jja725

[2022-07-20 02:36] secfree commented on #15896
Let me share more details. After creating a file under `/projects/test_dir`, alluxio creates two keys in UFS(ozone)
1. key = "test_dir/", value = ""(empty value)
2. key = "test_dir/file.1", value = "..."

Are there any problems if alluxio creates the key "test_dir/" with an empty value in the under object storage system before the user creats a file under the directory?

[2022-07-20 03:07] Jackson-Wang-7 commented on #15298
Is this still the case? I have reproduced this case, and it's working with `alluxio.user.file.metadata.sync.interval`.

[2022-07-20 03:12] YangchenYe323 commented on #15893
I think both "reuse" and "release" are feasible ideas, and I'm happy to work on a patch for this issue:
- "Release" is relatively easy to implement. There is absolutely no need to keep a `BlockWorkerClient` when reading or writing data, because `writeBlock` is a streaming rpc, and the client can be safely dropped when the stream is established. This change is quite cheap.
- To reuse `BlockWorkerCl

[2022-07-20 06:14] wsjswy opened #15917 "aws-java-sdk-s3 APIS. get data from alluxio, filecheck is failed"
**Alluxio Version:**
What version of Alluxio are you using?
v2.8.0

**Describe the bug**
aws-java-sdk-s3 APIS. get data from alluxio, filecheck is failed

for example
S3-client-demo: init s3
 AmazonS3 s3Client = AmazonS3ClientBuilder
                .standard()
                .withEndpointConfiguration(new AwsClientBuilder.EndpointConfiguration("http://127.0.0.1:39999/api/v1/s3/", Regions.US_EAST

[2022-07-20 18:45] beinan opened #15920 "LocalCache and PageStore should reuse the byte array buffer in the write path"
**Summary**
In the current local cache implementation, when we write the data sequentially, we always create a new byte array for each page, but in fact, for each file/stream to write, we can reuse the same bytes array to Reduce memory allocation and GC pressure.

**Urgency**
Medium

[2022-07-20 19:36] XuanlinGuan opened #15922 "Maven build failed on osx m1 arm"
![截屏2022-07-20 下午3 17 51](https://user-images.githubusercontent.com/90416637/180065250-e1d06ab2-7fd6-4ee8-8c67-092ecc5e4bb0.png)
![截屏2022-07-20 下午3 17 43](https://user-images.githubusercontent.com/90416637/180065259-e766bd48-5157-464b-8065-0570f1a7e250.png)

when I run this in my MacBook :  mvn install -Dmaven.javadoc.skip=true -DskipTests -Dlicense.skip=true -Prelease

There are some errors.

How

[2022-07-20 19:49] Xenorith commented on #15922
could this be the same issue? https://github.com/prestodb/presto/pull/17608

[2022-07-21 01:40] maobaolong opened #15924 "Block location Policy should not create for each file"
**Alluxio Version:**
Master branch

**Describe the bug**
Block location Policy should not create for each file.

**To Reproduce**

Use roundrobin block location policy cannot round robin now, because the policy is created for each file and the index is stored within each policy object.

**Expected behavior**

Each policy should used for all files from a client.

**Urgency**

Urgency.

**Are you pl

[2022-07-21 09:53] dbw9580 opened #15930 "NPE at DefaultStorageTierAssoc.getOrdinal when using paged block store"
**Alluxio Version:**
What version of Alluxio are you using?
current master

**Describe the bug**

When using the paged block store, block master cannot find a tier in the global tier list. This causes a NPE.

[code]

**To Reproduce**
Use paged block store and do a `ls` on a file.

**Additional context**

Current tier of paged block store is `DefaultTier`, but `alluxio.master.block.DefaultBlockMast

[2022-07-21 09:53] dbw9580 commented on #15930
@beinan FYI.

[2022-07-21 16:33] HelloHorizon commented on #15917
@ZhuTopher can you take a look? @jingwenouyang FYI

[2022-07-21 21:33] HelloHorizon commented on #15896
I have not sure how ozone implements in their data structure. But normally object store don't have the concept of folders, directories, files, or any hierarchies that you would normally see in a file-based system. Thus for S3 it's impossible to create an empty folder without any object. We have to create a placeholder object in the object store to make sure we can maintain the empty directory in t

[2022-07-21 22:00] ssz1997 opened #15933 "Fuse open file before finish releasing it"
**Alluxio Version:**
master

**Describe the bug**
In FIO verification process, after the file is done writing and during release(), another thread comes in and opens it for reading. The new thread fails getting data.
[code]

**Reproduce**
Executing following command against AlluxioFuse mount point:
`fio --name=verify --size=1m --rw=write --verify=md5 --direct=1`

**Expected behavior**
Open() happe

[2022-07-21 22:00] ssz1997 commented on #15933
@LuQQiu FYI

[2022-07-21 22:11] jja725 commented on #15912
@secfree Hi, thanks for the invesitigation. I feel like we are taking a detour here to use passive cache to load data. The easiest way I think is to commit the block after writing the data. Otherwise, we need to take care of the passive cache in both AlluxioFileInStream and BlockInStream which may cause some problems.

[2022-07-22 06:30] dbw9580 opened #15935 "Deadlock in ConcurrentClockCuckooFilter"
**Alluxio Version:**
Current master

**Describe the bug**

[`ConcurrentClockCuckooFilterTest#testBackwardMovement`](https://github.com/Alluxio/alluxio/blob/401e561942b19a0487e60043edf28a8fa8a65c35/core/client/fs/src/test/java/alluxio/client/file/cache/cuckoofilter/ConcurrentClockCuckooFilterTest.java#L158) sometimes causes a deadlock and the test times out.

Stack traces when the deadlock occurs:

[2022-07-22 06:54] Haoning-Sun opened #15936 "Can not get attribute without the read permission of files in fuse"
**Alluxio Version:**
master

**Describe the bug**
When using alluxio fuse, if the current user does not have read permission to the file, the attribute of the file cannot be obtained.

<img width="893" alt="image" src="https://user-images.githubusercontent.com/13930429/180378353-a311ae93-a6e6-4e85-a3de-25901a311885.png">

![image](https://user-images.githubusercontent.com/13930429/180378484-bd35ba

[2022-07-22 07:26] bigbigxu commented on #15810
This is a problem with zk ha mode. Raft ha currently does not see this problem. But overall, alluxio metadata access is still slow, about an order of magnitude slower than hdfs. Most rpc requests in hdfs are less than 10ms, and alluxio rarely completes requests in about 10ms

[2022-07-22 10:20] secfree commented on #15912
@jja725 thanks for your reply.

If `BlockOutStream` is created, it will commit block automatically. But #13146 already removed `BlockOutStream`.

Can you check my PR(#15918)? It moved passive cache logic from AlluxioFileInStream to BlockInStream.

[2022-07-22 18:53] jja725 commented on #15912
@secfree I think when the file is pinned, it would go through the code 161 to 193 in the JobUtils.java. So we are actually using inStream and BlockOutStream to load the file into his specific location.
Yeah I agree move passive cache to BlockInStream  would solve this problem, but it would a read operation and it's not efficient

[2022-07-22 23:04] #15935 closed

[2022-07-22 23:29] LuQQiu commented on #15933
This workload has no problem.
The problem is why cannot read data from the written file?

[2022-07-23 10:52] secfree commented on #15912
Have you tested it? In my test case mentioned above, it went to this branch https://github.com/Alluxio/alluxio/blob/master/job/server/src/main/java/alluxio/job/util/JobUtils.java#L154

[2022-07-23 15:48] secfree commented on #15912
Another idea is disabling passive cache for pinned files. It also resolves the issue. Here is the PR: #15946 .
@jja725 what do you think about this? Thank you.

[2022-07-24 14:08] harris233 opened #15947 "Local cache should be loaded when presto worker is started"
**Is your feature request related to a problem? Please describe.**
As we found, restoring the local cache page happended when the AlluxioCachingFileSystem was first created. It means that workers won't load pages until they encounter the first job. If we have large amounts of local cache, restoring may cost a lot of time.

**Describe the solution you'd like**
A good way to load pages is when the s

[2022-07-25 09:09] qian0817 opened #15948 "Specify the Worker to be free in the free command"
**Is your feature request related to a problem? Please describe.**
The free command needs to be able to specify worker. Currently the free command clears all blocks under specified directory on all worker nodes.

**Describe the solution you'd like**
like `alluxio fs free --localhost:29999 xxx:xxx /` and `alluxio fs free --exclude localhost:29999 /`

**Describe alternatives you've considered**
A cl

[2022-07-25 12:42] wsjswy opened #15950 "can not find security configuration in source code"
I want to encrypt the files stored in the alluxio worker.
I find their some security configurations like alluxio.security.tier.storage.encryption.enabled=true;
the related link: https://docs.alluxio.io/ee/user/stable/en/operation/Security.html#configuring-alluxio-with-encryption-at-rest;
but I can not  find security configuration in source code.
could you please tell me how to find the security co

[2022-07-25 18:07] HelloHorizon commented on #15950
@wsjswy the doc you opened is the enterprise version, please let me know if you are interested in the EE version.

[2022-07-25 18:07] #15950 closed

[2022-07-25 22:41] #15842 closed

[2022-07-25 23:20] lizhanyang505 opened #15953 "alluxio version is 2.8.0"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to fix it**

[2022-07-25 23:20] lizhanyang505 opened #15954 "alluxio version is 2.8.0"
**Alluxio Version:**
v2.8.0

**Describe the bug**
] /Users//Desktop/alluxio/core/common/src/main/java/alluxio/conf/Hash.java:[14,39] 程序包org.apache.commons.codec.binary不存在
[ERROR] /Users//Desktop/alluxio/core/common/src/main/java/alluxio/util/LogUtils.java:[17,34] 程序包org.apache.commons.logging不存在
[ERROR] /Users//Desktop/alluxio/core/common/src/main/java/alluxio/util/LogUtils.java:[18,34] 程序包org.apa

[2022-07-25 23:21] lizhanyang505 commented on #15954
build alluxio 2.8.0 to support cdh ,is error

[2022-07-25 23:30] LuQQiu commented on #15933
Could not reproduce the error. FIO passed with
[code]
Guess the Alluxio system may have some issues prevent the file being read

[2022-07-25 23:31] LuQQiu commented on #15953
@lizhanyang505 Thanks for creating the issue. looks like this issue is creating by mistake, can we close the issue?

[2022-07-25 23:32] LuQQiu commented on #15954
@lizhanyang505 Thanks for reporting the issue, can you try giving a more descriptive name for this issue (e.g. describing the bug?)

[2022-07-25 23:35] lizhanyang505 commented on #15954
Compile alluxio 2.8.0 to support cdh

[2022-07-25 23:35] lizhanyang505 commented on #15954
this is my command

[2022-07-25 23:39] lizhanyang505 commented on #15954
1. org.apache.commons.logging does not exist
2. Users//Desktop/alluxio/core/common/src/main/java/alluxio/util/network/HttpUtils.java:[189,17] Symbol not found

[2022-07-25 23:45] LuQQiu commented on #15936
Thanks for the debugging!
From my POSIX tests comparing EXT4 and Alluxio Fuse
- EXT4 allows getting status of file/dir with all kinds of permissions but Alluxio Fuse requires read permission to get file/dir status.
- EXT4 does not require the parent folder has any permission to get the inner file status

[code]

[2022-07-25 23:45] lizhanyang505 commented on #15954
Thanks for your help

Compile alluxio 2.8.0 to support cdh

Command:

git clone&nbsp;https://github.com/Alluxio/alluxio.git

git checkout v2.8.0

mvn clean install -Phadoop-3 -Dhadoop.version=3.0.0-cdh6.3.2 -DskipTests

Error:

org.apache.commons.logging does not exist

Users//Desktop/alluxio/core/common/src/main/java/alluxio/util/network/HttpUtils.java:[189,17] Symbol not found

-----------------

[2022-07-25 23:46] #15954 closed

[2022-07-26 00:47] yyongycy commented on #15936
Please check the hdfs behavior. Does this change any current behavior of hdfs?

[2022-07-26 02:57] nirav-chotai commented on #15789
Solution should be independent whether `hostNetwork` is enabled or not.

Init container for workers should collect metadata and use an init script to talk to master and register themselves.

[code]
and
[code]
Something like above.

This will work regardless I enabled `hostNetwork` or not.
[code]

[2022-07-26 03:19] Haoning-Sun commented on #15936
@yyongycy I didn't find the impact of hdfs behavior for files. What impact do you consider？

[2022-07-26 08:56] qian0817 opened #15957 "Support freeing block for specified worker"
**Is your feature request related to a problem? Please describe.**
Support freeing block for specified worker.

**Describe the solution you'd like**
use `alluxio fsadmin freeSpace localhost:29999` to free worker space.

**Describe alternatives you've considered**

**Urgency**
middle.

**Additional context**

[2022-07-26 11:10] Haoning-Sun opened #15960 "Class loading problem caused ozone ufs mount failure"
**Alluxio Version:**
master

**Describe the bug**
An exception occurred while mounting ozone ufs.
[code]

It is caused by #14950

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to fix it**
Plea

[2022-07-26 11:28] dbw9580 opened #15961 "Fails to open RockDB when using paged block store"
**Alluxio Version:**
What version of Alluxio are you using?
Current master

**Describe the bug**

When using RocksDB as store type, the paged block store fails to open RocksDB, therefore worker cannot be started.

Stack trace:

[code]

**To Reproduce**
Configure the worker to use paged block store and ROCKS as the store type.

**Expected behavior**
The worker should start normally.

**Urgency**
Me

[2022-07-26 18:17] LuQQiu commented on #15933
`entry_timeout=0` is required for passing the verify jobs

[2022-07-26 18:30] LuQQiu commented on #15933
Correct log
[code]
Failed log
[code]

[2022-07-26 18:32] LuQQiu commented on #15933
with entry_timeout, `Fuse.Getattr` is removed between written the file and opened for read.
Could be some bug or race condition

[2022-07-26 21:53] HelloHorizon commented on #15960
@Haoning-Sun do you plan to fix it?

[2022-07-26 22:34] yuzhu commented on #15711
have you tried `alluxio.master.periodic.block.integrity.check.repair` option? try setting it to true?

[2022-07-27 03:44] Haoning-Sun commented on #15936
@yyongycy I tested the getFileStatus method of HDFS, and only need to have execution permission on the parent folder.

<img width="523" alt="image" src="https://user-images.githubusercontent.com/13930429/181155760-f7f97de3-bdb5-41b5-a488-e156ea9716c6.png">
<img width="596" alt="image" src="https://user-images.githubusercontent.com/13930429/181155783-7e90748d-672c-4bce-b112-a689cf74eee0.png">

[cod

[2022-07-27 18:18] yuzhu commented on #15677
@githubjianli have you tried a newer version than 2.7.4? The exception you posted is during the shutdown sequence and not the startup sequence. Was there any exception during the startup sequence?

[2022-07-27 18:28] yuzhu commented on #14633
@jffree is this still an issue? have you tried the latest version?

[2022-07-27 20:54] #15822 closed

[2022-07-27 22:01] yuzhu commented on #15912
@jja725 any thoughts on the PR?

[2022-07-28 05:52] jja725 commented on #15912
@secfree  I leave a slack message to you and want to record it here as well.
I tested it again on my local machine and It works fine with the most updated version(1 worker with 1 replication). So want to double check your env. If you only have one worker and want to have two replicas, which is not allowed by the worker.

[2022-07-28 06:31] harris233 opened #15970 "Local cache should support various policies to choose disk root"
**Is your feature request related to a problem? Please describe.**
Sometimes, we want to use multi-disk to store data because of the limit of one disk space.
Using hash & mod policy to choose disk is an easy way to realize it, but it doesn't take disk volume into consideration.
Using AvailableSpace policy to choose disk may be a good way to solve it.

**Describe the solution you'd like**
A clear a

[2022-07-28 09:27] Crazybean-lwb opened #15973 "Active Syncing is not supported on this UFS type: hdfs"
**Alluxio Version:**
Alluxio version: v2.8.0

**Other tools  Version:**
k8s version: v1.20.11
docker version: 20.10.11
hdfs version: 3.3.2

**Some background to add**
hdfs was deployed by binary file
hdfs was started by user root:supergroup
alluxio was deployed in k8s by helm run user root:root

**Describe the bug**
[bug1] I can't sync metadata and raw data from hdfs to alluxio.
`output exception:

[2022-07-28 11:39] liangrui1988 opened #15974 "alluxio/journal/raft/xx/log_ A large number of files, can this be cleaned?"
**Alluxio Version:**
2.7.2
**Describe the bug**
# df -h
Filesystem      Size  Used Avail Use% Mounted on
.....
/dev/sda3       185G  159G   17G  91% /data

root@fs-alluxio-master02:/data/alluxio/alluxio/journal/raft/02511d47-d67c-49a3-9011-abb3109a44c1/current# du -sh
154G    .

-rw-rw-r-- 1 alluxio alluxio 9.4M Jul 28 07:00 log_32984255-32985632
-rw-rw-r-- 1 alluxio alluxio 9.4M Jul 28 07:00 log_