[2021-11-25 07:33] kevincai commented on #14563
@qian0817

I agree with your point on causing UFS and raft log inconsistency. But seems the situation you described could happen in any stage during the system running, why particularly needs a time wait during the new leader start? The sleep during startup can prevent the new leader from losing its primacy too soon, but can't prevent a long running leader suddenly lost its primacy, and can still

[2021-11-25 07:33] StefanXiepj commented on #14536
assign @StefanXiepj

[2021-11-25 07:36] kevincai commented on #14563
I prefer the patch to be private for now, until the impact to data integrity is fully discussed get to a conclusion. In our case, we use UFS mostly as READ-ONLY source, so underlying UFS modification is not a concern, the risk is acceptable and taken.

[2021-11-25 07:44] martin-g commented on #12704
`ratis-thirdparty-misc` is being used!

[code]

So yes, you should not upgrade Netty to 4.1.71 or newer before Ratis team fixing https://issues.apache.org/jira/browse/RATIS-1443

[2021-11-25 07:50] hfutatzhanghb opened #14579 "Fragments of code in LoadDefinition#selectExecutors are redundancy"
**Alluxio Version:**
2.6.0

**Describe the bug**
In alluxio.job.plan.load.LoadDefinition#selectExecutors method,  are the codes with comment below has useless redundency ?

[code]

**To Reproduce**
Do not reproduce.

**Expected behavior**
Do not split origin task List, result list add tasks directly.

**Urgency**
low

**Are you planning to fix it**
If we confirm it can be optimized，i can provide a

[2021-11-25 07:56] hfutatzhanghb commented on #14579
@bradyoo , Hi, Bradley, I saw the commit message is "Parallelize load definition within a worker". I don't understand how it works. Could you help me to understand it？Thanks a lot.

[2021-11-25 12:51] nous2046 commented on #14560
Thank you very much for your reply!
It turns out that Maven(3.8.1+) are blocking non HTTPS connections, which is why I met the `Could not resolve dependencies xxxx` problem. We can refer to these two posts: https://help.mulesoft.com/s/article/Maven-error-when-building-application-Blocked-Mirror-for-repositories, https://stackoverflow.com/questions/67001968/how-to-disable-maven-blocking-external-ht

[2021-11-25 13:23] qian0817 commented on #14563
To be honest, I think the current implementation should have inconsistent issue between UFS and alluxio metadata when the leader is down, but I haven't tried to reproduce it yet.
@jenoudet Can you explain in more detail the reasons for the wait and whether it is because there are issues that I have not considered.

[2021-11-25 13:35] nous2046 commented on #14560
Thank you very much for your reply!
It turns out that Maven(3.8.1+) are blocking non HTTPS connections, which is why I met the `Could not resolve dependencies xxxx` problem. We can refer to these two posts: https://help.mulesoft.com/s/article/Maven-error-when-building-application-Blocked-Mirror-for-repositories, https://stackoverflow.com/questions/67001968/how-to-disable-maven-blocking-external-ht

[2021-11-25 14:01] martin-g commented on #12704
The problem with JNRFuseIntegrationTest is:
[code]

[2021-11-26 08:38] hfutatzhanghb commented on #14342
@jiacheliu3 Hi, jiacheng，here is the PR link: https://github.com/Alluxio/alluxio/pull/14584#partial-pull-merging

[2021-11-26 09:28] hfutatzhanghb commented on #14579
Hi, @calvinjia , could you help me to confirm it? Thanks a lot.
related to : https://github.com/Alluxio/alluxio/pull/10692

[2021-11-26 12:15] jayzhenghan opened #14586 "The problem of fuse concurrent reading"
Compared with single concurrent reading of the same file, the delay of multiple concurrency increases dozens of times

[2021-11-26 12:20] jayzhenghan commented on #14586
@LuQQiu

[2021-11-29 04:12] yuyang733 opened #14591 "Alluxio client consume too much memory"
**Alluxio Version:**
Alluxio 2.4.1

**Describe the bug**
We found that the Alluxio client consumes much more memory than HDFS and other HCFS implements, which will cause the jobs of spark/presto to fail with a greater probability due to insufficient memory resources.

**To Reproduce**

Read a mock file of 10GB size using the Alluxio client, Compared with HDFS, and you can compare the usage of the

[2021-11-29 07:03] maobaolong commented on #14586
@jayzhenghan Would you please pasted the related resources here, something like `read.py`

[2021-11-29 07:06] jayzhenghan commented on #14586
fd = open("test/300MB", "r")
print fd
line = fd.readlines()
fd.close()

[2021-11-29 09:52] martin-g commented on #12704
I will need help with the problem of `AlluxioFuseFileSystem` on Linux ARM64.

I'm attaching the logs of `mvn test -Dtest=JNRFuseIntegrationTest#cat` executed on AMD64 and ARM64.
I have the following change in `.../tests/src/test/resources/log4j.properties` :
[code]

On AMD64 I see:
[code]

But on ARM64 the `Enter: open(path=/catTestFile)` is never called.
@SerCeMan Any help/hints would be very wel

[2021-11-29 18:39] #14285 closed

[2021-11-30 01:00] LuQQiu commented on #14475
https://github.com/Alluxio/alluxio/pull/14575 PR to alleviate memory pressure from Worker process’s GrpcServer

[2021-11-30 01:19] yuzhu commented on #14518
@Jackson-Wang-7 could you join our slack channel so we could.chat about this.issue and your fix?

[2021-11-30 01:28] madanadit commented on #13872
Hi @uniqueZt, is this issue still relevant for your use case?
If not already, it would be great if you could join our slack https://alluxio.io/slack for more information. Thx!

[2021-11-30 03:59] sighingnow opened #14596 "OSS ufs cannot be read: java.lang.StackOverflowError at java.security.AccessController.doPrivileged(Native Method)"
**Alluxio Version:**

2.7.0

**Describe the bug**

Reading (`cat`) files from alluxio-fuse (ufs is oss) causing `StackOverflowError`, but accessing (`ls`) doesn't. The stack trace is

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impac

[2021-11-30 04:21] jiacheliu3 commented on #14596
Seems there's a loop in class loading.

[2021-11-30 05:24] sighingnow commented on #14596
More information about this issue: if we load the target file first using `./bin/alluxio fs load ...`, then the `cat` via fuse succeed.

But I guess it is just a workaround, and there's indeed something in the implementation itself? Looks like the ufs operations fail inside the fuse callback?

[2021-11-30 18:43] LuQQiu commented on #14485
There are two approaches to alleviate the Fuse process memory consumption
1. Improve Fuse performance without using Fuse kernel_cache and other system cache related mount options
2. Solve page_cache problem in the K8S side.
For the second one, it's been a problem for years and does not seem to have a solution in recent years.
https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-ev

[2021-11-30 19:22] ssz1997 commented on #14596
@LuQQiu FYI

[2021-11-30 19:23] LuQQiu commented on #14596
https://github.com/Alluxio/alluxio/issues/14275

[2021-11-30 19:25] LuQQiu commented on #14275
Looks like related to #14596

[2021-12-01 02:47] LuQQiu commented on #14011
Fixed by @bzheng888 via https://github.com/Alluxio/alluxio/commit/b892c642ecbce3dd465eb46f634cc419c2c07430

[2021-12-01 02:47] #14011 closed

[2021-12-01 04:24] uniqueZt commented on #14300
Do we have any progress here ？upgrade RocksDB to 6.25.3 can solve this？

[2021-12-01 04:26] uniqueZt commented on #14300
now we solve it by changing RocksBlockStore to HeapBlockStore，but it lead heap increase fast，can we solve it now？

[2021-12-01 07:01] yuzhu commented on #14300
@uniqueZt do you have a consistent way of reproducing this? have you tried with the new ROcksDB version?
We have worked with RocksDB community and this PR was to follow their recommendation.

[2021-12-01 08:19] Jackson-Wang-7 opened #14601 "Alluxio asynchronously promote while remote read"
**Is your feature request related to a problem? Please describe.**
We found that Alluxio would promote block before reading it while remote read.  And it will hold the block write lock when moving the block. We need to wait for promote to finish before we can read data, even if the data is already in Alluxio.

**Describe the solution you'd like**
We want to modify this implementation so that when

[2021-12-01 08:50] Jackson-Wang-7 commented on #14518
Actually, I'm already in the slack channel of #bigo-alluxio. We can discuss it there.

[2021-12-01 11:16] Jackson-Wang-7 opened #14605 "Alluxio support the listLocatedStatus interface"
**Is your feature request related to a problem? Please describe.**
AbstractFileSystem class does not implement the listLocatedStatus interface.

**Describe the solution you'd like**
AbstractFileSystem getBlockLocations method can get file block location in Alluxio. so we can fix it by getBlockLocations.

[2021-12-01 13:18] martin-g commented on #12704
It appeared that jnr-fuse does not support Linux ARM64 at all: https://github.com/SerCeMan/jnr-fuse/issues/14

[2021-12-01 19:31] apc999 commented on #14485
@lilyzhoupeijie  we are resolving this issue with highest priority, aiming for next release after 2.7.1

[2021-12-01 19:33] apc999 commented on #14514
highest priority to resolve by @LuQQiu , aiming for next release after 2.7.1

[2021-12-01 19:38] apc999 commented on #14591
@yuyang733  this is a known issue and 2.4.1 is pretty old. Can you upgrade to 2.7.0 or 2.7.1 (releasing in days) and see if you still have this issue?

[2021-12-01 19:38] #14591 closed

[2021-12-01 19:54] yuzhu commented on #14563
@kevincai @qian0817 we had an internal discussion and think that @kevincai 's private patch should  at least be no worse than the current delay. As for the inconsistent issue, @qian0817 i don't see how a longer delay would help in the case of network partition? could you explain more?  If no objections, we will welcome a patch from @kevincai or we can make a PR similar to kevin's suggestion, which

[2021-12-02 03:16] ccy00808 opened #14611 "Raft took too long to transfer leadership"
https://github.com/Alluxio/alluxio/issues/14563

[2021-12-02 06:06] #14532 closed

[2021-12-02 06:33] beinan commented on #14524
@FeiZou sorry for the delay, I'm still working on this one.  Just let me know if you found something, thanks!

[2021-12-02 06:35] LuQQiu commented on #14514
The first step of this problem is to know whether tensorflow is stuck on the AlluxioFuse side.
This includes two questions:
Q1: How to know after Alluxio Fuse stuck?
- Fuse thread: fuse operation takes longer than `alluxio.fuse.logging.threshold` will have warning log in fuse.log
- Fuse process: add Fuse process JVM pause monitoring service https://github.com/Alluxio/alluxio/pull/14608
Fuse proces

[2021-12-02 06:48] lilyzhoupeijie commented on #14514
We suspect that fuse cannot read normally, resulting in tensorflow stuck in a strange position

[2021-12-02 06:54] #14611 closed

[2021-12-02 07:34] beinan commented on #14524
I'm using running the query as below, the result looks good
[code]

My hive.propertes

[code]

[2021-12-02 08:01] dbw9580 opened #14613 "Backoff and retry operations when S3 request limit is hit"
**Alluxio Version:**
2.7

**Describe the bug**
When creating a lot of small files concurrently on S3 UFS, the rate limit of S3 is triggered and causes operations to fail. According to [AWS docs](https://docs.aws.amazon.com/AmazonS3/latest/userguide/optimizing-performance.html), the rate limit on a prefix is 3500 op/s.

**To Reproduce**
Mount S3 as ufs.
Use a write type other than `MUST_CACHE`.
Use

[2021-12-02 09:45] Nizifan opened #14614 "Copy bunches of small files through posix to s3 ufs is much slower than using cmdlet inside the same pod"
**Alluxio Version:**
2.5

**Describe the bug**
When copy a folder contains tons of small file to Alluxio, compared with Alluxio cmdlet, the posix interface is 4x time slower.
We embedded fuse client as sidecar container for the train pod, the posix write is inside the train pod(main container), and do Alluxio cmd write in fuse client(sidecar container).

I try to write a folder to s3 ufs through A

[2021-12-02 09:46] Nizifan commented on #14614
[alluxioconfig.txt](https://github.com/Alluxio/alluxio/files/7640825/alluxioconfig.txt)
config using GetConf

[2021-12-02 10:02] Nizifan opened #14615 "Copy bunches of small files, async write mode is slower than cache_through and much slower than must_cache"
**Alluxio Version:**
2.5

**Describe the bug**
When copy a folder contains tons of small file to s3 ufs through cmdlet in the same pod with different write type.
The folder we copy to s3 ufs through Alluxio, which consist 3.6k picture of ~15k and 3.6k json whose size << 1k, total size is 69M.
The fuse pod is not in the same machine with the worker machine.

I try 3 modes, must_cache/async_through/

[2021-12-02 10:02] Nizifan commented on #14615
[alluxioconfig.txt](https://github.com/Alluxio/alluxio/files/7640948/alluxioconfig.txt)
config

[2021-12-02 15:40] qian0817 commented on #14563
@yuzhu
If network partitioning happens, then the previous leader node will definitely become a follower node after one election timeout, and will not cause two nodes to regard itself as a leader node at the same time.
At the same time, I do not oppose this modification, because the current implementation when the leader is down is also inconsistent situation.

[2021-12-02 18:55] apc999 commented on #14167
Close this ticket which should be already fixed by https://github.com/Alluxio/alluxio/pull/14248
@j-buczak  feel free to checkout alluxio 2.7.0 or the coming 2.7.1 and see if they work.

This is due to reasons mentioned in https://github.com/Alluxio/alluxio/issues/14243#issuecomment-941441855

[2021-12-02 18:55] #14167 closed

[2021-12-02 19:04] apc999 commented on #14209
@jiacheliu3  what's the status of this issue?

[2021-12-02 22:37] LuQQiu opened #14616 "Alluxio worker K8S storage management"
**Is your feature request related to a problem? Please describe.*
Alluxio manages the worker storage according to the user-given storage space (e.g. alluxio.worker.tieredstore.level0.dirs.quota).
However in K8S, sometimes the storage space is shared by multiple applications.
K8S may not know the available storage space for Alluxio beforehand so configure a wrong storage size (large than actual).
O

[2021-12-02 22:37] LuQQiu commented on #14616
@apc999 @beinan FYI

[2021-12-03 01:18] beinan commented on #14616
Does this mean that we need to check the available space from time to time at runtime？ Is it possible to use a small and safe quota (say <10GB ) as a workaround?

[2021-12-03 02:09] bzheng888 opened #14618 "Deploy alluxio on docker and worker process throw exception"
**Alluxio Version:**
Master version 2.7
Worker version 2.6

**Describe the bug**
Deploy Alluxio on Docker, when start worker container.
master will show error log:

[code]

**To Reproduce**
[code]

[code]

**Expected behavior**
worker and master process running success.

**Urgency**
Urgency

**Are you planning to fix it**
No

**Additional context**
No

[2021-12-03 02:11] bzheng888 commented on #14618
Hi, @jiacheliu3, can you take a look at the problem?

[2021-12-03 02:33] hfutatzhanghb commented on #14341
@jiacheliu3 , Hi, jiacheng, should we need this feature ? PR has been completed but i wonder whether we need this feature or not.

[2021-12-03 02:46] jiacheliu3 commented on #14209
@apc999 The solution PR is still in design doc phase https://github.com/Alluxio/alluxio/pull/14258 under @xichen01

[2021-12-03 02:47] amosannn commented on #14300
We also encountered the same problem. During the peak hours of daily queries, crashes occurred frequently, and there might be seven to eight times in the morning...
Our cluster version is v2.6.0. Can upgrading to v2.7.0 or upgrading rocksdb improve this phenomenon? @yuzhu

[2021-12-03 04:31] #14464 closed

[2021-12-03 04:43] umialpha commented on #14616
thanks @LuQQiu  for tracking our issues. 🌹

@beinan
Disk management is not a major problem on bare metal machine or dedicated servers. However, when it comes to k8s, everything changes.

We deploy alluxio with [fluid](https://github.com/fluid-cloudnative/fluid)(an alluxio controller responsible for deployment) on k8s shared with multiple applications.  Claiming 10GB is not a good idea because it m

[2021-12-03 06:02] LuQQiu commented on #14616
@ssz1997 FYI

[2021-12-03 06:52] jiacheliu3 commented on #14341
@LuQQiu could you take a look at this?

[2021-12-03 10:35] kailiu6 commented on #14540
@LuQQiu hi, when I used alluxxio memeory cache， the speed， is same with  disk memory， why？ Can you help what wrong

my command  is:( use  alluxio fuse  to write/read)

1)  bin/aluuxio-mount   /mnt/disk

2)  config bellow:
alluxio.worker.tieredstore.levels=1
alluxio.worker.tieredstore.level0.alias=MEM
alluxio.worker.tieredstore.level0.dirs.path=/data01/alluxio_mem
alluxio.worker.tieredstore.level0.

[2021-12-03 11:03] dbw9580 commented on #14613
Made a hacky implementation for a retrying client here: https://github.com/Alluxio/alluxio/tree/fix/s3-retry-client
I tested it when running the compaction benchmark on Overmind, and seemed to be working fine.

@ZhuTopher  can you please take a look and take over this?

[2021-12-03 16:21] ssz1997 opened #14619 "File path in Chinese in Ceph doesn't show correctly"
**Alluxio Version:**
2.5.0-2

**Describe the bug**
The path of the dataset in Ceph is in Chinese, and in Alluxio it's just some random characters which don't make sense.

**Expected behavior**
Correctly show the path, or some kind of warning

[2021-12-03 16:35] ssz1997 commented on #14619
@better629 @cheyang @LuQQiu

[2021-12-03 16:45] ssz1997 opened #14620 "workerFuse stressbench write Input/output error"
**Alluxio Version:**
Current master branch

**Describe the bug**
Fuse stress bench with workerFuse writing data errors out.
Not tuning MaxDirectMemorySize, all threads fail. Logs from `worker.out`:
[code]
With following java options in `alluxio-env.sh`: `ALLUXIO_WORKER_JAVA_OPTS+=" -Xmx24G -Xms24G -XX:MaxDirectMemorySize=18g" `, only some threads report failure, and no logs in `worker.out`.

**To

[2021-12-03 20:14] LuQQiu commented on #14620
may be related to https://github.com/Alluxio/alluxio/issues/9345
the bigger topic is how to reduce or control the direct memory usage in Alluxio Fuse or even Alluxio worker

[2021-12-03 21:35] LuQQiu commented on #14540
[code]

[code]
Should not error out.

FYI @ssz1997

[2021-12-03 23:41] LuQQiu commented on #14615
We tested on our side,
[code]
We do see a similar 4X performance worse using Alluxio POSIX API. We are investigating the performance differences between POSIX API and CommandLine

[2021-12-04 01:58] LuQQiu commented on #14615
Tested with a single machine with colocated worker and fuse with SSD
MUST_CACHE/ASYNC_THROUGH has similar performance

WorkerFuse or StandaloneFuse
[code]

Alluxio commandline
[code]

S3 CLI
[code]

Working on improving Fuse to have similar performance compared to Alluxio commandline.

[2021-12-04 02:03] LuQQiu commented on #14614
Tested with a single machine with colocated worker and fuse with SSD
MUST_CACHE/ASYNC_THROUGH has similar performance

WorkerFuse or StandaloneFuse
[code]

Alluxio commandline
[code]

S3 CLI
[code]

Working on improving Fuse to have similar performance compared to Alluxio commandline.

[2021-12-04 05:52] apc999 commented on #14329
partially addressed by https://github.com/Alluxio/alluxio/pull/14575.

[2021-12-04 05:52] #14329 closed

[2021-12-05 08:41] jayzhenghan commented on #14563
![image](https://user-images.githubusercontent.com/68948288/144739673-b3e2a77a-1569-4cdc-9f28-a5b3bdd66ec4.png)
106 is leader，Why would 106 vote for 105?, Make 105 successful

[2021-12-06 12:14] yuyang733 commented on #14591
Okay, thanks.

[2021-12-06 15:13] qian0817 opened #14626 "Master crash may cause alluxio metadata to be inconsistent with UFS"
**Alluxio Version:**
master branch.

**Describe the bug**
Master crash may cause alluxio metadata to be inconsistent with UFS.

**To Reproduce**

As an example, Use local ufs to make it easy to reproduce ,firstly modify the `#InodeTree.createPath` method to simulate an abnormal exit of the master node here when create a directory.

[code]
Run the following commands.
[code]

The master node will th

[2021-12-06 15:25] qian0817 commented on #14626
Also when I run the command ` ./bin/alluxio fs checkConsistency /`,it does't return anything, which seems to be another problem.

[2021-12-06 18:04] ZhuTopher commented on #14613
Sure, I'll take a look at the implementation you added on that branch to start with.

[2021-12-06 19:32] jenoudet commented on #14563
To answer your first question: 105 would start a new election if it does not receive a heartbeat from the leader for a period of time. When a member starts a new election, it votes for itself and requests votes from all the other members of the quorum. The other members accept this request vote by default (there are some rejection conditions, such as if another member is itself running another ele

[2021-12-06 23:36] LuQQiu commented on #14614
The performance investigation conclusion:
Fuse (7 seconds) copy the same directories from local filesystem to Alluxio is around 6 times slower than copyFromLocal command (45 seconds).
In my investigation, I found that on the Fuse side, there are **three to five threads** executing the copy requests, but on the copyFromLocal side, **32 threads** are executing the copy requests.
45 / 7 = 6.2 close t

[2021-12-07 02:24] goldenbean commented on #14568
I have noticed ufs  cosn module may  have some class loading issue with hdfs module

[2021-12-07 07:15] Nizifan commented on #14614
Many thanks for @LuQQiu for detailed investigation! The evidence looks really convincing!

Btw, do we have way to improve that part of behavior? I roughly go through the configure and didn't find some related config.

[2021-12-07 08:30] xichen01 commented on #14209
@apc999 I will start coding on this PR recently [#14258](https://github.com/Alluxio/alluxio/pull/14258)
@jiacheliu3  I remember that most of the review of the design doc has been completed, do you have any suggestions?

[2021-12-07 13:40] jffree opened #14632 "Journal not sync in masters"
**Alluxio Version:**
2.6.1

**Describe the bug**
The journal between masters cannot be synchronized. When the leader loses contact, another master is elected as the leader. This situation will cause journal data inconsistencies.

**To Reproduce**
1. Start alluxio cluster with 3 masters.
2. Start sync one path (use `alluxio fs startSync /xxxx`).
3. Observe the size of journals of different masters.

[2021-12-07 14:00] jffree opened #14633 "direct memory not release when start sync ufs metadata"
**Alluxio Version:**
2.6.1

**Describe the bug**
Direct memory not release when start sync ufs metadata.

**To Reproduce**
Start Alluxio cluster with 3 masters (500G heap memory, the physical machine has 750G of memory). Start sync ufs path (hdfs storage with 313450105 files )

Leader node will take total 550GB memory( another process take 166G). About 150G is direct memory.

![image](https://user

[2021-12-08 03:24] rongrong commented on #14200
I tried this out with the jmx connector in Presto and I can see data. The caveat is that due to how Alluxio jmx metric keys are constructed, by default it would include the ip address of the node in the metric name. In jmx connector, these names are mapped to table names. For example, run `SHOW TABLES IN jmx.current`, and you will see table names like `com.facebook.alluxio:name=client.cachebytesre

[2021-12-08 08:02] jayzhenghan commented on #14563
![image](https://user-images.githubusercontent.com/68948288/145171013-eaf97fcd-8c09-4d5f-b244-f18dae4e1be2.png)
What is the reason for this switch? I found out that in the ping-pong selection

[2021-12-08 08:51] JySongWithZhangCe commented on #14616
@LuQQiu Is it possible to reserve 30GB?

[2021-12-08 10:05] jiacheliu3 commented on #14209
The design doc is in a much better shape now! @ZhuTopher  and I will give it another review very soon. Thanks for the work!

[2021-12-08 14:18] jayzhenghan commented on #14563
![image](https://user-images.githubusercontent.com/68948288/145223726-55f5aa8b-e130-4db1-970c-8913d9d89501.png)
Error sending snapshot to leader
@jenoudet

[2021-12-08 18:40] LuQQiu commented on #14616
According to @beinan it's hard for us to know how much storage actually left. We can reserve any number based on Alluxio configuration, but not based on actual storage space

[2021-12-08 20:59] beinan commented on #14200
Hi @FeiZou , I think @rongrong worked out a work around for you.  You could use -Dalluxio.user.app.id=test to override the ip/hostname in the metrics key, then the JMX connector should work as expected.

[2021-12-08 21:17] beinan commented on #14616
Yes, as @LuQQiu mentioned, the quota could not be working based on the actual storage space unless k8s could provide this information.  But even though we know the actual storage when the alluxio starts, other application running on the same machine might still preempt the space during the alluxio running.   I don't have a workaround for this issue so far.

I'm thinking if we could reserve the spa

[2021-12-08 22:34] LuQQiu opened #14640 "NPE in S3AUnderFileSystem getObjectStatus"
**Alluxio Version:**
Alluxio 2.6.0
**Describe the bug**
2021-12-08 15:15:18,234 ERROR FileSystemMasterClientServiceHandler - Exit (Error): ListStatus: request=path: "/dell_ecs2"
options {
  loadMetadataType: ONCE
  commonOptions {
    syncIntervalMs: -1
    ttl: -1
    ttlAction: DELETE
  }
  recursive: false
  loadMetadataOnly: false
}

java.lang.NullPointerException
	at alluxio.underfs.s3a.S3AUn

[2021-12-08 23:03] LuQQiu opened #14965 "Object Store ObjectMetadata getContentLength may throw NPE"
OBSUnderFileSystem
https://github.com/Alluxio/alluxio/blob/4366882cef83c013571e31c33d9e38646cc4d3f8/underfs/obs/src/main/java/alluxio/underfs/obs/OBSUnderFileSystem.java#L294

[code]

OBS `meta.getContentLength()` returns `Long` which may be `null` but `ObjectStatus` consumes `long`.
The unwrap from `Long(null) to long` may throw NullPointerException.

This problem may exist in other Object storag

[2021-12-09 01:53] #14640 closed

[2021-12-09 05:08] umialpha commented on #14616
Thanks for your kindly reply. It sounds that it's k8s responsibility for disk management.

[2021-12-09 08:42] Myasuka opened #14645 "Multi threads accessing LocalFileDataReader problem"
**Alluxio Version:**
alluxio-2.6.0 with CACHE_THROUGH write type.

**Describe the bug**
We could have several threads reading same file (one is for normal data access, another is for background compaction)
The excpetion stack:
[code]

The code looks like:
[code]
It seems that the LocalFileDataReader does not support concurrent access. However could I avoid or walk around this limitation? Is there

[2021-12-09 14:46] qian0817 opened #14648 "Can not submit yarn task via logical domain when enable historyserver"
**Alluxio Version:**
2.7.0

**Describe the bug**
Can not submit yarn task via logical domain when enable historyserver.

**To Reproduce**
Use logical address and enable historyserver. then submit a yarn task.

**Expected behavior**
Can submit yarn task successfully.

**Urgency**
High

**Additional context**
exception stack
[code]

[2021-12-09 18:54] ggezer commented on #14563
This wait was most probably added because we were using copycat, where leadership stability was not managed as comprehensively as in ratis. So I can't provide any counter argument to make the wait before checking the state.

I think we can go ahead with the fix provided; https://github.com/Alluxio/alluxio/issues/14563#issuecomment-977701877

[2021-12-09 18:56] jenoudet commented on #14563
PR #14612 implements these changes @ggezer.

[2021-12-09 22:21] LuQQiu commented on #14540
That error is strange, that IOException should be caught by Files.createDirectories
[code]

[2021-12-09 23:01] LuQQiu commented on #14614
Linux cp/dd is single thread cp function which means that it's sequential (cp one after another).
while alluxio copyFromLocal and s3 CLI are both multi-thread application.
So it's not a apple to apple comparison.

Alluxio Fuse stressbench write throughput test is implemented https://github.com/Alluxio/alluxio/issues/14539
One can use something similar to
[code]
The `warmup` `duration` and test fil

[2021-12-09 23:35] yuzhu commented on #14632
@jffree can you check if snapshots are taken successfully on the followers? and if there are any log entries indicating errors in the journal system?

[2021-12-09 23:37] #14563 closed

[2021-12-10 00:18] yabola opened #14654 "refactor Master’s maxThroughput stress benchmark"
**Summary**
In this PR https://github.com/Alluxio/alluxio/pull/14207 , job service max throughput refactoring had been completed. But the master’s maxThroughput stress benchmark has yet to be completed. We need to refactor this and then consider how to complete fuse's maxThroughput stress benchmark.

[2021-12-10 00:21] yabola commented on #14654
@LuQQiu I am in progress

[2021-12-10 01:31] yuzhu commented on #14300
We are actively investigating this issue right now.

[2021-12-10 02:07] beinan commented on #14616
Yeah, I'm not an expert of k8s, not sure if the disk management has already been there or not.

[2021-12-10 21:46] LuQQiu commented on #14654
Priority medium validated by @yuzhu

[2021-12-10 23:23] LuQQiu commented on #14540
[code]

[2021-12-12 21:30] LuQQiu opened #14666 "Metrics doesn't show correct value after fsadmin metrics clear"
**Alluxio Version:**
Master

**Describe the bug**
1. see master metrics Master.TotalRPCs show correctly.
2. bin/alluxio fsadmin metrics clear
3. Master.TotalRPCs = 0 which is correct
4. run other operations
5. Master.TotalRPCs continue to be zero.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of wha

[2021-12-14 09:11] nmahadevuni commented on #14200
Thanks for the workaround @rongrong . I'm able to see many counters after using the workaround but "client.cachehitrate" is still missing. I can view this counter using jConsole. But not showing up in jmx.current tables.

[2021-12-14 19:41] apc999 commented on #14645
Thanks for reporting this issue @Myasuka
Having concurrent data access on `FSDataInputStream` which is backed by `AlluxioFileInStream` is not supported currently. Inside `AlluxioFileInStream`, there is shared state and concurrent access may trigger race condition.

To test the concurrent throughput, you can create multiple `FSDataInputStream`, one for each thread to read the file

[2021-12-14 19:41] #14645 closed

[2021-12-14 19:43] apc999 commented on #14626
thanks @qian0817  , @yuzhu  can you take a look at this issue?

[2021-12-14 23:20] ZhuTopher commented on #14648
As an aside, I'm not really clear how this stacktrace led to #14649.

[Your explanation in the PR](https://github.com/Alluxio/alluxio/pull/14649#issuecomment-991508203) said it's because of the mismatching port assigned to the URI resulting in it matching with two separate filesystem implementations?

Maybe someone more familiar with this could confirm if that makes sense with the error message he

[2021-12-15 00:52] FeiZou commented on #14524
Hey @beinan , sorry for the late reply. As I just checked, the dataset which failed in the error has 400 million rows so it's fairly large dataset.

[2021-12-15 00:57] beinan commented on #14524
s3's renaming is really painful, that's why we have iceberg.   anyway I will try your data size, though I still don't think it's related with our local cache.

[2021-12-15 01:54] silvermissile opened #14682 "did not find expected key which metrics enables whenb deploy alluxio on k8s"
**Alluxio Version:**
  2.7.0 2.7.1

**Describe the bug**
When  deploying  alluxio on k8s, as long as I enable Metrics ,
[code]
![image](https://user-images.githubusercontent.com/5319647/146108333-dfbfe948-2ddc-4ddb-85fe-759dc67a56d3.png)

**To Reproduce**
just set metrics:true

[2021-12-15 03:22] FeiZou commented on #14200
Hey @rongrong for providing the workaround. I have the same doubt as @nmahadevuni that I cannot see the some important metrics like `Client.CacheHitRate` ,`Client.CacheSpaceAvailable` and `Client.CacheSpaceUsed` through JMX.current.

[2021-12-15 08:46] lilyzhoupeijie opened #14684 "cannot delete file using ceph"
**Alluxio Version:**
alluxio 2.8.0

**Describe the bug**

when delete empty dir,we found the following error.

  Failed to delete /test-hhd-5/quxiyang/20210816 (UFS dir not in sync. Sync UFS, or delete with unchecked flag.) from the under file system
  2021-11-22 06:56:31,838 ERROR AbstractShell - Error running rm -R /test-hhd-5/quxiyang/20210816
  java.io.IOException: Failed to delete /test-hhd-5

[2021-12-15 09:14] lilyzhoupeijie opened #14685 "alluxio aync_through to ceph,files never persist to ceph"
**Alluxio Version:**
alluxio 2.6.0,alluxio 2.6.1,alluxio 2.8.0

**Describe the bug**
some alluxio worker crash,and files in the crashed worker are marked as missing,and after some times,the worker is back online,but the files will always be lost with 100% in alluxio and will never persist to ceph
such as follows:

**To Reproduce**
stop one alluxio worker,and when the files are lost,put the alluxio

[2021-12-15 09:21] lilyzhoupeijie opened #14686 "the cmd persist stuck"
**Alluxio Version:**
alluxio 2.6.0,alluxio 2.8.0

**Describe the bug**
using cmd as follows:
alluxio fs persist /bzzp-blue-geekrec-sample/blue_pt_rank/feat_v4/2021-09-09
and the cmd will never return

**To Reproduce**
every alluxio cluster ,and every directory

**Expected behavior**
the cmd should have return and exec rightly

**Urgency**
when somes files not persist to ceph with async_through,we

[2021-12-15 09:29] lilyzhoupeijie opened #14687 "job service enhance"
**Describe the solution you'd like**
1)We found some jobs are lost where alluxio master HA and restart frequently,and we don't know these jobs stat
2)Can job stat add shows some meaasge such like the worker's address？
3)Can we get jobs by files name?
4)Can job has some retry strategies?
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or feat

[2021-12-15 12:55] Nizifan opened #14688 "Fuse always crash when try to write data in using 'mv'"
**Alluxio Version:**
2.5.2

**Describe the bug**
When try to use linux 'mv' command to write data into fuse, fuse client will always crash.

**To Reproduce**

bili-docker /workspace # echo "abcd" > test.txt
bili-docker /workspace # cp test.txt /DATA/jupyter/test3.txt
bili-docker /workspace # cp test.txt /DATA/jupyter/account-steal-data-space/test3.txt
bili-docker /workspace # cat /DATA/jupyter/acc

[2021-12-16 02:35] maobaolong commented on #14688
@Nizifan Good catch, I create a PR to solve this issue. #14690

[2021-12-16 03:07] #14614 closed

[2021-12-16 03:42] LuQQiu commented on #14514
@lilyzhoupeijie we add more metrics so that it may help identify the tensorflow fuse stuck easier https://github.com/Alluxio/alluxio/pull/14657

[2021-12-16 05:04] #14688 closed

[2021-12-16 16:04] qian0817 commented on #14648
The latest hadoop code may be misleading, see previous versions of Hadoop code
![image](https://user-images.githubusercontent.com/45898769/146406235-05c63463-8f2a-4923-97db-0d551a8105f5.png)

[2021-12-16 16:37] yuzhu commented on #14686
@lilyzhoupeijie could you provide more information? could you check if there are job failures with `alluxio job ls` and `alluxio job stat -v jobid` to get more details? if the job is successful, then can you look at the master log to see if it has trouble renaming?  we are aware of this issue and will create some changes for more meaningful error messages instead of hanging behavior.

[2021-12-17 08:13] uniqueZt commented on #14300
we upgrade the rocksdb version to  6.25.3，but cannot solve this。we run about 4 days online，it happen again. Do we have any progress here ？

C  [librocksdbjni9263870174473033234.so+0x587ff2]  rocksdb::BlockBasedTableIterator::CheckDataBlockWithinUpperBound()+0x92
C  [librocksdbjni9263870174473033234.so+0x588277]  rocksdb::BlockBasedTableIterator::InitDataBlock()+0x267
C  [librocksdbjni9263870174473

[2021-12-17 08:21] uniqueZt commented on #14300
can we support block store by leveldb？this may solve this problem . now  heap store can not support large metadata , i do not know how to make alluxio  run for a long time online.

[2021-12-17 11:49] Nizifan opened #14699 "Fuse can not read file just written with alluxio.user.metadata.cache.enabled=true"
**Alluxio Version:**
2.5.0.2

**Describe the bug**
Fuse client can not read file just written
And the next run (meaning we starting  a new fuse) can read the file correctly, and if it read file it just created, it can not read again.

And set Alluxio property: alluxio.user.metadata.cache.enabled=false can resolve this issue immediately.

**To Reproduce**

root@train-244459-worker-0:/cache# echo "z

[2021-12-18 02:23] LuQQiu commented on #14699
Tested in both Mac and Linux
Alluxio master branch succeed in the above workloads
while Alluxio 2.5.0-2 failed with the exact same error

[2021-12-18 02:23] #14699 closed

[2021-12-19 04:07] LuQQiu opened #14708 "Python script failed because of random write includes"
**Alluxio Version:**
Alluxio 2.7.0

**Describe the bug**
[code]

the operation failed

**To Reproduce**
wget https://bootstrap.pypa.io/get-pip.py
python3 get-pip.py
pip install h5py
pip install numpy
run the script against Alluxio Fuse mount point failed

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

[2021-12-19 04:09] LuQQiu commented on #14708
Open the fuse debug logging by setting log4j.properties
[code]
Enable Fuse operation level debug logging of fuse.out by setting
[code]
[fuse.log](https://github.com/Alluxio/alluxio/files/7740305/fuse.log)
[fuse.out.log](https://github.com/Alluxio/alluxio/files/7740306/fuse.out.log)

[2021-12-19 04:11] LuQQiu commented on #14708
The first write will succeed but the following write will fail because of it includes file overwrite.
The triggered operation is
[code]

[2021-12-19 05:45] LuQQiu commented on #9671
[There is ](https://docs.alluxio.io/os/user/stable/en/compute/Tensorflow.html)

[2021-12-19 05:45] #9671 closed

[2021-12-19 05:46] LuQQiu commented on #10241
POSIX API related K8S/Helm doc are added.
@ssz1997 Please help confirm

[2021-12-19 19:15] #14034 closed

[2021-12-19 23:14] LuQQiu opened #14713 "Show correct bytes written in Fuse getattr"
**Alluxio Version:**
Master

**Describe the bug**
Alluxio master only updates file status length after file completed.
But in Alluxio Fuse, sometimes applications need to known the bytes written by calling getattr.
At least in the same Alluxio Fuse which file is written to, we should support getting the bytes written info in getattr

**To Reproduce**
Steps to reproduce the behavior (as minimally a

[2021-12-20 03:24] wangqia0309 opened #14715 "fuse permission bug"
**Alluxio Version:**
2.7.1

**Describe the bug**
ufs使用hdfs，在使用fuse时候，我设置了alluxio.fuse.user.group.translation.enabled=true，并且allow_other，这样可以让我在fuse挂载的路径看到hdfs上文件的真实权限，但是我发现在读的时候其实是无视权限的，比如一个文件是hdfs:hdfs的600权限，但是我用别的shell用户也可以直接看到内容，而如果用alluxio fs head就会Permission denied，这样是合理的，所以我不知道这是不是fuse的bug呢

**To Reproduce**

**Expected behavior**
对于没有读权限的shell用户通过fuse查看文件应该返回Permission denied

**Urgency**
D

[2021-12-20 22:33] #14666 closed

[2021-12-21 01:29] LuQQiu commented on #14708
The script read is
[code]
The problem is the written `/tmp/test/animals_12101333.h5` has a different size between Alluxio Fuse and the local filesystem.
the one written to local filesystem can be read but the one written to Alluxio Fuse is smaller and cannot be read successfully

[2021-12-21 03:06] kou998 opened #14723 "fuse挂载失效"
**Alluxio Version:**
2.7.0

**Describe the bug**
挂载了alluxio-fuse的container的挂载关系丢失，alluxio-worker pod重启。重启期间，fuse挂载目录不可用。

**To Reproduce**
    在K8S上启alluxio-master和alluxio-worker，并以宿主机目录：/tmp/alluxio-fuse/作为fuse挂载点。alluxio-worker的配置为1核2G。.启一个容器A，并将容器中的路径/test/ 挂载到宿主机的fuse挂载点。

场景1、
    1. 在A中执行以下代码：
[code]

场景2、
    1、在容器A中执行：
[code]
生成一个随机大文件，待生成成功后，将生成的test.txt拷贝到/test目录下。

**Expected behavior**

[2021-12-21 07:26] Nizifan opened #14724 "ls command doesn't support Chinese character filename, will return empty result"
**Alluxio Version:**
2.5.2

**Describe the bug**
when ls on a directory, if the directory contains Chinese character(unicode 16 I suppose), the ls will return empty result which confuse user.

**To Reproduce**
root@jssz-bigdata-datanode-2050:/opt/alluxio-release-2.5.0-2-SNAPSHOT# alluxio fs  mount --option aws.secretKey=aeef4e8cce5a6e8b55548b4788741bd3   --option aws.accessKeyId=57d71c51a2dae1ea -

[2021-12-21 16:40] ssz1997 commented on #14540
@LuQQiu Is there another way other than using `mount` or `alluxio-fuse stat` commands to find the Alluxio path in the Fuse process? I'm asking because, to check if one Alluxio path exists or create one, we need to know the path beforehand, and this Alluxio path would be the Alluxio path in the Fuse process.

[2021-12-22 04:30] Nizifan opened #14729 "Severe performance issue when master serving 10M+ files"
**Alluxio Version:**
2.5.0.2

**Describe the bug**
Recently we have provide Alluxio for 2 engineers whose train involve massive count of file. And during training they found severe performance issue.

Case #1
Engineer have ~18M files, evenly spread in 60 folders, of total size 20T. He build a cluster with 13 workers.
At first the cluster work as expected. Around minutes later, all the operation (c

[2021-12-22 04:31] Nizifan commented on #14729
below is our config:
ALLUXIO_JAVA_OPTS: '-Dalluxio.master.hostname=chenyimin-master-0 -Dalluxio.user.hostname=${ALLUXIO_CLIENT_HOSTNAME}
  -Dalluxio.master.journal.type=EMBEDDED -Dalluxio.master.journal.folder=/journal
  -Dalluxio.worker.tieredstore.levels=1 -Dalluxio.worker.tieredstore.level0.alias=SSD
  -Dalluxio.worker.tieredstore.level0.dirs.mediumtype=SSD -Dalluxio.worker.tieredstore.level0.d

[2021-12-22 06:14] jiacheliu3 commented on #14729
@yuzhu @apc999 Are you aware of this one?

[2021-12-22 06:16] yuzhu commented on #14729
@LuQQiu fyi

[2021-12-22 06:25] jiacheliu3 opened #14730 "Move scheduling decision from client to master"
This proposal is from @maobaolong

The ask is to move the scheduling decision from the client into the master. Right now the client decides which worker to go to.

**Is your feature request related to a problem? Please describe.**
Right now the scheduling decision is made at the client side at https://github.com/Alluxio/alluxio/blob/cd1902383555d65ea85a561d1840137052b9ff4e/core/client/fs/src/main/

[2021-12-22 12:46] maobaolong commented on #14178
[code]

After set the log level to debug level, we can see the above logs, it shown that write a file under nfs, the call flow is :

create，complete，then open，write， release.

AFAIK, Alluxio cannot support modify an existing file for now, but for an empty file, we can do something to achieve this goal.

[2021-12-22 18:22] LuQQiu commented on #14729
@yuzhu For the first case, do you think it's related to any of the issues we fixed between master branch and 2.5.0-2?
I am thinking about whether upgrading to the newest version can help solve the issue? or ask them to try again in this older version and get the needed logs, metrics,  threaddump?

[2021-12-22 18:43] LuQQiu commented on #14708
[code]
Error message is `OSError: Unable to open file (bad object header version number)`
In Fuse.out
[code]
`getxattr /animals_12101333.h5 security.capability 0`
getxattr is called and this function is not implemented by Alluxio yet.

[2021-12-22 20:48] LuQQiu commented on #14708
@maobaolong @yyongycy PTAL, i am not that familiar with extended attributes and wondering whether Alluxio can support setxattr, getxattr, removexattr, and listxattr?

[2021-12-22 20:49] LuQQiu commented on #14708
@sg-c FYI

[2021-12-22 20:55] #14713 closed

[2021-12-22 23:04] LuQQiu commented on #14708
This python script contains random write which is not supported by Alluxio yet
<google-sheets-html-origin><style type="text/css"></style>

size=96,offset=0
--
size=8,offset=2048
size=129024,offset=6144
size=131072,offset=135168
size=131072,offset=266240
size=100352,offset=397312
size=98304,offset=497664
size=98304,offset=595968
size=1888,offset=96
size=1264,offset=4096
size=96,offset=0
size=96,off

[2021-12-22 23:26] LuQQiu commented on #14708
@sg-c This is one of the known Alluxio limitations (design), that Alluxio doesn't support random write.
It's not the AlluxioFuse limitation. I took a look the source code, it's unlikely to support random write in the near future unless Alluxio infra has huge modification.

[2021-12-23 00:26] maobaolong commented on #14730
@jiacheliu3 Thank you advance for create this issue and given these `Pros` here, this is significant change, after this, @xichen01 would like to add more choose worker policy on master.

[2021-12-23 00:39] maobaolong opened #14739 "Read an 1 GB file from alluxio-fuse 2min but alluxio shell 10sec"
**Alluxio Version:**

2.6.1

**Describe the bug**

We read a full cached file in alluxio with two way, the duration is pretty different.

**To Reproduce**

- Env: alluxio on K8s, use memdisk as cache storage for workers
- Step 1, make sure a 1G file was cached totally in alluxio.
- Step 2, make sure the fuse pod is not co-located with worker pod. Using `alluxio/integration/fuse/bin/alluxio-fuse mo

[2021-12-23 02:01] LuQQiu opened #14740 "Better handling Fuse Open flags"
**Alluxio Version:**
Master

**Describe the bug**
In the beginning, Alluxio thinks open() is only used for reading.
After we encounter overwrite case, we realize open() can be used for overwriting, so we detection of
`OpenFlags.O_WRONLY`
https://github.com/Alluxio/alluxio/blob/8640ff37ead66cd1cb022666299878893904c8ab/integration/fuse/src/main/java/alluxio/fuse/AlluxioJniFuseFileSystem.java#L339

B

[2021-12-23 02:46] kevincai opened #14741 "Proxy design LB-friendly API for read/write"
**Is your feature request related to a problem? Please describe.**

Current Proxy REST API designs the read file as:
1. open file , cache the stream in memory
2. read the stream
3. close stream

This is OK for a single http endpoint, but when proxy is behind a LB, like nginx or LVS. HTTP Protocol doesn't request the request should be sent via the same connection, which means, in the listed interac

[2021-12-23 02:59] umialpha commented on #14729
Thanks @LuQQiu , we can try to upgrade our version to 2.8 at the same time.

[2021-12-23 03:06] yyongycy commented on #14708
xattr is not a must-to-have apies. It can be ignored.

[2021-12-23 08:09] #14178 closed

[2021-12-23 19:42] LuQQiu commented on #14740
2021-12-23 19:26:13,168 DEBUG AlluxioJniFuseFileSystem - Enter: Fuse.OpenOverwrite(path=/filebench/read/testF/00000007/00000001,flags=0xc002)
because of https://github.com/Alluxio/alluxio/commit/e205ed32bcccf21da148505ef5dbb45dc50a3b90
FYI @maobaolong

[2021-12-23 22:07] LuQQiu commented on #14740
open flags: 0x8002 /filebench/composite/testF2/00000001/00000001/00000007
unique: 18712, opcode: OPEN (14), nodeid: 1015, insize: 48, pid: 16953
open flags: 0x8002 /filebench/composite/testF2/00000001/00000001/00000005
   open[1097] flags: 0x8002 /filebench/composite/testF2/00000001/00000001/00000003
   unique: 18710, success, outsize: 32
   open[1098] flags: 0x8002 /filebench/composite/testF2/000

[2021-12-24 00:09] LuQQiu commented on #14739
From master side
[code]

From worker side
[code]

alluxio conf
[code]

[2021-12-24 00:44] LuQQiu commented on #14708
@yyongycy Thanks! The error of this python script is caused by random write and is not caused by xattrs

[2021-12-24 03:17] jingcheng88 opened #14746 "Alluxio Master memory leak"
**Alluxio Version:**
2.6.1 2.6.2 2.7.1

**Describe the bug**
There are 30 worker in the cluster. The memory of master continued to grow and OOM in the end. The memory did not GC even if there were no client request. The GC of JVM was well.

![image](https://user-images.githubusercontent.com/8472283/147311733-fef02b1a-5aab-47e2-b655-6a10263bbf38.png)

![image](https://user-images.githubusercontent.

[2021-12-26 05:24] jiacheliu3 commented on #14746
Hi @jingcheng88 Did you look into where the memory consumption is from? Do you have jstacks or heap dumps or anything else that we can investigate like `jmap -histo <pid>`?

[2021-12-27 06:09] maobaolong commented on #14708
@LuQQiu We can implement it with two mode, ignored mode or redirect the request to alluxio master.

[2021-12-27 10:59] jingcheng88 commented on #14746
@jiacheliu3
[alluxio_stack.txt](https://github.com/Alluxio/alluxio/files/7779844/alluxio_stack.txt)
[jmap.txt](https://github.com/Alluxio/alluxio/files/7779849/jmap.txt)
[code]

[2021-12-27 19:12] LuQQiu commented on #14708
@maobaolong are you talking about the xattr? how alluxio master handles the request?

[2021-12-27 19:55] LuQQiu opened #14751 "Alluxio Fuse echo "append" >> existing_file failed"
**Summary**
Workflow:
- echo "abc" > a.file
- echo "append" >>  a.file failed

Logs show
[code]

Fuse.out
[code]

See if we for sure cannot support this workflow

**Urgency**
Explain why it is important to address the tech debt

[2021-12-27 19:55] LuQQiu commented on #14751
subtask of #14740

[2021-12-27 19:56] LuQQiu commented on #14751
'a'   # Open file for appending. The file is created if it does not exist.
        #33793
        # 0b1000010000000001

[2021-12-27 20:01] LuQQiu opened #14752 "Fuse Mv should not error out when destination file exsit"
**Alluxio Version:**
Master

**Describe the bug**
In Alluxio Fuse mount point
[code]
From Fuse.log
[code]

In Linux
[code]
**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
Expect Fuse perform as the linux system

**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to fix it**
Please indicate if you are already

[2021-12-28 03:05] jiacheliu3 commented on #14746
@jingcheng88 What JVM are you using? The jstack cannot be parsed by fastthread.io. The format looks different from my jstack from openjdk. It's a bit hard to do automated analysis, so I'll come back to this in a bit.

Your jmap output reveals something interesting, let's go over them one by one.

First of all, your heap looks very small. That means some constant-cost objects will rank high in `jma

[2021-12-28 03:13] jiacheliu3 commented on #14746
In order to further investigate if there's a leak, we will need to analyze the heap multiple times in order to see what have been added.

Since you say there's not much GC-events, I would start suspecting that all these objects are alive. In this case, you can rely on the `jmap -histo:live` which prints the live objects. If heap dumping is fast, you can retrieve multiple heap dumps too. Whichever

[2021-12-28 06:24] #8498 closed

[2021-12-28 07:44] uniqueZt commented on #14746
i also encounter the problem ，i use rocksdb store meta，but the old gen used always increase ，may be some data cannot be gc until master switch

[2021-12-28 07:50] uniqueZt commented on #14746
i think the inode size was limited，the memory should not always increase

[2021-12-28 07:57] uniqueZt opened #14756 "The evication strategy of CachingInodeStore can support LRU"
the iterator of concurrentHashmap  may lead to some hot data was  evicated.this may lead to bad performance  and the performace of gc also  become bad.

[2021-12-28 09:08] jiacheliu3 commented on #14746
@uniqueZt I think your understanding is mostly right. When there's no user operations, there are still some heartbeating checks in the master like `ReplicationChecker` and there's worker-master heartbeats which incurs RPC. But I don't think those objects will go to the old gen.

I will recommend performing a similar check by capturing multiple `jmap` or heap dumps so we better understand what are

[2021-12-29 02:55] yyongycy opened #14760 "Three UTs in ReplicationCheckerTest fail."
**Alluxio Version:**
Current Master

**Describe the bug**
Three UTs in ReplicationCheckerTest failed.
alluxio.master.file.replication.ReplicationCheckerTest.heartbeatFileUnderReplicatedBy1
alluxio.master.file.replication.ReplicationCheckerTest.heartbeatFileUnderReplicatedBy10
alluxio.master.file.replication.ReplicationCheckerTest.heartbeatMultipleFilesUnderReplicated

**To Reproduce**
Just run the

[2021-12-29 03:13] yyongycy commented on #14760
It is fixed by https://github.com/Alluxio/alluxio/pull/14761

[2021-12-29 06:24] goodpp opened #14762 "请问支持BeeGfs文件系统吗？"
看官网支持的底层文件系统里面没有BeeGfs，想请问下是否支持或者有计划支持BeeGfs吗？

[2021-12-29 10:35] jingcheng88 commented on #14746
@jiacheliu3
jmap -histo:live
[jmap.txt](https://github.com/Alluxio/alluxio/files/7788315/jmap.txt)

I used offical docker image of community edition.
The memory would not leak when i added UseConcMarkSweepGC in JVM option. But it would crash with SIGSEGV.
Alluxio works well when i downgrade to version 2.5.0-3.

[2021-12-29 14:41] jiacheliu3 commented on #14746
@jingcheng88 When you see SIGSEGV, that's probably due to RocksDB. You can find a file that looks like `hs_err.pid` that is essentially your core dump. You will find the thread stacktrace that causes the SIGSEGV. I'm almost certain you will see RocksDB. In that case, please create a separate issue to track the RocksDB crash, we will work on resolution there.

On using CMS vs the default ParallelOl

[2021-12-30 02:04] #14760 closed

[2021-12-30 03:33] jiacheliu3 commented on #14746
@jingcheng88 could you find us on Slack so we can iterate faster?
https://join.slack.com/t/alluxio-community/shared_invite/zt-ffbj8sli-wQlgpP0_Cr~4~kWmqcnnHQ

[2021-12-30 12:22] chovy-3012 opened #14766 "MetricsSystem memory leak"
**Alluxio Version:**
2.8.0-SNAPSHOT

**Describe the bug**
We add alluxio jar in hivemetastore classpath.
Hivemetastore crash down ,when we query hive through alluxio.

![image](https://user-images.githubusercontent.com/6967684/147751566-39f94501-423d-4562-9d0c-b73ebe61853b.png)

![image](https://user-images.githubusercontent.com/6967684/147751585-138b164d-7c2e-4db8-89ae-c631de683144.png)

![image]

[2021-12-30 19:05] LuQQiu commented on #14715
From @wangqia0309 ufs使用hdfs,用hdfs用户,hadoop fs put上传一个文件LICENSE,然后将其改成600权限，这时我用qw用户名，使用alluxio fs head该文件是会报permission denied的，这是正确的
如何绕过权限使用qw用户查看该文件
1 开启alluxio.user.metadata.cache.enabled=true
2 用qw启动fuse
3 到挂载的路径
4 head LICENSE发现可以查看该文件

[2021-12-30 19:09] LuQQiu commented on #14766
@jiacheliu3 @yuzhu FYI

[2021-12-30 19:13] LuQQiu commented on #14762
@goodpp 目前 alluxio 不支持 BeeGfs，但是可以通过 https://docs.alluxio.io/os/user/stable/en/ufs/Ufs-Extension-API.html 实现一个 BeeGfs 接口。我们短期内没有计划支持 BeeGfs, 欢迎提交 PR 实现 BeeGfs UFS

[2021-12-30 22:19] LuQQiu commented on #14708
Close issue because random write is not support by Alluxio

[2021-12-30 22:19] #14708 closed

[2021-12-30 22:28] LuQQiu commented on #14616
Close because Alluxio cannot know how many disk spaces left

[2021-12-30 22:28] #14616 closed

[2021-12-30 22:30] LuQQiu commented on #14729
Changed to version 2.7.2. Compared to 2.5, performance has huge improvements
but encounter master memory limit problem. could be related to #14746

[2021-12-30 23:18] LuQQiu commented on #14540
The error is fixed by https://github.com/Alluxio/alluxio/pull/14742

[2021-12-31 02:00] yyongycy opened #14767 "Need an UT for AlluxioLog4jSocketNode object white list in log4j upgrade"
**Summary**
Need an UT to protect the AlluxioLog4jSocketNode white list in log4j upgrade

**Urgency**
It is a defense mechanism, not that urgent.

[2021-12-31 06:42] codings-dan opened #14768 "Cannot truncate file to 0"
**Alluxio Version:**
2.6.2

**Describe the bug**
When use alluxio to run task, code trigger AlluxioJniFuseFileSystem#trucate, and print the log and task stop.
`Cannot truncate /xxx/xxx/xxx to 0. The file is not opened for overwrite`

**To Reproduce**

**Expected behavior**
No longer trigger this problem

**Urgency**
normal

**Are you planning to fix it**

**Additional context**

Related code：
[cod

[2021-12-31 06:44] codings-dan commented on #14768
@LuQQiu Can you help take a look at this question, thx!

[2021-12-31 06:57] uniqueni opened #14769 "Need to fix image vulnerabilities"
**Alluxio Version:**
v 2.7.2

**Describe the bug**
We found some  vulnerabilities when scanning then image with trivy
scan tools: https://github.com/aquasecurity/trivy
scan report: [alluxio_cve.csv](https://github.com/Alluxio/alluxio/files/7795522/alluxio_cve.csv)

[2021-12-31 08:17] zzcclp opened #14771 "Support to cache data in memory when using Alluxio Local Cache"
**Is your feature request related to a problem? Please describe.**

Currently, Alluxio Local Cache supports two types to cache data: local disk and Rocks, in some cases, there are some small data needed to be cached, the memory size is enough for them and there is no SSD on the machines.

**Describe the solution you'd like**
It's better to support caching data in the memory when using Alluxio Loca

[2021-12-31 08:19] zzcclp commented on #14771
I'll raise a pr to implement this feature.

[2021-12-31 23:53] LuQQiu opened #14776 "Add Fuse shell doc in POSIX API doc"
**Page**
[POSIX API page](https://docs.alluxio.io/os/user/stable/en/api/POSIX-API.html)
Add documentation for Fuse shell in general
and the current available commands.
In the future, when there are more Fuse shell commands, consider moving to a separate page.

**Summary**

[2021-12-31 23:53] LuQQiu commented on #14776
@bzheng888 PTAL and help add the Fuse shell doc, thanks!

[2022-01-02 09:44] bzheng888 commented on #14776
WIll do!

[2022-01-03 10:06] zzcclp commented on #14771
I have raised PR #14772 to implement this feature.

[2022-01-03 20:49] LuQQiu opened #14778 "Enable setting Fuse debug logging in K8S & Fluid"
**Is your feature request related to a problem? Please describe.**
Currently, Standalone Fuse debug logging is not able to be enabled in Alluxio K8S which prevents debugging Standalone Fuse problems.

Supported setting Fuse debug logging in Alluxio K8S helm charts and Fluid.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives y

[2022-01-04 02:43] LuQQiu commented on #14768
fuse.debug.enabled=true  fuse.out
open (flag)
-- read/write
-- truncate to 0 <-- error out
--

[2022-01-04 03:30] jayzhenghan opened #14779 "During the raft switching process, the old master continues to process client requests, resulting in fatal"
![image](https://user-images.githubusercontent.com/68948288/148005750-661cb60e-0ed0-4f89-bf07-8e764174a969.png)
Exit due to the above error
![image](https://user-images.githubusercontent.com/68948288/148005868-9aa1c61e-9da0-4475-b5ce-c484629bbe55.png)

problem：Why does the backup machine process the update request
@jenoudet @ggezer @yuzhu

[2022-01-04 03:52] LuQQiu commented on #14715
From @maobaolong
如果一个 alluxio fuse 是给多个用户使用的，alluxio fuse 应该需要认证来访的用户，并且这个来访用户的认证应该跟 alluxio master 的认证方式是一致的
另外 alluxio fuse 的鉴权也是一样，alluxio fuse 端如果缓存了元数据，接下来的请求不一定会到 alluxio master，所以 alluxio fuse 也要担负起鉴权的责任，而且也要与 alluxio master 的鉴权方式是一致的

[2022-01-04 07:52] bzheng888 opened #14780 "Stat command get different mtime in alluxio fuse mount point"
**Alluxio Version:**
2.6 or newer
**Describe the bug**
Touch a new file, and using `stat` command to get file's mtime in the alluxio fuse mount point, the mtime shows different result in the first and second `stat` command.
![image](https://user-images.githubusercontent.com/42070967/148026563-259b0fa0-cafe-48f9-a689-67e8cbb77b26.png)

**To Reproduce**
Prerequisite:
- Start an alluxio cluster
- All

[2022-01-04 07:53] bzheng888 commented on #14780
@LuQQiu @yyongycy FYI!

[2022-01-04 19:36] apc999 commented on #14779
@jayzhenghan  can you specify which version of Alluxio you are using? @yuzhu @jenoudet FYI

[2022-01-04 19:39] apc999 commented on #14771
thanks for the contribution! We will start to review this PR!

[2022-01-04 19:41] apc999 commented on #14769
Thanks for reporting the issue. We want to address the vulnerabilities definitely.
Will handle this.

[2022-01-04 19:44] #14762 closed

[2022-01-04 19:47] LuQQiu commented on #14752
See if mac has same behavior as linux

[2022-01-04 20:07] LuQQiu commented on #14780
@bzheng888 is verifying the linux behavior with help from @yyongycy

[2022-01-04 22:20] LuQQiu commented on #14715
As long as we are using `MetadataCachingBaseFileSystem`, we will have this issue. it's not only related to Fuse. @beinan FYI, any thoughts/suggestions?
During the read process, we first getFileStatus() from master. When master receives the getFileStatus() request, it will check the user/group/mode permissions. This is why `bin/alluxio fs cat command` with non-authorized user will have permission d

[2022-01-04 22:38] LuQQiu commented on #14715
Q1: Can we implement a similar permission checker from client-side when metadata cache is enabled?
No.
1) On the client-side, we cache the metadata only up to Fuse mounted Alluxio path (instead of Alluxio UFS mount root). We can only check up to Fuse mounted Alluxio path instead of UFS mount root. This is different from the master permission check.
2) Client instance may have different user group

[2022-01-04 23:52] LuQQiu commented on #14739
Found something interesting
[code]

`time bin/alluxio fs cat /1g.img > /dev/null` in general is really quick, about 4-5 seconds
`time bin/alluxio fs cat /1g.img` usually takes more than 1min 40seconds
`time cat /mnt/alluxio-standalone-fuse-read/1g.img > /dev/null` takes around 1min
`time cat /mnt/alluxio-standalone-fuse-read/1g.img` takes more than 1min 40 seconds

[2022-01-04 23:53] LuQQiu commented on #14739
When not using `> /dev/null` , `alluxio fs cat` has similar performance as `fuse cat`, but when using `> /dev/null` `alluxio fs cat` is much faster......

[2022-01-04 23:54] maobaolong commented on #14715
@LuQQiu we may need to think about custom authentication and authorization

[2022-01-05 02:44] bzheng888 commented on #14780
@LuQQiu @yyongycy @maobaolong FYI!

[2022-01-05 02:50] yyongycy commented on #14715
In a distributed environment, what is our expectation to handle the authorization?
In posix environment, users are the linux account. My assumption is the linux account is good enough for the authorization so far.

On the other hand, can we also cache the attribute of each file/dir? In this case, the ACL can be simply checked based on cache?

[2022-01-05 02:52] jayzhenghan commented on #14779
May be fixed at https://github.com/Alluxio/alluxio/pull/14307/files.

[2022-01-05 02:54] jayzhenghan commented on #14779
2.5.0 @apc999 @yuzhu @jenoudet

[2022-01-05 03:34] yyongycy commented on #14780
So let's adjust Alluxio behavior accordingly.

[2022-01-05 08:22] dbw9580 commented on #14412
I'm seeing negative active client counts.

This might be the cause: https://github.com/Alluxio/alluxio/blob/25e1882baad606a813a84a15646746a06590df49/core/server/worker/src/main/java/alluxio/worker/grpc/ShortCircuitBlockReadHandler.java#L124-L132

Both `unlockBlock` and `cleanupSession` decrease this counter, and if `unlockBlock` does not throw an exception, the counter is decremented twice for a s

[2022-01-05 08:45] jiacheliu3 commented on #14412
@ZhuTopher Are you going to fix this?

[2022-01-05 08:55] hfutatzhanghb commented on #14341
@LuQQiu hi, could you take a look at this? thanks a lot.

[2022-01-05 18:18] LuQQiu commented on #14341
@hfutatzhanghb What's the use case of this feature? Where and how can we use it?
If possible, can you also share the completed PR?
@apc999 @yuzhu FYI

[2022-01-05 19:20] LuQQiu commented on #14780
Thanks @bzheng888 ! Can you help adjust Alluxio behavior?

[2022-01-05 19:23] LuQQiu commented on #14715
Isn't that permission check should be done by Linux system?

[2022-01-05 22:54] ZhuTopher commented on #14412
@jiacheliu3 I'm not actively working on this nor have it in my pipeline atm.

@dbw9580 That seems like something worth investigating as well; in this issue I personally didn't observe the metric below 0 though.

[2022-01-06 00:20] maobaolong commented on #14780
@yyongycy @LuQQiu considering big data dfs, like hdfs, it has the same issue as alluxio, so i suggest to add an option to let alluxio can satisfy both big data and ai workload.

[2022-01-06 01:33] yyongycy commented on #14715
As far as I remember, there is a fuse flag, FUSE kernel would do ACL.
https://patchwork.kernel.org/project/linux-fsdevel/patch/1472478397-131967-3-git-send-email-seth.forshee@canonical.com/

[2022-01-06 03:24] hfutatzhanghb commented on #14341
@LuQQiu , thanks for replying.  We may use native method to promote Alluxio‘s performance in some scenes. I will  upload code soon later.

[2022-01-06 06:20] LuQQiu commented on #14780
I checked with @apc999, he didn't have many concerns, he didn't remember why we set the current modify time, could be because of HDFS behaviors. Can @bzheng888 help check the HDFS behavior?

[2022-01-06 06:22] LuQQiu commented on #14715
Thanks @yyongycy, nice suggestions!! will double-check and see if this flag can avoid the permission bug

[2022-01-06 13:32] jiacheliu3 opened #14795 "BlockInStream should not hold DataReader.Factory"
**Summary**
Alluxio 2.7

`LocalFileDataReader.Factory` will be passed to `BlockInStream` and kept in the `BlockInStream`. The factory instance will close together with the `BlockInStream`. Same for other `DataReader` factories.

The `LocalFileDataReader.Factory` holds a `BlockWorkerClient` and a `GrpcBlockingStream`. These two are closed when the factory is closed by the `BlockInStream`. The logic

[2022-01-06 13:38] jiacheliu3 opened #14796 "Support retry for many client-worker RPCs"
**Is your feature request related to a problem? Please describe.**
Alluxio 2.7

The client-master RPCs usually come with retry logic baked in. These can be found in the `RetryHandlingBlahMasterClient` classes. The retry logic defined here https://github.com/Alluxio/alluxio/blob/309fd69f45730910b3c0a7e127316d529c3544ef/core/common/src/main/java/alluxio/AbstractClient.java#L397 transparently retry m

[2022-01-06 13:47] jiacheliu3 opened #14797 "BlockWorkerClientPool time-based GC is incorrect"
**Alluxio Version:**
2.7

**Describe the bug**
`BlockWorkerClientPool.shouldGc()` is acess-time-based. This is harmless at first sight. https://github.com/Alluxio/alluxio/blob/309fd69f45730910b3c0a7e127316d529c3544ef/core/client/fs/src/main/java/alluxio/client/block/stream/BlockWorkerClientPool.java#L87

However, the last access time of `ResourceInternal` is only set on creation and updated when i

[2022-01-06 13:52] jiacheliu3 opened #14798 "LocalFileDataReader the BlockWorkerClient can be released early"
**Is your feature request related to a problem? Please describe.**
The BlockWorkerClient is held until the short circuit read (reading the block file itself) is over. Actually, we no longer need the client to send any requests after `receive()`
https://github.com/Alluxio/alluxio/blob/309fd69f45730910b3c0a7e127316d529c3544ef/core/client/fs/src/main/java/alluxio/client/block/stream/LocalFileDataRead

[2022-01-06 13:54] jiacheliu3 opened #14799 "client side LocalFileBlockReader belongs to worker package"
**Summary**
Alluxio 2.7

LocalFileBlockReader is used in `LocalFileDataReader` from the client module. However it is in worker package
https://github.com/Alluxio/alluxio/blob/309fd69f45730910b3c0a7e127316d529c3544ef/core/common/src/main/java/alluxio/worker/block/io/LocalFileBlockReader.java#L12
and it belongs to `core-commons` module.

**Urgency**
LOW

[2022-01-06 14:01] jiacheliu3 opened #14800 "Acquiring a client should not block indefinitely"
**Is your feature request related to a problem? Please describe.**
When the BlockWorkerClient runs out in the pool, `acquire()` will block indefintely. There will not be any warnings or any logs at all, because the thread is blocking there indefinitely. I also don't think it's interruptible.
https://github.com/Alluxio/alluxio/blob/309fd69f45730910b3c0a7e127316d529c3544ef/core/client/fs/src/main/ja

[2022-01-06 14:05] jiacheliu3 opened #14801 "Client side pools are hard to observe"
**Is your feature request related to a problem? Please describe.**
There are many client pools like BlockWorkerClientPool on the client side. When the pool max volume is hit, the process is stuck to provide flow control. When this happens, the task is in a stuck state (if no worker is working hard to finish the existing work). It's hard to monitor and tell without a jstack.

We should have better

[2022-01-06 14:06] jiacheliu3 commented on #14799
Also this `LocalFileBlockReader` has a metric that belongs to worker! So the client will send `Worker.BlockReadLocal` metric to the master!

[2022-01-06 14:09] jiacheliu3 opened #14802 "Worker block lock acquisition should not be blocking indefinitely"
**Is your feature request related to a problem? Please describe.**
Alluxio 2.7

When the worker is answering `OpenLocalBlockRequest`, it locks the block with a blocking call
https://github.com/Alluxio/alluxio/blob/309fd69f45730910b3c0a7e127316d529c3544ef/core/server/worker/src/main/java/alluxio/worker/grpc/ShortCircuitBlockReadHandler.java#L86
If the block locks run out, this blocks indefinitely.

[2022-01-06 14:11] jiacheliu3 opened #14803 "Make worker block lock pool size observable"
**Is your feature request related to a problem? Please describe.**
Alluxio 2.7

The worker has a pool of block locks. Each lock item is locking one block (serve one to many clients).
https://github.com/Alluxio/alluxio/blob/309fd69f45730910b3c0a7e127316d529c3544ef/core/server/worker/src/main/java/alluxio/worker/block/BlockLockManager.java#L55

The pool size should be observable by metric and loggin

[2022-01-06 21:00] yuzhu commented on #14779
@ggezer this reminds me of a bug you fixed recently. could you post the PR here?
@jayzhenghan I recommend you upgrade to the latest version and try or cherrypick this PR.

[2022-01-06 23:06] LuQQiu commented on #14715
@wangqia0309 when reading a file, Alluxio client will issue an `getStatus` call with `AccessMode == Bits.READ` to master which will check if the user has READ permission. If not, the read operation will error out with permission denied.

If `alluxio.user.metadata.cache.enabled=true`,
1. Case 1: ls and then head
[code]
2. Case 2: directly head without ls
[code]
I can force `open` to always go to ma

[2022-01-07 01:23] LuQQiu commented on #14752
https://libfuse.github.io/doxygen/structfuse__operations.html

Rename int(* fuse_operations::rename)(const char *, const char *, unsigned int flags)
Rename a file

flags may be RENAME_EXCHANGE or RENAME_NOREPLACE. If RENAME_NOREPLACE is specified, the filesystem must not overwrite newname if it exists and return an error instead. If RENAME_EXCHANGE is specified, the filesystem must atomically exch

[2022-01-07 01:27] LuQQiu commented on #14752
In libfuse/include/fuse.h master
[code]
In libfuse/include/fuse.h 2.9.5
[code]

[2022-01-07 01:27] LuQQiu commented on #14752
https://github.com/Alluxio/alluxio/issues/12758 can be a reason for upgrading libfuse to 3.x

[2022-01-07 01:30] LuQQiu commented on #12758
Reason 1: support rename file with overwrite. #14752

[2022-01-07 02:14] lilyzhoupeijie commented on #11611
we also find this problem:
**first we found the file lost some blocks:**
/arc-eight-geekrec-train-2/2022-01-02/part-00696-a8beccce-7d2d-4aaf-99ca-473e2a226c3f-c000.tfrecord
**and I can see the errors like :**
The persist job (id=1640342667825) for file /arc-eight-geekrec-train-2/2022-01-02/part-00696-a8beccce-7d2d-4aaf-99ca-473e2a226c3f-c000.tfrecord (id=3343900475391) failed: Task execution faile

[2022-01-07 03:14] adol001 opened #14806 "Raft journal system pre-apply statemachine may cause inconsistency?"
**Alluxio Version:**
2.7.2

**Describe the bug**
If delete a file and pre-apply. But this log is rejected by most nodes in the high-availability cluster (the new leader is elected), then should this file be deleted?

In the comments of RaftJournalSystem, it is mentioned that
 * There are two cases to worry about: (1) incorrectly ignoring an entry and (2) incorrectly
 * applying an entry.
 *
 * Ent

[2022-01-07 03:16] lilyzhoupeijie opened #14807 "file lost some blocks"
**Alluxio Version:**
alluxio 2.8.0 async_through to ceph

**Describe the bug**
we also find this problem:
first we found the file lost some blocks:
/arc-eight-geekrec-train-2/2022-01-02/part-00696-a8beccce-7d2d-4aaf-99ca-473e2a226c3f-c000.tfrecord
and I can see the errors like :
The persist job (id=1640342667825) for file /arc-eight-geekrec-train-2/2022-01-02/part-00696-a8beccce-7d2d-4aaf-99ca-473

[2022-01-07 03:51] LuQQiu commented on #14807
Persist worker cannot read block from worker so the persist job failed.
Worker block is deleted for unknown reason.
Result in the block being lost in both worker and UFS.

[2022-01-07 03:54] LuQQiu commented on #14807
@lilyzhoupeijie do we have the log for this worker? is it functioning?
[code]

[2022-01-07 03:55] LuQQiu commented on #14807
@jja725 can persist lost block/file be deleted?

[2022-01-07 03:59] lilyzhoupeijie commented on #14807
worker log
zhoupeijie@bxv-opsk8smanager-02 ~ $ kubectl exec -it arc-eight-geekrec-train-2-worker-6f475644b9-s2nqb -n kf-partition bash
kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use kubectl kubectl exec [POD] -- [COMMAND] instead.
Defaulting container name to alluxio-worker.
Use 'kubectl describe pod/arc-eight-geekrec-train-2-worker-6f475644b9-s2nqb -n kf-p

[2022-01-07 04:15] LuQQiu commented on #14751
In mac, append succeed
[code]

in fuse.out with `alluxio.fuse.debug.enabled`
[code]

[2022-01-07 04:25] LuQQiu commented on #14751
but when modify a large file, it error out
[code]
cannot read while overwrite

[2022-01-07 04:36] LuQQiu commented on #14807
![15331641527936_ pic](https://user-images.githubusercontent.com/25273483/148492301-629191ca-0009-43d1-b627-56d128c4a10f.jpg)

[2022-01-07 05:41] LuQQiu opened #14808 "Add runFuseTests for testing existing Fuse mount point"
**Is your feature request related to a problem? Please describe.**
Add `runFuseTests` similar to existing `runUfsTests` to test the basic POSIX workloads against an existing Fuse mount point.
This test is added for development purposes.

**Describe the solution you'd like**
Support the following command options:
`--fuseMount`: the Fuse mount point to test against
`--operatingSystem`: Linux or MacO

[2022-01-07 05:49] LuQQiu opened #14809 "Alluxio Fuse supported POSIX workload documentation"
**Page**
Have a centralized place to give users clear information about
what Alluxio-Fuse can support or cannot support

**Summary**
What is the defect and suggested improvement

[2022-01-07 05:50] LuQQiu commented on #14806
@jenoudet @yuzhu PTAL, thanks

[2022-01-07 06:56] lynus opened #14811 "Client get stucked while writing"
**Alluxio Version:**
What version of Alluxio are you using?
2.7.2 and git tip
**Describe the bug**
A clear and concise description of what the bug is.
client always get stucked while writing files.
**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)
 ./bin/alluxio runClass alluxio.stress.cli.client.StressClientIOBench --operation write --file-size 25g --base a

[2022-01-07 06:57] lynus commented on #14811
the stucking thread dump:
Thread "bench-thread-0":
 at sun.misc.Unsafe.park(boolean, long)
 at java.util.concurrent.locks.LockSupport.parkNanos(java.lang.Object, long) (line: 215)
 at java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(long, java.util.concurrent.TimeUnit) (line: 2163)
 at alluxio.resource.DynamicResourcePool.acquire(long, java.util.concurrent.TimeUnit) (lin

[2022-01-07 06:57] lynus commented on #14811
And this is the error report from the stress benchmark:    "errors" : [ "Failed to cache: Thread interrupted while acquiring client from pool: alluxio.client.block.stream.BlockWorkerClientPool@6ec49b4" ]

[2022-01-07 08:51] lynus commented on #14811
I think I found the cause. the AlluxioFileOutputStream opens a writer resource for each block. A writer resource is held until AlluxioFileOutpurtStream closes. So when  app writing  a really big file, it would exhaustes the writer pool because during writing no resources get chances to  return to the pool.

[2022-01-07 10:06] adol001 commented on #14806
In the comments of RaftJournalSystem, it is mentioned that

 * This could happen if a server thinks it is the primary, and ignores a journal entry served from
 * the real primary. To prevent this, primaries wait for a quiet period before serving requests.
 * During this time, the previous primary will go through at least two election cycles without
 * successfully sending heartbeats to the majorit

[2022-01-07 10:19] adol001 opened #14813 "Will writing journal asynchronously result in the loss of the journal log?"
**Alluxio Version:**
2.7.2

**Describe the bug**
Many journals are written asynchronously to the related journal writer through AsyncJournalWriter. If the journal is in AsyncJournalWriter.mQueue but there is no time to flush to the journal writer before jvm hangs, will the journal be lost?

Because of pre-apply(mInodeTree.updateInode => mState.applyAndJournal), the status is changed, the journal i

[2022-01-07 11:55] bzheng888 commented on #14780
<img width="600" alt="wecom-temp-20be2e9a6bbc23ec47a6e5ed5b027183" src="https://user-images.githubusercontent.com/42070967/148540658-d59dea52-7b8e-427c-bde4-aa93b90b4270.png">
Seems hdfs' behavior is same as alluxio-fuse

[2022-01-07 18:53] apc999 commented on #14769
@uniqueni Just keep you posted: one of our core maintainers @yyongycy is working on this issue.
We want to have an improved version shortly

[2022-01-07 21:46] jenoudet commented on #14806
The Raft algorithm has built in mechanisms to revert changes on standby masters that have diverged from the quorum. See section 5.3 of [the Raft paper](https://raft.github.io/raft.pdf).

We recommend using an odd number of masters when running HA to mitigate some partition problems. With an odd number of masters you cannot get an even 50/50 partition of the network. This ensures the old master wil

[2022-01-09 18:52] LuQQiu commented on #14807
@lilyzhoupeijie
From the Logs we can see that:
job master: persist job of this task failed, timeout
job worker: Failed to read block 3343883698176 of file from worker 93, timeout
worker 93: Failed to open key: .alluxio_ufs_blocks.alluxio.0x1D91AC0E01AB0165.tmp/3343883698176, NoSuchKey

**Why we write `.alluxio_ufs_blocks.alluxio.0x1D91AC0E01AB0165.tmp/3343883698176` to UFS?**
https://github.com/Al

[2022-01-09 19:06] LuQQiu commented on #14751
In Linux, for echo "append" >> existing_file
[code]
[code]

[2022-01-09 19:08] LuQQiu commented on #14751
Relates to https://github.com/mafintosh/fuse-bindings/issues/25

[2022-01-09 19:09] LuQQiu commented on #14751
0x8401 = 33793
[code]

[2022-01-09 19:09] LuQQiu commented on #14751
Directly error out and mentioning cannot open file for appending

[2022-01-09 20:32] LuQQiu commented on #14751
whether append to non-existing file succeed.
 'a'   # Open file for appending. The file is created if it does not exist.
        #33793
        # 0b1000010000000001

[2022-01-10 03:15] jiacheliu3 opened #14820 "Better define behavior of collection-setter methods for alluxio.wire.*"
**Summary**
The `alluxio.wire.*` classes are widely used for metadata storage and transmission. Typically we only use the collection fields to hold an immutable collection and update by setting it to another collection totally. We are careful enough to copy the collection most of the times like:
https://github.com/Alluxio/alluxio/blob/f386e874764e438e9ae70bc392fb029b079deb6a/core/common/src/main/j

[2022-01-10 03:16] jiacheliu3 commented on #14820
@yuzhu @ggezer @apc999
Moving the memory related discussion here from the separated threads in my PRs.

[2022-01-10 03:20] jiacheliu3 commented on #14820
FYI, the memory implication for an empty collection is different:

For ArrayList, it's not too high because the underlying array is lazy initialized:
https://stackoverflow.com/questions/34250207/in-java-8-why-is-the-default-capacity-of-arraylist-now-zero

For HashSet/HashMap the default size is 16 AFAIK, unless it's changed in Java 11 or +.

So the saved size can vary.

[2022-01-10 03:41] lilyzhoupeijie commented on #14807
I have checked the conf,the configuration is set to alluxio.user.short.circuit.enabled=true.
Can this problem be solved by putting alluxio.user.short.circuit.enabled to false?

[2022-01-10 03:42] lilyzhoupeijie commented on #14807
We'll have a try.

[2022-01-10 06:12] JySongWithZhangCe opened #14821 "Spark write iceberg partition table error"
**Alluxio Version:**
alluxio 2.7.0 ?

**Describe the bug**
Not enough space left on worker when using spark(from 2.3 to 3.1) write iceberg partition table stored on alluxio by SORT BY statement.

**To Reproduce**
1. Create iceberg partition table stored on alluxio
2. Write data into the table by `INSERT INTO ... SELECT ... FROM ... SORT BY` Spark SQL
3. Some Spark tasks will succeed while others w

[2022-01-10 06:44] yyongycy commented on #14780
Is finalInodeFileUnderConstruction called at file creation or file close?

[2022-01-10 08:57] JySongWithZhangCe opened #14822 "alluxio.user.client.cache.store.type=ROCKS can not work"
**Alluxio Version:**
alluxio-shaded-client-2.6.2-2.jar

**Describe the bug**
alluxio.user.client.cache.store.type=ROCKS can not work.

**To Reproduce**
1. Config prestodb's hive connector with alluxio local cache:
    etc/jvm.config
    `-Dalluxio.user.client.cache.store.type=ROCKS`
    etc/catalog/hive.properties
    `cache.enabled=true`
    `cache.base-directory=file:///.../data`
   ` cache.type

[2022-01-10 10:01] flaming-archer opened #14823 "Separate ALLUXIO_MASTER_JAVA_OPTS to 2 vars, one is for master, the other is for job_master. And ALLUXIO_WORKER_JAVA_OPTS is also too."
**Is your feature request related to a problem? Please describe.**
Some var can not simultaneously exist. Such as jvm debug port and jmx_prometheus port.

**Describe the solution you'd like**
Modify deploy script.

**Describe alternatives you've considered**
hack
**Urgency**
mid
**Additional context**
none

[2022-01-10 10:55] flaming-archer commented on #14823
have ALLUXIO_JOB_MASTER_JAVA_OPTS already. I test firstly.

[2022-01-10 10:55] #14823 closed

[2022-01-10 17:59] jenoudet commented on #14813
This question is a duplicate of a question answered on Slack by @LuQQiu. Here was her answer that I agree with:
"Operation is finished and journal is written to local journal before returning success to client. so if jvm hangs, client will take a longer time to receive the operation succeed results because it needs to wait for the journal written."

[2022-01-10 17:59] #14813 closed

[2022-01-10 20:16] jja725 commented on #14807
Seems like we have some findings and the issue is more related to UfsFallbackLocalFileDataWriter.

[2022-01-11 01:38] LuQQiu commented on #14807
@lilyzhoupeijie did you find logs like
[code]
to see if writing UFS block failed?

[2022-01-11 02:16] jenoudet commented on #14746
@jiacheliu3 After reviewing our HA Raft code I did not find anywhere that is susceptible to leak memory.

[2022-01-11 03:00] lilyzhoupeijie commented on #14807
I can't find logs like Failed to switch to writing block
<img width="1419" alt="图片" src="https://user-images.githubusercontent.com/24890599/148873735-d617c93c-e15f-47d4-a7e2-5025334f9532.png">

[2022-01-11 03:04] liugs0213 opened #14824 "persistence blacklist will persist to ceph"
**Alluxio Version:**
alluxio 2.8.0

**Describe the bug**
We set this parameter alluxio.master.persistence.blacklist=.staging,_temporary,.tmp
However, the files in this directory are still synchronized to ceph
![image](https://user-images.githubusercontent.com/55676558/148874179-44c808cf-cd9c-43a2-ad6d-a90996d8d3fc.png)
![image](https://user-images.githubusercontent.com/55676558/148873559-f8063690-

[2022-01-11 04:20] yuyang733 opened #14826 "The JournalSinkTest Module in Unit Tests fails occasionally"
**Alluxio Version:**
Alluxio 2.4.1 +

**Describe the bug**
The `replayEvents` case in `JournalSinkTest` fails occasionally due to the masterEntries and restartEntries inconsistent.

![WechatIMG14](https://user-images.githubusercontent.com/4209464/148880199-89d4e3fc-fd8a-438b-9b5c-c4d8afbe5fc1.jpeg)

**To Reproduce**

There is currently no means to reproduce stable. Try to increase the number of te

[2022-01-11 06:56] adol001 commented on #14806
"Safety: the key safety property for Raft is the State
Machine Safety Property in Figure 3: if any server
has applied a particular log entry to its state machine,
then no other server may apply a different command
for the same log index. "

Yes. pre-apply violates the above principles

The normal practice is to commit log first and then apply log. But in alluxio it becomes apply log first and then

[2022-01-11 11:08] xichen01 opened #14835 "Confused isSet() and isSetByUser()"
**Alluxio Version:**
2.7.2

**Describe the bug**

There are a lot of codes that use `isSet()` to determine whether the key is set, but according to the code context, it may be more accurate to use `isSetByUser()`

`isSetByUser()` can accurately determine whether the key is set by the user, regardless of whether the `key` has a default value.
 if the `key` has a default value, `isSet()` will not be

[2022-01-11 13:44] bzheng888 commented on #14780
@yyongycy From the code it looks like this.

[2022-01-11 14:22] qian0817 commented on #14806
I think it's the same problem as #14626. But do you have any possible ideas to solve this problem? @adol001

[2022-01-11 15:45] yuzhu commented on #14806
@ggezer FYI

[2022-01-11 19:35] apc999 commented on #14826
@yuyang733  we will track this flaky test and try to fix it.
do you encounter any failed runs in our Github CI ?

[2022-01-11 19:38] apc999 commented on #14822
@JySongWithZhangCe local cache with Rocks is experimental -- I think I have seen this issue before.
Tag @beinan here to track this

[2022-01-11 19:42] apc999 commented on #14807
we are removing UFS fallback : https://github.com/Alluxio/alluxio/pull/13910
this feature is not working properly over iterations and we will not support it in the future

[2022-01-11 19:44] LuQQiu commented on #14807
@lilyzhoupeijie did you open this propertykey, this is the property key controlling opening of ufs fallback
[code]

[2022-01-11 19:44] LuQQiu commented on #14807
alluxio.user.file.ufs.tier.enabled

[2022-01-11 20:15] yuzhu commented on #14824
@liugs0213 persistence blacklist is only used if async persist is used. Could you confirm that async persist is the write mode?

[2022-01-11 20:16] yuzhu commented on #14811
@jiacheliu3 have you encountered this writer pool issue before?

[2022-01-11 21:42] apc999 commented on #14835
`isSet(key)` is typically used before `conf.get(key)` to avoid the case a property key has no default value set.
that's the expected use case.
I left some comments in https://github.com/Alluxio/alluxio/pull/14833

[2022-01-11 23:50] yuzhu commented on #14806
@adol001 thanks for the detailed report. We used asyncJournalWriter to write batched journals because hdfs based journal would offer unbearable performance if the entries are written synchronously.  For Raft-based implementations, that requirement might not be true anymore, and we may be sacrificing safety unnecessarily here.
do you think a synchronous journal writer is even an option if some user

[2022-01-12 00:09] ggezer commented on #14626
With regards to metadata consistency; how is this different from just adding a file in UFS and saying Alluxio's metadata is not in sync? Alluxio does not own storage content and can't retain the metadata in sync when there are abnormal crashes in between.

[2022-01-12 03:02] adol001 commented on #14806
The core of the problem is that apply log to statemachine precedes the commit log. (preapply)

This will cause:
1 The client to get inconsistent results after the master is restarted or a new master is created.
For example, /h11/yyds21 is deleted in statemachine, but the delete log is not committed successfully. In this time window, the client requests /h11/yyds21, and /h11/yyds21 does not exist.

[2022-01-12 03:30] JySongWithZhangCe commented on #14822
I have found how to fix this issue, and I will submit a PR.

[2022-01-12 07:25] LuQQiu opened #14838 "Fuse doesn't use linux/mac user to read/write"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
Fuse doesn't use linux/mac user to read/write
To be tested

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to f

[2022-01-12 07:29] LuQQiu commented on #14838
From community user:
访问fuse路径下面的东西，都会使用你启动fuse的用户身份，而不是你的linux用户，如果在本地访问fuse的用户都是fuse的启动用户还好，但是我本地是允许所有用户访问的，这样会造成歧义，比如一个非启动fuse进程的用户他其实没有权限访问fuse下面的某个文件，但是启动fuse的用户有权限，那么他是可以访问到这个文件的

alluxio.fuse.user.group.translation.enabled 没用的，设置这个只是文件显示能看到所属不同的用户，不设这个看到所有文件的用户都是启动用户，但是真正判断你是否可以读的，还是用fuse的启动用户，无论你在本地用哪个用户访问

[2022-01-12 07:47] qian0817 commented on #14626
It is reasonable to assume that directly modify the UFS will result in inconsistent metadata. But if the metadata always modify via aluxio, we expect that the metadata in aluxio can always be consistent with the UFS.

[2022-01-12 10:13] jiacheliu3 commented on #14811
Yes this is a potential improvement tracked here https://github.com/Alluxio/alluxio/issues/14798

Good job figuring this out! You can tune up `alluxio.user.block.worker.client.pool.max` to get around this, essentially by increasing the concurrency limit.

@beinan This blocking behavior when writing large files (with concurrency lower than 1024) is an issue, because `alluxio.user.block.worker.clien

[2022-01-12 14:39] liugs0213 commented on #14824
@yuzhu Yes, we cluster the default settings alluxio.user.file.writetype.default=ASYNC_THROUGH
![image](https://user-images.githubusercontent.com/55676558/149161139-68f12b5c-c7c0-4f63-9241-b5255e710df9.png)

[2022-01-12 18:19] ggezer commented on #14626
That's correct, but granted that UFS is disconnected to Alluxio, metadata can't be guaranteed to be in sync when abrupt crashes happen. There are ways we could detect and patch such gaps, but that would be costly in terms of runtime performance. (Like appending a special entry before and after each op to simulate transactional semantics.)

[2022-01-12 19:30] LuQQiu commented on #14838
Alluxio uses https://github.com/Alluxio/alluxio/blob/master/core/common/src/main/java/alluxio/security/authentication/AuthenticatedClientUser.java
to get the gRPC user group (who issues the gRPC call).
This is correct when client connects to master using gRPC but it's not correct in Fuse case.
In Fuse case, client will always be the client who launches Fuse application instead of the linux user wh

[2022-01-12 19:30] LuQQiu commented on #14838
@yyongycy FYI, this will need a more thorough discussion

[2022-01-13 03:06] yyongycy commented on #14838
That is right. Is there any specific requirement? And what is the expectation?
In general, the posix is using the user of linux/mac users, that is not aligned with any network user.

[2022-01-13 03:26] LuQQiu commented on #14838
The expectation is that Fuse performs similar to Alluxio client.
If user A can read/write to Alluxio through Alluxio shell, then it can read/write to Alluxio through Fuse. If A cannot read/write to Alluxio through Alluxio shell, then it cannot read/write to Alluxio through Fuse.

[2022-01-13 08:43] LuQQiu commented on #14768
deal with the logic from @yyongycy
open and truncate if file exists, or create and truncate if file not exists.

[2022-01-13 12:07] Nizifan opened #14843 "Fluid DataLoader is extremely slow, take 5~20h on the same 300Gi dataset"
**Alluxio Version:**
2.7.0

**Describe the bug**
I am going to open fluid DataLoader feature to user and when doing test, and I find performance is extremely bad.
I create 2 instance of Alluxio runtime on the same s3 ufs, and create DataLoader without "fetch metadata" option on.

The 300Gi dataset mainly consist of small pictures, mainly size around 100k so there will be 3 million files in the dat

[2022-01-13 12:12] Nizifan opened #14844 "Alluxio master memory is very high, serving 2T data, and stop world gc for several times"
**Alluxio Version:**
2.7

**Describe the bug**
when serving user with 2T dataset on s3, memory keep at high level, from 37G ~ 63G(limit 64G), the memory go up in 1 hour and then stop world gc happen, cause availability issue.
user dataset is around 2T and consist picture of ~100k, user will iterating reading the picture in parallel.

a typical gc:
![image](https://user-images.githubusercontent.com

[2022-01-13 18:42] jenoudet commented on #14806
A synchronous journal writer has some pros and cons. Here are some that spring to mind.
Pros:
* Easier to reason about.
* Safer when reading and writing to / from UFS.

Cons:
*  Slower than an asynchronous writer (as it will be as slow as the UFS and the network combined).
* More journaling options brings more complexity and difficulty in maintaining the journaling system.

[2022-01-13 20:58] HelloHorizon commented on #14821
@JySongWithZhangCe which version of Iceberg are you using?

[2022-01-13 21:52] LuQQiu commented on #14844
More than 20 million files for this dataset. @Nizifan can you give some information about the file tree structure? like how many levels of directories are in this dataset, how many files are in each directory? no need to be precise, but used to get a rough idea.

The other behavior mentioned by @Nizifan ,
Case 1: When the application get file status through local storage instead of AlluxioFuse, an

[2022-01-13 22:07] LuQQiu commented on #14843
@ssz1997 can you take a look to see
1. whether we can reproduce the behavior
2. is Fluid data load using distributedLoad?
3. are there low-hanging fruit? mainly in terms of configuration. I can help with this part. There could be some job service configuration and thread pool (including s3 thread pool) we can tune to see if we can improve the performance
4. are there more improvements we can do? h

[2022-01-13 22:08] LuQQiu commented on #14844
@yuzhu FYI

[2022-01-13 22:34] #14740 closed

[2022-01-13 22:37] LuQQiu opened #14845 "Fuse how to handle concurrent open() create()"
**Is your feature request related to a problem? Please describe.**
A file may be reading or writing with multiple open(), create() concurrently.
Alluxio cannot support reading while writing.
Alluxio cannot support double writing.
Deal with those cases, error out if needed and gives clear information.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2022-01-13 23:35] ggezer commented on #14844
64GB of heap for ~20M files might not be sufficient. Did you try off-heap metadata store? https://docs.alluxio.io/ee/user/stable/en/operation/Metastore.html#rocksdb-metastore

Could you also share your master configuration?

[2022-01-14 01:28] apc999 commented on #14844
@ggezer  this is using Fluid and by default Rocksdb is used

[2022-01-14 01:31] apc999 commented on #14844
@Nizifan we have a working group to solve master memory issues these days. Hopefully we will get a new release with this issue mitigated or fixed shortly

[2022-01-14 02:02] JySongWithZhangCe commented on #14821
0.12.0

[2022-01-14 02:05] ZhuTopher commented on #13137
Community PR adding a proxy service template to the Helm chart: #14759

[2022-01-14 02:25] bzheng888 opened #14847 "Write data causes master crash and can't restart."
**Alluxio Version:**
2.7

**Describe the bug**
Write data(maybe include read, delete operation) to Alluxio cluster and the Alluxio master will crush.
The master crush log:
![image](https://user-images.githubusercontent.com/42070967/149337707-bc6e4eef-a0d5-4c72-84fb-3b4d7f1fa9a4.png)

**To Reproduce**
1. Create a Alluxio cluster with one Master and three workers.
2. Our Impala will write data to Al

[2022-01-14 02:58] jiacheliu3 commented on #14844
When your JVM is seeing memory challenge, can you do `jmap -histo <master pid>` several times to see what are the top used objects? If you can run `jmap -histo:live <master pid>` to see the living objects that's even better. But do note that `:live` will perform a GC, which may cause your JVM to pause.

[2022-01-14 09:03] adol001 commented on #14806
Code from hdfs
[code]

This step can be roughly divided into three steps

1. delete in inode tree
2. log
3. delete blocks

Because the blocks are deleted at the end, even if the namenode commit the deletion log unsuccessfully, it can be recovered finally.

[code]
Because of the widespread use of hdfs, I think customers should be able to accept case 1

The current alluxio delete steps are

1. delet

[2022-01-14 09:54] qian0817 commented on #14626
I agree, I think making UFS and Alluxio metadata operations atomic is really a hard problem to deal with.

[2022-01-14 21:21] uniqueZt commented on #14102
i also encouter the problem，have we any progress here？

[2022-01-14 21:28] yuzhu commented on #14102
@uniqueZt could you add some more detailed steps to reproduce this? thanks.  we will reopen the issue when that is received.

[2022-01-15 02:40] kevincai opened #14851 "Master block integration check causes consistent inodeCache eviction"
**Alluxio Version:**
v270

**Describe the bug**
Block integration check iterates all inodes and check its blocks, when use ROCKS metastore with heap cache enabled, the iteraction check causes consistent heap cache invalidate and eviction

**To Reproduce**
[code]

![image](https://user-images.githubusercontent.com/771299/149605856-55de4264-7f9c-487d-9dd9-e4bdc403b87a.png)

**Expected behavior**

Ba

[2022-01-15 06:06] apc999 commented on #14283
@yyongycy @ZhuTopher  do you see if this is possibly same issue as https://github.com/Alluxio/alluxio/issues/14243 and already fixed by https://github.com/Alluxio/alluxio/pull/14248 ?
@j-buczak do you see this happen with latest (2.7.2) Alluxio docker image?

[2022-01-15 06:08] #14283 closed

[2022-01-15 16:42] yuzhu commented on #14851
@kevincai Thanks for the informative issue post.

@jiacheliu3 I think this might help with some of the heap usage issue you are looking into. We can add this to the list of possible optimizations.

[2022-01-16 11:38] maobaolong opened #14853 "Support customize an uri translator"
**Is your feature request related to a problem? Please describe.**

We can config MASTER_URI_TRANSLATOR_IMPL to a customized implementation which can translate the uri to a alluxio uri. For example:

- If we access /alluxio1, we can hash & mode and redirect this to /alluxio1.subdir1 or /alluxio1.subdir2.
- If we access /alluxio1, we can redirect this to /alluxio1.subdir1 or /alluxio1.subdir2 which

[2022-01-16 21:47] LuQQiu opened #14854 "Support rename while writing"
**Alluxio Version:**
Master

**Describe the bug**
Workflow:
- Fuse.create(oldPath) or Fuse.open(oldPath) for write/overwrite
- Fuse.write(oldPath)
- Fuse.rename(oldPath, newPath)
- Fuse.release(newPath)

**To Reproduce**
Filebench with composite workload
[code]
Detailed logs
[code]

**Expected behavior**
No error thrown
**Urgency**
Describe the impact and urgency of the bug.

**Are you planning to

[2022-01-17 01:04] LuQQiu commented on #14838
Alluxio client-side impersonation may help solve the issue
https://www.alluxio.io/blog/alluxio-developer-tip-why-am-i-seeing-the-error-user-yarn-is-not-configured-for-any-impersonation-impersonationuser-foo/

[2022-01-17 01:50] LuQQiu commented on #14838
Hadoop impersonation may not fit Fuse case.
Hadoop impersonation is
one Haodoop client -> one Hadoop filesystem -> one Alluxio client -> one Alluxio filesystem
while in fuse
we use one Alluxio filesystem but with unknown amount of Fuse users.
It's not easy to use the existing hadoop impersonation.

[2022-01-17 03:24] apc999 commented on #14835
Fixed by https://github.com/Alluxio/alluxio/pull/14833.
Feel free to submit follow up PRs to clean up the codebase

[2022-01-17 03:24] #14835 closed

[2022-01-17 08:00] LuQQiu commented on #14853
@apc999 @madanadit PTAL this feature request and @maobaolong  has created a PR for it

[2022-01-17 09:42] lilyzhoupeijie commented on #14824
@liugs0213  try to check which spark FileOutputCommitter we are using now after spark update to 3.2.x, and check if this logic has executed ?
![图片](https://user-images.githubusercontent.com/24890599/149745486-02f68309-f704-41d1-add6-32e484dbaac3.png)

try to print some logs before the method shouldPersistPath and print the path

[2022-01-17 10:07] lilyzhoupeijie commented on #14807
now I'm not sure why the file has completed but still exists one block lost
logs:
file /arc-eight-geekrec-train-2/2022-01-11/part-01219-4bc1615d-1289-484e-a437-fd2be11d6ba7-c000.tfrecord has one block lost.
"fs stat " we can see:
2022-01-17 02:15:38,718 INFO  MetricsSystem - Starting sinks with config: {}.
2022-01-17 02:15:38,723 INFO  MetricsHeartbeatContext - Created metrics heartbeat with ID ap

[2022-01-17 10:10] lilyzhoupeijie commented on #14807
I am not sure the file is error during writting or the file  block is deleted after writting successly. And I can't find more logs.

[2022-01-17 12:04] liugs0213 commented on #14824
All right, I'll get it tested

[2022-01-17 16:49] yuzhu commented on #11490
@ggezer is this still a potential issue? I don't think it has been fully addressed by the linked issue and PR?

[2022-01-17 18:23] apc999 commented on #10365
@ChernikovP this is due to a noisy logging message in Alluxio hadoop compatible client.
Fixed in https://github.com/Alluxio/alluxio/pull/14857 by @ljl1988com

[2022-01-17 18:23] #10365 closed

[2022-01-18 01:10] yuzhu opened #14859 "Security.md"
**Page**
Create a document telling people how to report security issues to Alluxio

**Summary**
What is the defect and suggested improvement

[2022-01-18 01:37] madanadit commented on #14853
Hi @maobaolong. Thx for creating the issue and the PR.

I'm unable to follow the description; a few clarifying questions:
1. is `/alluxio1` a path in the Alluxio FS namespace?
2. what is the goal of the redirection, is it load balancing? i'm not sure what is the resource that is "busy": master or worker or under storage node

Thank you

[2022-01-18 02:48] LuQQiu commented on #14807
Also could be some bugs from read, it expects an alluxio_ufs_blocks (Ufs fallback block) exists, but we didn't even write one

[2022-01-18 08:54] LuQQiu commented on #14845
https://github.com/Alluxio/alluxio/pull/14846

[2022-01-18 10:46] gjhkael opened #14866 "hdfs under filesystem not support impersonate"
Now, alluxio request hdfs is use the user that login from kerberos, it will leads to HDFS permission leak for alluxio aways use super user to access hdfs. So if hdfs under filesystem support impersonate, it seems solve the problem。

[2022-01-18 10:47] gjhkael opened #14867 "hdfs under filesystem not support impersonate"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ur

[2022-01-18 18:41] David-N-Perkins opened #14868 "Bump google gson to 2.8.9 due to detected vulnerability"
**Alluxio Version:**
latest/master

**Describe the bug**
Bump google gson to 2.8.9 due to vulnerability. See GSON issue [1991](https://github.com/google/gson/pull/1991)

**Urgency**
High. Results in a DOS.

**Are you planning to fix it**
no

[2022-01-18 19:38] apc999 commented on #14867
@gjhkael  can you provide more details of this ticket?
also will this blog help? https://www.alluxio.io/blog/alluxio-developer-tip-why-am-i-seeing-the-error-user-yarn-is-not-configured-for-any-impersonation-impersonationuser-foo/

[2022-01-18 19:39] apc999 commented on #14866
duplicate of https://github.com/Alluxio/alluxio/issues/14867

[2022-01-18 19:39] #14866 closed

[2022-01-18 19:43] apc999 commented on #10915
@ggezer has this been fixed?

[2022-01-18 19:48] apc999 commented on #11157
@jiacheliu3 @dbw9580 , do you still see this happen?

[2022-01-18 19:51] apc999 commented on #11154
@ggezer do you still need this feature? If yes, can you put in more details to help community contributor to grab this ticket

[2022-01-18 19:55] apc999 commented on #11153
We have been working on improving the performance of reading small files.
See the latest whitepaper based on 2.7 release:
https://www.alluxio.io/resources/whitepapers/alluxio-for-machine-learning-deep-learning-in-the-cloud/

A related investigation effort: https://github.com/Alluxio/alluxio/issues/14028

[2022-01-18 19:55] #11153 closed

[2022-01-18 19:57] apc999 commented on #11152
MiniBenchmark is deprecated. With Alluxio release 2.7 or later,
you can use stressbench to test
https://docs.alluxio.io/os/user/stable/en/operation/StressBench.html#client-io-stress-bench

[2022-01-18 19:57] #11152 closed

[2022-01-18 19:59] apc999 commented on #11147
Having a standalone external cluster running (not for testing), the test will fail

[2022-01-18 20:04] apc999 commented on #11145
there is complication w.r.t. using journal as source of truth or use mount table (like fstab) as source of truth to manage mount points. I don't see a clear way there

[2022-01-18 20:08] apc999 commented on #11104
this feature is working in progress now led by @jja725

[2022-01-18 20:09] apc999 commented on #11087
@LuQQiu  is this bug still relevant? If not, let's close it

[2022-01-18 20:09] apc999 commented on #11084
@yyongycy  can you check if these CVEs are fixed or we need to update it?

[2022-01-18 20:14] apc999 commented on #11074
thanks @kaifeng-h  ,
dependencies in `underfs/wasb` shall be shaded and class-loaded by different classloader to avoid class conflict.
And we are removing `integration/yarn` module now.

Thanks for the report! It is quite useful

[2022-01-18 20:14] #11074 closed

[2022-01-18 22:15] LuQQiu commented on #11087
TODO(lu) see if this problem still exist

[2022-01-18 23:22] #14768 closed

[2022-01-19 01:16] yuzhu commented on #14820
Before the above discussion, I think it is useful to discuss the utility of alluxio.wire.* classes now that many alluxio.grpc.* proto classes are identical and merely copies of each other.   Can proto classes replace some wire classes now?

 @ggezer @apc999

[2022-01-19 02:08] yyongycy commented on #11084
@CleWang Could you please share what tool you had used to scan?
I think the yarn related has been removed from alluxio.

[2022-01-19 02:09] ddadaal commented on #11084
integration/yarn is going to be removed in #14860

[2022-01-19 02:18] yyongycy commented on #11084
Thanks for the effort. So I think this can be closed at this time.

[2022-01-19 04:04] gjhkael commented on #14867
@apc999 Thanks for you answer, with the blog's guide, we can pass the ugi's user from hadoop client to alluxio server successful. But alluxio server is aways use the user that configure by the property(alluxio.master.principal) to access the under filesystem hdfs and the principal must super user of hdfs. Now, alluxio server can get the real user from hadoop client, we can pass it to hdfs with som

[2022-01-19 06:32] dbw9580 commented on #11157
Not if we disable impala file handle cache: set `max_cache_file_handles` to 0. Things could be improved from Impala side, that if an Alluxio URI is spotted, disable file handle cache automatically.

[2022-01-19 07:33] cheyang opened #14874 "Can alluxio mount oss bucket directly?"
**Alluxio Version:**
What version of Alluxio are you using?

2.7.3-SNAPSHOT

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

I tried to mount oss bucket `test` to alluxio file system, and run `ls`. There are no files

[code]

Instead  I tried with the directory `oss://test/tfrecords

[2022-01-19 09:13] uniqueni commented on #14769
thank you ,I will scan this mirror again

[2022-01-19 10:18] lynus opened #14875 "Set alluxio.user.block.write.location.policy.class to round robin policy does not work"
**Alluxio Version:**
2.7.2

**Describe the bug**
Accroding to javadoc describing round robin policy[1] , "A policy that chooses the worker for the next block in a round-robin manner and skips workers that do not have enough space", the out stream would choose a available work and continue to write.
But the outStream still fails on out of space exception.
**To Reproduce**
1.Setup a cluste with 4 wo

[2022-01-19 18:45] LuQQiu commented on #14843
Find worker metrics, Worker issues `CommitBlock` requests to Master and takes `count * mean = 64h` total
[code]
Code link: [https://github.com/Alluxio/alluxio/blob/4c8b555920da6a844f3f30cc70493b563178518d/core/server/worker/src/main/java/alluxio/worker/block/BlockMasterClient.java#L105](https://github.com/Alluxio/alluxio/blob/4c8b555920da6a844f3f30cc70493b563178518d/core/server/worker/src/main/jav

[2022-01-19 18:48] LuQQiu commented on #14843
[code]

[2022-01-19 19:45] LuQQiu commented on #14843
Master memory setting is 64GB, worker memory setting is 32GB,
not quite sure what's the allocated CPU for master and worker.
Threads may be competing for CPU resources

[2022-01-19 21:10] HelloHorizon commented on #11208
Hey @ChethanUK , from my understanding that both of them support hdfs client, is there any specific requirement for you to integrate with Alluxio?

[2022-01-19 21:48] beinan commented on #14822
rerun the test.
I didn't see this error before, I'm thinking I might have rocksdb jar somewhere in the dependency tree somewhere.  Let me double check.

[2022-01-20 01:03] beinan opened #14878 "Local cache failed when presto hit a deleted file"
**Alluxio Version:**
2.6.2

**Describe the bug**
As our local cache user reported

Query failed (#20220113_203113_45777_56wnk): Error reading from s3a://s3_bucket_name/s3_prefix_name/file1 at position 73630731 java.lang.RuntimeException: com.amazonaws.services.s3.model.AmazonS3Exception: The specified key does not exist.
While the error said it cannot read from file1, in the backend the file1 alre

[2022-01-20 03:27] jiacheliu3 commented on #14847
We expect https://github.com/Alluxio/alluxio/pull/14856 to fix the rocksDB crash issue for you. If possible, please try to upgrade to a version with that change and try.

FYI @maobaolong

[2022-01-20 04:12] xichen01 opened #14879 "isSetByUser() returns inaccurate results"
**Alluxio Version:**
the current master branch

**Describe the bug**
`isSetByUser()` Cannot accurately determine whether the setting is specified by the user

The picture below is the worker process, in the first picture `isSetByUser(PropertyKey.UNDERFS_VERSION)` returns `false`, but in the second picture `isSetByUser(PropertyKey.UNDERFS_VERSION)` returns `true` (I did not manually specify the val

[2022-01-20 12:45] akshaychougule5607 opened #14882 "Not able to create file using JAVA client"
**Alluxio Version:**
alluxio:2.7.2

**Describe the bug**
Deployed alluxio singlemaster-localjournal through Kubernetes (kubectl) by enabling short-circuit (Use uuid (default)) option.

We are able to create buckets/objects through REST API by enabling the proxy service on port 39999 (eg. curl -i -X PUT http://localhost:39999/api/v1/s3/testbucket)

We need to create bucket without enabling proxy so

[2022-01-21 02:33] cheyang commented on #14874
ping @apc999

[2022-01-21 03:37] DirkJia opened #14886 "alluxio.exception.FileIncompleteException occured when datax export data from alluxio to clickhouse"
**Alluxio Version:**
2.3.0

**Describe the bug**
occur this issue when datax export data from alluxio to clickhouse
[code]
then i found this file in alluxio like this
![image](https://user-images.githubusercontent.com/20877552/150458758-af88068e-5073-41f7-9a34-7d07de9fb388.png)
next i found this file in ufs (minio) ,file is completeed ,and cat this file
![image](https://user-images.githubuserconte

[2022-01-21 08:31] JySongWithZhangCe commented on #14875
Default write type in Alluxio 2.7.2 is `ASYNC_THROUGH`, this type requires all blocks under the same file should write to the one single Alluxio Worker. Your file is 8 GB over 4 GB. You can set `alluxio.user.file.writetype.default=CACHE_THROUGH` to solve your problem.

[2022-01-21 09:35] wukong1992 opened #14888 "install alluxio fuse error"
**Alluxio Version:**
2.7.2

**Describe the bug**
Exception in thread "main" java.lang.RuntimeException: Invalid property key ALLUXIO_HUB_AGENT_RPC_HOSTNAME
	at alluxio.conf.InstancedConfiguration.lookupRecursively(InstancedConfiguration.java:454)
	at alluxio.conf.InstancedConfiguration.lookup(InstancedConfiguration.java:427)
	at alluxio.conf.InstancedConfiguration.isResolvable(InstancedConfigurati

[2022-01-21 11:46] julienlau commented on #14613
Any chance you could you share the benchmark results ?

Please be aware that 503 can appear at any point before the advertised limits of 3500qps.
The advertised limits can only be reached only if the loads is progressively increased as explained in the link below:
https://aws.amazon.com/premiumsupport/knowledge-center/http-5xx-errors-s3/

[2022-01-21 14:04] yuzhu commented on #14806
Thanks for the detailed explanation.

The new order has similar issue.
You mentioned that

But this situation could just as easily happen in the new order. As soon as 1 is complete, other clients can observe the file deletion. 2 and 3 can fail and the file will reappear again.  What is perhaps better in this case is since we still have the file in ufs, so we can still read the file.

However, if f

[2022-01-21 17:21] yuzhu opened #14890 "Log rotation for *.out"
**Is your feature request related to a problem? Please describe.**

Log4j handles log rotation for *.log files, but *.out files from Alluxio are not rotated.

**Describe the solution you'd like**
Use something like multilog or apache rotatelogs to enable log rotation for *.out files.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or featur

[2022-01-21 18:36] #14868 closed

[2022-01-21 23:51] apc999 commented on #14888
@wukong1992 what command did you run? it looks like `statfs` in our FUSE Stub is not supported currently. Curious to see how you triggered this call

[2022-01-21 23:53] apc999 commented on #14882
@akshaychougule5607  do you have an Alluxio master running at host ip-XXXXXX.us-west-2.compute.internal and port 19998? it looks the client failed to connect to the master

[2022-01-22 00:14] beinan commented on #14461
Hi @qian0817, are you still seeing this error?  I got the exactly same issue on wsl2.
I think the cmds below might help
[code]
after doing so, you might see some failure on node-sass, then do a mvn clean install or delete the node-modules manually would help.
[code]

Some other hints of building alluxio on wsl2 in case other wsl users might see this issue also.
1. put alluxio project on wsl's file

[2022-01-22 13:26] maobaolong commented on #14888
@apc999 we support statfs now, will contribute it these day

[2022-01-23 08:18] liuyongqing opened #14895 "alluxio fuse delete file unexpectedly in open function"
**Alluxio Version:**
2.7.2

**Describe the bug**
alluxio fuse  not correctly deal with open flags O_RDONLY、O_WRONLY、O_RDWR，which will delete file unexpectely.

**To Reproduce**
the below code open file with O_WRONLY, which will not delete exist file in linux，however in alluxio fuse, it will delete the file,
we should delete the file only if user specify O_TRUNC flag.

#include <unistd.h>
#include

[2022-01-23 08:20] liuyongqing commented on #14895
@LuQQiu

[2022-01-23 09:41] liuyongqing commented on #14895
@LuQQiu ,the fixed pr is https://github.com/Alluxio/alluxio/pull/14897

[2022-01-24 03:03] xichen01 commented on #14412
@jiacheliu3 I also encountered this problem and submitted a PR  https://github.com/Alluxio/alluxio/pull/14088 to solve this problem

[2022-01-24 03:32] lynus commented on #14875
Thanks for your reply.

[2022-01-24 03:32] #14875 closed

[2022-01-24 03:38] adol001 commented on #14806
If all operations go through alluxio, the metadata should be based on alluxio. It should not load the missing metadata from ufs when alluxio restarts or re-selects the master. Synchronization with ufs should only exist at the beginning of mount(when all operations go through alluxio), or Afterwards the user manually synchronizes and handles or accepts possible conflicts

If all operations go throu

[2022-01-24 09:15] wukong1992 opened #14903 "About menchmark doc"
**Page**
[stressbench](https://docs.alluxio.io/os/user/stable/en/operation/StressBench.html)

**Summary**
what's the difference of the FuseIOBench, RpcBench, StressClientBench, StressMasterBench, StressWorkerBench, UfsIOBench. I know all the components of alluxio, and read the benchmark doc, but cann't understant these bench's difference. Especially: RpcBench, StressClientBench, StressMasterBench,

[2022-01-24 09:52] duduhandelman commented on #14739
That's very interesting I was unable to find the answer but I will add more details.
Using "bmon -i proc" shows that network bandwidth usage is the same( Using cat or Alluxio cat ).
If you will read the file using "pv" you will get similar results.
Please use starce and you will see the read size and I assume that in "cat" it will be smaller.

[2022-01-24 19:43] #14847 closed

[2022-01-24 19:44] apc999 commented on #14300
this issue shall be fixed by https://github.com/Alluxio/alluxio/pull/14856/

[2022-01-24 19:44] #14300 closed

[2022-01-24 19:46] apc999 commented on #13382
Update: this issue shall be fully fixed by #14856

[2022-01-24 19:47] LuQQiu commented on #14895
@liuyongqing
Alluxio internally does not support file overwriting or file appending.
I tested the script, looks like
1. when test.txt already exist
2. the script will open with flag `0x8001` write only
3. Alluxio will delete the existing file and create a new one, write the content
4. [alluxio@ProcessLocalRead-worker-0 alluxio-standalone-fuse-read]$ cat test.txt
Linux Programmer!
[code]
Linux syst

[2022-01-24 19:48] LuQQiu commented on #14895
@liuyongqing what's the fuse behavior you want? error out directly when the file exists and open with `Write` flag?

[2022-01-24 20:10] LuQQiu commented on #14740
https://github.com/warrenfalk/fuselaj/blob/master/src/warrenfalk/fuselaj/FileInfo.java
some good references

[2022-01-24 23:09] ZhuTopher commented on #14613
@dbw9580 I don't suppose you still have those test results? Otherwise I'll post some once we get around to this again.

[2022-01-24 23:50] LuQQiu commented on #14807
@lilyzhoupeijie I relooked into the logs and codes, and have the following assumption
1. File is successfully written to Alluxio storage, so completeFile succeed, all blocks written successfully to worker storage.
2. The file is persisted to UFS asynchronously.
3. When the file is persisting, worker deleted the block
4. When the file is persisting one specific block, the block is already deleted b

[2022-01-24 23:54] LuQQiu commented on #14807
@lilyzhoupeijie Can you help open the debug logging or just open the following debug logging, and see if you can find the following logs
[DefaultBlockMaster.processWorkerRemovedBlocks](https://github.com/Alluxio/alluxio/blob/afe74e0a5489eac0fad1e78ce5b52b1a7b2a9754/core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java#L1257)
[AsyncBlockRemover](https://github.com/Alluxio/al

[2022-01-25 00:46] yuzhu commented on #14807
@LuQQiu https://github.com/Alluxio/alluxio/blob/2410237a6c6839f0ce9ae067f2e028d419658d4f/core/server/master/src/main/java/alluxio/master/file/DefaultFileSystemMaster.java#L2760  i thought TO_BE_PERSISTED files are considered pinned.

[2022-01-25 00:50] #10432 closed

[2022-01-25 02:40] dbw9580 commented on #14613
No, the results are from the compaction benchmark, which just show a lot of job failures. Nothing helpful on this issue.

[2022-01-25 02:42] jiacheliu3 commented on #14807
I don't know the context of this issue. This is only on how a block can be evicted.

@LuQQiu If everything works as designed, TO_BE_PERSISTED files will be included in the pinned file list so the worker will not evict  those blocks
https://github.com/Alluxio/alluxio/blob/afe74e0a5489eac0fad1e78ce5b52b1a7b2a9754/core/server/worker/src/main/java/alluxio/worker/block/BlockMetadataEvictorView.java#L13

[2022-01-25 03:08] rongrong commented on #14797
@jiacheliu3 Seems like the preferred behavior for this is still up for discussion? I don't think I can contribute much in this decision, but happy to implement anything that people find desirable.

[2022-01-25 03:16] lilyzhoupeijie commented on #14807
A few days ago, we tried to open the debug log, but the earliest log will be erased.

the lost files happen with write_type:ASYNC_THROUGH(we tried MUST_CACHE a few days ago,it also has lost files.)
[root@bzzp-coarse-sample-master-0 alluxio-2.8.0-SNAPSHOT]# alluxio  getConf |grep ASYNC_THROUGH
alluxio.user.file.writetype.default=ASYNC_THROUGH

all directories and files are pinned.

and I can see th

[2022-01-25 03:21] lilyzhoupeijie commented on #14807
I'll change these log to info,and try.

[2022-01-25 03:32] #11203 closed

[2022-01-25 06:01] yyongycy commented on #11084
Close this one since the related integration/yarn is removed.

[2022-01-25 06:01] #11084 closed

[2022-01-25 06:03] yyongycy commented on #14769
We had merged related fix into 2.8. please help rescan.

[2022-01-25 08:32] akshaychougule5607 commented on #14882
Its resolved now as Alluxio master is running at this host but port (3XXXX) was different so used conf.set(PropertyKey.MASTER_RPC_PORT, "3XXXX"); in java client.

[2022-01-25 09:23] xichen01 opened #14908 "About admin User type"
**Is your feature request related to a problem? Please describe.**
Any user who knows the Alluxio Master address and can access the Master can use the alluxio client to manage the Alluxio cluster. This is not safe for Alluxio clusters.
Some end-users should only have permission to use the Alluxio cluster, and should not have permission to manage Allxuio

**Describe the solution you'd like**
Distin

[2022-01-25 09:32] nmahadevuni commented on #14200
hi @beinan @rongrong : Unless we set the Presto coordinator also as worker(_node-scheduler.include-coordinator=true_), we cannot see counters like Client.CacheHitRate, Client.CacheBytesReadCache, Client.CacheBytesReadExternal, Client.CacheBytesRequestedExternal
Is there any workaround for this?

[2022-01-25 10:49] Nizifan opened #14909 "Read hdfs file hit exception during the read process"
**Alluxio Version:**
2.7

**Describe the bug**
When try to read ~2G file from hdfs through Alluxio, command hit IO error and log indicate Java exception is hit.
And it read out correct but partial result

[root@jssz-aiinf-ml-gpu-04 alluxio-2.7.2]# cp /runtime-mnt/alluxio/ogv/ogv-hdfs/alluxio-fuse/ogv-hdfs/log_date\=20220117/part-00000-ed2f54f4-90f1-4551-a05b-96345174ad5f.c000 ./temp.out
cp: error

[2022-01-25 19:36] apc999 commented on #14886
can you try run `alluxio fs stat /cdp/ads_stor_item_sku_parcel_paid_mix_df_test/pt=2022-01-20/part-00011-711d1977-cd70-46ef-bc2a-852b09121bcc-c000` and check the status of this file?

[2022-01-25 19:37] apc999 commented on #14882
thanks for the update. good to hear it works

[2022-01-25 19:37] #14882 closed

[2022-01-25 19:39] apc999 commented on #14874
@cheyang  it looks like a bug to us. Let David (@yuzhu ) help here

[2022-01-25 19:43] apc999 commented on #14867
Are you trying to  Kerberos HDFS as Alluxio UFS? this is fully supported in Alluxio enterprise. Not sure if it can work as expected with Alluxio open source edition

[2022-01-25 20:24] LuQQiu commented on #14807
Can be because
1. File block pinned but deleted by worker mistakenly -> a bug
2. Cannot connect to worker, worker lost or worker storage lost or unable to connect to worker

[2022-01-25 20:26] LuQQiu commented on #14909
@Nizifan why enabling `alluxio.fuse.shared.caching.reader.enabled` to use `SharedGrpcDataReader`?
@apc999 did we plan to remove `SharedGrpcDataReader` and what's the reason for us to plan to remove that class?

[2022-01-25 20:30] LuQQiu commented on #14843
@yuzhu FYI, thanks!

[2022-01-25 21:05] apc999 commented on #14909
No concrete plan to remove `SharedGrpcDataReader` until we figure out more efficient way to reuse transport

[2022-01-25 21:53] rongrong commented on #14200
@FeiZou `Client.CacheSpaceAvailable` and `Client.CacheSpaceUsed` should be available. `CacheHitRate` is missing because it's currently not registered on Presto coordinator. JMX connector would only list the metrics that are visible on coordinator. I'll send out a PR to register cache hit rate on coordinator as well. @nmahadevuni any other metrics missing while I'm at it?

[2022-01-25 22:56] rongrong commented on #14200
BTW, the fundamental culprit of this is that Presto's JMX connector (and all other connectors pretty much)'s metadata queries are running on coordinator only. Since the JMX metrics are mapped to tables, and table listing is a metadata query, listing tables would only run on coordinator, thus only listing all the metrics that are registered on coordinator. So if caching is not enabled on coordinato

[2022-01-26 03:43] liuyongqing commented on #14895
@LuQQiu ，the following open test, it will not delete the exist file in linux, hower it will delete exist file in alluxio fuse, we can delete the exist file except we specify flag  O_WRONLY|O_TRUNC
#include <unistd.h>
#include <sys/types.h>
#include <sys/stat.h>
#include <fcntl.h>
main()
{
    int fd, size;
    char s[] = "Linux Programmer!\n", buffer[80];
    fd = open("/tmp/temp", O_WRONLY);

[2022-01-26 03:52] liuyongqing commented on #14895
further more, i think we treat O_RDWR is complicated in current alluxio 2.7 branch，which defer the input/output stream to first read to write; because alluxio can't read or write for same fd, consider the following process:
1. O_RDONLY，we should record an input stream for read
2. O_WRONLY，if no O_TRUNC specify, should report error, because we can't rewrite part to content; if specify, we can delet

[2022-01-26 03:53] jiacheliu3 commented on #14820
One other alternative is to explicitly use immutable collections to avoid all copies, so we can safely pass references around.

[2022-01-26 03:55] liuyongqing commented on #14895
the following is an overwrite cp strace: ![企业微信截图_8dad107d-f7eb-4323-a3a4-9ef1b4eda816](https://user-images.githubusercontent.com/5205797/151101446-33f1b42f-3415-491a-b66d-02bc62e75d44.png)

[2022-01-26 04:03] LuQQiu commented on #14807
is it possible that the error comes from https://github.com/Alluxio/alluxio/commit/39ddb54dabef1f2530f7d9d6240c6d2aaec99e46

previous version is 2.6.x and don't have problem
new version is 982ca080138ca830f780dedfe103bb4211d20796  and have the problem

can validate by opening debug logging of DefaultBlockMaster
[code]

[2022-01-26 04:23] Nizifan commented on #14909
Thanks @apc999 and @LuQQiu
Disabling this setting solve the problem, and it is not a 100% bug, we try several hdfs read but only 1 instance hit this issue but it is 100% repro in this case.

The config is copy-paste from fluid from fluid default. Do you suggest to turn it off in fluid?
setDefaultProperties(runtime, value, "alluxio.fuse.shared.caching.reader.enabled", "true")

[2022-01-26 04:32] LuQQiu commented on #14844
@jiacheliu3 @yuzhu
They set jvm config
[code]
and then stop world GC  gone

[2022-01-26 04:40] jiacheliu3 commented on #14844
@LuQQiu if you don't give jvm enough time to GC the memory will stack up. And when the JVM thinks it can no longer follow the contract, it breaks the contract by doing a full GC with 1 thread and STW.

[2022-01-26 06:31] cheyang commented on #14909
@apc999 @LuQQiu The properties are for the same blocks concurrent access from https://github.com/Alluxio/alluxio/pull/12453 which is from Microsoft.  Could you make double check?

[2022-01-26 06:36] packageman opened #14915 "WebUI Overview page error when journal type is EMBEDDED with persistentVolume"
**Alluxio Version:**
2.7.2

**Describe the bug**
![image](https://user-images.githubusercontent.com/12949466/151114342-185a5614-6aa1-4c83-99ca-14de6e20344d.png)

**To Reproduce**

values.yml

[code]

**Expected behavior**
WebUI Overview page can display normally.

**Additional context**
Alluxio master warning log:

[code]

File system in alluxio master container:

![image](https://user-images.gith

[2022-01-26 06:37] Nizifan commented on #14909
If this config will greatly impact read performance should we dig a bit more on while shared reader will cause read failure?

[2022-01-26 07:00] goldenbean commented on #14890
Does a golang program, which could rotate and compress log, make sense to you? For example:

[code]

[2022-01-26 09:27] Nizifan commented on #14844
@jiacheliu3 Looks like after setting this new contract, the jvm apply more aggressive policy on gc, never see stop world gc again in past 24 hours with a even higher workload. And gc happen at higher frequency to control the whole scale.
![image](https://user-images.githubusercontent.com/11472213/151137301-e1a97814-c128-4c2b-9fb4-6a51729efa28.png)

[2022-01-26 09:31] #14729 closed

[2022-01-26 09:38] wukong1992 opened #14916 "alluxio runTests error"
**Alluxio Version:**
2.7.2

**Describe the bug**
I use alluxio fuse client, on k8s cluster. When I install master and worker, I run alluxio runTests, some cases run error, And there is some master log:

2022-01-26 09:35:05,289 WARN  DefaultFileSystemMaster - Failed to delete UFS file /starfsufs/.alluxio_ufs_persistence/BASIC_CACHE_PROMOTE_ASYNC_THROUGH.alluxio.1643189449261.90402648-b00c-4038-a877

[2022-01-26 09:59] Haoning-Sun opened #14917 "Nodeserver shutdown makes mount unavailable until restart business pod"
**Is your feature request related to a problem? Please describe.**
When I use Alluxio-CSI, I found that If the nodeserver shutdown, the fuse service inside shutdown with it, and
nodeserver automatic restart will not automatically mount. So I need to restart the business pod to remount.

**Describe the solution you'd like**
After the nodeserver is shut down, the fuse service is transferred to anoth

[2022-01-26 11:34] gjhkael commented on #14867
#14919 x

[2022-01-26 16:25] nmahadevuni commented on #14200
The ones I mentioned above are the only metrics missing, I found rest of them are registered on coordinator too.

[2022-01-26 18:06] ggezer commented on #14806
@adol001

I think HDFS code can't be directly translated to Alluxio. Because in Alluxio's architecture there are two levels of storage, namely Alluxio cache and UFS.

For failure scenario you brought up, we simply can't make an atomic write across 2 storages. Under failures, inconsistencies are inevitable. We're just making decisions to make that inconsistencies are safe. IMO, having a ghost metad

[2022-01-26 21:42] LuQQiu commented on #14807
From the updated logs: The same pattern happens for multiple blocks
01-25 04:53 persist job starts
01-25 04:58 persist job failed after waiting for worker response for 5min
[code]
01-25 04:58 failed to read block
[code]
During the period, the worker `172.29.247.135`  registers itself to the master
[code]
Sad that worker.log only starts from 2022-01-25 06:53, nothing helpful can be found in worker.

[2022-01-26 21:46] LuQQiu commented on #14807
12月10号(log4j出bug那天),之前我们用的是2.6.x版本,12月10号,我们紧急上线了一个版本,也就是我们现在线上的版本,这个版本是到982ca080138ca830f780dedfe103bb4211d20796  这里,社区11月12号的最后一次提交

11月2号 https://github.com/Alluxio/alluxio/commit/39ddb54dabef1f2530f7d9d6240c6d2aaec99e46
could be block removed from worker

WorkerHeartbeat, WorkerRegister -> processWorkerAddedBlock -> cannot find block id in blockstore -> schedule worker remove the block of bloc

[2022-01-26 22:05] LuQQiu commented on #14807
@lilyzhoupeijie the worker log doesn't contian useful information because it only has really recent logs, can you delete those abandon logs info e.g.
[code]
so that we can get actual log when seeing same behavior in the future

[2022-01-26 23:57] #14888 closed

[2022-01-26 23:58] apc999 commented on #14888
addressed by "Support statfs for jnifuse #14900"

[2022-01-27 00:34] ZhuTopher commented on #14412
Closing since #14088 was merged

[2022-01-27 00:34] #14412 closed

[2022-01-27 03:07] liuyongqing commented on #14895
for open trunc case, could refer:
https://github.com/Alluxio/alluxio/pull/14897
https://github.com/s3fs-fuse/s3fs-fuse/blob/master/src/s3fs.cpp(function s3fs_open)

[2022-01-27 03:46] ssz1997 opened #14924 "DistributedLoad fails in k8s env"
Alluxio version: v2.7.2

In a k8s env where alluxio runs in docker containers, we have 1 master and 1 worker, a distributed load on a dir with 1.9G can only cache 8MB.

worker log:
[worker.log](https://github.com/Alluxio/alluxio/files/7947411/worker.log)
job worker log:
[job_worker.log](https://github.com/Alluxio/alluxio/files/7952972/job_worker.log)

This problem can be reproduced consistently in

[2022-01-27 03:46] jiacheliu3 commented on #14412
fyi @dbw9580

[2022-01-27 03:53] jiacheliu3 commented on #14844
@Nizifan Glad to hear this works out for you. There are always more than one way to achieve a better GC pattern.

`-XX:ParallelGCThreads=40` will give you a better GC concurrency at the cost of more CPU usage.

Personally I'm not a big fan of `-XX:MaxGCPauseMillis=30` because I think if you set this number too low, the GC will not be able to collect enough garbage, and after a long time, your heap

[2022-01-27 03:55] jiacheliu3 commented on #14844
If this issue is just about sub-optimal GC parameters, I think it can be closed as it's not really an Alluxio issue.

Feel free to move this off line or submit changes to alluxio-env.sh if you feel better default JVM properties should be applied. Thx :)

[2022-01-27 05:59] ljl1988com opened #14928 "Support special URI which the name of files or directories contain `\`"
**Is your feature request related to a problem? Please describe.**

For example, the name of files or directories can contain `\` under hdfs. But in alluxio URI will transfer into a path, not as expected.

Related to #14731.

**Describe the solution you'd like**
Support special URI which the name of files or directories contain `\`.

[2022-01-27 06:26] wukong1992 commented on #14916
@apc999

[2022-01-27 14:46] maobaolong commented on #14853
@madanadit Thanks for your reply.

1. Yeah, /alluxio1 is a path in alluxio FS namespace
2. `/alluxio1.subdir1` is a mount point which mapping to hdfs ns1, and `/alluxio1.subdir2` is another mount point which mapping to hdfs ns2.

[2022-01-27 18:33] LuQQiu commented on #14807
[BossZP file lost log.pdf](https://github.com/Alluxio/alluxio/files/7952958/BossZP.file.lost.log.pdf)
Related master, worker log.
Everytime when the persist job failed, the related worker is doing frequent re-register to master (once or twice).

The strange part is still why master cannot find worker id for heartbeat `Could not find worker id <worker_id> for heartbeat ` and triggers worker re-regi

[2022-01-27 18:48] LuQQiu commented on #14924
@yuzhu @jja725 DistributedLoad nearly unusable in Kubernetes env with Alluxio 2.7.2. Please take a look. @ssz1997 can help guide you to reproduce the environment

[2022-01-27 18:52] LuQQiu opened #14931 "Fluid fuse pod cannot start with 2.7.2"
**Alluxio Version:**
Alluxio 2.7.2

**Describe the bug**
Launch 40 fuse pods to read the same big file, find that nearly 10 fuse pods cannot start successfully.

**To Reproduce**
Launch Alluxio 2.7.2 through Fluid

** documents **
[alluxio-fuse.log](https://github.com/Alluxio/alluxio/f
[hs_err_pid15.log](https://github.com/Alluxio/alluxio/files/7953086/hs_err_pid15.log)
iles/7953085/alluxio-fuse.l

[2022-01-27 18:54] LuQQiu commented on #14931
@ssz1997 try to reproduce but could not reproduce the fuse pod issues.
40 Fuse pods can be launched successfully

[2022-01-27 18:55] LuQQiu commented on #14931
After debug session, we found that it's because k8s launch issues. Multiple Fuse processes are launched in the same container with the same fuse mount point, resulting in strange behaviors

[2022-01-27 18:55] #14931 closed

[2022-01-27 19:04] beinan commented on #14867
@gjhkael thank you for the PR!
Looks like you're asking alluxio to take the username defined in alluxio.master.principal as a PROXY user, and then for any ops from alluxio to hdfs, alluxio server should impersonate to the UGI user (the user passed in by hdfs client).

I can see the benefits of this UFS impersonation behavior.   As we discussed offline, I'm not sure if it should be an enterprise ed

[2022-01-27 19:25] LuQQiu opened #14932 "Support 100million - 1 billion small files in AI/ML training"
**Is your feature request related to a problem? Please describe.**
Training against Alluxio has good performance when having under 100 million small files.
When the training dataset reaches 100 million to 1 billion small files, training performance is largely impacted, especially when training doing global shuffle between epochs.

The impacted training performance comes from that Alluxio Fuse clie

[2022-01-27 19:28] LuQQiu commented on #14932
@yyongycy @yuzhu @maobaolong @ssz1997 @apc999
Create a github issue for tracking the ideas of how to support 100 million or 1 billion small files.
Please share your suggestions. We will have discussions in the future

[2022-01-27 19:38] #14845 closed

[2022-01-27 19:41] LuQQiu commented on #14844
Mark it as closed for now. @Nizifan feel free to reopen the issue when needed, thanks @jiacheliu3 for helping out this issue

[2022-01-27 19:41] #14844 closed

[2022-01-27 19:43] LuQQiu commented on #14838
Feedback from community user
[code]

[2022-01-27 19:47] LuQQiu commented on #14778
@ssz1997 please link to your PR and close this issue when needed

[2022-01-27 19:47] LuQQiu commented on #14776
Thanks @bzheng888 !

[2022-01-27 19:47] #14776 closed

[2022-01-27 19:48] #14751 closed

[2022-01-27 19:53] ssz1997 commented on #14778
Enabled here: https://github.com/Alluxio/alluxio/pull/14884

[2022-01-27 19:53] #14778 closed

[2022-01-27 19:58] yuzhu commented on #14844
@jiacheliu3 should we update tuning docs to include this?

[2022-01-27 20:15] HelloHorizon commented on #14917
@LuQQiu can you take a look?

[2022-01-27 20:28] ssz1997 opened #14933 "Fuse remove file too slow"
Small-size files (100k) generated with 8 threads in ~ 3 min with fuse stressbench takes more than 30min to delete through POSIX API. Write type is `MUST_CACHE` so UFS is not involved.

[2022-01-27 21:44] LuQQiu commented on #14917
@Binyang2014 @maobaolong any idea for this issue? how hard/how long time it may take to support that feature?

[2022-01-27 23:34] LuQQiu commented on #14909
We will take a deeper look into the issue and see how to handle the multiple threads/processes read same big file issue

[2022-01-27 23:58] LuQQiu commented on #14933
@ssz1997 what's your remove file command

[2022-01-28 00:07] LuQQiu commented on #14895
@liuyongqing Thanks for the detailed information! Will modify the current open logics

[2022-01-28 00:13] ssz1997 commented on #14933
Inside the mount point, ran `rm -R /mnt/standalone-fuse-write/threads-8/fuseIOStressbench`

[2022-01-28 00:51] Binyang2014 commented on #14917
Hi @Haoning-Sun  I have some questions for your case. Is your business pod in the same node as fuse service?
 If so, when node shutdown, your service will shutdown either.  And when node restart, your business pod will in pending status util fuse is mounted.
If not, how do you deploy the fuse service and business pod?

[2022-01-28 02:23] LuQQiu commented on #14933
Note that linux command is single threaded similar to `cp -R`
there may be multi-thread rm command that's much faster

[2022-01-28 03:28] jiacheliu3 commented on #14908
@madanadit Does this look interesting to you?

[2022-01-28 06:47] madanadit commented on #14908
@jiacheliu3 we have the super-user concept (the user that starts the master process).
admin operations like the fsadmin cli should already be restricted to that user, is that not the case?

[2022-01-28 07:49] Haoning-Sun commented on #14917
@Binyang2014 The fuse service is created in the nodeserver by triggering the mount when the business pod starts, and does not require me to manually deploy.

[2022-01-28 08:52] Binyang2014 commented on #14917
I'm confusing about this. I believe fuse daemon and business pod  are  located in the same node. Then if the node down,  fuse daemon and your business pod will stopped. Why the fuse daemon down but the your business pod is still alive?

[2022-01-28 09:11] lilyzhoupeijie commented on #14807
new info one:
file name as "/test-fuse-3/2021-08-66666/part-00318-b525762c-35ea-4ab4-81af-dba2feeb36bf-c000.tfrecord" lost in alluxio.
fs stat ：
[root@test-fuse-3-master-0 alluxio-2.8.0-SNAPSHOT]# alluxio fs stat /test-fuse-3/2021-08-66666/part-00318-b525762c-35ea-4ab4-81af-dba2feeb36bf-c000.tfrecord

2022-01-28 08:12:16,657 INFO  MetricsSystem - Starting sinks with config: {}.
2022-01-28 08:12:16

[2022-01-28 10:11] jiacheliu3 commented on #14807
If you are not using worker stream register, the `removedBlockIds` are generated here
https://github.com/Alluxio/alluxio/blob/067e9d432166d44a82fb26aa1ffa8660b665e2f0/core/server/master/src/main/java/alluxio/master/block/DefaultBlockMaster.java#L1036

If you are using worker stream register, the `removedBlockids` are from here
https://github.com/Alluxio/alluxio/blob/067e9d432166d44a82fb26aa1ffa866

[2022-01-28 10:22] lilyzhoupeijie commented on #14807
new info two:
lost file name：
 /testlost/2021-08-3/part-00494-606b2c97-c312-488c-8dc5-69f31dca944f-c000.tfrecord

fs stat:
/testlost/2021-08-3/part-00494-606b2c97-c312-488c-8dc5-69f31dca944f-c000.tfrecord is a file path.
URIStatus{info=FileInfo{fileId=41993371647, name=part-00494-606b2c97-c312-488c-8dc5-69f31dca944f-c000.tfrecord, path=/testlost/2021-08-3/part-00494-606b2c97-c312-488c-8dc5-69f31dc

[2022-01-28 10:33] lilyzhoupeijie commented on #14807
[root@testlost-master-0 alluxio-2.8.0-SNAPSHOT]# alluxio getConf |grep register
alluxio.hub.manager.register.retry.time=2min
alluxio.master.worker.register.lease.count=25
alluxio.master.worker.register.lease.enabled=true
alluxio.master.worker.register.lease.respect.jvm.space=true
alluxio.master.worker.register.lease.ttl=1min
alluxio.master.worker.register.stream.response.timeout=1min
alluxio.worke

[2022-01-28 10:38] xichen01 commented on #14908
Although the concept of `super-user`, any user in the current alluxio can execute the command `fsadmin report`

`testx` is just a non-superuser in this example, it can execute the `fsadmin report` command.
![image](https://user-images.githubusercontent.com/32928346/151531790-e5202064-d171-4096-8690-a603a151c653.png)

[2022-01-28 12:18] jiacheliu3 commented on #14807
If any request in the stream fails to send, you will see errors in the log. You may check the `RegisterStreamer` for the logging lines.

Also I think in a gRPC stream, requests do not get lost in the middle. The transmission is guaranteed to arrive in order. If one request fails, the stream fails. The RegisterStreamer also checks how many ACKs are returned from the master
https://github.com/Alluxi

[2022-01-28 12:32] lilyzhoupeijie commented on #14807
Actually,serval days ago,when we are testing small files,we  found the worker just left 1000000 blocks,and other blocks were deleted with no log.Maybe some other problems related to this.

[2022-01-28 23:20] LuQQiu commented on #14807
From what i saw from the logs
1. Master has the lost block information
2. When worker does stream reregister, the worker doesn't show that it contains the lost block information, so the master schedules to delete the block from the worker
3. worker receives the delete block request and is likely to be no-op because the block does not exist.

what could be the reason that the worker does not contai

[2022-01-29 00:41] LuQQiu commented on #14807
Find some logs
[code]

Many blocks failed in commit blocks **Failed to commit block with blockId 647919304706 to master**

[2022-01-29 01:08] LuQQiu commented on #14807
A side problem, why stream worker register has NPE
[code]

[2022-01-29 01:30] Haoning-Sun commented on #14917
I mean csi-nodeserver, not the node for k8s.

[2022-01-29 01:39] apc999 commented on #12749
@gtarcoder :
cephfs is contributed by community contributors lead by @maobaolong
Here is the documentation:
https://docs.alluxio.io/os/user/stable/en/ufs/CephFS.html

[2022-01-29 01:39] #12749 closed

[2022-01-29 01:55] jiacheliu3 commented on #14807
@LuQQiu The NPEs are from @lilyzhoupeijie 's internal implementations, it's not even in Alluxio code.

That said, @LuQQiu @beinan I don't think the root cause can be found without knowing what code they have changed. The block could be removed incorrectly.

[2022-01-29 03:34] lilyzhoupeijie commented on #14807
maybe not only one reason causing lost block:
the lateset logs yesterday night:
![图片](https://user-images.githubusercontent.com/24890599/151645819-3c0f12ab-63b7-48d6-99bb-805443cd76ec.png)
log show as ：
![图片](https://user-images.githubusercontent.com/24890599/151645841-7683c9d5-b768-4d0a-b54d-5a0ef1f5da36.png)

[2022-01-29 11:10] liangrui1988 opened #14936 "Is there a good solution to whether spark Shuffle data can be stored in Alluxio"
spark shuffle data on alluxio?

https://issues.apache.org/jira/browse/SPARK-25299
Check whether it is stable and available
https://github.com/MemVerge/splash/

What other good solutions can be implemented

[2022-01-31 18:34] HelloHorizon commented on #14936
@liangrui1988 If you are using a cloud store(or remote storage cluster) with Spark remote shuffle service(no matter which with HDFS interface), it's a good idea to keep the shuffle data in Alluxio for fast access.

[2022-01-31 18:49] HelloHorizon commented on #14928
related pr https://github.com/Alluxio/alluxio/pull/14731

[2022-02-01 00:50] HelloHorizon commented on #14916
@ssz1997 @LuQQiu any idea?

[2022-02-01 06:35] LuQQiu commented on #14895
Thanks a lot @liuyongqing
Basically we
[code]
in this case, we don't need to defer READ_WRITE to first read() or write()

The code is much more correct and clean, appreciate your help and wonderful suggestions!

[2022-02-01 06:36] LuQQiu commented on #14895
@maobaolong FYI

[2022-02-02 14:00] JySongWithZhangCe commented on #14822
And there is another `java.lang.UnsatisfiedLinkError` when RocksDB call native method while RocksDB is shaded.

[2022-02-02 21:44] LuQQiu commented on #14924
May relates to https://github.com/Alluxio/alluxio/issues/14851

[2022-02-02 22:12] jja725 commented on #14924
@LuQQiu Why it's related?

[2022-02-02 22:13] LuQQiu commented on #14924
@jja725 no worries, linked the wrong issue

[2022-02-02 23:41] apc999 commented on #10966
more explanation (based on my understanding & requirement)
there are plenty of alluxio property keys, each could represent a boolean value, a int value or a string.
In certain cases, a string could represent a path to a file (e.g., `alluxio.underfs.hdfs.keytab.file` pointing to a file path).
For these properties, when they are set, it will be nice to check if the value of this property really poin

[2022-02-03 00:23] #14895 closed

[2022-02-03 01:04] rongrong commented on #10966
So it's more like having another property type "path"? I'm assuming they can be files or directories?

[2022-02-03 04:21] #14200 closed

[2022-02-04 22:51] apc999 commented on #14890
thanks for the idea @goldenbean .
ideally, we want to reduce the dependency on extra runtimes like Golang to operate Alluxio.

[2022-02-06 03:50] LuQQiu commented on #14854
[code]
Test case to add when supporting this functionality

[2022-02-07 02:42] Binyang2014 commented on #14917
The csi-nodeserver is a long-running service and should be stable. Do you known the reason why csi-nodeserver is down? You can fire a bug if the csi-nodeserver down unexpectedly.

If you don't want to restart the  business pod, you need to add some logic by yourself to handle storage failure. From the system view, we don't know if this error is critical or not, some app can not tolerate such error

[2022-02-07 06:10] Haoning-Sun commented on #14917
We are just preparing to use CSI. We found this problem when we took the initiative to shut down nodeserver during the test.

[2022-02-07 19:27] #14967 closed

[2022-02-07 21:15] HelloHorizon commented on #14853
@madanadit do you have any comments here?

[2022-02-08 01:18] #8852 closed

[2022-02-08 04:49] liangrui1988 commented on #14936
Spark Shuffle cannot be configured with third-party storage directly, so it needs to be developed by itself. I would like to know if There is any plug-in developed for Alluxio that can be used directly.

[2022-02-08 06:19] kevincai commented on #14917
In current alluxio csi design, the issue is not avoidable, because the alluxio fuse process is running inside daemonset nodeserver POD and has the same lifecycle with the daemonset POD.

This will not only introduce the problem that business POD hang if nodeserver POD restarted, also it makes daemonset upgrade difficulty.

There is an alternative approach in k8s community for csi storage, when nod

[2022-02-08 06:57] Haoning-Sun commented on #14917
We are now using k8s sidecar mode. As you said, it starts a new container in the same pod and running the alluxio fuse daemon process inside the new container.

[2022-02-08 07:22] kevincai commented on #14917
It is good enough except that your sidecar container must be a  privileged container who can directly access /dev/fuse device which is usually a security concern.

[2022-02-08 08:13] Binyang2014 commented on #14917
@kevincai I'm interesting with the approach you mentioned:

You mean the sidecar mode or we can assign a container to job POD dynamically?
For sidecar mode, we need to claim the  sidecar container  when creating the POD, it can not leverage CSI interface.  I'm not sure if we have a method which can combine the CSI interface and the sidecar mode.

[2022-02-08 08:18] lynus opened #14973 "io.grpc.StatusRuntimeException: UNAVAILABLE: Network closed for unknown reason"
**Alluxio Version:**
2.7.2

**Describe the bug**
grpc client is rejected with error: io.grpc.StatusRuntimeException: UNAVAILABLE: Network closed for unknown reason
**To Reproduce**
1. Using 'cp -r' command to copy an alluxio directory from an existing cluster to a newly created cluster.
2. modify conf files accroding to the new environment.
3. ./bin/alluxio-start master
then master.log reports the

[2022-02-08 13:03] vimalKeshu opened #14974 "Alluxio CLI code for distributed load and copy always return zero."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I am interacting with the Alluxio form python code by creating the python sub process and executing commands like distributed load and copy. Alluxio code for distributed load and copy always return the zero value even though it couldn't suc

[2022-02-08 19:19] HelloHorizon commented on #14936
@liangrui1988 we don't provide the remote shuffle service plugin from our side. If you are interested in this feature, you can raise issue at the Spark community.

[2022-02-08 19:19] #14936 closed

[2022-02-08 19:26] HelloHorizon commented on #14973
Hey @lynus , do you explain what is the meaning of step 1?

[2022-02-08 19:27] HelloHorizon commented on #14974
thanks @vimalKeshu for reporting! @jja725 can you take a look?

[2022-02-08 19:35] HelloHorizon commented on #14908
@yyongycy can you take a look?

[2022-02-08 19:39] HelloHorizon commented on #14874
@beinan can you take a look at this issue?

[2022-02-08 20:01] #14879 closed

[2022-02-08 20:23] LuQQiu opened #14976 "Fuse failed to set user group"
**Alluxio Version:**
Alluxio 2.7.3

**Describe the bug**
Caused by: alluxio.exception.AlluxioException: Could not update owner:group for /openWriteExistingWithTruncFlag to root:1001. alluxio.exception.status.FailedPreconditionException: Owner root does not belong to the group 1001
at alluxio.exception.status.AlluxioStatusException.toAlluxioException(AlluxioStatusException.java:105)
at alluxio.clie

[2022-02-08 21:28] jja725 commented on #14924
My investigation:
DistributedLoad would fail but when we are using loadCommand it works fine(requesting the same host and using the same patther to find host)
workerNetaddress for selected worker doesn't have containerHost field:
[code]
@yuzhu  @ZhuTopher

[2022-02-08 23:52] beinan commented on #14822
Yep, I will take a look and try to optimized the shading rule

[2022-02-09 00:50] wukong1992 commented on #14916
@HelloHorizon I solved. The error caused by the master not mounting ufs. I use k8s install alluxio.  By the way, the doc is not perfect and not friendly to newbies.

[2022-02-09 00:56] HelloHorizon commented on #14916
Thanks, feel free to open an issue if there are any unclear parts in the doc.

[2022-02-09 00:56] #14916 closed

[2022-02-09 05:59] yyongycy commented on #14908
Since any user can call fsadmin, there should be no permission check.
@HelloHorizon any contributor from community is interested this feature?

[2022-02-09 06:01] kevincai commented on #14917
@Binyang2014 It is not a sidecar mode. In alluxio csi nodeserver, instead of starting a subprocess to start the alluxio fuse process, it calls k8s api to start a new container, the container is responsible to run the alluxio fuse process and mount to local filesystem via fuse.

@Haoning-Sun is using the sidecar mode, which is out of k8s CSI scope.

[2022-02-09 06:33] Binyang2014 commented on #14917
@kevincai  Is there any open source project using this approach? Seems we can refer this way then figure out what is the correct way to integrate alluxio-fuse into Kubernetes

[2022-02-09 06:37] kevincai commented on #14917
@Binyang2014 check juicedata implementation, majority working is done in this PR: https://github.com/juicedata/juicefs-csi-driver/pull/100 . They had a design doc about this before implementing it, but I can't find it now.

[2022-02-09 09:13] dengweisysu opened #15012 "Block location policy suitable for cluster with different capacity workers?"
I have a cluster with 100+ alluxio workers with different capacity,  and some alluxio workers are deploy without presto worker.
So i can't find a suitable policy for my situation.
- LocalFirstPolicy or LocalFirstAvoidEvictionPolicy may result that workers without presto idle at the beginning.
- MostAvailableFirstPolicy may result that some alluxio workers become hot spot.
- RoundRobinPolicy or Det

[2022-02-09 09:35] xichen01 commented on #14908
@yyongycy I can refer to HDFS development this feature, permission check at the Master side.
Administrative commands can only be run as the HDFS-superuser in HDFS

such as
![image](https://user-images.githubusercontent.com/32928346/153166317-e38b2930-3a1a-449c-ad8b-b028444e0420.png)

[2022-02-09 10:29] yyongycy commented on #14908
How about another super user? Would that work?

[2022-02-09 11:00] xichen01 commented on #14908
`root` is a super user, it can run `fsadmin` commands
![image](https://user-images.githubusercontent.com/32928346/153184503-6edc9a84-a6f6-4b9a-91fc-69d67543dc46.png)

![image](https://user-images.githubusercontent.com/32928346/153184836-c3002590-6090-424b-bb3a-df5aa3874f62.png)

[2022-02-09 15:29] yyongycy commented on #14908
So any super user can run that command successfully, right? Given that is implemented in Alluxio, it is better to follow the HDFS rule.

[2022-02-09 17:58] yyongycy commented on #14932
A few heuristic questions:
1. Are all files modified/created? How many static files(only file atime change)?
2. Can one Master support that many metadata in performing way?
3. Are all cached metadata not usable in next epoch?
4. Is the hardware config(cpu/memory/network) matching the data scale that is managing?

[2022-02-10 03:07] liangrui1988 opened #14985 "Server Configuration Check FAILED"
<html>
<body>

Server Configuration Check | FAILED
-- | --

</body>
</html>
What's wrong with this test?How can it be corrected, without any hint, beyond comprehension

![image](https://user-images.githubusercontent.com/7435076/153329509-0c85b36e-df89-4532-8ac2-1079da626aca.png)

master config

alluxio.master.keytab.file=/data/alluxio/alluxio/conf/liangrui-master01.keytab
alluxio.master.principal=

[2022-02-10 03:08] wukong1992 opened #14986 "mount alluxio error"
**Alluxio Version:**
2.7.3

**Describe the bug**
I install alluxio with k8s, and use alluxio with posix api, mount the alluixo fs.

2022-02-10 03:03:29,631 WARN  FileSystemMasterClientServiceHandler - Exit (Error): GetNewBlockIdForFile: request=path: "/tmpXgWbWY"
options {
}
, Error=alluxio.exception.FileDoesNotExistException: Path "/tmpXgWbWY" does not exist.
2022-02-10 03:04:24,610 WARN  InodeSy

[2022-02-10 03:22] xichen01 commented on #14908
Whether to distinguish which commands in Alluxio are administrator commands except `alluxio fsadmin`

`hdfs dfsadmin` is not the only administrator command in HDFS
refer to:
https://hadoop.apache.org/docs/stable/hadoop-project-dist/hadoop-hdfs/HDFSCommands.html#Administration_Commands

[2022-02-10 03:33] ssz1997 commented on #14917
@madanadit @jiacheliu3 FYI.
Alluxio CSI is using a nodeserver to launch the fuse process. Haoning-Sun is worrying about if the nodeserver is down, fuse process is then down, and the application pods can't access Alluxio data anymore and then crash.
One solution is what kevincai was describing, that instead of launching Fuse process inside nodeserver pod (container), nodeserver creates another cont

[2022-02-10 03:38] wukong1992 opened #14987 "alluxio runTests error"
**Alluxio Version:**
2.7.3

**Describe the bug**
alluxio runTests success, but got error log from master:

, forceSync=true, isGetFileInfo=true}: alluxio.exception.FileDoesNotExistException: Path "/default_tests_files/BASIC_NON_BYTE_BUFFER_CACHE_PROMOTE_CACHE_THROUGH" does not exist.
2022-02-10 03:33:06,664 WARN  InodeSyncStream - Failed to sync metadata on root path InodeSyncStream{rootPath=Locki

[2022-02-10 04:33] yyongycy commented on #14908
Not sure I understand your question correctly, do you mean "hdfs" has other admin command beside hdfsadmin, and whether alluxio has other admin command?

[2022-02-10 08:58] xichen01 commented on #14908
Yes, there are some other (not all admin commands) admin commands in HDFS besides `dfsadmin` that need to be executed by super user.

such as: `crypto` and `balancer`
![image](https://user-images.githubusercontent.com/32928346/153370296-f534a6b5-894d-42c2-81e0-9211587e1d9e.png)
![image](https://user-images.githubusercontent.com/32928346/153370308-b1838845-aabc-4a03-a990-d183b4842ea6.png)

Are ther

[2022-02-10 09:00] yyongycy commented on #14908
I'd suggest doing it step by step, and you can firstly handle this one.

[2022-02-10 09:45] xichen01 commented on #14908
OK, I'll implement `alluxio fsadmin` first.

[2022-02-10 11:20] wukong1992 opened #14988 "Why cannot cache 100% file"
**Alluxio Version:**
2.7.3

**Describe the bug**
I use alluxio fs load to cache whole file, but use alluxio fs ls -f , there only 19% cached. I set ramdisk to 60G, and set ttl to 1hour.
![image](https://user-images.githubusercontent.com/13702081/153396842-9a3d89bc-5ab7-493d-8e3e-0a26179db102.png)

[2022-02-10 17:16] HelloHorizon commented on #14985
@LuQQiu can you help here?

[2022-02-11 01:19] wukong1992 commented on #14986
I install alluxio by doc [https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Kubernetes.html](url) . The under fs use local filesystem. And I use posix client api, install fuse component by the autogenerated yaml. But when everything is done. I saw the log above.

[2022-02-11 03:55] jiacheliu3 opened #14992 "Need a better definition for readonly mount"
**Summary**
Related to https://github.com/Alluxio/alluxio/pull/14719

A mount point being readonly can mean two things:
1. Alluxio is used to provide a readonly wrapper over the path. Whatever in-Alluxio and in-UFS should be readonly. The in-Alluxio data are protected and readonly too.
2. Only the in-UFS data are protected, not the in-Alluxio data. This means if the user writes something with MUST

[2022-02-11 03:55] jiacheliu3 commented on #14992
@maobaolong could you elaborate on your use case regarding how the readonly mount is used to protect UFS?

[2022-02-11 03:58] jiacheliu3 commented on #14992
@yuzhu @apc999 @madanadit Not sure if "readonly" in Alluxio has been defined before. Could you shed some light?

A relevant issue is, when the UFS is mounted as readonly, any attempt to remove things under the mount point will fail. So if we are doing `checkConsistency` and found some file metadata to re-sync, that cannot happen. The definition of readonly is not limited to just solve this issue,

[2022-02-11 07:49] jayzhenghan commented on #14932
How to access files where goosefs does not exist but UFS exists？【follower-readOnly】

[2022-02-11 10:30] lynus opened #14994 "redundent JVM options for worker and job_worker processes"
**Alluxio Version:**
2.7.2
**Describe the bug**
Duplicate options are passed to JVM. Using `ps aux|grep Alluxio` to see the process's command
**To Reproduce**
./alluxio-start.sh worker
./alluxio-start.sh job_worker

**Expected behavior**
No duplicate options, like master and job_master

**Urgency**
low

**Are you planning to fix it**
yes

**Additional context**
no

[2022-02-11 19:27] HelloHorizon commented on #14994
Thanks for reporting @lynus ! Look forward for your fix :)

[2022-02-11 22:04] ZhuTopher commented on #14924
Not sure why you're seeing no `containerHost` value. From my understanding of the [original issue](https://github.com/Alluxio/alluxio/issues/11172#issuecomment-605620207) which introduced that field, if a worker is deployed in a k8s Pod that metadata needs to exist for routing to work properly.
- Our current [Helm chart](https://github.com/Alluxio/alluxio/blob/93e5d0c9fe2effae9e0463fa6d7008d25afef

[2022-02-11 22:45] ZhuTopher commented on #14924
**UPDATE:** from a working session with @ssz1997 and @jja725 we found that the environment deployed by Fluid does _not_ include the `ALLUXIO_WORKER_CONTAINER_HOSTNAME` variable. Adding it does not resolve the issue though.

[2022-02-11 23:42] jja725 commented on #14924
While using the same env, loadCommand works fine but distributedLoad has a connection issue. Although they are using the same code pattern.

[2022-02-12 00:18] #14976 closed

[2022-02-12 03:03] JySongWithZhangCe opened #14996 "Support REST or Java API to submit distributed jobs"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I want to submit distributed jobs with my data management service.

**Describe the solution you'd like**
I can call REST / Java API to submit distributed jobs, and check job state either.

**Urgency**
Urgent. Without API support, it's hard to auto handle data management.

[2022-02-12 07:49] JySongWithZhangCe commented on #14996
@yuzhu @maobaolong I have created the feature request here.

[2022-02-13 03:54] bzheng888 commented on #14780
@LuQQiu Yes, it seems to look like this

[2022-02-14 11:37] wukong1992 opened #14999 "alluxio remote read slow than read local disk"
**Alluxio Version:**
2.7.3

**Describe the bug**
I read from local disk and alluxio(cached, I load first!)

from alluxio:

`bash-5.0# time alluxio fs cat /5G.file > /dev/null

real        0m5.791s
user        0m11.820s
sys        0m4.344s`

from local
`bash-5.0# time cat /tmp/5G.file > /dev/null

real        0m1.155s
user        0m0.001s
sys        0m1.154s`

And I test my network bandwidth with i

[2022-02-14 11:38] #14988 closed

[2022-02-14 11:38] #14987 closed

[2022-02-14 11:38] #14986 closed

[2022-02-14 19:49] HelloHorizon commented on #14999
@wukong1992 please refer to the existing test regards of the speed of RamDisk. Compare to the system call cat, the Alluxio cat is not performance-optimized and we are not focusing on the speed of the cat in most scenarios. If you are interested in Alluxio performance, please refer to https://docs.alluxio.io/os/user/stable/en/operation/StressBench.html

[2022-02-14 19:49] #14999 closed

[2022-02-14 22:39] ggezer commented on #11711
Discussion moved to https://github.com/Alluxio/alluxio/issues/14041

[2022-02-14 22:39] #11711 closed

[2022-02-15 00:56] yabola commented on #14994
@lynus @HelloHorizon Do you want to fix it? I can take it.

[2022-02-15 07:59] apc999 opened #15003 "Replace Powermock with Mockito"
**Summary**

- Powermock seems no longer maintained https://github.com/powermock/powermock/issues/1117 where the last commit on the master was in 2020
- Using Powermock with Java 11 causing excessive amount of "An illegal reflective access operation has occurred" warnings https://github.com/powermock/powermock/issues/969

This issue is asking to replace Powermock (mostly used for mocking static me

[2022-02-15 21:47] #14994 closed

[2022-02-16 03:08] apc999 commented on #14973
@lynus  what is the error message in your `master.log`?

[2022-02-16 03:44] cheyang opened #15007 "Umounting alluxio fuse can't work correctly"
**Alluxio Version:**
What version of Alluxio are you using?
2.7.2

**Describe the bug**
A clear and concise description of what the bug is.

1. Run `umount alluxio_fuse-mount`, for example `umount /runtime-mnt/alluxio/default/serverless-data/alluxio-fuse`
2. From the fuse log:

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**

[2022-02-16 07:50] dyiopd opened #15011 "Failed to Build The Project"
**Alluxio Version:**
What version of Alluxio are you using?
2.7.0

**Describe the bug**
A clear and concise description of what the bug is.
When building the project,  the compiler shows the error that cannot find the symbol Class UfsConstants.
There is no UfsConstants Java file in this project.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)
Clone the wh

[2022-02-16 21:37] apc999 commented on #15011
@dyiopd  have you tried running `maven` first out side Intellij.
It may require generating some constants first using certain maven plugins

here is the instruction https://docs.alluxio.io/os/user/stable/en/contributor/Building-Alluxio-From-Source.html
and let me know if this works for you

[2022-02-16 22:51] #10966 closed

[2022-02-16 23:27] LuQQiu opened #15015 "JNIFuse crash when DetachCurrentThread"
**Alluxio setting:**
- Version 2.7.2
- 40 worker nodes with 40 standalone fuse pod for serving read requests
- Kubernetes

**Workload:**
- 2TB total data (30K files * on average 50MB each)
- Each training node gets a subset of the files to read from, each node get the file names of 1/40 of the dataset.
- Each node reads those files from Alluxio Fuse using `torch.utils.data.Dataloader`.
[code]
file

[2022-02-16 23:32] LuQQiu commented on #15015
First, because code exists in `JavaVM_::DetachCurrentThread()`, we relooked into libjnifuse codes, see whether we are following the JNI best practice about how to get java env, how to attach and detach threads.
The fixes are in https://github.com/Alluxio/alluxio/pull/15000

[2022-02-16 23:33] LuQQiu commented on #15015
with this new fix, core crash still happens, we search on the network and find
https://github.com/intel-iot-devkit/tinyb/issues/135#issuecomment-435714276
which contains the same core error dump message.

In the ticket,
[code]
which means that the thread may be a JAVA thread and gets cleaned by JVM GC already. If we tried to detach a cleaned thread, will throw NullPointerException and error out. *

[2022-02-16 23:39] LuQQiu commented on #15015
The workaround mentioned by https://github.com/intel-iot-devkit/tinyb/issues/135
with PR https://github.com/intel-iot-devkit/tinyb/pull/153 doesn't work in our experiments.
Its core logic has already been included in PR https://github.com/Alluxio/alluxio/pull/15000 and validated to have the same core crash issue.

We search online and find other jni related Softwares have the same issue but most o

[2022-02-16 23:41] LuQQiu commented on #15015
Special thanks for @Nizifan for reporting the issue, helping debugging, and validating different changes

[2022-02-17 00:28] ssz1997 commented on #14924
The reason fluid is not picking up `ALLUXIO_WORKER_CONTAINER_HOSTNAME` is because they set `Worker.HostNetwork` to true.

By fixing this, Alluxio in Fluid has the environment variable, which is the pod IP, and it is actually different the node IP.

In the job worker log, we see this
[code]
So it know about this env variable. However it still fails with the same error `cannot connect to remote bloc

[2022-02-17 02:00] jja725 commented on #14924
[code]
I think we are using the correct PodId to connect to the worker pod after setting env in fluid but still get a connection error. And we are able to call this address in job worker. And it's fluid specific problem.
@ZhuTopher any thought on this? In the mean time we would let Fluid people aware of this problem as well.

[2022-02-17 03:22] LuQQiu commented on #15007
may related to https://github.com/Alluxio/alluxio/issues/15015

[2022-02-17 07:24] xichen01 commented on #14908
I am developing the authentication function of fsadmin subcommands, I have encountered some problems.
I currently implement it is to authenticate in the server-side RPC. Alluxio's server does not have a "fsadmin server RPC" to handle all fsadmin subcommand of requests. In fact, fsadmin will call `Blockmaster`, 'FileSystemMaster' 'Jobmaster', and other RPC Server.
For example, `fsadmin report` will

[2022-02-17 08:05] dyiopd commented on #15011
It works. Thanks a lot.

[2022-02-17 08:05] #15011 closed

[2022-02-17 16:33] yabola commented on #14996
@JySongWithZhangCe Do you mean that commands like distributedLoad need to have rest API?
@yuzhu What is your suggestion, may be I can try it.

[2022-02-17 18:30] LuQQiu opened #15016 "Fuse cannot launch successfully"
**Alluxio Version:**
2.7.2

**Describe the bug**
out of 40 training nodes, usually one or two will fail to launch Alluxio Fuse pod. The Fuse (looks like) launches successfully in the beginning, after several minutes, the fuse pod crash without logs. There are two behaviors:
- Log shows Alluxio unmount, looks more like a normal exit
- Fuse pod hang, mount point is an empty directory without showing

[2022-02-17 18:37] LuQQiu opened #15017 "Alluxio Fuse exits with transport not connected"
**Alluxio Version:**
Alluxio Fuse: 2.8.0-SNAPSHOT-3eabe2925d4ef0c6e6e2e3c2a6b7f94b575bcddc
Alluxio servers: 2.7.2

**Describe the bug**
40 Fuse training nodes launches to read data from Alluxio.
Most of the training nodes succeed, but a small amount of training nodes failed to read data from Alluxio.
Fuse pod is likely crash with error `transport not connected`.

[alluxio-fuse-2.log](https://githu

[2022-02-17 18:39] LuQQiu commented on #15017
This problem is likely because version mismatch.
Change Fuse version to 2.7.2, and this issue haven't occurred again

[2022-02-17 19:13] LuQQiu opened #15018 "Fuse ConnectionAbortedError: [Errno 103] Software caused connection abort"
**Alluxio Version:**
Alluxio 2.7.2 or 2.8.0

**Describe the bug**
40 training nodes launch Alluxio Fuse and read data from Alluxio.

Occur `ConnectionAbortedError: [Errno 103] Software caused connection abort: '/cache/hdfstest-global/20220115/part-13577.gz'`

Looking at the normal logs:
The operation sequence is
- 2022-02-16 09:42:43 to 2022-02-16 10:02:48 13 GetConfigHash
- 2022-02-16 10:03:01 Fu

[2022-02-17 19:17] LuQQiu commented on #15018
Previous hyphothesis:
- Fuse.getattr(/) cannot get the correct content
- Fuse.getattr(/) find that currrent user do not have the permission to readdir(/).
   - Alluxio 2.7.3 introduce `-o default_permissions` to force the permission check. Alluxio related permissions can be closed by setting `alluxio.fuse.permission.check.enabled = false` and `alluxio.fuse.user.group.translation.enabled=false`

Va

[2022-02-17 19:20] LuQQiu commented on #15018
One thing to notice between the relatively correct log and error log is that:
Correct log -> Finish get config hash from master, and then perform the Fuse.getattr(/), Fuse.getattr(/) happens at a relatively later time.
Error log -> Fuse launches and immediately Fuse.getattr(/) is called. Then other operations like get config hash from master is run. Fuse.getattr(/) may get the wrong value.

[2022-02-17 19:30] LuQQiu commented on #15018
Approaches:
1. Let Fuse pod run for a short period and then execute actual workloads on top, see if the problem can be reproduced
2. Log the first Fuse.getattr(/) results (require repackaging), or python client ls the cache folder and print the results, to validate what's the results of Fuse.getattr(/)
3. Alluxio side can have a high concurrent program that keep doing ls on Fuse mount point while

[2022-02-17 19:48] LuQQiu opened #15019 "DistributedLoad shows incorrect cache ratio, client/fuse stuck"
**Alluxio Version:**
2.7.2

**Describe the bug**
After Alluxio clusters launched and distributedLoad finished,
Part of the files' cache ratio is not 100%, some are 84%, some are 451%.

After that, running alluxio master copyToLocal will stuck.
Fuse read will be stuck.
No error was found in logs.

[code]
And the file size is different from the actual file size
[code]

Restart Alluxio cluster and re

[2022-02-17 20:04] ZhuTopher commented on #14924
Given the above, unfortunately I have no idea what the problem might be. Can you narrow down the exact commit between 2.7.0 and 2.7.2 where this issue presents itself?
- Do some git bisecting (i.e: a binary search) to find the commit; I know it will be slow given that you need to deploy Alluxio in k8s

[2022-02-17 21:35] jja725 commented on #14996
For your guys' awareness, we gonna have some job service request submission changes in 2.8.0 and this feature request would be easier to accomplish after that.

[2022-02-18 00:13] LuQQiu commented on #15018
In the correct log, Alluxio Fuse mounted -> 20 minutes passed -> getattr(/) is called and all other fuse operations is called
In the incorrect log, Alluxio Fuse mounted -> getattr(/) is called immediately without any break.

Question:
- 1. Why the time between Alluxio Fuse mounted and `Fuse.getattr(/)` can be that short (within the same second) or that long (20 minutes)?
  - Is the `mount` in the

[2022-02-18 03:20] Nizifan commented on #15018
Thanks @LuQQiu for creating the issue !
This is not 100% percent hit bug and never observed in single fuse case.

[2022-02-18 03:36] Nizifan commented on #15019
Correct some claim.
No distributed load have been run. I use a distributed program to read all the files under 1 folder and observe most of them (38 out of 40), stuck in reading some file and this behavior is consist.
The majority of file is correct, while there are some hole in files without 100% percent loaded percent.

This issue happen when I restarted master in k8s style. And for some file th

[2022-02-18 04:34] jja725 commented on #15019
@Nizifan could you provide related logs and probably jstack so we can analyze based on that?

[2022-02-18 04:56] jiacheliu3 commented on #14807
@LuQQiu @lilyzhoupeijie Is this issue still active?

[2022-02-18 04:59] vimalKeshu commented on #14996
In general, if we see the trend, many organisations take the open source tools and write their own external systems as per business need which on high level, looks like, provide the integration among open source tools to achieve some level of automation.

Right now, from the integration perspective, alluxio  has only cli interface to integrate it with external system. The cli interface has also it

[2022-02-18 05:09] vimalKeshu commented on #14974
@HelloHorizon thank you. let me study the code and come up with the initial PR.

[2022-02-18 05:22] jja725 commented on #14974
@vimalKeshu We are currently designing and implementing the async job submission feature(somehow similar to what you are thinking in the other PR, return the job id and later, external system calls/polls the job status) which would be released in 2.8.0 and the rough timeline would be around April. I feel like there's duplicate work if we plan to update the current distributedLoad CLI response. But

[2022-02-18 05:40] TrafalgarZZZ commented on #14874
Same problem here. And I found that it only occurs when I am using Alluxio 2.7. When I change it back to Alluxio 2.5.0, it works well.

[2022-02-18 05:47] jiacheliu3 commented on #14618
The issue is because the master is 2.7 and worker is 2.6. In 2.7 the master defaults to have `alluxio.master.worker.register.lease.enabled=true` and expects the worker to request a lease.
https://docs.alluxio.io/os/user/stable/en/operation/Scalability-Tuning.html#worker-register-lease

The 2.6 worker will be able to register if the master does not expect a lease. That is done by setting `alluxio.m

[2022-02-18 05:47] #14618 closed

[2022-02-18 06:06] JySongWithZhangCe commented on #14996
Yeap~

[2022-02-18 07:44] Nizifan commented on #15019
@jja725
I restart the instance so this is not reproducible at this time.
Also I check fuse and master log but found nothing special.

[2022-02-18 08:00] wukong1992 commented on #14843
How to get these metrics.

[2022-02-18 18:26] ssz1997 commented on #14843
@wukong1992 You can refer to this page in Alluxio doc: https://docs.alluxio.io/os/user/stable/en/operation/Metrics-System.html

[2022-02-18 21:45] LuQQiu commented on #15017
Next steps: Add Alluxio logs to get more information about this type of error.
Instead of letting Fuse exit without any information, we need to get more info.

[2022-02-18 21:51] LuQQiu opened #15026 "Read from caching data much slower than read from UFS directly"
**Alluxio Version:**
2.7.2

**Describe the bug**

Alluxio cluster is launched with 1 master and 8 workers. 40 training nodes are launched to read data from 40 co-located Fuse pods. Each Fuse pod reads 1/40 of the total data.
Data amount is 2TB total, about 70MB each, about 30k files. Each Fuse pod reads 50GB data.

Clean the whole cache during 15:00

the first round cold read from Alluxio is very

[2022-02-19 00:16] ssz1997 commented on #14924
@ZhuTopher @jja725 The root cause is Fluid by default set `alluxio.job.worker.threadpool.size` to 164, and in Alluxio the default is 10. The 164 threads seems flooding the connection, which errors out saying `cannot connect to remote block worker`.
I set this property to 10 in Fluid and no more such errors.
@apc999 @yuzhu FYI

[2022-02-19 00:53] LuQQiu commented on #14924
Why `alluxio.job.worker.threadpool.size= 164` is too big for the new implementation, and relatively reasonable for the old one?

Is it possible that the distributedLoad with 2.7.3 slow while loading millions of small file also related to the unreasonable huge number of connections (grpc threads?)?

[2022-02-19 01:31] LuQQiu opened #15027 "Add fuse connection/parameter checking before launching JniFuseFileSystem"
**Is your feature request related to a problem? Please describe.**
Before launching the Alluxio Fuse, or before mounting the Fuse mount point,
add a connection check to make sure the Fuse pod can connect to the remote Alluxio master.

Add some Fuse parameter check, including but not limiting to
- Make sure Alluxio path is valid: Add Alluxio path check to make sure the Alluxio path to be mounted to

[2022-02-19 16:37] yabola commented on #15003
@apc999 I can try to complete it

[2022-02-20 10:08] FounderHy commented on #14821
@JySongWithZhangCe hello, i also try to use alluxio with spark on iceberg, but i don't know how to do it. Could you share some docs

[2022-02-20 19:00] LuQQiu commented on #14985
@liangrui1988 can you try using
[code]
and see what's the results?
For more details, please refer to https://docs.alluxio.io/os/user/stable/en/operation/Admin-CLI.html#doctor

[2022-02-20 19:31] LuQQiu commented on #14843
@ssz1997 can you help update the progress of this issue

[2022-02-21 02:48] adios666 commented on #12341
Hi all! We encountered the same problem in Alluxio 2.4.1 and Huawei OBS. The file shows 0% when I ran 'alluxio fs ls'. I tried to run 'alluxio fs checkConsistency -r' and I found that the file is disappeared. It seems that this file is not written to Alluxio correctly. Is there any progress on this issue?

[2022-02-21 06:17] LuQQiu commented on #15017
read 90/100 and then crash

[2022-02-21 06:23] LuQQiu commented on #15017
[alluxio-fuse-17-warm.log](https://github.com/Alluxio/alluxio/files/8106732/alluxio-fuse-17-warm.log)
[alluxio-fuse-35-cold.log
[alluxio-fuse-9-cold.log](https://github.com/Alluxio/alluxio/files/8106734/alluxio-fuse-9-cold.log)
](https://github.com/Alluxio/alluxio/files/8106733/alluxio-fuse-35-cold.log)

[2022-02-21 06:33] LuQQiu commented on #15017
Log only occur for < 1min, but application succeed runs for 7 to 1h, majority of data read, random place occur problem.

[2022-02-22 06:30] lilyzhoupeijie opened #15032 "change JobDoesNotExistException log: turn jobid to number format"
**Alluxio Version:**
alluxio 2.8.0

**Describe the bug**
log as follows:
[code]

**Expected behavior**
the log turn from  【The job of id 1,641,894,092,546 does not exist】  to 【The job of id 1641894092546 does not exist】

[2022-02-22 08:29] liangrui1988 opened #15034 "ERROR Format - Failed to format java.nio.file.AccessDeniedException: /user/alluxio/journal"
`2022-02-22 15:24:08,280 DEBUG AlluxioProperties - Property sun.cpu.isalist from source SYSTEM_PROPERTY is unrecognized
2022-02-22 15:24:08,336 INFO  Format - Formatting master journal: hdfs://yycluster02/user/alluxio/journal/
2022-02-22 15:24:08,384 ERROR Format - Failed to format
java.nio.file.AccessDeniedException: /user/alluxio/journal
        at alluxio.master.journal.raft.RaftJournalSystem.f

[2022-02-22 08:52] beinan commented on #14874
Hi @HelloHorizon & @fuzhengjia , I think it might be caused by this change https://github.com/Alluxio/alluxio/commit/95d69b2e7f0651f2c5fb01dca3fe54bde861c993 because it's just failing to list the root dir.   I think the issue could be reproduced on both s3 and oss.

[2022-02-22 09:40] xwzbupt commented on #14767
/assign @xwzbupt

[2022-02-22 12:09] YuangZhang opened #15035 "Fix document error"
**Page**
[s3 Storage Integrations](https://docs.alluxio.io/os/user/stable/cn/ufs/S3.html)

**Summary**
In Root Mount Point(Chinese version), modifying config conf/alluxio-env.sh should be modify  conf/alluxio-site.properties
![image](https://user-images.githubusercontent.com/28397485/155129221-0b9e033f-c30f-4615-b879-7ce26e249dda.png)

[2022-02-22 12:13] YuangZhang commented on #15035
/assign @YuangZhang

[2022-02-22 13:52] liangrui1988 commented on #15034
If you kill the master manually or soTP the master, the service will automatically switch to the standby master.Still need what configuration, not configuration alluxio. Master. Journal. Folder = HDFS: under the condition of xx

alluxio fsadmin journal quorum elect -address fs-alluxio-master01.hiido.host.yydevops.com:19200

[2022-02-22 16:07] HelloHorizon commented on #14874
#14664 related pr

[2022-02-22 18:58] LuQQiu opened #15037 "Improve Fuse.getxattr() with client side cached results"
**Is your feature request related to a problem? Please describe.**
Fuse.getxattr() is called pretty often.
Go to master to get total capacity, used capacity and free capacity will create a lot of unneeded RPCs.

**Describe the solution you'd like**
Can save the result on fuse side.
add a configuration to decide the period that that information should be re-fetched from master.
Afer the configurati

[2022-02-22 19:56] jenoudet commented on #14915
While reviewing #14983, I was unable to reproduce this error. The overview page seems adequately displayed when using NFS as UFS. Could you please provide more detailed steps to reproduce the error? Specifically, how you mounted NFS, and your Alluxio configuration found in `conf/alluxio-site.properties`.

[2022-02-22 21:09] #15032 closed

[2022-02-22 23:37] maobaolong commented on #14992
@bzheng888 Please paste the introduction of the issue you create, thank you!

[2022-02-22 23:55] LuQQiu commented on #15017
https://github.com/Alluxio/alluxio/pull/15038

[2022-02-22 23:59] LuQQiu commented on #15017
Alluxio Fuse process launched and logs normally -> logs disappear after 1 second but Alluxio Fuse process is still serving requests (application can still read normally) -> Fuse mount point transport not connected after reading more than 60% of data.
@Nizifan, can you help check the following information
- /var/log/message -> may tell us whether this process is killed by the operating system
- whe

[2022-02-23 00:08] LuQQiu commented on #15026
Try to scale down the problem:
Fuse with 1 master, 1 worker, and 5 Fuse pods (scaled down from 8 worker and 40 Fuse pods). The load is same for this worker and each Fuse pod. Each Fuse pod still reads about 50GB data. worker to Fuse pods ratio is similar.
But with this setup, reading from cache is faster than reading from UFS, which is the expected behavior

[2022-02-23 00:12] LuQQiu commented on #15026
Rerunning the test with 1 master, 8 worker, and 40 Fuse pods.
Master - really low CPU usage (below 10%), no much network
Worker - medium level CPU usage (about 10 - 30%), many disk read, network read and send
Fuse - a low CPU usage (3-30%), some write to disk?, receive a lot of data through network

[2022-02-23 03:16] Binyang2014 commented on #14917
Reference from k8s community https://github.com/kubernetes/kubernetes/issues/70013

[2022-02-23 07:30] Binyang2014 commented on #14917
Add seems there is an example fix https://github.com/kubernetes-sigs/blob-csi-driver/pull/117/files. This requires k8s version 1.19+. After adopting this fix, restart the csi-nodserver still broken all fuse mount point.
But after csi-nodeserver restarted, it will remount the broken mount point automatically, which can partially mitigate this issue.
@LuQQiu  @ssz1997 PTAL for this approach

[2022-02-23 08:33] liangrui1988 commented on #14985
alluxio fsadmin doctor configuration
alluxio.master.keytab.file=/etc/alluxio/conf/alluxio-master01.keytab
alluxio.master.keytab.file=/etc/alluxio/conf/alluxio-master02.keytab

The two configurations have the same requirements and have been corrected.But this is not an exception and should display the prompt specification.Thank you very much

[2022-02-23 09:25] liangrui1988 opened #15041 "AlluxioJobWorker jvm env parameter configuration"
**Page**
https://docs.alluxio.io/os/user/2.7.2/cn/operation/Configuration.html#use-environment-variables

**Summary**
AlluxioJobWorker
MaxHeapSize              = 32210157568 (30718.0MB)

![image](https://user-images.githubusercontent.com/7435076/155291276-fe2c7a76-24f6-42c3-98b7-5b05d1133762.png)

ALLUXIO_JOB_WORKER_JAVA_OPTS="-Xms2g -Xmx4g" ?这样可以吗？

[2022-02-23 09:30] liangrui1988 commented on #15041
I tried it and it worked, but the document should be completed
 MaxHeapSize              = 4294967296 (4096.0MB)

[2022-02-23 11:36] kevincai opened #15042 "Allocate extra large memory when generating LostFileCount metric"
**Alluxio Version:**
Alluxio v2.7.0

**Describe the bug**
[code]

**To Reproduce**

1. Cache million of files into workers
2. Take down workers, so master will mark the workers as LOST, and mark all the blocks on the workers as lost blocks
3. access master metrics REST interface: /metrics/prometheus/, the error will be printed in master log.

**Expected behavior**
A better way to get the number of

[2022-02-23 19:25] LuQQiu commented on #15026
@Nizifan
Compare `Cluster_BytesReadUfsAll` and `Cluster_BytesReadRemote` is not apple to apple comparison.
They are at different levels in the code base.

BlockReadHandler (BytesReadRemote recorded at this level)
  -> getDataBuffer
          -> UFSBlockReader(BytesReadUfs recorded at this level)

BytesReadRemote includes more logics (locking, executor execute)
and BytesReadUfs is simply getting da

[2022-02-23 19:26] #14985 closed

[2022-02-23 20:50] LuQQiu commented on #15026
[jstack-worker.txt](https://github.com/Alluxio/alluxio/files/8127689/jstack-worker.txt)
[jstack-master.txt](https://git
[jstack-fuse.txt](https://github.com/Alluxio/alluxio/files/8127691/jstack-fuse.txt)
hub.com/Alluxio/alluxio/files/8127690/jstack-master.txt)
Get the jstack when running read from alluxio cache.

From worker jstack: there are only one BlockReader thread, only one file is currently

[2022-02-23 21:04] LuQQiu commented on #15026
Why this worker has only one BlockReader thread (only serving one file read request)
- we are not taking jstack in the middle of the read from cache workflow? (@Nizifan can you help validate it, or take multiple worker jstacks from multiple workers)
- The worker cache is unbalanced, some workers have more data cached locally while some workers have less. So the load for each worker is different
-

[2022-02-23 21:13] LuQQiu commented on #15026
@Nizifan Some suggestions for investigating this issue
1. After read from Ufs, check if the worker cached size is balanced. whether each of the worker cached 1/8 of the total data size?
2. During the read from UFS, and read from Alluxio cache (for comparison)
(1) take multiple worker `jstack` in the middle of the read process,  if the worker cache is balanced, choose random two workers. If it's un

[2022-02-23 21:21] LuQQiu commented on #15026
For more information about thread profiling with async-profiler
https://github.com/jvm-profiling-tools/async-profiler
Profiling the CPU time
[code]
The command launches after your program running, after the reading from UFS/Cache starts,
the time duration is better to be able to cover most of the test time, e.g. 15min for read from ufs, 30min for read from cache.

Profiling the wall-clock may also

[2022-02-24 02:14] jja725 commented on #15041
yes, you can use ALLUXIO_JOB_WORKER_JAVA_OPTS to tune the job worker. Thanks for finding this issue in the doc and we would update that soon!

[2022-02-24 02:47] liangrui1988 commented on #15034
![image](https://user-images.githubusercontent.com/7435076/155447822-0cd2e2d9-38ac-4346-aa53-b52cde412742.png)
After the stop leader master is stopped, the service is unavailable and a new leader is not automatically elected

Failed to get the leader master.

[2022-02-24 03:52] packageman commented on #14915
Hi @jenoudet , It is the journal path(`alluxio.master.journal.folder` default to /journal) that is mounted on NFS not UFS。

[2022-02-24 07:31] ccy00808 opened #15048 "New master join cluster and become the leader, the alluxio cluster is not working"
**Alluxio Version:**
ALL

**Describe the bug**
Note: ratis can automatically add new nodes to the group.
1.  When the master node is replaced and becomes the leader， follower and worker not worker， because they are not able to identify the new leader。
2. The master address is statically set in conf，After ratis elects the leader successfully, the "alluxio.master.embedded.journal.addresses" in the c

[2022-02-24 19:04] sleshJdev commented on #12459
I doesn't seem to be related nether alluxio nor spark. I use vanilla netty and came across with the same issue. Not found solution yet but would be thankful for any help

[2022-02-24 19:32] HelloHorizon commented on #15048
@jenoudet @tcrain can you take a look?

[2022-02-24 19:38] #15035 closed

[2022-02-24 19:39] HelloHorizon commented on #15034
@jenoudet @tcrain can you take a look?

[2022-02-24 20:02] ggezer opened #15053 "Throttle snapshot transfers"
**Summary**
Currently the leading master requests snapshot from followers every time the internal journal state machine triggers a snapshot.
Without proper throttling, this would mean constant snapshot transfer under heavy load.

It's ideal to delay requesting snapshot for some internal trigger,  so leading master's download bandwidth can be better utilized for serving user requests. Triggers coul

[2022-02-24 22:28] beinan commented on #14874
synced with @fuzhengjia offline,  we're on it and we will get back to you guys soon once we have a solution.

[2022-02-25 02:07] maobaolong commented on #14996
+1 for this feature request, and `load` `free` and any other command line tools is necessary too.

[2022-02-25 08:29] liangrui1988 commented on #15034
I tried to extend another master node, then stopped the master node and switched over normally. Why can't the two nodes be switched over?Do I have to have 3 masters?It doesn't make sense, and then I try to stop another node, but again it doesn't work, so I have to have two master nodes alive to access it.

[2022-02-28 01:23] yabola commented on #15037
@LuQQiu
Just a guess I don't know if it's reasonable. A batch of getxattr requests, requesting the parent node, may also have subsequent requests for child nodes (such as the ls command). If we get back the attr of multiple paths in one RPC request, we may reduce some RPC requests?

[2022-02-28 01:49] kevincai commented on #15042
The cost to get accurate number of Files are high. A workaround is to get an approximate number of counts for the metrics collection.

1. Every time MasterLostFileDetector heartbeat will update the number of lost files
2. Metric sink only read the static counter from MasterLostFileDetector heartbeat.

so the metric will be updated the same frequency as master LostFileDetector heartbeat.

Long term

[2022-02-28 03:54] #14682 closed

[2022-02-28 09:20] liangrui1988 opened #15069 "Spark SQL syntax: How to configure cache as ALLuxio as CAHCE storage"
Spark SQL syntax, how to configure cache as alluxio as cahCE storage, non-Scala script writing, but pure SQL syntax, because we big data unified platform SQL language, how to configure SQL as alluxio, did not see the related description

https://spark.apache.org/docs/3.0.0-preview/sql-ref-syntax-aux-cache-cache-table.html
Syntax:
CACHE [ LAZY ] TABLE table_name
    [ OPTIONS ( 'storageLevel' [ = ]

[2022-02-28 12:28] xichen01 commented on #14969
/assign @xichen01

[2022-02-28 18:55] HelloHorizon commented on #15069
Hey @liangrui1988 , I checked into this doc and it seems to use the Spark internal data structure to store the cached data instead of an external storage system. Can you provide more details what you want to do?

[2022-02-28 18:56] HelloHorizon commented on #15048
ping @jenoudet

[2022-02-28 18:57] #14915 closed

[2022-02-28 20:58] githubjianli opened #15073 "trino skip ufs to access s3 layer directly"
**Alluxio Version:**
What version of Alluxio are you using?
2.4.1-1
**Describe the bug**
A clear and concise description of what the bug is.
When query against to alluxio table, somehow it will skip to reading data from ufs but directly trying to access the underlying source s3 bucket(we have s3 bucket mounted to ufs already).

Slack thread: (https://alluxio-community.slack.com/archives/CEXGGUBDK/

[2022-02-28 21:37] ssz1997 commented on #14843
Use VisualVM to profile master, worker, job master, and job worker, while the distributedLoad job is running.

CPU usages all look normal. Memory usages all look normal other than job worker. Job worker keeps requesting more heap space. If there's no bound through jvmOption, job worker eats up all available heap space. If there is a bound through jvmOption, job worker still eats up the allocated h

[2022-02-28 23:34] LuQQiu commented on #15037
@yabola what i saw is a bunch of getxattr(/) operations without requesting child nodes.
I guess it's used to get the filesystem capacity

[2022-03-01 01:05] #15012 closed

[2022-03-01 01:59] ccy00808 commented on #15048
@jenoudet ,We have some machines that are often offline, and new machines are online at the same time. The newly online machine "alluxio.job.master.embedded.journal.addresses" sets the latest node set, and the old master cannot be recognized after being elected as the new leader.  so the cluster does not work. The impact of no change in cluster machines is controllable, but it has a greater impact

[2022-03-01 03:32] xichen01 commented on #9457
/assign @xichen01

[2022-03-01 03:52] liangrui1988 commented on #15069
`create temporary view product as
select
  id,
  product_key,
  algo
from hiidosdk.m_product_view
where is_filter_stat=0
;`
How do I store the data from this temporary table into alluxio?, because our platform is unified SQL, we cannot use RDD Save

[2022-03-01 03:52] liangrui1988 commented on #15069
![image](https://user-images.githubusercontent.com/7435076/156101598-493a1bc3-bbaa-40be-8056-2b3bb670b498.png)

[2022-03-01 05:55] xwzbupt commented on #15003
/assign @xwzbupt

[2022-03-01 09:06] Haoning-Sun opened #15079 "Fuse not support overwriting and appending operation with echo command for exist file"
**Alluxio Version:**
The branch which merged #14954 and #14957

**Describe the bug**
In Alluxio-Fuse, when use echo command to overwrite will report 'No such file or directory' error and to append will report 'File exists' error.

**To Reproduce**
Double execute "echo 'test' > test.out" or "echo 'test' >> test.out"

**Expected behavior**
Perform the append or overwrite operation correctly.

**Addi

[2022-03-01 13:04] liangrui1988 opened #15083 "UnsupportedFileSystemException No FileSystem for scheme ""alluxio"""
**Alluxio Version:**
2.7.2

**Describe the bug**
    "User class threw exception: org.apache.spark.sql.AnalysisException: org.apache.hadoop.hive.ql.metadata.HiveException: MetaException(message:Got exception: org.apache.hadoop.fs.UnsupportedFileSystemException No FileSystem for scheme ""alluxio"");; line -1 pos -1"

**To Reproduce**
https://spark.apache.org/docs/2.4.0/configuration.html#custom-had

[2022-03-01 16:31] yabola commented on #15037
@LuQQiu I only see that `mFileSystem.getStatus` generates RPC request. with `alluxio.user.metadata.cache.enabled`, fuse  can cache the meta . Isn't it enough?

[2022-03-01 19:29] jenoudet commented on #15034
In general, we recommend running an odd number of masters (3, 5, 7, etc...) in HA.
With regards to the `AccessDeniedException`, the EmbeddedJournal uses your local UFS to store its log files. Make sure you have access to that. If you do, we will need more logs to investigate if this issue happens again.

[2022-03-01 19:42] #8962 closed

[2022-03-01 19:56] HelloHorizon commented on #12341
Hey @beinan , can you take a look?

[2022-03-01 19:59] HelloHorizon commented on #14209
@jiacheliu3 what is the current status of this issue?

[2022-03-01 21:02] jenoudet commented on #15048
The mismatch comes from the fact that we currently do not support dynamic configuration propagation for Alluxio master addresses. Ratis can and does take into account new masters, but this configuration change current is not propagated to Alluxio. If you want this feature you will have to implement dynamic configuration propagation.

[2022-03-01 22:22] ZhuTopher commented on #14209
@HelloHorizon I re-reviewed the design doc on Dec. 14, 2021. Not sure if the doc has been changed since then or not. I believe Jiacheng wanted to take another look at it still?

I haven't re-reviewed this PR itself since my initial pass either.