[2019-10-04 20:02] ZacBlanco commented on #10042
@jiacheliu3 is there a reason you want to support java 9? Java 9 is not an LTS release and from my knowledge is no longer supported by OpenJDK. The next LTS after Java 8 is Java 11. There is already a ticket for supporting Java 11 in #9856

[2019-10-04 20:09] jiacheliu3 commented on #10042
@ZacBlanco I don't really have a use case. I'm just curious why only v1.8 is specified in the script and thought generally it's a good idea not to ignore the new versions. So I created this issue in case the hardcoded version is a potential bug.

Now the reason why Alluxio stays with v1.8 makes sense to me. This is a duplicate issue to #9856 so I will close this one. Thanks for the explanation.

[2019-10-04 20:09] #10042 closed

[2019-10-04 23:21] madanadit opened #10047 "EMR script does not work in all regions"
**Alluxio Version:**
2.0.1

**Describe the bug**
Launch an EMT cluster in region us-west-1, the hostname fqdn is `<>..us-west-1.compute.internal` which breaks our EMR script which assumes `<>.ec2.internal`

**To Reproduce**
^

**Expected behavior**
N/A

**Urgency**
Medium

**Additional context**
N/A

[2019-10-04 23:24] ns1123 commented on #10047
I wish AWS didn't have these silly exceptions for different regions...
https://docs.aws.amazon.com/vpc/latest/userguide/VPC_DHCP_Options.html

[2019-10-05 03:07] yangjf2019 commented on #10032
I'm not sure if I want to modify this file in this directory. Can you confirm it? Thank you!
`Java class: alluxio.cli.fs.command.MountCommand`
`Directory: alluxio/shell/src/main/java/alluxio/cli/fs/command`
Do we need to modify the `run(CommandLine cl)`  method of the MountCommand class?

[2019-10-05 03:19] yangjf2019 commented on #10032
My code as follows:
` String cmd = stripLeadingHyphens(args[1]);`
`  if (!READONLY_OPTION.getLongOpt().equals(cmd) ||!SHARED_OPTION.getLongOpt().equals(cmd) || !OPTION_OPTION.getLongOpt().equals(cmd)) {`
     ` // Unrecognized option (we didn't find the option in our dict)`
     ` System.out.println(String.format("Unrecognized option \"%s\".", cmd));`
     ` return -1;`
   ` }`

[2019-10-05 03:19] yangjf2019 commented on #10032
Thank you :)

[2019-10-05 04:04] cheyang commented on #10011
Thanks @jiacheliu3 , I will also help review.

[2019-10-07 04:48] cheyang opened #10050 "Why loading data took more than 1 second"
**Alluxio Version:**
2.1.0

**Describe the bug**
When I was testing the performance of loading data to OSS (https://github.com/Alluxio/alluxio/pull/10049/files), I noticed it took nearly  3 seconds in alluxio rather than getting the data from OSS

[code]
[code]

And even the data is already in alluxio, I notice it also took more than 1 second to get result.

[code]
Any suggestions on improving

**

[2019-10-08 10:31] liuhongtong opened #10061 "Worker registers timeout when starting"
**Alluxio Version:**
2.0.1
**Describe the bug**
Worker registers timeout when starting

There is no new log in master. worker log:
[code]

**To Reproduce**
N/A

**Expected behavior**
N/A

**Urgency**
N/A

**Additional context**
N/A

[2019-10-08 12:29] cheyang opened #10062 "Worker failed to close block reader due to Premature end of Content-Length delimited message body on cold read"
**Alluxio Version:**
What version of Alluxio are you using?
2.1.0-snaphost

**Describe the bug**
Running Distributed TensorFlow (4 workers) training on alluxio fuse, and the data is stored in OSS, no data in alluxio at the first.

1. The tensorflow training is failed due to failed to read the data: /data/imagenet/train-00464-of-01024

[code]

2. Check the alluxio fuse logs in node 192.168.0.117, l

[2019-10-08 18:11] #9896 closed

[2019-10-08 18:18] ZacBlanco commented on #10061
@liuhongtong can you share your `alluxio-site.properties` for your master+worker?

[2019-10-08 18:43] #9969 closed

[2019-10-08 18:46] ggezer opened #10066 "Allow backups on any file system"
**Is your feature request related to a problem? Please describe.**
Currently backup path should either be in root-ufs or local. This means if your backup resides anywhere else, you should first make a copy.

**Describe the solution you'd like**
Allow reading/writing backups from arbitrary file system schemes.

**Additional context**
https://github.com/Alluxio/alluxio/pull/10046

[2019-10-08 18:46] ggezer commented on #10066
@ns1123 WDYT?

[2019-10-09 00:33] cheyang opened #10068 "TenosrFlow Distributed training causes alluxio worker OOM"
**Alluxio Version:**
2.1.0

**Describe the bug**
I run Distributed TensorFlow (4 workers) training on alluxio fuse, and the data is stored in OSS, no data in alluxio at the first. The alluxio worker's max Heap is set 3600M. And I run it with the performance enhancement: https://github.com/Alluxio/alluxio/pull/10049

1. The Tensorflow training is failed  due to read the data:

[code]

2.  I can see

[2019-10-09 00:37] cheyang commented on #9345
I think it's caused by:

[code]

No available direct memory. But my real concern why 4080MB is not enough for alluxio fuse.

[2019-10-09 03:22] cheyang opened #10070 "Failed to load the data from alluxio due to NullPointerException"
**Alluxio Version:**
2.1.0-snapshot

**Describe the bug**

Failed to load the data from alluxio:

[code]

And from alluxio job master I can see

[code]

And from alluxio job worker I can see

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe t

[2019-10-09 05:48] apc999 commented on #9525
@madanadit  is this issue related to your fix recently?

[2019-10-09 05:55] cheyang commented on #10070
[diagnose_alluxio_1570589841.tar.gz](https://github.com/Alluxio/alluxio/files/3705773/diagnose_alluxio_1570589841.tar.gz)

[2019-10-09 06:06] apc999 commented on #10070
@calvinjia @bradyoo , here is a reported job worker issue with `NullPointerException`. Can you take a look?

[2019-10-09 06:24] apc999 commented on #9637
@cheyang if you have an easy way to reproduce the "onStreamError" message, please create an issue as errors like this are supposed to be suppressed by `log4j.logger.io.grpc.netty.NettyServerHandler=OFF` set in `log4j.properties`

[2019-10-09 07:03] apc999 commented on #10032
@yangjf2019 thanks for your input. Here we want to actually have a more general solution. Instead of working with `MountCommand` alone, how about adding the following line before [here](https://github.com/Alluxio/alluxio/blob/c19798b11e5592636ee1beb5f53788832ae764e8/core/common/src/main/java/alluxio/cli/AbstractShell.java#L125)
[code]

In this way, wrong argument will be shown
[code]

[2019-10-09 17:21] madanadit commented on #9525
it could be. @cheyang could you reproduce this with the 2.1.0-SNAPSHOT image? I recently fixed an alluxio client memory leak for another issue you had reported earlier

[2019-10-09 17:21] apc999 commented on #10062
@cheyang  I did some simple investigation. It seems a HTTP response to Alluxio worker from the UFS service (OSS in this case), that the server claimed that the content contained X bytes but only sent Y (<X) bytes. If this is the case, the root cause is below Alluxio layer but either in the UFS connector or the UFS service

https://stackoverflow.com/questions/23152816/premature-end-of-content-lengt

[2019-10-09 17:38] dxiangaka opened #10073 "Alluxio master starts with failure at first time in Kubernetes"
**Alluxio Version:**
Alluxio-2.0.0

**Describe the bug**
When deploying Alluxio cluster in K8s, the master server failed with following error message:
[code]

**To Reproduce**
Following steps described in https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Kubernetes.html to start Alluxio cluster in HA mode with embedded journal setups.

Run command to check log messages
[code]

**

[2019-10-09 18:05] apc999 commented on #10073
@madanadit @jiacheliu3 can you double check if this issue has been fixed recently in master (2.1.0-SNAPSHOT) branch?

[2019-10-09 18:07] apc999 commented on #10033
Resolved and the bootstrap scripts hosted on S3 are updated too

[2019-10-09 18:08] #10033 closed

[2019-10-09 18:34] calvinjia commented on #10070
@cheyang It looks like the NPE is being thrown by `OSSLowLevelInputStream` (see `alluxio-worker-sgrjr-alluxio-worker.log`), is this a class you have added to your distro of Alluxio?

[2019-10-09 18:36] #10035 closed

[2019-10-09 19:59] bf8086 commented on #10031
hey @cheyang, Alluxio uses a block allocator to determine where a block should go. The block allocator is specified by property `alluxio.worker.allocator.class` and the default value is `alluxio.worker.block.allocator.MaxFreeAllocator` which will write data to the storage location with most free space. You can try using `alluxio.worker.block.allocator.GreedyAllocator` to write blocks to the first

[2019-10-09 20:06] ns1123 commented on #10066
The easy fix for this is to mount the UFS that you want to configure to take backups to. Is there a scenario where this wouldn't be needed?

[2019-10-09 20:17] ns1123 commented on #10050
Might be related to Issue #10038

[2019-10-09 20:20] ns1123 commented on #10061
@liuhongtong I've seen this occur when the worker has a master address with "master-host:19999" instead of "master-host:19998". As @ZacBlanco mentioned, posting your configuration settings will help identify the issue.

[2019-10-09 20:26] ggezer commented on #10066
Is there a reason why we currently restrict backups to root&local ufs?

[2019-10-09 20:35] rastogiasr commented on #10034
@calvinjia  @bradyoo  - will this be addressed by the cleanup being done for job service?

[2019-10-09 20:37] rastogiasr commented on #10031
This is not a defect, will close the issue unless some other information is provided.

[2019-10-09 20:53] bf8086 commented on #10005
Closing this issue as it is no longer active. Please update and reopen the issue if you have more information.

[2019-10-09 20:53] #10005 closed

[2019-10-09 20:54] bf8086 commented on #9968
Closing this issue as it is no longer active. Please reopen the issue if you need more help.

[2019-10-09 20:54] #9968 closed

[2019-10-09 20:58] bf8086 commented on #9774
Closing this issue due to inactivity. Please reopen it if you need more help.

[2019-10-09 20:58] #9774 closed

[2019-10-09 20:59] bf8086 commented on #9662
Closing this issue due to inactivity. Please reopen it if you need more help.

[2019-10-09 20:59] #9662 closed

[2019-10-09 21:00] bf8086 commented on #9659
Closing this issue due to inactivity. Please reopen it if you need more help.

[2019-10-09 21:00] #9659 closed

[2019-10-09 21:02] bf8086 commented on #9649
Closing this issue due to inactivity. Please update and reopen it if you need more help.

[2019-10-09 21:02] #9649 closed

[2019-10-09 21:09] bf8086 commented on #9345
@LuQQiu Can you take a look?

[2019-10-09 21:33] bf8086 commented on #9810
@ns1123 can you take a look?

[2019-10-09 21:42] bf8086 commented on #9648
@yuzhu has this been resolved or do you need more information?

[2019-10-09 21:56] jiacheliu3 commented on #10073
@apc999 The issue has been fixed in 2.1.0-SNAPSHOT. There are template YAML files that users can start from for multi-master environment using embedded journal. And the instructions for setting this up is documentated in the updated in the docs.

@dxiangaka If you look at [Alluxio template embedded journal](https://github.com/Alluxio/alluxio/tree/master/integration/kubernetes/multiMaster-embeddedJ

[2019-10-09 22:36] ns1123 commented on #9573
@calvinjia can you close this if this is fixed?

[2019-10-09 22:42] yuzhu commented on #9648
@bf8086  this has not been resolved, but hopefully with better logging we will know more should this problem occur in the future.

[2019-10-09 23:42] calvinjia commented on #9573
@ns1123 unfortunately I think this is still a problem, since we will load the ufs multiple times if we mount multiple paths using the same ufs.

[2019-10-09 23:46] jiacheliu3 commented on #10073
I think this issue can be closed because it's fixed in the latest version. What do you think @madanadit ?

[2019-10-10 01:02] cheyang commented on #10031
Thank you! Got it.

[2019-10-10 01:02] #10031 closed

[2019-10-10 02:39] liuhongtong commented on #10061
Master and worker has the same configuration. `alluxio.master.hostname` is an IP address.
[code]

[2019-10-10 05:31] jpohanka commented on #10020
@apc999 Yes, indeed.

[2019-10-10 07:16] cheyang commented on #9525
May I know which PR fixed this issue? @madanadit

[2019-10-10 08:18] yangjf2019 commented on #10032
@apc999  Thanks for your helping. I will modify the bug ,and when it  test passed, I will open  a new PR.

[2019-10-10 08:34] yangjf2019 commented on #10032
The error message has Found  in the directory (`alluxio/alluxio-2.0.0/logs/user/user_pro.log`),
and when we use this code `System.out.println(e.getMessage());` , error messages will show on the CLI.

[2019-10-10 08:58] yangjf2019 commented on #10032
Hi, @apc999  Here you can find the [PR](https://github.com/Alluxio/alluxio/pull/10077), Please take a look ,Thank you very much.

[2019-10-10 10:08] abhishek021 opened #10078 "NoSuchMethodError: com.google.common.base.Preconditions.checkState(ZLjava/lang/String;Ljava/lang/Object;)V"
**Alluxio Version:**
2.0.0

**Describe the bug**
I'm getting NoSuchMethodError: com.google.common.base.Preconditions.checkState(ZLjava/lang/String;Ljava/lang/Object;)V while trying to read data from underfs GCS through alluxio.

**To Reproduce**
Launch spark-shell with packages org.alluxio:alluxio-core-client-fs:2.0.0 and org.alluxio:alluxio-core-client-hdfs:2.0.0 and try reading through GCS under

[2019-10-10 10:21] cheyang commented on #9525
I'm able to reproduce it with build: 2.1.0-SNAPSHOT-4614f177781cd4275ea0e0c41162e4e022311a5a

[diagnose_alluxio_1570701411.tar.gz](https://github.com/Alluxio/alluxio/files/3711828/diagnose_alluxio_1570701411.tar.gz)

If you need more info, please contact me in slack. Thanks.

[2019-10-10 10:27] cheyang commented on #10062
Here is the logs:

[diagnose_alluxio_1570701411.tar.gz](https://github.com/Alluxio/alluxio/files/3711882/diagnose_alluxio_1570701411.tar.gz)

[2019-10-10 14:56] madanadit commented on #9525
@cheyang I was hoping its the same issue as https://github.com/Alluxio/alluxio/pull/10001. But if you can still reproduce, it looks like its not. thx

[2019-10-10 17:25] apc999 commented on #9891
@thereisnospoon can you specify the presto version?

[2019-10-10 17:26] apc999 commented on #10073
@madanadit can you point out the fix here and I could close this ticket. In case @dxiangaka still see the issue with nightly build, we could re-open the issue.

[2019-10-10 18:44] calvinjia commented on #10034
@apc999 What is the expected behavior, should we look into the initial error and avoid failing the first time?

[2019-10-10 19:43] abhishek021 commented on #10078
I think there is no need of using packages o`rg.alluxio:alluxio-core-client-fs:2.0.0 and org.alluxio:alluxio-core-client-hdfs:2.0.0` while launching spark-submit. All I needed was to make sure that every jvm process has the alluxio client jar. Thanks to @Gene for helping me over slack.

[2019-10-10 19:43] #10078 closed

[2019-10-10 19:55] #9647 closed

[2019-10-10 21:01] ZacBlanco opened #10083 "Alluxio containers should respect resource limits"
**Is your feature request related to a problem? Please describe.**

In k8s or even docker environments it is common to limit the amount of compute resources
available to an application. Currently, the way that containers handle going over the limits is to kill the running container when it goes over.

**Describe the solution you'd like**

Ideally the JVMs within the Alluxio containers should be aw

[2019-10-10 21:38] apc999 commented on #10073
Close this Issue as confirmed since this has been addressed in 2.1.0-SNAPSHOT and @dxiangaka has a workaround too.

[2019-10-10 21:38] #10073 closed

[2019-10-10 23:07] cheyang commented on #10062
I'm able to reproduce the issue even setting the block size to 32MB:

1. I can see the problem block id is 7801405440 (expected: 33554432; received: 27767820)

[code]

2. I went to the machine 192.168.0.117, check the length of the block 7801405440, its size is 33554432 which is the same as expected.

[code]

[2019-10-10 23:13] ZacBlanco commented on #10061
@liuhongtong thanks for providing your config.

I don't see anything that stands out here. Have you confirmed that your master configuration and worker configuration are identical aside from the configured storage?

If possible, can you provide a reliable set of steps to reproduce this? Without the ability to reproduce we can't fix the issue (if there is one)

[2019-10-10 23:22] cheyang commented on #9525
Could you take a look at it now?

[2019-10-10 23:58] #10011 closed

[2019-10-11 03:26] yoock commented on #10005
alluxio.worker.block.heartbeat.interval

------------------ 原始邮件 ------------------
发件人: "Zac Blanco"<notifications@github.com>;
发送时间: 2019年10月1日(星期二) 凌晨1:18
收件人: "Alluxio/alluxio"<alluxio@noreply.github.com>;
抄送: "wlong"<869372753@qq.com>; "Mention"<mention@noreply.github.com>;
主题: Re: [Alluxio/alluxio] heartbeat bug (#10005)

Hi @yoock, you'll need to describe this in more detail.

Can you more

[2019-10-11 03:30] yoock commented on #10005
the trouble heartbeat Controlled by alluxio.worker.block.heartbeat.interval

[2019-10-11 08:09] thereisnospoon commented on #9891
Presto version is `0.220`

[2019-10-12 07:54] cheyang commented on #10062
I'm able to see such error:
[code]

[2019-10-12 07:58] cheyang commented on #10062
All the logs: [diagnose_alluxio_1570866636.tar.gz](https://github.com/Alluxio/alluxio/files/3720346/diagnose_alluxio_1570866636.tar.gz)

[2019-10-12 11:52] cheyang commented on #10062
But I think the real Error which causes the read failed is

[code]

And the related error is in alluxio-worker-4zm6r-alluxio-worker.log.

[code]

[2019-10-13 07:01] ghost opened #10098 "DataWriters in BlockOutStream write sequentially"
**Summary**
When using `ASYNC_THROUGH`, `BlockOutStream` will write blocks into several replications, current implementation hold a `List<DataWriter>` in `BlockOutStream`, which writes data in a `for` loop over the `DataWriter`s.

**Urgency**
 Replicating to N workers takes N times than writing to one worker. This replication operation can be made asynchronous and concurrent to bootstrap throughpu

[2019-10-13 07:03] ghost opened #10099 "FileUtils.setLocalDirStickyBit is inefficient"
**Summary**
`FileUtils.setLocalDirStickyBit` uses `Runtime.exec` to execute `chmod`.

**Urgency**
Executing a shell command for this functionality is inefficient, and is unix only.

[2019-10-13 07:42] ghost opened #10100 "Improve throughput of persisting in-Alluxio files to S3"
Since in-Alluxio files have been split into blocks, the blocks can be uploaded to S3 concurrently using multipart uploading.

The current implementation of `S3AOutputStream` and `S3ALowLevelOutputStream` will first write the data into a local temporary file, then upload the local file to S3.

Since the blocks are already in workers' storage directories, there should be more efficient ways to direc

[2019-10-13 11:16] cheyang commented on #10062
I'm trying to upgrade aliyun OSS to 3.6.0, and test again.

[code]
And also see similar issue: https://discuss.hail.is/t/i-am-trying-to-import-vcf-but-i-receive-an-error-connectionclosedexception-premature-end-of-content-length-delimited-message-body/1051/2

Any hints? @apc999

[2019-10-13 12:14] cheyang commented on #10062
The build I tested is https://github.com/Alluxio/alluxio/pull/10049

[code]

[2019-10-13 16:46] #10032 closed

[2019-10-14 02:32] cheyang commented on #10062
I tried to add some debug info like: https://github.com/cheyang/alluxio/commit/14e72173e567a966095af0cfb00060d1f27376f9

And I found it seems not took too much time:

[code]

[2019-10-14 16:13] ns1123 opened #10102 "Root inode ACL check is not a strong/safe model"
**Summary**
Currently, Alluxio has a check on startup that the owner of the root directory in the Alluxio FileSystem matches the user who started the service. This check can lead to breaking scenarios.

Scenario 1: Using HDFS as a UFS
User runs as superuser of Alluxio filesystem (foo). User (foo) changes permission of / to be owner bar:bar. Command succeeds. In the event of a restart, Alluxio will

[2019-10-14 20:09] ns1123 commented on #9948
getObjectListingChunkForPath() on the root of an empty bucket returns 'null'. This is because the current implementation of getObjectListingChunk() returns a null when the result is an empty list or a null itself. Changing this logic to return an empty list object would cause isDirectory() to always succeed and result in further errors.

A better approach may be to fall back to relying on headBuck

[2019-10-14 21:53] yuzhu commented on #9631
@hustnn
Sorry it has taken me a while to come back to this issue. Are you still experiencing this issue?

I tried with `df.write.mode(SaveMode.Overwrite).parquet(path)`, however I was able to see updated Alluxio directory at `path`.  As I understand it, `df.write.mode(SaveMode.Overwrite).parquet(path)` writes one or more parquet files to a specified directory, so it might not overwrite the specifi

[2019-10-15 08:36] hustnn commented on #9631
@yuzhu Thanks. It is ok. I just use 1.8 after fixing the high load issue https://github.com/Alluxio/alluxio/pull/9977 and periodically sync from outside.

I think you can try this way:
1. You can upload a file in to a path.
2. Overwrite that path. Then you will find the file in step 1 still exist in Alluxio.

[2019-10-15 12:06] cheyang opened #10109 "Worker failed to close block reader due to Premature end of Content-Length delimited message body on cold read"
**Alluxio Version:**
2.1.0-snaphost

**Describe the bug**

Running Distributed TensorFlow training on alluxio fuse, and the data is stored in Aliyun OSS, no data in alluxio at the first.

<a name="4962a6c3"></a>
### Problem Analysis

1. The tensorflow training is crashed due to failed to reading the data: `/data/imagenet/train-00368-of-01024`

[code]

2. Check the logs of the fuse, it shows that :

[2019-10-15 12:08] cheyang commented on #10109
See the attach file:

[readme.txt](https://github.com/Alluxio/alluxio/files/3729106/readme.txt)

[2019-10-15 12:10] cheyang commented on #10109
Here are all the logs:

[diagnose_alluxio_1571129675.tar.gz](https://github.com/Alluxio/alluxio/files/3729116/diagnose_alluxio_1571129675.tar.gz)

[2019-10-15 16:45] apc999 commented on #10098
Change this to feature request.
Thanks for the feedback. It is not surprising that writing <N> copies of a block sync can be slower than writing them in a async way (similar to HDFS). But there are pros and cons. In this case, do you already see a slow down because of the N-copy sync write as a bottleneck?

[2019-10-15 19:27] abhishek021 opened #10110 "Metrics "Short-circuit Read" and "Cache Hit Rate" for Alluxio Local does not update."
**Alluxio Version:**
Alluxio-2.0

**Describe the bug**
Metrics like short circuit read and Cache Hit Rate for Alluxio Local does not update
or more precisely it always gives zero on running `./alluxio fsadmin report metrics`.

So even if it's caching or not I don't know because it's updating other metrics like
`Under Filesystem Read` and `Cache Hit Rate for Alluxio Remote`.
But my Spark-UI shows P

[2019-10-15 22:06] bf8086 commented on #10110
Hi @abhishek021. Thanks for report the issue.
Have you restarted Alluxio cluster after adding `alluxio.user.metrics.collection.enabled=true` to `alluxio-site.properties`?

[2019-10-15 23:04] apc999 commented on #9948
@ns1123 has this issue been resolved? I was able to reproduce this issue by mounting a bucket like "s3:///bucket/path" which is a typo of "s3://bucket/path". If yes, which PRs should I cherry-pick to 2.0 branch?

[2019-10-15 23:16] ns1123 commented on #9948
@apc999 This issue had to be reverted since the implementation of the fix wasn't entirely correct. Please leave this as open for now and I will sync with you when I get back. You can also see the associated commits reverting the change.

[2019-10-16 00:56] abhishek021 commented on #10110
Hi, @bf8086 Thanks for your response.
Yes, I restarted the cluster after adding the property.

[2019-10-16 05:05] apc999 commented on #10062
taken over by https://github.com/Alluxio/alluxio/issues/10109

[2019-10-16 05:05] #10062 closed

[2019-10-16 14:54] chcn opened #10122 "Raft journal replay is slow even when formatted"
**Summary**
I formatted the journal, then restart master, `RaftJournalSystem - Caught up in 20032ms`, it's unreasonably slow.

**Urgency**
This slowness means there is some overhead in RaftJournalSystem during initialization.

[2019-10-16 19:33] bf8086 commented on #10110
It's possible the property is not picked up by Alluxio client in Spark executors. Can you try adding `-Dalluxio.user.metrics.collection.enabled=true` to `spark.driver.extraJavaOptions` and `spark.executor.extraJavaOptions` in `spark-defaults.conf`?

[2019-10-16 20:28] abhishek021 commented on #10110
Hi, @bf8086 I tried that too but no luck. Other metrics like Alluxio Remote Host and UFS read is being updated but not the Short-Circuit Read and Alluxio Local cache Hit.

[2019-10-16 22:24] #10043 closed

[2019-10-17 04:17] chcn opened #10133 "Job ID not persistent in job service"
**Summary**
When restarting job master and worker, the previous job IDs are lost, and any request to get the old job ID will return exception like

[code]

instead of a more descriptive exception or job status.

**Urgency**
`TableManager` needs a way to find out that a job ID no longer exists.

[2019-10-17 04:20] chcn commented on #10133
But `JobMaster` gives an explicit exception `2019-10-16 21:19:14,772 WARN  JobMasterClientServiceHandler - Exit (Error): getJobStatus: request=jobId: 1571284390130
, Error=alluxio.exception.JobDoesNotExistException: The job of id 1,571,284,390,130 does not exist`, the `JobMasterClient` should propagate this exception.

[2019-10-17 04:21] chcn commented on #10098
@apc999 no, I didn't observe this in production, I just come up with this idea when reading the codebase.

[2019-10-17 05:08] ghost opened #10134 "Provide more descriptive information when gRPC channel is closed"
**Summary**
For example, when shutting down the `JobWorker`, `Master` will log `2019-10-16 22:06:56,814 WARN  SaslStreamServerDriver - Error received for channel: 8f6cfd81-4299-4d2c-b2a4-3c97d6b1ea80. Error: io.grpc.StatusRuntimeException: CANCELLED: cancelled before receiving half close`, but the information in this log message is not very helpful for admins to under what happened.

[2019-10-17 16:03] ghost opened #10135 "Use protobuf for JobConfig"
**Summary**
Currently, `JobConfig` implements `java.io.Serializable`, every time when creating a new `JobConfig`, if it contains nested objects, we need to make sure those objects are serializable too, without writing unit tests for each JobConfig, we won't be sure whether the serialization and deserialization work.
Also, if we need to update existing `JobConfig`, using protobuf is easier to maint

[2019-10-17 16:21] cheyang opened #10136 "The same underfs file are accessed twice"
**Alluxio Version:**
2.1.0

**Describe the bug**
To check more details, I print  more details in branch [support-aliyun-oss-debug](https://github.com/cheyang/alluxio/tree/support-aliyun-oss-debug) .

1. Make sure no data in Alluxio, and try to copy the same file twice in the same time

[code]

2.In the worker log, I've found ad the same worker are trying to read  underfs  object(OSSObject) twice.

[2019-10-18 03:41] cheyang commented on #10109
I've uploaded the log file:
[diagnose_alluxio_1571369553.tar.gz](https://github.com/Alluxio/alluxio/files/3742203/diagnose_alluxio_1571369553.tar.gz)

The file is train-00039-of-01024, and the block id is 14143193088.

The fuse log: alluxio-fuse-wnvl2-alluxio-fuse.log
the worker log: alluxio-worker-6qmsk-alluxio-worker.log

[2019-10-18 12:33] rblaine95 opened #10150 "Add ability to evict blocks of open files to lower storage tiers"
**Is your feature request related to a problem? Please describe.**
Currently if you load a single file that is larger than your T0 cluster capacity (for example: 70GB, 10GB per worker, 7 workers), then the write will never end (eventually timing out) and the workers will loop with the same error in #9796.

[code]

This also happens if your blocks aren't distributed evenly across the cluster and on

[2019-10-18 18:42] calvinjia commented on #10136
@cheyang I think this is because the reader will read the data once and then async caching will read the data once to cache the data. Could you try with read type `NO_CACHE` and see if you get the same behavior?

[2019-10-18 20:25] #10122 closed

[2019-10-18 20:43] chcn commented on #10133
Fixed: https://github.com/Alluxio/alluxio/pull/10119/files#diff-798f3e7b3cbeb0746a98fd91e4145322L226

[2019-10-18 20:43] #10133 closed

[2019-10-19 00:10] cheyang commented on #10136
1. Set NO_CACHE
[code]

2. Copy the same file twice

[code]

3. Check if the file is cached

[code]

4. Check the logs, get the same result

[code]

[2019-10-19 00:13] cheyang commented on #10136
[diagnose_alluxio_1571443386.tar.gz](https://github.com/Alluxio/alluxio/files/3746013/diagnose_alluxio_1571443386.tar.gz)

Updated with the log.

[2019-10-19 04:27] yuzhu opened #10155 "Use mvn dependency:analyze to analyze the pom and make the build smaller"
**Summary**
Right now there are a lot of unused but included jars in our jars, we should take a pass through it and reduce our dependencies

**Urgency**
ASAP, but not urgent

[2019-10-20 07:20] haoyuan opened #10159 "Update "Slack Info" in Docs"
**Page**
Master docs & latest release docs.

**Summary**
Update "slack info" in docs as the README.md

[2019-10-21 02:13] madanadit commented on #9616
Open Items as of today:
- Persistent volumes should be configurable for embedded journal. Currently `emptyDir` ephemeral storage is used by default and any restart, such as for configuration updates, will loose metadata

[2019-10-21 16:45] maobaolong opened #10165 "Provide an entry shell script for LocalAlluxioCluster to let user use single process mode alluxio"
**Is your feature request related to a problem? Please describe.**
For the more and more popular alluxio is, we want to use alluxio as a single process tiny mode to manage the single node tier storages, like hdd, ramdis, ssd.

**Describe the solution you'd like**

A tiny version, no more complex components, just a process, it just manage the file in the tier well, and provide the filesystem api fo

[2019-10-21 16:54] maobaolong opened #10166 "Make Alluxio inode meta data management as a optional configure"
**Is your feature request related to a problem? Please describe.**
If fact, i know some of company use alluxio because its fs translate api and mount point management, it shows a unite global namesystem, they neither need alluxio cache the inode meta, nor the block cache, if we can make the metadata management optional, it can help alluxio to be used for them.

**Describe the solution you'd like**

[2019-10-21 19:49] apc999 opened #10170 "Support cancelling job-service based CLIs"
**Is your feature request related to a problem? Please describe.**
Users often type the wrong arguments in CLI, then they want to cancel the CLI and re-run the CLI with the correct arguments. Currently, if the Alluxio CLI is based on job-service (e.g., distributedLoad, distributedCp, distributedMove, persist), it will simply submit the job. Quitting from this running CLI will not result in the sto

[2019-10-21 22:50] ghost opened #10173 "Deprecate load metadata type"
**Summary**
With the UfsSyncPathCache, the sync interval can replace the semantics of load metadata type. Having two properties to configure the same concept is confusing.

[2019-10-21 23:33] bradyoo opened #10175 "Remove direct usage of grpc builder objects in TaskExecutorManager.java"
**Summary**
TaskInfo grpc builder objects are used directly in TaskExecutorManager which makes looking for usages of TaskInfo very difficult

**Urgency**
I'm working on it right now because this was a large time waster when debugging.

[2019-10-22 08:28] apc999 commented on #10159
not sure what this ticket targets. please be more specific on this issue

[2019-10-22 15:26] maobaolong opened #10190 "copyFromLocal failed when use relative path, replace it to absolute path, it become successful."
**Alluxio Version:**
master

**Describe the bug**
copyFromLocal failed when use relative path, replace it to absolute path, it become successful.

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
Add any other context about the problem here.

[2019-10-22 15:33] maobaolong opened #10191 "copy to a folder while dest path is endsWith a `/`"
**Alluxio Version:**

master

**Describe the bug**

Not sure whether we should honor posix fs, if so, we should output error for this case.

**To Reproduce**

[code]

**Expected behavior**

it should output `cp: directory alluxio://192.168.31.120:19998/abc/  does not exist`

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
Add any other context about the problem here

[2019-10-23 00:26] rastogiasr commented on #9796
@mkressirer - please help with a response to reproduce the issue, we will track this issue for another few weeks before closing.

[2019-10-23 01:44] maobaolong opened #10204 "use alluxio://MasterIp:MasterPort/ report does not match the configured value"
**Alluxio Version:**

master

**Describe the bug**

use alluxio://MasterIp:MasterPort/ cannot pass from `checkUri` method.

**To Reproduce**

- alluxio-site.properties
[code]

- execute command to reproduce
[code]

**Expected behavior**

The alluxio shell should as a general client, it should support connect to any alluxio through variant authority

[code]

maybe we should discuss if we should rem

[2019-10-23 01:54] maobaolong opened #10205 "If alluxio.master.hostname config to localhost will not work, but ip can work well."
**Alluxio Version:**
master

**Describe the bug**

If alluxio.master.hostname config to localhost will not work, but ip can work well.

**To Reproduce**
- alluxio-site.properties
[code]

- execute alluxio shell

[code]

- alluxio-site.properties
[code]

- execute alluxio shell

[code]

**Expected behavior**

Each of above test should be successful.

**Urgency**
Describe the impact and urgency of t

[2019-10-23 04:08] ZacBlanco commented on #10205
@maobaolong issues like this are typically due to misconfigured local environments. I have been using the `alluxio.master.hostname` as `localhost` for a while. Even on latest master I have had no issues.

Have you configured the `alluxio.master.bind.host` any differently? what IP does`localhost` resolve to?

[2019-10-23 11:23] SeeMyWorld opened #10216 "helm install --name alluxio -f config.yaml alluxio --version 2.1.0-SNAPSHOT"
Alluxio Version: master

Describe : When I carry out the command,(helm install --name alluxio -f config.yaml  alluxio --version 2.1.0-SNAPSHOT),I don't know why this mistake happened:`Error: configmaps "alluxio-config" is forbidden: User "system:serviceaccount:kube-system:default" cannot delete resource "configmaps" in API group "" in the namespace "default"
`

[2019-10-23 16:19] tianrenz2 opened #10217 "ls command does not support multiple directories"
**Is your feature request related to a problem? Please describe.**
ls command can totally support listing multiple directories at the same time, just like Linux.

**Describe the solution you'd like**
Accept more arguments as extra directories to be listed

**Urgency**
Just from personal point of view.

[2019-10-23 18:19] ZacBlanco commented on #10216
Have you followed the instructions in the `edge` documentation for deploying k8s with helm?

https://docs.alluxio.io/os/user/edge/en/deploy/Running-Alluxio-On-Kubernetes.html#deploy-using-helm

[2019-10-23 20:49] ns1123 opened #10224 "Remove logging jars from uber jar in alluxio-client"
**Alluxio Version:**
1.8.x

**Describe the bug**
Logging jars in the client should be removed/shaded.

**To Reproduce**
N/A

**Expected behavior**
N/A

**Urgency**
High

[2019-10-23 22:18] yuzhu opened #10229 "Remove the restriction that tier 0 alias has to be "MEM""
**Summary**
There are some assumptions about our tier 0 alias being "MEM", we should not rely on that..

**Urgency**
not urgent

[2019-10-23 22:39] ZacBlanco commented on #10229
@yuzhu can you provide a list of places that have the assumption? It doesn't have to be exhaustive, but a small set of references can help.

[2019-10-23 22:40] ZacBlanco commented on #10224
removing is different from shading - which one do we want, and why does it need to be done (please add information to the issue description)

[2019-10-23 22:45] yuzhu commented on #10229
I found the following by greping for "MEM"
[code]

[2019-10-24 04:36] madanadit opened #10241 "Add docs to K8s/helm for tiered storage and fuse"
**Page**
https://docs.alluxio.io/os/user/edge/en/deploy/Running-Alluxio-On-Kubernetes.html

**Summary**
The K8s deployment instructions is missing documentation for:
- Configuring tiered storage w/ helm chart
- Deploying the fuse daemonset using the helm chart

The ask for this issue is to
1. create an "Example: Tiered Storage" under the section https://docs.alluxio.io/os/user/edge/en/deploy/Runni

[2019-10-24 04:36] madanadit commented on #10241
@cheyang Please take a look. Thank you!

[2019-10-24 08:57] SeeMyWorld commented on #10216
yes ,Now the state of my node is Pending,The reason for the error is (  message: '0/5 nodes are available: 1 Insufficient memory, 5 Insufficient cpu.')

[2019-10-24 13:12] rblaine95 opened #10248 "Add a `TIER_DOWNGRADE` TTL Action"
**Is your feature request related to a problem? Please describe.**
Currently when you set `alluxio.user.file.create.ttl`, the only options you have with `alluxio.user.file.create.ttl.action` is `FREE` (remove from Alluxio entirely) or `DELETE` (remove from Alluxio **_and_** UFS)

**Describe the solution you'd like**
It'd be really useful to add a third option to `alluxio.user.file.create.ttl.actio

[2019-10-24 16:41] ghost opened #10252 "Stabilize tests"
**Summary**
Some tests, especially integration tests, are flaky. They fail repeatedly on jenkins, but hard to reproduce the failure on our macbook. This ticket keeps track of all the flaky tests we encountered. Add a comment once a test is no longer flaky, in the comment, describe the root cause for the flakiness, or add a link to the PR you make to stabilize the test.

List of flaky tests:

[code

[2019-10-24 16:43] madanadit opened #10253 "Use local persistent volumes for embedded journal, single master local journal, off-heap metastore and tiered storage"
**Is your feature request related to a problem? Please describe.**
Local persistent volumes is the preferred way for storage to persist across restarts of a pod (ref: https://kubernetes.io/docs/concepts/storage/volumes/#local). We should use persistent volumes for the following:
1. embedded journal volume for master pods
2. single master journal volume for master pod
3. off-heap metastore volume f

[2019-10-24 16:44] madanadit commented on #10253
@cheyang FYI

[2019-10-24 16:45] jiacheliu3 commented on #10253
Ok

[2019-10-24 16:54] ghost opened #10255 "Get rid of WARNINGS in mvn build"
**Summary**
We have a long list of WARNINGS during mvn build, investigate into the root cause and get rid of the warnings.

[2019-10-24 17:23] SeeMyWorld opened #10257 "This exception occurred when I was creating the master,Ask for help"
Alluxio Version: master
Describe : This was added to the configuration:-Dalluxio.master.mount.table.root.ufs=10.142.167.220:/
exception:
[code]

[2019-10-24 18:44] ghost opened #10263 "Create a @Journaled annotation"
**Summary**
For journaled fields and classes, annotate them with `@Journaled`, information kept in the `Journaled` annotation can be the corresponding journal entry proto class.

[2019-10-24 20:05] ZacBlanco commented on #10257
@SeeMyWorld you need to specify a scheme for your root UFS.

How else does the Alluxio master know what type of under storage system it is communicating with?

Your UFS scheme will typically be `hdfs://`, `s3a://`, `swift://`, etc. Please refer to the respective under storage documentation at https://docs.alluxio.io for your specific UFS.

[2019-10-24 20:09] LuQQiu opened #10264 "Backup command return null if mounted s3 bucket is empty"
**Alluxio Version:**
Alluxio master
**Describe the bug**
When an empty S3 bucket is mounted to Alluxio, before any files are written into the bucket, backing up will throw NPE

2019-10-24 12:48:13,514 INFO  DefaultMetaMaster - Backing up to root UFS in directory /alluxio_backups
2019-10-24 12:48:14,998 ERROR MetaMasterClientServiceHandler - Exit (Error): backup: options=localFileSystem: false

jav

[2019-10-24 23:56] LuQQiu commented on #10264
The details of the workflow that cause the issue is
[code]

[2019-10-24 23:58] LuQQiu commented on #10264
Our ObjectUFS root key is full url like s3://<bucket>/
but in nearly all ufs operation, we strip the prefix which is stripping the rootkey.
The fix is to check "/" in isRoot

[2019-10-25 02:25] LuQQiu commented on #10264
Fixed in https://github.com/Alluxio/alluxio/pull/10276

[2019-10-25 02:25] #10264 closed

[2019-10-25 02:53] yuzhu commented on #10252
[code]

[2019-10-25 06:23] SeeMyWorld commented on #10257
@ZacBlanco We are now using NFS, the NFS in (- Dalluxio. Master. Mount. Table. Root. It = < under_storage_address > )how to configure.     thank

[2019-10-25 06:41] ZacBlanco commented on #10257
You can't just point to the IP of some NFS. You'll need to set up the NFS mount on that local machine first, and then point to the NFS mount in `alluxio.master.mount.table.root.ufs`. See the documentation: https://docs.alluxio.io/os/user/stable/en/ufs/NFS.html

This would need to be done on every master/worker.

- Configure and mount the NFS filesystem at `/mnt/nfs`
- Set `alluxio.master.mount.tab

[2019-10-25 06:43] yuzhu commented on #10257
@SeeMyWorld you need to mount the nfs on the machine running alluxio, and then specify the mount point as `alluxio.master.mount.table.root.ufs`

See https://docs.alluxio.io/ee/user/stable/en/ufs/NFS.html?q=nfs for more instructions

[2019-10-25 06:59] yuzhu commented on #10191
@maobaolong  issue reproduced. will fix

[2019-10-25 07:00] yuzhu commented on #10190
@maobaolong was not able to reproduce this with current master..

[code]

[2019-10-25 07:07] SeeMyWorld commented on #10257
I have done according to this, but this problem still appears. My understanding is that if I configure this in alluxio-site.properties, I don't need to configure this (-dalluxio.mast.mount.table.root.it = < under_storage_address >).

[2019-10-25 16:22] yuzhu commented on #10155
#10201 #10156

[2019-10-25 19:35] ZacBlanco commented on #10257
I recommend against using JVM parameters (`-D<property_name>=<value>`) unless you're trying to deploy with docker. `alluxio-site.properties` is recommended way to set properties.

Can you paste your entire `alluxio-site.properties` configuration here? We'll need more context to figure out the issue. From the looks of your previous response. The journal may be misconfigured or the user launching th

[2019-10-25 19:41] ZacBlanco commented on #10216
I am closing this issue as it seems you've solved the original problem. Please re-open if you still have issues.

[2019-10-25 19:41] #10216 closed

[2019-10-25 22:57] calvinjia commented on #10008
@apc999 Is this solved by #10111 ?

[2019-10-26 00:11] yuzhu opened #10305 "Catalog service data location can't be found after master hostname changes"
**Alluxio Version:**
Master

**Describe the bug**
Because we store the uri in the catalog including the scheme and authority, if the hostname changes, catalog client will be unable to locate the alluxio master server.

**To Reproduce**
Stop alluxio master and relocate it..

**Expected behavior**
It should continue to work.

**Urgency**
Describe the impact and urgency of the bug.

**Additional cont

[2019-10-26 00:15] rastogiasr commented on #9432
@LuQQiu -can this issue be closed.

[2019-10-26 00:23] yuzhu opened #10306 "Refactor Table and Partition Mounting"
**Summary**
Mounting paths should not be specific to HiveDatabase, we should refactor it.

**Urgency**
Explain why it is important to address the tech debt

[2019-10-26 00:24] yuzhu opened #10307 "Ensure catalog method locking correctness"
**Summary**
Catalog should return non-modifiable table and database view objects, to ensure concurrency/ locking is respected

**Urgency**
Explain why it is important to address the tech debt

[2019-10-26 13:05] SeeMyWorld commented on #10257
@ZacBlanco Hello, I think it is also the problem of my permission, but now I am using a cloud service deployed k8s, we have not actively set this permission, how should this permission be modified?
`[root@10-10-61-162 conf]# cat alluxio-site.properties
#
# The Alluxio Open Foundation licenses this work under the Apache License, version 2.0
# (the "License"). You may not use this work except in com

[2019-10-26 13:13] SeeMyWorld commented on #10257
@ZacBlanco Hello, I think it is also the problem of my permission, but now I am using a cloud service deployed k8s, we have not actively set this permission, how should this permission be modified?
`[root@10-10-61-162 conf]# cat alluxio-site.properties
\#
\# The Alluxio Open Foundation licenses this work under the Apache License, version 2.0
\# (the "License"). You may not use this work except in

[2019-10-26 17:14] haoyuan commented on #10159
On each doc page, there is a button to link to Slack. Update that button's looking to show # of current online members &  # of total members, like the one in the README.md file.

[2019-10-27 12:11] cheyang opened #10316 "Can we use 1 master statefulset to replace 3 ?"
**Alluxio Version:**
2.1.0

**Describe the bug**
I notice if there are 3 alluxio masters,  we have to create 3 statefulsets. It looks odd. Can we enhance it? Can we use 1 statefulset with 3 replicas to deploy it?

**To Reproduce**
N/A

**Expected behavior**
N/A

**Urgency**
N/A

**Additional context**
Using a single stateful set will improve maintainability.

[2019-10-28 04:10] cheyang opened #10318 "Failed to distributed load data when the size of alluxio is smaller than size of data"
**Alluxio Version:**
2.1.0-SNAPSHOT-ec12adc44298d5887697b517177d1b86963e7662

**Describe the bug**

1. Failed to distribute load the data when the size of alluxio cache is smaller than underlay filesystem(OSS in this case). The size of alluxio is 120GB, the size of data in OSS is 140GB.

[code]

2. Expected about 88GB(each worker should use 22GB) should be used, but only 51.06GB is used.

[code]

[2019-10-28 05:48] cheyang commented on #10318
/ping @apc999 @ZacBlanco

[2019-10-28 06:04] cheyang commented on #10316
I think we can leverage to attach different services to the same statefulset https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#pod-name-label.

[2019-10-28 06:24] cheyang commented on #10241
@madanadit  #10237 addresses `Configuring tiered storage w/ helm chart`, do you think if it's ok?

I will take a look at `fuse doc` later.

[2019-10-28 06:35] madanadit commented on #10241
Thanks, tiered store documentation looks good.

[2019-10-28 08:02] cheyang commented on #10318
I can see the following error:

[code]

[2019-10-28 09:11] rblaine95 commented on #10248
It might be a good addition to have tier-specific TTL
For example:
T0 has a block ttl of 1 hour
T1 has a block ttl of 2 days
T2 has a block ttl of 1 week

[2019-10-28 12:58] madanadit opened #10321 "Helm install creates unnecessary resources"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**
Helm install creates everything under the directory `helm-chart/alluxio/templates/`. Some of these resources / jobs should not be created by default and made configurable.

1. Is this still needed `helm-chart/alluxio/templates/format/master.yaml` or can we remove it?
2. `helm install` run the fuse daemonset and client daemonset by default,

[2019-10-28 16:18] cheyang opened #10322 "Run distributed Deep learning training much slower when Alluxio cache is not big enough."
**Alluxio Version:**
2.1.0

**Describe the bug**
The training data's size is about 143GB, the cache size of Alluxio is about 120GB. And I've already run distributed deep learning training with Alluxio before, so the data has been already loaded to Alluxio.

[code]

[code]

But when I run distributed deep learning training again, the speed of training data (4 hosts x 8 GPUs=32GPUs)is not better tha

[2019-10-28 18:29] LuQQiu commented on #9432
Yeah

[2019-10-28 18:29] #9432 closed

[2019-10-28 21:27] #10217 closed

[2019-10-28 23:32] jiacheliu3 commented on #10321
Regarding the action items:

1. `helm-chart/alluxio/templates/format/master.yaml` is removed. We don't really need it in the template deployment.

2.(and 3. and 4.) As far as I found out the ONLY way to make `helm install` NOT create every single resource it can find is to make helm not see it, by excluding those files in `.helmignore`. As long as you have that file under the `templates/` director

[2019-10-29 02:06] jiacheliu3 opened #10338 "ProcessUtils reports Root Cause null when a property fails to resolve to a certain type"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**
For different wrong value for a key that should be a double, the error message may not be clear. Below are 2 examples. Root Cause is both `null`, which can be misleading.

[code]

[code]

**To Reproduce**
Define a numerical property to be a string, in this case `alluxio.worker.tieredstore.level0.watermark.low.ratio`.

**Expected behavior**

[2019-10-29 03:19] madanadit opened #10341 "Alluxio JAVA_OPTS should not be required to end w/ a space"
**Alluxio Version:**
2.1.0-SNAPSHOT

**Describe the bug**
Java options are appended to common options `ALLUXIO_WORKER_JAVA_OPTS+=${ALLUXIO_JAVA_OPTS}`

When not ending/beginning with a space, properties are not handled correctly

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to h

[2019-10-29 03:39] madanadit commented on #10321
@jiacheliu3 @ZacBlanco not targeting this PR to 2.1.

[2019-10-29 07:00] osenlin opened #10345 "There was an error presto querying ORC's table"
**Alluxio Version:**
2.0

**Describe the bug**
when I use presto query text table is ok. But I use presto query orc table，get error

	at com.facebook.presto.hive.orc.OrcPageSourceFactory.createOrcPageSource(OrcPageSourceFactory.java:187)
	at com.facebook.presto.hive.orc.OrcPageSourceFactory.createPageSource(OrcPageSourceFactory.java:121)
	at com.facebook.presto.hive.HivePageSourceProvider.createHi

[2019-10-29 07:52] #10345 closed

[2019-10-29 17:49] mkressirer commented on #9796
1)The total size of this specific output job is roughly 80GB ... in block size 256MB ... from a spark cluster
2) I used S3 and NFS to check if they behave differently (they both fail the same way)
3) after restaring the alluxio worker it magically syncs and shuffles data down to the lower tier (based on the thresholds).
4) the ramdisks/SSD are full accessible and work just as expected when targete

[2019-10-29 22:03] ZacBlanco commented on #10257
Sorry for the delay.

It's possible that the user doesn't have permission at the `/journal` path. You can try configuring the journal path to be something other than `/journal`, but for the containers I think it is slightly more difficult due to k8s volume management if you want the journal to persist between restarts.

Can you outline the steps which you followed to deploy Alluxio in the cloud k8

[2019-10-30 03:54] zc87328000 opened #10359 "Failed to Access an Alluxio Cluster with HA"
**Alluxio Version:**
Alluxio2.0.0
zookeeper-3.5.5

**Describe the bug**
job_master.log
Opening socket connection to server 10.43.81.25/10.43.81.25:2181. Will not attempt to authenticate using SASL (unknown error)

Session establishment complete on server 10.43.81.25/10.43.81.25:2181, sessionid = 0x10014a98bdd000c, negotiated timeout = 40000

worker.log
2019-10-30 09:50:34,564 WARN  RetryUtils - Fa

[2019-10-30 07:47] rblaine95 commented on #10150
This also happens if you use `alluxio.user.file.write.tier.default=1` and then try to read `bigfile` from Alluxio.
The blocks from `bigfile` will be `CACHE_PROMOTED` from T1 to T0 before it is served, if `bigfile` is too big (>maxT0Capacity), then the same as above will happen.

[2019-10-30 17:36] ns1123 commented on #10359
Hi @zc87328000, can you provide more master.log sections? I think the root cause may be seen higher up in the stack trace.

This message seems a bit puzzling
alluxio.exception.status.UnavailableException: Failed to connect to MetaMasterMaster @ 10-43-81-25/10.43.43.25:19998 after 7 attempts

Is 10-43-81-25 a hostname that resolves to IP 10.43.43.25? Can you also confirm whether the other masters i

[2019-10-30 18:04] apc999 commented on #10341
@madanadit has https://github.com/Alluxio/alluxio/pull/10337 fixed this issue? If yes, I will close it .

[2019-10-30 20:37] apc999 opened #10365 "Warning on failed dir deletion after running a Spark job"
**Alluxio Version:**
2.2.0-SNAPSHOT

**Describe the bug**
Running Spark with Alluxio (with default conf)
A warning like "19/10/30 13:34:26 WARN hadoop.AbstractFileSystem: delete failed: Path "/cache/.spark-staging-2" does not exist." is always shown:

[code]

**To Reproduce**
See above

**Expected behavior**
No such a warning

**Urgency**
Low

**Additional context**

[2019-10-31 00:08] ns1123 opened #10376 "Terminate ZK client connection from Alluxio Client after acquiring the leader hostname"
**Is your feature request related to a problem? Please describe.**
Currently, the Alluxio client holds the connection to Zookeeper for the entire duration that it is running even though the master hostname is requested once and cached. This results in overloading of the Zookeeper service.

**Describe the solution you'd like**
Alluxio Clients, once they have acquired and cached the leader hostname,

[2019-10-31 12:12] zc87328000 commented on #10359
Hi @ns1123
Now I can start all masters and workers,but I can't start job_master
If I execute this (alluxio-start.sh job_master) command, I will make such a mistake.

2019-10-31 20:05:20,514 INFO  utils.Compatibility (Compatibility.java:<clinit>) - Running in ZooKeeper 3.4.x compatibility mode
2019-10-31 20:05:20,530 INFO  imps.CuratorFrameworkImpl (CuratorFrameworkImpl.java:start) - Starting
2019-

[2019-10-31 14:54] madanadit opened #10381 "Remove requirement to distribute HDFS core-site/hdfs-site to all nodes"
**Is your feature request related to a problem? Please describe.**
Deploy an Alluxio cluster using EMR or Dataproc. There is no password-less ssh access b/w nodes w/ a root_ufs != HDFS

At present there is no easy way to mount HDFS as a nested mount point as core-site/hdfs-site needs to be present on all Alluxio server nodes.

The end-user either needs to redeploy the cluster or manually write a s

[2019-10-31 19:49] jiacheliu3 commented on #10316
I think we can use 1 StatefulSet with multiple replicas for multiple Alluxio masters. We are planning to do this actually, and use volumeClaimTemplates to make the PVC be created and managed automatically. This doesn't have a concrete ETA yet but is definitely the way to go in the near future.

[2019-10-31 19:55] jiacheliu3 commented on #10205
+1 `localhost` works and it is the default if you follow https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-Locally.html

@maobaolong `localhost` fails to resolve very commonly in containerized environment like docker or Kubernetes, depending on how you configure the network. Can you also provide more info on how you configure your network?

[2019-11-01 03:31] wanwe opened #10385 "shell command "test " cannot differentiate exception and "false" result"
sample command: "test -f some_existing_file"
Problem:
in case of exception, this command returns code=1, implying this is NOT a file, which is not the fact.

[TestCommand.java](https://github.com/Alluxio/alluxio/blob/9dea2a67cad376d32b2d2409e08e9280770b27b3/shell/src/main/java/alluxio/cli/fs/command/TestCommand.java#L165)

proposal:
in case of exception, can we output the exception together with r

[2019-11-01 05:12] apc999 commented on #10109
discussed with @cheyang , a workaround is to set properties like the following to avoid the error messages on "premature end"

[code]

@calvinjia FYI

[2019-11-01 05:40] apc999 commented on #10318
Discussed with @cheyang ,

FYI @calvinjia , this is the same issue we talked before when using `GreedyAllocator` where creating an initial temp block is successful while when the caching block size grows, the worker fails and always fails (as it is constantly trying the same storage dir)
- Workaround: `alluxio.worker.block.allocator.RoundRobinAllocator` to avoid the error
- TODO(binfan): make work

[2019-11-01 06:20] cheyang commented on #10322
I notice the capacity is changed from time to time.

[code]

[2019-11-01 06:21] cheyang commented on #10322
And the properties:

[code]

[2019-11-01 09:02] chentao opened #10388 "AlluxioMaster doesn't respond to any client operations (forever)"
**Alluxio Version:**
1.8.1

**Describe the bug**
Alluxio Cluster Info:
2 Masters + 42 workers with zk enabled (3 zk nodes)
2 tiered store, each worker 220GB MEM + 6TB HDD
alluxio-site:
[alluxio-site.properties.zip](https://github.com/Alluxio/alluxio/files/3797179/alluxio-site.properties.zip)

UFS Info:
A Hadoop 2.6.0-cdh5.14.4 cluster with 274 DataNodes

We mount the HDFS in Read-Only mode as we o

[2019-11-01 17:31] ns1123 commented on #10388
@chentao I checked your alluxio-site.properties and I don't see a root UFS. Is the root mount cluster the same as this one hdfs://hadoop01/? If the journal hdfs is in READ only mode, then Alluxio won't be able to perform operations since it is unable to flush any edit logs.

[2019-11-01 18:36] yuzhu opened #10390 "LockPoolTest flakey"
**Summary**
LockPoolTest often fails with the following error, there is probably a concurrency bug.
[code]

[2019-11-01 20:18] ns1123 commented on #10381
+1 since it would allow non-root users to mount an HDFS without assistance of the cluster admin

[2019-11-01 20:25] ns1123 opened #10395 "Weird Mac OS mount behavior causes failures"
**Alluxio Version:**
Any

**Describe the bug**
In Mac OS (running Alluxio locally), trying to SudoMount on a system where the Ramfs path already exists causes Mac to mount a ramfs at a different location ("$RAMFSPATH 1"). This then results in a worker with 0 space which becomes unusable.

**To Reproduce**
Create /Volumes/ramdisk using a sudo account on a Mac. Then try to start Alluxio. Check UI to

[2019-11-01 20:26] ns1123 commented on #10395
@yuzhu @tieujason330 FYI

[2019-11-01 22:05] ZacBlanco commented on #10395
@ns1123 can you provide a more concrete set of steps "To Reproduce"? i.e.  a set of bash commands?

[2019-11-01 22:06] ns1123 commented on #10395
@ZacBlanco done

[2019-11-02 03:39] cheyang commented on #10318
1. Change the following properties
[code]

2. I tried to run distributed load, it's still failed
[code]

3. Check the capacity, the cache used percentage is up to 90%. But I think it should the usage should be up to (120G-8G)=112G

[code]

4. I can see the workerOutOfSpaceException in worker logs:

[code]

5. All the logs are attached:

[diagnose_alluxio_1572619563.tar.gz](https://github.com/Allux

[2019-11-02 04:32] cheyang commented on #10322
Today I tried to use `alluxio.worker.allocator.class: alluxio.worker.block.allocator.GreedyAllocator`, the performance is even worse:

[code]

And I noticed there were a lot of evictions, but I set avoid eviction

[code]

I see there are many changes

[code]

[2019-11-02 07:52] cheyang opened #10401 "Run distributed Deep learning training when data is pinned much slower than expected when Alluxio cache is not big enough."
**Alluxio Version:**

alluxio version -r
2.1.0-SNAPSHOT-ec12adc44298d5887697b517177d1b86963e7662

**Describe the bug**

1. The training data's size is about 143GB, the cache size of Alluxio is about 120GB. And I've already run distributed deep learning training with Alluxio before, so the data has been already loaded to Alluxio.

[code]

2. Pin the directory `/images`

[code]

3. But when I run di

[2019-11-02 08:10] cheyang commented on #10401
Is it possible to disable eviction? I tried to set `alluxio.worker.tieredstore.level0.watermark.high.ratio=2`, but  it doesn't help. I want to check if it's due to eviction behavior.

[code]

[2019-11-02 15:21] cheyang commented on #10401
I'm able to set `alluxio.worker.tieredstore.level0.watermark.high.ratio=2`, but it doesn't help. The performance is not improved.

I suspect the performance downgrade is from

[code]

[2019-11-03 12:22] cheyang commented on #10401
In order to simplify the test scenario,  we change that the memory layer only has `/dev/shm`.  And other configurations are the same as  [above](https://github.com/Alluxio/alluxio/issues/10401#issuecomment-549053297). And use `alluxio.worker.tieredstore.level0.watermark.high.ratio=2` to avoid eviction.

1. The properties are as below:
[code]
2. Pin the directory `/images`

[code]

3. The performan

[2019-11-04 01:32] chentao commented on #10388
@ns1123 The root UFS is mounted through a mount command after cluster startup, and the target is not the same as journal hdfs, it's hdfs://hadoop04/.

[2019-11-04 07:28] lijufeng2016 commented on #9790
墙裂建议增加append功能，实时小文件问题才能得到解决，目前hdfs api支持append，所以现在没法用alluxio

[2019-11-04 21:09] ZacBlanco opened #10406 "Swap FindBugs plugin with SpotBugs"
**Summary**

The original codehaus FindBugs plugin is deprecated and no longer under active maintenance - https://gleclaire.github.io/findbugs-maven-plugin/

The successor to findbugs is SpotBugs - https://spotbugs.github.io/ It contains more checks for poor patterns throughout the codebase and is actively maintained.

We should use the newer plugin. I made a small attempt at switching, and spotbu

[2019-11-04 21:24] yuzhu commented on #10406
@ZacBlanco could you open a PR with SpotBugs? so that we can track what kind of issues are discovered by SpotBugs?

[2019-11-04 21:28] ZacBlanco commented on #10406
Done - https://github.com/Alluxio/alluxio/pull/10407

[2019-11-04 21:36] ZacBlanco commented on #10406
Also, I noticed my original change didn't properly use the old findbugs exclusion file, so some extra errors were caught (that's why is showed nearly 200). After using the exclusion though there were still  a few errors that showed up.

 We might want to re-visit the list of exclusions because there was a number of errors that the plugin reported up which, based on the description seemed somewhat

[2019-11-05 00:24] cheyang opened #10409 "Need Alluxio metrics support Prometheus"
**Is your feature request related to a problem? Please describe.**
Prometheus is most common monitoring system in Kubernetes. It would be great if the users  monitoring the Alluxio system with other systems or components(TiDB, mysqls, nginx) in Kubernetes to  so I don’t need to log into allxuio master.

**Describe the solution you'd like**
A clear and concise description of what you want to happen

[2019-11-05 00:39] ZacBlanco commented on #10409
Have you tried using the endpoint at `http://<alluxio master>:19998/metrics/json` and having prometheus scrape it for metrics?

[2019-11-06 11:29] pangzhenzhou opened #10421 "alluxio-2.1.0 (build from source) start job worker failed"
**Alluxio Version:**
alluxio-2.1.0

hadoop verison
Hadoop 2.7.3.2.6.4.0-91
Subversion git@github.com:hortonworks/hadoop.git -r a4b6e1c0e98b4488d38bcc0a241dcbe3538b1c4d
Compiled by jenkins on 2018-01-04T10:41Z
Compiled with protoc 2.5.0
From source with checksum 9c28f884302610b59b221c7fbaeac3e
This command was run using /usr/hdp/2.6.4.0-91/hadoop/hadoop-common-2.7.3.2.6.4.0-91.jar

**Describe the b

[2019-11-06 11:29] pangzhenzhou commented on #10421
runTests  success

[2019-11-06 17:58] madanadit opened #10422 "Helm doc version should be updated in branch-2.1 after release > 2.1"
**Page**
https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Kubernetes.html

**Summary**
As of now the documentation in the linked page points to the helm chart version included in the released 2.1 docker image (=0.5.1). However branch-2.1 was updated to helm 0.5.2 (https://github.com/Alluxio/alluxio/pull/10384/files). As docs for the released 2.1 are generated off branch-2.1 we h

[2019-11-06 21:14] yuzhu opened #10426 "Timeout for calls to external systems"
**Summary**
Currently, we make blocking calls to external systems for information. All these calls should have proper timeout values and recovery mechanisms. We should not be impacted negatively if one of these services are down or have significant service degradations.

Just as importantly, proper logging should enable fast diagnosis of such problems

External systems include:
UFS
Security Plugin

[2019-11-06 21:15] yuzhu commented on #10426
@gpang @ns1123

[2019-11-06 21:45] yuzhu commented on #10426
@ggezer https://grpc.io/blog/a_short_introduction_to_channelz/
do you think we should enable this? how much overhead would there be?

[2019-11-07 01:11] Hollyen opened #10429 "Can not remove uncommitted block"
**Alluxio Version:**
2.0.1

**Describe the bug**
in my test cluster, Disk space is around 100GB, UFS is OBS.
Because space is limited, so when i use MR to generate 1TB data to alluxio, it fails writing in the middle:
[code]

After that, i check AlluxioWorker log, it keep printing below logs:
[code]

**To Reproduce**

1. Use OBS or S3 as UFS, and enable writing the data to local disk first.
2. gene

[2019-11-08 05:41] yangjf2019 commented on #9899
Hi, @apc999 Does it resolved? Thank you!

[2019-11-08 08:22] chentao commented on #10388
@ns1123 We found that:
1. It's tightly related to the under HDFS's performance, the average RPC processing time of HDFS increase result this problem more serious, we solved the HDFS's performance issue and the alluxio master became more healthy.
2. And, the big amount of small files of HDFS directory reading by client is a big cause of the increasing of metadata of alluxio master.

[2019-11-08 21:13] ZacBlanco commented on #10409
@cheyang were you able to get it to work with that endpoint?

[2019-11-08 22:29] ggezer opened #10432 "ProcessUtils.fatalError() to export critical information before crashing the process"
**Is your feature request related to a problem? Please describe.**
It would be good to export some critical information (stack traces, heap dump, etc...) before crashing process due to a fatal error.

**Additional context**
It's hard to reproduce fatal errors and most of the valuable information is gone with the terminated process.

[2019-11-09 07:16] lord-i-will opened #10437 "Architecture and Data Flow"
**Page**
https://docs.alluxio.io/os/user/stable/en/Architecture-DataFlow.html#local-cache-hit

**Summary**
As for these words: "For example, if an application requests data access through the Alluxio client, the client asks the Alluxio master for the worker location of the data. If the data is locally available, the Alluxio client uses a “short-circuit” read to bypass the Alluxio worker and read t

[2019-11-09 07:27] lord-i-will commented on #10437
In the next section, i see the "local worker". Why is the application deployed with a worker? In the production env, alluxio clusters must be deployed on seperated machines. So my application and the worker can not be on the same machine, in this situation how to understand the "Local cache hit" section?

[2019-11-11 01:56] roderickyao opened #10438 "Dataproc initialization action does not create Alluxio cluster (conf/workers)"
Alluxio Version: 2.1.0

The Dataproc initialization action does not set /opt/alluxio/conf/workers file properly. It only has "localhost" as content. When modified this file, start cluster also fails due to SSH failure because the start command does not handle the request of adding first time connect host to its known host list.

[2019-11-11 16:49] roderickyao opened #10439 "Dataproc initialization action create directory under user "kafka:google-sudoers""
Alluxio 2.1.0

Dataproc initialization actions create Alluxio directory /opt/alluxio using user name "kafka" and group "google-sudoers" by default. Users will have permission denied error when they run "alluxio format".
`og4j:ERROR setFile(null,true) call failed.
java.io.FileNotFoundException: /opt/alluxio/logs/master_audit.log (Permission denied)
	at java.io.FileOutputStream.open0(Native Method)

[2019-11-11 18:39] ZacBlanco commented on #10437
Data locally available means that the data the client is requesting is available on the same physical machine that the client is executing on. This usually means that the Alluxio client application and Alluxio worker process are running on the same machine.

----

It is recommended when deploying Alluxio that your client applications run on the same machine as your Alluxio workers. This provides t

[2019-11-11 18:46] ZacBlanco commented on #10421
@pangzhenzhou there isn't enough information here to determine your issue.

- What command did you use to compile Alluxio?
- What java version are you using?
- What maven version are you using?

All the other information provided about your hadoop distribution seems irrelevant.

[2019-11-11 20:58] madanadit commented on #10439
Hi @yhqs540 can you please post the `gcloud dataproc clusters create` command you used to launch the cluster?

[2019-11-11 21:01] madanadit commented on #10438
Hi @yhqs540, this is expected behavior. We do not rely on passwordless ssh for startup in dataproc and do not use `conf/workers` or `conf/masters`

[2019-11-11 21:06] yhqs540 commented on #10439
gcloud dataproc clusters create roderickyao-alluxio --initialization-actions gs://alluxio-public/enterprise-dataproc/2.0.1-1.0/alluxio-dataproc.sh --single-node --master-boot-disk-size=50G --worker-boot-disk-size=50G --metadata alluxio_root_ufs_uri=gs://<bucket>/alluxio-test/,alluxio_site_properties="alluxio.master.mount.table.root.option.fs.gcs.accessKeyId=<KEY>;alluxio.master.mount.table.root.op

[2019-11-11 21:26] yhqs540 commented on #10438
In that case, how to enable cluster mode in Dataproc?

[2019-11-12 03:02] lord-i-will commented on #10437
thx, @ZacBlanco . Still can not understand "bypass the Alluxio worker and read the file directly via the local file system", "local file system" means the disk? But the following picture use RAM, RAM means memory, right? If "local file system" means the disk, when other clients on different machines request the same data, this worker will read the file again from the disk and cache it. Under this

[2019-11-12 06:21] ZacBlanco commented on #10437
The term "local filesystem" is ambiguous. Generally it means reading from whatever path you've configured your worker storage. This could be:

(note the paths i.e. `/mnt/**` are arbitrary. They could be any value)

- A path such as `/mnt/ssd` which might be mount solid-state or NVMe storage
- A path such as `/mnt/hdd` which might be mount a spinning-disk harddrive
- A path such as `/mnt/ramdisk` w

[2019-11-12 15:50] roderickyao opened #10453 "Metadata sync between Alluxio and GCS"
Today, Alluxio did not implement sync with GCS. It is not straight forward to get changes from the GCS side to show up in Alluxio. In order to get more GCP users to find Alluxio as a good solution for them, syncing data is a fundamental feature to have.

[2019-11-12 18:50] ZacBlanco commented on #10437
Other than our architecture guide there really is no documentation for how the internals of the system are arranged.

If you're really interested in understanding the inner system, then I can point to a few good files to look at first

- DefaultFileSystemMaster.java
- BaseFileSystem.java
- DefaultBlockWorker.java

Those are the entry points for the main logic of the system - master, client, and wo

[2019-11-12 22:59] ZacBlanco opened #10459 "Re-evaluate catch-all exception handling throughout the codebase"
**Summary**
In the same category as #9679

During the work of converting from using FindBugs to SpotBugs (#10407) I found that there was a particular class of bugs that we had strewn throughout our codebase - the `REC_CATCH_EXCEPTION`. The bug code, by definition states

[code]

To summarize, essentially what I saw is that there are many places throughout our codebase where we `catch(Exception e)`

[2019-11-13 00:38] lord-i-will commented on #10437
very thx~ @ZacBlanco

[2019-11-13 00:39] #10437 closed

[2019-11-13 18:30] apc999 opened #10468 "Presto queries get stuck infinitely while accessing files from alluxio."
**Alluxio Version:**
Alluxio v2.1.0

**Describe the bug**
Originally reported from https://alluxio-community.slack.com/archives/CEXGGUBDK/p1573638510393600

we are facing some weird issue while accessing data from Alluxio using presto. Presto queries are getting stuck infinitely while accessing files from alluxio. I checked the thread dumps for presto worker and seems that threads are getting lock

[2019-11-13 20:54] roderickyao opened #10469 "For GCS, use Google SDK instead of unmaintained Jet3t API"
For GCS, use Google SDK instead of unmaintained Jet3t API

Urgency:
Jet3t API uses out of date way of operating Google Cloud services. For example it still requires GCS access keys instead of Google Cloud credentials. It is making using Alluxio on GCP more complicated.

[2019-11-13 22:04] #10406 closed

[2019-11-14 03:21] ns1123 opened #10470 "Process worker metrics concurrently"
**Is your feature request related to a problem? Please describe.**
The existing metrics system isn't great with concurrent updates from the worker heartbeats. Often times, processing of a large number of worker metrics ends up occurring serially which can then result in poor performance/latency.

The metrics store is serialized here:
https://github.com/Alluxio/alluxio/blob/v2.1.0/core/server/maste

[2019-11-14 03:31] lord-i-will opened #10471 "Metrics System"
**Page**
https://docs.alluxio.io/os/user/stable/en/operation/Metrics-System.html

**Summary**
Don't you support InfluxDBSink? Is this in your roadmap?

[2019-11-14 04:13] gpang opened #10472 "Allow clients to call getWorkerInfoList() without grabbing WorkerInfo locks"
**Is your feature request related to a problem? Please describe.**
When many clients access the master for the list of workers (for reading or writing files), it will grab the locks for all the workers on the master. However, if there are a lot of clients and/or lots of workers, this adds a lot of contention.

Here is the lock:
https://github.com/Alluxio/alluxio/blob/v2.1.0/core/server/master/src/

[2019-11-14 08:39] chentao commented on #10388
as the reason above, close the issue.

[2019-11-14 08:39] #10388 closed

[2019-11-14 19:23] ZacBlanco commented on #10471
Hi @lord-i-will ,

Currently, there are no plans to support an InfluxDB sink with our metrics system.

Personally, I recommend using the Graphite or Prometheus sink, and seeing if you can export them to InfluxDB from there. I'm not as familiar with the tool, so I can't provide a better recommendation.

[2019-11-15 01:16] apc999 commented on #10008
Close this PR as it is solved by #10111

[2019-11-15 01:16] #10008 closed

[2019-11-15 02:43] lord-i-will commented on #10471
thx，our company is using influxDB for all services monitor. We are now using python to parse /metrics/json and import the parsed metrics to InfluxDB.

[2019-11-15 02:43] #10471 closed

[2019-11-18 01:36] ns1123 commented on #10359
@zc87328000 sorry for the delayed response, have you managed to figure out the issue? I noticed your latest logs have Alluxio using ZK 3.4.x compatibility mode even though you mentioned your ZK quorum is at version 3.5.x.

[2019-11-18 09:31] surajc-cuelogic commented on #10468
@apc999,
As per discussion on slack I tried by setting **alluxio.user.file.master.client.threads=128** this property but I still getting the same issue. I have captured the thread dumps and attaching here. I hope that will help to debug the issue.
[presto-worker-thread-dump-18-11.txt](https://github.com/Alluxio/alluxio/files/3857872/presto-worker-thread-dump-18-11.txt)

[2019-11-18 12:14] surajc-cuelogic commented on #10468
Attaching files to understand the alluxio configurations we have on production

[alluxio-env-master.txt](https://github.com/Alluxio/alluxio/files/3858519/alluxio-env-master.txt)
[alluxio-env-worker.txt](https://github.com/Alluxio/alluxio/files/3858520/alluxio-env-worker.txt)

[2019-11-18 17:05] ns1123 commented on #10409
@cheyang there's a prometheus Metrics Sink provided. Please see the link below:
https://docs.alluxio.io/os/user/stable/en/operation/Metrics-System.html?q=metrics

[2019-11-18 18:35] apc999 commented on #10468
@bf8086 can you help take a look?

[2019-11-18 18:51] ggezer commented on #10426
It's an internal metrics system or gRPC and we'd need a code change to enable it. I'd imagine it would become a bottleneck in high traffic scenarios but can't say before trying. I don't see much value in tracking the gRPC internals as our use of gRPC makes it easy to deduce much of the information through our own metrics.

[2019-11-18 18:54] ggezer opened #10479 "Extend JournalTool to dump Copycat internals"
**Is your feature request related to a problem? Please describe.**
For certain cases, a post-mortem on embedded journals will be easier when having access to internal copycat logs.

**Describe the solution you'd like**
An `-advanced` flag that instructs JournalTool to dump copycat internal logs when reading copycat journal directory.

**Additional context**
Add any other context or screenshots abo

[2019-11-18 18:55] ns1123 commented on #10426
+1 for this change. What is the behavior expected if a call blocks too long? For example, if the Ranger plugin takes too long to respond, does the Master fallback to it's own internal permission model? Or do we just return some sort of ModuleTimeoutException?

[2019-11-18 19:35] bf8086 commented on #10468
@surajc-cuelogic thanks for reporting the issue. Do you still have the Alluxio worker log for node `soc-alluxio-worker-5.soc-alluxio-worker` around timestamp `2019-11-13 07:54`?

[2019-11-19 01:00] dborkar commented on #10453
You can configure the property - alluxio.user.file.metadata.sync.interval=<in secs> in the alliuxio site.properties. Any time a file or directory is access, Alluxio will check the understore if it has been more than the time specified by this property. So if you configure it for 7200 = 2 hrs, and issue an alluxio fs ls command, if the 2 hrs are passed since the last check in UFS, Alluxio will go t

[2019-11-19 01:07] ZacBlanco commented on #10385
@wanwe Sorry for the late reply. I agree that the current behavior is not ideal.

How about we improve the command to more closely adhere to the POSIX standard, as well as what we find in most common systems today: https://pubs.opengroup.org/onlinepubs/9699919799/utilities/test.html

I would suggest that we simply return >1 on errors, and 1 when the file doesn't exist.

[2019-11-19 01:44] rastogiasr commented on #10438
@yhqs540 - Currently we are not supporting HA mode. For HA mode to work, there is additional work that needs to be done in the init_action script to figure out the ip/dns for other Alluxio masters. Do you know how many users typically go with HA Cluster mode vs Single Master mode?

[2019-11-19 05:45] prashantk-cuelogic commented on #10468
@bf8086 Thanks for your response. We have saved Alluxio worker logs of soc-alluxio-worker-0.soc.alluxio-worker around timestamp 2019-11-13 07:40 and attached same. Unfortunately we do not have worker logs for soc-alluxio-worker-5.soc-alluxio-worker.
[alluxio_worker_log.txt](https://github.com/Alluxio/alluxio/files/3862093/alluxio_worker_log.txt)

[2019-11-19 22:31] bf8086 commented on #10468
@prashantk-cuelogic do you have master log for around the same time period? How many masters do you have?

Can you also post your Alluxio client side configuration set in presto?

[2019-11-20 06:26] prashantk-cuelogic commented on #10468
I do not have alluxio msater logs around the same time period. We have 3 alluxio masters running in HA mode(using zookeeper). We are using glusterFs as a journal path for masters.
Please find alluxio client side configuration set in presto:
[config_properties.txt](https://github.com/Alluxio/alluxio/files/3867538/config_properties.txt)

[hive_properties.txt](https://github.com/Alluxio/alluxio/files

[2019-11-20 18:40] bf8086 commented on #10468
@prashantk-cuelogic is it possible for you to share the query or type of workload running when this issue happen? How many presto workers and alluxio workers are you running? Are they colocated?

[2019-11-20 19:26] bf8086 commented on #10468
From the attached thread dump it looks like the presto worker is reaching maximum number of Alluxio master clients. Can you also attach your presto worker log from the worker which hangs? To get more detailed information, please also turn on Alluxio client debug log by adding a new line `alluxio=DEBUG` to presto log configuration `/etc/presto/log4j.properties`

[2019-11-20 23:27] ns1123 commented on #10422
@madanadit can this be marked as done?

[2019-11-20 23:31] ns1123 commented on #10390
@yuzhu is this still an issue? Are you/anyone else looking into this?

[2019-11-20 23:41] ns1123 commented on #10341
@madanadit is this something that a lot of users are going to be impacted by? How obvious is it that the missing spaces is the root of the problem?

[2019-11-20 23:46] yuzhu commented on #10390
I don't think anyone has looked at this yet. so this is probably still an issue

[2019-11-21 18:45] madanadit commented on #10422
No

[2019-11-21 19:00] madanadit commented on #10341
It is not necessarily obvious, I would guess a significant number of users can run into this

[2019-11-21 21:48] bf8086 commented on #10190
@maobaolong have you tried the latest master to see if the issue is resolved for you?

[2019-11-22 07:35] JySongWithZhangCe opened #10501 "alluxio-1.8.2 directory hang"
**Alluxio Version:**
1.8.2

**Describe the bug**

    1. Spark read hive table, partitionBy and write to Alluxio
    2. due to run over 10 mins, i killed job
    3. file in Alluxio didn't delete
    4. "alluxio fs ls /" hang
    5. restart master and worker didn't work
    6. alluxio master can work after one night
    7. replay 1-3，alluxio fs ls / worked，but target directory hang, and export

[2019-11-22 18:06] ZacBlanco commented on #10501
@JySongWithZhangCe do you happen to have any of the master or worker logs from when you saw this error occur?

[2019-11-22 22:56] ggezer opened #10505 "Revise master shutdown sequence"
**Summary**
There are problems with the way we're shutting down masters:
1- There is no graceful wait period. We interrupt first, then wait.
2- Not all RPCs/ HeartbeatExecutors handle interruptions properly
3- Timeout for server shutdown is not well defined. A same value is used as a timeout for various sequential shutdown stages. (shutdown server -> shutdown executor -> shutdown master executors

[2019-11-23 01:06] apc999 commented on #10501
please help upload the jstack thread dump and master logs when the master hangs, which will be very helpful for us to identify the issue  @JySongWithZhangCe

[2019-11-23 02:19] JySongWithZhangCe commented on #10501
in debug level, there was no ERROR information, i will provide logs and jstack thread

[2019-11-23 02:19] JySongWithZhangCe commented on #10501
sure

[2019-11-23 03:12] JySongWithZhangCe commented on #10501
i open a github project and push logs here
https://github.com/JySongWithZhangCe/AlluxioBugAnalysis/tree/master/alluxio-1.8.2-2019-11-19

[2019-11-26 05:41] apc999 opened #10514 "NPE on worker start"
**Alluxio Version:**
2.2.0-SNAPSHOT

**Describe the bug**
NPE is thrown on worker startup,
![image](https://user-images.githubusercontent.com/1413748/69602360-19ded380-0fcc-11ea-917a-2f2eeaab4887.png)

**To Reproduce**
N/A

**Expected behavior**

**Urgency**
Medium

**Additional context**
reported https://alluxio-community.slack.com/archives/CEXGGUBDK/p1573922570443300

[2019-11-26 12:47] sunweihao opened #10515 "buildnumber maven plugin error when compilng"
**Alluxio Version:**
What version of Alluxio are you using?
2.1.0
**Describe the bug**
A clear and concise description of what the bug is.
I tried to compile the alluxio source code on my ubuntu18.04 machine by executing "mvn -e -T 2C clean install -DskipTests -Dmaven.javadoc.skip -Dfindbugs.skip -Dcheckstyle.skip -Dlicense.skip".
And I got an error.
[code]

I tried two times and it reproduced. So

[2019-11-26 15:26] #10514 closed

[2019-11-26 16:14] ZacBlanco commented on #10515
hi @sunweihao  - as far as I'm aware Alluxio does not comile with maven 3.6.x+

Can you try using maven 3.5.4? That's the version I use to compile and it usually works just fine.

[2019-11-26 20:35] we7team opened #10517 "在fuse下测试读写速率，结果很不理想，是不是我配置有问题"
**Alluxio Version:**
alluxio/alluxio-fuse:2.1.0

**Describe the bug**
我是直接使用helm工具生成的helm包直接部署的。
一个节点服务器的集群环境，一个master，一个woker，一个fuse。

### BUG1：
在fuse挂载的目录下测试读写速率，结果很低
**首次写：**
![image](https://user-images.githubusercontent.com/4837122/69669593-20a13f80-10cd-11ea-9645-404331f4b599.png)
**首次读：**
![image](https://user-images.githubusercontent.com/4837122/69669637-31ea4c00-10cd-11ea-99df-b2590106cde

[2019-11-26 20:37] we7team commented on #10517
测试写：time dd if=/dev/zero of=testfile bs=8k count=1024
测试读：time dd if=testfile of=/dev/null bs=8k count=1024

[2019-11-26 22:11] ZacBlanco opened #10519 "UFS fallback does not work"
**Alluxio Version:**
2.1.0

**Describe the bug**
There is a couple issues with the logic for our UfsFallbackBlockWriteHandler; mainly that writing a large file larger than worker space with UFS tier enabled just does not work.

**To Reproduce**

EDIT: I tried this with and without short-circuit access enabled and it fails for both cases. Effectively, UFS fallback is broken and does not currently w

[2019-11-26 23:06] jiacheliu3 commented on #10517
Translation:
The cluster is deployed using Helm, 1 node cluster, 1 master process, 1 worker process, 1 fuse.

Test1：
Low RW performance under Fuse mount directory.
Test Write command：`time dd if=/dev/zero of=testfile bs=8k count=1024`
Test Read command：`time dd if=testfile of=/dev/null bs=8k count=1024`

3 pictures for 3 tests:
1) initial Write
2) initial Read
3) multiple Reads

Then the compariso

[2019-11-26 23:10] jiacheliu3 commented on #10517
@madanadit Do you think the files used in the performance test are too small compared to the block sizes Alluxio uses? Are you aware of existing issues with Fuse in K8s?

[2019-11-27 03:59] sunweihao commented on #10515
hi @ZacBlanco
Thanks for your suggestion first.
Unfortunately, I tried again with maven 3.5.4 and it worked the same as before

[2019-11-27 07:59] apc999 commented on #10517
@we7team 8kb文件的读写更多压测的是元数据的latency而不是数据的tput。
另外我们也注意到了Alluxio Fuse 在K8S环境下小文件的性能有很大的提升空间。目前有一系列的patch在提高这块的性能:
1  https://github.com/Alluxio/alluxio/pull/10484 (已经merge）
2 https://github.com/Alluxio/alluxio/pull/10513 （已经merge）
3 https://github.com/Alluxio/alluxio/pull/10512 （正在review）

 此外，您提到了fuse 和master都挂了， 这块有没有fuse以及master的log可以看一下报错信息？

[2019-11-27 13:12] we7team commented on #10517
元数据性能这一块如何做提升呢，能不能从我目前的配置上做改善，因为差距确实很大，享受不到内存或者本地硬盘的性能提升很着急。

matser挂了可能是内存用超的原因，我现在给的是1G，这一块的配置有没有推荐，一般多少比较合适？

[2019-11-27 16:29] ZacBlanco commented on #10515
I'm not sure what the issue is then - I use maven 3.5.4 on macOS with the following command:

[code]

Can you provide some more information about the environment you're running on? i.e. your OS and and corresponding version? As well as the commit hash you're attempting to build on

[2019-11-27 18:56] chcn commented on #10517
@we7team 目前小文件读的latency高很大程度上是因为rpc调用过多，无法从配置上做改善。可以尝试这个branch：https://github.com/chcn/alluxio/tree/small-file

master内存需求跟文件数量有关，可以先调成4g试一下。

[2019-11-28 00:20] #10470 closed

[2019-11-28 03:53] sunweihao commented on #10515
@ZacBlanco
OS ubuntu 18.04.1
And the code I built on is the source code downloaded from the release of version 2.1.0.

[2019-11-28 11:23] we7team opened #10533 "fuse会无缘无故挂掉，然后无法启动"
**Alluxio Version:**
alluxio/alluxio-fuse:2.1.0

**Describe the bug**

**k8s上pod的状态：**
![image](https://user-images.githubusercontent.com/4837122/69801868-3587eb00-1213-11ea-96b7-1d18715922bf.png)
![image](https://user-images.githubusercontent.com/4837122/69801920-4cc6d880-1213-11ea-85c4-fbaf1d5c478b.png)
可以看出来，master昨天挂了一次，fuse一直在重启，重启了N次都没启动成功。

**fuse上的日志：**
`failed to open log file "/var/log/p

[2019-11-28 11:33] we7team opened #10535 "fuse在底层存储使用NFS的时候，没有考虑权限兼容问题"
**Alluxio Version:**
alluxio/alluxio-fuse:2.1.0

**Describe the bug**
NFS上有个关于权限的配置项，会把某些权限映射为设置的权限，并且这个权限在NFS目录下是无法更改的。但是master在写入文件时会有一个更改user、group的步骤，比如nfs上映射的权限是www:www，fuse上写入的文件权限root:root，这就导致matser上一直报错，说权限无法更改。

**NFS配置：**
`/nfs 10.*.*.*(rw,async,no_subtree_check,all_squash,anonuid=1000,anongid=1000)`

**master上的报错日志：**
[code]

[2019-11-28 12:11] we7team commented on #10517
@chcn 使用了alluxio/alluxio:2.2.0-SNAPSHOT，alluxio/alluxio-fuse:2.2.0-SNAPSHOT镜像测结果依旧不理想，下面是测试结果：
![image](https://user-images.githubusercontent.com/4837122/69805262-48062280-121b-11ea-8775-20c9fe484032.png)

[2019-11-29 17:00] we7team commented on #10533
使用mountPropagation: Bidirectional会造成不少问题，非正常重启导致宿主机器上的挂载点还存在。然后fuse服务就无法挂载上去了。另外就是如果其他pod使用了宿主上的这个共享目录，一旦fuse重启了，其他pod上的挂载点就全部出错了。
![image](https://user-images.githubusercontent.com/4837122/69882888-b8d93780-130c-11ea-8fb6-e28ad54a3dc7.png)
![image](https://user-images.githubusercontent.com/4837122/69882892-bb3b9180-130c-11ea-8054-160504d6b88b.png)

我感觉想从根本上解决，还得让k8s支持alluxio的fuse协议进行挂载，就像支持nfs直接挂

[2019-11-29 17:10] we7team commented on #10533
或者alluxio多支持一种协议，nfs，这样的话就完美与k8s兼容了，k8s的存储类型支持nfs协议，也是比较通用的解决方案。之前提过一个相关的issue：https://github.com/Alluxio/alluxio/issues/8746

[2019-11-29 19:35] we7team commented on #10533
参考：https://github.com/dCache/nfs4j

[2019-12-02 10:59] Shmilyqjj opened #10539 "Timed out waiting for file to be persisted"
**Alluxio Version:**
2.1.0

**Describe the bug**
I can not free or persist a file because of the file  which is not persisted.

**To Reproduce**
* writeType:ASYNC_THROUGH
* readType:CACHE_PROMOTE
* A 30GB table with some small files
* spark version 2.1.0
* 53 Worker Alive and 2 Worker Lost. 50GB MEM each Worker.

df = spark.table(table_name)
df.write.parquet('alluxio:///data/cdbp')
Because there a

[2019-12-02 13:10] we7team opened #10541 "fuse下测试大量写入后，很多失败的记录导致文件列表无法读取"
**Alluxio Version:**
alluxio/alluxio-fuse:2.2.0-SNAPSHOT

**Describe the bug**
**测试命令：**
`for i in {1..10000};do dd if=/dev/zero of=file_$i bs=4K count=$i;done`

结果我 ls 时，出现大量错误日志，并且这一步会一直卡住，删也不删掉，猜测可能是在获取元数据对数据块进行了完整性检测，这种同步操作会严重影响获取元数据的速度，我认为应该异步处理，或者有个开关配置可以关掉这种检测才是比较合理的。

**错误日志：**
![image](https://user-images.githubusercontent.com/4837122/69961879-c3334580-1547-11ea-8164-1a7f9b3ed4e9.png)

[2019-12-02 18:04] ZacBlanco commented on #10539
@Shmilyqjj If possible, can you provide Alluxio master, worker, and/or client logs during the time when the above error occurs?

[2019-12-02 18:14] ZacBlanco commented on #10515
@sunweihao I've tested the commands below on numerous systems and have had no issues compiling. I suspect the issue has something to do with your local environment.

[code]

[2019-12-02 19:01] ggezer opened #10544 "Avoid doing work when RPC is cancelled from client side"
**Is your feature request related to a problem? Please describe.**
When a long running RPC is cancelled on the client side, server don't get notice and keeps running. It discovers RPC being cancelled when it finally tries to write the result. It's ideal that server periodically checks if client has cancelled the RPC and thus bailing from the service call.

**Describe the solution you'd like**
gRPC

[2019-12-02 19:04] ggezer opened #10545 "Enable early release of locks during rpcs"
**Is your feature request related to a problem? Please describe.**
Currently, setAttribute and setAcls calls iterate inode tree with DFS. This means the write-lock on the parent will remain locked until the whole tree is enumerated. Switching to BFS for these calls can help avoiding locking overhead when they are called on branches of a root concurrently, so that they don't contend for write-lock

[2019-12-02 19:05] ggezer commented on #10036
This issue is split as below:
https://github.com/Alluxio/alluxio/issues/10544
https://github.com/Alluxio/alluxio/issues/10545

[2019-12-02 19:05] #10036 closed

[2019-12-02 19:31] bf8086 commented on #10468
[presto-worker-logs.log](https://github.com/Alluxio/alluxio/files/3912989/presto-worker-logs.log)
[thread-dumps for same presto worker.log](https://github.com/Alluxio/alluxio/files/3913000/thread-dumps.for.same.presto.worker.log)

[2019-12-02 23:43] bf8086 commented on #10468
@surajc-cuelogic Thanks for the additional logs. I see two issues from the logs/thread dump:
- From the presto worker logs there seems to be a network issue happening around `2019-12-02T12:22` and many network requests including Presto, Kudo and Alluxio worker requests has failed. You might want to investigate the network issue which seems to cause timeout in various places.

- The thread dump ind

[2019-12-03 01:21] LuQQiu commented on #10541
Fuse 会将大量应用转换为底层API, 且AlluxioFuse无法控制这种转换， 比如你运行ls /test , 理想情况下FUSE 应该给到AlluxioFuseFileSystem.getattr(/test),但它会转换为对所有的子文件进行ls 比如getattr(/test/file_1), getattr(/test/file_2), getattr(/test/file_3)......
我不确定这步能否被取消。根据你的反应，可能你就卡在这里了

Fuse 写入一个文件会呼叫AlluxioFuseFileSystem.create(), 一系列 write(), 然后 close() 这代表这个文件写入完成。当一个文件还没有写入完成时，AlluxioFuseFileSystem.getattr()会显示 `File is not completed` ERROR. 这是因为

[2019-12-03 06:30] upclose opened #10552 "Alluxio v1.8.1 reflected xss vulnerability"
A reflected XSS vulnerability was found in Allusio V1.8.1.

An attacker can inject arbitrary web script or HTML through the "path" parameter in the Browse board, causing a reflected XSS attack and stealing cookies.

POC:
msgbox("foo")";</script><script>alert(document.cookie)</script><script>

Vulnerability trigger point:
http://localhost/browse?path=%2F&offset=0&limit=9
XSS vulnerability will be s

[2019-12-03 06:55] Shmilyqjj commented on #10539
I updated the comment.

[2019-12-03 16:10] we7team opened #10553 "fuse在alpine下运行无法创建文件夹"
**Alluxio Version:**
alluxio/alluxio-fuse:2.2.0-SNAPSHOT

**Describe the bug**
官方的fuse镜像太大了，想基于alpine做个小点的镜像，运行中发现创建文件夹报错

**错误日志：**
[code]

**dockerfile：**
[code]

用户也没问题
![image](https://user-images.githubusercontent.com/4837122/70068137-665c8b80-162a-11ea-80fa-183ce08cf34d.png)

[2019-12-03 16:22] we7team opened #10554 "fuse与nfs结合后，写入的文件都是空文件"
**Alluxio Version:**
alluxio/alluxio-fuse:2.2.0-SNAPSHOT

**Describe the bug**
之前发现fuse在k8s环境中，使用`mountPropagation: Bidirectional`挂载会导致非正常重启无法umount的问题，我认为在fuse上加一层nfs，用nfs可以完美解决这个问题。具体看：https://github.com/Alluxio/alluxio/issues/10533

但是我在实践中发现，从nfs客户端往fuse里写入的都是空文件
![image](https://user-images.githubusercontent.com/4837122/70068686-6d37ce00-162b-11ea-9e00-07acb222d8a6.png)

猜测可能是因为nfs的写入方式，是先创建文

[2019-12-03 16:35] LuQQiu commented on #10535
对于AlluxioFuse 写入文件的权限，之前我们是统一与Alluxio CLI 一致，使用alluxio:alluxio 这个default user/group. 由于用户希望能像本地文件系统一样，自动提取当前创建文件的用户和组作为文件的用户和组，所以我们修改为自动提取当前用户、组。 根据你所说的情况， 我们可以加入一些AlluxioFuse properties,比如 FUSE_DEFAULT_USER, FUSE_DEFAULT_GROUP, 如果这些property 在conf/alluxio-site.properties 中出现，会自动设置给AlluxioFuse

[2019-12-03 16:51] we7team commented on #10535
@LuQQiu 可以

[2019-12-03 19:18] yuzhu opened #10557 "Transformation can fail when csv files has a header"
**Alluxio Version:**
2.1.0

**Describe the bug**
When a table stores its file as a csv file and it has headers, its property `skip.header.line.count`  is not respected by the transformation and the transformation fails because of type mismatch.

**To Reproduce**
attach a database with a table that has csv as its data and the csv has a header.

**Expected behavior**
Expect the transformation to res

[2019-12-03 19:20] #10557 closed

[2019-12-03 21:30] gpang commented on #10545
Are you suggesting that if you do BFS, you can unlock sooner (before completion of rpc)? If so, then I think the title should reflect something like "enable early release of locks during rpcs" or something.

[2019-12-04 02:59] Andyfan322 opened #10566 "presto+alluxio 查询性能基本没什么提升？怎么回事，各位帮忙看看！"
## 1、总述

```presto + alluxio```查询 VS```presto``` 查询对比性能基本没提升！

## 2、集群信息

* 集群：CDH 5.15.2，hadoop 2.6.x ，presto(0.228) ， alluxio(1.8.1)

* 机器配置如下

|    主机    |   cpu   | 内存 | 磁盘  |
| :--------: | :-----: | :--: | :---: |
| p1(master) | 16 core | 64GB | 100GB |
|     P2     | 8 core  | 32GB | 100GB |
|     P2     | 8 core  | 32GB | 100GB |

* catalog 配置

[code]
## 3、测试

* 测试：基于```hive-testbench``` 的

[2019-12-04 08:06] surajc-cuelogic commented on #10468
@apc999 @bf8086 I had discussion with presto team, they are saying JAVA 11 is more performant than Java 8 and in near future they are making Java 11 as minimum requirement for presto. Are we considering moving Alluxio as well to Java 11?

[2019-12-04 12:26] lab-proj-admin commented on #10359
Hi. I have met the same question. Have you solved this question? Thanks and look forward for your reply. @zc87328000

[2019-12-04 20:46] ns1123 opened #10571 "Allow IPC's for stop/start/restart of specific systems within Alluxio"
**Is your feature request related to a problem? Please describe.**
Rebooting the entire Alluxio Master process can be expensive depending on the size of the journal/inodetree. In some scenarios, errors can be corrected with a restart of just the internal gRPC server (gRPC server thread limits, buffer limits, potential issues with the server itself). Having the ability to reset other systems like M

[2019-12-04 20:53] electrum commented on #9856
@ZacBlanco Presto uses the Hadoop libraries without any problems on Java 11. The Hadoop issue you linked to seems to be about running all of Hadoop on Java 11, not just the client libraries (which already work).

[2019-12-04 20:55] electrum commented on #9856
Presto excludes `jdk.tools` for `hadoop-common`: https://github.com/prestosql/presto-hadoop-apache/blob/master/pom.xml#L166-L169

[2019-12-04 20:57] ZacBlanco commented on #10571
I think we should carefully think about the implementation of something like this because being able to start/stop the system via an RPC is susceptible to security issues with denial-of-service attacks being carried out in environments that are not properly secured.

[2019-12-04 21:27] ns1123 commented on #10571
@ZacBlanco I'll modify the description to be an IPC. It doesn't need to be executable from a remote host and since part of the reason for implementing this is to restart the RPC server anyway, it wouldn't make sense to have it rely on the RPC framework for this call.

[2019-12-04 23:30] #10544 closed

[2019-12-04 23:32] ZacBlanco commented on #9856
@electrum Thanks for the clarification. I'll add the exclusion for java 11 and see how that affects our build.

[2019-12-05 13:29] jinhang commented on #8868
@zhipcui@apc999 how to fix "Cannot resolve io.atomix.copycat.alluxio:copycat-client:1.2.14" ? where is this jar in maven rep?

[2019-12-05 13:31] jinhang commented on #8868
![image](https://user-images.githubusercontent.com/4497831/70239595-8ca73600-17a6-11ea-8052-2ff10f9b6f7c.png)

[2019-12-05 19:18] ns1123 commented on #10571
As added clarification, this could be done using a UNIX domain socket with permissions set as 700 so that only the Alluxio process owner would be able to issue the specific calls and only from the leader-master host.

[2019-12-05 20:59] jiacheliu3 commented on #10517
#10512 已经merge @chcn 你觉得性能会有比较大的变化吗？

[2019-12-06 03:29] jinhang opened #10582 "flink on alluxio execute wordcount show Failed to cache(Permission denied)"
**Alluxio Version:**
2.0.1
**Describe the bug**
flink on alluxio , execute command:
fink run -m yarn-cluster example/batch/wordcount.jar --input alluxio://{host-name}/test/testFile
--output alluxio://{host-name}/test/outFile
err:
caused by : java .io.IOException: Failed to cache : {alluxio.worker.tieredstore.level0.dirs.path}/alluxioworker/.tmp_blocks/310/3423542352-3f3f3f1324343 (Permission denie

[2019-12-06 03:30] jinhang commented on #10582
we have execute chmod 777 {alluxio.worker.tieredstore.level0.dirs.path}

[2019-12-06 03:31] jinhang commented on #10582
we execute fink run -m yarn-cluster example/batch/wordcount.jar --input alluxio://{host-name}/test/testFile is running well

[2019-12-06 15:00] mauromussin opened #10586 "Docker without ssh installed"
**Alluxio Version:**
2.1.0

**Describe the bug**
Alluxio start and stop commands do not work inside the container

**To Reproduce**
executing the command inside the master node
[code]
the log file is
[code]
**Expected behavior**
start & stop smooth

**Urgency**
urgent: the docker microservice could not change config

**Additional context**
Could be an error in the dockerfile (installing without ss

[2019-12-07 09:50] jinhang commented on #10582
someone help me?

[2019-12-08 23:56] cheyang opened #10592 "NPE in alluxio fuse log"
**Alluxio Version:**
What version of Alluxio are you using?
2.2.0

**Describe the bug**
Check the fuse log:

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
Add any other context abo

[2019-12-09 18:27] ZacBlanco commented on #10586
Thanks for reporting this @mauromussin .

I would not label this as a bug. It is expected behavior for the docker container(s).

If you want to change the configuration, you should stop, remove, and then start a new docker container with the proper configuration parameters. Doing otherwise violates the intended design principles for docker.

If you really want to restart the service within the con

[2019-12-09 18:29] ZacBlanco commented on #10582
@jinhang it will depend upon how your yarn cluster is configured and which nodes your job is scheduled on. Are you in a single node or multi-node setup? have you executed `chmod 777 <alluxio.worker.tieredstore.level0.dirs.path>` on every single worker?

[2019-12-09 18:57] MadanKumar21 opened #10595 "zsh doesn't work as the shell in EMR documentation"
Alluxio EE documentation for 2.1.0 on EMR should specify that should be using /bin/bash terminal when running aws emr create statement. iTerm by default uses zsh which doesn't take in URLs accurately.
zsh: no matches found: Path=s3://alluxio-public/emr/2.1.0/alluxio-emr.sh,Args=[s3://madans3bucket/emr/mount/]

[2019-12-09 20:38] ZacBlanco commented on #10539
I noticed in the last line of your master log

[code]

The persisting of files is handled by the Alluxio job service which requires running the Job master process (`./bin/alluxio-start.sh job_master`) and job workers (`./bin/alluxio-start.sh job_worker`). It looks like either your job master/worker isn't running or it can't determine the address.

Can you provide your `alluxio-site.properties`?

[2019-12-10 03:18] wanwe commented on #10385
@ZacBlanco sounds good !

Thanks,
Wei

[2019-12-10 10:16] sunweihao commented on #10515
@ZacBlanco
I have re-installed my system and just followed your commands, and I got some new errors.

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.2:compile (default-compile) on project alluxio-core-server-common: Compilation failure: Compilation failure:
[ERROR] /home/ubuntu/code/alluxio/core/server/common/src/main/java/alluxio/master/journal/raft/RaftJournalSys

[2019-12-10 10:28] sunweihao commented on #8868
@apc999
I got the error similar to the error as @zhipcui when compiling the source code tagged 2.1 after I downloaded the copycat jar and install it by myself.

[code]

It seemes that I lacked the dependency of io.atomix.catalyst and actually it is. So i tried to find the definition of this dependency but I got nothing. I wonder where the dependency defines or which dependency contains it since I

[2019-12-10 11:43] jinhang commented on #10582
yes, I have executed chmod 777 for <alluxio.worker.tieredstore.level0.dirs.path>

[2019-12-10 13:17] Shmilyqjj commented on #10539
I did not make ssh, so I did not use the start-all script. I only started up the master and worker on the corresponding nodes and did not start the job_master and job_worker components. However,  it is running normally after starting job_master and job_worker.

[2019-12-10 13:17] #10539 closed

[2019-12-10 13:19] Shmilyqjj commented on #10539
I did not make ssh, so I did not use the start-all script. I only started up the master and worker on the corresponding nodes and did not start the job_master and job_worker components. However,  it is running normally after starting job_master and job_worker.

[2019-12-10 17:55] ZacBlanco commented on #10515
Those classes come from a fork of the atomix copycat dependencies that we have. They are hosted here: https://github.com/Alluxio/alluxio/blob/master/pom.xml#L130-L134

And the corresponding maven dependencies are defined here: https://github.com/Alluxio/alluxio/blob/master/pom.xml#L527-L536

I'm not sure why your system isn't able to resolve them properly.

[2019-12-10 18:09] ZacBlanco commented on #10582
But have you done it on every node in the cluster?

Additionally, you can alleviate this by either disabling short-circuit writes (`alluxio.user.short.circuit.enabled=false`) or by [enabling domain sockets](https://docs.alluxio.io/ee/user/stable/en/deploy/Running-Alluxio-On-Docker.html#enable-short-circuit-reads-and-writes). Following either of those two suggestions should alleviate the error you'

[2019-12-10 22:55] ggezer opened #10608 "Client pooling for JobMasterClient"
**Is your feature request related to a problem? Please describe.**
`JobMasterClient` doesn't pool connections. For some scenarios this means massive client recycling, thus causing many authentication sessions.

**Describe the solution you'd like**
Leverage existing resource pool in Alluxio code base.

[2019-12-10 23:00] bradyoo commented on #10608
The memory leak has now been resolved so this is not much of a deal now.

[2019-12-10 23:04] ggezer commented on #10608
There is still authentication overhead. Avoiding authentication for every channel will yield even better perf.

This is not urgent but lets still track it as we want to have some bounds for how many active rpc clients are in use.

[2019-12-11 02:15] sunweihao commented on #10515
@ZacBlanco
I have had the same error as #8868 and I downloaded the copycat jar by myself and install to my local repository...
The copycat jar I downloaded doesn't contain classes about io.atomix.catalyst and there are only classes about io.atomix.alluxio.copycat..
Since I am in China, amazon aws repository can not be resolved properly even you have proxy... So I have to do it by myself..

[2019-12-11 02:39] cheyang opened #10610 "DistributedLoad support specifying Tiered locality"
**Is your feature request related to a problem? Please describe.**

Alluxio can work perfectly when reading data with [Tiered locality](https://docs.alluxio.io/ee/user/stable/en/advanced/Tiered-Locality.html?q=rack). But when loading data it's not so flexible.

**Describe the solution you'd like**

I think when user run distributed load, he wants to specify the locality with two options.

1.  the

[2019-12-11 02:40] cheyang commented on #10610
/ping @bradyoo

[2019-12-11 04:20] sunweihao commented on #10515
@ZacBlanco
I thought the dependency only means that two jars(copycat-client and copycat-server) are needed. So
 I just downloaded these two jars. But I tried to use maven with proxy since I am in China and s3 repository can not be resolved properly and I got all the dependencies needed locally and copied them to my cloud server since using proxy is banned on law and cannot be used on the cloud ser

[2019-12-11 05:07] ChangjiGuo opened #10611 "The worker has stored some blocks, but BlockInfo tab has nothing."
**Alluxio Version:**
alluxio version is 2.1.0.

**Describe the bug**
The worker has stored some blocks, but "BlockInfo" tab has nothing in the web ui.

**To Reproduce**
1. Install alluxio-2.1.0
2. Use default configuration
3. I wanna test data locality, so i run the same command on each node :
[code]
4. http://worker-address:30000/blockInfo has nothing. Each node is like this:
![image](https://use

[2019-12-11 16:25] cabhi commented on #9922
is there any update on the same ?

[2019-12-12 00:05] chcn commented on #10592
@cheyang based on the stacktrace, it's not the latest master branch I think.

[2019-12-12 00:53] ZacBlanco commented on #10611
I can reproduce this on my local machine. On my end the root cause is that the react application is making a request to `/webui_blockinfo`, where it should actually be making a request to `/api/v1/worker/webui_blockinfo`

[2019-12-12 04:56] ChangjiGuo commented on #10611
@ZacBlanco  Thanks for your response! In my case, when I access the worker's webui I also see a 404 in the list of responses for `/overview` instead of the  `/blockInfo`.
![image](https://user-images.githubusercontent.com/35126911/70683823-c617fe00-1cde-11ea-99f8-958785dce2d9.png)

[2019-12-12 05:02] ChangjiGuo commented on #10611
@ZacBlanco Thanks for your response! I remember it was normal in 2.0, has anything changed in 2.1?

[2019-12-12 06:03] ZacBlanco commented on #10611
@ChangjiGuo Yes, it looks like this bug was the result of another bug fix.

https://github.com/Alluxio/alluxio/commit/bd0086609530926f51c15675e106442d6707f5a3#diff-8fd58f2fff6b98cc6cbb70f6f878e3cc

[2019-12-12 06:46] ChangjiGuo commented on #10611
Is there any command that can do the same? Thanks.

[2019-12-12 07:11] #10611 closed

[2019-12-12 07:16] ZacBlanco commented on #10611
@ChangjiGuo you can try using `./bin/alluxio fs stat <path>` to get the information that would be available in that UI, but may contain blocks across multiple workers.

Also, I've just merged a PR that fixes the issue in the UI. It will be in the next release (2.1.1) that should be out some time in the next week or two. Keep an eye out on the email list or on the github releases page for when it i

[2019-12-13 06:49] cheyang opened #10635 "Try to distributed load a lot of small files from OSS bucket"
**Alluxio Version:**
2.2.0

**Describe the bug**
The number of files in OSS bucket is about 3000000. Try to distribute load the  data into alluxio. It made no progress even in 3 hours. I've see a lot of warning in worker:

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to

[2019-12-13 07:09] cheyang opened #10636 "List files from OSS bucket took 20mins"
**Alluxio Version:**
2.2.0

**Describe the bug**

The number of files in OSS bucket is about 3000000.  try to list the directory. And find it takes 22 minutes

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug

[2019-12-13 07:17] cheyang commented on #10636
And I also notice the disk of journal is very large. Not a big deal. Just interesting. <img width="328" alt="snapshot" src="https://user-images.githubusercontent.com/3724388/70777747-84a95080-1dbb-11ea-9080-c23f339481fb.png">

[2019-12-13 07:37] jiacheliu3 commented on #10635
@bradyoo Does your distributed load optimization help with this issue?

[2019-12-13 07:43] jiacheliu3 commented on #10636
@apc999 Maybe this `fs ls` command should have a pagination parameter for this kind of extremely flat FS structure. For example `fs ls -limit 500 /` to only show 500 files or `fs ls -p 0 /` to show the 0th page of whatever files.

[2019-12-13 07:50] jiacheliu3 commented on #10636
Regarding the journal file sizes, you may want to refer to [journal tuning](https://docs.alluxio.io/ee/user/stable/en/operation/Journal.html?q=journal#advanced) for better controlling the size.

[2019-12-13 17:39] bradyoo commented on #10635
This is unlikely to be directly related to distributedLoad. I'm guessing when @cheyang means no progress, he mans no progress whatsoever. @chcn, can you help me look at this?

[2019-12-14 04:24] cheyang commented on #10635
When I run distributedLoad,  there are very few data are loaded in alluxio. After hours, only no more than 10 MiBs are loaded into alluxio.

[2019-12-14 04:38] cheyang opened #10637 "Master lost worker connection due to grpc Error"
**Alluxio Version:**
2.2.0

**Describe the bug**

1.No worker registered into the alluxio
[code]
2. In the side of worker, I notice the log

[code]

And In the alluxio worker directory, the block number is 950971

[code]

It may relate to the grpc issue: https://github.com/grpc/grpc-java/issues/2901

Any configuration suggestions?

**To Reproduce**
1.Set underlayer filesystem

[code]

2.Generate t

[2019-12-14 05:40] jiacheliu3 commented on #10637
@bf8086 Do you know what this Grpc error is about?

[2019-12-16 18:40] ZacBlanco commented on #10586
I'm closing this issue as there's been no response in the last week. @mauromussin please re-open if you think this is a real bug.

[2019-12-16 18:40] #10586 closed

[2019-12-16 18:54] ZacBlanco commented on #10637
@cheyang In our bug report template we ask to give explicit instructions on how to reproduce the issue. Without the ability to reproduce there the likelihood that we can provide a helpful response is much lower.

If you provide the steps to reproduce the problem it is easier to tell whether it is user error or actually a bug. In the future, please consider adding the exact steps (including configu

[2019-12-17 20:21] ZacBlanco opened #10643 "Client threads hang when they cannot connect to master with high contention"
**Alluxio Version:**
v2.1.0

**Describe the bug**
Threads accessing the Alluxio `FileSystem` object may hang when there is high contention for resources and the client cannot connect to the master.

**To Reproduce**

Attached is a patch containing an executable that can be run from the Alluxio examples folder

[maxfile.patch.txt](https://github.com/Alluxio/alluxio/files/3975253/maxfile.patch.txt)

[2019-12-17 23:24] gpang commented on #10643
hrmmm, I ran it over 10 times on my machine, sometimes with 256 threads, and I still cannot reproduce the hang.

[2019-12-17 23:46] bradyoo opened #10647 "Job Service Summary breaks with invalid type after running transform jobs"
**Alluxio Version:**
What version of Alluxio are you using? 2.2.0-SNAPSHOT

**Describe the bug**
A clear and concise description of what the bug is.

fsadmin report jobservice crashes under certain conditions

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

Repro Steps:

1. Start any transformation job.
2. Run bin/alluxio fsadmin report jobservice

Actual

[2019-12-17 23:51] bradyoo opened #10648 "Persist Job remains in JobWorker even after cancel."
**Alluxio Version:**
What version of Alluxio are you using? 2.2.0-SNAPSHOT, but reproducible in 2.1.1 and 2.0.x

**Describe the bug**
A clear and concise description of what the bug is.

PersistJob cancellation doesn't get processed properly.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

With AsyncThrough writeType

1. Write a large number of files as

[2019-12-18 01:03] cheyang commented on #10637
I've updated the steps to reproduce.

[2019-12-18 01:09] cheyang commented on #10637
[worker.log](https://github.com/Alluxio/alluxio/files/3976169/worker.log)

[2019-12-18 14:38] cheyang commented on #10636
I suggest that user can is able to cache such info if he claims to need this. The user scenario is ,that the AI training program will call the `directory list` action first, then shuffle the file names. If we can speed up it this action, it will be helpful. Thanks.

[2019-12-18 23:27] #10647 closed

[2019-12-19 07:25] jinhang opened #10661 "java client exception : The URI authority ip:19998 does not match the configured value of *****.***.***:19998"
**Alluxio Version:**
What version of Alluxio are you using?
2.1.0
**Describe the bug**
A clear and concise description of what the bug is.
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
Exception in thread "main" java.lang.IllegalArgumen

[2019-12-19 07:44] jinhang commented on #10661
why not remove this condition?
[code]

[2019-12-19 19:44] ZacBlanco commented on #9810
@thereisnospoon this issue is resolved by https://github.com/Alluxio/alluxio/pull/10152

Based on the initial configuration provided, the only additional line of configuration you should add is

[code]

Using this configuration scripts should determine which paths are ramdisks and mount them appropriately. Starting the workers afterwards should also succeed. Please re-open this issue if you think

[2019-12-19 19:44] #9810 closed

[2019-12-19 21:43] ZacBlanco commented on #10661
hi @jinhang  - this occurs when you have an `alluxio-site.properties` file that specifies a different Alluxio master than what is currently configured for the system.

Are you running two different Alluxio clusters? Is there a reason that you need a single client application to connect to both?

additionally, based on your code snippet you can add the line

[code]

And the warnings should go away.

[2019-12-19 23:51] bf8086 commented on #10637
@cheyang it looks like your master is having trouble to serve requests. One thing I noticed is the JVM heap size for Alluxio master might not be big enough to support millions of files. You might want to try `-Xms16G -Xmx16G` or larger and see if it helps to keep master responsive.

[2019-12-20 02:02] jinhang commented on #10661
@ZacBlanco Thanks,I think you are right.

[2019-12-20 17:59] ZacBlanco commented on #10661
Please re-open if you feel there is still a bug to be resolved, thanks!

[2019-12-20 17:59] #10661 closed

[2019-12-20 20:35] ZacBlanco commented on #10643
Going to close this until I get a better repro.

[2019-12-20 20:35] #10643 closed

[2019-12-21 03:08] cheyang commented on #10637
I've already increase the Heap size to 16GB, and it's still the same issue. According to @apc999 , it's due to the number of alluxio block.

[2019-12-23 06:23] #10595 closed

[2019-12-23 07:16] lord-i-will opened #10678 "checkConsistency ok between alluxio and HDFS, but actual file content and MD5 not consistent"
**Alluxio Version:**
1.8.1

**Describe the bug**
Run "alluxio fs checkConsistency /path/folder", the result is ok:
![image](https://user-images.githubusercontent.com/14847104/71341857-07899280-2596-11ea-869b-6e1c14b22492.png)
Download these files from alluxio and md5sum these files, the result as followings:
![image](https://user-images.githubusercontent.com/14847104/71341947-559e9600-2596-11ea-80

[2019-12-23 23:46] lord-i-will commented on #10678
i found this error: https://alluxio.atlassian.net/browse/ALLUXIO-2636

[2019-12-26 09:43] zhipcui commented on #8868
@jinhang @sunweihao You need manually download jars list as below
- [copycat-client-1.2.12.jar]( http://alluxio.artifacts.s3-website-us-east-1.amazonaws.com/release/io/atomix/copycat/alluxio/copycat-client/1.2.12/copycat-client-1.2.12.jar)
- [copycat-protocol-1.2.12.jar](http://alluxio.artifacts.s3-website-us-east-1.amazonaws.com/release/io/atomix/copycat/alluxio/copycat-protocol/1.2.12/copycat-pr

[2019-12-27 17:14] cheyang opened #10681 "Failed to read the data from cache system due to execution pool is full"
**Alluxio Version:**
2.1.1-cdb3e7a170edbcfdace15e41eb40b57b8899cb33

**Describe the bug**
I enabled metadata cache

[code]

And found the error in fuse log:
[code]

**To Reproduce**
1. Deploy alluxio in kubernetes, the value file is
[code]

And run TensorFlow training,  the training is failed. And I found the error above in alluxio-fuse logs. The logs are

[diagnose_alluxio_1577465683.tar.gz](http

[2019-12-27 17:16] cheyang commented on #10681
/ping @apc999 @chcn

[2019-12-30 09:11] XiaochenCui opened #10683 "UnavailableException will test spark with alluxio"
**Alluxio Version:**
2.1.1

**Describe the bug**
I have followed the docs https://docs.alluxio.io/os/user/stable/en/compute/Spark.html to run spark on alluxio, but when I run `double.saveAsTextFile("alluxio://localhost:19998/Output_HDFS")`
It failed with UnavailableException

**To Reproduce**
It can be reproduce in my company's cluster, I will be there if you need any extra information.

**Expecte

[2019-12-30 09:17] XiaochenCui opened #10684 "permission problem"
**Alluxio Version:**
2.1.1

**Describe the bug**
I have followed the https://docs.alluxio.io/os/user/stable/en/compute/Spark.html to run spark on alluxio, but when I type `double.saveAsTextFile("alluxio://localhost:19998/Output_HDFS")` in spark-shell, It complained that:
`, Error=alluxio.exception.AccessControlException: Permission denied: user=spark, access=-w-, path=/Output_HDFS/_temporary/0: fa

[2019-12-30 09:20] XiaochenCui commented on #10684
How can I add the user 'spark' to group 'root'?

The usermod command does not help

[2019-12-31 09:19] cheyang opened #10688 "Performance Overhead using read type as CACHE_PROMOTE v.s NO_CACHE"
**Alluxio Version:**
2.1.1

**Describe the bug**

Deploy alluxio in kubernetes with CACHE_PROMOTE and NO_CACHE, and I found the NO_CAHCE performance is much better than CACHE_PROMOTE. The file is about 130MB, and 1154 files in all.

**To Reproduce**
1. Deploy Alluxio with helm chart, the values file uses NO_CACHE

[code]

2. Run the training jobs without any cache
3. Performance result is :

[code

[2019-12-31 13:07] cbqiao opened #10689 "No such file or directory exception when reading from alluxio fuse by short-circuit read"
**Alluxio Version:**
What version of Alluxio are you using?
alluxio-2.1.1

**Describe the bug**
Deploy alluxio by k8s. A daily job running on alluxio by reading data from fuse.
The job works well if all alluxio-masters and alluxio-workers have restarted.
But job MAY failed on the following day without any action on alluxio.

fuse error message:
2019-12-31 08:31:21,556 ERROR AlluxioFuseFileSystem -

[2020-01-02 18:52] ZacBlanco commented on #10595
In light of preserving simplicity across most systems - I've added a note that the command is designed for bash.

Most people who use `zsh` are using it by choice. MacOS has recently started defaulting the shell to `zsh` when upgrading to MacOS Catalina, but I don't think the user base is large enough to justify having a second command.

If you don't think this fix is enough, we can try to spend s

[2020-01-03 01:12] calvinjia opened #10693 "Add listening address for embedded journal"
**Is your feature request related to a problem? Please describe.**
Fine control over the embedded journal service's listening address is not available.

**Describe the solution you'd like**
Add a property to specify the listening address of the journal service, similar to how the master has a listening address for the rpc service.

**Additional context**
This allows users to more easily deploy All

[2020-01-03 03:32] apc999 commented on #10688
@ggezer as we talked offline, do you see this issue is consistent with what you found too or the problem you mentioned is different?

[2020-01-03 18:11] ns1123 commented on #10684
@XiaochenCui I think you need to revisit your understanding of the Alluxio Security Model. I would start with this link here: https://docs.alluxio.io/os/user/stable/en/operation/Security.html#client-side-hadoop-impersonation

In your scenario, it looks like the owner/group of the HDFS directory hdfs://cdh1:8020/alluxio/root/ were set to 'root:root'. From there, when you mounted that HDFS to Alluxi

[2020-01-03 18:11] #10684 closed

[2020-01-03 18:14] ns1123 commented on #10683
@XiaochenCui this issue usually indicates some issue from the YARN side. Likely due to impersonation. Can you see if the Alluxio Master logs show any information about failed attempts to impersonate? If so, please attach those logs here. If you're running Spark on YARN with Alluxio, you should have this line (or something similar) in  your alluxio-site.properties.

alluxio.master.security.imperson

[2020-01-04 05:59] apc999 commented on #10683
also please double check if your master is running at address localhost:19998

[2020-01-06 02:02] XiaochenCui commented on #10683
The master is sometimes not running on localhost

The master list is server1, server2, server3. so as the worker.
And the spark-shell in running on server1.
The leader is server2 when I do the experiments.

But what's the function of alluxio proxy? I have thought it to be like 'kubelet proxy' to proxy traffix so I can access leader thought the proxy endpoint `localhost:39999`, but it dose not work

[2020-01-06 02:26] XiaochenCui commented on #10684
Thanks a lot

[2020-01-06 10:51] pragnesh opened #10699 "Persist command persist file to s3 underfs second time."
**Alluxio Version:**
2.1.0

**Describe the bug**
I am using Alluxio server with s3 underfs on aws. I am writing output to Alluxio using spark job.
Alluxio server is configure with following setting as describe in doc.
[code]
Once spark job is completed. Alluxio start writing to s3. Now before Alluxio complete writing to s3 if i issue persist command on ouput dir. It seems that Alluxio start upload

[2020-01-06 19:17] ggezer commented on #10688
@apc999, It does not seem so looking at cluster configuration.
@cheyang, Do you see anything interesting in worker logs during CACHE_PROMOTE scenario?

[2020-01-06 20:46] ggezer commented on #10693
Do copycat clients supposed to connect to listen port then? This means the membership address list config property should list host and listen addresses separately for each.

[2020-01-07 06:00] LuQQiu commented on #10688
The additional information is updated here:

Alluxio status:
-  1 master, 1 worker, 1 alluxio-fuse, all launched in the same machine through helm kubernetes
-  only 1 tier of alluxio worker memory large enough to hold the whole dataset

machine status:
- Cpus: 82
- Memory：336G
- GPU：8 * NVIDIA V100
- Network: 20GiB/s

dataset:
- multiple layers of directory holding a large number of photos
- about

[2020-01-07 09:35] XiaochenCui commented on #10683
problem solved, it's caused by wrong config

[2020-01-07 09:35] #10683 closed

[2020-01-07 23:09] ggezer commented on #10688
Would you mind pasting the full worker property configuration instead of summarizing it.

[2020-01-07 23:15] ggezer commented on #10688
Also if you haven't already spotted anything interesting in worker logs, is it possible running the cache-promote scenario with debug traces for `alluxio.worker.block.TieredBlockStore` class?

[2020-01-09 01:48] apc999 commented on #10566
@Andyfan322 感谢你的详尽的测试报告。 有几个问题想了解一下你的测试环境的具体setup：
- Presto是否和HDFS共置部署
- Alluxio是否和Presto共置部署。
我们认为现如果是HDFS已经和Presto共置部署，这个不是Alluxio的目标场景（如果主要目的是为了提高Presto的查询性能）。就性能而言。Alluxio更多是当数据源在远端时候，用来给Presto提供数据的本地性。

另外一个可能可以考察的点是HDFS是否存在作业或者namenode过载。如果在这种情形下， 部署Alluxio也可能带来性能的提升。

[2020-01-09 02:28] XiaochenCui opened #10713 "Performance improvement very slightly through cache"
**Alluxio Version:**
2.1.1

**Describe the bug**
I mount a hdfs folder to a alluxio, and read it directly, and than use cache, but the performance improvement are very slightly.

Client: python-client https://github.com/Alluxio/alluxio-py
Mount:
[code]
Read path: `/mnt/hdfs/alert_record`
Script output:
directly:
[code]
cached:
[code]

The speed of read directly is 178mb/s and 208mb/s through cache

[2020-01-09 07:07] XiaochenCui opened #10715 "Failed to read hbase data through alluxio"
**Alluxio Version:**
2.1.1

**Describe the bug**
I have mount the hdfs folder of hbase to alluxio, but the read fails on some files.
It shows that the file is in alluxio file system, but not in hdfs.
So how can I sync the file system?

Client: fuse (POSIX API)

shell ls:
[code]

hdfs content:
[code]

fuse stat:
[code]

admin report:
[code]

script:
[code]

output:
[code]

**To Reproduce**
Steps to

[2020-01-09 07:36] XiaochenCui commented on #10715
set `alluxio.user.file.metadata.sync.interval=60s`

[2020-01-09 07:36] #10715 closed

[2020-01-09 09:07] #10713 closed

[2020-01-10 00:08] apc999 commented on #9922
@cabhi we will patch the system with  #10719 for this issue

[2020-01-10 00:13] apc999 commented on #10468
@surajc-cuelogic we think this patch https://github.com/Alluxio/alluxio/pull/10719 will fix the issue (this issue looks unrelated to Java version). In the meanwhile, we are working on supporting Java 11 too.

[2020-01-10 16:43] jiacheliu3 opened #10724 "Helm indent introduced extra whitespace on previous row"
**Summary**
Helm indent function causes incorrectly whitespace on previously line. This might not be directly related to `indent`, as other usage of `indent` don't seem to go wrong. But this is definitely related to how `indent` works together with how we do templating.

**Example:**
[code]
Will result in the following. Note there are exactly 12 spaces after `/opt/domain`. This number 12 actually

[2020-01-10 17:49] ZacBlanco commented on #10020
@jpohanka sorry for the delay on investigating this issue. I have done similar testing to you and looked into what types of FDs are open throughout the course of running different numbers of concurrent queries.

Based on my testing think the blame is on presto for opening so many file descriptors. There was a bug opened recently on Presto's airlift framework which they use for IPC. See https://git

[2020-01-10 20:36] #9922 closed

[2020-01-11 07:17] jpohanka commented on #10020
@ZacBlanco Thank you very much for your time and effort. We are preparing to deploy Alluxio in the following weeks so your findings are very helpful to us, thank you !

[2020-01-13 22:52] bf8086 opened #10735 "checkConsistency fails for files that are asynchronously persisted"
**Alluxio Version:**
2.2-SNAPSHOT

**Describe the bug**
Running `alluxio fs checkConsistency` will fail on files that are asynchronously persisted.

**To Reproduce**
Start Alluxio.
Run `alluxio runTests`
Run `alluxio fs checkConsistency /`
Got
[code]
**Expected behavior**
checkConsistency should show that everything is consistent.

**Urgency**
medium, does not affect data integrity or other operat

[2020-01-14 04:45] #10468 closed

[2020-01-14 19:22] #10693 closed

[2020-01-14 19:59] apc999 opened #10745 "Incorrect cluster-default configuration propagation"
**Alluxio Version:**
2.1.1

**Describe the bug**
Incorrect cluster-default configuration propagation:
- Currently we only propagates property keys with scope `CLIENT` or `ALL` to both client and workers, but not these property keys with scope `WORKER` to workers.
- Some job server property keys are marked with scope `ALL` and got propagated.

**To Reproduce**

**Expected behavior**
- Propagate `CL

[2020-01-15 06:36] haoyuan opened #10752 "Update the latest release from 2.1.0 to 2.1.1 in README.md"
**Alluxio Version:**
2.1.1

**Describe the bug**
https://github.com/Alluxio/alluxio/blob/master/README.md
It shows the latest release to be 2.1.0, but it should be 2.1.1

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the

[2020-01-17 17:45] #10515 closed

[2020-01-17 17:57] madanadit commented on #10472
@LuQQiu Can you please provide an update on this issue?

[2020-01-17 18:03] madanadit commented on #10429
Potentially a duplicate of https://github.com/Alluxio/alluxio/issues/10519

[2020-01-17 18:05] #10422 closed

[2020-01-17 18:06] #10421 closed

[2020-01-17 18:09] madanadit commented on #10390
@yuzhu is this still an issue?

[2020-01-17 18:13] madanadit commented on #10376
@ggezer @ns1123 please comment if the relevancy of this issue has changed

[2020-01-17 19:11] yuzhu commented on #10390
@madanadit I have not seen this error in a while, so maybe we can close it for now.

[2020-01-17 19:45] #10390 closed

[2020-01-17 20:40] gpang commented on #9628
fixed by https://github.com/Alluxio/alluxio/pull/9846 https://github.com/Alluxio/alluxio/pull/10343

[2020-01-17 20:40] #9628 closed

[2020-01-17 20:47] calvinjia commented on #10322
@cheyang @LuQQiu Could you guys update this ticket with the fixes that have improved the performance if any?

[2020-01-17 21:00] gpang commented on #9745
Closing, since path configuration can be used for path-specific user configuration.

[2020-01-17 21:00] #9745 closed

[2020-01-17 21:04] gpang commented on #9720
@Taccart Thanks for this request! This looks something like a mount table, which is something that was considered in the past. A configuration file with the mount table is good for setting up a new cluster with a set of mounts.

However, after the Alluxio cluster is running, it is possible to update the mount table, with mount and unmount commands. After updates to the mount table, and the Alluxio

[2020-01-17 21:19] yuzhu commented on #10159
@haoyuan has this been fixed?

[2020-01-17 21:20] yuzhu commented on #10155
This has been addressed.

[2020-01-17 21:20] #10155 closed

[2020-01-17 21:22] yuzhu commented on #10150
@calvinjia do you mind taking a look at this request?

[2020-01-17 21:23] yuzhu commented on #10136
@calvinjia has this issue been addressed?

[2020-01-17 21:24] yuzhu commented on #10135
@bradyoo has this been addressed with your recent improvement to the job service?

[2020-01-17 21:27] yuzhu commented on #10134
@ggezer I think i have seen this before as well in the log messages. Can we clean up this log message?

[2020-01-17 21:28] yuzhu commented on #10110
@bf8086 any updates on this?

[2020-01-17 21:29] yuzhu commented on #10109
@apc999 has this issue been resolved? or do we need a better solution than this workaround?

[2020-01-17 21:29] #10681 closed

[2020-01-17 21:30] yuzhu commented on #10102
@ns1123 @gpang has this been resolved? is someone looking into this?

[2020-01-17 21:34] yuzhu commented on #10098
@apc999 Do we want to consider parallel block write to N workers?

[2020-01-17 21:37] #9672 closed

[2020-01-17 21:37] ns1123 commented on #10102
Not resolved. Nobody is looking into it.

[2020-01-17 21:38] #9616 closed

[2020-01-17 21:40] yuzhu commented on #10066
@ggezer  do we plan to address this in the upcoming release?

[2020-01-17 21:42] yuzhu commented on #10050
@ggezer any thoughts on this?

[2020-01-17 21:43] yuzhu commented on #10047
@ZacBlanco what is the status on this?

[2020-01-17 21:43] ns1123 commented on #10066
I think this can be closed. Backup related issues have mostly been addressed. Scenarios with backing up to a different storage system haven't been requested.

[2020-01-17 21:45] yuzhu commented on #10066
Closing this as discussed.

[2020-01-17 21:45] ns1123 commented on #10047
This has been resolved.
https://github.com/TachyonNexus/golluxio/pull/2023

[2020-01-17 21:45] #10047 closed

[2020-01-17 21:46] yuzhu commented on #10038
@ggezer are there follow up PRs to #10006 or can this issue be closed now?

[2020-01-17 21:47] ns1123 commented on #10376
Can close this for now. ZK was overloaded for different reasons.

[2020-01-17 21:48] #10376 closed

[2020-01-17 21:49] yuzhu commented on #10034
@bradyoo
@apc999 has this been addressed by the cleanup for the job service?

[2020-01-17 21:51] yuzhu commented on #10022
@ggezer I remember a discussion with you about this topic, has this been addressed?

[2020-01-17 21:53] yuzhu commented on #10020
@jpohanka Please let us know if you encounter more issues in your effort to deploy Alluxio.
Closing this issue for now.

[2020-01-17 21:53] #10020 closed

[2020-01-17 21:54] yuzhu commented on #10016
@jiacheliu3 has this been addressed by #10003?

[2020-01-17 22:04] gpang commented on #9766
The recommendation is to run Alluxio outside of yarn, and have yarn applications just interact with Alluxio.

[2020-01-17 22:04] #9766 closed

[2020-01-17 22:05] gpang commented on #9742
@liuhongtong Could you provide additional details on this issue? Specifically, what are the steps to reproduce the issue?

[2020-01-17 22:06] gpang commented on #9707
@ns1123 Is this still an issue in version 2.1.x?

[2020-01-17 22:08] gpang commented on #9648
@sunny19930321 Does this issue still exist on version 2.1.x? There might be additional logging information in the newer version to help with the investigation. Thanks!

[2020-01-17 22:10] ns1123 commented on #9707
From what i remember, the issue was alluxio-mount.sh only referring to the old property. Master doesn't seem to have this problem on my local.

[2020-01-17 22:46] calvinjia commented on #10321
@madanadit Are we still planning to address this issue?

[2020-01-17 22:47] calvinjia commented on #10318
@cheyang Have you found a solution to this issue?

[2020-01-17 22:48] calvinjia commented on #10316
@jiacheliu3 Has this issue been addressed in master?

[2020-01-17 22:50] ggezer commented on #9525
@cheyang Are you still having this problem?

[2020-01-17 22:51] ggezer commented on #9475
@apc999 Do you think we should still have this feature after persist-on-rename?

[2020-01-17 23:01] ggezer commented on #9445
@tieujason330 Is this issue still present?

[2020-01-17 23:02] calvinjia commented on #10263
It's unclear how we would use the Journaled annotation, closing for now.

[2020-01-17 23:02] #10263 closed

[2020-01-17 23:04] calvinjia commented on #10257
Closing this issue due to inactivity. @SeeMyWorld Feel free to reopen or create another ticket if you run into other issues.

[2020-01-17 23:04] #10257 closed

[2020-01-17 23:05] calvinjia commented on #10255
Closing this issue because it is too broad.

[2020-01-17 23:05] #10255 closed

[2020-01-17 23:06] calvinjia commented on #10252
@gpang have the recent changes been able to address these test stability issues?

[2020-01-17 23:06] ggezer commented on #9324
@apc999 Has this been fixed?

[2020-01-17 23:07] #9278 closed

[2020-01-17 23:14] bf8086 commented on #9958
hey @liuhongtong we have recently released `distributedLoad` command in the latest 2.1.x releases. Have you tried it and see if this still repros?

[2020-01-17 23:15] calvinjia commented on #10248
Thanks for bringing up this optimization. We are moving more toward a black box approach to alluxio storage, so we will not provide APIs to users for fine control over multiple cache tiers. However there will be internal logic to move data between tiers pre-emptively, similar to what you are suggesting.

[2020-01-17 23:15] #10248 closed

[2020-01-17 23:17] ggezer commented on #9273
@ZacBlanco Can you please verify is this is resolved?

[2020-01-17 23:19] calvinjia commented on #10224
This issue has been addressed.

[2020-01-17 23:19] #10224 closed

[2020-01-17 23:20] ggezer commented on #9028
@bf8086 Maybe we can have a flag to crash the worker instead when startup check fails on some directory ?

[2020-01-17 23:21] calvinjia commented on #10205
Closing this due to inactivity, @maobaolong feel free to reopen if you have more details.

[2020-01-17 23:21] #10205 closed

[2020-01-17 23:21] madanadit commented on #10321
@calvinjia Yes, these issues are still present. We should prioritize these.

[2020-01-17 23:24] calvinjia commented on #10204
@maobaolong the Alluxio client is designed to only connect with the configured server. A client can connect with multiple servers programmatically with different file system instances (they can be configured individually).

[2020-01-17 23:24] madanadit commented on #10241
@cheyang would you be able to add docs for deploying the fuse daemons w/ helm? thx

[2020-01-17 23:25] ggezer commented on #10038
#10006 is closed in order to get a proper fix as mentioned in this issue. We'd ideally want to get this done at some point in order to reduce listStatus overhead.

[2020-01-17 23:26] calvinjia commented on #10190
Closing this issue due to inactivity, @maobaolong feel free to reopen this if this is still an issue you observe.

[2020-01-17 23:26] #10190 closed

[2020-01-17 23:26] calvinjia commented on #10175
This issue has been resolved.

[2020-01-17 23:26] #10175 closed

[2020-01-17 23:28] calvinjia commented on #10170
This issue has been addressed.

[2020-01-17 23:28] #10170 closed

[2020-01-17 23:32] ggezer commented on #10050
@cheyang Can you please defining `alluxio.master.rpc.executor.core.pool.size` with at least double of your expected concurrency in your test?

You might be hitting a production case of https://github.com/Alluxio/alluxio/pull/10690.

[2020-01-17 23:36] calvinjia commented on #10150
@rblaine95 Thanks for reporting this issue. We plan to address this by allowing writes to go to other tiers if the target tier is already full. You can experiment with `alluxio.user.file.ufs.tier.enabled=true` on the client side to try out a version of this feature (writes to UFS instead of another tier).

[2020-01-17 23:42] calvinjia commented on #10136
This functionality is currently not supported. It is tricky to block reads waiting for another read because there is no guarantee the other reader will cache the data. @cheyang is your goal mainly to reduce the number of concurrent opens of a single object in OSS?

[2020-01-17 23:44] ns1123 commented on #8935
@ggezer can you link the PR that closes this issue?

[2020-01-17 23:45] ns1123 commented on #8939
Closing since this has been added to the doc section in https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Docker.html

[2020-01-17 23:45] #8939 closed

[2020-01-17 23:55] bf8086 commented on #9955
@joey71765 Alluxio currently does not remove faulty disk automatically. You can try restarting the worker and it should be able to ignore faulty disk at the time of startup.

[2020-01-17 23:57] #8935 closed

[2020-01-18 00:02] bf8086 commented on #9946
@ns1123 is this fixed in 2.1.x?

[2020-01-18 01:02] bf8086 commented on #9938
@ggezer Do you know whether this is still an issue?

[2020-01-18 01:05] ns1123 commented on #8933
@LuQQiu I think your change solved this issue?

[2020-01-18 01:06] ns1123 commented on #8853
@calvinjia is this addressed?

[2020-01-18 01:07] ns1123 commented on #8852
@calvinjia same here

[2020-01-18 01:10] bf8086 commented on #9913
@apc999 any further thoughts?

[2020-01-18 01:14] ns1123 commented on #8867
Closing this issue. Please reopen if there are further questions.

[2020-01-18 01:14] #8867 closed

[2020-01-18 01:15] calvinjia commented on #8853
Unfortunately, I think this is still around

[2020-01-18 01:16] calvinjia commented on #8852
Yes, we are still using `getStatus` and catching the file not found exception

[2020-01-18 01:19] ns1123 commented on #8677
Closing stale issue. Requirement is not imperative.

[2020-01-18 01:19] #8677 closed

[2020-01-18 01:22] bf8086 commented on #9891
Per #10020 this is an presto issue:

[code]

Closing this issue - please reopen if you need additional help.

[2020-01-18 01:22] #9891 closed

[2020-01-18 01:27] bf8086 commented on #9863
@LuQQiu Is this issue still relevant now that #9867 is closed?

[2020-01-18 01:32] bf8086 commented on #9796
@LuQQiu Any further thoughts on the issue?

[2020-01-18 01:36] jiacheliu3 commented on #10016
Closed as this has been addressed in https://github.com/Alluxio/alluxio/pull/10686

[2020-01-18 01:36] #10016 closed

[2020-01-18 01:36] jiacheliu3 commented on #10316
Closed as this has been addressed in https://github.com/Alluxio/alluxio/pull/10686

[2020-01-18 01:36] #10316 closed

[2020-01-18 02:27] ns1123 commented on #8746
Closing this as there are no immediate plans to support this

[2020-01-18 02:27] #8746 closed

[2020-01-18 04:42] ggezer commented on #9938
There is another issue opened to track this problem.

[2020-01-18 04:42] #9938 closed

[2020-01-18 11:02] cheyang commented on #9525
io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory

I still have such issues. For now I have to set direct memory to 16GB which is not a good choice.

[2020-01-18 15:10] haoyuan commented on #10159
no

[2020-01-18 23:55] cheyang commented on #10136
I'm just wondering if the two time reading behavior is as design. So you can feel free to close it.

[2020-01-20 11:23] jpohanka commented on #10020
@yuzhu Yes, will do. Thank you.

[2020-01-20 16:36] ns1123 commented on #9946
Not sure. Need to double check.

[2020-01-20 17:06] bradyoo commented on #10135
No. Probably no plan to in any reasonable future.

[2020-01-20 17:10] bradyoo commented on #10034
This most certainly has nothing to do with the cleanup of the job service.

On Fri, Jan 17, 2020 at 1:49 PM David Zhu <notifications@github.com> wrote:

[2020-01-20 18:30] #10136 closed

[2020-01-20 18:34] bf8086 commented on #10110
It's likely a known issue previously reported as https://github.com/Alluxio/alluxio/issues/9273.

[2020-01-20 19:14] LuQQiu commented on #9796
Still unable to reproduce the issue. This issue may be related to concrete env.

[2020-01-20 19:14] LuQQiu commented on #9863
Fixed via #9867

[2020-01-20 19:14] #9863 closed

[2020-01-20 19:19] LuQQiu commented on #10472
The synchronization of `getWorkerInfoList` is an issue when the `workerHeartbeat` is slow and holds the worker lock. In PR https://github.com/Alluxio/alluxio/pull/10601 we change `workerHeartbeat` to process metrics async. After this change, the synchronization of `getWorkerInfoList` is not an issue anymore. They are fast and do not hold the worker lock for too long.

[2020-01-20 19:19] #10472 closed

[2020-01-20 19:20] LuQQiu commented on #10472
If we find more issues about the low concurrency of `getWorkerInfoList()`, https://github.com/Alluxio/alluxio/pull/10480 is an example of what changes we can make.

[2020-01-20 21:19] ggezer commented on #9796
@mkressirer Based on your configuration eviction failures are expected. To verify, could you please retry your tests with MUST_CACHE write-type?

[2020-01-20 23:04] ctest-team opened #10767 "Setting `alluxio.master.mount.table.root.ufs` to relative path will crash the master"
**Alluxio Version:**
2.1.0

**Describe the bug**
The configuration parameter `alluxio.master.mount.table.root.ufs` allows an absolute path but refuses any relative path. Alluxio will fail to start the master with the message, `[ FAILED ] The master @ xxx is not serving requests.` if I set it to any relative path like `underFSStorage`
I think the reason is that the following method always returns f

[2020-01-21 22:56] ggezer commented on #10134
Cancellation can be due to many reasons. Because gRPC streams can't be associated with channels/servers using its client APIs, we don't have a way to intelligently prune these messages.

I tested this particular issue and it happens only when job_worker is force killed. Then this message is expected and useful.

[2020-01-21 22:56] #10134 closed

[2020-01-23 13:45] Hmr-ramzi opened #10786 "Ability to have a sink connector between a message broker (Like Kafka) and Alluxio S3 API"
**Summary**
Lots of message brokers provide connectors to sink topics with other ends (Like Alluxio). The connector creates a way to connect both entities. For example Kafka has a S3 Sink connector to publish data from a topic to the connector. However, i noticed that the REST API for Alluxio S3 is different the AWS S3 REST API and even the alluxio REST API does not support  all the S3 API functio

[2020-01-24 03:00] cheyang commented on #10318
Not yet. Any suggestions on it.

[2020-01-27 18:18] madanadit opened #10801 "Customize Dataproc init action for tiered storage"
**Summary**
The init action should support customizing % of memory or SSD tiers. Currently the default is to configure a certain % (1/3rd) of memory for Alluxio worker.

**Urgency**
Medium

[2020-01-28 17:20] haoyuan opened #10803 "Update README.md to reference 2.1.1 as the default latest release instead of 2.1.0."
**Page**
https://github.com/Alluxio/alluxio/blob/master/README.md

**Summary**
Update README.md to reference 2.1.1 as the default latest release instead of 2.1.0.

[2020-01-29 21:35] rastogiasr commented on #10409
Closing the issue, hopefully the docs help.

[2020-01-29 21:35] #10409 closed

[2020-01-29 21:38] rastogiasr commented on #10359
@zc87328000  - is this still an issue, if so, please re-open the issue.

[2020-01-29 21:38] #10359 closed

[2020-01-29 21:38] ZacBlanco commented on #10803
this is a duplicate of https://github.com/Alluxio/alluxio/issues/10752.

[2020-01-29 21:38] #10803 closed

[2020-01-29 21:40] rastogiasr commented on #9022
If this issue is still valid, please re-open it.

[2020-01-29 21:40] #9022 closed

[2020-01-29 21:41] rastogiasr commented on #9425
If this issue is still valid, please re-open it.

[2020-01-29 21:41] #9425 closed

[2020-01-29 21:45] rastogiasr commented on #9525
@LuQQiu  - can you take a look when you have some time.

[2020-01-29 21:47] rastogiasr commented on #9610
If this is still valid, re-open the issue.

[2020-01-29 21:47] #9610 closed

[2020-01-29 21:59] rastogiasr commented on #9958
There are couple of fixes made in upcoming 2.1.2 patch. If you still see the issue, re-open the case.

[2020-01-29 21:59] #9958 closed

[2020-01-29 22:00] rastogiasr commented on #9955
This issue is potentially fixed in 2.1.2 patch, please try and re-open if that is not the case.

[2020-01-29 22:00] #9955 closed

[2020-01-29 22:03] rastogiasr commented on #10034
@apc999  - if this is still an issue, please re-open.

[2020-01-29 22:03] #10034 closed

[2020-01-29 22:05] rastogiasr commented on #10050
@cheyang  - any update based on the recommendation from @ggezer .

[2020-01-29 22:06] rastogiasr commented on #10061
If this issue is still valid, re-open the issue with steps to reproduce.

[2020-01-29 22:06] #10061 closed

[2020-01-29 22:07] rastogiasr commented on #10070
@cheyang  - please re-open if that class is not added by you.

[2020-01-29 22:07] #10070 closed

[2020-01-29 22:50] rastogiasr commented on #10318
@ggezer  - can you take a look and see if this is relevant to the eviction items being worked upon.

[2020-01-29 23:04] ZacBlanco commented on #10786
I am not sure which distribution of Kafka you are using, but if you are trying to write to Alluxio I think the best connector to use would be an HDFS connector - like this one: https://docs.confluent.io/current/connect/kafka-connect-hdfs/index.html

In order to get this working you'll probably just need to put the Alluxio client jar on the classpath of whatever Kafka process actually performs the

[2020-01-29 23:19] ggezer commented on #10318
There is a planned feature for failures during `requestSpace` at worker. So initialized block-out-stream to a worker will always find a space in that worker.
However, complete solution would need client level retries when a block-out-stream can't be opened to a selected worker.

[2020-01-30 01:53] LuQQiu opened #10812 "Alluxio CLI doesn't show right mount info (readonly/shared)"
**Alluxio Version:**
Tested in both branch-2.1 and master branch

**Describe the bug**
CLI doesn't show right mount info (readonly/shared)

Start alluxio with
[code]
but mount info shows not read-only and not shared
[code]

Try to delete file but find the mount point should be read-only
[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected be

[2020-01-30 21:03] madanadit opened #10815 "Active sync initial scan is not stopped on stopSync"
**Alluxio Version:**
2.2.0-SNAPSHOT

**Describe the bug**
Active sync should stop full initial scan on stopSync

**To Reproduce**
1. startSync
2. initialScan is ongoing and can take a while to finish on a large tree. this also locks the sub-tree
3. stopSync
4. initialScan on sub-tree is not cancelled and master continues to hold the lock

**Expected behavior**
Cancel ongoing sync

**Urgency**
Medi

[2020-01-31 23:22] bf8086 opened #10824 "NPE on authentication failure"
**Alluxio Version:**
2.1.2
**Describe the bug**
NPE on authentication failure:

[code]
**To Reproduce**
Get an exception thrown at `mAuthenticationServer.createSaslHandler(saslMessage.getAuthenticationScheme());`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Medium due to bad error message

**Additional context**
Add any other context about the

[2020-01-31 23:58] ggezer commented on #10824
This is fixed by https://github.com/Alluxio/alluxio/pull/10783

[2020-01-31 23:58] #10824 closed

[2020-02-02 14:37] JySongWithZhangCe opened #10832 "free command doesn't work when spark3-preview write data into alluxio-2.1.1 path mounted on ceph"
**Alluxio Version:**
2.1.1

**Describe the bug**
alluxio can not auto free ram, and "alluxio fs free /" didn't work

**To Reproduce**
1. mount ceph 14.2.2 by s3 gateway 2.0.2
2. use spark-3.0.0-preview write about 30G data into step 1's dir
3. job finished in success
4. alluxio can not auto free ram, and "alluxio fs free /" only made ram to about 60%
5. alluxio worker's log as follows:
2020-01-31

[2020-02-02 23:07] haoyuan commented on #10752
Any update on this?

[2020-02-03 02:04] jiacheliu3 commented on #10832
Assigned to myself.

[2020-02-03 05:37] jiacheliu3 commented on #10832
Can you try to directly delete the file like `rm /mnt/ramdisk/alluxioworker/469762049` on that machine and see if that works? @JySongWithZhangCe

[2020-02-03 05:42] haoyuan commented on #10752
Fixed in this commit: https://github.com/Alluxio/alluxio/commit/65ec9ddfe4ef9b4aedafde98d47cca5d60b9b350

[2020-02-03 05:42] #10752 closed

[2020-02-03 07:51] ZacBlanco commented on #9445
This is fixed by #10826

[2020-02-03 07:51] #9445 closed

[2020-02-04 13:02] cheyang opened #10840 "Failed to read the file in alluxio fuse when enable kernel_cache"
**Alluxio Version:**
2.1.1

**Describe the bug**

Use alluxio-fuse to read file failed when using `kernel_cache`, but it can work with `direct_io`.

**To Reproduce**

1.  disable direct_io in the source code, and here is branch I used: https://github.com/cheyang/alluxio/commits/branch-2.1-use-pagecache-0204

2. start alluxio-master, worker and fuse, and the fuse option is : --fuse-opts=kernel_cach

[2020-02-04 15:42] cheyang commented on #10840
After I loaded the file into alluxio system, the error shown is

[code]

[2020-02-04 22:07] ns1123 commented on #10767
@ctest-team is your request to assume that an unspecified scheme can be assumed to be the local file system? It's not entirely clear that this is a correct or safe assumption.

Additionally, is the idea that the path would be relative to the alluxio installation directory or is the intention that it would it be relative to where the ./bin/alluxio-start.sh  command was issued? Both of these scenari

[2020-02-04 23:25] apc999 opened #10842 "Remove unnecessary OSS logging due to deleteFileIfExists"
**Alluxio Version:**
2.1.1

**Describe the bug**

Excessive unnecessary logging on checking object existence due to `deleteFileIfExists` using OSS

[code]

**To Reproduce**
when writing data to Alluxio async propagated to OSS

**Expected behavior**
This warning is unnecessary

**Urgency**
low

**Additional context**

[2020-02-05 00:15] #10842 closed

[2020-02-05 22:00] marshtompsxd commented on #10767
@ns1123 I agree that the relative path seems to be ambiguous here. Only allowing absolute path can avoid confusion.
And it is great to have a better error message! Users can easily get confused when they saw the error message like `java.lang.IllegalArgumentException: No Under File System Factory found for: underFSStorage` after setting a relative path. It would be much better if we could directly

[2020-02-05 22:01] ctest-team commented on #10767
@ns1123 I agree that the relative path seems to be ambiguous here. Only allowing absolute path can avoid confusion.
And it is great to have a better error message! Users can easily get confused when they saw the error message like `java.lang.IllegalArgumentException: No Under File System Factory found for: underFSStorage` after setting a relative path. It would be much better if we could directly

[2020-02-06 13:39] realknorke opened #10855 "Python Alluxio package does not support Python3"
**Alluxio Version:**
n/a
alluxio pip package is only available in 0.1.1
Python v3.7

**Describe the bug**
It is not possible to install the 'alluxio' Python package using pip because of broken/missing dependencies. Installing the 'alluxio' Python package for Python2 works. However, Python2 is end of lifetime and marked deprecated since 2020-01-01.

**To Reproduce**
`pip install alluxio`

**Expecte

[2020-02-06 19:10] ns1123 opened #10858 "Upgrade cycle with RocksDB results in BlockStore errors"
**Alluxio Version:**
2.1.2

**Describe the bug**
When upgrading from an older version of Alluxio to a newer one, failing to copy the ./metastore directory that is generated for RocksDB results in errors with certain blocks missing from the blockstore. This causes cached blocks to be considered orphaned when the master starts up.

**To Reproduce**
Repro is intermittent. General steps involve using

[2020-02-06 23:42] rastogiasr commented on #10735
@bf8086  - is this fixed in 2.1.2 patch?

[2020-02-06 23:44] ns1123 commented on #10678
@lord-i-will, In 1.8, there are a few known bugs. The main thing to realize is that checkConsistency bases it's comparison on filesize, while using alluxio.user.file.metadata.sync.intereval=0 will validate that the file metadata matches in both size and timestamp. Likely what happened here is that the file was modified but the size didn't change so checkConsistency didn't notice the difference.

[2020-02-06 23:45] rastogiasr commented on #10648
@bradyoo  is this still an open issue?

[2020-02-06 23:46] ns1123 commented on #10592
@apc999 please link fix if this is addressed.

[2020-02-07 00:00] ns1123 commented on #9849
@ggezer can we close this?

[2020-02-07 00:02] bradyoo commented on #10648
It's not in 2.1. I should actually resolve it.

[2020-02-07 00:02] #10648 closed

[2020-02-07 00:04] ggezer commented on #9849
@ns1123 Let's keep it open for a while.

[2020-02-07 09:26] cheyang commented on #10592
I'm not able to reproduce it, so close it. Will reopen it if I can reproduce.

[2020-02-07 09:29] #10592 closed

[2020-02-07 14:39] jiacheliu3 commented on #10253
1) and 2) are resolved by https://github.com/Alluxio/alluxio/pull/10686

[2020-02-07 19:42] bf8086 commented on #10735
yes.

[2020-02-07 19:43] bf8086 commented on #10735
Resolved by https://github.com/Alluxio/alluxio/pulls?page=3&q=is%3Apr+is%3Aclosed

[2020-02-08 01:19] ZacBlanco opened #10872 "Possible NPE in DefaultMetaMaster"
**Alluxio Version:**
2.2.0-SNAPSHOT

**Describe the bug**

There is a possible NPE that can be triggered in DefaultMetaMaster.java. I've seen it in one of the integration tests. I haven't figured out exactly what triggers it, but here is the stacktrace:

[code]

Offending LoC: https://github.com/Alluxio/alluxio/blob/master/core/server/master/src/main/java/alluxio/master/meta/DefaultMetaMaster.java

[2020-02-10 15:21] cheyang commented on #10840
@LuQQiu , here are the logs with your change on logging, please take a look.

[code]

[alluxio-fuse.log](https://github.com/Alluxio/alluxio/files/4181567/alluxio-fuse.log)
[alluxio-master.log](https://github.com/Alluxio/alluxio/files/4181570/alluxio-master.log)
[alluxio-worker.log](https://github.com/Alluxio/alluxio/files/4181571/alluxio-worker.log)

[2020-02-10 22:52] LuQQiu commented on #10840
When using direct_io or no fuse mount options, reads are sequential which means that one read will wait for another read to finish before it starts. For example, read(size=131072, offset=131072) will be issued after read(size=131072, offset=0) finished.

However, with kernel_cache, libfuse issues read() concurrently. read(size=131072, offset=0) and read(size=131072, offset=131072) can be issued to

[2020-02-10 22:53] LuQQiu commented on #10840
To fix the issue, we need to support concurrency in AlluxioFuseFileSystem.read()

[2020-02-11 00:38] cheyang opened #10880 "Alluxio Fuse leads high CPU useage"
**Alluxio Version:**
2.1.1

**Describe the bug**
I'm running AI workload on Alluxio, and notice it uses very high cpu. It's about 2000% CPU usage.

![image](https://user-images.githubusercontent.com/3724388/74202968-ffea8e00-4ca8-11ea-8837-297c7110ca3d.png)

And the following is the thread dump raw file:
[77737.log](https://github.com/Alluxio/alluxio/files/4183690/77737.log)

And here is the compl

[2020-02-11 15:12] jiacheliu3 commented on #10812
@LuQQiu Actually when creating the root mount as readonly and shared, I don't think it really takes effect. For example I started Alluxio with readonly root mount using your config properties, and then I can put files in the root mount.
[code]

Do you know if readonly works at all?

[2020-02-11 15:31] jiacheliu3 commented on #10812
Confirmed that readonly doesn't work for root mount but seems to work for nested mount. See different behavior below.
[code]

Please update the title of this issue.

[2020-02-11 19:39] ChethanUK opened #10887 "Timeout from alluxio in HA or Multi Cluster's with MySQL Metastore"
**Alluxio Version:**
What version of Alluxio are you using?
2.1.1

**Describe the bug**
I have following Presto and Hive Dataproc Cluster:
![Dataproc](https://i.imgur.com/spryv1T.png?height=800px&width=950px)

Created some table in the first cluster.

For example, consider:

[code]

Now, tried querying the table u_user from cluster2, it's timing out

**Expected behavior**
Like with normal Hive tab

[2020-02-11 21:03] ZacBlanco opened #10889 "Use a secure repository to host forked copycat dependencies"
**Summary**

Currently, we have forked copycat dependencies that are hosted in an S3 bucket which can only serve through http with maven. We should move to a repository that supports `https`

**Urgency**

Security vulnerability - medium to high

[2020-02-11 21:59] ZacBlanco commented on #10887
@ChethanUK can you provide your `alluxio-site.properties` file? Please make sure to omit any passphrases or sensitive information

[2020-02-12 10:55] wangyuqing4 opened #10894 "Failed to pass all runTests in k8s"
**Alluxio Version:**
code: master branch，2.2.0；docker images tag: 2.2.0-SNAPSHOT

**Describe the bug**
use /integration/kubernetes/singleMaster-localJournal,
[code]
when i kubectl get po,
[code]
[code]
some tests pass, but 12 tests failed, print

[code]
i just started using alluxio, i can run alluxio on centos/docker container, but i can't pass all tests on k8s. looking forward to your reply :)

*

[2020-02-12 14:43] jiacheliu3 opened #10896 "ACL is related to whether root mount is `shared`"
**Alluxio Version:**
master (2.2.0-SNAPSHOT)

**Describe the bug**
This is related to #10812 (comment)

`DefaultFileSystemMaster#getRootMountInfo` is not taking into account property `MASTER_MOUNT_TABLE_ROOT_READONLY` even though this field is by default true.
https://github.com/Alluxio/alluxio/blob/c3e5fd23cdfb670e978df6b3037d31a1f9faedb3/core/server/master/src/main/java/alluxio/master/file/Defau

[2020-02-12 21:35] ns1123 commented on #10505
+1

[2020-02-12 22:58] ZacBlanco commented on #10894
Did you configure alluxio to point to a UFS? Have you followed the guide here:

https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Kubernetes.html

Please let us know if there are further issues.

[2020-02-13 00:49] ggezer opened #10902 "BlockMaster checkpoints should generate a tarball stream of RocksBlockStore"
**Is your feature request related to a problem? Please describe.**
`BlockMaster` depends on `getJournalEntryIterator()` for generating checkpoints. Under ROCKS mode, this means `RocksBlockStore` will be enumerated during checkpointing. This is inefficient as enumerating rocks store might take a long time when there are many entries.

**Describe the solution you'd like**
Just like `RocksInodeStore`

[2020-02-13 01:39] wangyuqing4 commented on #10894
thx, you mean when i use kubectl create -f alluxio-configmap.yaml, in the alluxio-configmap.yaml, i should add **-Dalluxio.master.mount.table.root.ufs=<under_storage_address>** to ALLUXIO_JAVA_OPTS ?
in the master branch alluxio/integration/kubernetes/singleMaster-localJournal/alluxio-configmap.yaml.template i did't see the property.

[2020-02-13 01:44] ZacBlanco commented on #10894
Yes you will need to add `-Dalluxio.master.mount.table.root.ufs` if you haven't yet.

For a simple local deployment, you will need to create a persistent volume in k8s  and mount that to your master and worker containers in the same location.

Otherwise, if you have access to an external storage service like s3, you should just be able to specify the s3 path along with the credentials to create th

[2020-02-13 02:36] #10745 closed

[2020-02-13 04:32] zx-hub opened #10903 "ttl checker exception"
**Alluxio Version:**
2.1.0

**Describe the bug**
An alluxio service exception was found, and a large number of InodeTtlChecker Error was found in the log
**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
Take one for example
[code]
but in alluxio ui,I found this file is persisted
![image](https://user-images.githubusercontent.com/12888

[2020-02-13 05:55] wangyuqing4 commented on #10894
thx，now i use obs(https://docs.alluxio.io/os/user/edge/en/ufs/OBS.html?q=obs), according to the doc,  completed successfully in centos，but in k8s failed

kubectl exec -ti alluxio-master-0 /bin/sh
./bin/alluxio extensions install alluxio-underfs-obs-2.0.0.jar

[code]

[2020-02-13 08:46] wangyuqing4 commented on #10894
why i can't use the file /underFSStorage in node which the pod deploy?

[2020-02-13 09:29] ZacBlanco commented on #10894
Is there anything under `${ALLUXIO_HOME}/logs/task.log` within the container you tried to install the extension with?

`/underFSStorage` is a local directory specific to the container that is running in that pod. In order to use that as a UFS it must be accessible to all nodes in the cluster (Alluxio masters and workers). If you have more than one physical machine (multiple kubelets), then you can

[2020-02-13 18:48] #10858 closed

[2020-02-13 19:41] #10815 closed

[2020-02-14 00:14] ZacBlanco commented on #10903
hi @zx-hub ,

Is this scenario easily reproducible? Can you please include a set of steps that cause this issue? If it's not reproducible then we'll have a hard time fixing it.

Otherwise, can you run `alluxio fs stat <path>` on the command line for that file? Can you paste the output of that here as well?

[2020-02-14 00:57] ggezer opened #10915 "UfsJournal crash with local UFS"
**Alluxio Version:**
master

**Describe the bug**
Advancing to a next journal files requires listing files in journal directory. Current `LocalUnderFileSystem.listStatus()` implementation can throw `NoSuchFileException` if journal directory is concurrently being changed. (This change is natural as part of completing a current journal file.) This will cause journal reader to crash.

**To Reproduce*

[2020-02-14 02:14] ZacBlanco commented on #10915
I don't know if we can 100% fix this operation. However here are some of my thoughts,

Instead of doing a list - and then iterating over the list to read attributes, we can make use of the `java.nio.Files` API: https://docs.oracle.com/javase/8/docs/api/?java/io/Files.html

Specifically the `walk(Path start, FileVisitOption... options)` API.

The stream is lazily populated, so we can have minimal t

[2020-02-14 03:15] wangyuqing4 commented on #10894
thx, now i use local directory,  one physical machine, when runTests, 12 tests failed the same.
With ASYNC_THROUGH field test will success, but without ASYNC_THROUGH test will failed.  probably not a problem with volume？

runTest.log and *yaml all in the link https://github.com/wangyuqing4/alluxio-k8s

[2020-02-14 09:21] jinhang commented on #8868
@apc999 @calvinjia @ZacBlanco
[ERROR] Failed to execute goal on project alluxio-core-server-common: Could not resolve dependencies for project org.alluxio:alluxio-core-server-common:jar:2.2.0-SNAPSHOT: Failed to collect dependencies at io.atomix.copycat.alluxio:copycat-server:jar:1.2.14: Failed to read artifact descriptor for io.atomix.copycat.alluxio:copycat-server:jar:1.2.14: Could not transfer

[2020-02-14 19:42] broussea1901 opened #10920 "S3 UFS Client Side Encryption (CSE)"
S3 provides multiple option to encrypt data at rest:
Server-Side Encryption (SSE): request S3 servers to encrypt objects before saving them on disks and then decrypt it when downloading objects.
Client-Side Encryption (CSE): encrypt data on client-side and upload encrypted data to S3. Client manage encryption process and encryption keys, and KMS. No one can read data having only access to S3 serve

[2020-02-15 03:30] iAlaska opened #10925 "Embedded journal node crash"
**Alluxio Version:**
2.1.1

**Describe the bug**
after load some data into alluxio cluster, and execute a `du -s -h` command. one of  the master node crashed and can't restart normally.
blow is the error log of the crashed master node.
[code]

**Urgency**
because i only has 3 master node, when this node crashed, my whole cluster is down. the only resolution is reformat masters and restart ?

**Add

[2020-02-17 15:07] jiacheliu3 commented on #10812
Readonly attribute is fixed by https://github.com/Alluxio/alluxio/pull/10895
Shared attribute problem is more tricky and logged in https://github.com/Alluxio/alluxio/issues/10896
Closing this issue as we can keep track on #10896

[2020-02-17 15:07] #10812 closed

[2020-02-17 16:39] casperit opened #10927 "unexpected behavior of meta info synced from Hadoop UFS"
**Alluxio Version:**
Alluxio 2.1.1

**Describe the bug**
with a Hadoop path mounted on the alluxio path, the meta info(acl,mask, user/group) sub-directories and sub-files is  wrong, which makes it impossible to make queries to the alluxio namespace

**To Reproduce**
1. set up a kerberos hdfs cluster(version>=2.7)
2. set up a alluxio cluster with hdfs as the ufs location
3. mount a hdfs path to a a

[2020-02-17 16:51] loushang0826 opened #10928 "Unable to load native-hadoop library for your platform"
**Alluxio Version:**
2.1.1

**Describe the bug**
When alluxio master starts, there are some Warn messages as below:
`2020-01-17 16:57:37,306 WARN  NativeCodeLoader - Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2020-01-17 16:57:37,312 WARN  DomainSocketFactory - The short-circuit local reads feature cannot be used because libhadoop cannot be

[2020-02-18 06:24] cheyang opened #10929 "The latency through alluxio is not even."
**Alluxio Version:**

2.1.1

**Describe the bug**

All the data are cached in alluxio. I'm trying to use `mpirun` to run  multiple processes to read the files in the same directory.
When multiple processes are reading the data in alluxio fuse concurrently, the data reading speed is severely uneven.

Mpi runs multiple processes to access data in the same directory. The startup time is the same, but

[2020-02-18 15:45] jiacheliu3 commented on #10832
/ping jiacheliu3

[2020-02-18 20:51] ZacBlanco commented on #10925
Thanks for reporting your issue @iAlaska. While the stacktrace and edit log above are useful it isn't enough to fully identify the issue.

Can you please provide the full log from all of your masters, and your `alluxio-site.properties` with any sensitive information omitted. We will need all of this to fully investigate the cause and subsequent failure

[2020-02-18 22:50] calvinjia opened #10937 "Support security in webfs"
**Is your feature request related to a problem? Please describe.**
I cannot connect to a secured http endpoint through webfs.

**Describe the solution you'd like**
Ability to pass simple user/password credentials to webfs.

**Urgency**
This limits the use cases of webfs to public sites.

[2020-02-18 22:52] calvinjia commented on #10937
Technical details - in `WebUnderFileSystem`, we have the `UnderFileSystemConfiguration` which could be used to pass in a `webfs.user` and `webfs.password`. Then we could attach the credentials to any requests we make through `HttpUtils`.

[2020-02-19 00:35] ZacBlanco commented on #10894
It sounds like there is a problem with the mounted volume. If the tests with `THROUGH` and `CACHE_THROUGH` write types are failing, then your volume is probably not mounted correctly for each container

[2020-02-19 00:40] wangyuqing4 commented on #10894
i solve it last week，volumes in master branch alluxio-worker-daemonset.yaml maybe have error，when i add pvc the same as alluxio-master-statefulset.yaml， runTests all pass.

[2020-02-19 02:31] jiacheliu3 commented on #10894
@wangyuqing4 Sounds like you are using a ReadWriteMany persistent volume as the under storage. In that case you need to mount that to masters and workers.

You mentioned volumes in master branch alluxio-worker-daemonset.yaml maybe have error. What was the error you found or observed?

[2020-02-19 02:33] ZacBlanco commented on #10894
@jiacheliu3 I think this was the log: https://github.com/wangyuqing4/alluxio-k8s/blob/d2607444693b7fa8eac8b385b21bd4b7a6ef1574/runTests.log

[2020-02-19 02:34] jiacheliu3 commented on #10894
@ZacBlanco I wonder why the error is
[code]
Seems the under storage dir is the journal path?

[2020-02-19 08:52] iAlaska commented on #10925
i am sorry, the log of all masters is cleared now. but the `alluxio-site.properties` is here. hope it will help.

[code]

[2020-02-19 15:50] jiacheliu3 opened #10945 "Alluxio on Docker failed to format journal"
**Alluxio Version:**
2.2.0-SNAPSHOT

**Describe the bug**

There's no ssh command in Alluxio docker image. When doing `formatJournal` in HA mode the command will fail.

[code]

**To Reproduce**
As above

**Expected behavior**
`formatJournal` should work from masters/workers and client side too(if client side is configured).

**Urgency**
Medium

**Additional context**
Add any other context about th

[2020-02-19 15:53] jiacheliu3 commented on #10945
@ZacBlanco How much overhead is adding `ssh` to our docker image?

[2020-02-19 17:13] ZacBlanco commented on #10945
The general idea is you should not really be executing commands within the container. Format is an odd one - but generally no, we shouldn't have ssh installed because it would imply all of the other containers have an ssh server running which is another daemon that would need to run in the background.

For k8s or docker its expected for users to run the commands manually at this point

[2020-02-20 08:05] jiacheliu3 opened #10956 "helm-generate.sh does not support Helm 3"
**Alluxio Version:**
2.2.0-SNAPSHOT

**Describe the bug**
helm-generate.sh uses Helm 2.X to generate Helm template YAML files. Helm 3 has changed the API so the script doesn't work anymore.

**To Reproduce**
Run `helm-generate.sh` with Helm 3.X

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Medium

**Additional context**
Add any other context ab

[2020-02-20 08:07] jiacheliu3 commented on #10956
Helm 3 and 2 has incompatible APIs so I think it's hard to support both with one script. I would recommend having another script for Helm 3. What do you think? @madanadit

[2020-02-20 12:55] swhzzh opened #10958 "Java Remote Debug For The Master Error"
**Alluxio Version:**
2.1.0

**Describe the bug**
I installed the alluxio locally and want to do some debugs.
I tried the remote debug described in the docs by adding these env varibles into alluxio-env.sh
[code]
But the master always fails and reports that bind failed : the port was already in use while the worker and the shell debug can work successfully. I have tried several free ports for the m

[2020-02-20 14:43] madanadit commented on #10956
We could remove support for helm 2 and only support helm 3 going forward as it’s simpler by removing tiller @jiacheliu3

[2020-02-20 15:32] cheyang opened #10959 "GetWorkerInfoList is not cached when enabling metadata cache"
**Alluxio Version:**
2.1.1

**Describe the bug**

Run alluxio-fuse with metadata cache

1.Enable metadata cache

[code]

2. Load the data

[code]

3. Enable the debug of master service handler

[code]

4. read the file three times:

[code]

5. And check the logs of alluxio-master

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior

[2020-02-20 17:21] #9606 closed

[2020-02-20 22:26] ZacBlanco commented on #10959
As far as I'm aware, the metadata cache will only cache the results of `FileSystem` methods such as `listStatus` and `getStatus`, not from internal methods like `GetWorkerInfoList`

This seems to be a feature request rather than a bug

[2020-02-20 23:22] LuQQiu opened #10964 "Reduce the amount of GetWorkerInfoList in Job servers"
**Alluxio Version:**
Alluxio 2.2 and older versions

**Describe the bug**
AlluxioBlockStore is designed for clients and should not be used for Job servers.
However, Job master and job worker keep calling AlluxioBlockStore.getAllWorkers() which directly call BlockMaster.getWorkerInfoList(). Most of those calls are unneeded and a bunch of getWorkerInfoList() call increase the RPC network overhead be

[2020-02-21 00:25] cheyang commented on #10959
I also encountered an issue that when there are too many concurrent requests, it  may cause the issue: https://github.com/Alluxio/alluxio/issues/10929

The number of requests is about 1411 every seconds, any optimize suggestion?

[code]

Here is the number of request of every seconds, you can see it reaches the peak then it's down because the user application crashed.

[code]

[2020-02-21 02:46] ns1123 opened #10966 "Add a isFile() option to PropertyKey.Builder"
**Is your feature request related to a problem? Please describe.**
Multiple file properties don't do validations that the file exists or is accessible. Flagging properties that specify file paths (alluxio.underfs.hdfs.keytab.file) with the option could enabled launch-time checks for validity.

**Describe the solution you'd like**
Add a new option in PropertyKey.Builder like .isFile()

**Describe a

[2020-02-22 00:09] #10959 closed

[2020-02-22 15:05] cheyang opened #10987 "release method in alluxio fuse takes a long time"
**Alluxio Version:**
2.1.1

**Describe the bug**

I run distributed model training based on Alluxio on four V100 GPU machines. I have previously loaded the data into Alluxio (144G), and the data read failure occurred during the training process.

In order to further diagnose, I added some time recording steps to the existing code：https://github.com/cheyang/alluxio/commit/50c82af36ccbdc92e980cfa841

[2020-02-24 03:50] jiacheliu3 opened #10996 "K8s Alluxio master restart loses journal"
**Alluxio Version:**
2.2.0-SNAPSHOT

**Describe the bug**
Restarting the master StatefulSet results in a smaller journal file size. MUST_CACHE files are lost in the restart.

This error doesn't happen every time the master is restarted. Only sometimes the files are lost. The journal is in a PV so the node of master pod should be irrelevant.

MUST_CACHE and ASYNCH_THROUGH files are lost.
[code]

[c

[2020-02-24 15:01] #10321 closed

[2020-02-24 16:37] cheyang opened #10998 "Alluxio Fuse reads zero data in heavy load"
**Alluxio Version:**
2.1.1

**Describe the bug**

利用Alluxio Fuse在高负载下运行模型训练，会产生两个问题：

1.延时过长，read和release会出现1到5秒时间消耗
2.会出现读到0数据的情况

[code]

为了复现这个问题，并且提供更多的信息，我们分别提供

1.通过strace查看系统调用
2.在alluxio代码上输出更多的debug信息: https://github.com/cheyang/alluxio/tree/features/branch-2.1-investigation-0222

文件/data/imagenet/train/train-00007-of-01024，执行pread64的时候，读出的数据是\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0

[2020-02-24 19:11] LuQQiu commented on #10964
Fixed in https://github.com/Alluxio/alluxio/pull/10968
Cherry-picked to branch-2.2

[2020-02-24 19:11] #10964 closed

[2020-02-24 20:41] bf8086 commented on #10928
@loushang0826 Thanks for reporting this issue. We will look into it and keep you updated.

[2020-02-25 13:59] jiacheliu3 opened #11010 "Remove deprecated Restful Service Handlers"
**Summary**
There are 3 Rest service handler classes with methods marked with `@deprecated since version 1.4 and will be removed in version 2.0`. We should remove them if that was the plan.

Whole class `BlockMasterClientRestServiceHandler`
[code]

Many methods in class `AlluxioMasterRestServiceHandler`
[code]

And many methods in `AlluxioWorkerRestServiceHandler`.

**Urgency**
LOW

[2020-02-25 14:00] jiacheliu3 commented on #11010
@ZacBlanco @calvinjia Can these classes/methods be removed?

[2020-02-26 09:25] chandrasaripaka opened #11021 "Create a Custom Replication Policy based on Datacenter, Rack and Node Awareness"
Create a Custom Replication Policy based on Datacenter, Rack and Node Awareness.

Alluxio workers can be marked with the labels for the Datacenter, rack and node.
In my case, I would need a CustomReplicationPolicy to be created since we have to ensure more than 2 copies of cache selectively for different paths for hot and cold data. This is only for the layers where we use MEM/DISK. Here we need t

[2020-02-27 02:20] chandrasaripaka commented on #11021
Any suggestions are welcome, to rephrase or suggestions to do better.

[2020-02-27 18:24] haoyuan commented on #11021
Thanks @chandrasaripaka ! Looking forward to your PR! In the meantime, let the community know anything the community can help. Cheers.

This Issue is based on the conversation from https://alluxio-community.slack.com/archives/CEXGGUBDK/p1580965409161200 ;

[2020-02-28 04:04] jinhang commented on #10925
m

[2020-02-28 14:47] cyxu2 opened #11060 "CVEs in the library dependencies"
Hi,
I found some CVEs in the library dependencies, which may affect the security of your projects. To prevent potential security risks it may cause, I suggest to update the library dependency. The details are as follows.
* **Vulnerable Library Version:** com.squareup.okhttp3 : okhttp : 3.10.0
  **CVE ID:** [CVE-2018-20200](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-20200)
  **Import P

[2020-02-28 18:41] ZacBlanco commented on #11060
@cyxu2 thank you for this comprehensive list of CVEs! We recently merged a PR that updated a few dependencies. I think now would be a good time to address these as well.

We will look into it shortly

[2020-02-29 15:20] kaifeng-h opened #11074 "Inconsistent library versions notice."
Hi. I have implemented a tool to detect library version inconsistencies. Your project have 2 inconsistent libraries.

Take org.apache.hadoop:hadoop-common for example, this library is declared as version 2.7.3.2.6.1.0-129 in underfs/wasb, 2.7.3 in integration/yarn and etc... Such version inconsistencies may cause unnecessary maintenance effort in the long run. For example, if two modules become in

[2020-03-01 12:53] jiacheliu3 opened #11079 "Add readiness and liveness probes to Alluxio containers in K8s"
**Is your feature request related to a problem? Please describe.**
In K8s, the Alluxio container processes goes to `RUNNING` state right after the process is started (`entrypoint.sh` doesn't end in error).

However, the container being in `RUNNING` state doesn't mean the container can work. It can be waiting for masters to elect a leader. It can wait for a certain process to start and then fail ev

[2020-03-01 13:05] jiacheliu3 commented on #11079
@madanadit Wanted to discuss with you on **Part II** regarding the liveness probe.

In a HA environment and 1 master goes down, will `alluxio fsadmin report` return error only for the dead master container (and makes K8s restart it)?

For an Alluxio worker that lost master connection (masters are down), how do we make the liveness probe still return alive? What do you think is a good probe in this

[2020-03-02 05:00] jiacheliu3 opened #11081 "Generate JAVA_OPTs in configmap"
**Summary**
Currently the JAVA_OPTs are in a space-separated `-Dkey1=value1 -Dkey2=value2` format which has to be managed manually. It's better to be extracted into the config and generated with templating.

This is first requested in
https://github.com/Alluxio/alluxio/pull/11067#discussion_r386197393

**Urgency**
LOW but is a quick change

[2020-03-02 10:15] jiacheliu3 commented on #10996
Confirmed this is because I was using a `hostPath` volume for the journal. When the master is restarted it schedules to a different path and the `hostPath` volume gets re-created.

[2020-03-02 10:15] #10996 closed

[2020-03-02 11:13] CleWang opened #11084 "CVEs in the dependencies are in the execution path of your project"
Your project uses some dependencies with CVEs. I found that the buggy methods of the CVEs are in the program execution path of your project. To prevent potential risk it may cause, I suggest a library update. Please note the following details.

* **Vulnerable Dependency:** org.apache.hadoop : hadoop-common : 2.7.3

* **Call Chain to Buggy Methods:**

  * **Some files in your project call the libra

[2020-03-02 18:53] LuQQiu opened #11087 "Retry mounting wrong UFS blocks other mount/ls operations"
**Alluxio Version:**
2.2-RC1

**Describe the bug**
When mounting a remote HDFS with wrong IP:
alluxio fs mount --option alluxio.underfs.hdfs.remote=true /mnt/hdfs hdfs://<wrong_ip>:8020/tmp/alluxio

The master log shows:
[code]

This operation blocks the following `mount` and `ls /` operations.
`mount` and `ls /` operations hangs without response. I manually kill those commands. The error logs onl

[2020-03-02 19:14] madanadit commented on #10996
Thanks @jiacheliu3

[2020-03-02 21:15] madanadit commented on #11079
@ZacBlanco how does the monitor script check for readiness?

[2020-03-02 21:18] ZacBlanco commented on #11079
It depends on the process.

Single master
- RPC server ping

Multi-master w/ HA
- ssh into each node, pgrep for Alluxio(Job)Master and check a PID exists

(Job)Worker
- RPC ping

[2020-03-02 23:31] madanadit commented on #11079
@jiacheliu3 you should look at `bin/alluxio-monitor.sh` and check the `run_monitor` method. For the workers, you can use the same health check: `alluxio.worker.AlluxioWorkerMonitor`

[2020-03-03 09:59] jiacheliu3 commented on #11079
In HA mode I can also just do `bin/alluxio-monitor.sh master` instead of `masters`. This can also work.

[2020-03-03 10:16] jiacheliu3 commented on #11079
It's actually recommended to use an http probe instead of executing a command which spawns up a JVM. This is especially true for liveness probes as they can get probed quite often and ends in error state if it times out (and get the container restarted).

So if there currently isn't a `localhost:port/health` endpoint, I would propose we add one. Or maybe we can use the rest service to do it.

If w

[2020-03-03 14:45] zhangfy opened #11104 "Add a query parameter to job list interface"
We use Alluxio 2.1.2. Due to the alluxio.user.file.writetype.default=ASYNC_THROUGH, we have to make sure the data is persistent. So we need an interface to monitor jobs, especially persist jobs. We read the code,find the following urls.

1、http://xxx.xxx.xxx.xxx:20002/api/v1/master/job/list
2、http://xxx.xxx.xxx.xxx:20002/api/v1/master/job/get_status?jobId=1582614078889

First url to get all jobs,

[2020-03-03 14:52] zhangfy opened #11105 "Export the whole file tree."
We use alluxio 2.1.2. In practice, we found that we need a tool to export the file tree every day for analysis. But the current version has no interface to export. If the new version has the command, that would be good.

[2020-03-03 18:11] ZacBlanco commented on #11105
@zhangfy can you elaborate a bit more on your request?

What do you mean by "Export the whole file tree"?

Do you mean simply being able to see the inode metadata for all paths? Or do you mean simply backing up the journal in case of failure recovery?

Alluxio provides `alluxio fsadmin backup` to create a backup of the current master's journal. You can then explore this through the `JournalTool`

[2020-03-04 00:47] #11010 closed

[2020-03-04 01:05] bradyoo opened #11118 "Creating a CompositeConfig with empty list of jobs crashes"
**Alluxio Version:**
What version of Alluxio are you using?
2.3.0-SNAPSHOT

**Describe the bug**
A clear and concise description of what the bug is.
Attempting to run

new CompositeConfig(Lists.newArrayList(), true) crashes when you attempt to get the status of this job.

[2020-03-04 03:11] zhangfy commented on #11105
@ZacBlanco Sorry, I didn't describe the question clearly.In my case, I need to dump the whole path to a file. The dump file need to include columns such as using `alluxio fs stat path` command.

[2020-03-04 03:57] zhangfy commented on #11104
@ZacBlanco Can you assign this task to me? As a newer, I want to try it.

[2020-03-04 09:26] ZacBlanco commented on #11104
I've assigned this issue to you. You may open a PR which closes the issue. The PR description should include the message `closes #11104`. We can iterate on the implementation there.

If you need a starting point I would recommend looking at the [`AlluxioJobMasterRestServiceHandler`](https://github.com/Alluxio/alluxio/blob/master/job/server/src/main/java/alluxio/master/AlluxioJobMasterRestServiceHa

[2020-03-04 13:32] zhangfy commented on #11104
@ZacBlanco Thank you for your advice. Sorry, I don't know what's the PR mean.Can you give me the full name of PR?

[2020-03-04 17:46] #11118 closed

[2020-03-04 19:00] ZacBlanco commented on #11104
PR -> **P**ull **R**equest

It's the standard github workflow for contributing code to a repository that you don't own:
https://guides.github.com/introduction/flow/

We also have a contribution guide in our documentation: https://docs.alluxio.io/os/user/stable/en/contributor/Contributor-Getting-Started.html

[2020-03-04 22:20] ns1123 commented on #10102
+1
This check makes it mandatory to format a cluster when switching from OS user 'foo' to OS user 'bar'.

[2020-03-04 22:22] alex-alluxio commented on #10102
+1

[2020-03-05 05:23] zhangfy commented on #11104
@ZacBlanco Thanks

[2020-03-05 18:17] ZacBlanco commented on #11105
I see. Using the combination of tools I listed above can get you all the information you need in a human-readable format, but probably not in the format you're looking for. You might need to write something yourself to dump that information

[2020-03-06 00:41] gpang opened #11131 "NPE during attachdb if ownerType is null"
**Alluxio Version:**
2.1.2

**Describe the bug**
If the hive database ownerType is `null`, it causes a NPE, and fails to attach the db. The output is something like:
[code]

**To Reproduce**
Hive database ownerType is an optional field and may be `null`. When this happens, attaching a db fails.

**Expected behavior**
Attach should still be successful.

**Urgency**
Critical, to be able to attach a

[2020-03-06 01:57] #11131 closed

[2020-03-06 02:36] zhangfy commented on #11105
Thank you for your patience. But I still have the following two questions.

1. I try the `alluxio fsadmin backup` command. I found characters appear as gibberish when I open the backup file with using VIM. How to open the backup file is correct?
2. As you said above, alluxio has the feature to see inode metadata for all paths. Which command can I use to check?

[2020-03-06 18:18] ZacBlanco opened #11137 "Improve the scalability of deletes in Alluxio"
**Is your feature request related to a problem? Please describe.**

If Alluxio is working with a large namespace (2M+ inodes), then trying to delete at the root of a directory containing a lot (1M+) of the inodes takes a considerable amount of time (> 15 minutes). I ran

[code]

This is a relatively simple and quick operation in most common filesystems. In Alluxio it is slightly more complicated b

[2020-03-07 01:20] jiacheliu3 opened #11141 "Format journal in initContainer for Alluxio master container in K8s"
**Summary**

Journal formatting is done by using Jobs to run `alluxio formatJournal` for each master. It is tricky if we cannot guarantee the Jobs finish before masters start. When the whole cluster is deployed with `kubectl` one can turn masters off before the format and on after the format. But with helm it's hard to guarantee the order. When there's no order, the journal formatting can run into

[2020-03-08 10:22] jiacheliu3 commented on #10945
This has been addressed

[2020-03-08 10:22] #10945 closed

[2020-03-08 10:30] jiacheliu3 opened #11145 "Mount UFS in alluxio-site.properties instead of from CLI"
**Is your feature request related to a problem? Please describe.**
When the Alluxio deployment process is automated, manually mounting UFS via CLI becomes tricky. The script now needs to check whether the Alluxio cluster is ready before performing the mount, and has to handle failure scenarios.

One example of automated deployment is deploying Alluxio on K8s with Helm.

**Describe the solution you

[2020-03-08 10:31] jiacheliu3 commented on #11145
@cheyang Pls correct me if my description is wrong. Thanks!

[2020-03-09 10:12] cheyang commented on #10998
利用包含详细诊断信息的代码重现该问题: https://github.com/cheyang/alluxio/tree/branch-2.2-for-AI-0309

1.部署了四个alluxio-worker和fuse

[code]

在做了更详细的诊断后，现在可以在fuse侧重现all bytes zero, 该错误出现了35次

[code]

以/train/train-00075-of-01024为例子，该文件只出现了一次

[code]

从上下文看，出现了其他超过1s的操作，但是读取该文件没有超时的日志。

[code]

确认该文件的完整性, 直接从alluixo fuse的目录拷贝可以成功，并且和原始文件比较md5值一致

[code]

[2020-03-09 17:54] apc999 opened #11147 "MetricsHeartbeatContextTest will fail when a local Alluxio cluster is running"
**Alluxio Version:**
2.3.0-SNAPSHOT

**Describe the bug**
[code]

**To Reproduce**

1. Have a local Alluxio cluster running
2. Test alluxio.client.metrics.MetricsHeartbeatContextTest
3. Fail

**Expected behavior**
Unit test should pass regardless of whether local Alluxio process is running

**Urgency**
Low

**Additional context**
Add any other context about the problem here.

[2020-03-09 19:03] ZacBlanco commented on #11147
Do you mean the testing cluster, or just having an external cluster running?

[2020-03-11 10:19] jinhang opened #11152 "Alluxio cluster Cache Hit Rate 's Alluxio Remote = 100 , short-circuit Read is not work ?"
**Alluxio Version:**
2.1.2
**Describe the bug**
Problem:
Alluxio cluster Cache Hit Rate (Alluxio Remote = 100) is not update, short-circuit Read is not work ?

Cache Hit Rate (Percentage):
    Alluxio Local                                            0.00
    Alluxio Remote                                        100
    Miss                                                         0.00
**To Reproduc

[2020-03-11 10:29] jinhang commented on #10110
I also encountered this problem, did you solve it?
Total IO:
    Short-circuit Read                                         0B
    Short-circuit Read (Domain Socket)                         0B
    From Remote Instances                                787.84GB
    Under Filesystem Read                                617.89GB
    Alluxio Write                                         32.60GB
    Allux

[2020-03-11 10:31] jinhang commented on #11152
I also encountered this problem like : https://github.com/Alluxio/alluxio/issues/10110

[2020-03-11 10:59] jinhang commented on #11152
conf]$ ../sbin/alluxio getConf alluxio.user.metrics.collection.enabled
true

[2020-03-11 11:20] cheyang opened #11153 "The performance of reading small file"
**Alluxio Version:**
2.2.0
**Describe the bug**

1.生成小文件， 数量为40504， 总共6G, 文件平均大小为152K

[code]

2.部署Alluxio 并且将数据完全缓存后运行并发读文件,目前8进程下，单独进程的吞吐只能达到205MiB

[code]

3.反复执行文件拷贝

[code]

从日志中看随机会有对应的方法，耗时超过1ms，可以看一下是否有优化的空间

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen

[2020-03-11 18:18] ggezer opened #11154 "Implement Configuration#getOrElse() method"
**Summary**
getOrElse() would be usefull for when assign defaults based on presence of a property.

[2020-03-11 23:25] ggezer opened #11155 "Backup Coordinator"
**Is your feature request related to a problem? Please describe.**
Daily backup manager lacks in versatility to be used on periodic backup needs other than daily backup.

**Describe the solution you'd like**
Backup manager that allows taking backups at any cadence. After backup delegation support, taking backups aggressively has became viable. This component can provide required functionality in o

[2020-03-12 09:05] iAlaska opened #11157 "impala stuck in short-circuit read from Alluxio workers"
**Alluxio Version:**
2.1.1

**Describe the bug**
When deploying Alluxio workers co-located with impala daemon, the impala query via short-circuit mode stuck until query client got this error:

[code]

the worker error logs is blow:
[code]

With DEBUG logging leve, I find that, the short-circuit read mode will leave some block unlocked, the screen-shot below shows that there are some lockId is unlo

[2020-03-12 17:11] gpang opened #11160 "Attaching a UDB with many tables issues too many UDB RPCs in parallel"
**Alluxio Version:**
2.2.0

**Describe the bug**
When you attach a UDB that has many tables, syncing the UDB creates many parallel threads issuing commands/RPCs to the UDB. This has the potential to overload and stress the UDB too much.

**To Reproduce**
Attach a UDB that has a many tables (1000+) and monitor the connections to the UDB.

**Expected behavior**
The expectation is to be able to limit

[2020-03-12 17:36] bradyoo opened #11161 "Parallelize SelectExecutors of MigrateJob"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Listing files in MigrateJob can be very slow when there are lots of files. Parallelize that process.

**Urgency**
Explain why the feature is important

This is a large slowdown factor when performing distributedCp on small files

[2020-03-12 21:29] #11160 closed

[2020-03-12 22:57] gpang opened #11164 "LinkageError is hit on some tables when attaching"
**Alluxio Version:**
2.2.0

**Describe the bug**
When attaching a db, sometimes it hits this:
[code]

**To Reproduce**
Certain tables hit this error on attach. I think this happens when there are some `Decimal` datatypes in hive tables.

**Expected behavior**
Avoidance of this error.

**Urgency**
This prevents attaching some databases.

[2020-03-13 16:20] jiacheliu3 commented on #10253
After some research, 4(worker tier storage) can be resolved by switching from using `emptyDir` like below
[code]
to a PVC.
[code]
The trick is, although there's only ONE PVC-PV pair for ALL worker daemon pods, this PV can be a `hostPath` or `local` type. The effect will be each worker pod reads and writes to its local path. This has been manually verified to work (both `hostPath` and `local`).

Th