[2020-10-21 09:21] jiemar opened #12359 "short circult read didnot happened when presto colocated with alluxio"
**Alluxio Version:**
2.3

**Describe the bug**
47 presto workers deployed with 47 alluxio workers . set alluxio.user.file.replication.min=47
then i query sql for many times , more than 2000 times.
but short circult read stays 0B
why did it not do short circult read?

[2020-10-21 15:58] jiacheliu3 opened #12360 "Support changing log4j.properties and metrics.properties in K8s"
**Is your feature request related to a problem? Please describe.**
When the user needs to tune log4j or metrics settings, it's very hard in K8s.

The user can mount an updated file to `conf/log4j.properties` and `conf/metrics.properties` but that requires much manual work. Also this is impossible in helm.

**Describe the solution you'd like**
The Helm template should support updating these config

[2020-10-21 15:58] jiacheliu3 commented on #12360
@LuQQiu FYI

[2020-10-21 17:17] calvinjia commented on #12338
Sure, my understanding is with false it will have the original pom

[2020-10-21 20:54] apc999 commented on #12127
Hi @TrafalgarZZZ

I've fixed this issue by https://github.com/Alluxio/alluxio/pull/12315 :
instead of accumulating all the `FileInfo` and sort it on CLI side, we are now iterating with returned results from master and will be able to proceed even with partial results.

I have updated branch-2.3-fuse if this is the src code you are using.

Feel free to reopen this issue if you are still reproduce t

[2020-10-21 20:54] #12127 closed

[2020-10-21 23:36] apc999 commented on #12316
In https://github.com/Alluxio/alluxio/blob/e5d4ea2e59993a9c47dcb08ce7aa0c95b948af84/core/common/src/main/java/alluxio/conf/PropertyKey.java#L3569-L3572 change `DELETE` to `FREE`, @cheyang  do you want to create a patch?

[2020-10-22 01:33] #12359 closed

[2020-10-22 11:19] maobaolong commented on #12113
@apc999 Through the issue description, your comments and following debug snapshot, I found the key point of this issue is `alluxio formatMaster` shouldn't create multiply instance.

![image](https://user-images.githubusercontent.com/17329931/96846439-7ec4d700-1484-11eb-8944-796fd3335660.png)

![image](https://user-images.githubusercontent.com/17329931/96846580-afa50c00-1484-11eb-9b82-546a32c0fcc5.

[2020-10-22 13:46] maobaolong commented on #12338
@apc999 I have checked that if we set `createDependencyReducedPom=false`, the `.m2/repository/org/alluxio/alluxio-shaded-ozone/2.4.0/alluxio-shaded-ozone-2.4.0.pom` will be the same as `alluxio/shaded/ozone/pom.xml`

[2020-10-22 14:16] TrafalgarZZZ commented on #12127
Hi @apc999

Thanks very much for fixing it! The "OOM" error won't show now and it saves us much time to get the total size of all the data in our UFS. However, there's still something unexpected  happened to us. Could you please take a look at it?

**1. Results of all the alluxio command(e.g. `alluxio fs du -sh /` and `alluxio fs ls -R /`) are doubled.**
For example, we mount a UFS(about 143.67GB

[2020-10-22 17:20] yuzhu commented on #12356
@LuQQiu do you have any idea about this issue?

[2020-10-22 17:32] LuQQiu commented on #12356
@bf8086 FYI

[2020-10-23 03:23] cheyang opened #12369 "Support forcing distributeLoad to read the latest data"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
We'd like to distributedLoad the data with the latest metadata, does the following configuration work?

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the imp

[2020-10-23 06:27] jinhang commented on #12369
mark

[2020-10-23 07:19] apc999 commented on #12369
@bradyoo  do you know the answer?

[2020-10-23 10:32] cammette opened #12372 "Alluxio ListStatus Always synchronize the metadata of files in the next level directory"
**Alluxio Version:**
alluxio 2.3.0

**Describe the bug**
ths alluxio path  /nfs is nfs underfs，and the /nfs has the following directory structure:
[code]
There are 5000 files in every /nfs/{year} subdirectory，and list the alluxio path /nfs is very slow
[code]
I don't need to browse the metadata information of subdirectories in advance, just check whether there is a new directory under / nfs，Any su

[2020-10-23 12:37] TrafalgarZZZ opened #12373 "Result of alluxio metadata calculation is incorrect"
**Alluxio Version:**
What version of Alluxio are you using?
branch-2.3-fuse

**Describe the bug**
A clear and concise description of what the bug is.
After the fix #12315 , we've found two unexpected things happened to us.

~**1. Results of all the alluxio command(e.g. `alluxio fs du -sh /` and `alluxio fs ls -R /`) are doubled.**~ (Resolved)
For example, we mount a UFS(about 143.67GB and 1157 fil

[2020-10-23 13:33] cheyang commented on #12373
/ping @apc999

[2020-10-23 16:38] 51yu opened #12374 "S3 STS credential provider"
**Is your feature request related to a problem? Please describe.**
1. enable sts credential provider as an option for s3 auth
2. aws doc - https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/auth/STSAssumeRoleSessionCredentialsProvider.html
3. sts role has advantage in cross aws account s3 access i.e aws IAM policy delegation

Sample scenario:
Data consumer under aws account C acce

[2020-10-23 17:20] bradyoo commented on #12369
I believe that this should work based on the codebase.

[2020-10-23 17:42] #12202 closed

[2020-10-23 17:44] apc999 commented on #12338
This issue has been fixed by  #12367

[2020-10-23 17:44] #12338 closed

[2020-10-23 18:19] apc999 commented on #12369
agree with @bradyoo  . @cheyang  to achieve what you are describing here as a workaround for now.

[code]

[2020-10-24 06:36] jainanuj07 commented on #12349
@apc999  I have given 64GB to master. I have also checked the metrics **Master_TotalPaths** and it was showing around 3 million before the crash has happened. I can see my master is getting frequent full GC also.

[2020-10-24 10:58] jainanuj07 commented on #12349
Today again it crashed and again I have to format master to restart it. Even it was not starting from backup. I have now push metrics to grafana to monitor and checking heap uses and paths. I am not able to understand why my heap uses is so high.

![Uploading image.png…]()

[2020-10-26 03:28] apc999 commented on #12351
Close this PR due to lack of feedback. @feelshana  you are welcome to reopen this issue once you have more update

[2020-10-26 03:28] #12351 closed

[2020-10-26 05:06] apc999 commented on #12127
@TrafalgarZZZ  I will take a look! thanks for the report

[2020-10-26 12:45] maobaolong opened #12388 "Display mount table in the master page"
**Is your feature request related to a problem? Please describe.**

It would be easy to find the mount information if we have a mounttable page in the master webUI.

**Describe the solution you'd like**

Add a mount table page in the master webUI.

**Describe alternatives you've considered**
WebUI module

**Urgency**
MIDDLE

**Additional context**
User friendly feature.

[2020-10-26 15:54] maobaolong commented on #12372
@cammette  Thanks for report this issue.

I can see each line of the subdir of /nfs contains a size, most of them are 5000, for example `/nfs/1990` contains 5000 children, without loading children of `/nfs/1990`, Alluxio cannot get the childCount, do you have any other idea?

[2020-10-26 17:14] maobaolong commented on #12212
@stuartsierra Thanks for report this issue, would you please paste your python test code and the necessary reproduce steps?

[2020-10-27 02:16] cheyang commented on #12369
It will take a long time to process the two command. What about `alluxio fs distributedLoad -Dalluxio.user.file.metadata.sync.interval=0 /`?

[2020-10-27 02:22] cheyang commented on #12369
/cc @TrafalgarZZZ

[2020-10-27 04:55] jefflester commented on #9856
I just read [your documentation](https://docs.alluxio.io/os/user/stable/en/operation/Configuration.html#java-11-configuration) for v2.4 and it has instructions for enabling Java 11. Is this fully supported as of the v2.4 release?

[2020-10-27 11:32] jiacheliu3 opened #12398 "Alluxio assumes object is directory when failed to get status from UFS"
**Alluxio Version:**
2.4

**Describe the bug**
For Alluxio on S3, when Alluxio fails to get status of an object, it will assume it's a directory.
[code]

The corresponding logic is
https://github.com/Alluxio/alluxio/blob/9516d6c5c0cf37d011c15a10a37f0924d58e7314/core/common/src/main/java/alluxio/underfs/ObjectUnderFileSystem.java#L554

**To Reproduce**
Steps to reproduce the behavior (as minimally

[2020-10-27 22:06] calvinjia commented on #12316
@jiemar Thanks for raising this issue. The concept of TTL free does not have good semantics, so having it as the default was very confusing to users as well. I think the preferred resolution is to not overload TTL with free/delete modes and attach a bigger warning to using default TTL that is not `-1`. @maobaolong do you mind making the doc change instead of the default value change?

[2020-10-27 23:59] yuzhu opened #12401 "Check / discourage the use of UFS uri like "hdfs://localhost:9000" with path component being an empty string"
**Alluxio Version:**
2.4

**Describe the bug**
Alluxio treats a uri without a path component as valid ufs uri for root mount. It shouldn't. HDFS does not recognize hdfs://localhost:9000

**To Reproduce**
Set the root mount to something like hdfs://localhost:9000 and it works.
Set it to point to a file and it works.

**Expected behavior**
An error should be thrown.

[2020-10-28 01:53] rastogiasr commented on #12349
@jainanuj07 - can you share what changed for you to start seeing this problem. Can you provide the master logs and some details on the configuration of your master/workers - cores/mem/disk/network and site properties.

[2020-10-28 02:28] jiemar opened #12402 "alluxio.user config does not work"
**Alluxio Version:**
2.3

**Describe the bug**
i have set min replicate at client's  alluxio-site.properties.  but after file was loaded,   ./alluxio fs stat ,  i found the file still min replicate is 0
![image](https://user-images.githubusercontent.com/1522163/97383410-8531d380-1908-11eb-8df5-bbee61746f2f.png)
![image](https://user-images.githubusercontent.com/1522163/97384129-09388b00-190a-11eb-

[2020-10-28 06:24] apc999 commented on #9856
@jefflester  Java 11 is supported since Alluxio v2.4.0, seeing its [release notes](https://www.alluxio.io/download/releases/alluxio-2-4-0-release/).

I am closing this issue as it has been resolved with latest v2.4.0 release

[2020-10-28 06:24] #9856 closed

[2020-10-28 06:29] apc999 commented on #12402
@jiemar  have you restarted alluxio master after updating `alluxio-site.properties`?
can you run respectively `bin/alluxio getConf alluxio.user.file.replication.min` and
 `bin/alluxio getConf --master alluxio.user.file.replication.min`
to find out if the configuration is taking effect?

[2020-10-28 08:10] jiemar commented on #12402
i have restarted alluxio all nodes.

my client is presto, how to check presto 's config is effective.

need i set alluxio.user.*  config at alluxio server config?

[2020-10-28 09:08] jiemar commented on #12402
![微信图片_20201028170652](https://user-images.githubusercontent.com/1522163/97415368-11abb880-1940-11eb-8cbf-d7565db00ff1.jpg)
as the picture shows , bin/alluxio getConf alluxio.user.file.replication.min and bin/alluxio getConf --master alluxio.user.file.replication.min     at alluxio worker node
return 47,
but the file loaded  still be min replicate=0

[2020-10-28 11:27] findepi commented on #9856
@apc999 thanks for the update
Are you planning on updating alluxio-client in Presto?
It's currently at 2.3.0:
https://github.com/prestosql/presto/blob/c088019514db5a3a99270938d383bbd4eaf5487c/pom.xml#L1107-L1109

[2020-10-28 11:36] maobaolong opened #12405 "Support specific version of hadoop by generate-tarball"
**Is your feature request related to a problem? Please describe.**

The generate-tarball.go is a wonderful tool to generate a tar package, but now it cannot build alluxio with customized hadoop version, for example `2.8.5-internal-0.1.0-SNAPSHOT`.

**Describe the solution you'd like**

When given `hadoop-distribution` argument cannot be recognized, just parse the given `hadoop-distribution`.

**De

[2020-10-28 12:01] maobaolong opened #12407 "Failed to execute goal com.github.kongchen:swagger-maven-plugin:3.1.1"
**Alluxio Version:**
master

**Describe the bug**

[code]

**To Reproduce**

Not sure it can be reproduced oh other build environments, but It can be reproduced on my environment

`mvn clean  install -Dmaven.javadoc.skip=true -DskipTests -Dlicense.skip=true -Dcheckstyle.skip=true -Dfindbugs.skip=true`

**Expected behavior**

Success build alluxio

**Urgency**

Normal

**Additional context**

Maybe

[2020-10-28 21:06] apc999 commented on #12138
@calvinjia FYI

Fixed by https://github.com/Alluxio/alluxio/pull/12315 as reported by @chaowangnk1
The reason is that master resource utilization was kept high in sending results to different client (FUSE) after `fs ls`, without being able to  release resource timely

[2020-10-28 21:06] #12138 closed

[2020-10-29 01:38] apc999 commented on #12402
@jiemar thanks for the update. it does look like a bug to me. We will investigate.
Just to double check, how did you load this file? e.g. by a Presto query, or by `fs load` or by `fs distributedLoad` ?

[2020-10-29 01:47] apc999 commented on #12369
Ideally we should make this happen. in reality, this requires extra setup to pass the CLI options to job service which I think is not there and not straightforward to add (@bradyoo feel free to correct me). Let me turn this into a feature request and discuss it with @calvinjia next week before get you back

[2020-10-29 02:26] apc999 commented on #9856
@findepi I was about to create a PR to bump the version and found prestosql/presto#5730 is already created

[2020-10-29 02:28] apc999 commented on #12349
for 3 million files, i would not expect that much amount memory used. Wondering if there is any potential memory leak. @jainanuj07  can you share your alluxio configuration?

[2020-10-29 06:35] jiemar commented on #12402
by presto query.   i set up  presto on alluxio

[2020-10-29 06:55] maobaolong commented on #12212
@stuartsierra

[code]

This is my test code, it can successfully read the content of `/abc/1212`, so is there something important I didn't catch?

[2020-10-29 08:16] TrafalgarZZZ commented on #12373
@apc999 Hi, here are some few steps for you to reproduce problem 1:
1. run Docker container with Alluxio Image (branch-2.3-fuse, commit id: 75a8e27) and login
[code]
2. set `ALLUXIO_JAVA_OPTS` with some alluxio properties like:
[code]
3.  start Alluxio Master:
[code]
4. Create some dir and file
[code]
5. list files
[code]
There should be two `/aaa` and `/aaa/bbb` file status in returned results.

[2020-10-29 08:36] liupan664021 opened #12420 "Alluxio client accesses workers via IP address as an alternative when hostname cannot be resolved"
**Is your feature request related to a problem? Please describe.**
Alluxio client can only get access to an alluxio worker via the according hostname of the worker. However when the mapping relation of hostname and IP address is not specified in the /etc/hosts of the worker machine or a DNS server, an **Unknownhost Exception** will be thrown. The problem occurs when I run a presto cluster on allux

[2020-10-29 08:40] liupan664021 commented on #12420
/ping @maobaolong

[2020-10-29 09:35] maobaolong commented on #12420
@liupan664021 Do you have any error log contains Unknownhost?

[2020-10-29 09:37] maobaolong commented on #12420
Hi @apc999 , do you think we should support communicate between Alluxio client, worker and master through IP? Maybe we can supply an option to determine using IP or hostname.

[2020-10-29 10:10] liupan664021 commented on #12420
@maobaolong Here is the presto server log. The hostname in format tdw-A-B-C-D represents the IP address: A.B.C.D. For example tdw-1-2-3-4 represents 1.2.3.4

2020-10-28T10:28:09.975+0800	ERROR	remote-task-callback-6940	io.prestosql.execution.StageStateMachine	Stage 20201028_022609_00003_zqwb8.1 failed
io.prestosql.spi.PrestoException: Error reading from alluxio://xx.xx.xx.xx:19998/****/tmp/hive/wa

[2020-10-29 13:01] jainanuj07 commented on #12356
any thought around this as I am not able to use backup and every time my master down I have to format it.

[2020-10-29 15:17] stuartsierra commented on #12212
Hi, thanks for following up @maobaolong.

There may be different versions of the `s3fs` library with different behavior.
Here is my test environment:

* s3fs 0.5.1
* Python 3.8.2
* Ubuntu Linux 20.04 LTS

The exact versions of all the Python libraries are:

[code]

And this is my test script:

[code]

Running this script produces the following output:

[code]

Hope this helps to narrow down the pr

[2020-10-29 21:28] bradyoo commented on #12369
@apc999 I think you are confused what I meant here.. I said that I believe

```alluxio fs distributedLoad -Dalluxio.user.file.metadata.sync.interval=0 ``` currently works.

[2020-10-29 22:48] apc999 commented on #12373
@TrafalgarZZZ  thanks for the detailed instruction! I have created PR #12423 to fix this with unit tests added

[2020-10-30 03:05] TrafalgarZZZ commented on #12369
@cheyang @apc999 Hi, I've tried this `alluxio fs distributedLoad -Dalluxio.user.file.metadata.sync.interval=0 /`, it works for us.

[2020-10-30 03:27] cheyang commented on #12369
Thanks, @TrafalgarZZZ

[2020-10-30 03:28] #12369 closed

[2020-10-30 09:16] loowman commented on #12102
@Kmannth i think you can check underfilesystem file whether changer

[2020-10-30 12:17] TrafalgarZZZ opened #12437 "Performance degradation when accessing large amounts of small files through Fuse"
**Alluxio Version:**
What version of Alluxio are you using?
https://github.com/Alluxio/alluxio/tree/branch-2.3-fuse

**Describe the bug**
I mounted a localpath as an UFS to Alluxio, and attempted to iterate the dataset stored in the UFS through Alluxio Fuse and run my deep learning model. **The model training took me about 6 and a half hours**. By contrast, if I iterate the dataset directly throug

[2020-10-30 13:24] maobaolong commented on #12316
@calvinjia I'm ok to add `-1 is not the default TTL` into the documents.

[2020-10-30 18:11] #12405 closed

[2020-10-30 20:04] #12407 closed

[2020-10-31 06:58] apc999 commented on #12372
@cammette  I created a patch #12441 to reduce the unnecessary overhead that introduced to read 5000 children files inside each `/nfs/{years}` dir

[2020-10-31 15:42] maobaolong commented on #12212
@stuartsierra Thanks for your test code and output, these really helps, now I can reproduce this issue, and I create.a PR to fix this ETag header missing problem, I use modificationTimeMs as etag header now, your test code can pass now.

[2020-10-31 16:20] jainanuj07 commented on #12349
@apc999
This is my alluxio-site.properties

alluxio.master.hostname=
alluxio.master.mount.table.root.ufs=s3://bounce-alluxio/
alluxio.user.file.metadata.sync.interval=30m
alluxio.worker.network.async.cache.manager.threads.max=10
alluxio.worker.tieredstore.levels=2
alluxio.worker.tieredstore.level0.alias=MEM
alluxio.worker.tieredstore.level0.dirs.path=/mnt/ramdisk
alluxio.worker.tieredstore.level0.

[2020-11-01 05:11] cheyang commented on #12316
Done with https://github.com/Alluxio/alluxio/pull/12443

[2020-11-01 23:54] cheyang commented on #12437
I notice there is a small overhead. The client checks the uid by executing shell every time.

[code]

[2020-11-02 02:53] iAlaska opened #12444 "AsyncRemover thread stuck"
**Alluxio Version:**
We use both 2.2.0 and 2.3.0

**Describe the bug**
Below is  our use scenario：
1.Mount some hdfs directory (contains time based partitions) on alluxio
2.Maintain a time window that every day, Load newest partition into alluxio and Free oldest partition out of alluxio

After some Maintain cycle，all of AsyncRemover thread stuck at acquiring ClientRWLock
[code]

I do some investig

[2020-11-02 09:39] NilsBerger opened #12446 "Provide a service for file system events"
Hi!

We are currently trying to integrate Alluxio with Apache Atlas and Apache Camel. The problem we are facing is, that Alluxio does not provide a good way to inform us about file events when a file gets added, modified and removed. We are already aware of the journal where some events are stored, but the problem is, that we would have to parse the file after every change to the file. We would li

[2020-11-02 11:15] JySongWithZhangCe opened #12447 "alluxio logLevel find wrong address on standby master"
**Alluxio Version:**
2.3.0

**Describe the bug**
Run command below：
`bin/alluxio logLevel --level DEBUG --logName alluxio.client.* --target master,workers`
the command will raise a standby-master-host can not make response for logLevel request error

[2020-11-02 14:13] TrafalgarZZZ commented on #12373
Hi @apc999 Thanks for the fix! The fix did resolve problem 1, but problem 2 seems still unresolved, so would you mind maybe reopen this issue?

[2020-11-02 14:26] stuartsierra commented on #12212
@maobaolong Thank you for your help! I will add additional feedback on the Pull Request https://github.com/Alluxio/alluxio/pull/12442

[2020-11-03 02:38] #12372 closed

[2020-11-03 13:30] maobaolong commented on #12402
@jiemar @apc999  After some test and analytics, I found the following truth.
- Some create file operation will respect the `alluxio.user.file.replication.min` from alluxio-site.properties, the client load the conf from `alluxio-site.properties` and set a rpc request to alluxio master, then, alluxio master create an inode and persist the metadata which contains replicationMin from client request.
-

[2020-11-03 23:52] apc999 commented on #12373
@TrafalgarZZZ my understanding is that problem 2 you described that the results are doubled has been resolved.
You were reporting the case where the result is no more doubled but just different (with some files missing). Am I correct?

If that's the case, I would suggest creating a new issue documenting the new behavior, but keep this issue closed.

[2020-11-03 23:54] apc999 commented on #12127
Resolved by #12423

[2020-11-04 01:42] maobaolong commented on #12316
@cheyang This seems duplicate to #12390

[2020-11-04 03:50] TrafalgarZZZ commented on #12373
@apc999 yes, just like what you said. I will close this and open a new issue later. Thanks for your help.

[2020-11-04 03:50] #12373 closed

[2020-11-04 07:40] maobaolong commented on #12402
@jiemar

The file `000000_0` was not created by client, it was created by master metadata sync, so the `min replicate` is was set by Alluxio master's `alluxio-site.properties`, not the client's `alluxio-site.properties`. For alluxio master, its `min replicate` in `alluxio-site.properties` was `0` before alluxio master start.  Client's `alluxio-site.properties` is only used for the create file rpc

[2020-11-04 08:10] maobaolong commented on #11309
Hi @apc999 I think this issue and #12444 are the urgent issue, shall we take a deep investigation about this issue?

[2020-11-04 09:37] ztcheck opened #12459 "Unknown channel option 'SO_KEEPALIVE' for channel '[id: 0x46cedb19]'"
**Alluxio Version:**
2.4.0
**Describe the bug**
I use terasort to test spark to read and write alluxio. When the data volume reaches 500G, the spark application reports an error “Unknown channel option 'SO_KEEPALIVE' for channel '[id: 0x46cedb19]'”.
When the data volume is 100g, everything seems to be ok.

**To Reproduce**
Just test alluxio read/write with big data volume.

**Expected behavior**

[2020-11-04 09:43] marrycheck commented on #12459
Add additional error information.
[code]

[2020-11-05 01:46] apc999 commented on #12402
@jiemar

In short, if you have this file loaded into alluxio the first time (Alluxio does not know this file before), `min replica` should be respected when we create the metadata of this file (i.e., an inode in Alluxio master).
However, if this file is known already to alluxio, and then the  `min replicate` at client's alluxio-site.properties is updated, this information is not sent to alluxio cu

[2020-11-05 01:46] #12402 closed

[2020-11-05 01:51] #12212 closed

[2020-11-05 06:50] JySongWithZhangCe opened #12460 "Adaptive WORKER_FILE_BUFFER_SIZE to improve write speed"
**Describe the solution you'd like**
Alluxio can dynamic set FILE_BUFFER_SIZE in BlockWriteHandle according to WriteRequest.
**background:**
In my tests (Spark SQL 2.4 write to Alluxio 2.3), TieredBlockStore frequently allocates space for temp block
during data writing. So I decided to change WORKER_FILE_BUFFER_SIZE to 10MB according data size, and
test case stable speeded up from 2.7 min to 2.5 m

[2020-11-05 09:28] TrafalgarZZZ opened #12461 "Get inconsistent result when runnning `alluxio fs du -sh` on large amounts of files"
**Alluxio Version:**
What version of Alluxio are you using?
[branch-2.3-fuse](https://github.com/Alluxio/alluxio/commits/branch-2.3-fuse)

**Describe the bug**
A clear and concise description of what the bug is.

When mounting a UFS with large amounts of files, the result of `alluxio fs du -sh` is inconsistent with the actual size of the mounted UFS.

Here is the detailed version of how we got thi

[2020-11-05 12:57] TrafalgarZZZ opened #12462 "alluxio fs loadmetadata can't load metadata of all the files"
**Alluxio Version:**
What version of Alluxio are you using?
[branch-2.3-fuse](https://github.com/Alluxio/alluxio/tree/branch-2.3-fuse)

**Describe the bug**
A clear and concise description of what the bug is.
We mounted a UFS to Alluxio, and the UFS consists of 10789180 files. However when we tried to loadMetadata all the metadata from UFS by running:
[code]
It returns the following result every t

[2020-11-05 14:08] #12460 closed

[2020-11-05 17:43] apc999 commented on #12437
Created [a fix](https://github.com/Alluxio/alluxio/commit/42a0cf7df85be3225d226a36b37908d04e8cb595) to this issue by caching Gid/Uid query from OS. Please let me know if this patch fixed your issue @TrafalgarZZZ

[2020-11-05 18:34] maobaolong commented on #12420
Even set the `/etc/hosts` to avoid `Unknownhost Exception`, the performance is not very well as expected.

For alluxio, the address is hostname like the follow picture.

![image](https://user-images.githubusercontent.com/17329931/98281331-98fbca80-1fd7-11eb-9862-da64ae4d2cf2.png)

For presto, the address is ip only,
![image](https://user-images.githubusercontent.com/17329931/98281532-d6f8ee80-1fd7

[2020-11-05 19:52] apc999 commented on #12116
@bradyoo  Can you take a look at this issue?

[2020-11-05 21:15] apc999 commented on #12459
@gpang  do you have any idea of this warning?

[2020-11-05 21:48] apc999 commented on #12446
assigning this to @calvinjia for keeping records. After discussion, we will not prioritize this feature in next coming release. I am closing this issue. but once we revisit this feature request, we can come back and talk to you again @NilsBerger  for more details.

[2020-11-05 21:48] #12446 closed

[2020-11-05 21:50] apc999 commented on #12444
@maobaolong  let's take a look at this issue together. If this is too hard or requires too much code change, I will re-assign this to other core maintainers.

[2020-11-05 21:54] apc999 commented on #12374
@51yu  it is likely we will work on this feature in coming releases. @calvinjia  can have more update on this when the roadmap is finalized.

[2020-11-05 22:00] calvinjia commented on #12446
To add, I think this is a useful feature for Alluxio to have and we will likely attempt an implementation the future, just not in the near term releases.

[2020-11-05 23:24] bradyoo commented on #12116
Everything appears to be dying to: Timeout waiting for response after 30000ms. (Zero Copy GrpcDataReader). This is the job worker asking the worker for data but worker (and likely underlying storage not being able to respond to it)

There are couple of suggestions here:

1. Increase this timeout. This is alluxio.user.network.data.timeout.ms which currently has a value of 30sec (30000 ms) but it ma

[2020-11-06 00:32] bradyoo commented on #11161
This is no longer necessary as implementation has changed.

[2020-11-06 00:32] #11161 closed

[2020-11-06 00:42] maobaolong commented on #12459
![image](https://user-images.githubusercontent.com/17329931/98311580-b302d080-200a-11eb-8c5f-4e29c8457edf.png)

![image](https://user-images.githubusercontent.com/17329931/98311755-2278c000-200b-11eb-8555-c8c7ecf5c523.png)

![image](https://user-images.githubusercontent.com/17329931/98311811-4936f680-200b-11eb-83b9-96e0cd3050d1.png)

Through these debug call stack when setOption, I guess if we use

[2020-11-06 00:47] bradyoo commented on #11859
The error that stands out the most here is:

"alluxio.job.plan.load.LoadConfig\221\331\273\213\236-(\b\002\000\002I\000\fmReplicationL\000\tmFilePatht\000\022Ljava/lang/String;xp\000\000\000\001t\000\025/images_2/2652578.png"
, Error=alluxio.exception.status.ResourceExhaustedException: Job master is at full capacity of 100,000 jobs"

The easiest ways to address this are:

1. Decrease alluxio.job.m

[2020-11-06 05:42] marrycheck commented on #12459
I use spark 2.4.4.

[2020-11-06 06:31] ZacBlanco commented on #12461
@TrafalgarZZZ just want to ask, have you confirmed the size in your underlying UFS is measured in GiB or GB? Technically the Alluxio UI reports the GB unit (1000^3), but in reality it is actually measuring GiB (1024^3).

84.29GiB (90.5GB) measured by Alluxio is not quite the 92GB you say that your UFS measures, but I just want to make sure that the units you expect from your underlying storage sys

[2020-11-06 06:42] apc999 commented on #12116
@gpang  do you think your recent fixes can mitigate the timeout issue? if yes, I will make some cherrypick

[2020-11-06 07:08] mark-henry commented on #12459
@marrycheck not @mark-henry :)

[2020-11-06 07:12] maobaolong commented on #12459
@mark-henry @marrycheck  I'm so sorry……Nice to meet you

[2020-11-06 07:59] TrafalgarZZZ commented on #12437
@apc999 and @cheyang  Thanks for your help. The patch did fix my problem. I will close this.

[2020-11-06 07:59] #12437 closed

[2020-11-06 08:37] TrafalgarZZZ commented on #12461
@ZacBlanco it's measured in GiB, sorry not to make it clear, already update my issue description. I think I might found something else related:

I got the "92GiB" by running `du -sh` on my underlying UFS. But I just try `du -s --apparent-size --block-size=1` and I got `90618492308(84.39GiB)`.

This seems pretty close to what Alluxio returns me by running just `alluxio fs du -s /`:
[code]
But there

[2020-11-06 17:14] gpang commented on #12116
@apc999
Well, there should be an investigation on the worker side to see what is taking a long time. Is the already verified that it is the UFS taking over 30s to respond?

If so, the simplest fix is to increase the timeout, since my main change is related to increasing the default timeout and adding logging messages.

[2020-11-06 21:05] apc999 commented on #12116
to summarize my discussion with @gpang based on what @bradyoo was suggesting:

For the failed load task, it times out first, see logs on client side (job worker)

[code]

a few minutes later,  on worker side, we see errors complaining grpc connection was closed:
[code]

Based on the discussion results, we believe https://github.com/Alluxio/alluxio/pull/12449 and https://github.com/Alluxio/alluxio/

[2020-11-06 21:39] #12316 closed

[2020-11-06 21:45] bf8086 commented on #12356
@jainanuj07 The logs indicate there are some journal flushing issues. Do you mind sharing your Alluxio cluster site property file?

[2020-11-07 07:32] TrafalgarZZZ opened #12472 "User-side metadata cache not helping when accessing files through Alluxio Fuse"
**Alluxio Version:**
branch-2.3-fuse(commit: 42a0cf7)

**Describe the bug**
I mounted a UFS to Alluxio, and I try to do `ls -l | wc -l` through Alluxio Fuse to get all Files in my UFS.

Here is my Fuse options:
[code]

Also, I set Alluxio properties like this to configure user-side metadata cache:
[code]
There are about 3.8 million files stored in my UFS, so I believe that's enough for all the met

[2020-11-07 07:43] cheyang commented on #12472
/ping @apc999

[2020-11-07 23:17] ZacBlanco commented on #12461
A few other questions come to mind that I want to confirm before making the determination that the Alluxio count is wrong:

1. Are any files in your UFS updated in-place? e.g. file has the same name, but some operations circumvent Alluxio and append directly to the file, increasing the size?
1. Does the number of files reported by Alluxio match the exactly the number of files reported by the same

[2020-11-08 06:24] jainanuj07 commented on #12356
This is my alluxio-site.properties

alluxio.master.mount.table.root.ufs=s3://bounce-alluxio/
alluxio.user.file.metadata.sync.interval=30m
alluxio.worker.network.async.cache.manager.threads.max=10
alluxio.worker.tieredstore.levels=2
alluxio.worker.tieredstore.level0.alias=MEM
alluxio.worker.tieredstore.level0.dirs.path=/mnt/ramdisk
alluxio.worker.tieredstore.level0.dirs.mediumtype=MEM
alluxio.worke

[2020-11-08 17:57] apc999 commented on #12146
Fixed by #12453

[2020-11-08 17:57] #12146 closed

[2020-11-09 06:30] liupan664021 commented on #12420
@maobaolong I found that the Live workers list shown in the webui can be modified by setting 'alluxio.worker.bind.host={IP address}'  in alluxio-site.properties. In other words, the host information of a worker returned to a client can be assigned with a hostname or an ip by setting 'alluxio.worker.bind.host={IP address}' or 'alluxio.worker.hostname={hostname}'.  More specifically if the 'alluxio.

[2020-11-09 07:53] maobaolong commented on #12444
@apc999 Ok, this issue seems urgent, bring bad user experience, will take a look at this issue.

[2020-11-09 16:06] maobaolong commented on #12459
@marrycheck Can you add the `log4j.appender.xxx.layout.ConversionPattern=%d{ISO8601} %-5p %c{2} (%F:%M(%L)) - %m%n` to your log4j.properties config file, and print the whole class name and line number?

[2020-11-09 20:46] pedersen opened #12477 "Intermittent Issue: Short Reads from Alluxio"
**Alluxio Version:**
2.3.0

**Describe the bug**
Differing systems are reporting short reads from Alluxio. Hadoop gives an error like this:
```Caused by: java.io.IOException: alluxio.exception.FileIncompleteException: Cannot read from <REDACTED_FILE_NAME> because it is incomplete at alluxio.hadoop.HdfsFileInputStream```

The UFS has the file, it is complete, and as soon as we use `alluxio fs check

[2020-11-10 01:15] LuQQiu commented on #12356
@jainanuj07 Thanks for reporting the issue. There are two issues reported in your ticket,
1. Failed to start after stopping
2. Failed to start with backup.

I took a look at the first issue, there is no obvious error exist in the master.log, but master do takes longer than expected to start
[code]
The master takes 3.5mins to start which is longer than what `alluxio-start.sh master` tracks, that's

[2020-11-10 01:37] #12388 closed

[2020-11-10 02:44] LuQQiu commented on #12356
For the failed to start from backup, I guess it takes way too long to restore from backup as well, from the logs, i saw
[code]

Could be restoring from backup takes unexpected long and then users think the master failed to start and killed it (so that rat journal gets shutting down).

[2020-11-10 02:45] LuQQiu commented on #12356
The unexpected long time to start a master with journal/backup may come from the heavy usage of catalog service.
FYI @yuzhu @gpang

[2020-11-10 02:47] LuQQiu commented on #12356
The current version is Alluxio-2.4.0-SNAPSHOT, is the version before merging Ratis back to master branch. so the cluster is running with original Copycat embedded journal.

[2020-11-10 04:19] jainanuj07 commented on #12356
Thanks, @LuQQiu  for looking at the issue.
1. are you using Alluxio catalog service and have many tables and/or partitions?
   yes, I am using an alluxio catalog and I have around 300 tables with each table contains many partitions.
2. So is this expected behavior if the master is taking a long time to start it will throw an error and get killed ?
3. What is the solution to make this work. Is ther

[2020-11-10 11:21] maobaolong commented on #11680
Duplicated issue.
https://github.com/Alluxio/alluxio/issues/12388

[2020-11-10 11:21] #11680 closed

[2020-11-10 11:31] #11230 closed

[2020-11-10 11:34] #9007 closed

[2020-11-10 11:36] #8998 closed

[2020-11-10 17:47] jainanuj07 commented on #12229
@LuQQiu  anything you have figuredd out

[2020-11-10 20:00] LuQQiu commented on #12229
have you tried put the alluxio.user.metrics.collection.enabled=true in the core-site.xml that presto catalog points to?

[2020-11-10 20:03] LuQQiu commented on #12356
For the second question: If the master is taking a long time to start, the master process will not be killed (as I know), but the `alluxio-start.sh` command will error out since it's not able to check master serving in the given timeout.

I would say try to wait for the master to come up, let the master process running for like 5-10 minutes and see if the master is able to serve requests after tha

[2020-11-10 20:50] jainanuj07 commented on #12356
@LuQQiu I do not see master process is running so it means it getting killed or not even started

[2020-11-10 21:32] LuQQiu commented on #12356
For the `logs_start.tar.gz`, looks like master process should be able to come up after an unexpected long time (like 5-10mins), but user kill the process.

For the given `start with backup master.log`, the master does error out with
[code]

[2020-11-10 23:53] hycsam opened #12483 "Alluxio table attachdb / sync failed"
**Alluxio Env**
Version: 2.4.0
Master: `-Xms96g -Xmx96g`, Single master (no secondary, no standby), with embedded Journal server
Worker: 10 worker nodes, each with `-Xms4g -Xmx4g`
AWS Instance type: i3.4xlarge, 16cores, 120GB mem

**Describe the bug**
I'm exploring Alluxio as a caching layer for our Presto cluster. All our files currently live in S3 and we are running Hive cluster upon those files

[2020-11-10 23:56] HelloHorizon commented on #12483
Related Issue #12356 .

[2020-11-10 23:56] calvinjia commented on #12483
@hycsam Thanks for opening this issue. This is potentially linked to #12356 .
+ @apc999 for visibility

[2020-11-11 00:42] LuQQiu commented on #12163
A summary for the given log

Fuse - Failed to read block, Timeout waiting for response
Main problem is on worker side:
[code]

Worker A and B:
[code]

Worker C and D
[code]
no much info found in the logs

[2020-11-11 05:54] TrafalgarZZZ commented on #12461
1. There is no updates in our UFS.
2. Yes, the number of files reported by Alluxio did match the exact number of files.
3. I did `alluxio fs loadMetadata -R /` just before I run `alluxio fs du -sh`, so I think there is no updates between the two operations

[2020-11-11 07:48] maobaolong opened #12485 "Support MemPageStore as a new PageStore type"
**Is your feature request related to a problem? Please describe.**

Now Alluxio support a significant feature `Alluxio User-side local cache`. Now `PageStore` is an abstraction of a dump storage for pages, there are only `2` `PageStoreType` supported now, `LOCAL` and `ROCKS`, but lack of a `MEM` here.

**Describe the solution you'd like**

Support `MEM` `PageStoreType`

**Describe alternatives you

[2020-11-11 07:52] maobaolong commented on #12485
@apc999 Hi bin, Do you have any idea about this feature request?

[2020-11-11 23:54] apc999 commented on #12088
fixed by #12421

[2020-11-11 23:54] #12088 closed

[2020-11-11 23:54] apc999 commented on #12126
this should be fixed by #12421

[2020-11-11 23:54] #12126 closed

[2020-11-12 04:53] maobaolong opened #12491 "Support custom ufs module of hadoop by generate-tarball"
# Is your feature request related to a problem? Please describe.

Now I want to generate a alluxio tarball with a customize hdfs as an ufs module, for example 2.8.5-internal-0.1.0.

# Describe the solution you'd like

A new option to specify the costom ufs module.

# Describe alternatives you've considered

Modify the generate-tarball.go and root.go, add a `custom-ufs-module` option, add the custo

[2020-11-12 07:02] #12491 closed

[2020-11-12 18:58] LuQQiu commented on #11309
Looks like somewhere in our code the locks aren't released well.
We previously has a SessionCleaner which is added by @apc999  which marks each client as a session, when the client doesn't have activities for some period of time, we clean all the locks holding by this client(session). This will help prevent this issue when we haven't figured out where locks are lost.

[2020-11-12 19:26] LuQQiu commented on #12444
@maobaolong
@apc999 and I discussed some of the potential fixes
1) catch throwable -> done in your #12475
2) Release timeout locks, asyncLockRemover
3) use lock.tryLock() instead of lock.lock()
Thanks

[2020-11-13 02:11] JySongWithZhangCe commented on #11309
I'v meet a bug before:
 1.Alluxio Worker had already stop
 2.Spark Executor was running
 3.TCP link in Alluxio Worker's host between Alluxio Worker and Alluxio Client created by Spark Executor still there, but no pid it was belong to.
 4.This bug is instable
I guess, if Alluxio Client has been released but TCP link will still exits, this problem can lead the dead lock

[2020-11-13 02:43] LuQQiu commented on #11309
(ShortCurcit) BlockReaderHandler acquire lock when opening the block, and releasing the block lock when completed. Locks could be leaved unreleased if
1) read connection has been broken before releasing the lock
2) read connection left unbroken for whatever reason and does not enter the releasing lock process.

[2020-11-13 05:13] TrafalgarZZZ commented on #12163
Update:
logs collected from latest Alluxio on branch `branch-2.3-fuse`(commit id 238b7eb)

[diagnose_fluid_1605149361.tar.gz](https://github.com/Alluxio/alluxio/files/5534869/diagnose_fluid_1605149361.tar.gz)

[2020-11-13 07:03] maobaolong commented on #12444
@LuQQiu Thanks for the review on #12475 .
I think the 1 and 3 are in the  #12475 , about 2, we can create a new pr, and it will be better if we can provide a view of top time hold lock, or is it possible to release the locks by administrator?

[2020-11-13 07:21] marrycheck commented on #12459
@maobaolong,I tested it several times, but the problem is not reproduced now.

[2020-11-13 07:30] liupan664021 opened #12502 "JVM crashed when start job_worker progress"
**Alluxio Version:**
master branch, 2.3.0, 2.4.0

**Describe the bug**
I compiled the alluxio locally with the system of centos 6 successfully. But when I try to start the job_worker progress, I got the following error and the JVM crashed.

2020-11-12 15:56:05,517 INFO  metrics.MetricsSystem (MetricsSystem.java:startSinksFromConfig) - Starting sinks with config: {}.
2020-11-12 15:56:05,519 INFO  m

[2020-11-13 19:50] LuQQiu commented on #12356
@jainanuj07 Contacted you via Alluxio community slack, please take a look! Thanks

[2020-11-13 22:32] apc999 commented on #12163
with more analysis, I believe this is due to the value of `alluxio.worker.file.buffer.size` set too high
Fixed by a commit in branch-2.3-fuse
https://github.com/Alluxio/alluxio/commit/2c412267e0e749ced63262d53043cf753cc11927

@TrafalgarZZZ  and @LuQQiu  please give it a try and update it here.

[2020-11-13 22:35] apc999 commented on #12502
@liupan664021 what Java version do you run?
e.g., what if you type `java --version`

[2020-11-13 22:38] apc999 commented on #12502
@bradyoo @yuzhu  do you think this can be related to Java 11 change?

[2020-11-13 22:45] apc999 commented on #12485
@maobaolong this is no priority to implement the MemPageStore in Alluxio for now.
We can discuss offline to understand better the motivation and your feedback.

[2020-11-13 22:47] apc999 commented on #12477
@pedersen thanks for reporting this issue. Do you have master log, it will be helpful.

[2020-11-13 23:24] yuzhu commented on #12502
Probably need Java version before we can begin to investigate. Have not seen this kind of error before

[2020-11-13 23:57] #12502 closed

[2020-11-13 23:58] bradyoo commented on #12502
It appears that @liupan664021 has figured out the issue and made a fix. The commit is good so I just merged it.

[2020-11-14 06:38] maobaolong commented on #12502
@apc999 We use jdk8

[2020-11-16 04:59] maobaolong commented on #12477
The related code is

![image](https://user-images.githubusercontent.com/17329931/99213992-0397dc00-280a-11eb-9d2f-fdc38f27c117.png)

As the information from this, let's guess the use-case of yours,

![image](https://user-images.githubusercontent.com/17329931/99214437-165ee080-280b-11eb-991b-e7da136412c7.png)

Do you update the ufs directly without through Alluxio? If so, it is possible to make inc

[2020-11-16 16:38] TrafalgarZZZ commented on #12163
The commit 2c41226 fixed this problem. I'll close this issue.
@apc999 @LuQQiu Thanks for your help!

[2020-11-16 16:38] #12163 closed

[2020-11-17 02:47] cheyang opened #12515 "Alluxio became unresponsive when loading metadata"
**Alluxio Version:**
What version of Alluxio are you using?

alluxio version -r
2.3.1-SNAPSHOT-238b7eb3ec58270aabf7004ac01cc89e6034b93e

**Describe the bug**

From the client side:

[code]

From the server side:

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

*

[2020-11-17 02:56] cheyang commented on #12515
[diagnose_fluid_1605581604.tar.gz](https://github.com/Alluxio/alluxio/files/5550983/diagnose_fluid_1605581604.tar.gz)

[2020-11-17 06:20] apc999 commented on #12116
verified with @cheyang , this issue was fixed. We will have a new issue on the incomplete results of small files

[2020-11-17 06:20] #12116 closed

[2020-11-17 07:01] #12515 closed

[2020-11-17 09:34] cheyang opened #12517 "Failed to distributedLoad data on dataset with many small files"
**Alluxio Version:**
What version of Alluxio are you using?

alluxio version -r
2.3.1-SNAPSHOT-2c412267e0e749ced63262d53043cf753cc11927

https://github.com/Alluxio/alluxio/commit/2c412267e0e749ced63262d53043cf753cc11927

**Describe the bug**
A clear and concise description of what the bug is.

Alluxio cluster consists of 1 master node and 1 worker nodes. The under storage is local, and data size i

[2020-11-17 09:35] cheyang commented on #12517
[diagnose_fluid_1605581604.tar.gz](https://github.com/Alluxio/alluxio/files/5552509/diagnose_fluid_1605581604.tar.gz)

[2020-11-18 05:14] chaowangnk1 opened #12548 "Support dynamically acquire rpc/data/web ports at worker deployment"
**Is your feature request related to a problem? Please describe.**
When deploying with kubectl, worker rpc/data/web ports are pre-defined in alluxio-config.yaml and alluxio-worker-daemonset.yaml. In our k8s env, the ports may be occupied already, which will fail alluxio deployment.
This issue is blocking our auto deployment pipeline since our pipeline is not smart enough to detect failure + change

[2020-11-18 05:20] chaowangnk1 opened #12549 "alluxio worker/jobworker failed to start if changing rpc/data/web ports in yaml"
**Alluxio Version:**
alluxio-2.3-fuse

**Describe the bug**
I'm using kubectl to deploy alluxio. The deployment failed after I updated alluxio worker/jobworker rpc/data/web ports, in alluxio-config.yaml and alluxio-worker-daemonset.yaml

The worker pods failed to start with k8s probe failures.

**To Reproduce**
1. in alluxio-config.yaml, env ALLUXIO_JOB_WORKER_JAVA_OPTS, change options to: -Dallux

[2020-11-18 12:05] jainanuj07 commented on #12229
i am using alluxio catalog so is it needed and where i have to put this property.

[2020-11-18 18:45] chaowangnk1 opened #12553 "If alluxio can support index file based distributedLoad CLI"
**Is your feature request related to a problem? Please describe.**
Given a UFS is mounted, we only want to distributedLoad a subset of files which are listed in a index file.

**Describe the solution you'd like**
an index file can be provided in distributedLoad CLI to specify files being loaded.

**Describe alternatives you've considered**
N/A

**Urgency**
Medium.

**Additional context**

[2020-11-18 19:51] apc999 commented on #12517
@bradyoo  can you take a look ?

[2020-11-18 19:59] apc999 commented on #12517
More context for @bradyoo : the previous related issue  (#12116) was fixed by increasing RPC timeout as explained inside the issue. After applying the fix, @cheyang was able to complete distributedLoad for bigger files (e.g., 1k files of 100+MB each). With the same fix, however, distributedLoad still cannot complete for his datasets with millions of smaller files. The original issue is closed and

[2020-11-18 20:27] bradyoo commented on #12517
Are you sure this is the correct set of logs?

For instance, all the logs in JobMaster logs are:

[code]

Perhaps there was a previous instance that got killed in some way?

[2020-11-18 21:44] bradyoo commented on #11859
Closing and moving the discussion to https://github.com/Alluxio/alluxio/issues/12517

[2020-11-18 21:44] #11859 closed

[2020-11-19 01:34] #12549 closed

[2020-11-19 01:35] apc999 commented on #12517
@cheyang  could you help Bradley to double check ? thanks

[2020-11-19 03:28] cheyang commented on #12517
Sorry for that.
Here is the new logs, please check:
[diagnose_fluid_1605755296.tar.gz](https://github.com/Alluxio/alluxio/files/5564154/diagnose_fluid_1605755296.tar.gz)

[2020-11-19 08:20] maobaolong opened #12557 "Fix the Wrong title of the run alluxio on docker cn document"
**Page**

https://docs.alluxio.io/os/user/edge/cn/deploy/Running-Alluxio-On-Docker.html

**Summary**

Wrong title.

[2020-11-19 11:47] maobaolong commented on #12485
Close this issue now, reopen it when we need it.

[2020-11-19 11:47] #12485 closed

[2020-11-19 18:27] #12557 closed

[2020-11-19 19:03] bradyoo commented on #12517
Ah yes. This issue was discovered and fixed quite recently here: https://github.com/Alluxio/alluxio/pull/12468 which modifies a default of a setting of a configuration that causes this issue.

But for now, I recommend changing the configuration

alluxio.job.master.finished.job.retention.time

(See https://docs.alluxio.io/os/user/2.3/en/reference/Properties-List.html)
to a much lower value like 60

[2020-11-19 21:36] calvinjia commented on #12553
@chaowangnk1 If I understand correctly, you have a file with a bunch of names you want loaded. Would having a script that parses that and call distload for each file work and you are looking for a more convenient API? Or are you looking for a batch distload (ie. decrease the number of RPCs)?

[2020-11-19 21:36] calvinjia commented on #12548
@chaowangnk1 Do you have the ports available before launching Alluxio? In that case you could update the property file or pass those in as command line options to the Alluxio java process.

[2020-11-19 21:39] apc999 commented on #12483
identified issue in embedded journal. let's aim to fix this issue in the next release @calvinjia

[2020-11-19 21:42] chaowangnk1 commented on #12548
@calvinjia we are deploying alluxio to k8s using kubectl.

the available ports are non-deterministic. In our k8s system, any ports in port range 3000-327xx can be occupied randomly by training jobs.

And update yaml files at deployment type is not acceptable, since we want to deploy alluxio in automated deploy pipeline.

[2020-11-19 21:45] apc999 commented on #12356
@LuQQiu  is issue here related to embedded journal? If yes, we will aim to fix it in the next release

[2020-11-19 21:45] apc999 commented on #12349
@jainanuj07 we will fix this issue in the next patch release.

[2020-11-19 21:45] chaowangnk1 commented on #12553
@calvinjia yes, in one scenario, I have a file with list of files I want to load.
It would be great if we could have a convenient CLI to load files based on the index file, in one CLI run. for example, to extend CLI dtsirbutedLoad to support index file based distload.

[2020-11-19 21:59] calvinjia commented on #12553
Got it, thanks for clarifying. Would something like `distributedLoad -f <FileName>` work?

[2020-11-19 22:02] calvinjia commented on #12548
Got it, is this request then to have Alluxio automatically look for a free port and update itself accordingly? This might be possible for worker nodes but not the master node.

[2020-11-19 22:24] LuQQiu commented on #12356
@apc999 It's a joint effort from catalog service + restoring from backup (may related to journaling). I think we should get it fix or at least understand what's happening

[2020-11-19 23:33] apc999 commented on #12517
@cheyang  I updated branch-2.3-fuse by cherry-pick #12468 . Can you make another try?

[2020-11-20 02:29] cheyang commented on #12517
Is there any scientific way to set this value? Is there a way to calculate the  `alluxio.job.master.finished.job.retention.time` based on the file number or the size of the file?  Or is it fine to set alluxio.job.master.finished.job.retention.time=1 or 0?

[2020-11-20 02:37] cheyang commented on #12517
And can we test with the following way:

[code]

[2020-11-20 05:42] maobaolong opened #12562 "Upgrade XStream version to 1.4.14 to fix Secure issue"
**Alluxio Version:**
Alluxio 2.4.0, Alluxio master branch

**Describe the bug**

http://x-stream.github.io/CVE-2020-26217.html

**Urgency**

We need to upgrade the XStream version to fix the secure issue.

**Additional context**
https://github.com/x-stream/xstream/releases

[2020-11-20 08:07] jainanuj07 commented on #12349
@apc999  can u please help with some details about the root case and what is happening.

[2020-11-20 09:26] maobaolong opened #12564 "Make permission checker configurable"
**Is your feature request related to a problem? Please describe.**

We need customize our internal permission checker.

**Describe the solution you'd like**

Make the permission configurable, and default to `DefaultPermissionChecker`

**Describe alternatives you've considered**

Get the configured permissionChecker implementation class fullname and new an instance by reflection.

**Urgency**

Norm

[2020-11-20 18:35] bradyoo commented on #12517
No. You can not set it in that way. The setting is a global setting for the job service.

This is the behavior of the JobMaster when the JobMaster is at capacity. Lowering this value so much has the potential behavior where the client that needs to check that the job is complete misses it because it was removed. But even then, 30 seconds is plenty high enough (compared to 5 minutes) to not run int

[2020-11-20 20:09] apc999 commented on #8687
Addressed by https://github.com/Alluxio/alluxio/pull/12182

[2020-11-20 20:09] #8687 closed

[2020-11-20 22:58] chaowangnk1 commented on #12553
Definitely works for me.

[2020-11-20 23:06] chaowangnk1 commented on #12548
@calvinjia, automatically acquiring a free port for worker pod is good enough. We don't worry about master pod since it's running in a designated node with no jobs rushing for the predefined ports.

For your question on modifying the conf file, we have issue on that. We are building a release pipeline in our CI/CD platform, to deploy alluxio automatically to target k8s. "Deployment time" means the

[2020-11-21 05:48] cheyang commented on #12517
May I ask if there is any impact when I decrease the default value from 60 seconds to 30 seconds?

[2020-11-21 12:51] cheyang commented on #12517
Thank you, I've verified. It works.

[2020-11-21 13:36] cheyang opened #12567 "distributedLoad data too slow when there are a lot of small files"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
Alluxio cluster consists of 1 master node and 1 worker nodes. The under storage is local, and data size is 84.29GB, and it's about 3,804,850

The time copying the files to ram takes no more than 40 minutes.

[code]

But distributed load takes  149m28.709s, and we know the copy action is single thread, but the distrib

[2020-11-21 13:45] cheyang commented on #12567
@apc999 @bradyoo I open a new issue to track the slowness of distributed load data. We can close #12517

[2020-11-21 13:50] cheyang opened #12568 "The alluxio master is busy when no work load in using rocks db"
**Alluxio Version:**
alluxio version -r
2.3.1-SNAPSHOT-2c412267e0e749ced63262d53043cf753cc11927

**Describe the bug**
A clear and concise description of what the bug is.

There is no workload on Alluxio, but Alluxio master is still busy.

![image](https://user-images.githubusercontent.com/3724388/99878872-5840ba00-2c43-11eb-9bfb-75e47c6b60c9.png)

And in the master I can see such logs:

[code]

An

[2020-11-22 02:18] prmadir1 opened #12569 "Alluxio does not work with IBM Cloud Object Storage as an underlying storage"
**Alluxio Version:**
What version of Alluxio are you using? Alluxio 2.2.0

**Describe the bug**
I was trying to configure IBM Cloud Object Storage as an underlying storage for alluxio.  Since IBM Cloud Object Storage is S3-API Compatible , tried using the AWS config parameters to mount the IBM COS  buckets similar to MinIO but unable to get it work as i keep getting 403 errors.  Plese find command

[2020-11-22 07:18] cheyang opened #12570 "Too many info in fuse log when enable JNI"
**Alluxio Version:**
2.3.1-SNAPSHOT-2c412267e0e749ced63262d53043cf753cc11927

**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
Add any other context about the pr

[2020-11-22 07:19] cheyang commented on #12570
/ping @apc999

[2020-11-22 09:25] cheyang opened #12571 "How to restore journal in docker"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

I'd like to try restore https://docs.alluxio.io/os/user/stable/cn/operation/Journal.html, but I have no ideas how to restore it in lluxio/integration/docker/entrypoint.sh. Could you give me an example

[2020-11-22 09:25] cheyang commented on #12571
/ping @jiacheliu3 @LuQQiu , thank you!

[2020-11-23 04:07] jiacheliu3 commented on #12571
Hi @cheyang The docker `entrypoint.sh` calls `bin/launch-process` internally so I think you can specify the journal backup as https://github.com/Alluxio/alluxio/blob/a6cc9dbe396eb427b38b3596eaa7f7977270fbe1/bin/launch-process#L118. Note that you should do the same for ALL masters, the address should be different depending on whether you are using ZK or Embedded Journal for HA.

Undeniably this is

[2020-11-23 08:43] marrycheck commented on #12459
Add error logs .
[code]

[2020-11-23 11:47] #12517 closed

[2020-11-23 14:24] maobaolong commented on #12477
@pedersen Hi, do you have any other information? master.log or a reproduce operation sequences?

[2020-11-23 15:16] maobaolong commented on #12459
@marrycheck Thanks for the logs, will take a look.

[2020-11-23 17:41] #12562 closed

[2020-11-24 09:46] bitzhuxb commented on #11985
same issue with you.

[2020-11-24 19:53] bradyoo commented on #12567
Just to make sure, this is 3,804,850 files with data size of 84.29 GB right?

[2020-11-25 04:41] apc999 commented on #12570
Fixed in 18ec83c4c57b5fc76f28323249a36b23f678e4a4 in branch-2.3-fuse

[2020-11-25 04:41] #12570 closed

[2020-11-25 19:20] apc999 commented on #8687
A test is added https://github.com/Alluxio/alluxio/pull/11743 to enforce this case working

[2020-11-25 19:44] apc999 commented on #12567
@bradyoo  each file is about 25KB not 25B (84.29 GB/3.8 mil)

[2020-11-26 02:00] #12420 closed

[2020-11-26 02:40] jayzhenghan opened #12581 "Add cosn UFS to provide better ability to read and write cos"
**Is your feature request related to a problem? Please describe.**
COS has poor read and write performance and instability.Compared with COS, COSN is deeply optimized, and its read and write performance is doubled compared with COS, and it also brings better stability.

**Describe the solution you'd like**
Add CosN UFS

**Describe alternatives you've considered**
A clear and concise description of

[2020-11-26 02:41] jayzhenghan commented on #12581
Add cosn UFS to provide better ability to read and write cos #12493

[2020-11-26 02:45] jayzhenghan commented on #12581
#12493

[2020-11-26 02:46] jayzhenghan commented on #12581
Add cosn UFS to provide better ability to read and write cos #12493

[2020-11-26 02:58] jayzhenghan commented on #12581
Add cosn UFS to provide better ability to read and write cos #12493

[2020-11-26 03:40] maobaolong opened #12583 "Display checkstyle error in the end of the build log"
**Is your feature request related to a problem? Please describe.**
When I push a PR contains checkstyle issue, it's a bad experience to find the error log of checkstyle issue.

For example. The following build log file is downloaded from CI checks, can you easily to find the error?

[1_build.txt](https://github.com/Alluxio/alluxio/files/5600300/1_build.txt)

But for `ratis` and `ozone`, it's easy

[2020-11-26 17:00] cheyang opened #12587 "Too many info for cached 0 bytes in fuse log"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
Add any other context about the problem here.

[2020-11-27 16:53] cheyang opened #12590 "Failed to distributedload a large file(more than 1.2TB)"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**

1. The file's size is 1279.90GB

[code]

2. The cache capacity is 1800.00GB , 12 nodes

[code]

3.  Try to distributed load

[code]

The logs are in

[diagnose_fluid_1606494134.tar.gz](https://github.com/Alluxio/alluxio/files/5608946/diagnose_fluid_1606494134.tar.gz)

**To Reproduce**
Steps to reproduce the behavior

[2020-11-27 17:01] cheyang commented on #12590
Properties are:

[code]

[2020-11-28 03:31] prmadir1 commented on #12569
Please ignore. I was able to get this work for me. closing as a non-issue.

[2020-11-28 03:31] #12569 closed

[2020-11-28 03:32] prmadir1 commented on #12569
Closing as not-a-bug

[2020-11-28 13:14] cheyang commented on #12590
I tried to change the block size to `alluxio.user.block.size.bytes.default: 1024MB`.

Got the error:

[code]

[diagnose_fluid_1606567302.tar.gz](https://github.com/Alluxio/alluxio/files/5610629/diagnose_fluid_1606567302.tar.gz)

[2020-11-28 13:24] jiacheliu3 commented on #11881
Closed as it is resolved by #11900

[2020-11-28 13:24] #11881 closed

[2020-11-29 05:09] cheyang opened #12591 "Failed to copy 1TB file through JNI Fuse"
**Alluxio Version:**

2.3.1-SNAPSHOT-2c412267e0e749ced63262d53043cf753cc11927

**Describe the bug**
1. The file's size is 1279.90GB

[code]

2. The cache capacity is 1800.00GB , 12 nodes

[code]

3.  Try to copy the file

[code]

The logs are in

[code]

[diagnose_fluid_1606625922.tar.gz](https://github.com/Alluxio/alluxio/files/5611681/diagnose_fluid_1606625922.tar.gz)

**To Reproduce**
Steps to

[2020-12-01 00:21] calvinjia commented on #12548
@chaowangnk1 Thanks for the details! We will update this ticket when a fix is in development.

[2020-12-01 18:04] apc999 opened #12594 "Cleanup confusing warning messages"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**

With default setting and everything runs fine, following
unnecessary and confusing warning messages were shown:

[code]

**To Reproduce**

**Expected behavior**

These messages are improper or not necessary.
If everything is using default setting, why we show these warnings to users.

**Urgency**
Low

**Additional c

[2020-12-02 01:54] zjiawei3 opened #12595 "Making the gRPC call that retrieves table partition scalable"
**Alluxio Env**
Version: 2.4.0
Master: -Xms96g -Xmx96g, Single master (no secondary, no standby), with embedded Journal server
Worker: 10 worker nodes, each with -Xms4g -Xmx4g
AWS Instance type: i3.4xlarge, 16cores, 120GB mem

**Describe the bug**
I'm exploring Alluxio as a caching layer for our Presto cluster. All our files currently live in S3 and we are running Hive cluster upon those files. I'

[2020-12-02 02:41] maobaolong opened #12596 "Add a maven proto file backward compatibility checker into Alluxio"
**Is your feature request related to a problem? Please describe.**

Not sure everyone can notice how harmful a non backward compatible PR is, but I know it definitely, so we'd better to keep backward compatible for each PR, especially for proto.

**Describe the solution you'd like**
Use a proto lock to keep proto changes are backward compatible, if not, fail the ci check.

**Describe alternatives

[2020-12-02 18:43] gpang commented on #12595
We can make that call a streaming rpc. This PR is an example of converting an existing rpc to a streaming rpc: https://github.com/Alluxio/alluxio/pull/8813

Relevant parts of the PR:
- [change the rpc definition to be streaming](https://github.com/Alluxio/alluxio/pull/8813/files#diff-dbdf3988f9f3c1041d468c233a43d169b62028f7b704c6842c30c88d6246f010R500)
- [update server rpc handler to implement str

[2020-12-02 19:20] gpang commented on #12594
I don't think these should be removed completely. They are useful to be in the log, and they are not spammy, since they will probably only show up once per server start. What is the suggested fix?

Also, only `HdfsUnderFileSystem` is our log message. The other ones are from the HDFS client itself.

[2020-12-02 19:24] LuQQiu commented on #12229
@bradyoo Do you know where alluxio client configuration should be put when using alluxio catalog?

[2020-12-02 19:39] bradyoo commented on #12229
I do not. Nor know for sure that it works (at least based on this issue)

[2020-12-02 20:11] yuzhu commented on #12229
@jainanuj07 Alluxio catalog service simply returns an alluxio URI.  We still need to enable `alluxio.user.metrics.collection.enabled=true` for presto. Please follow instructions here https://docs.alluxio.io/os/user/stable/en/compute/Presto.html#customize-alluxio-user-properties . I would recommend the first approach by editing `jvm.config`

[2020-12-02 21:39] apc999 commented on #12587
already resolved by https://github.com/Alluxio/alluxio/commit/18ec83c4c57b5fc76f28323249a36b23f678e4a4 in branch-2.3-fuse

[2020-12-02 21:39] #12587 closed

[2020-12-03 02:25] maobaolong opened #12599 "Master should dispatch the configuration files to all worker when Mount command and worker register"
**Is your feature request related to a problem? Please describe.**

Now, we can mount a ufs to alluxio easily by execute a simple command line, for example

[code]

But we have to dispatch the config files to all of the workers manually, that is Inefficient and error-prone.

**Describe the solution you'd like**

Alluxio master can maintain mount table now, so it can maintain the configuration file

[2020-12-03 02:36] chaowangnk1 opened #12600 "[Alluxio on K8s] Can alluxio be configured to use infiniband?"
**Is your feature request related to a problem? Please describe.**
We have inifniband enabled in our k8s. Can alluxio be configured to use infiniband? If so, we will benefit a lot:
- Better file I/O perf
- Avoid becoming a noisy neighbor of training jobs since alluxio won't share the same network with training jobs.

**Describe the solution you'd like**

**Describe alternatives you've considered**

[2020-12-03 09:08] apc999 commented on #12590
created  03c89b536ad9bad305a04ff38f2001d276f6b17e to customize the number of concurrent tasks per job worker, to reduce the chance of traffic throttle.

[2020-12-03 14:10] cheyang commented on #12590
I tried again, looks it doesn't work.
[code]

[diagnose_fluid_1607004569.tar.gz](https://github.com/Alluxio/alluxio/files/5636574/diagnose_fluid_1607004569.tar.gz)

[2020-12-03 14:12] cheyang commented on #12590
The properties:

[code]

[2020-12-03 16:21] cheyang commented on #12590
I tried with the following configuration:

[code]

But I tried

[code]

[2020-12-04 20:13] gpang commented on #12600
@chaowangnk1 Thanks for this request! Currently, that is not supported, but do you have any more details on this integration?

Would you be interested in working on this feature?

[2020-12-05 07:39] jainanuj07 commented on #12229
@yuzhu This I have already enabled in my jvm.config of presto

-Xbootclasspath/a:/home/ubuntu/alluxio-master/alluxio/conf/alluxio-site.properties

[2020-12-05 13:02] yuzhu commented on #12229
Did you restart presto processes after you edit alluxio configuration?

[2020-12-05 13:16] jainanuj07 commented on #12229
Yup i have started presto all nodes after this.

[2020-12-07 05:15] timmylicheng commented on #12596
Thanks @maobaolong for creating this. I will working on adding proto lock to alluxio code base.

[2020-12-08 00:31] chaowangnk1 commented on #12600
@gpang I don't have details so far. And it's not urgent for us.
I can try to think about the implementation once I understand more about infiniband setup in our k8s.

[2020-12-08 09:13] ljk-1993 opened #12615 "There is no short-circuit read for the task submitted to Yarn"
**Alluxio Version:**
v2.3.0

**Describe the bug**
All tasks that are committed to Yarn are remote Alluxio Read,no short-circuit read.

**To Reproduce**
Our cluster deployment is as follows：

![image](https://user-images.githubusercontent.com/42951757/101462311-0e600f80-3977-11eb-9f57-619edcf8c9e7.png)

![image](https://user-images.githubusercontent.com/42951757/101462442-2fc0fb80-3977-11eb-805c-e8

[2020-12-08 09:14] #12615 closed

[2020-12-08 09:20] ljk-1993 opened #12616 "The task committed to yarn has no short-circuit read"
**Alluxio Version:**
v2.3.0

**Describe the bug**
All tasks that are committed to Yarn are remote Alluxio Read,no short-circuit read.

**To Reproduce**
Our cluster deployment is as follows：
IP|hostname|role|service
|:-:|:-:|:-:|:-:|
192.168.1.3|manager.bigdata|管理节点|Namenode,resourcemanager,spark client,alluxio master
192.168.1.4|worker1.bigdata|计算节点|nodemanager,alluxio worker
192.168.1.5|worker2.b

[2020-12-08 09:24] ljk-1993 commented on #12616
Both YARN and Alluxio are configured with domain names。
Alluxio nodes|yarn nodes
|:-:|:-:|
|master.bigdata|master.bigdata|
|worker1.bigdata|worker1.bigdata|
|worker2.bigdata|worker2.bigdata|
|worker3.bigdata|worker3.bigdata|

[2020-12-08 09:57] #12616 closed

[2020-12-08 11:37] ljk-1993 opened #12617 "The task committed to yarn is not monitored for short-circuit Read"
**Alluxio Version:**
v2.3.0
**Describe the bug**
All tasks committed to YARN are not monitored for short-circuit Read.

**To Reproduce**

First,after we submitted a Spark SQL task for many times, alluxio's monitoring information always showed that short-circuit Read was 0B. After we performed a query task in the Hive client, short-circuit Read had monitoring data. However, after we submitted the s

[2020-12-08 17:06] yuzhu commented on #12229
just to double check, did you make this change `-Xbootclasspath/a:/home/ubuntu/alluxio-master/alluxio/conf/alluxio-site.properties` on all of your presto nodes?

[2020-12-08 19:59] gpang commented on #12617
Hi @ljk-1993
Can you set this client property? `alluxio.user.metrics.collection.enabled=true`

[2020-12-09 00:06] ljk-1993 commented on #12617
@gpang
We have set this parameter on all alluxio nodes. Need to set this parameter in the program?

[2020-12-09 00:14] ljk-1993 commented on #12617
We specified parameters when we submitted the Spark task:
--conf 'spark.driver.extraJavaOptions=-Dalluxio.user.metrics.collection.enabled=true'
--conf 'spark.executor.extraJavaOptions=-Dalluxio.user.metrics.collection.enabled=true'

Alluxio can monitor that the data is loaded by short-circuit Read.

I found in the code alluxio.user.metrics.collection.enabled the value is false, if the default valu

[2020-12-09 01:12] gpang commented on #12617
@ljk-1993 Do you know if this happens even if you do not use spark? For example, will this happen even if you use something like the Alluxio shell and copyFromLocal?

If so, can you show a simple set of steps for others to reproduce?

[2020-12-09 03:08] ljk-1993 commented on #12617
@gpang
the default value of  alluxio.user.metrics.collection.enabled is set to true.
When I submitted Spark task, I did not specify the parameter mentioned above. Alluxio can monitor that the data is loaded by short-circuit Read.

I have uploaded a local file to the worker1.bigdata node via copyFromLocal. Alluxio monitoring shows that data is written to the Alluxio cluster via short-circuit Write.

[2020-12-09 05:27] #12617 closed

[2020-12-09 09:27] magicsilence opened #12619 "alluxio.master.journal.folder should be mentioned in the document"
**Page**
https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-a-HA-Cluster.html
https://docs.alluxio.io/os/user/stable/en/reference/Properties-List.html

**Summary**
The `alluxio.master.journal.folder` must be a local path when use embedded journal.
And this property should be mentioned  in Section 3.1, but not.

[2020-12-09 23:29] #12581 closed

[2020-12-09 23:46] gpang commented on #12619
@magicsilence Thanks for the issue! Here is a PR to address it: https://github.com/Alluxio/alluxio/pull/12620

[2020-12-10 01:03] bf8086 opened #12621 "Issue creating UFS file without a parent directory"
**Alluxio Version:**
2.x

**Describe the bug**
We have been using default CreateOptions when creating a UFS file. This can fail in some configuration when a file is written to an Alluxio directory not backed by a UFS one.

**To Reproduce**
Create a file in Alluxio with CACHE_THROUGH and under a directory not backed by UFS.

**Expected behavior**
Creation should succeed and the parent directory sho

[2020-12-10 17:50] gpang commented on #12621
fixed by https://github.com/Alluxio/alluxio/commit/81070b986ec0f5baecbd3156adace629a83df369

[2020-12-10 17:50] #12621 closed

[2020-12-10 21:10] #12619 closed

[2020-12-10 21:35] apc999 commented on #12599
Sounds a good feature to have. Assign it to you for now and let me know if you have plan to implement it

[2020-12-10 21:37] apc999 commented on #12596
thanks @timmylicheng , please update us on the progress. Thanks!

[2020-12-10 21:40] gpang commented on #12617
@ljk-1993 Thanks for the update!

[2020-12-10 21:41] apc999 commented on #12583
agree @maobaolong  . is this a fix on maven file to enable some flag?
if yes, feel free to fix it

[2020-12-10 21:43] apc999 commented on #12571
@cheyang  does Jiacheng's suggestion works here?

[2020-12-11 04:28] apc999 commented on #10840
Fixed by https://github.com/Alluxio/alluxio/pull/12606 with JNI Fuse

[2020-12-11 04:28] #10840 closed

[2020-12-11 04:30] #8933 closed

[2020-12-11 04:31] apc999 commented on #9913
resolved by https://github.com/Alluxio/alluxio/pull/12606 which supports kernel_cache

[2020-12-11 04:31] #9913 closed

[2020-12-11 04:32] apc999 commented on #11477
the performance should be improved by https://github.com/Alluxio/alluxio/pull/12606 which introduce new JNI fuse integration with kernel_cache instead of direct_io

[2020-12-11 04:32] #11477 closed

[2020-12-11 05:46] Binyang2014 commented on #11477
Thanks @apc999, we already tested this feature in jni-fuse branch. And it show about 30% improvement. Thanks for your work

[2020-12-11 17:56] #12113 closed

[2020-12-11 19:31] hycsam opened #12627 "Alluxio TableMaster fails to recognize `remove_table` entry during journal replaying"
**Alluxio Setup:**
Version: Local build from latest master branch, 2.5.0-SNAPSHOT
Cluster mode: Single master, with Alluxio workers colocated with Presto worker nodes

**Describe the bug**
When Alluxio master is restarted, it fails to recognize the `remove_table` journal entry during journal replaying, and stuck there forever. Here's the log segment,

[code]

**To Reproduce**
Restart Alluxio maste

[2020-12-11 20:13] hycsam commented on #12627
/assign @hycsam

[2020-12-11 21:27] apc999 commented on #11477
@Binyang2014 thanks for the heads up! I am releasing 2.4.1-1 next week with new JNI support.
We are still keep improving the fuse integration FYI.

[2020-12-14 03:21] maobaolong commented on #12596
@apc999 , Thanks for watching this issue, @timmylicheng will update a progress before next community dev sync.

[2020-12-14 03:22] maobaolong commented on #12583
@apc999 Not clearly know how ozone and ratis fix this issue, will take a look.

[2020-12-14 03:41] maobaolong opened #12633 "Add a lock healthy check service to avoid deadlock or unhandled lock"
**Is your feature request related to a problem? Please describe.**

Fain gained lock bring a significant throughput improvement, but in a downside, it's hard to debug an issue about lock. So, we need a lock healthy check service. For some maintenance purpose, we need unlock a unhandled lock manually to work abound some corner case to keep our service high available .

**Describe the solution you'd

[2020-12-14 03:41] maobaolong commented on #12633
@runzhiwang Would you like to take this ticket?

[2020-12-14 03:42] runzhiwang commented on #12633
@maobaolong Sure, thanks.

[2020-12-14 06:22] pabrahamusa opened #12634 "Master server restarts causing reattach of DB"
**Alluxio Version:**
2.4.1

**Describe the bug**
I am using Catalog Service and AWS Glue . I attached the Db from glue to Alluxio and able to see /catalog files
created in S3 bucket successfully. Also I am able to execute queries via Alluxio. However when master server get restarted
I have to detach and attach the Db again else it wont work. Is this a bug? or are there any parameters I have to set

[2020-12-14 08:49] maobaolong opened #12635 "Make Alluxio Fuse to be a generic Fuse framework by support multi backend"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

【Tencent document】Alluxio Fuse Multi-backend support proposal
https://docs.qq.com/doc/DZXZwd1NPTkl1Rm5M

**Describe alternatives you've considered**
Alluxio Fuse module

**Urgency**
Normal

**Additiona

[2020-12-14 11:16] nirav-chotai commented on #11374
[code]
OR
[code]
@cheyang Try above and it should work in both cases. I faced this problem while specifying jvmOptions and after having a list, it works.

[2020-12-15 01:18] gpang commented on #12634
@pabrahamusa I have a question. You mentioned you have to detach after the restart. Could you provider more information about that?

[2020-12-15 01:27] jiacheliu3 commented on #11729
@gpang I wanted to discuss with you on this. Do you think it's okay to chunk the full list of blocks in our logs? Do we rely on the logs to trace the existence of certain blocks?

[2020-12-15 01:45] shiyi23 commented on #12595
/assign @shiyi23

[2020-12-15 01:48] pabrahamusa commented on #12634
@gpang   I am running Alluxio master and worker ina Kubernetes. And if due to any reason the master Alluxio pod crashes, or restarts or change a node (which is normal in kubernetes ) . Then after restart of master the search will stop working. Then my solution is
a) Detach the DB catalog
/opt/alluxio-2.4.1/bin/alluxio table detachdb alluxio_mydatabase
b)  Attach the Database back
/opt/alluxio-2.4.

[2020-12-15 03:08] timmylicheng commented on #12596
I plan to leverage with this maven plugin: https://github.com/salesforce/proto-backwards-compat-maven-plugin.
Ozone project has adopted it well and it helps to remind proto changes every time you do maven build.

Still working on compilation and dependency issues. Will update with PR once issues are resolved. @apc999 @maobaolong

[2020-12-15 08:54] xinip opened #12647 "Cannot read from abcpath because it is incomplete"
alluxio fs stat alluxio://alluxio:19998//xxx/yyy/zzz/dt=2020-12-07/6/000000_0

alluxio://alluxio:19998//xxx/yyy/zzz/dt=2020-12-07/6/000000_0 is a file path.
FileInfo{fileId=6098199248895, fileIdentifier=null, name=000000_0, path=//xxx/yyy/zzz/dt=2020-12-07/6/000000_0, ufsPath=hdfs://hdfs/hive/warehouse//xxx/yyy/zzz/dt=2020-12-07/6/000000_0, length=0, blockSizeBytes=134217728, creationTimeMs=160791

[2020-12-15 17:58] #12627 closed

[2020-12-15 18:13] gpang commented on #12634
@pabrahamusa For the syncing, there is a `sync` cli command to fetch the latest metadata: https://docs.alluxio.io/os/user/stable/en/operation/User-CLI.html#sync

However, could you describe what happens when you DO NOT detach the catalog after a restart? What is the error? If you use the `table ls` command (https://docs.alluxio.io/os/user/stable/en/operation/User-CLI.html#ls-1) what does it show?

[2020-12-15 18:17] gpang commented on #12647
@xinip If the file is already in HDFS, you can re-sync that particular file. To do that you can run:

[code]

What this will do is force a sync with the HDFS, in order to retrieve the latest metadata for that file.

[2020-12-15 18:22] gpang commented on #11374
Thanks @nirav-chotai  !

@cheyang please try this suggestion out and see if that resolves your issue. I will close the issue for now, and you can re-open it if it still an issue.

[2020-12-15 18:22] #11374 closed

[2020-12-15 18:24] gpang commented on #11729
What do you mean by "chunk the list"?

Maybe a simple solution is to print the prefix (and the count) of the list at INFO level, and the rest at DEBUG level, so we have access to the full list if we need it.

[2020-12-15 20:00] gpang commented on #12634
I don't currently have a glue setup yet, but I tried restarting the master locally, with an attached hive metastore, and the restarted Alluxio master still has all of the catalog information, without having to detach and attach.

Could you give us more information after the restart, for example, with the `alluxio table ls ...` command?

[2020-12-16 00:59] hycsam opened #12651 "Allow mounting Hive partition with different location prefix than that of table"
**Is your feature request related to a problem? Please describe.**
Yes. I'm running Presto queries on Alluxio with the Alluxio Catalog Service setup to keep in sync with metadata stored in Hive. The `attachdb` and `sync` command will fail adding the Hive tables that contain partitions that don't share the same location prefix with that of table. For example, if a Hive table is located on `s3://buc

[2020-12-16 07:26] runzhiwang commented on #12633
design doc: https://docs.google.com/document/d/1j-vK7rhXKirRUa-VStybJ6kna6cv7MP0ylqiPT_r5So/edit

[2020-12-16 08:10] hycsam opened #12654 "Alluxio Catalog Service add support for Hive views"
**Is your feature request related to a problem? Please describe.**
Alluxio Catalog Service currently only supports syncing and querying Hive tables but not views, while we have some important Presto queries that involve querying the Hive views. Would be good to have Hive view support Alluxio Catalog.

**Describe the solution you'd like**
Create a filter on Presto client side to submit only queries

[2020-12-16 08:47] yuyang733 commented on #10958
I also encountered this issue.

Is there a solution for it?

[2020-12-16 09:20] xinip commented on #12647
my config interval is 0.but still error.

cat alluxio-site.properties|grep "alluxio.user.file.metadata.sync.interval"

alluxio.user.file.metadata.sync.interval=0

[2020-12-16 17:51] gpang commented on #12647
@xinip Hrmmm, can you delete the incomplete data?

[code]

This will remove the metadata from only Alluxio, and then you can read it again with

[code]

[2020-12-16 19:12] gpang commented on #10958
Are you running multiple alluxio masters on the same host? If so, they would both try to use that same port and they would conflict. You can try just starting a single master like:
```alluxio-start.sh master```

which will start just the master process on the local machine

[2020-12-16 20:53] pabrahamusa commented on #12634
Thanks @gpang , I tried the ls command

`
bash-4.4$ /opt/alluxio-2.4.1/bin/alluxio table ls alluxio_mydatabase
sb_s3_mydata
`
As you can see it  is listing correct S3

`
bash-4.4$ /opt/alluxio-2.4.1/bin/alluxio table ls alluxio_mydatabase sb_s3_mydata
`
This print all catalog information

The issue now is when you fire a query from Presto it will not work . To make it work we have to detach and at

[2020-12-16 22:27] gpang commented on #12647
@xinip Yes, I verified in the code that the sync will ignore incomplete files. This is because there is an assumption that incomplete files are in the process of being written to, so the sync should not disturb incomplete files. However, in our case, it seems like the writing was maybe interrupted, so now, you can force to remove the inconsistent file by `alluxio fs rm --alluxioOnly` and then sync

[2020-12-17 01:58] xinip commented on #12647
alluxio fs rm --alluxioOnly also report an error, it cannot be executed successfully，because our alluxio is read-only

[2020-12-17 03:16] pabrahamusa commented on #12634
@gpang , I tried the following and I can see data appearing with out detach attach. However I have to do the sync every time if master server got restarted.

`/opt/alluxio-2.4.1/bin/alluxio table sync alluxio_mydatabase`

[2020-12-17 18:24] gpang commented on #12647
@xinip Could you describe how you "created" this (incomplete) file, if the mount is read-only? What operations did you perform to create this file?

[2020-12-18 02:09] xinip commented on #12647
my app is presto, presto on alluxio, this my alluxio config:

alluxio.master.mount.table.root.ufs=hdfs://hdfs/hive/warehouse/
alluxio.master.mount.table.root.readonly=true

[2020-12-18 02:57] apc999 opened #12661 "Enable -Prelease for maven build by default"
**Alluxio Version:**
2.5.0-SNAPSHOT

**Describe the bug**
-Prelease should be on by default or the output client jar may have issues to compile depending projects like Presto, due to the lack of reduced pom file

**To Reproduce**
build Alluxio without -Prelease
then build Presto using the Alluxio version built above

**Expected behavior**
It should pass

**Urgency**
Medium

**Additional context**

[2020-12-18 09:38] xpflying opened #12664 "alluxio worker cannot be started on openshift4.6 with crio"
**Alluxio Version:**
deloy Alluxio 2.4.1 with helm

**Describe the bug**
alluxio worker cannot be started on openshift4.6 with crio, The default worker configuration is alluxio.worker.tieredstore.level0.dirs.quota=1G，When the aluxio worker starts, the error message is as follows,
 **tmpfs is smaller than the configured size: tmpfs size: 64.00MB, configured size: 1024.00MB**
[code]
The following in

[2020-12-18 19:50] apc999 commented on #12483
@gpang @LuQQiu  will https://github.com/Alluxio/alluxio/pull/12650 resolve this issue?

[2020-12-18 20:59] LuQQiu commented on #12483
This issue is similar to #12356
and may be solved by #12658
I am now validating the #12658 and see if any further changes are needed

[2020-12-18 21:46] gpang commented on #12664
@xpflying Thanks for this report. Was the worker formatted with only `64mb` first, and then started with `1g`?

[2020-12-19 06:20] #12635 closed

[2020-12-19 07:32] Trevor-zhang opened #12667 "Alluxio crashed and failed to start: Fatal error: Unexpected journal entry."
**Alluxio Version:**
2.2.0
**Describe the bug**
Due to the expansion of the hadoop cluster and then performing hdfs data balancing, alluxio was down and could not be started
**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of t

[2020-12-19 07:34] Trevor-zhang commented on #12667
The UFS of our alluxio is HDFS. On Friday, the cluster was expanded horizontally, and data balance was performed after the expansion.
At 0:20 on Saturday, we found alluxio hung up.
`java.io.IOException: Timed out after waiting 30000 milliseconds for journal entries to be processed
	at alluxio.master.journal.raft.RaftJournalWriter.flush(RaftJournalWriter.java:102)
	at alluxio.master.journal.AsyncJo

[2020-12-19 07:39] Trevor-zhang commented on #12667
Later, we hope to pull up the alluxio service. First of all, we hope to pull up the service. We executed `alluxio-start.sh master`.
But it was wrong：
[code]

[2020-12-19 07:44] Trevor-zhang commented on #12667
This is the master.log information from the occurrence of the exception to the present.

[code]

[2020-12-19 07:47] Trevor-zhang commented on #12667
@Zhangcy0722  @jiacheliu3  Could  you help me find out what is the cause of the problem? Is it possible that Alluxio is abnormal due to HDFS balancing data?

[2020-12-19 07:49] Trevor-zhang commented on #12667
@JySongWithZhangCe  @jiacheliu3  Can you help me find out what is the cause of the problem? Is it possible that Alluxio is abnormal due to HDFS balancing data?

[2020-12-19 09:04] jiacheliu3 commented on #12667
@Trevor-zhang You have attached much logs, I only made a quick pass so might be missing something.

Seems Alluxio is running with Active Sync, where updates in the HDFS will be streamed into Alluxio. You have a lot of operations going on in HDFS, and I expect a lot of messages to be streaming into Alluxio.
Then somehow this affected journal flushing.
Then you see an OOM.
[code]

[2020-12-19 09:07] jiacheliu3 commented on #12667
@Trevor-zhang I would start with looking at the existing journal, `ls -alR ${ALLUXIO_HOME}/journal` and see if the journal files still make sense.

Then translate the journal entries into human readable format `bin/alluxio readJournal -start <start index> -end <end index>`. This parses the journal entries in the range into a txt file containing what happened. If you identify what was the journal e

[2020-12-19 09:40] jiacheliu3 commented on #12667
@Trevor-zhang There are multiple things we can do from here:
1. If you have `XX:+HeapDumpOnOutOfMemoryError`, then you can analyze what consumed most memory from the dump
2. If you have the GC log, analyze that and understand the memory pattern
3. If this is production, and you want the service back ASAP, BACKUP THE JOURNAL ON ALL MASTERS and then I believe you can format the journal. This should

[2020-12-19 11:02] Trevor-zhang commented on #12667
@jiacheliu3  The metadata from the journal directory up to before the crash exists. But I still haven’t found the cause of Alluxio crashed.

I am curious why there is no way to restart the service except format journal after the crash, even if the whole environment is stable when it is started.

[2020-12-20 03:43] jiacheliu3 commented on #12667
@Trevor-zhang Could you share your investigation on the journal files with us? What are the last edits look like and the journal files too?

I'm not sure what you mean by "even if the whole environment is stable when it started"? If there's OOM, it's hard to guarantee anything, a lot of behaviors will be undefined. Unfortunately, based on the information you provided I'm not able to better answer

[2020-12-20 05:57] Trevor-zhang commented on #12667
@jiacheliu3
Thank you for your help. Because this is the production environment, the journal  log is on the computer of the operation and maintenance personnel , and I don't expect to get the file until Monday.

I read journal yesterday, the file are all in good condition, and I have recovered alluxio. I want to locate the cause of this failure and sum up the lessons, so as not to have such a prob

[2020-12-20 08:18] jiacheliu3 commented on #12667
@Trevor-zhang I have the same opinion. We should investigate on the journal files and figure out the issue, so we understand better what to do next time.

Please share the file and how the journal files look like (what are the file names? how big are they?) with us. It's going to be very helpful. Thanks!

[2020-12-21 05:48] Trevor-zhang commented on #12667
@jiacheliu3   i run `/alluxio readJournal  -start  2000000  -end  8000000` . The following files are generated, and there are about 1.7G files in `edits.txt.`

![5c025ca282d0347e6e85532d514bbf8](https://user-images.githubusercontent.com/33487819/102743679-e7500780-4392-11eb-98ec-b59471ac13bf.png)

In ` edits.txt` with the following file：
[code]
Because the file is too large, how can I filter the c

[2020-12-21 13:10] jiacheliu3 commented on #12667
@Trevor-zhang Can you attach what you see doing `ls -alR ${ALLUXIO_HOME}/journal`? That should help us understand what journal entries were in the last journal file, which probably failed flushing. I think you only need to check the entries involved in the last file, and most probably only the last few entries were affected.

Also if you have other masters, I recommend you to check the same entrie

[2020-12-21 13:29] Trevor-zhang commented on #12667
@jiacheliu3  Sorry, I just learned from O&M that the last journal file is no longer found. The  O&M executed `format journal`. Now there is only the edit.txt file of that period. Can we start with `edit.txt` ?

[2020-12-21 14:04] jiacheliu3 commented on #12667
@Trevor-zhang I assume you checked the index on the journal files and found the last entries to be 8000000. From the attached piece of your `edit.txt`, I can see the last entries are delete_file operations. This operation should be small and fast, I don't expect them to cause you journal issues. From that perspective, I don't think the `edit.txt` have any more information to us.

Because there's n

[2020-12-22 02:01] Trevor-zhang commented on #12667
It seems that useful information cannot be found in `edix.txt.` I will make some adjustments in the jvm option and output the gc log .

Thank you very much for your help in these two days. @jiacheliu3

[2020-12-22 02:01] #12667 closed

[2020-12-22 10:08] xpflying commented on #12664
@gpang Here is the default configuration, when using this, the logs of the aluxio-worker pod indicate that tmpfs is smaller than the configured size: tmpfs size: 64.00MB, configured size: 1024.00MB, and is in CrashLoopBackOff state.So I changed aluxio.worker.tieredstore.level0.dirs.quota to 64M, so I could get into the pod and use the mount, df -h command to get the information.
[code]
[code]

[2020-12-23 03:35] cheyang opened #12672 "Avoid throwing RuntimeException when master hostname is not resolved on metrics reporting"
**Alluxio Version:**
What version of Alluxio are you using?
2.4.1-1

**Describe the bug**
A clear and concise description of what the bug is.

If I didn't set hostname and ip address mapping in /etc/hosts

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgenc

[2020-12-23 08:45] liupan664021 opened #12675 "Mount options of attachdb command do not work"
**Alluxio Version:**
master edge

**Describe the bug**
The description of attachdb command mount option in [docs](https://docs.alluxio.io/os/user/stable/en/operation/User-CLI.html#attachdb) is:
`udb-<UDB_TYPE>.mount-option.{<UFS_PREFIX>}.<MOUNT_PROPERTY>`

But MOUNT_PREFIX defined in `ConfigurationUtils.java` is
`public static final String MOUNT_PREFIX = "mount.option.";`

       mount-option vs m

[2020-12-24 03:54] cloudwalkerfre opened #12677 "在COS上配置Alluxio"
**Page**
https://docs.alluxio.io/os/user/stable/cn/ufs/COS.html

**Summary**
在COS上，bucket name是和appid拼接在一起的，包括桶列表之中也是这么显示的，比如test-mount-appid
`在该指南中，COS Bucket的名称为COS_ALLUXIO_BUCKET，在该bucket里的目录名称为COS_DATA`
这里的COS_ALLUXIO_BUCKET描述有一些误导人，因为腾讯自己的qcloud_cos.CosS3Client用的就是直接拼接后的，这里建议注明一下

[2020-12-24 05:29] DavidLzr opened #12678 "How to use Alluxio-FUSE simultaneously on a cluster of nodes"
Hi everyone, I have an emergent question about Alluxio-FUSE.
**Question Description:**
Previously, I have two machines to run programs, so I just deploy Alluxio locally on each of them (they access the same MinIO bucket). And I manually mount Alluxio File System into the local file system by using FUSE on each of them.

But now I have 10 machines to use. So I have to deploy an Alluxio Cluster on t

[2020-12-24 07:33] magicsilence opened #12679 "Impove function of `alluxio.master.persistence.blacklist`"
**Is your feature request related to a problem? Please describe.**
1. Prevent some tmp files(gen from computer framework) from writing through to ufs in `CACHE_THROUGH` mode.
2. Blacklist shoul support regex ,  match more precisely not just use `path.contains(...)`.

**Describe the solution you'd like**
1.  refactor function `alluxio.master.file.DefaultFileSystemMaster#shouldPersistPath`
2.  call

[2020-12-24 11:15] maobaolong commented on #12679
@magicsilence I think it easy to implement this feature, but worry about the performance, if there are lots of regex pattern, and for each path alluxio master have to check if current path match one of the regex pattern, it can be expensive for high concurrency scenarios. Any thoughts.

[2020-12-24 11:58] magicsilence commented on #12679
It will cause many potential mistakes when just use `string.contains`.
And how about making it support `CACHE_THROUGH` mode ?

[2020-12-25 01:18] jiemar opened #12680 "what is the difference between "alluxio.user.file.metadata.sync.interval" and "alluxio.user.metadata.cache.expiration.time"?"
if i open alluxio.user.metadata.cache.enabled=true

alluxio.user.metadata.cache.expiration.time   ,    alluxio.user.file.metadata.sync.interval    will affect each other?

[2020-12-25 13:34] maobaolong opened #12681 "Add a native profile to build jnifuse in compile phase"
**Is your feature request related to a problem? Please describe.**

Add a native profile to build jnifuse in compile phase to make is possible to build jnifuse automatically.

**Describe the solution you'd like**

Add a profile and using maven-antrun-plugin plugin to build jnifuse

**Describe alternatives you've considered**

modify this file `integration/fuse/pom.xml`

**Urgency**

Normal

**Addi

[2020-12-28 06:18] Syt-hdu opened #12683 "How do I execute a custom substitution policy in version1.8.1？"

[2020-12-28 10:07] sontt710 opened #12685 "Does Alluxio support for Iceberg table?"
Hello,

Does Alluxio support for Iceberg table?

Many Thanks!

[2020-12-29 13:05] #12675 closed

[2020-12-30 08:37] JySongWithZhangCe opened #12688 "Add a configure option that delete file will move file to .Trash with a TTL instead of delete"
**Describe the solution you'd like**
Add configure options like `alluxio.user.path.remove.direct=true` and `alluxio.user.path.remove.ttl=10000`.
When `alluxio.user.path.remove.direct=true` `alluxio fs rm /path` will remove the path directly, when `alluxio.user.path.remove.direct=false` `alluxio fs rm /path` will move the path to .Trash with a TTL configured with `alluxio.user.path.remove.ttl=10000

[2020-12-31 21:13] danielzayas commented on #12654
This would be great 🙏

[2021-01-01 07:21] maobaolong commented on #12633
@gpang Do you have any suggestion about the design doc?

[2021-01-01 07:26] maobaolong commented on #12596
@timmylicheng Thank you for your improvement, As the related PR was closed yesterday, I will close this issue.

BTW, a tip for open a issue related PR, you can start with "Fix #<ISSUE_ID>" in the description of the new PR, so that the issue can be closed automatically when the PR was merged.

[2021-01-01 07:26] #12596 closed

[2021-01-01 07:37] maobaolong opened #12690 "Add a distributed load table shell command tools to support load table or partition"
**Is your feature request related to a problem? Please describe.**
Add a distributed load table shell command tools to support load table or partition. So that, we can load a table or a partition into alluxio cache tier, without this feature, we have to get the location of target table, and execute distributed load, this is complex.

**Describe the solution you'd like**

Add a shell command line t

[2021-01-01 11:28] maobaolong commented on #12680
- `alluxio.user.metadata.cache.enabled`
If this is enabled, metadata of paths will be cached. The cached metadata will be evicted when it expires after alluxio.user.metadata.cache.expiration.time or the cache size is over the limit of alluxio.user.metadata.cache.max.size.

- `alluxio.user.metadata.cache.expiration.time`
Metadata will expire and be evicted after being cached for this time period. O

[2021-01-01 11:37] maobaolong commented on #12685
@sontt710 I think Alluxio support the HCFS(Hadoop compatible file system) API, so that the application of Alluxio which can use HCFS API access Alluxio, Iceberg can use HCFS API access Alluxio.

Not sure I know well about `Iceberg table`, could you please  explain more detail?

[2021-01-02 04:24] jiemar opened #12691 "fail to determine address for FileSystemMasterClient after 1 attempts"
**Alluxio Version:**
2.3

**Describe the bug**
fail to determine address for FileSystemMasterClient after 1 attempts
what cases the exception?

[2021-01-03 13:28] sontt710 commented on #12685
Hello @maobaolong,

We are researching https://iceberg.apache.org/getting-started, and trying to integrate between Alluxio vs Iceberg.

We want use Alluxio as caching layer (same as Apache Hudi & Alluxio) and use Presto for query. ( Presto > Iceberg > Alluxio > Deep Storage).

We are tried to setup, but the query go through Alluxio and pull data from deep storage, We don't know what are missing or

[2021-01-04 05:15] gpang commented on #12672
@cheyang Thanks for the report. Is there something that has a name of `abc`? What a minimal set of steps to reproduce this?

[2021-01-04 05:19] gpang commented on #12678
Yes, you will have to mount the FUSE to each local filesystem on each machine. I don't think there is currently a script that mounts the Alluxio FUSE to all the nodes.

[2021-01-04 05:23] gpang commented on #12688
@JySongWithZhangCe Could you add more details about this feature request in the Issue description?

[2021-01-04 06:00] gpang commented on #12691
Hi @jiemar Thanks for the report. Could you provide more details on how to reproduce this?

[2021-01-04 09:44] fanyunbojerry commented on #12477
Hit this issue too.
My case is hbase on alluxio-2.4.1.
Something more, regionserver will crash and can't restart cause of the spliting wal.

[2021-01-04 12:51] wheatxiong opened #12692 "missing documents to introducte running alluxio on tencent cloud EMR"
**Summary**
The out-of-the-box Alluxio service provided on Tencent Cloud EMR can help developers quickly achieve distributed memory-level cache acceleration while simplifying data management.
At the same time, the Alluxio service can quickly configure multi-level caches and manage metadata by operating the EMR console or API interface using the configuration delivery function, as well as the abili

[2021-01-05 23:51] apc999 commented on #12672
@JySongWithZhangCe
can you take this issue? basically the error (not being able to resolve master hostname) for metrics reporting should not bring down the process

[2021-01-06 00:53] JySongWithZhangCe commented on #12688
OK！

[2021-01-06 01:05] JySongWithZhangCe commented on #12688
I have updated!

[2021-01-06 06:35] HelloHorizon commented on #12685
@sontt710 if you want to deploy your iceberg on HDFS, which means all table metadata(like iceberg snapshot, etc) are stored on HDFS. And at the meantime you want to use Alluxio as a caching layer for your presto, it should work. In this case, you can specify the table location on Alluxio with HDFS UFS instead of specify the table location on HDFS directly.

[2021-01-06 19:28] #12692 closed

[2021-01-06 19:31] gpang commented on #12672
I see, then maybe the issue should be renamed to be reflect the true problem.

[2021-01-06 23:13] HelloHorizon opened #12702 "Automatically create metric directory if metric directory is not created yet"
**Is your feature request related to a problem? Please describe.**
The current metric system requires users to create the metrics directory before starting the Alluxio cluster, otherwise, it will keep poping warning message as follows:
[code]

**Describe the solution you'd like**
Auto-create metrics directory if it's possible.

**Describe alternatives you've considered**
A clear and concise descri

[2021-01-07 00:26] #12685 closed

[2021-01-07 02:04] JySongWithZhangCe opened #12703 "Add s3 support on alluxio runUfsIOTest"
Is your feature request related to a problem? Please describe.
`alluxio run UfsIOTest` on object storage which is the common remote storage is more useful then hdfs which is the common local storage. To make this command more useful in the storage-calculation-separation scene, `alluxio run UfsIOTest` should support s3.

Urgency
Normal

[2021-01-07 02:07] JySongWithZhangCe commented on #12690
@maobaolong May be I can assign this feature

[2021-01-07 08:16] liusheng opened #12704 "Support building and running Alluxio on ARM64 platform"
**Is your feature request related to a problem? Please describe.**
Currently, more and more softwares have supported running on ARM64 platform, it would be good if Alluxio also support running and testing on ARM platform.

**Describe the solution you'd like**
Try  to make Alluxio can be sucessfully built and run all the test cases passed on ARM64 server, and then setup ARM CI job for Alluxio proje

[2021-01-07 19:16] LuQQiu commented on #12356
PR #12649 helps Alluxio log the correct Ratis error that helps to debug the related journal issues.

PR #12650 expose Ratis journal size related configuration to Alluxio configuration and enlarge those values to support journaling entries larger than 3MB. Note that this is mainly helping the Ratis journal write path. Ratis journal read path has a hard limit of 30MB per entry.

PR #12658 change fro

[2021-01-07 21:35] calvinjia commented on #12704
@liusheng Thanks for making this request. Have you already identified platform dependent issues when using ARM64?

[2021-01-07 21:38] apc999 commented on #12702
@JySongWithZhangCe  can you take a look at this issue?

[2021-01-07 21:38] apc999 commented on #12691
@jiemar  can you put more details? e.g., error messages to help us?

[2021-01-07 21:38] calvinjia commented on #12703
@JySongWithZhangCe Thanks for reporting this issue, have you attempted running with an S3 mount, I recall that this is already supported.

[2021-01-07 21:41] calvinjia commented on #12688
One challenge with this kind of feature is needing to support it in the underlying storage system as well. This may not be possible and/or can cause consistency issues (for example if the underlying storage supports another kind of trash). Conversely, if you are using an underlying storage system that supports this, this functionality is still available, just not at the Alluxio level.

[2021-01-07 21:43] apc999 commented on #12683
I could not understand what `substitution policy` is. Can you help elaborate?
In case you mean cache eviction policy, look for `Evictor` interface in `Evictor.java` in 1.8.1

[2021-01-07 21:43] #12683 closed

[2021-01-07 21:45] apc999 commented on #12680
thanks @maobaolong ! Let me know if you need more help @jiemar

[2021-01-07 21:45] #12680 closed

[2021-01-07 21:51] apc999 commented on #12664
@xpflying  error message `tmpfs is smaller than the configured size: tmpfs size: 64.00MB, configured size: 1024.00MB` suggests when your worker starts, it only sees 64MB as tempfs capacity, smaller than what you configured in the following

[code]

If you don't have enough tempfs capacity (1GB as specified), you can use SSD or local disk for Alluxio caching space rather than tempfs.
check how to c

[2021-01-07 21:51] #12664 closed

[2021-01-07 21:53] apc999 commented on #12654
can be a good feature to add. Let me know if you are interested to contribute, @hycsam

[2021-01-07 21:55] apc999 commented on #12634
@gpang  anu idea?

[2021-01-07 23:35] #12681 closed

[2021-01-07 23:37] apc999 commented on #12677
@maobaolong  can you take a look of this issue? thanks!

[2021-01-07 23:40] apc999 commented on #12679
@magicsilence I actually think this is a good idea. @maobaolong 's concern on performance is also legit. Maybe we can add a flag `alluxio.master.persistence.blacklist.regex.enabled` which defaults to false. Once it is true, we will make regexp comparison.

Making this support `CACHE_THROUGH` may also make sense. @magicsilence  is this what you need in real workload?

[2021-01-08 01:23] maobaolong commented on #12690
@JySongWithZhangCe That's great!!! I can't wait to see your PR any more! 😄

[2021-01-08 01:44] pabrahamusa commented on #12634
I also tried setting this at master level however no effect
alluxio.table.catalog.udb.sync.interval: "45m"

[2021-01-08 02:41] JySongWithZhangCe commented on #12703
I will try ! Thx !

[2021-01-08 02:44] JySongWithZhangCe commented on #12688
I agree

[2021-01-08 03:02] liusheng commented on #12704
@calvinjia
Thanks for pay attention to this issue, I haven't identified platform dependent issues of Alluxio, but I have tried to build Alluxio on ARM64 server, there are some errors of dependent issues. such as:
[code]

[2021-01-08 04:40] Syt-hdu commented on #12683
framework for customized allocators，i want to ask for it

[2021-01-08 04:43] Syt-hdu commented on #12683
the aim of our project  is to make a  personal cache eviction policy

[2021-01-08 04:47] JySongWithZhangCe commented on #12702
Sure

[2021-01-08 05:28] JySongWithZhangCe opened #12706 "Add Spark support on SDS"
**Describe the solution you'd like**
Spark can run SQL on SDS.

**Urgency**
Normal

**Additional context**
Spark on Hive is slow while Spark on DFS is complex for business users. If Spark is able to work on SDS, business will become easy and fast.

[2021-01-08 05:34] maobaolong commented on #12706
@JySongWithZhangCe What version of Spark you want start to support? Do you need modify some of the codes of Spark? Something like Spark alluxio connector?

[2021-01-08 05:40] JySongWithZhangCe commented on #12706
Q: What version of Spark you want start to support:?
A: Spark 3+ is needed.
Q: Do you need modify some of the codes of Spark?
A: Compared with Presto on SDS, there will be some new codes on Spark.
Q: Something like Spark alluxio connector?
A: I guess so.

[2021-01-08 05:42] JySongWithZhangCe commented on #12706
@apc999 @gpang What do you think of?

[2021-01-08 06:45] maobaolong commented on #12706
@JySongWithZhangCe Can you explain more about why you need Spark3+? As Spark 2 is more widely used, so do you think start with spark 2 will get more use cases?

[2021-01-08 06:52] JySongWithZhangCe commented on #12706
Due to resolve lacking of hardware resource, we decided to upgrade Spark 3+ at 2021 which is much faster then Spark 2.X  to ensure business running well. I agree with you, what's you suggest? Spark 2.2+, 2.3+, or 2.4+?

[2021-01-08 07:02] maobaolong commented on #12706
@JySongWithZhangCe Not sure the detail sub version of 2.X, but as far as I know, it would be hard if we force our user upgrade their spark application from 2.x to 3.x. I just want to know, is there some advantage if you start with Spark 3.x, other than 2.x? Does spark 3.x can decrease the efforts for spark alluxio connector?

[2021-01-08 07:04] JySongWithZhangCe commented on #12706
I agree we start with Spark 2.x rather than 3.x

[2021-01-08 07:13] maobaolong commented on #12706
@JySongWithZhangCe Cool, look forward to your design doc.

[2021-01-08 18:15] gpang commented on #12706
I thought the main challenge with the older version of spark was how the catalog service could be accessed. In Presto, the connector can easily talk to a different catalog, so that is how the Alluxio presto connector can communicate with the Alluxio catalog service. However, I think Spark only communicates with hive metastore, and there wasn't a way to interact with a different catalog. I don't kn

[2021-01-08 20:27] hycsam commented on #12654
Lots of work needs to be done for the View support, I don't think I have time for this currently.

[2021-01-09 00:07] calvinjia commented on #12704
Thanks for the details, these would be necessary for developing Alluxio on ARM64, which I think is a more far off goal. Do yo know if the Alluxio system (pre-compiled) runs fine on ARM64?

[2021-01-10 08:32] JySongWithZhangCe commented on #12672
Is this sense only happening in client side?

[2021-01-11 03:25] maobaolong commented on #12677
@wheatxiong Please feel free to take this issue.

[2021-01-11 06:10] wheatxiong commented on #12677
OK，i will fix it as soon as possible.

[2021-01-11 08:09] loovia opened #12709 "No Under File System Factory found for: hdfs://namenode1:8020/"
**Alluxio Version:**
version: `alluxio-2.4.1-1`

**Describe the bug**
when I execute `./bin/alluxio-start.sh all Mount`, there was an error from ./logs/master.log:
[code]

I don't konw how to solve it, and below is my configuration:
[code]

[2021-01-11 21:14] gpang commented on #12709
@loovia It looks like you are configuring for hdfs 3.1. Does the 3.1 hdfs ufs exist under the `${ALLUXIO_HOME}/lib/` directory?

[2021-01-12 01:29] #12677 closed

[2021-01-12 02:27] loovia commented on #12709
@gpang thank u! I added the 3.1 hdfs ufs to `${ALLUXIO_HOME}/lib/`, But it's another error:
[code]
I have created the `/mnt/hdfs` directory by hdfs user:
[code]

[2021-01-12 22:18] claesenm opened #12712 "Deploy Alluxio on Docker - permission error running alluxio-fuse Docker command"
**Page**
https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Docker.html#enable-posix-api-access

**Summary**
The docker run command listed in section 5.4 is not working due to permission errors during the fuse mount.

**Fix**
The permission error can be resolved by adding the `--privileged` flag to the docker run command, e.g.,

[code]

[2021-01-13 01:03] apc999 commented on #12709
@loovia  to mount your hdfs path to Alluxio, you need to give an unexisting path.
In your case, can you remove `/mnt/hdfs` before running `fs mount` or use a different dir?

[2021-01-13 02:01] zjiawei3 commented on #12595
@hycsam has confirmed this can be circumvented by changing a config. As we discussed in the sync up , we will close for the current release.

[2021-01-13 02:01] #12595 closed

[2021-01-13 05:30] loovia commented on #12709
@apc999 thanks!
My alluxio cluster consists of 3 masters and 11 workers. I changed my configuration file `conf/alluxio-site.properties` :
[code]
But when I execute `./bin/alluxio format` by hdfs user, I get an error(hdfs dir`hdfs://mycluster/alluxio/alluxio_journal/BlockMaster` was built):
[code]

[2021-01-13 21:03] pabrahamusa commented on #12634
@gpang @apc999  I solved it by adding one more container to do the sync, Hope this helps some till there a permanent soln

[code]

[code]

[2021-01-14 07:45] DdMad opened #12718 "About direct io option for Alluxio Fuse"
**Page**
https://docs.alluxio.io/os/user/stable/en/api/POSIX-API.html

**Summary**
I found this in the document:

_"Note that the direct_io mount option is set by default so that writes and reads bypass the kernel page cache and go directly to Alluxio."_

So what I understand is: by default, whenever we read data from alluxio fuse, it shouldn't use the system cache.

However, when I test with my A

[2021-01-14 08:08] DdMad opened #12719 "User without write permission at the directory level can delete files created by others"
**Alluxio Version:**
Alluxio 2.4.1

**Describe the bug**
User does not have `w` permission in the directory, but can delete files created by other users

**To Reproduce**
1. Setup Alluxio and Alluxio Fuse, for my case, I use the NFS on my host machine as the root UFS. Also, make sure the `alluxio.fuse.user.group.translation.enabled=true` and mount option `allow_other` is added.
2. Create some file

[2021-01-14 13:04] maobaolong opened #12720 "Jni based Fuse hung when mount on macosx"
**Alluxio Version:**

HEAD of master branch..

**Describe the bug**

Stuck when mount alluxio when enable jnifuse, but it can work well when disable jnifuse

**To Reproduce**

set `alluxio.fuse.jnifuse.enabled=true` in the alluxio-site.properties to enable jnifuse

exexute the following command line to mount alluxio /abc to local path /tmp/mp_target

[code]

**Expected behavior**

see the log `All

[2021-01-14 16:19] maobaolong opened #12721 "Support running Alluxio in intellij by import run configuration"
**Is your feature request related to a problem? Please describe.**

For newbies of Alluxio, it will help them to start alluxio in the intellij easily by import the run configuration.

Leverage this, it can make it possible to debug alluxio in the intellij also.

**Describe the solution you'd like**

Write a script which can import the alluxio run configuration to the alluxio project .idea folder.

[2021-01-14 18:04] gpang commented on #12709
@gpang Which version is your journal HDFS? Which ever that version is:
- it should be configured with `alluxio.master.journal.ufs.option.alluxio.underfs.version=???`
- that corresponding jar should be in the `lib/` directory

[2021-01-14 18:31] bradyoo opened #12722 "Parallel Syncing after deletion of files from UFS causes a NullPointerException"
**Alluxio Version:**
What version of Alluxio are you using? 2.3 and onwards

**Describe the bug**
A clear and concise description of what the bug is.

Parallel Syncing after deletion of files from UFS causes a NullPointerException in the master. Here is an example stack trace:

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

1. Perform some file d

[2021-01-14 20:33] #12722 closed

[2021-01-17 04:00] amaliujia commented on #12654
@hycsam @apc999

As you might not have enough time, can I work on this feature?

[2021-01-18 01:24] runzhiwang commented on #12721
I will work on this

[2021-01-18 01:57] #12672 closed

[2021-01-18 04:03] wheatxiong opened #12736 "Document was not updated"
**Page**
We had submitted a document pr in https://github.com/Alluxio/alluxio/pull/12693 ，but website is not updated.

**Summary**
We had submitted a document pr in #12693 ，but website is not updated. As shown below：
![image](https://user-images.githubusercontent.com/10227292/104869827-ebffdf80-5981-11eb-8fb8-2ad181f3f530.png)

On the other hand, Chinese website cannot show more message in Cloud N

[2021-01-18 04:33] JySongWithZhangCe commented on #12690
For now,  `TableShell` only support to talk to `TableMaster` with `TableMasterClient`. In this design, table shell commands are able to take options on metadata, but are hard on taking options on data. I'll implement this feature by two steps:
1. Add a implemention on `TableShell` looks like `FileSystemShell `for taking options on data.
2. Add a `load` command on new  `TableShell`.
@gpang @maobaol

[2021-01-18 12:10] pPanda-beta commented on #12685
@HelloHorizon Have you tried this on any system?

Architecture of iceberg is pretty simple :
1. For iceberg Hadoop Tables :  presto/trinodb does not support that yet, so we are skipping that discussion here
2. For iceberg HMS Tables: HMS stores the metadata json file location, this metadata json holds all the parquet file locations (UNFORTUNATELY ABSOLUTE PATHs NO RELATIVE PATHs).

 So for gcs bac

[2021-01-18 23:16] LuQQiu commented on #12483
PR #12649 helps Alluxio log the correct Ratis error that helps to debug the related journal issues.

PR #12650 expose Ratis journal size related configuration to Alluxio configuration and enlarge those values to support journaling entries larger than 3MB. Note that this is mainly helping the Ratis journal write path. Ratis journal read path has a hard limit of 30MB per entry.

PR #12658 change fro

[2021-01-19 02:20] maobaolong commented on #12720
@apc999 Please take a look at this issue. Thank you for telling me Macosx cannot run jnifuse for now.

[2021-01-19 05:48] apc999 commented on #12736
@Xenorith  can you help and let us know where to update?

[2021-01-19 07:53] loovia commented on #12709
@gpang Thanks! But I have another problem with `No Under File System Factory found for`.

I mounted two HDFS(HDP3.1.4 and CDH6.3.2) by mount command.  And that corresponding jar is already in the `lib/` directory.
- HDP3.1.4
[code]
- CDH6.3.2
[code]

And I put same test data to HDFS by `hadoop put hdfs://namenode:port/path`. Now I want to test whether Aluxio can works.

- In HDP3.1.4 it works
[cod

[2021-01-19 08:19] #12709 closed

[2021-01-19 10:06] Xenorith commented on #12736
the default landing page for documentation uses the version of the most recently released version, which is `v2.4 (stable)`. the PR with the documentation changes will not show up for this version because it was merged into the `master` branch.

the documentation displayed under the `master (edge)` version gets updated when a new edge release occurs. since the last one was `2.4.1-1`, [see release

[2021-01-19 19:19] apc999 commented on #12736
@Xenorith  thanks for the clarification. I have created https://github.com/Alluxio/alluxio/pull/12738 to cherrypick the PR to 2.4 branch

[2021-01-19 19:40] apc999 commented on #12736
#12738  merged. close this issue. please reopen this issue if it still does not work , @wheatxiong

[2021-01-19 19:40] #12736 closed

[2021-01-19 19:48] hycsam commented on #12654
@amaliujia Sure, that would be great! Thanks!

[2021-01-20 00:09] maobaolong opened #12739 "Support redis as an UFS of Alluxio"
**Is your feature request related to a problem? Please describe.**

We use cloud native redis as a persist storage to store the date which produced by flink, and the data source of flink is a kafka topic.

Also, we develop an api service to provide the data which stored in the redis, and our user can get the data from the api service.

**Describe the solution you'd like**

Use Alluxio as a cache l

[2021-01-20 02:41] gpang commented on #12690
@JySongWithZhangCe That sounds reasonable.

 In this issue, can you specify the proposed what the command will look like, and how the users will interact with it?

[2021-01-20 03:14] zzujay opened #12740 "Fail to start worker , Error:mkdir /mnt/ramdisk failed"
[2021-01-20 10:38:14][worker-1] Formatting RamFS: /mnt/ramdisk (2648656554)^M
[2021-01-20 10:38:15][worker-2] Formatting RamFS: /mnt/ramdisk (2648664746)^M
[2021-01-20 10:43:14][worker-1] [sudo] cluster 的密码：^M
[2021-01-20 10:43:14][worker-1] sudo: timed out reading password^M
[2021-01-20 10:43:15][worker-2] [sudo] cluster 的密码：^M
[2021-01-20 10:43:15][worker-2] sudo: timed out reading password^M
[2

[2021-01-20 03:53] DdMad commented on #11153
I have got similar issue for small files and random access. I use fio to test the performance and below is the test result:

Test command: `fio -name=xxxx -filename=<-alluxio fuse mount path-> -rw=<read/randread> -bs=16K -size=10G -ioengine=libaio -numjobs=10 -per_job_logs=1`

Test result for seq access: throughput for each process is about 245MB/s
Test result for random access:  throughput for ea

[2021-01-20 09:57] loovia opened #12742 "Unable to create an UnderFileSystem instance for path: hdfs"
**Alluxio Version:**
2.4.1-1

**Describe the bug**
mount hdfs fail.

I had build client jar files by running mvn command for the 2.6.0 version. And the 2.6 hdfs ufs exist under the `${ALLUXIO_HOME}/lib/` directory.

Now I mount hdfs to alluxio and return an error. Here is my command:
[code]
Error log is:
[code]
I add commons-configuration-1.6.jar to `${ALLUXIO_HOME}/lib/` directory,  still return

[2021-01-20 22:01] apc999 commented on #12736
Updated now: https://docs.alluxio.io/os/user/stable/en/cloud/Tencent-Cloud-EMR.html

[2021-01-21 00:02] xy008areshsu commented on #12739
Probably add one more alluxio as caching layer near the user application

[2021-01-21 02:10] wheatxiong commented on #12736
it is cool! thanks a lot for help!

[2021-01-21 05:34] HelloHorizon commented on #12703
@calvinjia I have tried out the `runUfsIOTest` for s3 and it seems doesn't work(and it works for hdfs), the test will hang without meaningful logs.

[2021-01-21 09:52] jpohanka commented on #12704
@calvinjia We are running our Alluxio+Presto clusters on Graviton2 instances in production for several weeks. There were some setbacks in several places, but we managed to have it operational. We observed a significant performance degradation in both Alluxio and Presto clusters when using the official Docker images. We found out, that Amazon Corretto JVM eliminates this performance degradation.

[2021-01-21 10:48] loovia commented on #12742
Does anyone help me?

[2021-01-21 17:58] yuzhu commented on #12703
assigning this to myself.  I refactored runUfsIOTest recently, so it is possible that I introduced a regression here.

[2021-01-21 18:22] calvinjia commented on #12704
@jpohanka Thanks for reporting this!

[2021-01-22 02:21] loovia commented on #12742
I execute command `grep org.apache.commons.configuration.Configuration -r . ` in soure code path, and return nothing. I can't figure out where this package is being used.

[2021-01-23 07:33] gtarcoder opened #12749 "support ceph fs as underlying storage"
Does alluxio has plan to support ceph fs as underlying storage?

[2021-01-23 16:28] JySongWithZhangCe commented on #12690
How about `alluxio table load -p year=2021/month=1/day=24,year=2020 <database>.<table>`

[2021-01-23 16:29] JySongWithZhangCe commented on #12690
@maobaolong May be you can give some good suggestions

[2021-01-25 03:23] haoyuan commented on #12749
@gtarcoder https://docs.alluxio.io/os/user/stable/en/ufs/Ceph.html

[2021-01-25 04:36] amaliujia opened #12751 "Support Google Cloud Data Catalog as a under meta service"
**Is your feature request related to a problem? Please describe.**
Google cloud data catalog is a metastore service: https://cloud.google.com/data-catalog.

We could integrate this data catalog as a under meta service, similarly as Glue and Hive metastore.

**Describe the solution you'd like**
Integrate Google cloud data catalog into the table module. Google cloud data catalog offers Java API.

**

[2021-01-25 05:11] gtarcoder commented on #12749
It seems only ceph object store is supported, I am wondering if the ceph fs storage can be used?

[2021-01-25 07:13] amaliujia commented on #12751
I am working on new contributor tasks to ramp up on Alluxio repo. After that I may take this issue if community agrees this is useful.

[2021-01-25 07:14] amaliujia commented on #12654
I am working on new contributor tasks to ramp up on Alluxio repo. After that I will take a look on this issue.

/assign @amaliujia

[2021-01-25 07:25] liusheng commented on #12704
Hi @calvinjia,
Sorry for reply lately. For building Alluxio on ARM64, I have found two explicit problems:
- **protolock** dependency missed for ARM64 platform, which is loaded by `proto-backwards-compat-maven-plugin`, I have submitted a [PR](https://github.com/salesforce/proto-backwards-compat-maven-plugin) try to support in the proto-backwards-compat-maven-plugin repo.
- **node-sass** dependency

[2021-01-25 08:45] loovia commented on #12742
Does alluxio support hadoop2.6?

[2021-01-25 15:19] rmichela commented on #12704
Since the protolock maven plugin is merely a linter, you can disable it using a platform specific maven build profile.

[2021-01-25 22:56] #12651 closed

[2021-01-26 01:58] haoyuan commented on #12751
Welcome!

CC @madanadit @apc999

[2021-01-26 02:03] LuQQiu opened #12758 "Support libfuse 3.X in JNI-Fuse"
**Is your feature request related to a problem? Please describe.**
JNI-Fuse supports 2.9.5 currently.

If users want to enable `MAX_IDLE_THREADS` (libfuse supports more idle worker threads so that worker threads will not be opened and closed frequently ) functionality in 2.9.5, they need to use a modified and re-compiled libfuse 2.9.5 https://github.com/cheyang/libfuse/commits/fuse_2_9_5_customize

[2021-01-26 03:39] peterwillcn commented on #12712
ls: cannot access alluxio-fuse: Permission denied
![Screen Shot 2021-01-26 at 11 36 10 AM](https://user-images.githubusercontent.com/323794/105797533-1f1e2080-5fcb-11eb-8830-bd04b50094f1.png)

[code]

[2021-01-26 06:55] JySongWithZhangCe commented on #12690
@apc999 What do you think?

[2021-01-26 08:25] JySongWithZhangCe opened #12759 "Add file merge file system client API"
**Describe the solution you'd like**
`fs.mergeFiles("/path", fileNumer)`, `fs.mergeFiles("/path", targetSize)`

**Urgency**
Normal

[2021-01-26 13:16] FengJinghHua opened #12760 "alluxio cost large api calls"
**Alluxio Version:**
Alluxio-2.2.1

**Describe the bug**

We use the working mode of aluxio + azure blob + spark. When the cluster is idle, we find that there are a lot of blob API calls, which has a great burden on our cost. Alluxio is the deployment mode of HA UFS journal.

There are a lot of logs similar to:
![image](https://user-images.githubusercontent.com/15244686/105849729-be6b0400-601b-11e

[2021-01-26 19:25] amaliujia commented on #12751
/assign @amaliujia

[2021-01-26 22:51] LuQQiu opened #12764 "Unable to build Alluxio tarball from scratch"
**Alluxio Version:**
I tested the below tags and branches, all unable to finish the `generate-tarballs single` successfully
tags: v2.4.0 v2.4.1 v2.4.1-1
branch: branch-2.4

**Describe the bug**
The error message is
[code]

**To Reproduce**
from a clean environment without package caches, clone alluxio repo, checkout the mentioned tags or branches, run
[code]
the maven compile stage will give the m

[2021-01-26 22:59] LuQQiu commented on #12764
master tarball can be generated successfully

[2021-01-26 23:01] LuQQiu commented on #12764
fixed by https://github.com/Alluxio/alluxio/pull/12516

[2021-01-26 23:04] LuQQiu commented on #12764
Still confusing, branch-2.4 build failed but master succeed, they both have changes in  #12516

[2021-01-27 01:33] apc999 commented on #11309
shall be solved by https://github.com/Alluxio/alluxio/pull/12643

[2021-01-27 01:33] #11309 closed

[2021-01-27 01:33] apc999 commented on #12444
shall be solved by #12643

[2021-01-27 01:33] #12444 closed

[2021-01-27 22:50] HelloHorizon commented on #11474
@JySongWithZhangCe I am trying to reproduce this issue from our side. I assume /a /b and /c are all directories. Is there any possible for me to know the estimated number of files under each directory?

[2021-01-28 08:41] XuankuF opened #12768 "Cannot synchronize UFS when master switched"
**Alluxio Version:**
2.4.1

**Describe the bug**
I had a alluxio cluster and I mount HDFS in `master-node1` host. Alluxio Master switched  to `master-node2` host when I stop master in `master-node1` host, but `./alluxio fs ls /` was nothing.
I start master in `master-node1` host and Alluxio Master switched  to `master-node1` host automatically. To my surprise, I could see again.

The following is

[2021-01-28 15:10] FengJinghHua commented on #12760
I found that the embedded journal can solve this problem in the relevant documents, but it has changed a lot. I'm looking for a simpler way， please help

[2021-01-28 19:09] rmichela commented on #12704
Protolock maven plugin now includes arm64 support https://github.com/salesforce/proto-backwards-compat-maven-plugin/releases/tag/v1.0.6

[2021-01-29 01:05] liusheng commented on #12704
Hi @rmichela ,
Thank you for help doing that :)

[2021-01-29 02:35] loovia opened #12776 "The mounted UFS has disappeared after restart master"
**Alluxio Version:**
2.4.1

**Describe the bug**
I stop master and start master one by one after I add some configuration in conf/alluxio-site.properties.
execute `bin/alluxio fs ls /`, the mounted UFS has disappeared, why ???????

Why does Aluxio have so many different problems ???  there seems to be no feedback and there is little information available online

[2021-01-29 06:55] gtarcoder opened #12778 "Can not find objects after mount ceph s3 bucket to alluxio path"
**Alluxio Version:**
What version of Alluxio are you using?
v2.4 stable

**Describe the bug**
I started alluxio on local machine following this guide https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-Locally.html, and I mount a ceph s3 bucket to alluxio path following this guide: https://docs.alluxio.io/ee/user/stable/en/compute/Tensorflow.html ,
[code]
Actually, there are some obje

[2021-01-30 03:39] jinhang commented on #12768
Maybe you didn’t open the journal or use HEAP when leader master down

[2021-01-31 12:23] goodoid opened #12781 "critical vulnerability reported by trivy scan"
**Alluxio Version:**
alluxio:2.4.1-1-SNAPSHOT-9833d5f

**Describe the bug**
![image](https://user-images.githubusercontent.com/1484048/106383557-bdfab080-6401-11eb-8ae0-29f1d22bf8d9.png)
![image](https://user-images.githubusercontent.com/1484048/106383650-29dd1900-6402-11eb-8fca-570f97445b41.png)

**To Reproduce**
trivy image alluxio:2.4.1-1-SNAPSHOT-9833d5f

**Expected behavior**
no critical VULN

[2021-01-31 14:33] gtarcoder commented on #12778
@haoyuan could you please give any suggestion for this issue?

[2021-02-01 08:05] liupan664021 commented on #12742
Do you build the Alluxio server with the hadoop version 2.6 ? I think only the client built with the version 2.6 may be not enough. A mount operation will be handled by the master.

[2021-02-01 08:08] loovia commented on #12742
Yes. Mounted Successfully by use `--option alluxio.underfs.version=2.7` , but my hadoop version is 2.6......

[2021-02-01 08:10] liupan664021 commented on #12776
Did you format the master when you restart Alluxio?
If you run `./bin/alluxio format` or `./bin/alluxio formatMaster `, the metadata will be erased.
For questions, <https://alluxio-community.slack.com> may help.

[2021-02-01 12:31] gtarcoder commented on #12778
and here is the alluxio fs mount  status:
![image](https://user-images.githubusercontent.com/11898942/106459138-6117fc80-64cc-11eb-991f-77bf3fa186f0.png)

[2021-02-01 18:35] apc999 commented on #12778
@gtarcoder  -1B simply means unavailable in your case. We will create a PR to fix it. @maobaolong , can you get the display fixed (e.g., instead of -1B, showing  unavailable)?

Meanwhile, when you run `./bin/alluxio fs ls /training-data/bmlx_train_data`, can you check your master log (located at `ALLUXIO_ROOT/logs/master.log`) and see if there is any error returned?

[2021-02-02 00:31] yuzhu commented on #12703
#12786 should fix the issues related to s3 ufsIOtest

[2021-02-02 00:37] gtarcoder commented on #12778
@apc999  , when I run ./bin/alluxio fs ls /training-data/bmlx_train_data , nothing appended to master.log and master.out.

[2021-02-02 02:37] JiaoDean opened #12793 "Using tmpfs as the medium, grpc error occurred when alluxio downloaded data."
Using tmpfs as the medium, grpc error occurred when alluxio downloaded data.

version: 2.3.0

test enviroment:
Oss data is 292G
Two 128G tmpfs per node

yaml configure:
tieredstore:
  levels:
    - level: 0
      alias: HDD
      mediumtype: HDD-0,HDD-1
      path: /mnt/tmpfs0,/mnt/tmpfs1
      type: hostPath
      quota: 100G,100G
      high: 0.95
      low: 0.7

Enter alluxio-master container:
k

[2021-02-02 09:32] JySongWithZhangCe commented on #12703
Thx：） @yuzhu

[2021-02-02 18:05] apc999 commented on #12778
try to run the following command first to enable DEBUG level  logging for RPCs,
[code]

Then run `./bin/alluxio fs ls /training-data/bmlx_train_data` and check master.log again?

[2021-02-02 18:59] apc999 commented on #12781
Fixed by #12782

Thanks for your contribution!

[2021-02-03 02:08] #12760 closed

[2021-02-03 02:08] FengJinghHua commented on #12760
sloved

[2021-02-03 02:39] gtarcoder commented on #12778
![image](https://user-images.githubusercontent.com/11898942/106690037-fcfc5200-660b-11eb-865d-e5ed73f5eab6.png)

[2021-02-03 12:16] gtarcoder commented on #12778
I am wondering if the alluxio will sync meta information after mount ceph s3 automatically? if not, is there a command to sync meta information manually?

[2021-02-04 04:55] liupan664021 commented on #11410
I meet the same problem, have you found the reason and solution? @Trevor-zhang

[2021-02-04 06:40] gtarcoder commented on #12778
Here is the output when I try to run `bin/alluxio fs chown xxx:xxx -R /training-data`,
[code]

@apc999  any idea on this error?

[2021-02-04 08:33] qin7972 opened #12804 "BlockMeta not found for blockId xxxxx"
**Alluxio Version:**
2.1.1

**Describe the bug**
When a hive table is mounted and accessed by presto, it will appear more frequently in about 6 minutes, and then there will be no more.The exception is thrown.
[code]

**To Reproduce**
Not clear.

**Expected behavior**
No

**Urgency**
MEDIUM

**Additional context**
HeapBlockStore is used.

[2021-02-04 13:02] yuyang733 commented on #10958
I have tried like this, but it still doesn't work.

[2021-02-05 05:34] suninuni opened #12806 "Alluxio didn't cache data in remote worker when read them from UFS with Spark"
**Alluxio Version:**
2.4.1

**Describe the bug**

Under these cases data can be cached in worker RAM automaticly(working as expected):

- `alluxio fs load`
- Short circuit read(aka read from local worker)

But when read from UFS with Spark, data can not be cached in remote worker RAM automaticly, not working as expected.

Some configurations might be related:

[code]

**To Reproduce**

- Deployed

[2021-02-05 07:03] chaowangnk1 opened #12807 "[Kubernetes] Enable Shortcircuit under HA mode"
**Is your feature request related to a problem? Please describe.**
Given HA mode enabled for kubernetes cluster, host IP can't be specified for worker/fuse pods. In this case, short-circuit will be disabled.

**Describe the solution you'd like**
Short-circuit mechanism still works under HA mode.

**Describe alternatives you've considered**
N/A

**Urgency**
Medium.
We have kubernetes with HA mode e

[2021-02-05 08:56] dale-wen opened #12809 "how to get hadoop-2.6.0"
我想用alluxio-2.4.1
hdfs 使用2.6.0

根据官网编译  mvn install -Phadoop-2 -Dhadoop.version=2.6.0  -DskipTests
编译出来 alluxio-underfs-hdfs-3.3.0-2.4.1.jar

怎么样编译出类似 lib/alluxio-underfs-hadoop-2.6-2.4.1-1.jar 这种包？
然后我们在 alluxio.master.mount.table.root.option.alluxio.underfs.version=2.6 配置的时候能够正常挂载hdfs

[2021-02-07 20:08] timmylicheng commented on #12690
Sorry coming late on this issue.
We had discussion with @maobaolong @apc999 @bradyoo one day on async load table proposal. I also wanna bring it up here and collect some thoughts.
Please check this brief doc.
https://docs.google.com/document/d/1SA_4XNOmtjy2CZ8WEDZgmyQTMy4wkHgS2xAwRhSkc7s/edit?usp=sharing

[2021-02-08 01:38] maobaolong commented on #12690
@JySongWithZhangCe Sorry for the late reply, I think the given example is good, how about your idea? @timmylicheng , maybe we can create a chapter in the document to show how we expect to use this feature.

[2021-02-08 03:14] liusheng opened #12818 "Dependency of rocksdbjni cannot support ARM platform"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
The dependency `rocksdbjni` of current version cannot support ARM platform, see following error:
[code]

**To Reproduce**
[code]

**Expected behavior**
Tests of Alluxio can pass on ARM64 platform

**Urgency**
Medium

**Additional context**
N/A

[2021-02-08 06:02] apc999 commented on #12809
Please run `mvn install -Pufs-hadoop-2 -Dufs.hadoop.version=2.6.0 -DskipTests`
More Examples:
https://docs.alluxio.io/os/user/stable/en/ufs/HDFS.html#supported-hdfs-versions

[2021-02-08 06:02] #12809 closed

[2021-02-08 06:16] apc999 commented on #12809
I added a patch to correct the documentation
https://github.com/Alluxio/alluxio/pull/12821/files

[2021-02-08 06:26] #12818 closed

[2021-02-08 06:46] apc999 commented on #12764
this issue is fixed in master, release-2.4.1-2, fixing branch-2.4 by https://github.com/Alluxio/alluxio/pull/12822

[2021-02-08 06:46] #12764 closed

[2021-02-08 07:06] jinhang commented on #12793
m

[2021-02-09 09:08] imthx commented on #12749
you can mount cephfs on master node, and mount into alluxio.
for example, cephfs had been mounted at master node path /mnt/cephfs, and use ./bin/alluxio fs mount /mnt/cephfs file:///mnt/cephfs

[2021-02-09 10:25] gtarcoder commented on #12749
seems an interesting usage, will it accelerate access of ceph fs?

[2021-02-09 21:00] LuQQiu opened #12830 "Support AlluxioFuse embedded in AlluxioWorker"
**Is your feature request related to a problem? Please describe.**
Performance considerations are the most important consideration that forces us to consider embedding POSIX API into AlluxioWorkers. In multi-threading AI scenarios running against fuse mount point, Alluxio POSIX API integration introduces non-trivial overheads compare to reading from local files directly. Part of those overheads ar

[2021-02-09 23:24] apc999 commented on #12807
Will be resolved by https://github.com/Alluxio/alluxio/issues/12830

[2021-02-10 00:35] apc999 commented on #12712
Confirm. This is what i see:
[code]

@cheyang , @madanadit, @jiacheliu3  can you take a look here?

[2021-02-10 00:46] apc999 commented on #12718
@DdMad thanks for raising the question.

Are you testing Alluxio POSIX interface? Did you enable JNI FUSE or still using the default JNR FUSE (e.g., did you set `alluxio.fuse.jnifuse.enabled=true`?). With JNI Fuse enabled, system cache is used; with default JNR Fuse, direct_io is enforced.

[2021-02-10 00:47] apc999 commented on #12720
currently `alluxio.jnifuse.struct.FileStatTest` does not pass on MacOS with failed asserts on some fields. I am working on it

[2021-02-10 00:52] apc999 commented on #12740
@zzujay this is due to unable to ssh from master to workers for format.
Can you take the following document
https://docs.alluxio.io/os/user/edge/en/deploy/Running-Alluxio-On-a-Cluster.html#prerequisites
to enable ssh without typing password (using authenticated keys)

[2021-02-10 00:52] #12740 closed

[2021-02-10 00:55] apc999 commented on #12806
@suninuni this is expected if you are running `alluxio fs load /file` as by default it will load data only to the current node running this command, with a single thread.

You may want to try   `alluxio fs distributedLoad /file` which will cache files distributedly.

[2021-02-10 00:55] #12806 closed

[2021-02-10 01:10] apc999 commented on #12776
@loovia  can you check if the journal (which saves the file system states before you stopped master) is valid and still available after restart.

If you really want to make sure everything survives after restart, checkout Journal backup and restore (https://docs.alluxio.io/os/user/stable/en/operation/Journal.html#backing-up-the-journal) . So you can manually make sure the file system state is good

[2021-02-10 01:10] #12776 closed

[2021-02-10 01:19] apc999 commented on #12742
@loovia
By default, Alluxio distribution **does not** come with hadoop 2.6, (but with 2.2, 2.7, 2.8 and 3.2)
You can
(1) build Alluxio hdfs ufs 2.6 (checking my answer at
https://github.com/Alluxio/alluxio/issues/12809)
(2) using prebuild Alluxio hdfs 2.7 or 2.8 (`--option alluxio.underfs.version=2.7` like you did),
this should still be safe as hadoop client 2.7 should be backward-compatible with

[2021-02-10 01:19] #12742 closed

[2021-02-10 03:36] lilyzhoupeijie opened #12833 "AbsentUfsPathCache is not respected on getStatus and listStatus calls"
**Alluxio Version:**
2.5.0-SNAPSHOT-9833d5f0841ef03fc9bb572fe4dccdd73bb98175

**Describe the bug**
when using spark write to alluxio,commit file takes a long time.
And we have alreay use the following config:
[code]
we use the following code to write to alluxio:
`data_df.write.mode("overwrite").format("tfrecord").option("recordType", "Example").save("alluxio://fluid1-master-0.kf-partition:20009/s3

[2021-02-10 04:21] lilyzhoupeijie opened #12834 "when using spark write to alluxio ,the change of data volume is unpredictable"
**Alluxio Version:**
2.5.0-SNAPSHOT-9833d5f0841ef03fc9bb572fe4dccdd73bb98175
**Describe the bug**
I use spark to write data to alluxio,the data size is about 800G,however during the writing process, I see the following changes(the data size is more than 800G)
`bash-4.4# ./alluxio fsadmin report
Alluxio cluster summary:
    Master Address: 172.24.16.57:20009
    Web Port: 20010
    Rpc Port: 20009

[2021-02-10 04:29] lilyzhoupeijie opened #12835 "if there can be more fine-grained file lock"
**Is your feature request related to a problem? Please describe.**
 I try to use the following command to list file path
`alluxio fs ls path`
when the file path is being written ,the operation is slow,I can't see the writing details
**Describe the solution you'd like**
can there be more fine-grained file lock,such as hive lock or hdfs lock?and I can use command to change the lock level

[2021-02-10 10:27] zzujay commented on #12740
Yes, your suggestions is quite right. I solved this problem two weeks ago. The problem is caused by failure to set permissions for Centos.

Thank you for your repley. Happy New Year

[2021-02-10 10:38] lilyzhoupeijie commented on #12834
plus:
when the space is used out,the spark will print:
[code]
the space
[code]

[2021-02-10 23:59] LuQQiu commented on #12720
@apc999 's PR #12836 is able to launch the JNI FUSE and run `ls` `mv` `cat`  `rm`  `vi + modify file` command successfully.
Some commands are failed:
1. cp
[code]
2. chmod
[code]
3.  chown
[code]

[2021-02-11 11:46] jiacheliu3 commented on #11729
@gpang I think I meant "truncate" the list. See https://github.com/Alluxio/alluxio/pull/12841, the `blockCount` field contains the count. When log level is above DEBUG, only the prefix of 100 blocks are printed. And when the log level is DEBUG, all the blocks are printed.

[2021-02-11 23:28] bogdanstate opened #12843 "Inability to change timeout on proxy requests"
**Alluxio Version:**
2.4.1-2, but I had the same bug on 2.4.0. I use Alluxio to write to MinIO.

**Describe the bug**
I am trying to write something to Alluxio via the Python client. The requests succeeds, but the proxy takes a long time to reply back. I don't know why that is, and I am not sure if this itself is a bug.

However, the immediate problem I have is that a call of the kind
[code]
 to p

[2021-02-15 02:11] #12720 closed

[2021-02-16 01:32] apc999 commented on #12833
@lilyzhoupeijie @cheyang  the reason we see a lot of messages like "GetStatus: path=s3://fluid/test/2020-02--05/_temporary/0/_temporary/attempt_20210210023417_0005_m_000977_5577" even when `alluxio.user.file.writetype.default=MUST_CACHE` is because the default metadata load type is `ONCE`. So Spark tasks  in your case is about to write a temp file to `s3://fluid/test/2020-02--05/_temporary/0/_temp

[2021-02-16 05:46] maobaolong opened #12852 "Make jni-fuse native to a new module to reduce the code"
**Is your feature request related to a problem? Please describe.**

Now, we have a great module `integration/fuse`, it supply a POSIX interface through FUSE, further more, Alluxio invent a JNI-FUSE other than JNR-FUSE, and leverage it, Alluxio FUSE can be better than before.

But now, the JNI-FUSE bring the native code to alluxio repository, and many developer are not interested in JNI-FUSE native

[2021-02-16 09:45] DdMad commented on #12718
@apc999 thanks for replying. Yes I'm testing Alluxio POSIX interface, and I didn't set `alluxio.fuse.jnifuse.enabled=true`, so I guess JNR Fuse would be used by default?
However, you mentioned that, _"with default JNR Fuse, direct_io is enforced"_, so does it mean it shouldn't use system cache?

BTW, I checked (List of Configuration Properties)[https://docs.alluxio.io/os/user/stable/en/reference/P

[2021-02-16 19:46] #12721 closed

[2021-02-17 20:32] sn00rlacs opened #12867 "Support a way to attach individual tables from hive metastore while using attachdb"
**Is your feature request related to a problem? Please describe.**
[code]

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
[code]

[2021-02-17 20:53] yuzhu opened #12868 "AsyncCache unable to cache more blocks due to duplicate requests"
**Alluxio Version:**
2.4

**Describe the bug**
When asyncCache is used, there could be many requests for the same block filling up the queue. When the queue size is the default 512, we start dropping any other async cache requests. This leads to blocks not being dynamically cached in alluxio when there are lots of duplicated cache requests.

**To Reproduce**
Run a query that  requires some data to

[2021-02-18 06:09] apc999 commented on #12867
thanks @sn00rlacs  for the proposal. We will get back to you later.

[2021-02-19 02:58] httaotao opened #12881 "Support parallel reading for Alluxio with Disperse volume from Multi nodes"
**Is your feature request related to a problem? Please describe.**

   Hello, everyone, these day we want to use Alluxio to Speed up reading. Alluxio can support Glusterfs, but it must mount volume in one node, it is not a good way to read data. so if support parallel reading for Alluxio with Disperse volume from Multi nodes, maybe it can help a lot without Network.

**Describe the solution you'd

[2021-02-19 03:06] #12881 closed

[2021-02-19 03:14] jiacheliu3 opened #12882 "UnsatisfiedLinkError: sun.management.OperatingSystemImpl.getTotalPhysicalMemorySize() running Alluxio client in Spark"
**Alluxio Version:**
2.5.0-SNAPSHOT commit 3ef0b4d719

**Describe the bug**
Spark driver log
[code]

**To Reproduce**
Following doc
The spark-alluxio image is built against spark-2.4.4 with the Alluxio client jar.

Run a spark-submit with a word count job:
[code]

What command or job it runs does not really matter, as the Alluxio client is not able to initialize the config.

**Expected behavior**

[2021-02-19 04:39] shaoxiong2019 opened #12885 "Failure to load file to Alluxio"
**Alluxio Version:**
2.3.0

**Describe the bug**
Failure to load file to Alluxio (execute command like 'alluxio fs load ${path}')
Failure to generate file split in MR job, error message as follow
![image](https://user-images.githubusercontent.com/7252486/108458272-4bb61700-72af-11eb-9337-78ed1f1c6362.png)
![image](https://user-images.githubusercontent.com/7252486/108458359-7f913c80-72af-11eb-8d15-

[2021-02-19 13:13] jiacheliu3 opened #12889 "logLevel command does not support HA: SocketException"
**Alluxio Version:**
2.5.0-SNAPSHOT-c1694353b4051be8be675903bba1080e39e8aa67

**Describe the bug**
`alluxio logLevel --target master` will only send request to the local master, not the current leader.

The masters are in HA:
[code]

Running command on `master-1`, whereas the leader is master-2. The local master is standby so there's no REST service running. So the command results in an error.
[co

[2021-02-19 16:18] LuQQiu commented on #12882
By adding
[code]
to spark-submit, the error remains the same

The logs
[code]

[code]

According to https://bugs.openjdk.java.net/browse/JDK-8226575 : When Java is running in a container many of the OperatingSystemMXBean accessor methods return host based information rather than container specific data.

The bug fixed in some JDK versions
[code]
Looks like openjdk 1.8.0_212 does not have the fixes

[2021-02-19 22:02] apc999 commented on #12718
@DdMad  you can checkout latest edge release 2.4.1-2 which has JNI Fuse boundled.
Checkout the docs:
https://docs.alluxio.io/os/user/edge/en/api/POSIX-API.html

Meanwhile, we are releasing 2.4.1-3 shortly, by which the JNI Fuse is even easier to use

[2021-02-19 22:07] calvinjia commented on #12885
@shaoxiong2019 Thanks for reporting this issue. I had a few questions -
Does this only occur after you use the load command?
Does this occur for all files or only this particular file?
What is the output of running `bin/alluxio fs stat` on that file?

[2021-02-19 22:10] apc999 commented on #12867
@sn00rlacs this is not on the priority list in future releases from our team based on my discussion.
Alternatively, if you are interested to contribute, we're happy to support you and collaborate on this as a community contribution.

Let me know your thoughts

[2021-02-19 22:13] apc999 commented on #12852
@maobaolong  how about having a new module in `integration/jnifuse`, then making `integration/fuse` depending on this module. We can discuss it w/ more details offline.

[2021-02-19 22:17] apc999 commented on #12843
@bogdanstate
1. can you try `alluxio getConf | grep 30sec` to see if this timeout is set
2. can you make sure you restart the proxy proccess after setting these timeout?

[2021-02-19 22:20] apc999 commented on #12833
I am investigating the absent cache in Alluxio which should help your case---if it works as expected

[2021-02-19 22:24] calvinjia commented on #12804
@qin7972 Thanks for reporting this issue. I had a few questions -
1. Does this issue no longer show up after a few minutes?
2. Are there any other problems reading the data afterward?
3. Is the table being accessed for the first time?
4. Could you try to do `bin/alluxio fs ls -R <table path>` before running the query?

[2021-02-19 22:31] apc999 commented on #12793
@JiaoDean  the job worker error logs shows warning messages. do you experience job failures?
also the warning messages shows the worker closed the connection between job worker and itself.
to diagnose, we will need the worker log too

[2021-02-19 22:33] apc999 commented on #12778
sync is triggered based on your policy, check it out https://docs.alluxio.io/os/user/edge/en/core-services/Unified-Namespace.html#relationship-between-alluxio-and-ufs-namespace . By default it is synced on the first time your application reference a UFS (s3 here) address

[2021-02-19 22:34] calvinjia commented on #12778
@gtarcoder It looks like the signature version doesn't match. Do you know if your Ceph S3 is expecting V2 or V4? You can look into the alluxio property - `alluxio.underfs.s3.signer.algorithm` and

[2021-02-19 22:35] calvinjia commented on #12768
@loovia It could be possible that `master-node2` was unable to successfully take leadership, were there any errors in the `master.log` of that node?

[2021-02-20 01:16] qin7972 commented on #12804
@calvinjia

1. Does this issue no longer show up after a few minutes?
    Yes, it does.
2. Are there any other problems reading the data afterward?
    No
3. Is the table being accessed for the first time?
   No. If data is updating in hive table, we will remount the table again, and then it will report the error occasionally.
4. Could you try to do bin/alluxio fs ls -R <table path> before running

[2021-02-20 01:28] calvinjia commented on #12804
Thanks for the update.

How are you remounting the table? I suspect what is happening is there is already a set of data associated with those file paths, however after the data is updated, we will need to refresh the data blocks of those files. This might conflict with some other jobs which have a view of the old data blocks, and when they try to access those blocks they are not found (since we ar

[2021-02-20 01:44] qin7972 commented on #12804
@calvinjia Hello, calvinjia.  We use a flag to switch whether it is available or not. When the data is updated, we set the flag to false, and presto directly accesses hive. Then we delete all the old table data, and remount it again. When remount is completed, we will set the flag to true, and presto accesses the alluxio. It will appear the error in few minutes. Not every time, occasionally.

[2021-02-20 09:37] JySongWithZhangCe commented on #12889
@jiacheliu3 This bug related with https://github.com/Alluxio/alluxio/issues/12447

[2021-02-20 21:18] calvinjia commented on #12804
When you say `we delete all the old table data, and remount it again`, what operations do you run on Alluxio?

[2021-02-22 01:38] suninuni commented on #12806
@apc999 actually when use `alluxio fs load` or Filesystem API to read files, it will cache files distributedly in remote workers. But my problem is Alluxio can't cache files as expected when use Spark to query data through it.

Here is configs for Spark:

[code]

[2021-02-22 05:11] qin7972 commented on #12804
@calvinjia  If table A is updated, we will unmount all data path of table A, and remount the hive path of table A to the given alluxio path.

[2021-02-23 02:05] suninuni opened #12904 "Alluxio didn't cache data when read from parquet table with Spark and Hive"
**Alluxio Version:**
2.4.1

**Describe the bug**
Alluxio didn't cache data when read from parquet table with Spark and Hive.

**To Reproduce**

- create table `test` which `STORED AS PARQUET` and mock some data.
- exec `select * from test`.
- `alluxio fs ls /test` show In-Alluxio 0%.

**Expected behavior**
After `select`, alluxio cache all data to memory and show In-Alluxio 100% which same as read

[2021-02-23 03:17] loovia opened #12905 "write data to hdfs by alluxio failed"
**Alluxio Version:**
2.4.1

**Describe the bug**
write data to hdfs by alluxio failed.
I started the alluxio process with the `alluxio` user, and alluxio joined the hdfs super user group.
I mount HDFS to alluxio, and create hive table on alluxio location and insert into data by `tools` user. But HDFS has no data, and the log report error has no such user.

[code]

[2021-02-24 02:11] gtarcoder commented on #12778
yes, after I set `alluxio.underfs.s3.signer.algorithm=S3SignerType`,  list object is ok now. But another issue occurs, that is if the file count under the mounted directory is less than 1000, ls command works ok; but if file count is larger than 1000, the ls command will be hanged.

[2021-02-24 02:22] loovia opened #12923 "Could not update owner:group"
I mkdir `/temp/tables` in alluxio, and mount HDFS on there. Then I change owner:group and it's error. error log:
[code]
tools belong to the group tools in my Linux system.

[2021-02-24 06:03] zhouzach commented on #12691
I want to deploy  Alluxio on a Cluster with HA using Zookeeper and Shared Journal Storage.My CDH version is 3.0.0+cdh6.3.2. I build alluxio from source using commond:
[code]
and put the jar to the lib directory under the Alluxio directory.
I edit alluxio-site.properties file:
[code]
When run the following commond:
[code]
got a error:
Failed to determine address for FileSystemMasterClient after 1 a

[2021-02-24 09:40] #12923 closed

[2021-02-24 09:40] #12905 closed

[2021-02-24 18:34] apc999 opened #12933 "Excessive log errors on removing blocks already removed on worker"
**Alluxio Version:**
2.4.1-2

**Describe the bug**

![image](https://user-images.githubusercontent.com/1413748/109048241-b4c0d480-768b-11eb-99f7-7b2efb5cc3d6.png)

**Additional context**

Reported by Stephen Pu

[2021-02-24 18:36] apc999 opened #12934 "Confusing warning log in FileSystemMaster log when inode does not exist"
**Alluxio Version:**
2.4.1-2

**Describe the bug**

![image](https://user-images.githubusercontent.com/1413748/109048492-fb163380-768b-11eb-8608-d9bc554018f2.png)

**Additional context**

Reported by Stephen Pu

[2021-02-24 22:26] LuQQiu opened #12936 "Single master ask followers for snapshot"
**Alluxio Version:**
Alluxio master

**Describe the bug**
In a single master node scenario, the master will still ask followers for snapshots
![image2](https://user-images.githubusercontent.com/25273483/109074004-feb9b280-76ab-11eb-8523-744a6ad25be4.png)

**To Reproduce**
Create a single master cluster with embedded journal, have a large amount of journal write operations against the cluster.
The

[2021-02-24 22:29] #12933 closed

[2021-02-24 23:28] #12852 closed

[2021-02-24 23:32] apc999 commented on #12882
can we close this issue after https://github.com/Alluxio/alluxio/pull/12884 is merged? @jiacheliu3 @LuQQiu

[2021-02-24 23:40] LuQQiu commented on #12882
Yeah, this issue can be closed, @jiacheliu3 Feel free to reopen it if you think it needs deeper investigation

[2021-02-24 23:40] #12882 closed

[2021-02-25 02:41] loovia opened #12937 "Failed to determine address for FileSystemMasterClient after 1 attempts"
**Alluxio Version:**
2.4.1?

**Describe the bug**
Failed to determine address for FileSystemMasterClient after 1 attempts.

**To Reproduce**
change hive table location to `alluxio://masterhost:port/table_location`, and execute hive sql `select count(*) from hive_table`

error log, but the network is connected and execute `select * from hive_table limit 3` was successful:
[code]

[2021-02-25 03:01] loovia commented on #12937
execute `select * from hive_table where condition = 123456` and error log was printed in `master.out`.
[code]

[2021-02-25 06:28] loovia commented on #12937
hadoop hosts add into my alluxio maters iptables and resolved

[2021-02-25 06:28] #12937 closed

[2021-02-25 06:33] leonlee9310 commented on #12709
@loovia Have  u already solved this problem？

[2021-02-25 08:52] jiacheliu3 commented on #12882
I think with #12884 we are now catching the exception so it's fine

[2021-02-25 08:55] jiacheliu3 commented on #12882
I want to make a clarification regarding this.

When Java is running in a container `OperatingSystemMXBean ` may not return correct properties regarding the system (depending on the java version according to your link). That is true, but irrelevant to the UnsatisfiedLinkError. In other words, #12884 addressed the UnsatisfiedLinkError, and upgrading your java version will address the incorrect info

[2021-02-25 18:45] peterroelants opened #12942 "wget --spider on api endpoint results in glassfish error"
**Alluxio Version:**
alluxio version 2.4.1-2

**Context**
I'm trying to use the [Master](https://docs.alluxio.io/os/restdoc/stable/master/index.html) and [Worker](https://docs.alluxio.io/os/restdoc/stable/worker/index.html) REST API to build [Docker container healthchecks](https://github.com/compose-spec/compose-spec/blob/master/spec.md#healthcheck).

E.g. by using:
- `wget --spider http://alluxio

[2021-02-25 20:00] peterroelants opened #12943 "ERROR AlluxioFuse - Failed to mount /mnt/alluxio-fuse when following documentation"
**Alluxio Version:**
alluxio version 2.4.1-2

**Describe the bug**
When trying to [Enable POSIX API access](https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Docker.html#enable-posix-api-access) I get a `ERROR AlluxioFuse - Failed to mount /mnt/alluxio-fuse` error when running the alluxio-fuse container:
[code]

**To Reproduce**
Follow the ["Deploy Alluxio on Docker"](https://doc

[2021-02-26 06:51] loovia commented on #12709
@leonlee9310 yeah~

[2021-02-26 06:56] peterroelants commented on #12943
Issue https://github.com/Alluxio/alluxio/issues/12712 seemed related so I tried adding the `--privileged` flag, however I seem to be getting the same error. See logs at [fuse_privileged.log](https://github.com/Alluxio/alluxio/files/6047900/fuse_privileged.log)

[2021-02-26 12:47] peterroelants commented on #12943
It seems to be both a security and user problem. Adding both `--security-opt apparmor:unconfined` and `--user='root'` to the `run` command seems to fix the problem.

E.g.
[code]

results in:
[code]

[2021-02-26 18:28] peterroelants commented on #12943
I've been debugging a bit and have found the following:

#### Permission to create folder

If I just run:
[code]
Without creating `/tmp/mnt` first I get:
[code]

We can fix this by either:
- Create the folder to mount locally `mkdir -p /tmp/mnt`, or,
- Running as `root` by adding `--user='root'` to our docker run command

#### Permission to mount

After fixing the previous issue we still see:
[cod

[2021-02-26 18:29] peterroelants commented on #12943
This works for me:
[code]

With output:
[code]

[2021-02-26 19:12] peterroelants commented on #12712
I've been debugging this and there are two issues at play:

- Filesystem permissions to `/tmp/mnt`.
- Docker capability to mount folders.

See: https://github.com/Alluxio/alluxio/issues/12943#issuecomment-786817860

The following should work:
[code]

 Alternatively `--privileged` can be replaced with `--security-opt apparmor:unconfined`

[2021-02-26 19:16] bf8086 commented on #12936
The error complains about no follower to take snapshots of the journal. We can turn off the error for single master given no follower is there anyway. On the other hand, users need to know that without snapshots the journal will grow unboundedly and it would result in long startup time and failover time unless they perform manual stop-the-world snapshot.

[2021-02-26 23:48] apc999 commented on #12712
Thanks @peterroelants  for the investigation! I will create a documentation fix to address this issue.

[2021-02-27 00:07] #12934 closed

[2021-02-27 00:09] apc999 commented on #12882
@jiacheliu3  maybe we address this in documentation? Feel free to add a FAQ

[2021-02-27 00:12] apc999 commented on #12889
@jiacheliu3  has this issue been resolved in our PR #12886?

[2021-02-27 02:58] apc999 commented on #12833
After investigation, I believe this is a regression that the `AbsentUfsPathCache` is not respected on getStatus and listStatus calls. Note that for metadata operations (e.g., committing files for Spark/MR/Hive jobs), this can be a huge overhead.

To be specific, the AbsentUfsPathCache is not leveraged when the temp root directory for output is fetched from UFS.
One can find it from the following s

[2021-03-01 05:13] smallx opened #12959 "ERROR: Master exits abnormally when recovering from backup"
**Alluxio Version:**
2.2

**Describe the bug**
Backup succeeded. However, master exits abnormally when recovering from this backup file. Other backup files don't have this problem.

**To Reproduce**
It's not yet clear.

**Urgency**
Non urgent.

**Additional context**
Here are some logs:

[code]

[code]

[2021-03-01 08:58] #11694 closed

[2021-03-01 13:42] jiacheliu3 commented on #11729
Resolved by the PR

[2021-03-01 13:42] #11729 closed

[2021-03-02 10:21] peterroelants opened #12973 "Alluxio Docker volume plugin"
**Is your feature request related to a problem? Please describe.**
I would be great to be able to directly mount an Alluxio FS as a [Docker volume](https://docs.docker.com/storage/volumes/). This would avoid the need to consistently setup an Alluxio FUSE mount in a shared mount folder, and provide convenient access to Alluxio FS from Docker.

**Describe the solution you'd like**
Have a [Docker vol

[2021-03-03 10:34] peterroelants commented on #8982
I'm running into this related warning in a Docker container that I don't know where it's coming from:
[code]

[2021-03-03 11:02] sn00rlacs commented on #12867
@apc999 Sure can give it a try, this is a blocker kind of feature for our use case.

[2021-03-03 19:41] calvinjia opened #12989 "WebUI Metrics graphs all have % as Y axis"
**Alluxio Version:**
2.5.0-SNAPSHOT

**Describe the bug**
The metrics graphs all have Y-axis % (0-100) when some values are raw throughput numbers.

**To Reproduce**
Open the metrics UI page.

**Expected behavior**
The Y-axis should match the type of data being displayed.

**Urgency**
High, many graphs are difficult to read / unreadable.

[2021-03-03 20:57] tieujason330 commented on #12989
@calvinjia for raw throughput numbers, what should the y-axis be labeled as? `Throughput`?

[2021-03-04 00:51] #12989 closed

[2021-03-04 04:28] jiacheliu3 commented on #12804
@qin7972 @calvinjia See https://github.com/Alluxio/alluxio/issues/11214, this has been fixed by higher version of Alluxio >=2.2.0.

[2021-03-04 04:44] gtarcoder opened #12995 "alluxio hangs when listing ceph s3 objects"
Alluxio Version:
What version of Alluxio are you using?
v2.4 stable

Describe the bug
I started alluxio on local machine following this guide https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-Locally.html, and I mount a ceph s3 bucket to alluxio path following this guide:
https://docs.alluxio.io/os/user/stable/en/ufs/Ceph.html

[code]

After mount successfully, it hangs when try to

[2021-03-04 06:28] gtarcoder commented on #12995
the rados gateway has following logs:
QUERY_STRINGs are same in different queries.
[code]

[2021-03-04 10:48] TrafalgarZZZ opened #12998 "Workers can actively deregister itself to leave the Alluxio cluster in kubernetes environment"
**Is your feature request related to a problem? Please describe.**

In kubernetes environment, it is not uncommon to terminate some alluxio-worker pods or migrate them to other nodes to remodify the max storage resources that the Alluxio cluster can use. As far as I know, for now Alluxio uses heartbeats to check whether a worker is lost. I think this is not necessary when Alluxio worker is termina

[2021-03-04 12:29] jiacheliu3 opened #12999 "Alluxio crashes with RocksDB"
**Alluxio Version:**
2.3

**Describe the bug**
The Alluxio master crashes with the dump file (hs_err_pid12345.log file) complaining about native code from RocksDB:

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of th

[2021-03-04 12:32] jiacheliu3 commented on #12999
https://github.com/Alluxio/alluxio/pull/12974 bumps up the RocksDB dependency from 5.18.4 to 6.15.2

[2021-03-04 18:49] bradyoo commented on #12999
Note Jiacheng that this RocksDB dependency was bumped up recently as well for ARM support (so 2.3 is not in 5.18.4)

[2021-03-04 21:35] calvinjia commented on #12998
@TrafalgarZZZ Thanks for suggesting this feature. When we design a tighter integration with K8s for elasticity, this will definitely be considered as an option for scaling down clusters. I expect to see more improvements on the K8s side in upcoming releases.
CC @jiacheliu3

[2021-03-04 21:38] calvinjia commented on #12995
@gtarcoder Thanks for reporting this issue. It looks like it may be due to the pagination portion of the code path being executed. Is there a limit after which you see this issue (1k, 10k files)?
Is it possible that it is just very slow?

[2021-03-04 21:41] apc999 commented on #12973
@cheyang  do you know if https://github.com/fluid-cloudnative/fluid is supporting something like this with Alluxio?
CC @jiacheliu3  FYI, in case we are going to start a K8s/Docker related SIG

[2021-03-04 21:43] apc999 commented on #12959
@smallx  is this PR https://github.com/Alluxio/alluxio/pull/12958 supposed to solve this issue?

[2021-03-04 21:46] calvinjia commented on #12959
@smallx Was there an issue when writing the backup, or do you observe this happening every few backups (ie. the backup write process is creating corrupted backups)?

[2021-03-04 21:50] apc999 commented on #12942
@peterroelants  Hi , it seems you are working on some projects pretty involved with Alluxio & Docker. Thanks for letting us know and reporting these issues! I'd like to have some discussion with you to consolidate the effort to improve Alluxio.
You can find me on Alluxio slack (www.alluxio.io/slack)

[2021-03-04 21:52] calvinjia commented on #12904
@suninuni This should work as you expect. One difference is parquet files are not read sequentially, so the data will not be cached in band of the initial read operations but asynchronously on the worker. Here is some related documentation - https://docs.alluxio.io/ee/user/stable/en/operation/Performance-Tuning.html#async-block-caching

[2021-03-04 21:52] #12904 closed

[2021-03-04 21:53] apc999 commented on #12904
feel free to reopen this issue if you still have questions

[2021-03-04 21:54] apc999 commented on #12885
@shaoxiong2019 do you have more information to help us investigate your issue?

[2021-03-04 22:23] calvinjia commented on #10469
Fixed by #12842

[2021-03-04 22:23] #10469 closed

[2021-03-04 22:24] calvinjia commented on #9917
Fixed by #12842

[2021-03-04 22:24] #9917 closed

[2021-03-05 00:02] #12959 closed

[2021-03-05 01:43] suninuni commented on #12904
@apc999 @calvinjia Actually my test data only 14.45KB, but it still can't be cached asynchronously and show In-Alluxio 100% as expect.

![image](https://user-images.githubusercontent.com/7345529/110053520-89796c00-7d94-11eb-979b-d2af01fa9e86.png)

And according to the increased metrics `Under Filesystem Read`, these data is indeed read from UFS.

In another big table which has 903 parquet file, af

[2021-03-05 03:06] gtarcoder commented on #12995
@calvinjia  I tested limit of the file count, found that the limit is 999. If the file count is larger than 999, it hangs when list objects otherwise it lists successfully.

[2021-03-05 03:39] calvinjia commented on #12995
Got it, it sounds like this is a bug when we need to use the paginated listing. Thanks for verifying!

[2021-03-05 04:00] jiacheliu3 commented on #12998
@calvinjia @TrafalgarZZZ this is a good suggestion. I'm not sure how feasible it is, as in K8s a worker pod can be evicted just based on the memory that it's using, or just to make space for other pods. If there's a way to make the worker aware that it is going to be killed, i think it's feasible that we do this.
@madanadit do you happen to know anything like a pre-shutdown hook in k8s?

[2021-03-05 04:04] cheyang opened #13005 "Failed to distributedLoad data"
**Alluxio Version:**
 alluxio version -r
2.4.1-2-bfff8c6881e5cb045fd1d84c59acba26078bb4d9

**Describe the bug**

Failed to distributedLoad.

[code]

Run distributedLoad, and only 73% is cached
[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe

[2021-03-05 04:32] cheyang commented on #13005
Check alluxio logs
[diagnose_fluid_1614917197.tar.gz](https://github.com/Alluxio/alluxio/files/6088127/diagnose_fluid_1614917197.tar.gz)

[code]

The properties:

[code]

[2021-03-05 05:23] madanadit commented on #12998
@jiacheliu3 we use a pre-stop hook for the FUSE daemonset: https://github.com/Alluxio/alluxio/blob/master/integration/kubernetes/helm-chart/alluxio/templates/fuse/daemonset.yaml#L107

[2021-03-05 05:34] jiacheliu3 commented on #12998
@madanadit Thanks! Assigning the issue to myself then, we shall revisit this in the near future.

[2021-03-05 10:01] xieydd opened #13009 "Can't visit master and worker web page"
**Alluxio Version:**
What version of Alluxio are you using?
[code]
**Describe the bug**
A clear and concise description of what the bug is.
When i run alluxio in macos local, i can't visit master and worker , and i already set `alluxio.web.ui.enabled=true` in alluxio-site.properties
**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)
[code]
**Expected behavior

[2021-03-05 21:51] yuzhu commented on #12833
@lilyzhoupeijie @cheyang  Taking a deeper look into the issue here. What is your value for the configuration `alluxio.user.file.metadata.sync.interval`?

[2021-03-08 04:58] yuzhu commented on #12833
Some update after I took a closer look.
@apc999 you are correct, the absent cache is currently not used in sync situations. I am not sure it should be. When the semantics of the sync interval asks for a sync to be performed, we have to sync. It does not matter that we saw this file not existing on the UFS before.

Currently, the only use of the absent cache is when sync is not needed and loadMetad

[2021-03-08 07:44] fantastic2085 opened #13022 "As for turning on the short circuit function, the memory capacity of the worker decreases"
**Alluxio Version:**
What version of Alluxio are you using?
2.4.1-1

**Describe the bug**
A clear and concise description of what the bug is.
**The following figure shows the memory capacity of the worker after the short circuit function is turned on:**
![image](https://user-images.githubusercontent.com/4116773/110288651-4f71c980-8023-11eb-9825-88dccdd69294.png)
**Here is the alluxio-worker-daemon

[2021-03-08 08:25] gaozhenhai opened #13023 "Unable to resolve nameservices for HA HDFS when HA HDFS in kubernetes"
**Alluxio Version:**
What version of Alluxio are you using?
2.4.1-1

**Describe the bug**
A clear and concise description of what the bug is.
1、High availability HDFS is deployed in Kubernetes with the following configuration file
[core-site.txt](https://github.com/Alluxio/alluxio/files/6099906/core-site.txt)
[hdfs-site.txt](https://github.com/Alluxio/alluxio/files/6099910/hdfs-site.txt)

2、Allxux

[2021-03-09 03:02] XuankuF opened #13030 "Ranger cannot manage alluxio UFS"
hive table location is `alluxio://`. The user has privileges on this HDFS location, but does not have privileges on `alluxio://`

[code]

[2021-03-09 10:03] peterroelants opened #13035 "REST Proxy API documentation for stable, 2.5, and 2.4 is empty"
**Page**
- https://docs.alluxio.io/os/restdoc/2.4/proxy/index.html
- https://docs.alluxio.io/os/restdoc/2.5/proxy/index.html
- https://docs.alluxio.io/os/restdoc/stable/proxy/index.html

**Summary**
The REST Proxy API for version [2.4](https://docs.alluxio.io/os/restdoc/2.4/proxy/index.html) and [2.5](https://docs.alluxio.io/os/restdoc/2.5/proxy/index.html)  and [stable](https://docs.alluxio.io/os

[2021-03-09 17:28] ZhuTopher commented on #13022
Hey thanks for submitting this issue! I'm going to look into this for you, but before I do are you using Helm to generate those manifest files? If so could you provide the `config.yaml` you are using when you install the alluxio Helm chart? Both for short-circuit enable and disabled if you can.

Also if you are using Helm, could you run `kubectl get pvc` and `kubectl get pv` when you have short-ci

[2021-03-09 17:35] ZhuTopher commented on #13023
Hey thanks for submitting this issue! I'll look into this for you.

Did you install Alluxio in k8s using Helm? If so could you provide the `config.yaml` you used when running `helm install` for the Alluxio chart?

Could you also provide a few more details about how you installed HDFS on your k8s cluster? For example, if you used Helm please provide the values used and the chart name.

[2021-03-10 04:04] hycsam commented on #12483
@LuQQiu Thanks for the fix, validated the issue has been resolved! Closing the ticket

[2021-03-10 04:04] #12483 closed

[2021-03-11 13:53] gaozhenhai commented on #13023
@ZhuTopher I used Kubectl to create Aluxio through the Manifest Files. The manifest files as follows
[alluxio-configmap.yaml.txt](https://github.com/Alluxio/alluxio/files/6123365/alluxio-configmap.yaml.txt)
[alluxio-master-service.yaml.txt](https://github.com/Alluxio/alluxio/files/6123366/alluxio-master-service.yaml.txt)
[alluxio-master-statefulset.yaml.txt](https://github.com/Alluxio/alluxio/file

[2021-03-11 14:49] yuzhu commented on #12751
@amaliujia are you still working on this issue? let me know if you are running into challenges.

[2021-03-11 15:15] yuzhu commented on #12398
It actually does another check and will return FileNotFound exception if it is not a directory.

[2021-03-11 18:12] amaliujia commented on #12751
@yuzhu

I lowered priority of this request. Have you seen an immediate usage for Google Cloud Data Catalog?

[2021-03-11 19:56] ZhuTopher commented on #13023
Could you share the YAML files for your HA HDFS (in particular the service YAML)?

Also if possible could you maybe run a manual query against your HDFS cluster in k8s using the k8s Service name in the URI to check that it works for non-Alluxio applications? Thank you!

[2021-03-12 02:31] maobaolong opened #13048 "Reuse lock resource in lockPool to reduce high frequency new object"
**Is your feature request related to a problem? Please describe.**

Now, alluxio LockPool is a great feature to reduce heap space while invent fine grain lock, but it can new lock resource and drop it in a high frequency.

**Describe the solution you'd like**
Use Resource pool to solve this issue.

**Describe alternatives you've considered**

Add a Resource pool in the lockPool, let's say it `resu

[2021-03-12 05:45] wonderisland opened #13050 "alluxio fuse read data error"
先通过alluxio fuse mount alluxio的目录， 然后上层通过go read file， alluxio fuse进程显示异常如下
java.lang.IndexOutOfBoundsException: Index: 4, Size: 4
        at java.util.ArrayList.rangeCheck(ArrayList.java:659)
        at java.util.ArrayList.get(ArrayList.java:435)
        at alluxio.client.file.AlluxioFileInStream.triggerAsyncCaching(AlluxioFileInStream.java:389)
        at alluxio.client.file.AlluxioFileInStream.c

[2021-03-12 07:12] fantastic2085 commented on #13022
My issue contains a TXT file, which is actually yaml file. GitHub can't upload yaml file

The following figure is the PV PVC of aluxio
![image](https://user-images.githubusercontent.com/4116773/110905139-fd8fb300-8344-11eb-9010-f5e79361f61a.png)

[2021-03-12 07:14] fantastic2085 commented on #13022
My issue contains a TXT file, which is actually yaml file. GitHub can't upload yaml file

The following figure is the PV PVC of aluxio
![image](https://user-images.githubusercontent.com/4116773/110905139-fd8fb300-8344-11eb-9010-f5e79361f61a.png)

[2021-03-12 09:11] peterroelants opened #13052 "alluxio/alluxio-fuse:2.5.0 Docker image fails to run"
**Alluxio Version:**
Alluxio version: 2.5.0-71bca9f4f3d13fd687a13c4d15656462021403f6 from `alluxio/alluxio-fuse:2.5.0` Docker image.

**Describe the bug**
When running the container I get a the following error:
[code]

It seems like the JNI cannot be linked.

**To Reproduce**
Run [this docker-compose file](https://gist.github.com/peterroelants/f3ceb4d972c2f819c37d742b3a8602f3#file-alluxio-fuse-com

[2021-03-12 09:17] peterroelants commented on #12943
Created a PR at: https://github.com/Alluxio/alluxio/pull/13053

[2021-03-12 09:28] peterroelants commented on #13052
I think it's because the `Dockerfile.fuse` actually deletes the FUSE JNI libs: https://github.com/Alluxio/alluxio/blob/master/integration/docker/Dockerfile.fuse#L32

[2021-03-12 09:30] peterroelants commented on #13052
Filed a PR that keeps the libraries in the ima

I filed a PR to keep the FUSE JNI libraries in the image: https://github.com/Alluxio/alluxio/pull/13054

[2021-03-12 09:57] peterroelants opened #13055 "Missing jar: alluxio-integration-fuse-2.5.0-jar-with-dependencies.jar"
[`branch-2.5/integration/fuse/bin/alluxio-fuse#L20`](https://github.com/Alluxio/alluxio/blob/d2f663ea19094673bb01dc8549f1dce54ae269b1/integration/fuse/bin/alluxio-fuse#L20) references a `alluxio-integration-fuse-${VERSION}-jar-with-dependencies.jar`, which is neither to be find in the `alluxio/alluxio-fuse:2.5.0` docker image, nor in the [2.5.0 tar](https://downloads.alluxio.io/downloads/files/2.5

[2021-03-12 19:17] apc999 commented on #13052
Thanks @peterroelants .

I merged your patch and also fixed the [docker image](https://hub.docker.com/layers/alluxio/alluxio-fuse/2.5.0/images/sha256-e4374a50430757707fb7dcf68891cc594e4d7dab061935480b596d1b952a734f?context=explore) by adding the missing file.

Let me know if you still see any issues using alluxio/alluxio-fuse:2.5.0

[2021-03-12 19:17] #13052 closed

[2021-03-12 19:39] #12712 closed

[2021-03-12 19:39] #12943 closed

[2021-03-12 20:31] ZhuTopher commented on #13022
@fantastic2085 I checked your linked files previously, they looked good to me.

I think I found what is likely going to be the case for the behaviour that you observed, but I will go verify this on my own environment too. For Kubernetes volume mounts of type `emptyDir` with the `medium: "Memory"`, the listed available space will always be [**half the current node's available memory**](https://kube

[2021-03-13 00:43] apc999 commented on #13055
hi @peterroelants  it is renamed to `/opt/alluxio/integration/fuse/alluxio-fuse-2.5.0.jar` in docker image and tarball.

[2021-03-13 01:17] ZhuTopher commented on #13022
I just finished testing with the following set-up:

- 3 Kubernetes nodes, 1 master and 2 worker nodes
  - Master node is not schedulable for pods
  - One worker node is labeled `worker: false`
  - One worker node is labled `worker: true`
  - Both worker nodes are AWS EC2 M5.2xLarge instances (8 vCPUs, 32 GiB memory)
- Alluxio master `StatefulSet` with `nodeSelector: worker: "false"`
- Alluxio work

[2021-03-13 05:55] peterroelants commented on #13055
I see, I'll be using that.

Just so you know, that code is from `branch-2.5`, which I assumed was the 2.5.0 branch. I guess this is not actually the release branch, and this a more up-to-date branch that will become `2.5.1` and so on?

[2021-03-13 06:09] apc999 commented on #13055
branch-2.5 is the branch hosting 2.5.0, and bug fixes  cherry-picked from master branch.
meanwhile, we will a new edge release from bleeding edge of master branch. it will be named like 2.5.0-1, 2.5.0-2 and so on until we cut branch-2.6.

So, if you want to get a more up-to-date branch, today it is branch-2.5. but shortly we will have other branches like release-2.5.0-1

[2021-03-13 06:13] peterroelants commented on #13055
Got it. Thanks for clarifying.

[2021-03-13 06:13] #13055 closed

[2021-03-13 06:17] apc999 opened #13062 "Make LRUCacheEvictor non-deterministic"
**Alluxio Version:**
2.6.0-SNAPSHOT

**Describe the bug**
[LRUCacheEvictor](https://github.com/Alluxio/alluxio/blob/master/core/client/fs/src/main/java/alluxio/client/file/cache/evictor/LRUCacheEvictor.java) is deterministic in the setting of multi-threading. To be specific, if thread t1 and t2 calling its `evict()` method, they will get the same victim page to evict. When concurrency level is hig

[2021-03-13 08:00] cheyang commented on #13050
Please add commit id？ which branch did you reproduce this issue?

[2021-03-13 08:09] xieydd commented on #13050
Reprodece env:
branch: origin/release-2.4.1-2
commit id: bfff8c6881e5cb045fd1d84c59acba26078bb4d9
File size 512 Mb

[2021-03-13 17:31] gaozhenhai commented on #13023
**Here is the YAML files that I used to create HA HDFS**
[hdfs-client.yaml.txt](https://github.com/Alluxio/alluxio/files/6135183/hdfs-client.yaml.txt)
[hdfs-config.yaml.txt](https://github.com/Alluxio/alluxio/files/6135185/hdfs-config.yaml.txt)
[hdfs-scripts.yaml.txt](https://github.com/Alluxio/alluxio/files/6135187/hdfs-scripts.yaml.txt)
[journalnode.yaml.txt](https://github.com/Alluxio/alluxio/f

[2021-03-14 07:49] apc999 commented on #13050
@xieydd what is the Alluxio block size you are using?
`bin/alluxio getConf alluxio.user.block.size.bytes.default`

[2021-03-14 08:06] apc999 commented on #13050
can you also run `bin/alluxio fs stat /path/to//data/benchmark/data/0.5G_9.txt`  using Alluxio CLI?
I want to check how many blocks this file has in Alluxio land

[2021-03-14 09:14] JySongWithZhangCe commented on #13062
I'm interest in this bug, I'll try to solve this.

[2021-03-14 09:23] JySongWithZhangCe opened #13065 "Add migrating progress on distributedCp job"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I run `distributedCp` command for migrating data from local to remote CEPH.

**Describe the solution you'd like**
I want to see the migrating progress

**Describe alternatives you've considered**
`alluxio job statu -v` could show the migration progress.

**Urgency**
Important, it's hardly on managing data

[2021-03-14 11:17] xieydd commented on #13050
@apc999  Log in here:
[code]

I find when i run dataload job in fluid, not all data loading correctly, for example log show 0.5G_307.txt is full loaded, but in master show loader percent is 0;
[code]

This is dataload log:  [dataload.log](https://github.com/Alluxio/alluxio/files/6136542/dataload.log)

When i read full loaded data in alluxio via `tail -n 100 ` will be no error, but when i read 0% l

[2021-03-14 15:41] JySongWithZhangCe commented on #12690
@maobaolong @timmylicheng I have seen your docs, and I find that both your design and my design are not consistent with other data operation commands, like `alluxio table <db name> <table name> [-d <definition>]`. I suggest we should have more discussion and make a consistent design.

[2021-03-15 02:29] gtarcoder commented on #12995
hi @calvinjia  ，wondering when will this bug be fixed :)

[2021-03-15 03:40] sunnyszy commented on #13062
/assign @sunnyszy

[2021-03-15 03:43] sunnyszy commented on #13062
Hi @JySongWithZhangCe, sorry I started to work on this before seeing your comments. And also sorry I was not familiar with the process (assigning a ticket at the beginning) 😂.

I'll submit a pull request. If you have commits, maybe you can also upload them and I'm happy to do a merge.

[2021-03-15 07:47] jiacheliu3 opened #13069 "Alluxio worker on K8s does not support shared storage"
**Is your feature request related to a problem? Please describe.**
As of Alluxio 2.5, the Alluxio workers assume the tiered storage directories (disks) to be exclusively owned by the Alluxio worker.  For example the tier 0 dir is `/data/alluxio`. Then the Alluxio worker is writing to `/data/alluxio/alluxioworker`.

For that reason, Alluxio workers on K8s only support the PV types of `local` and `h

[2021-03-15 07:49] jiacheliu3 commented on #13069
@nirav-chotai Feel free to add to the description if I missed anything regarding the use case, thanks!

[2021-03-15 07:49] jiacheliu3 commented on #13069
@madanadit Do you think it makes sense to you?

[2021-03-15 07:51] jiacheliu3 opened #13070 "getConf ignores ALLUXIO_*_JAVA_OPTS"
**Alluxio Version:**
2.5

**Describe the bug**
The current implementation of `getConf` locally will only look at the `alluxio-site.properties` without looking at the java opts. The properties defined in the java opts will not be shown. There's no good way to check if they are taking effect in Alluxio or not.

In a containerized env like K8s, people rely on the env vars like ALLUXIO_JAVA_OPTS to co

[2021-03-15 07:54] jiacheliu3 opened #13071 "Cannot start worker after shrinking the storage size"
**Alluxio Version:**
2.5

**Describe the bug**
If I have a worker that I've been using, then I shrink the tiered storage, I may not be able to start it. The worker scans the tiered storage and finds more than its capacity, and does not know what to do other than crashing. An example of error looks like below:
[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as p

[2021-03-15 08:18] shuaiyy opened #13073 "alluxio-fuse support local disk cache"
**Is your feature request related to a problem? Please describe.**

we use alluxio + alluxio-fuse to accelerate s3 read, in AI training jobs;  for one dataset size is 10 ~ 300GB ;
when alluxio cluster space used 99%, alluxio-fuse read become 2~10X slower  than s3 read directly ;

**Describe the solution you'd like**
I hope alluxio-fuse can cahce the file into local disk, like s3fs;  just for read

[2021-03-15 08:25] peterroelants commented on #12943
Fix this by https://github.com/Alluxio/alluxio/pull/13074

[2021-03-15 09:15] peterroelants commented on #13052
Thanks, I can confirm that the files are now in the Docker image and that the FUSE container seems to work when running with `alluxio.fuse.jnifuse.enabled=true`.

[2021-03-15 09:47] peterroelants opened #13075 "Healthcheck endpoints for Alluxio services"
**Is your feature request related to a problem? Please describe.**

Healthcheck API endpoints could be of benefit because of two mean reasons:
- Observability on the status of the service
- Usage of dependency conditions when starting service. (e.g. in docker-compose [`depends_on`](https://github.com/compose-spec/compose-spec/blob/master/spec.md#depends_on) could be used to wait on another service

[2021-03-15 09:49] peterroelants commented on #13075
An example of using the existing WebUI REST enpoints would for example look like:

`healthcheck.sh` file:
[code]

Which in docker-compose is referenced as:
[code]

[2021-03-15 09:55] peterroelants commented on #12942
Related feature request on providing health-checks for different Alluxio services: https://github.com/Alluxio/alluxio/issues/13075

[2021-03-15 15:17] xieydd commented on #13071
I am not shrinking the tiered storage, but i still meet this error in version 2.4.1. @jiacheliu3

[2021-03-15 19:11] calvinjia commented on #12995
@gtarcoder Unfortunately I don't think anyone is working on this at the moment. If you could submit a patch that would be great!

[2021-03-15 19:47] frankobe opened #13080 "Failed ls a directory with mismatched inode state"
**Alluxio Version:**
2.4.0

**Describe the bug**
`bin/alluxio fs ls/rm/unmount/startSync /mount-hdfs-dir` all be blocked by the following exception

[code]

**To Reproduce**
Unclear right now. Only `bin/alluxio fs mount --shared --readOnly` is performed on the dir

**Expected behavior**

**Urgency**
High as there is any solution except for wiping out the entire Alluxio metastore

[2021-03-15 21:04] yuzhu commented on #12751
@amaliujia no problem. I am only asking because this would make a good starter project for another member of the team if you do not plan to work on it.  That's why i wanted to check with you.

[2021-03-15 21:09] amaliujia commented on #12751
@yuzhu

Please feel free to take this one :) This task has lower priority to me so I am not working on this in near term.

[2021-03-15 23:24] madanadit commented on #13069
@jiacheliu3 In this use case, do you imagine Ceph managing a pool of storage on the K8s cluster itself? The biggest concern with this architecture is the loss of locality with a worker's tiered storage directory; which could be prohibitive.

[2021-03-16 01:44] #12833 closed

[2021-03-16 02:16] xieydd commented on #13005
same issue: https://github.com/fluid-cloudnative/fluid/issues/633

[2021-03-16 03:46] jiacheliu3 opened #13086 "Failed to free space for block"
**Alluxio Version:**
2.4.1

**Describe the bug**
Failed to free space for block
[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
Add any other context about the problem here.

[2021-03-16 03:47] jiacheliu3 commented on #13071
@xieydd you faced a different issue. The stack traces are different. See https://github.com/Alluxio/alluxio/issues/13086

[2021-03-16 03:47] gtarcoder commented on #12995
@calvinjia  got it, I will work on it in spare time.

[2021-03-16 03:47] jiacheliu3 commented on #13086
@xieydd What is your tiered storage configuration like? What do you see in the physical directories?

[2021-03-16 03:52] jiacheliu3 commented on #13069
In the use case for @nirav-chotai the PV is from Ceph and it has the ability to resize. Yes I think Ceph is managing a pool of PVs (Nirav pls correct me if I'm wrong).

Yes a loss of locality is inevitable in this setup, but by not having local storage on the worker physical nodes, that's the best one can do I guess.

[2021-03-16 05:45] nirav-chotai commented on #13069
@jiacheliu3, you are right. Ceph clusters are managed by Rook within the same Kubernetes Cluster where Alluxio is running. In terms of data locality, we might lose that only to the node, however, data still be within the same data center, infrastructure within other nodes where disks are available. Having around 100Gbps network, not having data local to the node is not going to have much impact.

[2021-03-16 06:38] jiacheliu3 commented on #13070
One easy workaround is actually:
1. Find out the process with `jps`
2. `jinfo <pid>` to see all the java properties for this process

[2021-03-16 09:03] fantastic2085 commented on #13022
@ZhuTopher
Thank you very much for your answer!
As shown in the figure below, we use k8s version:
![image](https://user-images.githubusercontent.com/4116773/111282668-34cdcf00-8679-11eb-906c-6868febf1218.png)

On k8s version 1.18.15, the sizelimit field doesn't seem to work

[2021-03-16 09:05] fantastic2085 commented on #13022
The following figure shows the label of k8s worker node： @ZhuTopher
![image](https://user-images.githubusercontent.com/4116773/111283220-d9e8a780-8679-11eb-8127-efda0a33c645.png)

[2021-03-16 09:16] fantastic2085 commented on #13022
@ZhuTopher
In fact, the reason why I ask this question is: because memory is a very expensive storage, it costs a lot of money for customers, so customers need to know the usage of memory and where to use it。
Alluxio provides a Web UI. On the Web UI, there is a storage usage summary. Please look at the picture. From the picture, we can see that the space capacity is 128. What I want to express is

[2021-03-16 11:38] yuzhu commented on #11509
fixed via #11504

[2021-03-16 11:38] #11509 closed

[2021-03-16 12:01] yuzhu commented on #12129
verified to be working.

[2021-03-16 12:01] #12129 closed

[2021-03-16 12:04] yuzhu commented on #13080
@frankobe could you provide any more detail on how you might have arrived at this state?

[2021-03-16 12:10] yuzhu commented on #12703
@JySongWithZhangCe have you verified the fix works for you? if so, we can close this issue

[2021-03-16 14:06] yuzhu opened #13087 "Any files only in alluxio will trigger a series of warnings when opened or listStatus runs on them"
**Alluxio Version:**
master

**Describe the bug**
if /a is MUST_CACHE, then ls /a or open /a will cause two warnings below in the log, causing unnecessary worry by the user

[code]

**To Reproduce**

**Expected behavior**
No Warnings should be produced in the log

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
Add any other context about the problem here.

[2021-03-16 17:35] ZhuTopher commented on #13022
Hey, thanks for bringing this up! Yes I believe you're understanding is correct; we'd need to make some changes to properly reflect the worker memory when deployed with a `hostPath` `volumeMount` since Kubernetes currently doesn't accurately report the volume memory capacity with `sizeLimit`.

Unfortunately I can't really say _when_ those changes might be since this is a very Kubernetes-specific a

[2021-03-16 17:47] ZhuTopher commented on #13022
Regarding your other two comments:

1. I'm not sure what the Kubernetes behaviour was prior to adding `sizeLimit` since there's no mention of the behaviour in the [v1.18.x k8s docs](https://v1-18.docs.kubernetes.io/docs/concepts/storage/volumes/#emptydir).

From [this Openshift thread](https://bugzilla.redhat.com/show_bug.cgi?id=1422049) it seems like the volume will have capacity equal to its rep

[2021-03-17 02:37] fantastic2085 commented on #13022
@ZhuTopher
Question 1: in **alluxio-worker-daemonset.yaml** file, both alluxio worker and alluxio job worker are emptydir with the name of men. In other words, will alluxio job worker also use this emptydir?

Question 2: the number of CPU cores of nodes in my k8s cluster is the same, but the memory is different. **The memory of two computers is 64G, and the memory of two computers is 32G**. Accord

[2021-03-17 06:56] fantastic2085 commented on #13022
Question 3：
**Environmental description**:
**namespace**: gaozh
**Aluxio cluster**：
![image](https://user-images.githubusercontent.com/4116773/111422132-26d78700-8729-11eb-88fe-36ef73132a5c.png)
**k8s cluster**：
![image](https://user-images.githubusercontent.com/4116773/111423915-f6451c80-872b-11eb-9c47-b678f86b1e39.png)

**testing procedure**:
(1) The container named memlimit is deployed on the k

[2021-03-17 07:01] isLiuXinxin commented on #12709
Could you tell me where did you get the 3.1 HDFS UFS JAR?

[2021-03-17 07:06] loovia commented on #12709
@isLiuXinxin `https://docs.alluxio.io/os/user/stable/en/ufs/HDFS.html`搜`Mount HDFS with Specific Versions`

[2021-03-17 09:35] isLiuXinxin commented on #12709
Could not resolve dependencies for project org.alluxio:alluxio-underfs-hdfs:jar:2.4.0: Failed to collect dependencies at org.alluxio:alluxio-shaded-hadoop:jar:3.1.0
Could you send an email with alluxio-underfs-hdfs-3.1.0-2.4.x.jar?  isliuxinxin@yeah.net

[2021-03-17 15:54] yuzhu commented on #12553
@jenoudet could you take a look at this issue?

[2021-03-17 17:24] LuQQiu opened #13090 "Support JNI Fuse touch command"
**Alluxio Version:**
Alluxio master - 2.6.0-SNAPSHOT

**Describe the bug**
Running `touch` command with JNI-Fuse mount point fails.
[code]
Looks like JNI-Fuse need to support `setattr` operation to be able to get `touch` to work

**To Reproduce**
- Create an Alluxio cluster
- Create a fuse mount point `fuseMount` and grant permissions
- Mount JNI-Fuse with `integration/fuse/bin/alluxio-fuse mount