[2021-03-17 17:56] ZhuTopher commented on #13022
@fantastic2085

**Question 1**: Yes both the `alluxio-worker` and `alluxio-job-worker` are sharing the `emptyDir` volume. I don't personally know if this type of usage is intended by Kubernetes for memory-backed volumes but that is how the Pod is currently defined.

**Question 2**: Yes, since in your version of Kubernetes `sizeLimit` is not supported then the memory-backed `emptyDir` volumes will

[2021-03-17 18:02] ZhuTopher commented on #13022
Also regarding this comment:

I agree this is a very relevant issue and would love to address it. However it is not something which we directly can cleanly solve as this is the result of the nuances of how Kubernetes' memory-backed `emptyDir` volumes behave. Furthermore, Alluxio is designed to be flexible in various deployment configurations which include non-Kubernetes deployments. That's why I'm

[2021-03-18 10:53] xieydd commented on #13050
@alluxio-bot reopen the issue. The error is almost same after the patch to version 2.4.1-2

[2021-03-18 17:33] ZhuTopher opened #13096 "Alluxio short-circuit worker volume is not writable when using Helm chart"
**Alluxio Version:**
What version of Alluxio are you using?

Version 2.5.0

**Describe the bug**
A clear and concise description of what the bug is.

See PR #13061 for the original discussion, but when using Alluxio worker in Kubernetes with short-circuit enabled the Daemonset template mounts the directory `/opt/domain`. However when doing so the worker would crash with the following error:

[code

[2021-03-18 17:34] ZhuTopher commented on #13096
From [the original PR](https://github.com/Alluxio/alluxio/pull/13061#issuecomment-800497964)

[2021-03-18 18:07] apc999 opened #13097 "Change enum fields in ClientIOOperation.java to be upper case"
To follow [Java code convention](https://docs.oracle.com/javase/tutorial/java/javaOO/enum.html), it should look like

[code]

Note that, these enums are also used in CLI API,
to avoid break backward compatibility,
The fix should be similar to
https://github.com/Alluxio/alluxio/pull/13008/
by adding `converter = OperationConverter.class` for `"--operation"`

[2021-03-18 18:31] ZhuTopher commented on #13023
I'm not extremely familiar with HDFS nor have I tested in a recreated environment to yours, but I think I understand why you're seeing that error in Alluxio.

You used Kubernetes Service DNS to define the HDFS name nodes in `hdfs-config.yaml`:
[code]

But this hostname `hdfs-k8s` is only visible for the HDFS cluster (because it's defined in this config). For any other application (like Alluxio) th

[2021-03-18 22:42] apc999 commented on #13070
@jiacheliu3  are you asking for a switch on `getConf` to turn on/off loading `ALLUXIO_JAVA_OPTS` ?

[2021-03-19 01:49] jiacheliu3 commented on #13070
No I mean `getConf` will show you `alluxio-properties.site` + `ALLUXIO_JAVA_OPTS` + `ALLUXIO_USER_JAVA_OPTS`, but when you are running this command the intention may be to check the properties loaded into the worker/job worker. We currently don't have a good way (`jinfo` is, maybe) to see that.

[2021-03-19 02:04] fantastic2085 commented on #13022
@ZhuTopher
Alluxio needs to be close to cloud native. In my opinion, it is necessary to integrate alluxio into k8s. I hope alluxio can pay attention to it!

[2021-03-19 02:13] fantastic2085 commented on #13022
@ZhuTopher
From the above answer, on the premise that sizelimit takes effect, there is a relationship between request / limit and volume men of aluxio worker. The relationship is that the capacity of volume men of aluxio worker is less than or equal to request / limit. Is this correct?

[2021-03-19 02:15] fantastic2085 commented on #13022
@ZhuTopher
There is another issue(https://github.com/Alluxio/alluxio/issues/13023). I hope we can come to a conclusion, which is also very important for us!

[2021-03-19 02:36] gaozhenhai commented on #13023
I have no problem defining the name node of HDFS in hdfs-config.yaml using the headless servier of HDFS, since all my applications are deployed in Kubernetes, including Alluxio

If through the hdfs://my-hdfs-namenode.gaozh.svc.cluster.local/alluxio visit HA HDFS may appear the following two questions：
1、HA HDFS NameNode includes active and standby nodes. Access to HA HDFS using NameNode's service

[2021-03-19 05:42] smallx commented on #12959
@calvinjia
Yes, we have some backup files with this problem, others don't.
The cause of the backup file corruption has not been found, but it has been worked around by https://github.com/Alluxio/alluxio/pull/12958.
Now, HA masters can be recovered from backup file normally.

[2021-03-19 05:44] smallx commented on #12959
@calvinjia
Yes, we have some backup files with this problem, others don't.
The cause of the backup file corruption has not been found, but it has been worked around by https://github.com/Alluxio/alluxio/pull/12958.
Now, HA masters can be recovered from backup file normally.

[2021-03-19 05:45] smallx commented on #12959
@calvinjia
Yes, we have some backup files with this problem, others don't.
The cause of the backup file corruption has not been found, but it has been worked around by https://github.com/Alluxio/alluxio/pull/12958.
Now, HA masters can be recovered from backup file normally.

[2021-03-19 05:46] smallx commented on #12959
@apc999 Yes. To workaround this problem.

[2021-03-19 16:47] yuzhu commented on #13087
Decided to keep the second exception as it explicitly mentions FileDoesNotExistException

[2021-03-19 16:47] #13087 closed

[2021-03-19 16:51] ZhuTopher commented on #13022
@fantastic2085

Yes, the effective maximum capacity of the `mem` volume can be thought of as `Math.floor(Node's available RAM/2, sizeLimit, Pod requested memory limit)` where `sizeLimit` is infinite if not defined.

[2021-03-19 17:40] ZhuTopher commented on #13023
I see, thanks for explaining the concept of standby and active name nodes to me!

I just noticed that we have the property `alluxio.underfs.hdfs.configuration=/secrets/hdfsconfig/core-site.xml:/secrets/hdfsConfig/hdfs-site.xml` which you added in `alluxio-configmap.yaml`. So Alluxio _should_ have access to the nameservice information. I'll look into how that field is being used and make some chang

[2021-03-19 19:18] ns1123 commented on #13023
You need to include -Dalluxio.master.mount.table.root.option.alluxio.underfs.hdfs.configuration=/secrets/hdfsconfig/core-site.xml:/secrets/hdfsConfig/hdfs-site.xml

This is how you specify that the configs are specific to the root mount. I'm not sure if passing it in without the prefix will work.

[2021-03-19 19:48] ZhuTopher commented on #13023
@gaozhenhai Something that was brought to my attention, can you `kubectl exec` into your Alluxio master Pod(s) and show the permissions of the mounted HDFS configs? eg:
[code]

I suspect those will be owned by `root:root` and aren't readable by the Alluxio process (which runs as `1000:1000`). This is an issue about our Helm templates which we are fixing in #13061. In the meantime you can adjust yo

[2021-03-20 00:34] #13005 closed

[2021-03-20 15:51] gaozhenhai commented on #13023
@ns1123  I have updated alluxio-configmap.yaml according to the configuration you said, but the problem still exists
[code]

[2021-03-20 16:21] gaozhenhai commented on #13023
@ZhuTopher The permissions for the mounted HDFS configuration are as follows
![image](https://user-images.githubusercontent.com/13032378/111876198-945d0f00-89d8-11eb-8981-444bc905f73e.png)

I update the spec.template.spec.securityContext fields, and restart the pod, but still an error: java.net.UnknownHostException: hdfs-k8s
[code]
I'm not sure if it's a permission issue, because Aluxio doesn't pr

[2021-03-22 04:51] jiacheliu3 commented on #13096
@ZhuTopher if this is resolved by https://github.com/Alluxio/alluxio/pull/13061 we can close it.

[2021-03-22 07:26] jiacheliu3 commented on #12703
I verified with 2.5 and this works.

[2021-03-22 07:26] #12703 closed

[2021-03-22 14:11] mostrovoi opened #13110 "Alluxio community helm chart does not get installed in minikube"
**Alluxio Version:**

alluxio helm : alluxio-charts/alluxio

**Describe the bug**

I try to install alluxio helm chart with the following command:

helm install alluxio alluxio-charts/alluxio
The chart starts to get installed but  when I type kubectl get po I see the following:

  Type     Reason     Age                     From               Message
  ----     ------     ----                    -

[2021-03-22 18:17] #13096 closed

[2021-03-23 00:24] LuQQiu opened #13112 "JNI-FUSE async release() cause problem in write-then-read and write-then-ls workloads"
**Alluxio Version:**
2.6.0-SNAPSHOT

**Describe the bug**
JNI-FUSE release() is asynchronous which cause problem in write-then-read and write-then-ls workloads.
create a file -> write to the created file -> release() is called but doesn't finish -> getAttr() file size = 0
create a file -> write to the created file -> release() is called but doesn't finish -> open() file failed because file is not

[2021-03-23 01:30] #13112 closed

[2021-03-23 01:43] apc999 commented on #13050
@xieydd  can you post the error message again?

[2021-03-23 01:43] apc999 commented on #13050
and I will release 2.5.0-1 and make an another try?

[2021-03-23 01:54] xieydd commented on #13050
@apc999 This is the fuse pod log, is it helpful. [new-fuse.log](https://github.com/Alluxio/alluxio/files/6186353/new-fuse.log)

[2021-03-23 02:37] xieydd commented on #13050
2.5.0-1 release will contain the optimization in release-2.4.1-2? If yes, i will make a try : )

[2021-03-23 14:58] jiacheliu3 commented on #12889
Resolved in https://github.com/Alluxio/alluxio/pull/12874

[2021-03-23 14:58] jiacheliu3 commented on #12447
Resolved by https://github.com/Alluxio/alluxio/pull/12874

[2021-03-23 14:58] #12447 closed

[2021-03-24 03:00] liupan664021 opened #13118 "Slow start of Alluxio client in Word Count"
**Alluxio Version:**
2.4.1

**Describe the bug**
When I test wordcount task using mapreduce on alluxio, I found that it takes longer for map containers which read from alluxio to finish compared with those read from hdfs. More precisely, after the container starts, containers read from alluxio need about more 4~8 seconds to initialize and then read the first record.

It seems a slow start of allux

[2021-03-24 06:04] ZacBlanco commented on #13118
@liupan664021 I think all the costs up until the shutdown are necessary. It's possible they could be optimized, but setting up the channel and retrieving the configuration is necessary for the client in order for all cluster default configuration to be used. Currently this cannot be configured.

Shutting down the channel might arguably be something that can be done off the critical path in order t

[2021-03-24 14:25] JySongWithZhangCe commented on #12703
Thx @yuzhu and @jiacheliu3 !

[2021-03-25 01:15] #12830 closed

[2021-03-25 06:06] xieydd commented on #13050
@apc999 @cheyang release-2.5.0-1 doesn't have this error.

[2021-03-25 08:07] adios666 opened #13123 "Unexpected mask value of new file"
**Alluxio Version:**
2.4.1-1

**Describe the bug**
When I create a new file (called A) in a directory (called B), mask of A should be the default mask of B. After checked code I found that mask of new file is calculated by default mask of B AND group mode of B. I think it should inherit straightly from B or
 be computed from default mask of B AND user mode of B.

**To Reproduce**
1. alluxio fs mkd

[2021-03-25 08:20] adios666 opened #13124 "Alluxio won't jump over file when setting default acl to a directory"
**Alluxio Version:**
2.4.1-1

**Describe the bug**
If I have a file(called A) in a directory(called B) and I run command like "alluxio fs setfacl -R -d -m 'user:xxx:rwx' /B". It will return  "Can not set default ACL for a file". This is reasonable, but I think Alluxio should have changed default ACL of other directories in B while jump over A and return this warning.

**To Reproduce**
1. alluxio f

[2021-03-25 17:28] peterroelants opened #13125 "ERROR AlluxioJniFuseFileSystem - Failed to read when setting alluxio.fuse.shared.caching.reader.enabled=true"
**Alluxio Version:**
2.5.0-1

**Describe the bug**

When reading a file from Alluxio FUSE which has `alluxio.fuse.shared.caching.reader.enabled=true`: I get the following errors:
[code]

- At the client side reading the file I get a `Errno 5: Input/output error` OS error.
- The file I'm reading is persisted, and after failure reading is 67% in alluxio.
- I don't see anything weird in the Master or

[2021-03-25 22:15] ZhuTopher opened #13127 "Alluxio 2.5.0 Docker image does not include HDFS 3.3 support"
**Alluxio Version:**
What version of Alluxio are you using?
2.5.0 (Docker image `alluxio/alluxio:2.5.0`)

**Describe the bug**
A clear and concise description of what the bug is.
When using HDFS as the UFS the default version is configured to be 3.3
- See `UNDERFS_VERSION` in [PropertyKey.java](https://github.com/Alluxio/alluxio/blob/master/core/common/src/main/java/alluxio/conf/PropertyKey.java#L

[2021-03-25 23:10] #13062 closed

[2021-03-26 08:14] #12889 closed

[2021-03-26 13:56] jiacheliu3 commented on #13075
@peterroelants Currently the health is probing the open ports for each service. You can find how they are used in https://github.com/Alluxio/alluxio/blob/feb4aa08ea675ef1c49005c2f6c401e07bab80cf/integration/kubernetes/helm-chart/alluxio/templates/_helpers.tpl#L303 and https://github.com/Alluxio/alluxio/blob/feb4aa08ea675ef1c49005c2f6c401e07bab80cf/shell/src/main/java/alluxio/master/MasterHealthChe

[2021-03-26 13:57] jiacheliu3 commented on #13075
One other pitfall for having an HTTP endpoint is, when masters are in HA, only the primary has a web server. So all the secondaries will reject your HTTP request. This makes the definition of "healthy" a bit confusing.

[2021-03-26 14:00] jiacheliu3 commented on #13065
@bradyoo does this make sense to you?

[2021-03-26 14:11] jiacheliu3 opened #13128 "listStatus on open file stream will complete the stream unexpectedly"
The behavior and root cause are reported by a community user

**Alluxio Version:**
2.5.0

**Describe the bug**
Running `listStatus(file)` when the file stream is not closed will cause the block to be completed unexpectedly, resulting in blocks that have 0 length.

The file will look like below, with block(s) of 0 length.
[code]

Subsequently when closing the `AlluxioFileOutputStream` the following

[2021-03-26 14:32] peterroelants opened #13129 "ERROR AlluxioJniFuseFileSystem - File is not completed"
**Alluxio Version:**
2.5.0-1

**Describe the bug**
After writing a file to an Alluxio FUSE mounted folder I start seeing the following message repeated in the alluxio-fuse logs:
[code]

When trying to read the file from the folder I get the following local error:
[code]
And see the following in the alluxio-fuse process logs:
[code]
Also `ls ${MOUNT_POINT}` takes much longer than usual, and is in t

[2021-03-26 14:39] peterroelants commented on #13129
Setting `alluxio.user.metadata.cache.enabled=false` seems to resolve the issue

[2021-03-26 17:51] bradyoo commented on #13065
distributedCp now submits jobs per file. One of the things it does though is that it traverses all of the files through iterateStatus and submits job one at a time so at the time of doing a job for a file, it doesn't actually know how many files there are in total. So if we want to know that, we would have to do extra iterateStatus which would cause slowdowns if we are doing it for large number of

[2021-03-26 22:40] ZhuTopher commented on #13023
@gaozhenhai I just finished testing this out in my own environment, I'll share the details of it with you at the end.

## Secret Permissions
Regarding the permissions of your `core-site.xml` and `hdfs-site.xml`, it turns out [Kubernetes does not support changing ownership of secret-mounted volumes](https://github.com/kubernetes/kubernetes/issues/81089). As a [workaround](https://github.com/kuberne

[2021-03-27 06:21] #13048 closed

[2021-03-27 11:59] jiacheliu3 commented on #13128
The root cause is, in `DefaultFileSystemMaster#getFileInfoInternal`, it compares the length of `BlockId` and `FileBlockInfo`. If there's a mismatch, it will consider the file has lost some block info for unknown reason and attempts to update the FileInfo. Here it commits the blocks implicitly.

The logic was added in https://github.com/Alluxio/alluxio/commit/256e331ab3bca297fec610aff8edd7a7b5f99cb

[2021-03-27 13:35] jiacheliu3 commented on #13128
One solution is, when we check for rehydration (whether the rehydration should be allowed is another topic), we ignore incomplete files because there will be mismatch in the BlockId size and FileBlockInfo size, because of the order we create them. The PR is https://github.com/Alluxio/alluxio/pull/13131.

There are other alternatives, like we change the order we create `BlockId` and `FileBlockInfo`

[2021-03-29 14:02] gavinljj opened #13133 "Alluxio table attachdb kerberosed hive failed"
**Alluxio Version:**
Version: 2.4.0
Master: -Xms96g -Xmx96g, Single master (no secondary, no standby), with embedded Journal server
Worker: 10 worker nodes, each with -Xms4g -Xmx4g

**Describe the bug**
I'm exploring Alluxio as a caching layer for our Presto cluster.  I already execute 'kinit' command
[code]
**To Reproduce**
bin/alluxio table attachdb --db alluxio_db hive thrift://xxxxxx:9083 defa

[2021-03-29 20:33] apc999 commented on #13129
@peterroelants thanks for reporting this.
@maobaolong  can you take a look at this issue?

[2021-03-29 20:35] apc999 commented on #13125
@LuQQiu  can you take a look at this issue?

[2021-03-29 20:54] apc999 commented on #13118
we discussed this issue offline and I believe the handshaking process between client and master to sync cluster config contributes to the slow start. @liupan664021  did you try to disable the flag "alluxio.user.conf.cluster.default.enabled" ?

I actually checked the source code and it seems this flag only controls conf sync between workers and master. I think this is a regression. But let us know

[2021-03-29 22:26] apc999 commented on #13128
thanks for the patch to fix this issue @jiacheliu3

[2021-03-30 00:32] maobaolong commented on #13129
@apc999 Sure

[2021-03-30 00:32] maobaolong commented on #13090
I'll take a look at this issue this week.

[2021-03-30 01:43] maobaolong opened #13135 "Support get and set user group information from hadoop UGI"
**Is your feature request related to a problem? Please describe.**

Our user require to set user & group information while create file through hadoop ugi, other than getting group name through shell.

**Describe the solution you'd like**

Dependent hadoop and using UGI as current creator.

**Describe alternatives you've considered**

Modify the AlluxioJniFuseFilesystem.

**Urgency**

LOW

**Additi

[2021-03-30 03:19] #13128 closed

[2021-03-30 17:22] apc999 opened #13137 "Add documentation on launch proxy in a docker or helmchart"
**Page**

https://docs.alluxio.io/os/user/stable/en/api/S3-API.html

**Summary**
This page only talks about how to interact using S3 API,
Right now the documentation assumes the ProxyServer is running and configured already
but i could not find pages talking about how to launch and configure ProxyServer in order to enable S3 API.

E.g., how to achieve this in docker or helmchart

This is reported

[2021-03-30 18:15] jenoudet commented on #12553
@calvinjia @chaowangnk1 should the index file live on Alluxio or is it a local file ?

[2021-03-30 18:24] calvinjia commented on #12553
@jenoudet let's start with a local file.

[2021-03-30 18:39] apc999 opened #13138 "Spamming gRPC error messages "Received DATA frame for an unknown stream""
**Alluxio Version:**
2.5.0-1

**Describe the bug**
Reported here https://alluxio-community.slack.com/archives/CEXGGUBDK/p1616596269057200
I have also seen this spamming messages a lot.
Based on the discussion in https://github.com/grpc/grpc-java/issues/3548,
upgrading to newer grpc/netty will resolve this issue.

**To Reproduce**
N/A

**Expected behavior**

**Urgency**

**Additional context**

[2021-03-30 23:09] apc999 opened #13143 "Spamming error messages on "Requesting delete for orphaned block""
**Alluxio Version:**
2.5.0-1

**Describe the bug**
Overwhelming messages like
[code]
and

[code]

**To Reproduce**
n/a

**Expected behavior**
messages like these make error logs hard to analyze.
We should just print a few invalid and orphaned blocks (e.g., up to 100), with total number in master logs,
rather than printing out every single one

**Urgency**
low

**Additional context**
[fluidcpu1-mas

[2021-03-31 13:03] ldd91 opened #13147 "Alluxio cannot loadMetadata if there are two subdirectory in /underFSStorage"
**Alluxio Version:**
What version of Alluxio are you using?
2.4.1-2-bfff8c6881e5cb045fd1d84c59acba26078bb4d9
**Describe the bug**
A clear and concise description of what the bug is.
There are two subdirectory (/underFSStorage/cifar10 and /underFSStorage/imagenet) in /underFSStorage, I exec alluxio fs loadMetadata -R /  and I exec alluxio fs loadMetadata -R /imagenet ,however the metadata was not l

[2021-03-31 13:05] ldd91 commented on #13147
![Uploading 软连接.png…]()

[2021-03-31 13:06] ldd91 commented on #13147
![软连接](https://user-images.githubusercontent.com/29392150/113148825-e61d5900-9264-11eb-9bab-493b7c777242.png)

[2021-03-31 13:13] ldd91 commented on #13147
![加载](https://user-images.githubusercontent.com/29392150/113149769-f2ee7c80-9265-11eb-858d-5778f9387583.png)

[2021-03-31 21:24] #13118 closed

[2021-04-01 00:27] apc999 opened #13155 "jnifuse_fs.cc:94 you cant initialize more than once"
**Alluxio Version:**
2.5.0-1

**Describe the bug**

[code]

**To Reproduce**
`mmt -Dtest=alluxio.client.fuse.JNIFuseIntegrationTest`

**Expected behavior**
We shall avoid having these type of errors showing up

**Urgency**
low

**Additional context**

[2021-04-01 10:27] yangyuliufeng opened #13158 "The execution of command "alluxio fs count / " is very slow"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The execution of command "alluxio fs count / " is very slow.
The current logic will traverse all files in the root directory to get ufstotal
Even if this command has been executed once, but the result is not cached, it will still traverse a

[2021-04-01 12:50] maobaolong opened #13159 "support Cephfs as UFS of Alluxio"
**Is your feature request related to a problem? Please describe.**

Now Alluxio support ceph as an UFS through S3 API which supplied by radosgateway, but we want to support cephfs as an ufs of alluxio

**Describe the solution you'd like**
Create an cephfs ufs module which extended from hdfs ufs module

**Urgency**
High

**Additional context**
With this feature, we can bring alluxio to the kubernet

[2021-04-01 16:50] peterroelants opened #13161 "Alluxio S3 Download via FUSE 6x as slow compared to first loading in Alluxio and then downloading via FUSE"
**Alluxio Version:**
2.5.0-1

**Describe the bug**
Downloading a file from S3 that is not in Alluxio (+3 min) is 6 times as slow as first loading the same file in Alluxio (11 s) and then downloading it via FUSE (27 s).

**To Reproduce**
I have a 770.7 MB file in Amazon S3 of which the bucket is mounted in Alluxio. I tested the duration of the following running Alluxio on EC2 in the same geographic

[2021-04-01 18:48] peterroelants commented on #13075
Thanks for the references to the helm chart. I wasn't aware of the healthchecks there. I see that those are using [`alluxio-monitor.sh`](https://github.com/Alluxio/alluxio/blob/master/bin/alluxio-monitor.sh).

I tried using `alluxio-monitor.sh master` and this works if the service is up. However if the service is actually down the script does not exit and continues writing DNS error messages to th

[2021-04-01 19:14] peterroelants commented on #13075
I also noticed there is no monitor for the FUSE endpoint.
I'm currently using the following healthcheck:
[code]

[2021-04-01 19:44] peterroelants commented on #13138
As a reference an example of the full log warning I'm getting related to this issue:
[code]

[2021-04-01 19:52] peterroelants commented on #13161
To give some non EC2 numbers when I run the same on my local machine:

- Download directly from S3 with boto3: 70 sec
- Load file into Alluxio from worker node: 2 min 30 sec
- Download file via Alluxio FUSE (file is Already in Worker cache via load): 14 sec
- Download file via Alluxio FUSE (file is not yet in Worker): **> 1 hour (hangs )❗**

Notice that now downloading from S3 via Alluxio Worker b

[2021-04-02 00:57] XuankuF opened #13164 "alluxio cluster masters hung every few days"
**Alluxio Version:**
2.4.1-2

**Urgency**
Very urgent, affecting the online works.

**Describe the bug**
three master nodes: node1(leader), node2, node3.  node2 alluxio master and node3 alluxio master hung every few days, and node1(leader) `Journal flush failed`. Finally node1(leader) abnormal exit.
jvm heap:
[code]

The error logs from node2:
[code]

The error logs from node1(leader):
[code]

[2021-04-02 01:38] jiacheliu3 commented on #13075
What the `alluxio-monitor.sh <component>` does is, it finds the ports (RPC & HTTP) that the component offers, and tries to establish a TCP connection to it. So if you don't want the output that comes from `alluxio-monitor.sh`, you can choose to just use a tcp socket like the K8s probes are doing https://github.com/Alluxio/alluxio/blob/feb4aa08ea675ef1c49005c2f6c401e07bab80cf/integration/kubernetes

[2021-04-02 01:42] jiacheliu3 commented on #13075
That's true.  @LuQQiu Do you think it makes sense to have a health check for FUSE?

[2021-04-02 01:43] jiemar opened #13165 "java.lang.NoSuchMethodException: alluxio.metrics.sink.PrometheusMetricsServlet.<init>(java.util.Properties, com.codahale.metrics.MetricRegistry)"
**Alluxio Version:**
2.3.0

**Describe the bug**
java.lang.NoSuchMethodException: alluxio.metrics.sink.PrometheusMetricsServlet.<init>(java.util.Properties, com.codahale.metrics.MetricRegistry)

when master start

[2021-04-02 07:37] peterroelants commented on #13075
I tried your suggestion using curl to check the RPC port with curl (e.g. `curl --output - alluxio-worker:29999`), this works, however the service logs now show the following exceptions:
[code]

[2021-04-02 07:41] peterroelants commented on #13075
If I remember correctly the RPC endpoints use gRPC?
In this case it might be interesting to implement the [GRPC Health Checking Protocol](https://github.com/grpc/grpc/blob/master/doc/health-checking.md) which ensures best practise and allows the health to be queried by [`grpc_health_probe`](https://github.com/grpc-ecosystem/grpc-health-probe).

[2021-04-02 10:18] Binyang2014 opened #13166 "High CPU usage when read data from Azure and seems has memory leak issue"
When reading data from AzureBlob, we get high CPU usage in worker. Attached the profile results from async-profiler. Seems it caused by decode https response.
[https-azure.zip](https://github.com/Alluxio/alluxio/files/6249018/https-azure.zip)

And we found worker doesn't free the memory of AzureStorageResponse. So when memory usage reach Xmx limit, the CPU usage will become much higher (about 900%

[2021-04-02 10:20] Binyang2014 commented on #13166
@apc999 Please help take a look, maybe we should do some performance test for AzureStorage SDK

[2021-04-02 13:53] JySongWithZhangCe commented on #13065
@jiacheliu3 Is there any other suggestion？

[2021-04-02 14:13] LuQQiu commented on #13075
Yeah, Fuse health check is helpful, maybe we can add the health check after mounting standalone fuse or fuse in worker. But note that because we now have the embedded Fuse in worker feature #12830, the standalone fuse process may be deprecated in the future.
I am not that familiar with the monitoring logics but a fuse health check is good to have.

[2021-04-02 15:26] yuzhu commented on #13065
does simply showing the number of files already copied help? because that would at least indicate that we are making progress and how fast we are making progress. The user might have an idea about how many files need to be copied.

[2021-04-02 16:24] maobaolong commented on #13090
@LuQQiu I use `HCFSFuse` test this issue, and it cannot reproduce.

For my acknowledge, I think it can be more easy to reproduce this issue by using `HCFSFuse` instead of start an alluxio cluster.

[2021-04-02 23:49] LuQQiu commented on #13090
In the current JNIFuseIntegrationTest, we disable the touch test because it keeps failing. I have no background knowledge of HCFSFuse, not quite sure what it actually does.
[code]

[2021-04-04 11:31] maobaolong commented on #13090
[code]

This is a fuse.log about what I tried to reproduce this issue follow the reproduce step strictly. I start a Alluxio master and fuse

[2021-04-05 15:17] lilyzhoupeijie opened #13174 "Dynamically changing the aluxio storage configuration without downtime"
When the storage of aluxio worker is expanded, we need to dynamically change the storage size of each storage layer without downtime.
And it's an ongoing need, not a one-off one

**Describe the solution you'd like**
If we can use the alluxio cli ,it will be okay
such as set alluxio.worker.tieredstore.level0.dirs.quota=2Ti

**Urgency**
the feature is import for us,because we use alluxio in k8s clus

[2021-04-05 19:48] apc999 commented on #12237
this is possibly fixed by https://github.com/Alluxio/alluxio/pull/13172

[2021-04-05 19:48] #12237 closed

[2021-04-05 19:51] apc999 commented on #11761
Possibly fixed by https://github.com/Alluxio/alluxio/pull/13172
Please upgrade to 2.5.0-2 (releasing soon) and let's know if this happens again.

[2021-04-05 19:51] #11761 closed

[2021-04-06 01:38] JySongWithZhangCe commented on #13065
I agree, and I'd like to both show the number and size of files.

[2021-04-06 01:38] JySongWithZhangCe commented on #13065
I agree, and I'd like to both show the number and size of files.

[2021-04-06 02:14] LuQQiu commented on #13129
https://github.com/Alluxio/alluxio/pull/13111 Add wait for file completed logics if the file is being written
This PR is included in 2.5.0-1

Basically, we want operations like ls and open file waiting for a being written file to finish its writing and then do the ls and open.
Otherwise, ls may show 0 byte size and cause some tensorflow operation to fail. Open will also show FileIncompleteExceptio

[2021-04-06 02:55] Binyang2014 commented on #13166
The memory dump link: https://alluxiotestms.blob.core.windows.net/dump/heap.zip?sp=r&st=2021-04-06T02:54:13Z&se=2021-04-30T10:54:13Z&spr=https&sv=2020-02-10&sr=b&sig=%2B1SZXtEAjrvEUaRTHUdYQR5Bfhp%2B%2FOs4tbE1EK8UN1I%3D

[2021-04-06 03:11] Binyang2014 opened #13179 "Support fuse open for overwrite"
In our use case. We need to overwrite file due to job retry.

Currently, open an existing file for write will throw exception, maybe we can check the
`(fi.flags.get() & OPEN_FLAG_MASK) == O_WRONLY.intValue()`
to support open for overwrite (remove existing file and create a new one).

[2021-04-06 05:42] gaozhenhai commented on #13023
@ZhuTopher Thank you very much for your answer. I found that the problem has been resolved, but I just updated the alluxio-configmap.yaml file
[code]
Now I can use HA HDFS normally without the need to add InitContainers to initialize permissions
Maybe this is just a configuration issue and has nothing to do with permissions

[2021-04-06 06:39] loovia commented on #13164
@apc999 Could you take a look at this issue?

[2021-04-06 06:51] yangyuliufeng opened #13182 "Sometimes, the command "alluxio fs free -f /" cannot clean cache completely"
**Alluxio Version:**
What version of Alluxio are you using?
alluxio 2.5.0
**Describe the bug**
A clear and concise description of what the bug is.
Sometimes, the command "alluxio fs free -f /" cannot clean cache completely.
**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)
If the alluxio has mounted a path with plenty of files, the command perhaps unable to

[2021-04-06 15:23] LuQQiu commented on #13129
@peterroelants Metadata cache should be enabled only in read-only workloads with data/metadata remains unchanged (no file modification through either alluxio or UFS directly). Otherwise AlluxioFuse will cache the wrong metadata and will not go to the Alluxio servers or UFS to fetch the updated metadata information. In your case, AlluxioFuse cached the file metadata which shows that the file is not

[2021-04-06 15:26] peterroelants commented on #13129
@LuQQiu Thank you for the clarification, this makes sense.

I will keep `alluxio.user.metadata.cache.enabled=false` whenever writes will occur.

[2021-04-06 15:26] #13129 closed

[2021-04-06 16:20] LuQQiu commented on #13125
This issue can be reproduced in linux environment and cannot be reproduce in local mac environment. Taking a look into the cause now. Thanks

[2021-04-06 16:45] ZhuTopher commented on #13023
@gaozhenhai I'm happy to hear that you've gotten your environment working! The incorrect property in the documentation will be fixed by PR #13139

[2021-04-06 18:58] apc999 opened #13186 "Enable invalidating entries on client-side metadata cache when new files are generated"
**Summary**
Motivated by https://github.com/Alluxio/alluxio/issues/13129

When `alluxio.user.metadata.cache.enabled=true`, adding a new file to alluxio path `/foo` should invalidate corresponding metadata entries cached locally at `alluxio.client.file.MetadataCachingBaseFileSystem`.

**Urgency**
Medium

[2021-04-06 18:58] apc999 commented on #13129
@peterroelants  I'm adding a new task https://github.com/Alluxio/alluxio/issues/13186 to help your use case so writes can still use `alluxio.user.metadata.cache.enabled=true`

[2021-04-06 19:06] peterroelants commented on #13129
@apc999 Thank you.
Just so you know the urgency for me personally became quite low atm since I can get away with `alluxio.user.metadata.cache.enabled=false` most of the time.

[2021-04-07 07:41] vanliu-tx opened #13190 "Is there a way to add new HDFS cluster without restart all servers/workers"
**Is your feature request related to a problem? Please describe.**
In our environment, we have several HDFS clusters and add more HDFS clusters to alluxio on project need. When we add a new cluster, we have to edit the hdfs-site.xml, copy it to all servers/workers, then restart all servers/workers one by one. It takes time.

Is there a way to avoid restart all servers/workers?

**Describe the solu

[2021-04-07 07:55] ldd91 commented on #13147
This may cause by our lustre file system,It is ok to use /tmp in localhost

[2021-04-07 07:58] peterroelants opened #13191 "FUSE hangs when removing a file that is not in the understore anymore"
**Alluxio Version:**
2.5.0-1

**Describe the bug**

The following command hangs indefinitely
[code]
When `<data-dir>` has been manually removed from the S3 bucket prior to running `rm`.

**To Reproduce**
- Have folder with data on S3 in `<s3-bucket>/<data-dir>`
- Mount `<s3-bucket>` to `<s3-bucket-dir>` in Alluxio
- Have Alluxio fuse mount at `${MOUNT_POINT}`
- Access `<s3-bucket-dir>/<data-dir>/`

[2021-04-07 09:13] peterroelants commented on #13191
One way to resolve the unstable state of the system seems to be running `alluxio fs free /<s3-bucket-dir>/<data-dir>` from the worker node. This seems to exit after some time with the message `Path "/<s3-bucket-dir>/<data-dir>" does not exist.`. Afterwards the `/<s3-bucket-dir>` seems to be empty.

[2021-04-07 09:35] peterroelants commented on #13161
The issue seems to be largely related to downloading large files from Alluxio.

If I store the same file as small files (chunked format), the FUSE read only takes *2.5 seconds* (instead of > 3 minutes).

[2021-04-07 10:10] peterroelants commented on #13161
If I store the same file as small files (chunked format), the FUSE read takes **1 minute** (instead of > 3 minutes).

[2021-04-07 16:34] peterroelants commented on #13161
I did some more tests related to this, and got some interesting results when timing data access. I run these tests on Amazon EC2 with files stored on S3 in 2 versions:
- One single large file with 770MB of data: `<file_name>`
- The same 770MB data split into different chunks spread over different smaller files: `<file_chunked>/<chunks>`

While testing direct access with [`cat`](https://man7.org/li

[2021-04-08 06:31] yangjiurong opened #13196 "source code can not found alluxio.grpc.table package dependence"
**Alluxio Version:**
2.5.0

**Describe the bug**
source code can not found alluxio.grpc.table package dependence

**To Reproduce**
nothing

**Expected behavior**
source code can found alluxio.grpc.table package dependence

![image](https://user-images.githubusercontent.com/17909638/113978890-18d3dc80-9877-11eb-87e2-3bffddea1c2c.png)

[2021-04-08 08:15] ldd91 commented on #13147
This issue was caused by soft link

[2021-04-08 16:20] peterroelants commented on #13161
I did some more tests on JNR vs JNI FUSE when reading files from Alluxio FUSE (**all in worker cache**).

| Description | Dask single | `cat` single | Dask chunked | `cat` chunked |
|:----------- |:-----------:|:------------:|:------------:|:-------------:|
| 1 - JNR-FUSE, apt fuse, no optimizations | 627 ms | 433 ms | 840 ms | 480 ms |
| 2 - JNR-FUSE, patched fuse, optimized | 621 ms | 436 ms | 7

[2021-04-08 20:32] apc999 commented on #13196
@HelloHorizon  can you take a look at this issue?

[2021-04-08 20:48] HelloHorizon commented on #13196
@yangjiurong Our table service is dependent on the gRPC auto-generated class. And we don't include auto-generated code in our Github repo. If you git clone the Github code, you have to compile the proto class to see these dependencies in your IDE. Try with `mvn clean install -DskipTests`, and details can be found [here](https://docs.alluxio.io/os/user/stable/en/contributor/Building-Alluxio-From-So

[2021-04-08 22:30] #13196 closed

[2021-04-08 22:32] apc999 commented on #13190
@vanliu-tx
can you run this command to mount UFS (e.g., new HDFS clusters) to your Alluxio service on the fly?
https://docs.alluxio.io/os/user/stable/en/core-services/Unified-Namespace.html#nested-mount-points

[2021-04-09 02:59] jiacheliu3 opened #13203 "Helm chart add support for toleration"
**Is your feature request related to a problem? Please describe.**
Currently there are only fields for `nodeSelector`. We should have the same fields for `tolerations`

**Describe the solution you'd like**
Add the fields similar to `nodeSelector`

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Urgency**
Exp

[2021-04-09 07:08] maobaolong commented on #13090
[code]

I reproduced and got the above output, it shows that only linux didn't implement the `SETATTR` function, will have a further look.

[2021-04-09 07:26] vanliu-tx commented on #13190
thank you! It works when adding all conf via --option from cmd line. @apc999

[2021-04-09 07:26] #13190 closed

[2021-04-09 08:14] maobaolong commented on #13090
I try to implement utimens support, but seems nothing changed.

[2021-04-09 12:04] peterroelants opened #13206 "Reading file with cat extremely slow on FUSE-JNI"
**Alluxio Version:**
2.5.0-1 & 2.5.0-2

**Describe the bug**
Reading a  770MB file with [`cat`](https://man7.org/linux/man-pages/man1/cat.1.html) through Alluxio FUSE-JNI is more than 30 times as slow compared to reading the file via FUSE-JNR.

| Fuse Type |  `cat` read |
|:----------- |:-----------:|
| 1 - JNR-FUSE | 436 ms |
| 2 - JNI-FUSE | **14 s** |

**To Reproduce**
Test for both `alluxio.fu

[2021-04-09 12:05] peterroelants commented on #13161
I think this issue is multiple issue in one. I extracted out the slow reading with `cat` into a separate issue: https://github.com/Alluxio/alluxio/issues/13206

[2021-04-09 13:10] peterroelants opened #13207 "FUSE support for auto_cache mount option"
**Is your feature request related to a problem? Please describe.**
Not a problem, but a potential improvement.

From [some of my experiments](https://github.com/Alluxio/alluxio/issues/13161#issuecomment-815959894) it seems that the `kernel_cache` is the single largest improvement for tuning JNI-FUSE for reads.

However, libfuse also has a [`auto_cache`](https://libfuse.github.io/doxygen/structfuse

[2021-04-09 13:36] #13161 closed

[2021-04-09 16:24] LuQQiu commented on #13090
According to https://github.com/mafintosh/fuse-bindings/issues/30
It looks like three functions need to be implemented
[code]
@maobaolong if you added utimens, we already have chown, then the only missing is truncate which we don't support yet.
A possible way is to try to implement truncate with alluxio read to a tmp file, delete the file, and write a new Alluxio file up to size.
After that, we ma

[2021-04-10 05:48] #12702 closed

[2021-04-11 06:18] cheyang commented on #13206
/ping @apc999

[2021-04-12 02:16] maobaolong commented on #13090
@LuQQiu According the https://github.com/Alluxio/alluxio/blob/master/integration/jnifuse/native/src/main/native/libjnifuse/operation.cc#L440

I think we have support truncate now, I guess there are some different for macos and linux, will have a further look

[2021-04-12 02:27] BUPTAnderson commented on #13164
Is there any error log in hdfs namenode or datanode at the same time ?

[2021-04-12 03:40] loovia commented on #13164
@BUPTAnderson no, hadoop is fine

[2021-04-12 12:24] JySongWithZhangCe opened #13211 "DistributedCp faild when Alluxio Worker dead but Alluxio Job Worker alive"
**Alluxio Version:**
2.3.1

**Describe the bug**
`alluxio fs distributedCp` failed when Alluxio Worker dead but Alluxio Job Worker alive.
Job Master's log shows `WARN plan.PlanCoordinator (PlanCoordinator.java:start) - Failed to select executor. Index: 84, Size: 83)`

**Expected behavior**
DistributedCp success.

**Urgency**
Normal.

[2021-04-12 12:32] JySongWithZhangCe opened #13212 "Dst directory will not be deleted when distributedCp failed"
**Alluxio Version:**
2.3.1

**Describe the bug**
When `alluxio fs distributedCp` failed, the <dst> directory will not be deleted. If user run `alluxio fs distributedCp` again, it will failed due to <dst> already exist.

**Expected behavior**
When `alluxio fs distributedCp` failed, the <dst> directory will be deleted.

**Urgency**
Normal.

[2021-04-12 15:11] LuQQiu commented on #13090
Truncate is implemented in JNI-Fuse but not in AlluxioJNIFuseFileSystem.
[code]
In macOS, if you do vi/vim, the operating system will directly do create, delete, and rename operation combinations so that truncate can succeed.
In Linux, i remember vi/vim with modification is not allowed because we don't support truncate.

[2021-04-12 19:42] apc999 commented on #13090
@maobaolong @LuQQiu . It is fine if we do not support `truncate` in general.
But if we shall check file size and and `size==0` (the case `touch` triggers), we shall be able to remove the original file if existing and create a new and empty one.

[2021-04-13 03:32] apc999 commented on #13206
@peterroelants  if you can reproduce this issue deterministically, can you share your fuse and worker logs? thanks

[2021-04-13 04:47] peterroelants commented on #13206
@apc999

I'm also seeing a lot of following warnings in the logs when testing on my local machine:
- worker logs:
   - [`Received DATA frame for an unknown stream`](https://github.com/Alluxio/alluxio/issues/13138)
   - ` WARN  BlockReadHandler - Getting buffer for remote read took longer than 10000 ms. reader: alluxio.worker.block.UnderFileSystemBlockReader location: s3://<bucket>/<file> bytes: 10

[2021-04-13 06:51] maobaolong commented on #13090
@apc999 @LuQQiu For this issue, it's not caused by `truncate`,  but caused by `utimens`, so I implements it to resolve this issue.

[2021-04-13 11:24] maobaolong opened #13221 "Support distributedload into specific worker list."
**Is your feature request related to a problem? Please describe.**

Now, Alluxio shell command distributedload can distributed load a directory into alluxio cluster, in our scenario, we want to distributedload the files into specific alluxio workers.

**Describe the solution you'd like**

Add an option workerList to limit the worker which will load files into alluxio tired store.

**Urgency**
Norn

[2021-04-13 18:18] #13090 closed

[2021-04-13 22:36] LuQQiu commented on #13211
@JySongWithZhangCe How many workers are in your cluster? One or all workers are dead in this cluster?

[2021-04-13 22:36] apc999 commented on #13206
thanks Peter. It will be very useful if you can upload the fuse.log and worker.log here

[2021-04-13 22:39] LuQQiu commented on #13207
@peterroelants `kernel_cache` is used and tested so we have more confidence in it. We haven't tried (or maybe even known) the `auto_cache` option so we don't know whether it can work or not. It may just work magically or not work sadly. Does `auto_cache` come from a certain version of libfuse? What prevents it from working showed in the POSIX API docs?

[2021-04-13 22:41] LuQQiu commented on #13206
@peterroelants Thanks for reporting this issue. One small question: What's the size of the file that you tested?

[2021-04-13 22:48] LuQQiu commented on #13165
@jiemar Thanks for reporting this issue. Can you help describe the details for us to reproduce this issue?
For example, what's the metrics.properties and alluxio-site.properties you used when launching the cluster?

[2021-04-13 22:52] LuQQiu commented on #13164
@bf8086 Any thoughts on why Journal write can succeed but journal rename failed with HDFS journal?

[2021-04-13 23:16] LuQQiu commented on #13147
@ldd91 Thanks for reporting this issue. Any error/warn/exceptions in the logs/worker.log when you do the loadMetadata operation?
Do you want Alluxio loadMetadata to support soft links?

[2021-04-14 02:10] JySongWithZhangCe commented on #13211
87 total and 4 dead

[2021-04-14 02:54] xinip opened #13227 "HiveClientPool causes the number of hive metastore connections to be too high"
**Alluxio Version:**
2.5.0-1

**Describe the bug**
HiveClientPool causes the number of hive metastore connections to be too high, when there are many databases to synchronize

**To Reproduce**
We have more than 100 databases. Alluxio connected to hive metastore and generated more than 400 connections.

**Expected behavior**
There should not be so many connections.

**Urgency**
MEDIUM

**Additional

[2021-04-14 02:56] ldd91 commented on #13147
@LuQQiu Thanks for reply,Yes in our AI  training scenario,we want Alluxio loadMetadata to support soft links

[2021-04-14 08:09] loovia opened #13230 "Alluxio Worker down Without cause"
**Alluxio Version:**
2.4.1-2

[code]

[2021-04-15 16:12] LuQQiu opened #13239 "Properly umount fuse when killing the process"
**Alluxio Version:**
Alluxio 2.6.0-SNAPSHOT

**Describe the bug**
In the PR #13160 , we throw `FuseException("Device is busy")` to help prevent the umount from happening when device is busy.
We expect the umount will be treated as an n-op and the client operations can continue running.

according to @Binyang2014 , if we use `umount <mount-point>` or `fusermount -u <mountpoint>` directly, `umount`

[2021-04-15 16:13] LuQQiu commented on #13239
@apc999 please provide your investigation for this issue

[2021-04-15 16:44] LuQQiu commented on #13147
@yuzhu Any thoughts on why load metadata fail with soft links and whether it's expected?

[2021-04-15 16:45] LuQQiu commented on #13211
@bradyoo Can you help take a look at the issue? Is this problem solved in the newer releases? Thanks

[2021-04-15 18:00] bradyoo commented on #13211
Can you turn on debug log on alluxio.master.job.plan.PlanCoordinator?

[2021-04-16 07:55] hkroger commented on #11145
Nothing has happened in more than a year. Has this been noted by anyone working in the project yet?

[2021-04-16 13:36] JySongWithZhangCe commented on #13211
OK I'll try it

[2021-04-16 15:10] jiacheliu3 commented on #11145
@calvinjia Do you think this is a reasonable feature request? Thanks :)

[2021-04-16 16:13] LuQQiu opened #13245 "GCS complains about Connection reset UnknownHostException: www.googleapis.com"
**Alluxio Version:**
Alluxio 2.5

**Describe the bug**
[code]

[code]
**To Reproduce**
This occurs occasionally, randomly an not determined

**Expected behavior**
Understand the reason of the reset and can better handle it

**Urgency**
Medium

**Additional context**
Add any other context about the problem here.

[2021-04-16 16:15] LuQQiu commented on #13245
Could be Memory pressure
https://support.terra.bio/hc/en-us/community/posts/360055563171-Intermittent-StorageExceptions-unknown-host-www-googleapis-com-

[2021-04-16 19:16] alex-alluxio opened #13246 "High CPU consumption seen when running distributedCp through alluxio CLI tools."
Running multiple occurences of alluxio fs distributedCp and seeing high CPU consumption.

Small files 100mb- see consumption at 50%
![image](https://user-images.githubusercontent.com/48104228/115073531-50610b00-9ead-11eb-8507-ee90c8439252.png)

Large files 1gb - see consumption at 20%
![image](https://user-images.githubusercontent.com/48104228/115073582-640c7180-9ead-11eb-8288-fbd49d234b7d.png)

[2021-04-16 19:29] calvinjia commented on #13246
@alex-alluxio Thanks for reporting this issue. At a glance it may be due to the polling logic in this method - https://github.com/Alluxio/alluxio/blob/master/shell/src/main/java/alluxio/cli/fs/command/AbstractDistributedJobCommand.java#L57

[2021-04-19 05:16] #12553 closed

[2021-04-19 07:54] peterroelants opened #13249 "Warnings when mounting S3 bucket: EC2MetadataUtils - Unable to retrieve the requested metadata"
**Alluxio Version:**
2.5.0-2

**Describe the bug**
After upgrading to 2.5.0-2 I started seeing a lot of the following warnings in the Alluxio Master logs when mounting an S3 bucket in Alluxio:
[code]
I didn't see these warnings in 2.5.0-1 or before. They seem to be new in Alluxio 2.5.0-2.

This seems to happen for the following metadata access:
- `/latest/meta-data/product-codes`
- `/latest/user-d

[2021-04-19 07:57] peterroelants commented on #13206
In this case it was a single 770MB file.

However, I get a similar behaviour when I save the file into smaller individual chunks: https://github.com/Alluxio/alluxio/issues/13161#issuecomment-815959894

[2021-04-19 08:21] peterroelants commented on #13206
@apc999 I get similar results (16.225s) when `cat` reading the same file on 2.5.0-2. Here are my logs:
- Alluxio Master: [alluxio-master.log](https://github.com/Alluxio/alluxio/files/6334373/alluxio-master.log)
- Alluxio Worker: [alluxio-worker.log](https://github.com/Alluxio/alluxio/files/6334375/alluxio-worker.log)
- Alluxio FUSE: [alluxio-fuse.log](https://github.com/Alluxio/alluxio/files/63343

[2021-04-19 08:33] peterroelants commented on #13207
I had the time to test `auto_cache` it seems to work out of the box on FUSE 2.9.5.

From some quick tests it seems to provide similar gains as `kernel_cache`.

[2021-04-19 08:41] peterroelants commented on #13207
I created a PR documenting this feature: https://github.com/Alluxio/alluxio/pull/13250

[2021-04-19 09:58] neuyilan commented on #9883
+1, I found the input stream class do not implement the `public int read(ByteBuffer buf) `method in org.apache.hadoop.fs.FSDataInputStream

[2021-04-19 11:39] jasondavindev opened #13251 "Failed to attachdb - Logging NullPointerException"
**Alluxio Version:**
Version 2.4.1-2

**Describe the bug**
When I try to attach db on Alluxio, I faced with `NullPointerException`. The part of message error is sent when I trying to attach a glue database. The complete message is the same error but for 5 tables.

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)
Call
[code]
My aws credentials are se

[2021-04-19 16:08] LuQQiu commented on #13251
@HelloHorizon Can you help take a look at this issue?

[2021-04-19 16:11] LuQQiu commented on #13227
@yuzhu Please help take a look at this issue, thanks!

[2021-04-20 04:47] peterroelants commented on #13207
Closing with the PR documenting the feature merged: https://github.com/Alluxio/alluxio/pull/13250

[2021-04-20 04:47] #13207 closed

[2021-04-20 12:58] peterroelants opened #13254 "fuse with translation disabled still requires username lookup"
**Alluxio Version:**
2.5.0-2

**Describe the bug**
I have a FUSE process with user translation turned off by setting `alluxio.fuse.user.group.translation.enabled=false`. This fuse process is running in a Docker container as `alluxio` user, and is sharing the FUSE mount via a bind-mount on the host.
 However when trying to write to the FUSE folder from a different service I get the following error:

[2021-04-20 15:36] peterroelants opened #13255 "Alluxio-Worker-FUSE integration hangs"
**Alluxio Version:**
2.5.0-2

**Describe the bug**
The [Alluxio Worker-FUSE integration](https://docs.alluxio.io/os/user/edge/en/api/POSIX-API.html#fuse-on-worker-process) hangs after fetching a file from cache.

**To Reproduce**
- Start Alluxio Master
- Start Alluxio Worker with FUSE integration
  - Worker has multi-tiered caching with a tier 0 in MEM and tier 1 on disk.
- On worker container:

[2021-04-20 18:24] #13179 closed

[2021-04-20 21:59] yuzhu opened #13259 "Improve Metadata Sync Performance"
**Is your feature request related to a problem? Please describe.**
Faster metadata sync is critical to master scalability and performance.

**Describe the solution you'd like**
Minimum number of operations to the UFS

**Describe alternatives you've considered**

**Urgency**
Medium

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-04-21 01:06] yuzhu commented on #12868
addressed by #13119

[2021-04-21 01:13] yuzhu commented on #13147
i will take a look. @ldd91 just to be sure, are you using local file system as your ufs?

[2021-04-21 02:02] sunnyszy opened #13260 "Add Shadow Cache to Measure Working Set Size"
**Is your feature request related to a problem? Please describe.**
Knowing the working set size during the runtime can help to tune the cache size. Since it is hard to log a trace, one approach is to build a shadow cache to track the objects in the requests.

This measurement tool is also useful to explore the potential improvement in caching algorithms. The shadow cache can measure the hit ratio

[2021-04-21 02:02] sunnyszy commented on #13260
@apc999

[2021-04-21 02:11] ldd91 commented on #13147
@yuzhu Yes,we use local file system

[2021-04-21 18:47] LuQQiu opened #13263 "Alluxio JNI-Fuse is not compatible with macOS 11 and osxfuse 3.11+"
**Alluxio Version:**
Master

**Describe the bug**
mac OS 11.2.3 requires osxfuse 3.11+.
I tried both osxfuse 3.11+ and 4.1.0.
When launching JNI-FUSE, the process stuck. The `mount` command stuck as well.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
JNI-FUSE should be able to be launched and worked with newer version macOS and os

[2021-04-21 19:13] apc999 commented on #13255
@peterroelants  can you provide jstack of your worker process ? it will be very helpful to identify where it is stucking

[2021-04-21 21:02] #13159 closed

[2021-04-21 23:46] apc999 commented on #13254
@peterroelants  I created a patch #13268 to fix this issue.

[2021-04-21 23:51] apc999 commented on #13230
@loovia  it seems the worker is full from log
"Failed to write data for request BlockWriteRequest{id=9926541836288, sessionId=3105850754760692057, tier=0, createUfsBlockOptions=null}
java.io.IOException: No space left on device"

Do you mind upload your worker.out and worker.log files here?

[2021-04-22 02:56] LuQQiu commented on #13212
@JySongWithZhangCe Is this behavior still true with the latest master or latest versions?

[2021-04-22 03:02] LuQQiu commented on #13212
@bradyoo I think for distributedLoad, if a file is loaded in the first distributedLoad, the second time the load is a no-op for this file. Can we do the same thing for distributedCp? When copying a directory, if a file/folder in this directory with the same name exist, we don't cp that file?

maybe a better question for what user experience we want? what's your opinion @calvinjia ?

[2021-04-22 03:06] LuQQiu commented on #13158
Yeah the count is slow, especially for a large folder.
If the system is read-only, and the data is never or seldom change both in Alluxio and UFS, metadata cache could be enabled.
[code]

[2021-04-22 03:58] loovia commented on #13230
[worker.log](https://github.com/Alluxio/alluxio/files/6355365/worker.log)
@apc999
yesterday i changed worker tieredstore to SSD(500G) replaced of MEM(50G) + HDD(150*12) every host, it seems normal now. But there still AsyncBlockRemover log `2021-04-22 11:02:11,369 WARN  AsyncBlockRemover - Failed to remove block 8595236192256 instructed by master. This is best-effort and will be tried later. threa

[2021-04-22 08:33] peterroelants commented on #13255
I have been running this with JRE, which does not have jstack afaik.
If I have some time I will try to recreate the issue with JDK and try to get the output from jstack.

[2021-04-22 10:14] peterroelants commented on #13255
I have been able to [add jstack to my JRE-based container](https://stackoverflow.com/a/66528723/919431).

I have replicated the issue with:
[code]

Please find the worker logs and jstack outputs as collected by:
[code]
- [worker-ps-aux.log](https://github.com/Alluxio/alluxio/files/6357407/worker-ps-aux.log)
- [worker.log](https://github.com/Alluxio/alluxio/files/6357410/worker.log)
- [jstack-Allux

[2021-04-22 15:42] #13251 closed

[2021-04-22 16:31] LuQQiu commented on #13255
From jstack-AlluxioWorker.log, 3 threads are blocked waiting for lock `0x0000000732f91ab8`
[code]

[2021-04-22 17:09] frankobe opened #13272 "Master leader fails to request snapshot info from followers"
**Alluxio Version:**
2.4.1

**Describe the bug**
I see the following log in quorum leader log
[code]

However the current available quorums are
[code]

In leader host: 10.189.194.157:9213, the latest snapshot is on April 8
[code]

In the follower host 10.191.55.69:9219, the latest snapshot is on April 22 (Up-to-date)
[code]

2 questions

1. The  `peers=[10.191.137.200_9251, 10.189.196.45_9310, 10.

[2021-04-22 17:16] bradyoo commented on #13212
See https://github.com/Alluxio/alluxio/pull/13262. The behavior is changing so that distributedCp will actually overwrite the files because that was the intended behavior when it was first implemented.

We are definitely not doing the behavior where when distributedCp fails, directory getting deleted. That is because there are cases when some files are not properly completed or intermittent proble

[2021-04-22 18:08] bradyoo commented on #13212
Closing this task

[2021-04-22 18:08] #13212 closed

[2021-04-22 18:26] frankobe commented on #13272
@yuzhu It is not a transient issue. Following https://github.com/Alluxio/alluxio/blob/master/core/server/common/src/main/java/alluxio/master/journal/raft/SnapshotReplicationManager.java#L440, the `mJournalSystem.getQuorumServerInfoList` works as expected (show available quorum) however I am lost on where those outdated peers are stored when sending `GetSnapshotInfoRequest` from the leader to the f

[2021-04-22 18:32] bf8086 commented on #13272
Sure will take a look.

[2021-04-23 00:34] maobaolong opened #13278 "Alluxio shouldn't display zero length file in-memory totally"
**Alluxio Version:**
all version and master branch

**Describe the bug**
Now, if a zero length size file in alluxio, it will be displayed 100% in memory, even in the in-alluxio web page, huge empty files are displayed there, it confused me and make it hard to distinguish the useful information which I really want to see.

**To Reproduce**

Put zero length file into alluxio or touchz empty file ins

[2021-04-23 01:38] neuyilan opened #13280 "Use ROCKS as local client cache not work."
**Alluxio Version:**
Master branch or v2.5.0-2

**Describe the bug**
When I use the local cache mechanism of alluxio, the underlying storage uses `ROCKS`, and there will be the following errors:
![image](https://user-images.githubusercontent.com/6237070/115804951-93276380-a416-11eb-9b9b-7a165fa55e68.png)

**To Reproduce**
The following codes will produce above error

**Expected behavior**
I'm glad

[2021-04-23 01:57] LuQQiu commented on #13278
May not be a bug but a what feature we want issue.
For 100% in-alluxio file, i prefer to think it as no need to contact UFS for those files.
@apc999 What's your opinion on that?

[2021-04-23 07:07] #13221 closed

[2021-04-23 07:25] #13254 closed

[2021-04-23 09:31] maobaolong commented on #13278
@LuQQiu Thank you for your reply, it would be better to don't display an empty file in the in-alluxio web page,

also, an empty file shown 100% in-alluxio, it make me feeling confused.

[2021-04-23 23:20] LuQQiu commented on #13263
This issue only occur in Mac. WorkerFuse in docker linux env doesn't hang. Fuse failed to mount but worker ran as expected.

[2021-04-24 16:25] JySongWithZhangCe opened #13287 "Packaging distributed load code into DistributedLoadUtils"
**Describe the solution you'd like**
Packaging distributed load code into DistributedLoadUtils, so that both distributed load on filesystem and table are able to use the same code.

[2021-04-25 08:21] jiacheliu3 opened #13289 "Decouple Allocator and Reviewer"
**Summary**
Now the Reviewer instance is in the Allocator instance, eg.https://github.com/Alluxio/alluxio/blob/5970957e176fccc93e3fd5cffe15ee59b8ba178d/core/server/worker/src/main/java/alluxio/worker/block/allocator/RoundRobinAllocator.java#L57 This design is wrong. The coupling should be removed.

The main challenge of the decouple is the fact that we have both stateless(MaxFreeAllocator which si

[2021-04-25 09:54] neuyilan commented on #13280
Hi, this problem seems to be solved to me, the previous error was due to my use of alluxio-shaded-client-${version}.jar[1]. When I use alluxio-core-client-hdfs-${version}.jar[2], there is no such problem.
These two packages are confusing to me, what is the difference between them? Which one should I use? I saw the presto use the first one[3].

[1]
[code]
[2]
[code]
[3]  https://github.com/prestodb

[2021-04-25 15:06] FengJinghHua opened #13291 "huawei pfs extensions does not support?"
I find the extensions in https://github.com/Alluxio/alluxio-extensions , it works in obs, but if we use huawei pfs . it does not work.
alluxio can not load the file which in pfs into alluxio but not throw any exception. Does any docs to help me go ahead? please help.

[2021-04-25 22:41] #13255 closed

[2021-04-25 22:49] apc999 commented on #13280
@neuyilan  we typically recommend to use the first one as in Presto codebase. Classes in `alluxio-shaded-client:org.alluxio` are shaded to avoid jar hell due to dependency conflict. I guess the rocksdb dependency was shaded in a wrong way causing your the issue. I will take a look.

[2021-04-25 22:56] apc999 commented on #13278
I can see it goes with either way -- treating empty files as 100% in Alluxio or 0% in Alluxio.
@maobaolong  is the goal to reduce the amount of files displayed in "In-Alluxio" tab? If that's the main painpoint, I can propose to change the tab to display all files with at least 1 byte and 100% loaded in Alluxio, rather than changing `DefaultFileSystemMaster`. What do you think?

[2021-04-26 02:08] neuyilan commented on #13280
@apc999 Thank you for your reply and thanks for trying to fix this problem.  BTW, I am particularly looking forward to being able to use rocksdb as a local cache in our production environment.

[2021-04-26 10:09] yabola commented on #13291
A dir in PFS will be explicitly created ( `alluxio.underfs.obs.OBSUnderFileSystem#getObjectStatus` will  return meta in dir instead of null ). we will fix this problem.

[2021-04-26 12:13] gpang commented on #13278
I think it was intentional that an empty file was considered 100% in Alluxio, since a read of that file would be fully serviced by Alluxio, and not interact with UFS.

[2021-04-26 13:28] maobaolong commented on #13278
@LuQQiu  @apc999 @gpang  Thank you for all the responses, that help me to understand the 100% in-memory mean for empty files.

So I think it's a good idea to display more than zero byte and 100% in-alluxio files in the in-alluxio tab.

My pain for the empty is something like this
![image](https://user-images.githubusercontent.com/17329931/116087605-9c912400-a6d3-11eb-8f24-5d6a6778c068.png)

[2021-04-26 16:10] yabola opened #13295 "Alluxio master should check worker address correctness in heartbeat"
Alluxio Version:
all version

Describe the bug
The health check of the worker is now guaranteed by the worker actively contacting the master. When worker's network was changed(worker was still shown healthy in master) , master cannot communicate with worker.

To Reproduce
The quick way to reproduce is to start Alluxio locally and then change the network of the worker. At this time, the worker can

[2021-04-26 16:11] yabola commented on #13295
I will try to fix this.

[2021-04-27 00:56] apc999 commented on #13230
@loovia

You can ignore this warning message. It simply means the master instruct the worker to remove a data block and this block is no longer on this worker (can be an expected case)

WARNING: Stream Error
io.netty.handler.codec.http2.Http2Exception$StreamException: Received DATA frame for an unknown stream 19"

This is a known issue https://github.com/Alluxio/alluxio/issues/13138 we are trackin

[2021-04-27 00:58] apc999 commented on #13165
@jiemar  ping.

[2021-04-27 01:26] loovia opened #13300 "alluxio.shaded.client.io.grpc.StatusRuntimeException: INTERNAL: HTTP/2 error code: PROTOCOL_ERROR"
**Alluxio Version:**
2.4.1-2

run hivesql `create table tmp_src_table_h_2021042620 as select col from table `
error log:
[code]

[2021-04-27 01:50] loovia commented on #13300
@apc999 Please take a look, thank you~

[2021-04-27 02:18] loovia commented on #13230
@apc999 thanks~

[2021-04-28 00:34] LuQQiu opened #13309 "Cephfs mvn build doc command error out"
**Alluxio Version:**
Alluxio master 2.6.0-SNAPSHOT-c6582b0cdcb83e41209cf00b809690588434a106

**Describe the bug**
Doc generation failed after PR https://github.com/Alluxio/alluxio/commit/3ef4728df196c17e4eb397f6612e41b68fe26791 merged.
After removing the whole underfs/cephfs, the `mvn javadoc:aggregate` command passed.

**To Reproduce**
In linux environment, git clone https://github.com/alluxio/al

[2021-04-28 00:40] LuQQiu commented on #13309
Result of running `mvn javadoc:aggregate --no-transfer-progress -T 2C -Dcheckstyle.skip -Dlicense.skip -Dfindbugs.skip`
[mvn.log](https://github.com/Alluxio/alluxio/files/6388340/mvn.log)
Result of running `mvn dependency:tree`
[dep.log](https://github.com/Alluxio/alluxio/files/6388350/dep.log)

[2021-04-28 00:41] LuQQiu commented on #13309
@jhonxue @maobaolong PTAL this issue, this issue is blocking the Alluxio docs publish pipeline

[2021-04-28 00:41] LuQQiu commented on #13309
@tieujason330 FYI

[2021-04-28 02:34] neuyilan commented on #13280
@apc999 BTW, Does the Alluxio local cache provide some cache hit or cache miss rate statistics? I didn't find it in the code, and I think it will be very friendly for users to analyze their business applications.

[2021-04-28 09:30] jiacheliu3 opened #13311 "Support disabling local logs in k8s"
**Is your feature request related to a problem? Please describe.**
When [remote logger](https://docs.alluxio.io/ee/user/stable/en/deploy/Running-Alluxio-On-Kubernetes.html#enable-remote-logging) is enabled in K8s, the user may want to just turn off local logs.

One reason is to reduce the local disk usage, as writing to the writable layer in a container may be costly. Or this may use too much of t

[2021-04-28 18:28] #12868 closed

[2021-04-28 18:41] yuzhu commented on #13259
listStatus on a directory with ~10 files with sync metadata on is reduced from ~700ms to ~100ms with these changes.

[2021-04-28 18:41] #13259 closed

[2021-04-29 08:34] maobaolong commented on #13278
@bzheng888 will fix this issue.

[2021-04-29 10:18] kevingbb opened #13317 "Failed to mount /mnt/alluxio-fuse"
**Alluxio Version:**
2.5.0

**Describe the bug**
I have followed the instructions to install Alluxio on top of Kubernetes using the Helm chart along with POSIX API and FUSE. The master (alluxio-master-0) and workers (alluxio-worker) come up properly and used the alluxio runTests to validate. However, when trying to bring up FUSE, the alluxio-fuse-client comes up and is running ok, but the alluxio-

[2021-04-29 16:09] yuzhu commented on #13147
@ldd91 I checked locally and created a test for symlinks. Seems to be working fine with sym links. Do you have any alluxio logs  that could tell us more info about why it failed. Btw I added a test here. #13318

[2021-04-29 17:51] #10385 closed

[2021-04-29 20:23] ggezer commented on #13278
As suggested on community channel, right resolution here is to add a feature request for web-ui to filter files by name/size/etc. Current design of showing 0 byte files as %100 in Alluxio is right, so there's nothing to fix there.

[2021-04-29 22:00] apc999 commented on #13317
@kevingbb  do you see this issue deterministically?

[2021-04-29 22:04] apc999 commented on #13300
@ggezer @bf8086  do you know when GRPC receive `INTERNAL: HTTP/2 error code: PROTOCOL_ERROR
 Received Rst Stream`?

[2021-04-29 22:05] #13230 closed

[2021-04-30 03:27] neuyilan commented on #13280
Update：Sorry, I have seen the metrics statics in the source code, and I'll try to know how to use it, thanks again.

[2021-04-30 05:16] kevingbb commented on #13317
I cannot get past this issue and it is happening on every node. I overrode the startup command on the DS so the container would startup and I could exec into it. After exec'ing directly into the Pod I tried to run the entrypoint.sh script directly using the passed in arguments, but the same result and error message about an invalid argument:
[code]

[2021-04-30 06:20] peterroelants opened #13322 "Alluxio-FUSE containers don't have /etc/fuse.conf"
**Alluxio Version:**
2.5.0 & 2.5.0-2

**Describe the bug**
There doesn't seem to be a `/etc/fuse.conf` template file in the fuse-containers. This file is used for example to allow other users to access the FUSE filesystem.

**To Reproduce**
[code]

[code]

**Expected behavior**
Template of `/etc/fuse.conf` to be available in the Alluxio-fuse containers

[2021-04-30 06:23] peterroelants commented on #13317
I think this might be because `user_allow_other` won't be set in the `/etc/fuse.conf`. I think this is a requirement to use `allow_other`.

To work around you can try building the [Dockerfile.fuse](https://github.com/Alluxio/alluxio/blob/master/integration/docker/Dockerfile.fuse) container image with `--build-arg ENABLE_DYNAMIC_USER=true`.

[2021-04-30 06:32] kevingbb commented on #13317
Thx @peterroelants for the alternative idea. Is there a way I can quickly try that out on the command line before rebuilding by passing something else to the entrypoint.sh script above or does it need to get rebuilt?

[2021-04-30 06:33] cdmikechen opened #13323 "Alluxio cannot be started after master switch in k8s with helm"
**Alluxio Version:**

2.5.0-1

**Describe the bug**

If I migrate the master node from `alluxio-master-0` to `alluxio-master-1` (multi masters, like `master.count=2` with helm by statefulset ) and restart master, it will cause the startup exception.

**To Reproduce**

1. start alluxio by helm and set `master.count` to `2` and use `journal.type` "EMBEDDED".
2. kill `alluxio-master-0` pod and alluxi

[2021-04-30 06:58] peterroelants commented on #13317
@kevingbb You can try running  `echo "user_allow_other" >> /etc/fuse.conf` when starting the FUSE container (from [Dockerfile.fuse#L107](https://github.com/Alluxio/alluxio/blob/fbf306c8cb75a4f58b42a1d30d3c6140baa06c48/integration/docker/Dockerfile.fuse#L107))

[2021-04-30 07:42] peterroelants opened #13324 "FUSE directory remains with .fuse_hidden0000000900000001 file after trying to delete the directory."
**Alluxio Version:**
2.5.0-2

**Describe the bug**
To test our system I have some unit tests that read and write to and from Alluxio. As in a typical unit test we try to clean everything up after the run.

However when creating a directory into Alluxio FUSE (with local storage as UFS), writing into it, and cleaning up after running some checks I see the following error in the Alluxio FUSE logs:
[c

[2021-04-30 07:45] ggezer commented on #10038
Another use case to justify this feature: https://github.com/Alluxio/alluxio/issues/13278

[2021-04-30 07:49] peterroelants commented on #13324
After reading a bit on the internet I found the following two posts that clarify a bit what those `.fuse_hidden****` files are:
- https://askubuntu.com/a/493206
- https://serverfault.com/a/478619

It seems that something is still keeping my file open (even after my tests finished)

[2021-04-30 07:53] yabola commented on #13291
https://github.com/Alluxio/alluxio-extensions/pull/32 fix

[2021-04-30 10:28] ldd91 commented on #13147
Thank you for have a test,I will check it again and collecte the alluxio log.

[2021-04-30 10:51] kevingbb commented on #13317
The /etc/fuse.conf file did not exist in the container. I created the file using the command above, but still the same result about invalid argument. I will try with rebuilding the container using the argument above and report back.

[2021-04-30 12:16] peterroelants commented on #13324
This seemed to be an issue with an underlying service that was not releasing the file properly: https://github.com/libvips/pyvips/issues/249

[2021-04-30 12:16] #13324 closed

[2021-04-30 14:21] kevingbb commented on #13317
@peterroelants, I built the container images toggling the dynamic user flag, but get the same Invalid argument error as before:

[code]

[2021-04-30 16:20] peterroelants commented on #13317
It looked similar to a problem I encountered before, I hoped it would help.

[2021-04-30 17:49] LuQQiu commented on #13309
Create a separate branch https://github.com/Alluxio/alluxio/tree/ceph for all ceph changes to go in.
All the in-progress or future ceph changes please target this `ceph` branch.
I will remove all the ceph related code from master for now until this issue is solved in the `ceph` branch and we can merge the `ceph` branch back to master.

Sorry for the inconvenience brought by the docs publish pipeli

[2021-04-30 19:02] HelloHorizon opened #13328 "Left over the incomplete file if output stream got cancelled"
**Alluxio Version:**
Alluxio-2.6

**Describe the bug**
If the output stream got cancelled after the file created, the output stream will leftover the incomplete file in Alluxio.

**To Reproduce**
Start output steam and cancel it after files are created.

**Expected behavior**
The incompleted file should get deleted after canceling the output stream.

**Urgency**
Describe the impact and urgency of

[2021-04-30 22:54] #13287 closed

[2021-05-01 05:03] kevingbb commented on #13317
Here is the updated Dockerfile used, but the result was the same:

[code]

[2021-05-01 05:08] kevingbb commented on #13317
If I exec into the pod and run a ls -al in /mnt I see the alluxio-fuse directory. And If I add something to that directory I will see it reflected on the corresponding disk.

It feels like I missed some type of step on the setup/configuration. Is there a command I can run to easily check everything that is getting passed in so we can look at the parameters?

[2021-05-01 05:55] #13323 closed

[2021-05-01 08:28] peterroelants commented on #13317
@kevingbb The `/mnt/alluxio-fuse` directory might be created by the K8s mount. If that directory is there that does not necessarily mean that FUSE actually mounted something.

You can check if it actually is mounted with `mount | grep/mnt/alluxio-fuse`

[2021-05-01 09:50] yabola commented on #13295
This may not be a issue. Worker's address is configed by user (`alluxio.util.network.NetworkAddressUtils#getConnectHost`) . User should guarante this config is correct.

[2021-05-01 09:50] #13295 closed

[2021-05-02 04:45] LuQQiu commented on #13263
assigned to @yabola

[2021-05-03 17:48] ggezer commented on #13300
RST_STREAM will be one of the hardest errors to investigate since it's kind of an umbrella bug:
https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md

This could also give an idea as to where to look for at our side:
https://github.com/grpc/grpc-go/issues/576

[2021-05-04 14:47] liuyihan opened #13333 "Upload >5GB file to Aliyun OSS failure"
**Alluxio Version:**
alluxio-2.5.0-2

**Describe the bug**
Aliyun OSS as Alluxio’s under storage system, when I copy the file which larger than 5GB to another path, it failure.
Worker log like this
![image](https://user-images.githubusercontent.com/4084779/117022231-a72e6780-ad2a-11eb-8c17-413c076e4072.png)

**To Reproduce**
/opt/alluxio/bin/alluxio fs cp /source/***.json /target/***.json

**Expec

[2021-05-05 20:23] LuQQiu commented on #13317
@kevingbb can you try using these updated docker image with built-in `ENABLE_DYNAMIC_USER=true`
[code]
and launch your scripts with normal non-root users? Fuse has the convention to be mounted by normal users. If root is needed to work with the fuse mount point, then allow_root mount options can be provided

[2021-05-05 20:28] apc999 commented on #13333
@liuyihan thanks for reporting this issue. Do you have a stack trace of this exception?
it will be more helpful if you can sure the worker log here

[2021-05-05 21:19] apc999 commented on #12999
Given RocksDB version has been bumped, I will close this issue for now and we can re-open it if this happens again @jiacheliu3

[2021-05-05 21:19] #12999 closed

[2021-05-05 21:52] LuQQiu commented on #13317
@kevingbb What libfuse version did you use?

[2021-05-06 06:47] maobaolong commented on #13309
@LuQQiu After some reproduction, I found that there are a unspecified variable within the pom.xml of libcephfs.

![Uploading image.png…]()

[2021-05-06 17:18] frankobe opened #13349 "Race condition on alluxio/server/ft/MasterFailoverIntegrationTest.java#failoverJournalFencingTest"
**Alluxio Version:**
2.5.0 latest master branch head

**Describe the bug**
failoverJournalFencingTest fails due to

**To Reproduce**
Clone the master branch head, run `failoverJournalFencingTest`, it fails due to race condition on rocksdb open

[code]

**Expected behavior**
The test should pass

**Urgency**
Describe the impact and urgency of the bug.

[2021-05-07 14:16] sunnyszy commented on #13260
@apc999  I've refactored the metrics from meters to counters in the PR and add a usage manual: https://docs.google.com/document/d/14jVQxYrjvPTj7ivLEzuTTPCwvxCMNf-A2lMl7lJ9Ccc/edit?usp=sharing

[2021-05-08 23:40] LuQQiu opened #13377 "Hadoop incompatible when using ADL UFS"
**Alluxio Version:**
Master 2.6.0-SNAPSHOT-ee131efc279e141a151c00f3c201fb934efc7b46

**Describe the bug**
Data is already distributed loaded into Alluxio.
ImageNet training job is listing and reading data through Alluxio Fuse mount point.
[code]

The training job can successfully pass the list directory phrase but will be stuck and eventually timeout in the reading data phrase. The stuck behavior

[2021-05-08 23:40] LuQQiu commented on #13377
Looks like the default hadoop version and the ADL hadoop version is not compatible.

[2021-05-10 02:35] loovia opened #13381 "Worker storage recycling does not seem to take effect"
**Alluxio Version:**
2.4.1-2

**Describe the bug**
We store the temporary table data in Aluxio and drop table after the job is done. After a few days, the worker storage occupies 50%, it's unexpected.
whta is `.alluxio_ufs_persistence` path? it takes up more than 400G

[2021-05-10 05:58] kevingbb commented on #13317
@LuQQiu, for libfuse I built Alluxio using the Dockerfile.fuse file with the following tarball: ARG ALLUXIO_TARBALL=http://downloads.alluxio.io/downloads/files/2.5.0-2/alluxio-2.5.0-2-bin.tar.gzjust getting back to this.

The images above look to be newer versions so I will give the updated images above a try this week and report back. Thx!

[2021-05-10 06:44] shenghui361 opened #13382 "alluxio master jvm crash"
**Alluxio Version:**
2.4.1

**Describe the bug**
the master jvm crash and dump following content:

Stack: [0x00007f7eb83c4000,0x00007f7eb84c5000],  sp=0x00007f7eb84c2c18,  free space=1019k
Native frames: (J=compiled Java code, j=interpreted, Vv=VM code, C=native code)
C  [libc.so.6+0x16ab69]  __memcmp_sse4_1+0xbb9
C  [librocksdbjni4465988090049284547.so+0x4ab3b8]  rocksdb::BlockBasedTableIterator<

[2021-05-12 03:46] BUPTAnderson commented on #13382
It could be related to this issue https://github.com/Alluxio/alluxio/pull/12974

[2021-05-12 07:55] loovia opened #13399 "worker can't send data message as if it can’t serve"
**Alluxio Version:**
2.4.1-2

**Describe the bug**
run sparksql and table location on alluxio. Many sql jobs was hung and these executors connected to the same alluxio worker(hadoop-14).

a part of log from executor:
[code]

log from worker:
[code]

[2021-05-12 13:50] AlexChenSkyBlue opened #13400 "Alluxio Fuse GC failure"
Hi,

We have seen our alluxio fuse pod keep get GC failure after running sometime. We have to manually restart pod. Is there setting related to alluxio fuse pod GC?

[2021-05-12 18:46] LuQQiu commented on #13377
Fixed by #13395

[2021-05-12 18:46] #13377 closed

[2021-05-13 01:23] AlexChenSkyBlue commented on #13400
[Eden: 0.0B(1632.0M)->0.0B(1632.0M) Survivors: 0.0B->0.0B Heap: 32689.1M(32768.0M)->32689.1M(32768.0M)]
 [Times: user=0.00 sys=0.00, real=0.00 secs]
2021-05-13T01:21:58.732+0000: 61322.243: [Full GC (Allocation Failure)  32689M->32689M(32768M), 7.3094920 secs]
   [Eden: 0.0B(1632.0M)->0.0B(1632.0M) Survivors: 0.0B->0.0B Heap: 32689.1M(32768.0M)->32689.1M(32768.0M)], [Metaspace: 29241K->29241K(3481

[2021-05-13 05:00] yangyuliufeng opened #13405 "alluxio fuse cannot mount mountpoint to localpath dynamic"
**Alluxio Version:**
What version of Alluxio are you using?
2.5.0

**Describe the bug**
After I executing "alluxio fs mount <alluxio_path> xxxxxx" command, alluxio fuse perhaps cannot mount the new alluxio_path to localpath.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)
I mount https://mirrors.tuna.tsinghua.edu.cn/apache/hbase/2.2.6/ to the root dir of

[2021-05-13 07:50] yangyuliufeng commented on #13158
@LuQQiu
my config is:
[code]
however, the command "alluxio fs count /' is still very slow.
Perhaps because it will traverse all files in the root directory to get ufstotal everytime.

[2021-05-13 07:51] yangyuliufeng commented on #13158
how about storage the result in "alluxio fsadmin report metrics"

[2021-05-13 12:12] shenghui361 commented on #10925
the same problem:
alluixo 2.4.1

`2021-05-13 19:53:00,316 INFO  UfsJournalReader - Reading journal file hdfs://sfbd-dr/alluxio/journal/FileSystemMaster/v1/logs/0x26cd21a8-0x26ce7a8b.
2021-05-13 19:53:00,826 ERROR UfsJournalCheckpointThread - Journal replay error: FileSystemMaster: Failed to read or process journal entry sequence_number: 651025641
update_inode {
  id: 1971409738224726
  last_modifi

[2021-05-13 22:32] apc999 commented on #13405
@yangyuliufeng thanks for reporting this issue! I will take a look

[2021-05-13 22:37] calvinjia commented on #13400
Hi @AlexChenSkyBlue thanks for reporting this issue. Are you on Java 8 or 11? We recommend to use concurrent mark and sweep instead of G1GC `-XX:+UseConcMarkSweepGC`

[2021-05-13 22:45] apc999 commented on #13399
the worker log is independent from the client log, and you can ignore the worker warnings.
the client log is concerning as they are not able to write through, we would like to have more understanding of your issues. Can we have a quick chat on that? you can find me (bin fan) on Alluxio community slack (www.alluxio.io/slack)

[2021-05-13 22:46] apc999 commented on #13382
we have fixed this issue @shenghui361 in latest release 2.5.0-3 (https://github.com/Alluxio/alluxio/pull/13340)

[2021-05-13 22:49] apc999 commented on #13349
@frankobe  this issue has been fixed by https://github.com/Alluxio/alluxio/pull/13175
We have 2.5.0-3 release including this fix

[2021-05-13 22:49] #13349 closed

[2021-05-13 22:55] apc999 commented on #13381
@loovia  `.alluxio_ufs_persistence` is a staging directory for async-through writes via Alluxio, before the data is persisted in UFS. Which UFS type are you using? and do you see temp files stated there?

in addition, how did you define your table on hive and how did you drop the table? Say, if hive table points to files in UFS (say HDFS) rather than Alluxio, you only get the table removed from UF

[2021-05-13 22:57] apc999 commented on #13317
@LuQQiu  have we fixed this issue yet or shall I take a look?

[2021-05-14 00:04] LuQQiu opened #13410 "DistributedLoad load data unbalanced between workers"
**Alluxio Version:**
Master 2.6.0-SNAPSHOT

**Describe the bug**
Alluxio cluster settings:
- One master and six workers in the cluster
- Fresh deploy in kubernetes env
- Each worker is SSD only, the SSD size is 1600GB per worker.
- Job master pod is launched with 2 CPU and 8GB memory with default config
- Job worker pod is launched with 1 CPU and 4GB memory with default config
- Worker pod is laun

[2021-05-14 00:06] LuQQiu commented on #13410
@bradyoo PTAL this issue would need your help with the following questions:
1. does `distributedLoad` usually load data balanced among multiple similar configured workers?
2. If I want to analyze what could result in the unbalanced used capacity, where should I look deeper into?

[2021-05-14 01:40] AlexChenSkyBlue commented on #13400
We are using official docker image which is using java 8. Do you suggest we switch to java 11? we will try the jvm option

[2021-05-14 01:49] loovia commented on #13381
my all tables location is 'alluxio://path/to/table', because database path was mounted in alluxio.
I often saw individual files that were not persisted in UFS(HDFS) when I use `ASYNC_THROUGH`. And temp files exit in `.alluxio_ufs_persistence`  After the table generated. Next to I will detele table. After a few days, `.alluxio_ufs_persistence` becomes like this.

A few days ago, I set `alluxio.user

[2021-05-14 02:32] BUPTAnderson opened #13411 "Passive TTL on files does not take effect"
Alluxio Version:
2.3.0 2.4.0 2.5.0

Describe the bug
Passive TTL on files in Alluxio [https://docs.alluxio.io/ee/user/stable/en/core-services/Caching.html?q=ttl#passive-ttl-on-files-in-alluxio](url).
when i adds a new file to the Alluxio namespace with configuration options: `alluxio.user.file.create.ttl` and `alluxio.user.file.create.ttl.action`, Passive TTL does not work.
for example:
list a new

[2021-05-14 02:33] BUPTAnderson commented on #13411
the ttl is still `-1` and ttlAction is still `DELETE`

[2021-05-14 02:34] BUPTAnderson commented on #13411
assign @BUPTAnderson

[2021-05-14 02:35] BUPTAnderson commented on #13411
I have fixed this problem and I will submit an pr later.

[2021-05-14 04:05] AlexChenSkyBlue opened #13413 "Alluxio fuse kubernetes deployment can not read/write file when using jnifuse"
**Alluxio Version:**
What version of Alluxio are you using?
2.5.0 - *
**Describe the bug**
A clear and concise description of what the bug is.
cp: error reading '123.txt': Input/output error. when we use below setting in kubernetes helm deployment.
  properties:
    alluxio.fuse.jnifuse.enabled: "true"
    alluxio.fuse.shared.caching.reader.enabled: "true"
    alluxio.fuse.debug.enabled: "true"

[2021-05-14 07:07] AlexChenSkyBlue commented on #13413
详细报错信息：
2021-05-14 06:54:08,594 ERROR AlluxioJniFuseFileSystem - Failed to read, path: /data/model-iteration/1.txt size: 4096 offset: 0
java.lang.ClassCastException: alluxio.client.file.cache.LocalCacheFileInStream cannot be cast to alluxio.client.file.AlluxioFileInStream
	at alluxio.fuse.AlluxioJniFuseFileSystem.readInternal(AlluxioJniFuseFileSystem.java:429)
	at alluxio.fuse.AlluxioJniFuseFileSy

[2021-05-14 14:13] yuzhu opened #13416 "getBlockInfo call is not efficient"
**Alluxio Version:**
2.5

**Describe the bug**
getBlockInfo call can take a very long time

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
 pingMetaService can be an expensive operation (ta

[2021-05-14 19:02] ZacBlanco opened #13417 "Single-master deployments do not automatically take snapshots"
**Alluxio Version:**

2.6.0-SNAPSHOT

**Describe the bug**

Alluxio has the configuration key `alluxio.master.journal.checkpoint.period.entries`. After this number of journal entries has been applied (due to operations on the Alluxio namespace), the master should automatically begin taking snapshots of the journal. This is supposed to prevent long start-up times when replaying the journal on proce

[2021-05-15 02:34] ssz1997 opened #13420 "Fail tests in alluxio worker while deployed in docker"
**Alluxio Version:**
Alluxio:2.5.0-3

**Describe the bug**
Following https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Docker.html, while deploying alluxio in docker and run tests in worker, 12 tests fail.

**To Reproduce**
In an environment with docker installed:
1. `mkdir -p /tmp/alluxio_ufs`
2. `docker run -d --rm \
    --net=host \
    --name=alluxio-master \
    -v /tmp/allu

[2021-05-15 03:23] loovia opened #13421 "Journal flush failed. retrying..."
**Alluxio Version:**
2.4.1-2

**Describe the bug**
master suddenly hangs up.
error log from master.log and keep printing:
[code]

[2021-05-15 04:34] jiacheliu3 opened #13422 "Fail to helm upgrade logserver deployment in k8s"
**Alluxio Version:**
2.5.0

**Describe the bug**
The logserver deployment is using default strategy which is `RollingUpdate`
[code]

When using helm to upgrade, the new logserver pod will fail to create because the PVC is RWO. The new pod will fail to get the PV, and the old one will fail to give up. This is a deadlock.
[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and pre

[2021-05-15 04:35] jiacheliu3 commented on #13422
This deadlock can be broken by changing strategy to `Recreate`, where the old pod will be destroyed first.
Ref: https://betterprogramming.pub/understanding-kubernetes-deployment-strategies-12535c3cb379

[2021-05-16 00:30] #13309 closed

[2021-05-17 09:31] shenghui361 opened #13430 "HeartbeatThread NullPointerException"
**Alluxio Version:**
2.5.0-3

**Describe the bug**
2021-05-17 16:48:54,268 ERROR HeartbeatThread - Uncaught exception in heartbeat executor, Heartbeat Thread shutting down
java.lang.NullPointerException
        at alluxio.master.metastore.rocks.RocksBlockStore.removeLocation(RocksBlockStore.java:185)
        at alluxio.master.block.DefaultBlockMaster.processWorkerRemovedBlocks(DefaultBlockMaster.j

[2021-05-17 10:38] kevingbb commented on #13317
@LuQQiu, is there a corresponding Helm chart for the above 2.6.0 images? Or should I just use the following Helm repository, helm repo add alluxio-charts https://alluxio-charts.storage.googleapis.com/openSource/2.5.0, and just update the images in the values.yaml file to the ones above?

[2021-05-17 12:48] kevingbb commented on #13317
I tried the above by just switching out the images:
[code]
But I got a command usage message in the alluxio-master-0 container logs:
[code]

[2021-05-17 15:15] kevingbb commented on #13317
I tried the 2.6.0-SNAPSHOT image tags directly from DockerHub and the master and worker came up this time, but the alluxio-fuse pod gets the same invalid argument error.

[code]

[2021-05-19 01:21] JySongWithZhangCe opened #13439 "Add table command for copy data from source table to target table"
**Describe the solution you'd like**
Run `alluxio table cp <src_db>.<src_table> <dst_db>.<dst_table>` for copy data from source table to target table.

**Urgency**
Normal

[2021-05-19 02:07] shenghui361 commented on #13382
@apc999

Alluxio Version:
2.5.0-4

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007f35970c58c6, pid=55893, tid=0x00007f3461bf7700
#
# JRE version: Java(TM) SE Runtime Environment (8.0_92-b14) (build 1.8.0_92-b14)
# Java VM: Java HotSpot(TM) 64-Bit Server VM (25.92-b14 mixed mode linux-amd64 compressed oops)
# Problematic frame:
# C  [libc.so.6+0

[2021-05-19 02:19] BUPTAnderson commented on #13382
@shenghui361 I suggest you to update your `rocksdbjni` version to `6.20.3`, it seems that the version after '6.19.3' has fixed the iteration bug. Try it and I hope you can post your result here.

[2021-05-19 02:23] BUPTAnderson commented on #13382
@bradyoo Any good suggestions?

[2021-05-19 07:27] maobaolong opened #13442 "Throw CCE when using Fuse while enable client cache"
**Alluxio Version:**
Alluxio master branch, HEAD

**Describe the bug**

![image](https://user-images.githubusercontent.com/17329931/118772342-394f7780-b8b6-11eb-9e6b-5facbbe8cac7.png)

[code]

**To Reproduce**

Enable client cache in `alluxio-site.properties`

[code]

And then start Alluxio-fuse, read a file

**Expected behavior**

get the content of the file.

**Urgency**

Urgent, block to use Al

[2021-05-19 07:32] maobaolong commented on #13442
# How to fix this bug

![image](https://user-images.githubusercontent.com/17329931/118773053-ff32a580-b8b6-11eb-89b9-e7bdfdb56099.png)

A simple workaround is test the is, if it is not the `AlluxioFileInStream`, turn to the original logic like the above code.

[2021-05-19 07:56] maobaolong commented on #13442
@bzheng888 Will take this issue and fix it, @LuQQiu please take a look at the PR when @bzheng888 make it ready to review, Thanks @bzheng888 @LuQQiu

[2021-05-19 11:29] maobaolong commented on #10204
@calvinjia Why we add this limit?

I met this issue again like the following screenshot

![image](https://user-images.githubusercontent.com/17329931/118805081-17ff8300-b8d8-11eb-8793-ac5298c34001.png)

In fact, we could support using alluxio URI like the following

[code]

[2021-05-20 17:55] #11404 closed

[2021-05-20 18:56] LuQQiu commented on #13420
@HelloHorizon This is the .alluxio_ufs_persistence related failure

[2021-05-20 20:37] apc999 commented on #13442
@maobaolong  could you elaborate why you want to enable client cache on FUSE, do you plan to run FUSE process standalone? Otherwise, you can leverage the FUSE+Worker combination and achieve similar performance

[2021-05-20 20:40] apc999 commented on #13430
@shenghui361 when you see this issue, are you in the middle of actions like shutting down masters? It will be very helpful for us to know when it happens. Also, can you share your `master.log` ?

@jiacheliu3  FYI

[2021-05-20 20:47] apc999 commented on #13421
@loovia from the messages, you are not using embedded journal but HDFS as a UFS journal, can you double check your configuration? https://docs.alluxio.io/os/user/stable/en/operation/Journal.html#configuring-embedded-journal

Back to what you see here, it looks to me, when you were flushing the journal, the HDFS was unavailable (possibly temporarily, can you check HDFS logs?). This caused `AsyncJou

[2021-05-20 20:51] apc999 commented on #13413
@AlexChenSkyBlue  this issue is a duplicate of https://github.com/Alluxio/alluxio/issues/13442
@maobaolong  is working on addressing that issue.
Closing this issue and we can transfer discussions there

[2021-05-20 20:51] #13413 closed

[2021-05-20 20:55] calvinjia commented on #13400
@AlexChenSkyBlue Were you able to avoid this issue with the GC option?

[2021-05-20 20:57] apc999 commented on #13400
@AlexChenSkyBlue did you get the following setting from any of our documentation? If yes, we will update the docs as G1GC is not well supported for JVM8 (used in our official docker image)

`jvmOptions:
- "-Xmx32G -Xms32G -XX:+UseG1GC -XX:MaxDirectMemorySize=64G -XX:ActiveProcessorCount=4 -XX:+UnlockExperimentalVMOptions -XX:+PrintGC -XX:+PrintGCDateStamps -XX:+PrintGCDetails -XX:+PrintGCTimeStamp

[2021-05-20 21:02] apc999 commented on #13399
@loovia as we discussed offline, I think the worker is running into some issues.
If you have more information of the worker log, you can upload it here and we can have an investigation

[2021-05-20 21:10] apc999 commented on #13381
Once the table is deleted, the corresponding partition files in Alluxio and the associated blocks should be removed at the same time.
Can you share your `master.log` file and I would like to see if there are any failures when removing these temp files on master side and the reason for that.

[2021-05-20 21:11] apc999 commented on #13381
@loovia is it possible you restarted your masters (perhaps a few times) before these async writes complete?

[2021-05-20 21:17] apc999 commented on #13317
@LuQQiu  is this the latest image `2.6.0-SNAPSHOT-9e3e9df4bb73b6aeb2c9ef1217d1071e65677cbb` we are using?

[2021-05-20 22:02] ggezer commented on #13417
Checkpoints aren't taken on the leader since snapshotting require exclusive locking of inode-tree by design. That's why snapshots are allowed on secondary masters. (Single master deployments are leader only, thus no snapshots.)

[2021-05-20 22:17] ZacBlanco commented on #13417
Regardless of whether or not the single-master deployment _should_ checkpoint there is still an issue in the current implementation because of the key `alluxio.master.journal.checkpoint.period.entries`. When the master reaches this threshold the master throws millions of lines of this exception filling up the logs. I also felt the master much slower to respond to requests after hitting this thresh

[2021-05-20 23:39] apc999 commented on #13382
@calvinjia  let me know if we want to upgrade the rocksdb version to a later version
@BUPTAnderson do you have any pointer so I could check in terms of the iteration bug fixed in rocksdb side?

[2021-05-20 23:46] LuQQiu commented on #13317
The latest image is from nightly build and it doesn't have ENABLE_DYNAMIC_USERS build configuration.
That's why I manually build some docker images with `ENABLE_DYNAMIC_USERS` for trying out.
We usually use either directly launching docker images or using kubectl yaml files. There could be a problem with helm charts which may need to try out and look into.

[2021-05-21 02:03] maobaolong commented on #13442
@apc999 Hi Bin, In our scenario, we have to use `standalone` mode fuse, because the alluxio-fuse is out of our alluxio cluster, even worse, the ttl between alluxio-fuse and alluxio cluster are high ~4ms, so we'd like to enable client.metadata.cache and client.local.cache feature to reduce the communicate and data transform between alluxio-fuse and alluxio cluster, but met this CCE.

[2021-05-21 02:25] AlexChenSkyBlue commented on #13400
No, I suspect it may due to our cluster has large amount of data reader, over 100T per day. We use this option:
alluxio.fuse.shared.caching.reader.enabled = true. We try to disable it to see if it improve

[2021-05-21 02:39] AlexChenSkyBlue commented on #13442
We plan to use FUSE+Worker combination.  but there is no valid kubernetes helm deployment option yet

[2021-05-21 02:42] JySongWithZhangCe opened #13458 "Pin RPC raise master's cpu usage in high level"
**Alluxio Version:**
2.3.1

**Describe the bug**

- There is about 35TB data pined in Alluxio in disk.
- Each block of the data has  3 replicas.
- File size of the data is around 50MB.
- Master's CPU usage is over 80%.
- Users want to pin over 150TB data (not include replicas) in Alluxio, because the speed of data transformation between remote UFS and Alluxio is too slow, and the use cases have sp

[2021-05-21 02:46] HelloHorizon commented on #13458
@JySongWithZhangCe Thanks for reporting, will take a look.

[2021-05-21 04:51] kevingbb commented on #13317
@LuQQiu, @apc999, the issues has been resolved. It turns out that the Helm chart referenced in the Helm Repository identified in the docs was an old version (0.6.13) compared to the one in the GitHub repo (0.6.21). In the old Helm chart the /dev/fuse was being referenced as a file whereas in the latest Helm Chart it was being referenced as a CharDevice.

After referencing the Helm Chart directly v

[2021-05-21 04:51] #13317 closed

[2021-05-21 05:04] #13442 closed

[2021-05-21 08:09] githezhihao commented on #11197
@apc999 hi~,I had the same error here when  i use presto to execute a query through alluxio.
the presto server log is following:
`io.prestosql.spi.PrestoException: Error opening Hive split alluxio:/beh001/yarn/warehouse/alx_yarn.db/store_sales/000094_0 (offset=100663296, length=33554432): Failed to connect to FileSystemMasterClient @ bonc-bdc-11.bonc.com:19998 after 44 attempts
Caused by: alluxio.

[2021-05-21 20:28] #13322 closed

[2021-05-22 00:26] apc999 commented on #13143
@jiacheliu3  do you think this is also related to your block master refactor work?
I have seen this making logging super slow due to tens of thousands of blocks printed in master log

[2021-05-22 01:19] BUPTAnderson commented on #13382
@apc999 This bug cannot reappear stably, I don't have any better solution.
but i have two questions that we can talk:
[code]
First:  As i know, the keys with same prefix will store together in RocksDB, so I think there is no need to `setIterateUpperBound(new Slice(endKey))` .
Second: In `RocksIterator iter `, the class `RocksIterator` does not implement interface 'Closeable' or 'AutoCloseable', so

[2021-05-22 03:27] jiacheliu3 commented on #13143
This is currently not in my scope for the refactor.

These two lines are logged upon receiving blocks (from the worker) that are not on the master anymore. The spirit is more of handling each block individually, because by seeing one block unrecognized we can't make assumptions about others. So you see one/more line for each of such blocks. We may wanna find a better balance between verbosity and

[2021-05-22 05:48] apc999 commented on #13322
@peterroelants I updated docker image of 2.5.0-3 to include /etc/fuse.conf by default.
Please take a look. closing this ticket for now.

[2021-05-24 01:42] AlexChenSkyBlue opened #13471 "Kubernetes helm deployment support embeded fuse in worker"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Alluxio already support emedded fuse to reduce network overhead.  But current helm does not support such option
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Kubernetes helm deployment supp

[2021-05-24 02:52] shenghui361 commented on #13382
@apc999  @BUPTAnderson
I have updated rockdb to version to 6.20.3，but has the same problem.

Alluxio Version:
2.5.0-3

rockdb:
 6.20.3

Stack: [0x00007f41540d1000,0x00007f41541d2000],  sp=0x00007f41541d02c0,  free space=1020k
Native frames: (J=compiled Java code, j=interpreted, Vv=VM code, C=native code)
C  [librocksdbjni7938611261212666686.so+0x56f085]  rocksdb::MergingIterator::NextAndGetResult(

[2021-05-24 02:54] BUPTAnderson commented on #13382
@shenghui361 Hi, shenghui, can you tell me how to reappear  this bug stably?

[2021-05-24 03:26] kuszz opened #13473 "Get the exist id if the worker restart"
**Describe the solution you'd like**
Store the worker id when it start first time, get the id from local file when restart and update the workerInfo if address changed.

**Urgency**
Getting the exist id can prevent the loss of workerInfo.

[2021-05-24 03:45] shenghui361 commented on #13382
@BUPTAnderson    sorry  i don’t know how to  reappear .

my cluster environment:
totalPaths:120 million
journal: zk + hdfs
6 workers: 50GB mem and 400GB ssd per worker

[2021-05-24 09:15] RacingDawn commented on #13030
Did you solve it? I face the same situation.

[2021-05-24 16:24] maobaolong opened #13480 "Add some metrics to measure the performance of master RPC"
**Is your feature request related to a problem? Please describe.**

Now, we lack of some metrics to show the performance or rpc server request throughput of alluxio master.

**Describe the solution you'd like**

Add some metrics.

**Describe alternatives you've considered**

Modify the rpc communicate layer.

**Urgency**

Middle

**Additional context**

No

[2021-05-24 16:24] maobaolong commented on #13480
Reference the HDFS namemode `call per second`

[2021-05-24 20:30] #13227 closed

[2021-05-25 00:07] LuQQiu commented on #13473
@kuszz Hold on for implementing this feature.
For this feature, we need a more detailed design to see if the changes is needed, need to consider all the possible corner cases that may occur and compatibility issues.

Please follow the https://docs.alluxio.io/os/user/stable/en/contributor/Contributor-Getting-Started.html#submit-your-feature
to submit a design doc about this feature.

[2021-05-25 00:59] #11197 closed

[2021-05-25 01:11] #12599 closed

[2021-05-25 09:16] LuckyNemo opened #13484 "Compute Integration for Apache Impala"
**Page**
Now alluxio has integrated Spark/MR/Hbase/Flink/Hive/Trino/Presto/TF and so on. But official document lack of support for Apache Impala, can u solve it rather than some other non-official material on the website!

**Summary**
What is the defect and suggested improvement

[2021-05-25 09:16] LuckyNemo commented on #13484
@apc999

[2021-05-25 09:17] LuckyNemo commented on #13484
@zuston

[2021-05-25 09:20] zuston commented on #13484
As i know, Impala don't support Alluxio proto with HCFS interface. Maybe it should be supported by Impala.

[2021-05-25 09:20] linzhouzhi commented on #13484
去点个赞，随便说点也行。

[2021-05-25 09:22] Xinshiyou commented on #13484
good feature

[2021-05-25 09:24] linzhouzhi commented on #13484
very good feature

[2021-05-25 09:31] shenghui361 commented on #10061
Alluxio Version:
2.5.0-3

`2021-05-25 16:11:59,428 INFO  ProcessUtils - Running under Java 1.8.0_92
2021-05-25 16:15:50,424 WARN  BlockMasterClient - Register(workerId=2402720825125147223) exits with exception [alluxio.exception.status.UnavailableException: Failed after 1 attempts: alluxio.exception.status.CancelledException: RST_STREAM closed stream. HTTP/2 error code: CANCEL] in 225523 ms (>=100

[2021-05-26 02:38] Binyang2014 opened #13485 "Enhance distributedLoad"
**Summary**
Currently the max parallel jobs for distributedLoad is controlled by `ACTIVE_JOB_COUNT_OPTION`. For folder which contains many small files, such as imageNet, this number is not easy to define.

If the number is too large, many jobs will failed (due to the requests limitation of UFS). If the number is too small, the load speed will be impacted.

Here we propose a policy to adjust this n

[2021-05-26 02:39] Binyang2014 commented on #13485
@apc999 @LuQQiu Please help to review this design

[2021-05-26 02:41] Binyang2014 commented on #13485
Tested in our bed, this policy works well for small files. For 1 millions files, the failed tasks is around 100

[2021-05-26 03:06] AlexChenSkyBlue commented on #13400
After we switch to jnifuse with client cache disabled. this problem seems goes away

[2021-05-26 03:06] #13400 closed

[2021-05-27 00:34] LuQQiu opened #13490 "Master failed to start with hadoop dependency changes"
**Alluxio Version:**
Master with commit from https://github.com/Alluxio/alluxio/pull/12783

**Describe the bug**
In a sanity check cluster with Alluxio cluster + HDFS as root UFS,
when starting the Alluxio master, error

[code]
shown and master failed to come up, will create an issue for that
**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected beha

[2021-05-27 00:56] maobaolong commented on #13490
@LuQQiu Lu, thanks for catching this issue and reverting it for me. Would you please add some reproduce step, and I could fix this bug base on it.

[2021-05-27 02:07] shenghui361 opened #13491 "lock exception"
**Alluxio Version:**
2.4.1

**Describe the bug**
MOD-1621884814495 (/tmp/.cache/27af9c1fb3ae41bd194d7b8531305bf0/MOD-1621884814495) and
segment_5000000.gz (/dw/user/hive/warehouse/dm_bdpfsimage.db/cfo_hdfs/_copying_20210527/segment_5000000.gz) are are two unrelated inodes.

2021-05-27 09:52:45,271 ERROR FileSystemMasterClientServiceHandler - Exit (Error): GetStatus: request=path: "/dw/user/hive/wa

[2021-05-27 03:02] bzheng888 opened #13492 "Attachdb action report error when using Alluxio SDS"
**Alluxio Version:**
2.5.0-3

**Describe the bug**
Sync errors:
Table test failed to sync: java.lang.IllegalArgumentException: Can not create a uri with a null path.
Table test failed to sync: java.lang.IllegalArgumentException: Can not create a uri with a null path.
Table test failed to sync: java.lang.IllegalArgumentException: Can not create a uri with a null path.
Table test failed to sync: jav

[2021-05-27 03:08] LuQQiu commented on #13490
@Xenorith can you help provide more details?

[2021-05-27 03:22] Xenorith commented on #13490
the current description describes most of the details already. i believe this should reproduce when trying to start any alluxio cluster with HDFS configured as its root ufs mount. i used apache hadoop 2.7.2 for HDFS in this cluster. the alluxio configuration in the cluster that failed is:
[code]
and alluxio-env.sh contains
[code]

note that apache hadoop is installed in `/tmp/hadoop` in this clust

[2021-05-27 04:12] HelloHorizon commented on #13492
@bzheng888 Do you mind providing the corresponding error message in master.log?

[2021-05-27 07:00] maobaolong commented on #13492
[code]

@HelloHorizon Thanks for check this issue, this callstack is a clue of this issue.

[2021-05-27 07:48] maobaolong opened #13493 "Met grpc error: Panic! This is a bug! when using presto on alluxio"
**Alluxio Version:**
2.5.0-3

**Describe the bug**

`select * from test.test` in the presto-cli, will through exception when using alluxio, it can query successfully without using alluxio.

![image](https://user-images.githubusercontent.com/17329931/119785529-da1ae400-bf01-11eb-8b0f-3492e301ef00.png)

![image](https://user-images.githubusercontent.com/17329931/119785609-f3239500-bf01-11eb-9661-0c9

[2021-05-27 07:54] maobaolong commented on #13493
[code]

This is a call stack from presto server.log

[2021-05-27 08:06] dale-wen opened #13494 "Test a large number of small files and Worerk is stuck"
**Alluxio Version:**
alluxio-2.4.1-1
one master
one worker (-Xmx16g -XX:MaxDirectMemorySize=4g)

**Describe the bug**
1.  When testing a 5KW small file (10KB) through the SDK, the worker was found to be stuck

2. # jmap -heap 140350
Attaching to process ID 140350, please wait...
Debugger attached successfully.
Server compiler detected.
JVM version is 25.192-b12

using thread-local object allocatio

[2021-05-27 08:34] maobaolong commented on #13493
[code]

[2021-05-27 09:55] DLUTLiuFengyi commented on #12709
我尝试过 `alluxio.master.mount.table.root.option.alluxio.underfs.version=3.2` 和 `alluxio.master.journal.ufs.option.alluxio.underfs.version=3.2` 都不行，用 `alluxio.underfs.version=3.2` 反而成功了...

[2021-05-27 10:44] kuszz opened #13495 "Add a switch about whether FileMaster update accessTime when reading files"
**Describe the solution you'd like**
Add a field in alluxio-site.properties，if the field not set, the master will update accessTime when reading file.

**Urgency**
The master might under great pressure in high concurrency if update accsstime when reading file.

[2021-05-27 14:58] datYori opened #13497 "claim.Spec.Selector is not supported for dynamic provisioning on AWS"
The following

https://github.com/Alluxio/alluxio/blob/e6b7900126ebb8d236410f35ad69b6ffdb258470/integration/kubernetes/helm-chart/alluxio/templates/worker/domain-socket-pvc.yaml#L33-L38

results in

```K8s dynamic volume provisioning: claim.Spec.Selector is not supported for dynamic provisioning on AWS```

when you go with `gp2` storage class

[2021-05-28 00:19] maobaolong opened #13499 "Support transfer leadership to a specific follower master in raft based ha cluster"
**Is your feature request related to a problem? Please describe.**
In a raft based ha cluster, for some reason, we want to transfer leadership to a specific follower gracefully, now, we have to kill the leader master to transfer leadership, but the leadership could transfer to a unexpected follower, we have to kill the leader master again, this is so tricky.

**Describe the solution you'd like**

[2021-05-28 00:40] maobaolong opened #13500 "Support debug ability when running as a three-nodes raft-based-ha cluster"
**Is your feature request related to a problem? Please describe.**

Now, our cluster is running as a three-nodes raft-based-ha cluster, sometimes, alluxio leader master running with some unexpected behaviors, so we want to debug this leader master.

If it is single node non-ha master, we can stop master, add JVM remote debug related jvm args and restart the master, then, start a ide like intellij

[2021-05-28 01:48] maobaolong commented on #13490
@Xenorith Thanks for the help, I've reproduced this issue, it can works well with `alluxio.underfs.version=3.2` which is the default ufs version, but failed to start for `2.x`. Will take a further look.

[2021-05-31 02:25] kuszz opened #13505 "DistributedLoad Job add a option to exclude some jobWorker"
**Describe the solution you'd like**
Add option in distributedLoad job: --exclude-hosts and --exclude-hosts-file,
distributedLoad [--replication <num>] [--active-jobs <num>] [--index] [--hosts <host1,host2,...,hostN>] [--host-file <hostFilePath>] [--exclude-hosts <exclHost1,exclHost2,...,exclHostN>] [--exclude-hosts-file <exclHostFilePath>] [--locality <locality1,locality2,...,localityN>] [--local

[2021-05-31 02:43] ColdZoo commented on #13484
Hi my folk alluxioers,

I am from [Tencent Beacon](https://growing.tencent.com/home), my teammate and I volunteer to populate this part of documentation.

Alluxio works as Impala's high performance reading cache in our clusters, saving up to 40% of Disk IOs of DataNodes. We are happy to share our findings.

@zuston  So as to Impala's HDFS Scanner compatibility, there is an accepted [patch](https:/

[2021-05-31 02:48] zuston commented on #13484
@ColdZoo Sounds great!
Looking forward to your PR about Alluxio&Impala integration doc.

[2021-05-31 04:05] BUPTAnderson opened #13507 "Master failed to start with kerberosed HDFS RBF"
**Alluxio Version:**
2.5.0-1 2.6.0-SNAPSHOT

Underfs:
kerberosed HDFS RBF
Underfs Version:
3.2.0

Underfs Setting:
alluxio.master.mount.table.root.ufs=hdfs://router/alluxio-multi-media/underFSStorage
alluxio.master.backup.directory=hdfs://router/alluxio-multi-media/alluxio_backups
alluxio.master.journal.type=UFS
alluxio.master.journal.folder=hdfs://router/alluxio-multi-media/journal/

**Describe t

[2021-05-31 04:06] BUPTAnderson commented on #13507
assign @BUPTAnderson

[2021-05-31 04:54] maobaolong commented on #13484
@ColdZoo Thanks for working on this, Look forward to your PR.

[2021-05-31 06:51] kuszz opened #13510 "Add useTime in FileSystemMasterAuditContext"
**Describe the solution you'd like**
Add mCreateTimeMills and mUseTimeMillis in FileSystemMasterAuditContext, set mCreateTimeMills when create, and update mUseTimeMillis when close.

**Urgency**
This change will help to see audit usetime in logs

[2021-05-31 08:57] kuszz opened #13512 "The LeaderCommand can be removed?"
**Describe the solution you'd like**
It seems the leader command can be removed, the masterInfo command also return the leader master address.

[2021-05-31 12:47] maobaolong opened #13513 "Dynamically update the Configuration"
**Is your feature request related to a problem? Please describe.**
Without this feature, any configuration change affected have to through restart the service.

**Describe the solution you'd like**

Create an API to handle the property changed event.

**Urgency**
Normal

[2021-06-01 00:39] maobaolong commented on #13513
After #13514 , we can using property change listener to listen the update config event, the event handlers will affect the related logic to use the newest config value.

[2021-06-01 00:41] maobaolong commented on #13512
@kuszz  So do I. I think so too.

[2021-06-01 01:03] maobaolong opened #13515 "Update cephfs related documents."
**Page**

https://docs.alluxio.io/os/user/stable/en/ufs/Ceph.html
https://docs.alluxio.io/os/user/stable/cn/ufs/Ceph.html

**Summary**

Refactor the document to let user know how to use ceph or cephfs as ufs of alluxio.

[2021-06-01 01:25] apc999 commented on #13174
can be implemented by https://github.com/Alluxio/alluxio/pull/13514

[2021-06-01 01:39] apc999 commented on #13473
@kuszz  please share your design doc here following convention https://docs.alluxio.io/os/user/stable/resources/templates/Design-Document-Template.md
Meanwhile, I will tag @ggezer to review your design before we proceed to review implementation.

[2021-06-01 01:54] apc999 commented on #13513
- Let's use a feature branch dynamicConf
- Coordinate with reporter of https://github.com/Alluxio/alluxio/issues/13174
- Add a property attribution, `dynamic`, default to `true`. If the `propertyKey` is not dynamic, reject the update
- A design doc https://docs.alluxio.io/os/user/stable/resources/templates/Design-Document-Template.md, addressing issues like propertykey cache
- Let's first target t

[2021-06-01 01:54] apc999 commented on #13174
@lilyzhoupeijie , @maobaolong from Tencent is also asking implementing this feature. FYI

[2021-06-01 04:14] HelloHorizon commented on #13492
@maobaolong can I know which version of Hive are you using now?

[2021-06-01 14:36] jiacheliu3 commented on #13143
@apc999  See https://github.com/Alluxio/alluxio/pull/13520

[2021-06-01 16:14] #13507 closed

[2021-06-01 22:56] apc999 opened #13522 "Confusing setting ALLUXIO_FUSE_JAVA_OPTS=" -Xms4g -Xmx8g""
**Alluxio Version:**
2.5.0

**Describe the bug**
After setting `ALLUXIO_FUSE_JAVA_OPTS=" -Xms4g -Xmx8g"`

[code]

Where `-Xms1G -Xmx1G -XX:MaxDirectMemorySize=4g` is the default setting in `libexec/alluxio-config.sh`
Typically the java opts passed later will win but it will be up to the JVM implementation

**To Reproduce**
as described above

**Expected behavior**
avoid having duplicated java opts

[2021-06-02 00:05] sg-c opened #13523 "Failed to write large files into Fuse mount point."
**Alluxio Version:**
2.6.0-SNAPSHOT (Revision # was not written down.)

**Describe the bug**
With S3 as the UFS, large file cannot be written to FUSE mount point.

**Reproduce the issue**
prep: mount alluxio worker fuse to /mnt/alluxio-fuse and check the mount succeeds
UFS: s3
commands:
$ head -c 1G </dev/urandom > /tmp/random.touch
$ cp /tmp/random.touch /mnt/alluxio-fuse
result:
$ cp /tmp/random

[2021-06-02 00:23] sg-c commented on #13523
Some observations and questions:
1. the copy is "shut down" in 10sec. is it related to any timeout settings?
2. if the file size is small such as 1K, no problem observed and copy can succeed.
3. for small files such as those of 1K, even if the file is successfully copied from local to fuse mount point, the `alluxio fs ls` shows it's never got persisted automatically, no matter the UFS is S3 or HFD

[2021-06-02 00:32] LuQQiu commented on #13523
Will try to do local reproduce or Linux single node reproduce first

[2021-06-02 02:34] maobaolong commented on #13513
This is a simple design doc https://docs.google.com/document/d/1BWrJN87kxbb0wrZXKAv1OCX006srTwcb0zYC7VOfm9k/edit?usp=sharing

@apc999 I have done the instructions you left, PTAL at my PR and design doc

[2021-06-02 06:22] #13492 closed

[2021-06-02 07:30] BUPTAnderson opened #13527 "NoClassDefFoundError when dfs.namenode.kerberos.principal.pattern is set"
**Alluxio Version:**
2.3.0, 2.4.0, 2.5.0-1

**Describe the bug**
The ufs is **kerberosed** HDFS(3.2.0), when **dfs.namenode.kerberos.principal.pattern** is set in **hdfs-site.xml**, the Alluxio Couldn't set up IO streams with HDFS.
The following is the error message：
[code]

**To Reproduce**
1. enable kerberos in HDFS
2. add **dfs.namenode.kerberos.principal.pattern** in **hdfs-site.xml**
3. resta

[2021-06-02 07:32] BUPTAnderson commented on #13527
assign @BUPTAnderson

[2021-06-02 08:08] maobaolong opened #13529 "Improve the attachdb mount logic of Alluxio SDS"
**Describe the solution you'd like**
If we attach a db like test into alluxio, so alluxio sds load the table and craete one mount point for each table, so the result like the following, let's imagine that if there are 1000+ tables, there are 1000+ mount point.

/catalog/test/tables/table1/hive	hdfs://ns1/user/tdw/warehouse/test.db/table1	hdfs	13.02PB	10.96PB	NO	NO
/catalog/test/tables/table2/hive

[2021-06-02 08:08] maobaolong commented on #13529
@dbw9580 FYI

[2021-06-02 08:19] jiacheliu3 commented on #13382
/ping @apc999

[2021-06-02 08:50] maobaolong opened #13531 "Using regex to combine mount option for sds when attachdb"
**Is your feature request related to a problem? Please describe.**

It would be hard to add the same mount.option for all the hdfs services.

[code]

**Describe the solution you'd like**

We can use regex to combine mount option for sds when attachdb

[code]

**Describe alternatives you've considered**

Modify the database related code

**Urgency**

Normal

**Additional context**

No

[2021-06-02 09:04] BUPTAnderson opened #13532 "Failed to read data from HDFS files when HDFS EC is enabled"
**Alluxio Version:**
2.3.0, 2.4.0, 2.5.0-1

**Describe the bug**
the ufs is HDFS and EC(Erasure Coding) is enabled, alluxio can't read data from hdfs when the erasure coding policy is specified on the files.

exec hdfs cli command to get file ec policy:
[code]

exec alluxio cli command:
`$ bin/alluxio fs load /data/bl_user_dot_event_detail/partition_date=20190922/partition_category=origin/partitio

[2021-06-02 09:06] BUPTAnderson commented on #13532
assign @BUPTAnderson

[2021-06-02 10:02] BUPTAnderson commented on #13532
ufs HDFS(HA)
version: **3.2.0**

alluxio-site.xml
[code]

mount command:

`bin/alluxio fs mount /alluxio-router/data hdfs://nameservice7/data`

[2021-06-02 10:05] BUPTAnderson commented on #13532
@yuzhu  Hi David, I have solved this issue. I will post a pr later.

[2021-06-03 03:06] BUPTAnderson commented on #13382
@apc999 @calvinjia @bradyoo , it seems that this issue still exists.

[2021-06-03 03:09] kwnam1302 opened #13537 "Does not work the front of the ALLUXIO_JAVA_OPTS environment variable."
**Alluxio Version:**

2.4.1

**Describe the bug**

Does not work the front of the `ALLUXIO_JAVA_OPTS` environment variable.

**To Reproduce**

alluxio-env.sh
[code]

alluxio-master was failed as below.
the front of `ALLUXIO_JAVA_OPTS` was appended to the end of the `ALLUXIO_MASTER_JAVA_OPTS`.

[code]

**Expected behavior**

`ALLUXIO_JAVA_OPTS` is working as expected

**Urgency**

not critical

**A

[2021-06-03 14:56] maobaolong opened #13542 "Provide async space reserver to reserve space background."
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/17329931/120665641-8c344c00-c4be-11eb-8e49-8315f1e1821a.png)

The worker cpu usage is 100%, the stack shown that we worker is freeing space all the time.

**Describe the solution you'd like**

Use high-low watermark async space reserver to free space.

**Describe alternatives you'

[2021-06-03 14:56] maobaolong commented on #13542
@apc999 Please take a look, Any thoughs?

[2021-06-03 17:49] apc999 commented on #13537
@kwnam1302  thanks for reporting this issue! I created a patch #13544 to address it.

[2021-06-03 20:22] apc999 commented on #13512
@kuszz @maobaolong , this may potentially break users' backward compatibility.
e.g., users may already have script built based on this comment. Then this will break their process.
How about adding an Java annotation saying the leader command will be removed after Alluxio 3.0 ?

[2021-06-03 21:27] apc999 commented on #13527
thanks for fixing this issue @BUPTAnderson

[2021-06-03 21:27] #13527 closed

[2021-06-04 01:24] kwnam1302 commented on #13537
@apc999 thank you for fixing the issue!

[2021-06-04 09:27] kuszz commented on #13473
https://docs.google.com/document/d/11MCHlgx0MP5_SN2JRP9Myd9A528TS0rTLt-3U-ssTaw/edit#
If something need to add in doc, please tell me, thanks

[2021-06-04 17:11] LuQQiu commented on #13523
@sg-c What's the detailed configuration that you used?

[2021-06-04 18:38] apc999 commented on #13143
Fixed by #13520

[2021-06-04 18:38] #13143 closed

[2021-06-04 18:40] apc999 commented on #13522
Close this issue as it is actually expected behavior without introducing too much bash scripting to dedupe JAVA opts.
Here is a PR https://github.com/Alluxio/alluxio/pull/13544 to set order of the java opts from default to runtime specific

[2021-06-04 18:40] #13522 closed

[2021-06-04 19:15] apc999 commented on #13158
@yangyuliufeng @cheyang  this is actually expected given you are running an Alluxio client. An Alluxio shell command is a newly launched alluxio client every time. The file system metadata will be cached there after shell completion, but the JVM will exit soon. And in a next run of Alluxio shell command, the metadata will be empty again and needs a full traverse on master.

In short, for `alluxio

[2021-06-04 19:16] apc999 commented on #13158
Closing this issue. I will create a tasks to add server-side cache rather than fixing it on client side

[2021-06-04 19:16] #13158 closed

[2021-06-05 10:00] codings-dan opened #13575 "Update start guide documents"
**Page**
Include the link to the page you are reporting a defect
https://docs.alluxio.io/os/user/stable/en/overview/Getting-Started.html

**Summary**

There is an error when running
 ./bin/alluxio format locally.
It is recommended to modify the document according to
https://github.com/Alluxio/alluxio/issues/9687#issuecomment-520652070

[2021-06-06 02:19] #13411 closed

[2021-06-06 08:16] yuyang733 commented on #10958
@gpang The reason for this issue is that the same remote debug parameters are specified when AlluxioMasterMonitor is started after the AlluxioMaster starts.

[2021-06-06 19:28] ssz1997 commented on #13523
I did exactly the same on a linux machine but can't seem to reproduce it. The file got copied into /mnt/alluxio-fuse without any problem.

[2021-06-07 17:44] LuQQiu commented on #13523
The steps for ssz1997 to reproduce the issue is
1. Configure alluxio with S3 root UFS
2. Launch Alluxio cluster (plain install without docker)
3. Create alluxio path /large_file
4. mkdir /mnt/alluxio-fuse, chown, chmod 755
5. integration/fuse/bin/alluxio-fuse mount /mnt/alluxio-fuse /large_file
6. Follow the issue, create the random.touch, copy it to /mnt/alluxio-fuse, and everything works without

[2021-06-07 18:26] #10958 closed

[2021-06-07 20:33] LuQQiu commented on #12758
Assign @ssz1997
@maobaolong will need your help for design review and PR review, thanks!

[2021-06-07 20:45] #13537 closed

[2021-06-07 21:00] LuQQiu commented on #13473
@kuszz can you update the link to give community users read and comment access? Unable to open the doc

[2021-06-07 22:45] LuQQiu commented on #13499
@ggezer FYI

[2021-06-07 22:49] LuQQiu commented on #13491
@ggezer @rastogiasr FYI

[2021-06-08 01:34] maobaolong opened #13595 "Format error when hostname is different with dns hostname"
**Is your feature request related to a problem? Please describe.**

[code]

![image](https://user-images.githubusercontent.com/17329931/121108613-a3679680-c83c-11eb-8c37-1f360af37f3c.png)

**Describe the solution you'd like**

We can use nslookup tools to resolve the hostname from dns server and cache it for this Process.

**Describe alternatives you've considered**

Run

**Urgency**

Normal

**Ad

[2021-06-08 01:40] kuszz commented on #13473
https://docs.google.com/document/d/11MCHlgx0MP5_SN2JRP9Myd9A528TS0rTLt-3U-ssTaw/edit?usp=sharing

[2021-06-08 18:07] LuQQiu opened #13601 "Cannot launch Alluxio-Worker in docker with SSD only config"
**Alluxio Version:**
Alluxio 2.5.0-3

**Describe the bug**
Launch Alluxio docker with SSD only config failed
[code]
When checking the alluxio configuration in the docker container, i saw the alluxio-env.sh contains
[code]
When deploying alluxio worker via docker, we will use
[code]
According to https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Docker.html,
Alluxio environment var

[2021-06-08 19:54] apc999 opened #13605 "Fix flaky integration tests"
**Alluxio Version:**
2.6.0-SNAPSHOT

**Describe the bug**
Integration tests are flaky due to failure of Job master start

[code]

**To Reproduce**
nondeterministic

**Expected behavior**
Job master start should be successful

**Urgency**
medium

**Additional context**
happens to a lot of integration tests

[2021-06-08 22:37] LuQQiu opened #13609 "Support create full tier storage path instead of the last child folder"
**Alluxio Version:**
Master 9403ae042c8479f5764a86e9494013f56e2940e7

**Describe the bug**
[code]
When createDirectory of the last child folder failed, can we support creating the full path?

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impac

[2021-06-08 22:38] LuQQiu commented on #13609
Note that this behavior is not deterministic but frequently appeared

[2021-06-09 00:22] #13601 closed

[2021-06-09 11:13] maobaolong opened #13613 "Add a in Alluxio file count and in Alluxio block metrics"
**Is your feature request related to a problem? Please describe.**

To measure cache state of Alluxio cluster, we care about the inode count, block count and cached bytes, in-Alluxio block count, in-Alluxio file count.

Now, we lack of cached block count, cached file count related metrics.

**Describe the solution you'd like**

Add metrics for in-alluxio block count, in-alluxio file count, adjust

[2021-06-09 23:16] apc999 commented on #13575
@codings-dan , can you post what errors you see?
is it same as #9687 ?

[2021-06-09 23:59] #13532 closed

[2021-06-10 06:38] 221770490011111 commented on #12341
,This problem also occurs When I use Iceberg&spark&alluxio
2021-06-10 06:29:34,910 WARN  InodeSyncStream - Failed to sync metadata on root path InodeSyncStream{rootPath=LockingScheme{path=/cdp.db/dim_test_iceberg/metadata/00002-8240564b-1cba-47ca-9e6a-8e8fcced147e.metadata.json, desiredLockPattern=READ, shouldSync=true}, descendantType=ONE, commonOptions=syncIntervalMs: 600000
ttl: -1
ttlAction: D

[2021-06-11 10:59] Jie-Hong commented on #11611
Hi @cheyang,

Do you have a workaround for the issue? I also encounter the same issue.

Thank you.

Best regards,
Jie Hong

[2021-06-13 01:08] zzcclp opened #13640 "There is a case of returning null when calling 'CacheManager.Factory.get(conf)' concurrently"
**Alluxio Version:**
2.4-2.5

**Describe the bug**
Returning null when calling 'CacheManager.Factory.get(conf)' concurrently

**To Reproduce**
I used Spark 3.1.1 + Alluxio Local Cache, when all tasks in one executor start concurrently, there are some tasks getting null CacheManager.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the imp

[2021-06-13 01:23] zzcclp commented on #13640
I raised PR #13641 to fix this issue.

[2021-06-14 00:22] #13513 closed

[2021-06-14 23:27] #13531 closed

[2021-06-14 23:28] LuQQiu commented on #13485
@Binyang2014 Some comments for the design
1. Can we make it optional, and recommend to be used when loading small files?
2. I think our current distributedLoad command has retry mechanism for the failed tasks, can your design maintain the retry logics especially when load failed because we launching too many active jobs?
3. Can we maintain the backward compatibility that the older version `bin/all

[2021-06-14 23:42] yuzhu commented on #13485
@Binyang2014 awesome idea. one question i had was whether you have any thoughts on fairness. It does not have to be addressed now but it would be nice to give it some thought.
The current design allows for a single distributedLoad job to overwhelm the entire ufs. How do we adapt if there are multiple distributedLoad jobs loading from different ufs at the same time? i think the maxJobNumber might n

[2021-06-15 00:30] HelloHorizon opened #13648 "Get incompleted masters list in HA mode"
**Alluxio Version:**
2.6.0-SNAPSHOT
**Describe the bug**
List the incompleted master list with `bin/alluxio fsadmin report` as follows:
[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
Live Master Addresses should return all alive masters' address

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**

[2021-06-15 00:31] HelloHorizon commented on #13648
related #13330

[2021-06-15 00:32] HelloHorizon commented on #13648
@ssz1997 do you mind taking a look?

[2021-06-15 03:03] Binyang2014 commented on #13485
For Lu's comments:
1. Sure, we can make it optional. And I think it works for both small file and large file. For large file, since we set the `running_job_max_num`, the number of job will be limited. Maye we can give some recommend init parameters for small file scenario and large file scenario.
2. For current design, the retry logic is kept. We only treat the task failed if it reaches the max re

[2021-06-15 03:38] Binyang2014 commented on #13485
For @yuzhu's comments:
Actually, I don't think much about fairness, I just put some thoughts here.
1.  The fairness issue may need be handled by external services. For many scenarios, distributedLoad happens before real workload scheduled to the compute cluster. And the scheduler has the whole view of the workload (which workload will be scheduled first and which job has the high priority ). Then

[2021-06-15 03:40] #13640 closed

[2021-06-15 14:35] yuyang733 opened #13649 "The optional value for 'alluxio.worker.evictor.class' is incorrect"
**Page**
https://docs.alluxio.io/os/user/stable/en/reference/Properties-List.html
https://github.com/Alluxio/alluxio/blob/master/core/common/src/main/java/alluxio/conf/PropertyKey.java

**Summary**
The 'alluxio.worker.block.evictor.LRFUEvictor' for 'alluxio.worker.evictor.class' has been removed.  But, it is described as available on the official website and in the 'PropertyKeys.java' file.

<img

[2021-06-15 17:48] apc999 commented on #13510
addressed by #13511

[2021-06-15 17:48] #13510 closed

[2021-06-15 17:50] apc999 commented on #13649
@yuyang733  thanks for reporting this issue!
Do you want to remove the invalidate options from https://github.com/Alluxio/alluxio/blob/master/core/common/src/main/java/alluxio/conf/PropertyKey.java ?

[2021-06-15 21:22] Xenorith commented on #13512
welp it broke backwards compatibility for my tests because i parse the output directly and now there's a warning string. i guess the warning worked as intended

[2021-06-16 07:32] yuyang733 commented on #13649
In fact, I was wondering if we could consider removing from PropertyKey.java or hiding it from the official document.

After all, the evictor is being emulated, and the option 'alluxio.worker.block.annotator.class' is used instead of it.

Do you have any good suggestions?

[2021-06-16 22:52] apc999 commented on #13499
Based on the offline discussion: not a blocker but an important improvement
Once we have bandwidth, we can revisit this issue.
And we need a design doc on this feature, reviewed by @ggezer

[2021-06-17 00:30] sg-c commented on #13523
Hi Lu, I missed you guy's comments because the notifications were sent to my personal email inbox. I will run the `alluxio collectInfo` and send the results to you.

[2021-06-17 02:05] ggezer commented on #13542
Could you clarify what does "all the time" mean? Are you trying to say there are many threads with call-stacks like this one you shared, or is this the only one?

Also, what kind of workload were you running to get to this state? Did you observe throughput decrease on any particular scenario? If yes, what it is and how do you measure the throughput?

----------

For your reference, async space res

[2021-06-17 03:02] maobaolong commented on #13542
"all the time" mean that we capture the stack many time, and we can see the freeSpace callstack each time. as the freeSpace is synchronized so other writer will step into until currect freespace finished by current writer.

Three worker with fifty million files, during load files I guess. @shenghuihe Could give more detail?

This will help for the following writers, but is still affect the perform

[2021-06-17 03:02] LuQQiu commented on #13485
The design LGTM, @yuzhu PTAL thanks!

[2021-06-17 04:44] ggezer commented on #13542
That does not mean freeing space is consuming your CPU. It just means you're out of worker space and probably trying to push more data.

Compared to old async reserver, there's much less overhead in freeSpace. Because all blocks are already stored in eviction order, freeSpace is just a delete on local file system.

Just imagine as if the writer that's evicting the space ahead is blocked on async r

[2021-06-17 04:45] maobaolong commented on #13499
https://github.com/apache/ratis/pull/359 Shown that ratis support dynamic change priority.

[2021-06-17 04:47] ggezer commented on #13542
@calvinjia I wonder what's your take on this?

[2021-06-17 05:12] yuzhu commented on #13485
@Binyang2014 the scenario I imagined is as follows. it will  limit our bandwidth unnecessarily.
Imagine two concurrent distributedLoad jobs,  each accessing a different ufs.
If the first one reaches network capacity, and starts to error, it would prevent the second job from increasing the maxJobNum even if it is no where near the limit

[2021-06-17 06:02] shenghui361 commented on #13542
@maobaolong   @ggezer  about 10 threads  write the same worker at the same time,  and  all blocked at freespace。。

[2021-06-17 06:22] maobaolong opened #13657 "Alluxio master metrics web page hung for several minutes"
**Alluxio Version:**
master branch

**Describe the bug**
Open metrics page of master `http://localhost:19999/metrics` cost several minutes while the master server running over 100 days. We should record only enough point for dataPoints of TimeSeries

**To Reproduce**

Running a master over 100 days.
Open  `http://localhost:19999/metrics` or open `http://localhost:8081/api/v1/master/webui_metrics`

[2021-06-17 21:23] apc999 commented on #13649
@ggezer  is the owner here. Gokturk, what's your input?

[2021-06-17 21:38] LuQQiu commented on #13657
@tieujason330 can you help take a look this issue, thanks

[2021-06-17 21:41] apc999 commented on #13575
ping @codings-dan

[2021-06-17 21:43] apc999 commented on #13515
@maobaolong  will you take this task?

[2021-06-17 21:44] apc999 commented on #13497
@jiacheliu3 @cheyang  do you have a good understanding of this issue?

[2021-06-17 21:46] apc999 commented on #13494
@ggezer  memory consumption on worker: seems `SortedBlockSet` and `DefaultBlockIterator` take  a lot of space.
Any ideas?

[2021-06-17 21:48] apc999 commented on #13491
ping @ggezer

[2021-06-17 21:49] apc999 commented on #13484
@ColdZoo  once you contributed your Doc back, we will send you a small gift package to appreciate your contribution!
thanks in advance

[2021-06-17 21:50] apc999 commented on #13430
Ping @shenghui361  possibly to share your `master.log`?

[2021-06-18 02:06] jiacheliu3 commented on #13497
@apc999 When the user is using dynamic PV provisioning (instead of manually creating PVs), the dynamic PV provisioners in K8s do NOT support specifying the selectors yet so the provision will fail. The solution will be to change the default selector to empty, same to https://github.com/Alluxio/alluxio/pull/13379 is doing for the logserver PVC.

[2021-06-18 11:55] codings-dan commented on #13575
@apc999 When I run the “./bin/alluxio format” command, the error message is similar to #9687, and the log is as follows:

Executing the following command on all worker nodes and logging to /home/bot/桌面/project/alluxio/logs/task.log: /home/bot/桌面/project/alluxio/bin/alluxio formatWorker
[localhost] Connecting as bot...
[2021-06-18 19:51:11][localhost] nohup: 忽略输入
[2021-06-18 19:51:16][localhost] Fo

[2021-06-18 22:11] apc999 commented on #13491
@shenghui361 we have seen users reporting similar errors before and upgrading to alluxio 2.5 resolves it.
Can you try it?

[2021-06-19 08:18] dbw9580 opened #13667 "Support more sophisticated table and partition bypassing options"
During review of #13581, @HelloHorizon suggested it should be made more user-friendly to configure bypassed partitions:

@maobaolong offered insights from real use cases:

**Describe the solution you'd like**

1. allow use of glob, regex, etc. to match partitions when specifying which partitions to bypass.
2. introduce some kind of filter functions that are invoked on table sync and determine whic

[2021-06-19 08:20] dbw9580 commented on #13667
@apc999 FYI.

[2021-06-21 00:42] ggezer opened #13668 "gRPC Link Level Authentication"
**Summary**
Currently, authentication is performed per each logical channel.(`alluxio.grpc.GrpcChannel`)
This creates network overhead in highly concurrent clients such as presto.

By moving authentication deeper to link level (gRPC's `ManagedChannel`, or `alluxio.grpc.GrpcConnection`), we can have similar  security at a fraction of cost. This will require opening a dedicated link per each `target

[2021-06-21 00:52] allenhaozi opened #13669 "Alluxiofuse embedded in Alluxioworker performance test follow up"
#12830 has been merged

If there are performance and stability tests, please update this issue. Thank you

[2021-06-21 02:21] Binyang2014 commented on #13485
Hi @yuzhu. for each distributedLoad job. The bandwidth consumption can be caped by parameter `ACTIVE_JOB_MAX_NUM`. And from my point, this parameter should be select by admin or job scheduler based on current cluster status to avoid occupy too much bandwidth.

For alluxio, it may need to report some metrics to let scheduler/admin do this decision.

And for future enhance, the  `ACTIVE_JOB_MAX_NUM`

[2021-06-21 02:47] yuzhu commented on #13485
yeah, I think in general multi tenancy/ QOS concerns in job service requires further investigation. the current improvement LGTM, as we are no worse than before. @Binyang2014

[2021-06-21 14:50] yuyang733 opened #13673 "The ‘validateEnv command cannot be fully passed"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
Add any

[2021-06-21 15:15] yuyang733 commented on #13673
I guess it might have been the introduction of this PR #12501.

I am trying to fix it, if there are colleagues in the know, please let me know.

[2021-06-22 06:51] shenghui361 opened #13677 "worker resource leak"
**Alluxio Version:**
2.5.0-3

**Describe the bug**
2021-06-21 14:19:10,524 ERROR ResourceLeakDetector - LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
Created at:
        io.netty.buffer.PooledByteBufAllocator.newDirectBuffer(PooledByteBufAllocator.java:385)
        io.netty

[2021-06-22 14:18] #11785 closed

[2021-06-22 16:06] ggezer commented on #13494
@dale-wen How many blocks do you have? What's your worker capacity?

[2021-06-22 16:09] ggezer commented on #13649
@yuyang733 we still don't want to remove the key to keep emulation layer functioning. However should definitely hide it from doc.

[2021-06-22 19:44] ggezer opened #13680 "Bump RATIS to 2.0.0"
**Summary**
There has been a new major release that we should integrate with.
**Urgency**
This blocks new embedded journal features.

[2021-06-22 23:27] njjry opened #13681 "versioning for local cache filesystem"
Problem: When using Alluxio as a local cache, there is no good way to know if the data cached in the Alluxio is valid or not.

Solution: I'd like to propose using the modification time of the file as the version. So that cached data can be compared with the HDFS file modification time to decide if the data is still valid. If it is not valid, it is deleted from Alluxio and reload the most updated d

[2021-06-23 03:56] shenghui361 commented on #13677
after  io.netty.leakDetection.level=advanced, i get the following log

2021-06-23 11:17:23,707 ERROR ResourceLeakDetector - LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
#1:
	io.netty.buffer.AdvancedLeakAwareByteBuf.order(AdvancedLeakAwareByteBuf.java:70)
	io.netty.buffer.C

[2021-06-23 06:56] yuyang733 commented on #13649
Okay. I close this issue.

[2021-06-23 07:14] daomin885 commented on #9194
Would you please tell us how you solve this problem

[2021-06-23 07:33] JYHarvest opened #13685 "删除文件导致上级文件夹也被删除"
alluxio fs mkdir /t1
alluxio fs mkdir /t1/t2.txt
alluxio fs rm /t1/t2.txt
alluxio fs ls /t1  路径找不到

[2021-06-23 08:04] maobaolong opened #13686 "Unmount all mount points related to an attached database while detachdb"
**Is your feature request related to a problem? Please describe.**

From the `alluxio table detachdb` output, we can see `Successfully detached db xxx. Please unmount and clean up the alluxio location at XXX before attaching another database named xxx`.

And we can execute `alluxio fs mount` to find that there are still lots of mount points belongs to the database.

**Describe the solution you'd l

[2021-06-23 08:08] dbw9580 commented on #13686
@apc999 this changes the current default behaviour. How should we plan such a change, and communicate with existing users?

[2021-06-23 08:16] dbw9580 commented on #13685
Hi, I can't reproduce this on my Alluxio instance. Can you share more details, e.g. what's your Alluxio setup (local, cluster, under storage), what commands did you use, and what were their output, and any error logs?

[2021-06-23 08:23] maobaolong commented on #13686
@dbw9580 Or we can keep original logic to keep compatible, and add an option `unmount` for user?

[2021-06-23 14:42] yuzhu commented on #13686
I think @maobaolong 's suggestion is safer and does not change the default behavior. The reason behind the original design is that the mount might have happened not as part of the attachdb. The user could have manually mounted something, (perhaps at a high level in the tree, to avoid many mount points), before doing the attachdb. In today's code, this would be allowed. It would not make sense to u

[2021-06-24 02:25] shenghui361 commented on #13491
@apc999    after upgrading to version 2.5.0-3, it does not appear again.

[2021-06-24 06:18] sg-c commented on #13523
@LuQQiu & @ssz1997 , I did the test again with 2.6.0-1.0 EE version. It works fine for me now. I will go ahead close this time and let you know if I can reproduce it again. Thank you both.

[2021-06-24 06:18] #13523 closed

[2021-06-24 07:55] peterroelants opened #13699 "Unable to initialize worker storage directory does not lead to Alluxio quiting"
**Alluxio Version:**
2.5.0-3

**Describe the bug**
I have a multi-tiered storage defined as:
[code]

However, it seems like my tmpfs was setup incorrectly (by me, not Alluxio). Due to this incorrect setup Alluxio was not able to initialize the level 0 storage. In worker logs this popped up:
[code]

However, this was already happing in our system for a while, and we did not notice because Alluxio s

[2021-06-24 16:20] frankobe opened #13700 "Page Versioning in LocalCacheManager"
**Is your feature request related to a problem? Please describe.**
When using Alluxio-as-lib local cache, the assumption is that the remote HDFS file are immutable so local pages are in sync until TTL, which can cause consistency issue

**Describe the solution you'd like**
Add `lastModifiedTime` from HDFS file as the version of page in local cache. The page is valid if and only if the HDFS file mo

[2021-06-24 19:05] #13680 closed

[2021-06-24 23:27] apc999 opened #13702 "Add a metrics to measure time spent on freeSpace on worker"
**Is your feature request related to a problem? Please describe.**

This is motivated by the discussion in https://github.com/Alluxio/alluxio/issues/13542
where writes cause CPU utilization full.

**Describe the solution you'd like**

We will introduce a metrics to measure if `TieredBlockStore.freeSpace` may be an expensive operation.
The assumption of current worker eviction process is that delet

[2021-06-25 03:44] maobaolong commented on #13667
@dbw9580 Thanks for this invention. Please check whether your existing approach support a way to describe only include one or a specific set of tables do not being bypassed, for others, bypassed all.

[2021-06-25 11:26] jiacheliu3 commented on #13677
@shenghui361 Hi Shenghui once you verified if #13698 fixes the leak in your env, could you update here? Thx!

[2021-06-25 17:54] apc999 commented on #13685
@JYHarvest may you share your `master.log`? I feel `alluxio fs mkdir /t1` may not succeed thus `alluxio fs ls /t1` failed

[2021-06-25 17:59] apc999 commented on #13669
@allenhaozi we are working on a benchmarking whitepaper to show the performance and tutorial to setup benchmark.
@LuQQiu  can provide more details

[2021-06-25 17:59] apc999 commented on #13657
Fixed by #13660 (thanks for @tieujason330 )
Closing this issue and feel free to re-open it if you still it happening.

[2021-06-25 17:59] #13657 closed

[2021-06-26 22:58] #13515 closed

[2021-06-28 02:59] shenghui361 commented on #13677
@jiacheliu3   ok

[2021-06-28 16:33] xpleaf opened #13710 "MapReduce On Alluxio-Http2Exception: First received frame was not SETTINGS"
**Alluxio Version:**
2.6

**Describe the bug**

- **Failed to run MapReduce App on alluxio**

My environment is like this.

Node **leaf** runs hadoop：

[code]

Node **alluxio01** **allxio02** **alluxio03** runs alluxio:

[code]

I built a 3-node Aluxio cluster according to the official documentation.

The four nodes mentioned above are all accessible to each other, and I have turned off the firewa

[2021-06-28 19:43] ggezer commented on #13542
Update: As per @maobaolong, setting `alluxio.worker.tieredstore.free.ahead.bytes` resolved perf bottleneck.

[2021-06-28 19:50] ggezer commented on #13495
@kuszz Please elaborate on the pressure you mentioned. Is it memory or CPU pressure you're seeing?
Do you have a custom setting for `alluxio.master.file.access.time.journal.flush.interval` ?

[2021-06-28 19:54] ggezer commented on #13491
Thanks for confirmation @shenghui361.
Closing until further repro...

[2021-06-28 19:54] #13491 closed

[2021-06-28 19:57] ggezer commented on #11416
There has been many changes in this area that should prevent mentioned problems.
@cheyang Please reopen if you think this is still an issue.

[2021-06-28 19:57] #11416 closed

[2021-06-28 19:58] ggezer commented on #10050
Closing due to inactivity.

[2021-06-28 19:58] #10050 closed

[2021-06-28 19:58] #10022 closed

[2021-06-28 19:58] #9849 closed

[2021-06-29 11:40] xinip opened #13719 "when hive metadata had drop one database,alluxio udb failed,causes alluxio to fail to start"
**Alluxio Version:**
2.5.0-1

**Describe the bug**
when hive metadata had drop one database,alluxio udb failed,causes alluxio to fail to start

**To Reproduce**
1.hive create one database: test_db,
2.attachdb the test_db to alluxio udb,
3.detachdb the test_db alluxio udb
4.then restart alluxio.it‘s failed start

**Expected behavior**
should normal start

**Urgency**
very urgent

**Additional conte

[2021-06-29 11:51] xinip opened #13720 "The raft directory had 500+GB"
**Alluxio Version:**
2.5.0-1

**Describe the bug**
The raft directory has a particularly large amount of data，it's have 500+GB,
we have two master node,
the first master node raft directory have 500+GB，there is only one snapshot in the sm directory.
the second master node raft directory just have 39GB,there are three snapshot in the sm directory.

**To Reproduce**
This is our formal environment, i

[2021-06-29 12:00] xinip opened #13721 "Table master client shoud add syncTable interface."
**Is your feature request related to a problem? Please describe.**
When we have a table update, I only want to update the metadata of a table, because there are too many resources to update a database.

**Describe the solution you'd like**
Table master client shoud add syncTable interface.

**Describe alternatives you've considered**
We had customize Table master client for syncTable interface.I h

[2021-06-30 03:39] HelloHorizon commented on #13710
@xpleaf Thanks for submitting the issue, can I know which version of Hadoop are you using? And is the password ssh enabled in your cluster?

[2021-06-30 04:02] xpleaf commented on #13710
@HelloHorizon Thank you for your reply. Hopefully the following information will help locate the problem.

- **Login**

I configured a key-free login.

- **Hadoop Version**

[code]

- **Configuration of `core-site.xml`**

[code]

Leaf nodes are built on a very simple pseudo-distributed Hadoop cluster, and leaf's ip is 10.215.129.73.

[2021-06-30 06:23] xpleaf commented on #13710
@HelloHorizon I tried to use Aluxio's local mode (which is how documentation is used) on another machine with Hadoop stand-alone installed, and it also failed, with the same error.

[2021-06-30 06:25] xpleaf commented on #13710
@HelloHorizon One more piece of information, the operating system version I use is:
[code]

[2021-06-30 07:04] xpleaf commented on #13710
@HelloHorizon I have verified in three different environments, and the same problem occurred in all of them. At present, as long as you give me a CentOS server, the problem can be 100% repeated.

[2021-06-30 08:44] xpleaf commented on #13710
@HelloHorizon Hello, I finally solved the problem. First of all, I always had a misunderstanding about Aluxio. I always thought that the port number of 19998 was Worker (I was very surprised why I formed such an impression, and it was so deep that I didn't even doubt that it was a wrong understanding), so my command to submit the task was as follows:

[code]

But there are still errors, and I stil

[2021-06-30 08:45] xpleaf commented on #13710
Here I will post the news after the success:
[code]

[2021-06-30 09:00] dbw9580 commented on #13667
After discussion with @maobaolong and @HelloHorizon, the priority is to support regex and exclusion.

I propose the revised and simplified design of the config file:

1. `tables` and `partitions` can  now accept either a list of table names, or an object with an `include` and/or an `exclude` key, containing table names to include and exclude from the bypass list. The old syntax is still supported,

[2021-06-30 15:29] HelloHorizon commented on #13710
@xpleaf Glad you solve the issue. Yeah, we use 19999 as web UI port and 19998 to server master RPCs.

[2021-06-30 15:29] #13710 closed

[2021-06-30 18:04] LuQQiu commented on #13669
Yeah, we are working on a CPU instance [DALI](https://www.google.com/search?q=Nvidia+DALI&oq=Nvidia+DALI+&aqs=chrome..69i57j69i59j69i60l3.3365j0j1&sourceid=chrome&ie=UTF-8) read benchmarking to mock the actual ML/AI data loading, processing phrases.  After the env and DALI script is ready, we will do more benchmarking to understand the performance impact of Fuse on Worker and future performance im

[2021-07-01 10:37] kuszz opened #13724 "Add cluster_cache_hit_rate metric"
**Is your feature request related to a problem? Please describe.**
We want to add a metric cluster_cache_hit_rate and now we can only calculate by ourselves

**Describe the solution you'd like**
Add a gauge metric in MetricsStore.java, CLUSTER_CACHE_HIT_RATE = 1 - CLUSTER_BYTES_READ_UFS_ALL/(CLUSTER_BYTES_READ_DIRECT + CLUSTER_BYTES_READ_REMOTE + CLUSTER_BYTES_READ_DOMAIN)

**Urgency**
normal

[2021-07-01 12:39] maobaolong opened #13726 "Add jvm metrics to alluxio metrics system"
**Is your feature request related to a problem? Please describe.**

Alluxio can export the basic jvm merics, something like gc count, gc pause time, full gc count, full gc pause time, memory usage, thread count(runnable, blocked, time_blocked, xxx).

**Describe the solution you'd like**

Something like this https://github.com/apache/hadoop/blob/trunk/hadoop-common-project/hadoop-common/src/main/ja

[2021-07-01 18:24] ZhuTopher commented on #13720
Hello, thank you for submitting this issue! You say your environment is not reproducible, but could you provide some general details about how Alluxio is deployed? That would be much appreciated and help us investigate the issue. Thank you!

[2021-07-02 03:06] utk-spartan opened #13731 "Support option to bypass all tables in a database in Alluxio Catalog Service"
**Is your feature request related to a problem? Please describe.**
For bypassing all tables in a database, the json config file needs to contain list of all the tables, which is difficult manage if there are frequent table additions/deletions.

**Describe the solution you'd like**
Add another config option eg:  "-o catalog.db.config.ufs.bypass.enabled" to attachdb command, to support this function

[2021-07-02 03:40] kuszz opened #13732 "Add unbuffer support for impala"
**Is your feature request related to a problem? Please describe.**
The impala need canunbuffer ability to cache file handles

**Describe the solution you'd like**
Add canUnBuffer ability on stream which BaseFileSystem use

**Urgency**
normal

[2021-07-02 07:18] kuszz opened #13734 "Add master_ufs_metadata_access_count metric"
Is your feature request related to a problem? Please describe.
We want to add a metric master_ufs_metadata_access_count and now we can not get this info

Describe the solution you'd like
Add a gauge metric in InodeSyncStream, increase it when loadMetadata

Urgency
normal

[2021-07-02 17:35] apc999 commented on #13731
@dbw9580 @maobaolong @HelloHorizon  feel free to communicate your thoughts here

[2021-07-02 17:39] apc999 commented on #13721
@HelloHorizon  can you take a look?

[2021-07-02 18:06] HelloHorizon commented on #13731
@utk-spartan Is there any reason to bypass all tables?

[2021-07-03 01:35] utk-spartan commented on #13731
Same use cases of tableBypass functionality but allowing configuring it on a db level to make configuration simpler.

Let me take an example,
lets say I have 100 database/schemas in the UDB, and UFS of only a subset of these can be mounted to Alluxio (due to various reasons security, data volume etc.).
Lets say there are 50 of these databases which require all of their tables mounted with ufsBypas

[2021-07-03 01:44] utk-spartan commented on #13731
I have done some preliminary work around its implementation, would like to contribute to upstream.

I have gone through the Contribution-getting-started guide
Do I need to create a design doc on how I am thinking of implementing it?

[2021-07-03 04:10] HelloHorizon commented on #13731
Got what you mean, I think @dbw9580 proposed the design in #13667. Let's move the discussion there.

[2021-07-03 04:10] #13731 closed

[2021-07-03 04:15] HelloHorizon commented on #13721
Hey @xinip , can I get more detail about your request? Do you mean that you only want to sync table-level metadata than also sync the partition-level metadata? And can I know why you request this feature?

[2021-07-03 10:52] ns7381 opened #13738 "Can alluxio resolve problem that real-time computing system write too much small file on hdfs"
When I using sparkstreaming write to hive table, it always lead to genenrate too much small files on hdfs. Is there any way to solve this problem using alluxio?

[2021-07-03 13:38] qian0817 opened #13739 "Configuration of embedded journal heartbeat interval is invalid"
**Alluxio Version:**
2.5.0

**Describe the bug**
modifying alluxio.master.embedded.journal.heartbeat.interval should modify the raft heartbeat interval, but actually heartbeat interval will always be half of the election timeout.

**To Reproduce**
modifying alluxio.master.embedded.journal.heartbeat.interval value.

**Expected behavior**
raft heartbeat interval should change.

**Urgency**
not urgen

[2021-07-03 13:49] qian0817 opened #13740 "Not restart web server to improve leader-follower switching performance"
**Is your feature request related to a problem? Please describe.**
When I set the following configuration
alluxio.master.embedded.journal.election.timeout=1s
alluxio.master.embedded.journal.heartbeat.interval=100ms
It takes about 20s to switch the leader. From the logs and I find that it takes about 15 s to start the jetty server.

**Describe the solution you'd like**
 is it possible not restart t

[2021-07-05 02:33] maobaolong opened #13742 "Using an all-in-one image in whole alluxio"
**Is your feature request related to a problem? Please describe.**

To reduce the related images of Alluxio.

**Describe the solution you'd like**

Build an all-in-one image

**Describe alternatives you've considered**

Combine the dockerfile into one.

**Urgency**

Normal

**Additional context**

No

[2021-07-05 07:21] xinip commented on #13720
# Common properties
alluxio.master.hostname=alluxio-master
alluxio.master.journal.type=EMBEDDED
alluxio.master.journal.folder=/data/alluxio/journal
alluxio.master.embedded.journal.addresses=alluxio-master:19200,alluxio-slaver:19200
alluxio.master.mount.table.root.ufs=hdfs://masters/hive/warehouse/
alluxio.master.mount.table.root.readonly=true
alluxio.master.mount.table.root.option.alluxio.underfs.

[2021-07-05 13:14] maobaolong opened #13743 "SDS support attach database with 100 million metadata"
**Is your feature request related to a problem? Please describe.**
In our production scenario, we have less than 10 thousand table, each table have less than 10 thousand partition, attach a database like this scale can be extremely slow, even, the heap memory will increase fast and hold huge memory space, Alluxio master will suffer from full gc or crash.

**Describe the solution you'd like**

- In

[2021-07-05 16:24] xinip commented on #13721
When the Hive table is updated, we want to synchronize alluxio metadata. Of course, it would be better if you have a partition metadata update interface. I hope that there are interfaces for both the synchronization table and the synchronization partition.

[2021-07-06 01:58] apc999 commented on #13473
Offline discussion
- An issue was reported when `alluxio.network.ip.address.used` is switched, and that worker lost all blocks.
- If worker restarts with different hostname/ IP, in theory, master will not let worker reformat all blocks, unless the inode tree does not recognize the blocks
- discussed with @jiacheliu3 , we want worker to be stateless. Let's fix this bug rather than having a state on

[2021-07-06 01:58] #13473 closed

[2021-07-06 06:26] apc999 opened #13746 "Flaky test in RaftJournalTest"
**Alluxio Version:**
2.7.0-SNAPSHOT

**Describe the bug**
[code]

**To Reproduce**

**Expected behavior**
Unrelated change shall not fail these tests

**Urgency**
high. these flaky tests are blocking a lot of PRs

**Additional context**
Add any other context about the problem here.

[2021-07-06 08:02] maobaolong opened #13747 "Older worker cannot register to newer master"
**Alluxio Version:**
2.7.0-SNAPSHOT for master
2.5.0-SNAPSHOT for worker

**Describe the bug**

![image](https://user-images.githubusercontent.com/17329931/124563883-0a479200-de73-11eb-8710-ba950332bcd2.png)
[code]

**To Reproduce**

use the master with 2.7.0-SNAPSHOT and worker with 2.5.0-SNAPSHOT, worker cannot register to master.

**Expected behavior**

worker can works well with newer alluxio

[2021-07-06 17:04] ggezer commented on #10429
@Hollyen Could you please clarify how did you achieve `enable writing the data to local disk first.` ?
Also, what is your write-type?

From the exception it looks like, you might be using ASYNC_THROUGH since I see `pin_on_create: true`. With this write type, new blocks won't be freed until they're written to UFS. This is to prevent data loss in ASYNC_THROUGH write scheme. So new writes might not f

[2021-07-07 01:54] qian0817 commented on #10429
@ggezer We had a similar problem and the configuration we are currently using is
[code]
In addition to this, there are also a large number of errors reported in the logs.
[code]
It looks like this error was generated when moving block through the different levels.

[2021-07-07 04:28] ggezer commented on #10429
Moving between tiers will fail the same since there are no space available for allocation as well.

Since your write type is not ASYNC_WRITE, I believe we need to understand why writes are going with `pin_on_create: true` in options. Can you check if you have pinning setting enabled for new files?

[2021-07-07 06:13] qian0817 commented on #10429
@ggezer
We did not change the relevant configuration.
Now I can't find the previous log to determine if it exists `pin_on_create: true` in the first place as this issue. But logs like
[code]
still exist until now.

[2021-07-07 17:41] HelloHorizon opened #13752 "Support virtual view of Hive table"
**Is your feature request related to a problem? Please describe.**
Support view for Hive UDB.

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Urgency**
Normal

**Additional context**
N/A

[2021-07-07 17:42] HelloHorizon commented on #13752
FYI @maobaolong @dbw9580

[2021-07-07 19:17] apc999 commented on #13747
@maobaolong  this is expected behavior as the worker and master versions do not match.
Often we upgrade server-side APIs or parameters in newer versions of Alluxio, which may break the RPC

I am closing this ticket as the proposed behavior "worker can work well with newer alluxio master" is actually currently not supported.

[2021-07-07 19:17] #13747 closed

[2021-07-07 19:20] apc999 commented on #13740
@qian0817 thanks for reporting this issue, can you
1. specify your alluxio version
2. specify the detailed steps to reproduce your issue? also do you see this happen deterministically?

[2021-07-07 19:24] apc999 commented on #13738
hi @ns7381  thanks for asking the question. Here is my view on your question:

Writing a massive amount of small files is definitely supported in Alluxio (as an alternative of HDFS), but how it performs may depend on a lot of factors, including file number, size, intensity, and directory structure and many others. It is hard to tell if Alluxio will definitely perform better than HDFS for your spec

[2021-07-07 19:24] #13738 closed

[2021-07-07 19:55] apc999 commented on #13742
@maobaolong  this task is assigned to @ssz1997 to unify alluxio/alluxio and alluxio/alluxio-fuse docker images

[2021-07-08 02:56] qian0817 commented on #13740
my alluxio version is 2.4.1.
The easiest way to reproduce this is to start all servers at the same time and it happens deterministically.
log is here, You can see in the log that jetty started using 17s.
[code]

[2021-07-08 03:47] bzheng888 opened #13758 "Alluxio worker decommission"
**Is your feature request related to a problem? Please describe.**
Sometimes we may encounter situations like some worker nodes need to free up for another use, or we just want to offline some worker nodes to save costs. So, it  requires us to give a way to kick these workers out of the Alluxio cluster.
**Describe the solution you'd like**
I think maybe we should  add a feature “Worker Decommissio

[2021-07-08 03:49] maobaolong commented on #13752
@HelloHorizon Thanks for create this issue

[2021-07-08 07:15] maobaolong commented on #13743
Offline discussion from @apc999 @HelloHorizon @dbw9580 @bzheng888

https://docs.google.com/document/d/1fQL_KePNb803MlXPfxyUFSjPf5BxGEe4vjjMFRYsQz8/edit#heading=h.tdwmqr7aumeb

[2021-07-08 07:19] maobaolong commented on #13719
@HelloHorizon @apc999 Separate SDS from Alluxio Master will never cause Aluxio Master failed to start.

[2021-07-08 07:50] maobaolong opened #13760 "We can only see the head of log file from log page"
**Alluxio Version:**
master

**Describe the bug**

From the log web page, we can only see the head of the log file.

**To Reproduce**

Open the master log page, open a log file.

**Expected behavior**

We can the the log position by specify offset, and from head or tail.

**Urgency**

Normal

**Additional context**
No

[2021-07-08 11:31] codings-dan opened #13763 "Add more information when registering the worker"
**Is your feature request related to a problem? Please describe.**
When upgrading Alluxio in our cluster, we typically do a rolling upgrade in our K8s cluster. During that, we typically upgrade the workers in batches, so some workers in the cluster will have different version/revision from others. We would like that to be reported to the master so the master can display those information on the UI

[2021-07-08 16:35] LuQQiu commented on #13699
I took a look at the code, looks like all the "failed to initialize storage" will be added to "mLostStorage" but we didn't stop the worker process from coming up.

The following command can help diagnose the issue earlier
[code]
For more information, please take a look at https://docs.alluxio.io/os/user/stable/en/operation/Admin-CLI.html#doctor

I do feel that it's worth to not start the AlluxioWo

[2021-07-08 16:43] LuQQiu commented on #13742
I think @maobaolong is asking for a docker image that is able to run Alluxio, Alluxio-fuse, and Alluxio CSI. @ssz1997 's PR consolidate alluxio and alluxio-fuse docker image. The item left is integrate CSI docker file into alluxio docker file https://github.com/Alluxio/alluxio/blob/master/integration/csi/Dockerfile
@ssz1997 We can work on integrating CSI into Alluxio docker file later

[2021-07-08 17:47] peterroelants commented on #13699
I didn't know about `docker`, I'll look into that to ensure my setup is correct in the meantime. Thanks!

[2021-07-08 18:47] ggezer commented on #10429
@qian0817 The logs you shared are many days apart and are not consistent in their `pin_on_create` setting. So it seems we're looking at different issues here. Please share complete logs along with configuration and the test description for us to be able to look at it.

[2021-07-08 21:00] LuQQiu opened #14969 "Change from AtomicLong to LongAdder"
LongAdder has much better performance than AtomicLong in the following cases:
1. when updates from multiple threads are more common than reads.
2. when capturing statistical data, e.g. you want to count the number of requests served on a web server.

In our code base, we use AtomicLong in multiple cases. Some places are perfect to use AtomicLong (e.g. AlluxioJNIFuseFileSystem, when we need to upda

[2021-07-08 21:21] LuQQiu opened #13766 "Worker Fuse should support internal read when cache miss"
**Alluxio Version:**
Master Alluxio 2.6

**Describe the bug**
When a block is cached in the local Alluxio worker and fuse is launched in the worker process, fuse read can go through worker internal read mechanism without grpc.
However, when the block is not cached in any of the Alluxio workers, even when we assign the local worker to be the worker to read from UFS and do the cache job, we still go

[2021-07-09 02:27] qian0817 commented on #10429
The log where the isssue originally appeared is here.
[worker.log](https://github.com/Alluxio/alluxio/files/6788266/worker.log)
and my configuration is
[code]

[2021-07-09 17:19] ggezer commented on #10429
At this point It's not clear why blocks are not selected for eviction/transfer.
Can you add below line to worker's log4j file and try to get a repro?

log4j.logger.alluxio.worker.block.BlockMetadataEvictorView=DEBUG

[2021-07-10 03:48] jiacheliu3 commented on #13677
Some additional info:
`io.netty.leakDetection.level=advanced` will sample 1% of the ByteBuf and check if they are unreleased
`io.netty.leakDetection.level=paranoid` will sample 100% of the ByteBuf and therefore should be used when you are trying to reproduce the leak message.

[2021-07-10 05:33] qian0817 commented on #10429
@ggezer
I can't restart it easily because it's an online environment. but i find
[code]
I think [there](https://github.com/Alluxio/alluxio/blob/55cc3b70278672ca0768634c9d1439350faa7cf5/core/server/worker/src/main/java/alluxio/worker/block/management/BlockTransferExecutor.java#L141) is a concurrency exception.

[2021-07-10 16:48] apc999 commented on #13746
more info https://pipelines.actions.githubusercontent.com/110HvfICxw4TXSOnsd72jk32naeMsNgZF0xPcAxH5PwqdiBHUN/_apis/pipelines/1/runs/25506/signedlogcontent/4?urlExpires=2021-07-10T16%3A46%3A55.4529457Z&urlSigningMethod=HMACV1&urlSignature=t7zS2lro60IekQVYejJGj8LpsU5ZOwRrHYG8%2BalPjdI%3D

[code]

[2021-07-10 16:49] apc999 commented on #13746
@ggezer  this unit test is really flaky. Can you take a look?

[2021-07-10 16:51] #13742 closed

[2021-07-10 20:54] apc999 opened #13770 "Excessive error message on "An illegal reflective access operation has occurred""
**Alluxio Version:**
2.7.0-SNAPSHOT

**Describe the bug**

[code]

**To Reproduce**
Running tests on CI

**Expected behavior**
These warning messages removed

**Urgency**
Low

**Additional context**
e.g., https://github.com/Alluxio/alluxio/pull/13665/checks?check_run_id=3036734716

[2021-07-11 14:10] shenghui361 opened #13771 "create worker process timeout"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
when the worker contains more than 5 million blocks, the startup process fails due to timeout

A clear and concise description of what the bug is.
2021-05-18 16:47:07,006 INFO  ConnectionStateManager - State change: CONNECTED
2021-05-18 16:47:07,134 INFO  NettyUtils - EPOLL_MODE is available
2021-05-18 16:47:07,579 I

[2021-07-12 07:16] maobaolong opened #13773 "Add a balancer tools to balance data between workers"
**Is your feature request related to a problem? Please describe.**

After new workers join to exist alluxio cluster after several month from alluxio cluster started, the new worker will have less data and related io work load, but the exist workers are busy as it was, so we need a balance tool to transfer data from exist data to new worker.

**Describe the solution you'd like**

Add a balancer too

[2021-07-12 08:23] maobaolong commented on #13758
@apc999 Please take a look at this design docs.

[2021-07-12 13:09] kuszz commented on #13495
It seems no need to add new switch, so close this issue, sorry

[2021-07-12 13:09] #13495 closed

[2021-07-12 19:07] apc999 commented on #13758
@ggezer  and @jiacheliu3  will be the owner of this functionality and review your design doc.
I will chime in too.

Thanks for the improvement!

[2021-07-12 22:46] #13726 closed

[2021-07-13 00:59] #13746 closed

[2021-07-13 01:18] #13505 closed

[2021-07-13 01:56] LuQQiu commented on #13758
From @apc999, worker send RPC to master to unregister worker, and master remove this worker from structures (will not assign this worker to fulfill client requests)

or From @maobaolong , master send RPC to worker to shutdown them

[2021-07-13 03:07] Binyang2014 opened #13782 "Enhance CSI - add pathType field in storage class."
Currently,  alluxio CSI will only mount directory if it present in alluxio namespace.
Add pathType to dynamic create directory if it is not present.

The valid pathType can be: `DirectoryOrCreate`, `Directory`. `Directory` is the default value.

If we use `DirectoryOrCreate` as the path type,  if the directory is not present in alluxio namespace, CSI server plugin will create it automatically.

If

[2021-07-13 03:08] Binyang2014 commented on #13782
@maobaolong @apc999 @LuQQiu Please help to take a look

[2021-07-13 14:40] maobaolong commented on #13782
@Binyang2014 This is the feature what I really want to use.

[2021-07-13 17:22] tonychen2001 opened #13784 "Alluxio on k8s | Worker Pod terminates when cache is used up"
**Alluxio Version:**
What version of Alluxio are you using?
2.6.0

**Describe the bug**
A clear and concise description of what the bug is.
When the cache capacity reaches around 99%, the worker pod terminates after a few minutes. Since I am using an emptyDir volume in this environment, this also means that the entire cache is lost when this happens. This will keep happening over and over again ev

[2021-07-13 18:59] ggezer commented on #13699
For elasticity, I'd prefer workers to start in the face of individual disk failures.
However, we might be more verbose and loud about such failures via logging/webUI warning etc.

[2021-07-13 21:34] LuQQiu commented on #13782
This is a pretty useful feature! LGTM FYI @ssz1997

[2021-07-14 00:39] yuzhu commented on #13410
@LuQQiu  are you still observing this behavior with the latest master? I think this might have been addressed with one of the recent fixes to distributed load.
https://github.com/Alluxio/alluxio/pull/13466

[2021-07-14 00:43] yuzhu commented on #13211
@JySongWithZhangCe hi, are you still seeing this behavior?

[2021-07-14 00:51] yuzhu commented on #12885
@shaoxiong2019 ping? if you have more information, please share with us. thanks.

[2021-07-14 03:25] maobaolong opened #13785 "Alluxio CSI cannot works from helm-generate.sh"
**Alluxio Version:**

Master

**Describe the bug**

yaml files parse fail.

error validating "/Users/mbl/projects/tencent/AlluxioOnKubernetes/multiMaster-embeddedJournal/csi/alluxio-csi-nodeplugin.yaml": error validating data: ValidationError(DaemonSet.spec.template.spec.containers[1].envFrom[0]): unknown field "name" in io.k8s.api.core.v1.EnvFromSource; if you choose to ignore these errors, turn

[2021-07-14 03:51] #13677 closed

[2021-07-14 05:43] qian0817 opened #13787 "Alluxio worker exit without reason"
**Alluxio Version:**
2.4.1

**Describe the bug**
Alluxio worker process exit and I can't find associated exception by looking at the logs.

**To Reproduce**

**Expected behavior**
worker not exit.

**Urgency**
urgency.

**Additional context**
[worker.log](https://github.com/Alluxio/alluxio/files/6813352/worker.log)

[2021-07-14 06:50] jingcheng88 opened #13789 "Fuse mount to local hostpath with wrong permission"
**Alluxio Version:**
Alluxio 2.6

**Describe the bug**
Fuse-client pod can not access fuse mountpoint in kubernetes enviroment.

Fuse Pod
[code]
host path
[code]

[2021-07-14 07:55] #13724 closed

[2021-07-14 09:26] jingcheng88 commented on #13789
kubelet: I0714 factory.go:170] Factory "systemd" can handle container "/system.slice/sys-fs-fuse-connections.mount", but ignoring.

[2021-07-14 22:21] ggezer commented on #10429
@qian0817 At peak capacity, it's possible swaps will fail. Then swap-restore task will activate and will defragment tier spaces. However, in your case swap-restore task is also failing due to bug I just fixed. However, It's still unknown why all your blocks are locked in.

If you can't restart your environment, you can still use Alluxio's `setLogLevel` command to enable these logs on workers.
http

[2021-07-14 22:23] ggezer commented on #10429
[code]

[2021-07-15 01:59] jingcheng88 commented on #13789
[code]

[2021-07-15 01:59] #13789 closed

[2021-07-15 05:45] #13785 closed

[2021-07-15 10:55] kuszz opened #13796 "A bug or some dead code in InodeSyncStream.java?"
**Alluxio Version:**
lastest master branch

**Describe the bug**
The 607-621 line in InodeSyncStream.java
[code]
The builder is not used after setOwner() and setGroup(), and renew a builder in SetAttributeContext.mergeFrom().

**Urgency**
normal

[2021-07-15 16:03] yuzhu commented on #13796
@kuszz thanks for reporting this. Yeah this looks like a bug.

@ggezer FYI.

[2021-07-16 04:35] #13186 closed

[2021-07-16 09:24] jingcheng88 opened #13804 "Proxy do not connect to worker in the same pods."
**Alluxio Version:**
2.6.0

**Describe the bug**
Proxy and worker in the same Pod or same Node. But proxy always connect to another worker. So domain socket and loadbalance will not work.

[2021-07-16 18:24] apc999 commented on #13804
@jingcheng88  Thanks for reporting this issue. do you have `proxy.log` that you can share?
Also, this might be the case when the proxy and worker do not use the same host-name or IP (as they belong to different Pods).

[2021-07-16 19:11] apc999 commented on #13804
Can you check documentation here: note that Proxy is simply a long-running Alluxio client here
https://docs.alluxio.io/os/user/stable/en/deploy/Running-Alluxio-On-Kubernetes.html#enable-short-circuit-access

[2021-07-16 20:57] LuQQiu commented on #13784
@jiacheliu3 PTAL, thanks
Looks like it is related to use EmptyDir volume as the Alluxio storage?

[2021-07-16 21:23] tonychen2001 commented on #13784
This problem is solved.
The helm chart sets the sizeLimit on the emptyDir volume to the same value as the cache capacity for Alluxio.
I guess what happened is that Alluxio would use a bit more disk space than the specified capacity and from https://github.com/kubernetes/kubernetes/issues/63126#issuecomment-387817170 , K8s saw this and evicted the worker pod. This would explain why the worker pod k

[2021-07-17 03:26] jingcheng88 opened #13808 "Worker sync data from anthor worker use wrong hostname."
**Alluxio Version:**
2.6.0

**Describe the bug**
Worker regiser to master with coantianerHost.
`
DefaultBlockMaster - registerWorker(): MasterWorkerInfo{id=5004178126731993531, workerAddress=WorkerNetAddress{host=x.x.x.x, containerHost=172.22.xx.x, rpcPort=29999, dataPort=29999, webPort=30000, domainSocketPath=/opt/domain/049f863e-727e-4a00-b296-54721cda36e4, tieredIdentity=TieredIdentity(node=x.x

[2021-07-17 03:43] jingcheng88 commented on #13804
@apc999
The  configuration  is right. May be It's caused by issue #13808

[2021-07-17 04:06] jiacheliu3 commented on #13784
@tonychen2001 See if https://github.com/Alluxio/alluxio/issues/12277 is why Alluxio is using more disk space than you configured?

[2021-07-19 03:55] adol001 opened #13814 "RaftJournalTest can't pass"
**Alluxio Version:**
2.6.0

**Describe the bug**
Running alluxio.master.journal.raft.RaftJournalTest
2021-07-19 11:44:22,913 [AsyncJournalWriterThread] WARN  journal.AsyncJournalWriter (SamplingLogger.java:warn) - Failed to flush journal entry: Timed out after waiting 30000 milliseconds for journal entries to be processed
java.io.IOException: Timed out after waiting 30000 milliseconds for journal

[2021-07-19 07:45] allenhaozi commented on #13669
Is there any update ?

[2021-07-19 17:38] apc999 opened #13816 "Flaky tests in FileInStreamIntegrationTest and FileInStreamIntegrationTest"
**Alluxio Version:**
2.7.0-SNAPSHOT

**Describe the bug**
[code]

detailed test log

[code]

https://pipelines.actions.githubusercontent.com/110HvfICxw4TXSOnsd72jk32naeMsNgZF0xPcAxH5PwqdiBHUN/_apis/pipelines/1/runs/26314/signedlogcontent/6?urlExpires=2021-07-19T17%3A35%3A02.9267865Z&urlSigningMethod=HMACV1&urlSignature=F35JCdr9jVmZOJ%2BoIF0lOzg4Pk7ipOLKJTmzMBW5yv0%3D

**To Reproduce**

**Expected

[2021-07-19 19:04] LuQQiu commented on #13804
Similar to https://github.com/Alluxio/alluxio/issues/13808

[2021-07-19 20:15] BlueStalker opened #13818 "Local Cache Whitelisting and Filtering"
**Is your feature request related to a problem? Please describe.**
Given a limited total Cap of Alluxio local cache per node, there is a need for only caching a specific set of tables with a specific set of partitions, based on the actual client requirement/config.

**Describe the solution you'd like**
The proposal would be adding another interface to determine whether needs to cache the file/spli

[2021-07-19 20:35] BlueStalker opened #13819 "Table Level Cache TTL (Metadata) support"
**Is your feature request related to a problem? Please describe.**
As mentioned in https://github.com/Alluxio/alluxio/issues/13818, we want to use the cache efficiently, Consider each Table,  only part of the data need to be cached (EG, latest X partitions, files updated in last Y days, ), and for the existing cache, there also need a mechanism to invalidate (evict) cache automatically based on ab

[2021-07-20 03:41] maobaolong opened #13822 "Fatal error: Unexpected journal entry"
**Alluxio Version:**
master branch.

**Describe the bug**

I found fatal error from alluxio-master-0, and several time kill alluxio-master-1 and alluxio-master-2, alluxio-master-0 cannot be leader master.

I got two master.log from  `alluxio-master-0` and  `alluxio-master-2` while the current leader master is  `alluxio-master-1`

- `alluxio-master-0`

[code]

- alluxio-master-2

[code]

**To Repro

[2021-07-20 07:15] maobaolong opened #13824 "LocalCache met IndexOutOfBoundsException when read file"
**Alluxio Version:**
Master branch

commit hash 6f8c5d26

**Describe the bug**

# cat /data/wangzhe/mbl/testa12.txt
cat: /data/wangzhe/mbl/testa12.txt: Input/output error

- Fuse.log

[code]

**To Reproduce**

Using the following config to start Alluxio fuse and read the file contents of alluxio fs

[code]

[code]

**Expected behavior**

Output the file contents

**Urgency**

Urgent

**Additional

[2021-07-20 07:17] maobaolong commented on #13824
I guess the issue is broke by #13406 , please take a look @neuyilan

[2021-07-20 10:00] neuyilan commented on #13824
Thanks for pointing it out, I'll take a look.

[2021-07-20 13:15] maobaolong commented on #13824
@neuyilan Thanks for the quick response!

[2021-07-20 13:20] maobaolong opened #13826 "Metric Cluster.ActiveRpcWriteCount displayed -1"
**Alluxio Version:**

Master

**Describe the bug**

I got the negative value of metric Cluster.ActiveRpcWriteCount, guess there are some exception or unexpected break.

**To Reproduce**

Not sure.

**Expected behavior**

Display the Cluster.ActiveRpcWriteCount  state correctly.

**Urgency**
Normal

**Additional context**
No

[2021-07-21 00:09] maobaolong opened #13828 "Async cache met ArrayOutOfBoundException while pos at the end of 1GB file"
**Alluxio Version:**
release-2.6.0

![image](https://user-images.githubusercontent.com/17329931/126410354-413406c5-04d7-4e34-8bbe-e068fb88b3d9.png)

**To Reproduce**

Read a 1GB file with async cache

**Expected behavior**

The file content is cached with no error

**Urgency**
High

**Additional context**
No

[2021-07-21 02:27] jingcheng88 commented on #13808
Same with #13825

[2021-07-21 02:27] #13808 closed

[2021-07-21 17:20] #13796 closed

[2021-07-21 19:23] apc999 commented on #13804
looks similar to https://github.com/Alluxio/alluxio/pull/13825/

[2021-07-21 19:25] apc999 commented on #13784
thanks @tonychen2001  for updating the solution.

[2021-07-21 19:25] #13784 closed

[2021-07-21 20:53] #13739 closed

[2021-07-22 02:42] jingcheng88 opened #13833 "It's slow to read from Aliyun OSS to a worker when reading data for the first time."
**Alluxio Version:**
2.6.0

**Describe the bug**
Download file size: 1.6G

Download file directly from OSS: About 25s

Download from Alluxio without cache:  Abount 135S

Download from Alluxio with cache: Abount 9S

[2021-07-22 02:57] LuQQiu commented on #13826
https://github.com/Alluxio/alluxio/pull/13834 for some RPCCounter metrics syntax fix, but is not related to solving this issue.
@ZhuTopher this error could come from a miscalculation of the RPC values?
e.g.
[code]

[2021-07-22 06:43] langlaile1221 commented on #13828
1. The cluster is a single master, multiple workers
2. The writing method is CACHE_THROUGH,
3. The reading method is cache,
4. The default block size is 64 MB
5. Execute the command: hdfs dfs -copyToLocal alluxio://hostname:port/1G file
6. Alluxio server 2.6.0, client 2.0.1

[2021-07-22 06:59] apc999 commented on #13828
[code]

[2021-07-22 08:07] langlaile1221 commented on #13828
Are you sure whether to go to triggerAsyncCaching?
![image](https://user-images.githubusercontent.com/35354527/126607725-fbd0ff1a-21dc-4b9a-858a-f21b7521e13f.png)

[2021-07-22 18:42] apc999 commented on #13828
I am able to repro the issue:
[code]

[2021-07-23 13:20] maobaolong commented on #13826
@LuQQiu Thanks for your input.

[2021-07-23 13:35] maobaolong opened #13838 "TotalBlocks metric is negative"
**Alluxio Version:**
master branch

commit hash 6f8c5d2

**Describe the bug**

After less than an hour running, the totalBlocks metric displayed a negative value.

**To Reproduce**

Not sure it can repro exactly.

**Expected behavior**

A right count of total block

**Urgency**

Normal

**Additional context**

No

[2021-07-23 13:41] maobaolong opened #13840 "Non Leader master should also start web server"
**Is your feature request related to a problem? Please describe.**

- When ha didn't work as expected, or the leader didn't transfer to a new master, there are no leader that time, so we want to the the stacks from web page.

- We want to scrap the metrics of non-leader masters by prometheus, to monitor the gc, heap, and some other metrics of it.

**Describe the solution you'd like**

Start the we

[2021-07-23 13:53] maobaolong opened #13841 "Master ui worker tab display containerHost"
**Is your feature request related to a problem? Please describe.**

In kubernetes scenario, workers running in container belong to a pod, we cannot identify the worker which have the same hostname(pod name)

![image](https://user-images.githubusercontent.com/17329931/126817661-b4bfb0f8-c4c7-4e37-aa30-e3aed7bea2a0.png)

**Describe the solution you'd like**

display the container hostname if it conf

[2021-07-23 13:59] maobaolong opened #13842 "Journal replay error: NoSuchElementException: No value present"
**Alluxio Version:**
Master branch

commit hash 6f8c5d2

**Describe the bug**

All masters logs shown like the following and no one become to leader, no any vote related log.

[code]

**To Reproduce**

Switch leader by kill leader master pod while master use emptydir as a journal persistent volume.

**Expected behavior**

Everything running as expected.

**Urgency**
Urgent.

**Additional context**

[2021-07-23 17:44] maobaolong opened #13843 "Cannot run alluxio-csi successfully from alluxio-csi yaml generated by helm-generated.sh"
**Alluxio Version:**
master 27f81a97

**Describe the bug**

Cannot run alluxio-csi successfully from alluxio-csi yaml generated by helm-generated.sh or through the README.md

**To Reproduce**

[code]

The `/data` cannot see the alluxio filesystem. After some carefully deep in the source code, I think it lack of `alluxio.master.hostname` `VolumeContext` here.

**Expected behavior**

Alluxio fuse ca

[2021-07-23 19:04] apc999 commented on #13833
too few information is available here
Can you provide us more details?
e.g., how to reproduce your tests

[2021-07-23 23:39] ZhuTopher commented on #13826
Yeah that's definitely possible that the decrement occurs more than once. I looked into it with @ggezer when I added them to try and avoid them getting decremented more than once per-RPC but wasn't able to test it too thoroughly. Thanks for making this issue!

[2021-07-24 06:42] apc999 commented on #13050
same issue of https://github.com/Alluxio/alluxio/issues/13828
this should be addressed by https://github.com/Alluxio/alluxio/pull/13845

[2021-07-24 08:54] neuyilan commented on #13824
Hi @maobaolong , I did a lot of tests locally according to your steps. There were different file sizes and local cache sizes, but they were not reproduced. However, through the code review, a possible bug is indeed found. I have submitted a pr. if possible, please reproduce your issue based on this PR to see if it has been solved.
Thanks.

https://github.com/Alluxio/alluxio/pull/13849

[2021-07-24 12:24] maobaolong commented on #13843
@Binyang2014 Would you please have a try alluxio-csi in your test k8s cluster? I think newbies like me cannot easy to use alluxio-csi in their production.

[2021-07-26 02:10] Binyang2014 commented on #13843
@maobaolong, Can you provide your config? How do you deploy alluxio-master, do you deploy the master-service? It seems caused by DNS issue. Please make sure the master service is deployed and your core-dns works fine. It's better to provide yaml config.

BTW, we did have some bugs and fixed in this PR: https://github.com/Alluxio/alluxio/pull/13813. I tested this PR in my test bed and it works.

[2021-07-26 02:27] maobaolong commented on #13843
@Binyang2014 Thanks for the reply, it really helps. I change the master_ips to ip addresses, it can work in my env now.

And how about the other issues mentioned in the description of this issue?

- `Invalid property key ALLUXIO_CLIENT_HOSTNAME`. Maybe csi-nodeplugin would need to generated alluxio-env.sh like Alluxio entrypoint.sh does.
- DNS issue. Use hostNetwork
- Displayed the pv and pvc is s

[2021-07-26 02:44] Binyang2014 commented on #13843
1. For `ALLUXIO_CLIENT_HOSTNAME`, can you provide your alluxio-config, I don't meet this issue in my env, need to check to config to find the root cause.
2. For dns issue, add `dnsPolicy: ClusterFirstWithHostNet` will solve this.
3. For pv/pvc issue. It seems due to we mixed the  static and dynamic provision methods. Please make sure you not deployed pv.yaml and pvc-static.yaml under csi folder. W

[2021-07-26 18:22] apc999 commented on #13260
This feature is implemented and will be included in v2.6.1
Thanks @sunnyszy for the contribution!

[2021-07-26 18:22] #13260 closed

[2021-07-26 23:57] maobaolong commented on #13843
@Binyang2014
1. This is my alluxio-config, I have to use ALLUXIO_CLIENT_HOSTNAME, because our fuse are deploy to the same node with Alluxio worker, this env var can ensure short-circuit work.

[code]

2. Thanks for add it to this PR.
3. Yeah, I have a double check, and make sure I don't start pvc-static and pv. and start nginx-example pod successfully, eventually, I see a empty directory `/data` i

[2021-07-27 02:06] LuQQiu commented on #13838
@yuzhu PTAL, thanks!

[2021-07-27 02:14] jingcheng88 commented on #13833
I use Python S3 client(boto) to download files from Alluxio proxy. It's very slow at the first time. The UFS is aliyun OSS.

[2021-07-28 09:01] qian0817 opened #13863 "Load command not work"
**Alluxio Version:**
2.6.0

**Describe the bug**
The load command sometimes does not load file metadata from the under file system.

**To Reproduce**
[code]
**Expected behavior**
The load command can successfully load file metadata from the under file system.

**Urgency**
middle.

**Additional context**

[2021-07-28 19:03] apc999 commented on #13833
Python S3 client is not actively maintained today.
Can you try using Alluxio Java client or CLIs and measure the speed?

[2021-07-28 20:26] yuzhu commented on #13863
@qian0817 Just to clarify, load command does not load file metadata, it loads the data into alluxio.
If you want to load metadata, you want to use `./bin/alluxio fs ls -R -Dalluxio.user.file.metadata.sync.interval=0 /path/to/sync
`

[2021-07-29 00:59] sg-c opened #13865 "None of bytesRead* metrics goes up when Alluxio FUSE can successfully read data"
**Alluxio Version:**
2.6.0-RC2

**Describe the bug**
None of following metrics go up when Alluxio FUSE can successfully read data.
"Cluster.BytesReadDirectThroughput": {
"value": 0
},
"Cluster.BytesReadDomainThroughput": {
"value": 0
},
"Cluster.BytesReadLocalThroughput": {
"value": 0
},
"Cluster.BytesReadRemoteThroughput": {
"value": 0
},
"Cluster.BytesReadUfsThroughput": {
"value": 161781413 # a

[2021-07-29 01:45] #13863 closed

[2021-07-29 03:42] jingcheng88 commented on #13833
@apc999 Do you mean alluxio proxy  is not actively maintained? I think python s3 client just send a request to alluxio proxy. Then   proxy fetch files from alluxio worker as a alluxio client.
I have tried use fuse client. It is also slow at the first time but faster than proxy.

[2021-07-29 14:49] qian0817 opened #13867 "Cannot use mapreduce under HA mode"
**Alluxio Version:**

2.6.0

**Describe the bug**

I read the [documentation](https://docs.alluxio.io/os/user/stable/en/compute/Hadoop-MapReduce.html), but it not work when set `fs.defaultFS`  under HA mode. I have tried many ways of writing but none of them work.

**To Reproduce**

I create a [minimal reproduction repository](https://github.com/qian0817/alluxio-ha-mapreduce), just run:
[code]

**

[2021-07-30 07:02] uniqueZt opened #13872 "ttl"
**Alluxio Version:**
What version of Alluxio are you using?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Urgency**
Describe the impact and urgency of the bug.

**Additional context**
Add any

[2021-07-30 18:58] beinan commented on #13872
@uniqueZt could you provide more information about this bug? which config file are you using for this TTL?

[2021-08-01 02:35] Binyang2014 opened #13874 "Windows support for Alluxio"
Make alluxio support windows sever.
I did some investigation. Most of part works well. Except some filesystem issues.
1. Alluxio use `Files.setPosixFilePermissions` to change file permission. This method doesn't work in Windows, need to change to another method.
2. In `LocalFileBlockWriter.java` Alluxio use `RandomAccessFile` for short circuit. By this method, when file is open, we can not delete/

[2021-08-02 02:25] uniqueZt commented on #13872
@beinan when a file was create at time = 0 with ttl = 10 , it should expire at time = 10  but when i reset the file at time = 5 with ttl = 10， i think it should expire at time = 15 ， but it expire still at time = 10  cause ttlEndtime = creationTime + ttlTime

[2021-08-02 02:29] uniqueZt commented on #13872
![image](https://user-images.githubusercontent.com/42279207/127796669-00868542-84cf-4a6a-9fb4-1a520e0d0ac2.png)

[2021-08-02 02:34] uniqueZt commented on #13872
https://github.com/Alluxio/alluxio/blob/branch-2.6/core/server/master/src/main/java/alluxio/master/file/meta/TtlBucketList.java
![image](https://user-images.githubusercontent.com/42279207/127797054-507eb313-18cb-456c-a07e-fd367f529819.png)

[2021-08-02 03:07] xpleaf opened #13877 "Failed to upgrade Alluxio 1.8.2 to Alluxio 2.6.0: Chunk [TYPE:FILE] is not a valid entry"
**Alluxio Version:**
2.6.0

**Describe the bug**
When I upgrade Alluxio according to the [official upgrade document](https://docs.alluxio.io/ee/user/stable/en/operation/Upgrade.html), the following exception is reported when I access the file:

[code]

View Alluxio logs. The details are as follows:

[code]

**To Reproduce**
Steps to reproduce the behavior (as minimally and precisely as possible)

[2021-08-02 14:06] maobaolong opened #13878 "Job master cannot work after high concurrency request"
**Alluxio Version:**

Master branch, hash is 6469555115

**Describe the bug**

Lots of log in the `job_master.log` like this

[code]

**To Reproduce**

We have 1000 alluxio-fuse to support client side read, keep any configurations as default, we see 85 replicas while we set replication.max to 3, and ReplicationChecker will found the blocks over replicated and send evict command to job master.

Job

[2021-08-02 14:36] yuzhu commented on #13878
this is a known issue and was fixed by https://github.com/Alluxio/alluxio/pull/13859, please update with that patch.

[2021-08-02 14:48] maobaolong commented on #13878
@yuzhu I'm very excited to hear this good news, thank you to let me know this, will update our branch.